#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Mage_of_Air
    name= _ "Aeromancer"
    race=human
    image="units/skykingdom-elementalists/mage-of-air2.png"

    hitpoints=39
    movement_type=fly
    movement=7
    experience=84
    level=2
    alignment=neutral
    advances_to=EoMa_Master_of_Air
    cost=34
    usage=scout
    undead_variation=elementalist
    description= _ "Air Magi are widely known for their extraordinary agility, but are rather frail due to their lack of armor. However, they are capable of easily pushing arrows and even spears slightly off course by gales created around themselves, mitigating most pierce damage. Such magi are usually used as scouts and messengers."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_EOMA_HITANDRUN 1}
    [/abilities]
    [defense]
        deep_water=40
        shallow_water=40
        reef=40
        swamp_water=40
        flat=40
        sand=40
        forest=40
        hills=40
        mountains=40
        village=40
        castle=40
        frozen=40
        unwalkable=40
        cave=50
        fungus=50
    [/defense]
    [resistance]
        pierce=60
        blade=90
        arcane=70
        fire=90
        cold=90
    [/resistance]
    {LEVITATE3_ANIM units/skykingdom-elementalists/mage-of-air 150}
    {LEVITATE3_ANIM_FILTERED units/skykingdom-elementalists/mage-of-air-ns 150 (terrain_type=Q*^*,Mv^*)}
    [idle_anim]
        start_time=0
        [frame]
            image="units/skykingdom-elementalists/mage-of-air-defend[1~3].png:150"
        [/frame]
    [/idle_anim]
    [idle_anim]
        start_time=0
        [frame]
            image="units/skykingdom-elementalists/mage-of-air-magic[1-1,1-2,1-3,2-1,2-2,2-3].png:150"
        [/frame]
    [/idle_anim]
    [idle_anim]
        terrain_type=Q*^*,Mv^*
        start_time=0
        [frame]
            image="units/skykingdom-elementalists/mage-of-air-defend-ns[1~3].png:150"
        [/frame]
    [/idle_anim]
    [idle_anim]
        terrain_type=Q*^*,Mv^*
        start_time=0
        [frame]
            image="units/skykingdom-elementalists/mage-of-air-magic[1-ns1,1-ns2,1-ns3,2-ns1,2-ns2,2-ns3].png:150"
        [/frame]
    [/idle_anim]
    {SKY_GENERIC_DEFENSE_ANIM units/skykingdom-elementalists/mage-of-air2 units/skykingdom-elementalists/mage-of-air-defend1 units/skykingdom-elementalists/mage-of-air-defend2 units/skykingdom-elementalists/mage-of-air-defend3 units/skykingdom-elementalists/mage-of-air2 miss}
    {SKY_GENERIC_DEFENSE_ANIM_FILTERED units/skykingdom-elementalists/mage-of-air-ns2 units/skykingdom-elementalists/mage-of-air-defend-ns1 units/skykingdom-elementalists/mage-of-air-defend-ns2 units/skykingdom-elementalists/mage-of-air-defend-ns3 units/skykingdom-elementalists/mage-of-air-ns2 miss (terrain_type=Q*^*,Mv^*)}
    [attack]
        name=gust
        description=_"wind gust"
        icon=attacks/hurricane.png
        type=impact
        range=melee
        damage=10
        number=1
    [/attack]
    [attack]
        name=sparks
        description=_"sparks"
        icon=attacks/sparks.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=3
        number=7
    [/attack]
    [attack]
        name=small thunder
        description=_"small lightning"
        icon=attacks/short-circuit.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=7
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=gust
        [/filter_attack]
        start_time=-250
        attack_sound_start_time=-100
        [if]
            hits=no
            [frame]
                image="units/skykingdom-elementalists/mage-of-air[2,-defend1,-defend2,-defend3,2].png:[50,100,200,50*2]"
            [/frame]
            [attack_sound_frame]
                sound=gust.wav
            [/attack_sound_frame]
        [/if]
        [else]
            hits=yes
            missile2_start_time=-100
            [frame]
                image="units/skykingdom-elementalists/mage-of-air[2,-defend1,-defend2,-defend3,2].png:[50,100,200,50*2]"
            [/frame]
            [missile2_frame]
                duration=320
                offset=1.0
                image="halo/elven/druid-healing[1~8].png:40"
                image_mod=~GS()~CS(20,20,20)
                alpha=0.8:240,0.8~0:80
                layer=80
                auto_vflip=no
                sound=magic-faeriefire.ogg
            [/missile2_frame]
            [attack_sound_frame]
                sound=gust.wav
            [/attack_sound_frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=gust
        [/filter_attack]
        terrain_type=Q*^*,Mv^*
        start_time=-250
        attack_sound_start_time=-100
        [if]
            hits=no
            [frame]
                image="units/skykingdom-elementalists/mage-of-air[-ns2,-defend-ns1,-defend-ns2,-defend-ns3,-ns2].png:[50,100,200,50*2]"
            [/frame]
            [attack_sound_frame]
                sound=gust.wav
            [/attack_sound_frame]
        [/if]
        [else]
            hits=yes
            missile2_start_time=-100
            [frame]
                image="units/skykingdom-elementalists/mage-of-air[-ns2,-defend-ns1,-defend-ns2,-defend-ns3,-ns2].png:[50,100,200,50*2]"
            [/frame]
            [missile2_frame]
                duration=320
                offset=1.0
                image="halo/elven/druid-healing[1~8].png:40"
                image_mod=~GS()~CS(20,20,20)
                alpha=0.8:240,0.8~0:80
                layer=80
                auto_vflip=no
                sound=magic-faeriefire.ogg
            [/missile2_frame]
            [attack_sound_frame]
                sound=gust.wav
            [/attack_sound_frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=small thunder
        [/filter_attack]
        missile_start_time=-800
        [missile_frame]
            halo=halo/small-lightning[1~8,7,8,7,8,5,3~1].png:[100*6,75*10]
            halo_x,halo_y=0,-36
            offset=1.0
            auto_vflip=no
        [/missile_frame]
        [if]
            hits=yes

            [ball_frame]
                duration=550
                image=projectiles/zmage-halo[1~5,4~1,2~5].png~GS()~BLEND(0,128,255,0.4)~CS(0,128,255)
                layer=99
                x,y=2,-2
                alpha=0~0.75:75,0.6:325,0.6~0:150
                offset=1
            [/ball_frame]
            ball_start_time=-300
            missile2_start_time=-300
            missile3_start_time=-300
            [missile2_frame]
                duration=600
                halo="halo/undead/idle-flash-[1~21].png"
                halo_mod=~GS()~G(128)~B(255)
                halo_x=-12
                offset=1.0
            [/missile2_frame]
            [missile3_frame]
                duration=600
                halo="halo/undead/idle-flash-[1~21].png~FL(horiz)~FL(vert)"
                halo_mod=~GS()~G(128)~B(255)
                halo_x=12
                offset=1.0
            [/missile3_frame]
        [/if]
        start_time=-800
        [if]
            terrain_type=Q*^*,Mv^*
            [frame]
                image="units/skykingdom-elementalists/mage-of-air-magic[1-ns1,1-ns2,1-ns3,2-ns1,2-ns2,2-ns3,1-ns1,1-ns2,1-ns2].png:[200*3,150*3,100*3]"
            [/frame]
        [/if]
        [else]
            [frame]
                image="units/skykingdom-elementalists/mage-of-air-magic[1-1,1-2,1-3,2-1,2-2,2-3,1-1,1-2,1-2].png:[200*3,150*3,100*3]"
            [/frame]
        [/else]
        attack_sound_start_time=-200
        [attack_sound_frame]
            sound=lightning.ogg
        [/attack_sound_frame]
    [/attack_anim]
    {SKY_AIR_SPARKS_ANIM mage-of-air-magic1-1 mage-of-air-magic1-2 mage-of-air-magic1-1 mage-of-air-magic1-ns1 mage-of-air-magic1-ns2 mage-of-air-magic1-ns1 1}
    {SKY_AIR_SPARKS_ANIM mage-of-air-magic1-1 mage-of-air-magic1-2 mage-of-air-magic1-1 mage-of-air-magic1-ns1 mage-of-air-magic1-ns2 mage-of-air-magic1-ns1 2}
    {SKY_AIR_SPARKS_ANIM mage-of-air-magic1-1 mage-of-air-magic1-2 mage-of-air-magic1-1 mage-of-air-magic1-ns1 mage-of-air-magic1-ns2 mage-of-air-magic1-ns1 3}
[/unit_type]
