#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Mage_of_Air
    [/base_unit]
    id=EoMa_Mage_of_Air_rpg
    advances_to=EoMa_Master_of_Air_rpg
	[abilities]
		{ABILITY_EOMA_HITANDRUN_RPG}
	[/abilities]
    [attack]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
        number=6
    [/attack]
[/unit_type]
