#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Architect
    [/base_unit]
    id=EoMa_Architect_rpg
	[abilities]
		[dummy]
			id=eoma_statuecopy
			name=""
			description=""
		[/dummy]
    [/abilities]
    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        ## name=gaze
        ## description= _ "petrifyng spell"
        ## type=cold
        [specials]
            {WEAPON_SPECIAL_EOMA_SCULPT_RPG}
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_DISABLE_IN_RPG}
        [/specials]
        ## damage=2
        ## number=2
        ## range=ranged
        ## icon=attacks/sculpt.png
    [/attack]
[/unit_type]
