#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Battle_Eye
    name= _ "Battle Eye"
    race=mechanical
    image="units/skykingdom-warriors/be-1.png"
    ellipse="misc/ellipse"
    hitpoints=28
    movement_type=fly
    movement=8
    experience=60
    level=1
    alignment=neutral
    advances_to=EoMa_Cosmic_Eye
    cost=21
    usage=scout
    description= _ "Battle Eyes are an upgraded version of the Magical Eyes, specifically designed for combat, not just scouting. They have sharp, spinning steel rings around their shell, which act both as a weapon, and a shield."
    die_sound=silence.ogg
    {EYE_DEATH_ANIM 37 56}
    {EYE_RECRUIT_ANIM be 95,95 -12}
    {AMLA_DEFAULT}
    [resistance]
        blade=90
        impact=110
        cold=120
        arcane=90
    [/resistance]
    [defense]
        deep_water=40
        shallow_water=40
        reef=40
        swamp_water=40
        flat=40
        sand=40
        forest=40
        hills=40
        mountains=40
        village=40
        castle=40
        frozen=40
        unwalkable=40
    [/defense]
    {EYE_STANDING_ANIM be}
    [attack]
        name=blade ring
        description= _ "blade ring"
        icon=attacks/chakram.png
        type=blade
        range=melee
        damage=4
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
        [/specials]
    [/attack]
    [attack]
        name=eye
        description= _ "beam"
        icon=attacks/beam-eye.png
        type=arcane
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=blade ring
        [/filter_attack]
        start_time=-400
        [frame]
            image="units/skykingdom-warriors/be-[1,4,6].png:100"
        [/frame]
        [frame]
            image="units/skykingdom-warriors/be-[7,6,4,1].png:100"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]

    {EYE_LASER_ANIM be 1 n -2 -16}
    {EYE_LASER_ANIM be 2 s -2 50}
    {EYE_LASER_ANIM be 3 ne 27 -8}
    {EYE_LASER_ANIM be 3 nw 27 -8}
    {EYE_LASER_ANIM be 4 se 27 32}
    {EYE_LASER_ANIM be 4 sw 27 32}
[/unit_type]
