#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Battlemage
    name= _ "Battle Mage"
    race=human
    image="units/skykingdom-magi/enlightened-battlemage.png"
    ellipse="misc/ellipse"

    hitpoints=36
    movement_type=smallfoot
    movement=5
    experience=52
    level=1
    alignment=neutral
    advances_to=EoMa_War_Mage,EoMa_Sorcerer
    cost=20
    usage=mixed fighter
    undead_variation=battlemage
    description= _  "Battle Magi are the novice magic users with fairly good physical fitness. These dagger-carrying troops form the backbone of the Sky Kingdom infantry, alongside Hidden Faces. Given enough experience, such novices can either keep advancing as versatile infantry troops, joining the ranks of War Magi, or heavily devote themselves into advanced study of combat spells at the expense of physical training, becoming Sorcerers."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/skykingdom-magi/enlightened-battlemage-defend.png" "units/skykingdom-magi/enlightened-battlemage.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [standing_anim]
        [frame]
            image="units/skykingdom-magi/battlemage/00[01~36].png:42"
        [/frame]
    [/standing_anim]
	[movement_costs]
		mountains=2
	[/movement_costs]
    [resistance]
        impact=80
        pierce=90
        blade=90
    [/resistance]
    [attack]
        name=dagger
        description={STR_DAGGER}
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=missile
        description=_"missile"
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/skykingdom-magi/enlightened-[battlemage,battlemage-attack-staff-1,battlemage-attack-staff-2,battlemage-attack-magic1,battlemage].png:[50,100,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    {BATTLEMAGE_MISSILE_ATTACK_ANIM battlemage-attack-magic1 battlemage-attack-magic2}
[/unit_type]
