#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Chronomancer
    name= _ "Chronomancer"
    image="units/skykingdom-magi/enlightened-chronomancer1.png"
    race=human

    flying=yes
    hitpoints=62
    movement_type=I8 subversivemage
    movement=6
    experience=150
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=95
    usage=mixed fighter
    undead_variation=subversivemage
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        cold=70
        pierce=100
    [/resistance]
    [defense]
        unwalkable=70
        deep_water=70
        shallow_water=70
        swamp_water=60
        sand=60
        frozen=60
    [/defense]
    [movement_costs]
        unwalkable=2
        deep_water=2
        shallow_water=2
        swamp_water=2
        sand=1
        forest=1
        mountains=2
        frozen=1
    [/movement_costs]
    [idle_anim]
        [frame]
            image="units/skykingdom-magi/enlightened-chronomancer-attack-magic[1~5,4~1].png:100"
        [/frame]
    [/idle_anim]
    [standing_anim]
        start_time=0
        [frame]
            image="units/skykingdom-magi/enlightened-chronomancer[1,2].png:300"
        [/frame]
    [/standing_anim]
    [pre_movement_anim]
        [frame]
            image="units/skykingdom-magi/enlightened-chronomancer-[a,b,c,d,e,f,g].png:75"
            alpha=1.0~0.0
        [/frame]
    [/pre_movement_anim]
    [post_movement_anim]
        [frame]
            image="units/skykingdom-magi/enlightened-chronomancer-[g,f,e,d,c,b,a].png:75"
            alpha=0.0~1.0
        [/frame]
    [/post_movement_anim]
    [movement_anim]
        [frame]
            image="halo/blank.png:100"
        [/frame]
    [/movement_anim]
    {SKY_ENLIGHTENED_DEFENSE_ANIM chronomancer chronomancer1 chronomancer1}
    [abilities]
        {ABILITY_EOMA_CHRONOAURA}
    [/abilities]
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
            {WEAPON_SPECIAL_EOMA_NOCOUNTERATTACK}
        [/specials]
    [/attack]
    [attack]
        name=missile
        description={STR_MISSILE}
        icon=attacks/black-mage-missile.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_EOMA_NOCOUNTERATTACK}
        [/specials]
        damage=11
        number=4
    [/attack]
    [attack]
        name=ensnare
        description=_ "entrapment spell"
        type=cold
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_EOMA_NOCOUNTERATTACK}
        [/specials]
        damage=5
        number=5
        range=ranged
        icon=attacks/entrapment-spell-dark.png
    [/attack]
    [attack]
        name=immobilization
        description=_ "immobilization"
        type=cold
        [specials]
            {WEAPON_SPECIAL_EOMA_ALWAYSHITS}
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_EOMA_IMMOBILIZE}
        [/specials]
        damage=14
        number=1
        range=ranged
        icon=attacks/immobilization.png
    [/attack]
    {SKY_ENLIGHTENED_STAFF_ANIM chronomancer-attack-melee1 chronomancer-attack-melee2 chronomancer-attack-melee1 chronomancer-attack-melee1 chronomancer-attack-melee1 chronomancer-attack-melee2 chronomancer}
    {SKY_BLACK_MISSILE_ANIM chronomancer}
    {SKY_BLACK_ENSNARE_ANIM chronomancer}
    [attack_anim]
        [filter_attack]
            name=immobilization
        [/filter_attack]
        halo1_start_time=-625
        halo1_auto_vflip=false
        [halo1_frame]
            halo="halo/saurian-magic-halo-[1~7].png~O(75%):100"
            halo_mod="~CS(-64,-128,0)"
            halo_y=-30
            offset=1.0
            sound=magic-dark.ogg
        [/halo1_frame]

        halo2_start_time=-525
        halo2_auto_vflip=false
        [halo2_frame]
            halo="halo/saurian-magic-halo-[1~7].png~O(75%):100"
            halo_mod="~CS(-64,-128,0)"
            halo_y=-10
            offset=1.0
        [/halo2_frame]

        halo3_start_time=-425
        halo3_auto_vflip=false
        [halo3_frame]
            halo="halo/saurian-magic-halo-[1~7].png~O(75%):100"
            halo_mod="~CS(-64,-128,0)"
            halo_y=10
            offset=1.0
        [/halo3_frame]
        offset=0.0
        start_time=-625
    [/attack_anim]
    [extra_anim]
        flag=chrono
        [frame]
            image="units/skykingdom-magi/enlightened-chronomancer-attack-magic[1~5,4~1].png:100"
        [/frame]
        [frame]
            image="units/skykingdom-magi/enlightened-chronomancer1.png:1"
        [/frame]
        [chrono_frame]
            image="halo/chrono/00[01~72].png"
            duration=3000
            layer=99
            alpha=1.0
            auto_hflip=no
            auto_vflip=no
        [/chrono_frame]
        [chrono_frame]
            image="halo/chrono/0072.png"
            duration=500
            layer=99
            alpha=1.0~0.0
            auto_hflip=no
            auto_vflip=no
        [/chrono_frame]
    [/extra_anim]
    [leading_anim]
        [frame]
            image="units/skykingdom-magi/enlightened-chronomancer-attack-magic[1~5,4~1].png:50"
        [/frame]
        [frame]
            image="units/skykingdom-magi/enlightened-chronomancer1.png:1"
        [/frame]
        [chrono_frame]
            image="halo/chrono/00[01~72].png"
            image_mod="~SCALE(100,100)"
            duration=20
            layer=99
            alpha=1.0
            auto_hflip=no
            auto_vflip=no
        [/chrono_frame]
        [chrono_frame]
            image="halo/chrono/0072.png"
            image_mod="~SCALE(100,100)"
            duration=150
            layer=99
            alpha=1.0~0.0
            auto_hflip=no
            auto_vflip=no
        [/chrono_frame]
    [/leading_anim]
[/unit_type]
