#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Cosmic_Eye
    name= _ "Cosmic Eye"
    race=mechanical
    image="units/skykingdom-warriors/ce-1.png"
    hitpoints=40
    movement_type=fly
    movement=8
    experience=111
    level=2
    alignment=neutral
    advances_to=null
    cost=48#45
    usage=scout
    description= _ "Cosmic Eyes are the most advanced version of the magical eye. They are used for guarding the top secret laboratories of the Sky Kingdom, as well as protecting crucial research sites."
    die_sound=silence.ogg
    {EYE_DEATH_ANIM 50 75}
    {EYE_RECRUIT_ANIM ce 120,120 -14}
    {AMLA_DEFAULT}
    [resistance]
        blade=80
        pierce=90
        impact=110
        cold=120
        arcane=90
    [/resistance]
    [defense]
        deep_water=40
        shallow_water=40
        reef=40
        swamp_water=40
        flat=40
        sand=40
        forest=40
        hills=40
        mountains=40
        village=40
        castle=40
        frozen=40
        unwalkable=40
    [/defense]
    {EYE_STANDING_ANIM ce}
    [attack]
        name=blade ring
        description= _ "blade ring"
        icon=attacks/chakram.png
        type=blade
        range=melee
        damage=6
        number=3
        [specials]
            ## {WEAPON_SPECIAL_EOMA_PRECISION_OFFENSIVE}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=eye
        description= _ "beam"
        icon=attacks/beam-eye.png
        type=arcane
        range=ranged
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
        [/specials]
    [/attack]
    [attack]
        name=reality warp
        description=_"reality warp"
        icon=attacks/reality-warp.png
        type=secret
        range=ranged
        [specials]
            ## {WEAPON_SPECIAL_EOMA_PRECISION_OFFENSIVE}
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_EOMA_ANTISHIELD}
            ## {WEAPON_SPECIAL_EOMA_REVENGE2}
        [/specials]
        damage=23
        number=1
    [/attack]

    [attack_anim]
        [filter_attack]
            name=blade ring
        [/filter_attack]
        start_time=-400
        [frame]
            image="units/skykingdom-warriors/ce-[1~3].png:100"
        [/frame]
        [frame]
            image="units/skykingdom-warriors/ce-[4,3~1].png:100"
            sound={SOUND_LIST:SWORD_SWISH}
        [/frame]
    [/attack_anim]

    {EYE_LASER_ANIM ce 1 n -2 -16}
    {EYE_LASER_ANIM ce 2 s -2 50}
    {EYE_LASER_ANIM ce 3 ne 27 -8}
    {EYE_LASER_ANIM ce 3 nw 27 -8}
    {EYE_LASER_ANIM ce 4 se 27 32}
    {EYE_LASER_ANIM ce 4 sw 27 32}

    [attack_anim]
        [filter_attack]
            name=reality warp
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            halo=halo/implosion-1-[1~4,3~1].png~SCALE(108,108):75
            offset=1.0
            sound=magic-faeriefire.ogg
        [/missile_frame]
        start_time=-400
        [frame]
            image="units/skykingdom-warriors/ce-[1,2,1].png:[75,350,75]"
            halo="halo/mystic-magic[1~6,5~1].png:[40*5,150,30*5]"
        [/frame]
    [/attack_anim]

#define COSMIC_LASER VARIATION DIR FACING HALO_X HALO_Y
    [attack_anim]
        [filter_attack]
            name=eye2
        [/filter_attack]
        direction={DIR}
        missile_start_time=-100
        [missile_frame]
        [/missile_frame]
        start_time=-300
        [frame]
            image="units/skykingdom-warriors/ce-1.png:50"
        [/frame]
        [frame]
            image="units/skykingdom-warriors/ce-2.png:350"
            halo=halo/laser-destr-{VARIATION}-[1,2,3,4,5,2].png:100
            sound="magic-dark-big.ogg"
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            image="units/skykingdom-warriors/ce-1.png:100"
        [/frame]
    [/attack_anim]
#enddef
    {COSMIC_LASER 1 n n -2 -16}
    {COSMIC_LASER 2 s s -2 50}
    {COSMIC_LASER 3 ne,nw s 27 -8}
    {COSMIC_LASER 4 se,sw s 27 32}
[/unit_type]
