#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Elementalist
    [/base_unit]
    id=EoMa_Elementalist_rpg
    advances_to=EoMa_Pyromancer_rpg,EoMa_Aeromancer_rpg,EoMa_Hydromancer_rpg,EoMa_Terramancer_rpg
[/unit_type]
