#textdomain wesnoth-Era_of_Magic
[unit_type]
	[base_unit]
		id=EoMa_Golden_Mage
	[/base_unit]
    id=EoMa_Golden_Mage_rpg
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
