#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Golem
    name= _ "Golem"
    race=mechanical
    image="units/skykingdom-golems/golem.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=42
    movement_type=mountainfoot
    movement=4
    experience=60
    level=1
    alignment=neutral
    advances_to=EoMa_Golem_Boss
    cost=22
    description= _ "Golems are bulky magical constructs used by the Sky Kingdom. They are produced in the same workshops as the Magical Eyes, but out of fairly mundane materials, such as steel, stone, and sometimes ceramic. They usually serve as guardians, but they can also be seen on the surface, acting as cannon fodder for the magi. They don't have any weaponry, but their sheer weight allows them to ram or crush their enemies with their stout bodies."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}+{SPECIAL_NOTES_REGENERATES}
    usage=fighter
    [abilities]
        {ABILITY_EOMA_REGENERATES}
    [/abilities]
    [resistance]
        blade=70	
        pierce=60
        impact=120
        fire=80
        cold=60
        arcane=60
    [/resistance]
    [defense]
        deep_water=80
        shallow_water=80
        swamp_water=80
        flat=70
        sand=70
        forest=70
        hills=70
        mountains=60
        village=60
        castle=60
        cave=70
        frozen=70
        unwalkable=70
        impassable=70
        fungus=70
    [/defense]
	[idle_anim]
		[frame]
			image="units/skykingdom-golems/golem-idle[1~7,6~1].png:[200*6,3000,200*6]"
		[/frame]
	[/idle_anim]
    [attack]
        name=charge
        description=_"charge"
#        icon=attacks/blank-attack.png~BLIT(icons/breastplate.png~CROP(25,10,24,44)~SCALE(49,49),5,5)
        icon=attacks/charge-golem.png
        type=impact
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    [attack]
        name=charge
        description=_"smash"
        icon=attacks/charge-golem.png
        type=impact
        range=melee
        damage=11
        number=2
    [/attack]
    {GOLEM_CHARGE_ANIM golem}
    {GOLEM_DEATH_ANIM}
    [recruit_anim]
		start_time=0
		[flash_frame]
			duration=400
			image="projectiles/secrethit.png"
		    alpha=1.0~0.0
			y=-250
			layer=99
		[/flash_frame]
        [frame]
			duration=200
			image="units/skykingdom-golems/golem-idle7.png"
            y=-250
			alpha=0~1
			blend_color=255,255,255
			blend_ratio=1
			auto_vflip=no
			auto_hflip=no
			layer=98
			sound=magic-faeriefire.ogg
		[/frame]		
		[frame]
			duration=200
			image="units/skykingdom-golems/golem-idle7.png"
            y=-250
			blend_color=255,255,255
			blend_ratio=1~0
			auto_vflip=no
			auto_hflip=no
			layer=99
		[/frame]
		[frame]
        	halo="units/skykingdom-golems/golem-idle7.png:600"
			halo_y=-250~0
			image="misc/blank-hex.png"
			auto_vflip=no
			auto_hflip=no
			layer=99
		[/frame]
        [frame]
			duration=750
			image="units/skykingdom-golems/golem-idle[6~1].png:125"
			layer=2
			halo=halo/rock-dust[1~5].png~SCALE(400,220):150
			sound=explosion.ogg
        [/frame]
    [/recruit_anim]
[/unit_type]
