#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Guru
    name= _ "Guru of Magic"
    race=human
    image="units/skykingdom-magi/guru.png"

    profile="portraits/sky_kingdom/guru.png"
    small_profile="portraits/sky_kingdom/guru.png~SCALE(205,205)"
    hitpoints=60
    movement_type=fly
    movement=5
    experience=200
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=100
    usage=mixed fighter
    undead_variation=sorcerer
    description= _ "The title of Guru is only granted to the Sky Kingdom's brightest minds, whose knowledge of the world's secrets is rivalled by few. They rarely engage in combat, but they are known to be fairly eccentric when doing so, crushing their foes with large chunks of rock summoned above their heads."+" This unit has 10% resistance to anti-shield attacks, being the only unit in the era to have resistance to them."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_EOMA_SUMMON guru (
            {SUMMON_MENU_ITEM guru_menu ( _ "Summon Golem (16 Gold)") 16 (EoMa_Guru) (EoMa_Golem)}
        )}
        {ABILITY_LEADERSHIP}
        {ABILITY_EOMA_REGENERATES}
    [/abilities]
    [resistance]
        blade=60
        pierce=60
        impact=60
        fire=70
        cold=70
        arcane=70
        secret=90
    [/resistance]
    [defend]
        start_time=-126
        hits=no
        [frame]
            image="units/skykingdom-magi/guru-die-1.png:23"
            #	    sound=um-miss.ogg
            blend_color=255,255,255
            blend_ratio=0~1:125,1~0:125
            offset=0.0:1,0.0~-0.1:50,-0.1~-0.2:50,-0.2:50,-0.2~-0.1:50,-0.1~0.0:50,0.0:1
            alpha=1:1,1~0.5:50,0.5~0.0:50,0:50,0.0~0.5:50,0.5~1:50,1:1
        [/frame]
    [/defend]
    [defend]
        hits=yes
        start_time=-200
        seal_start_time=-200
        [seal_frame]
            image="halo/seal.png"
            alpha=0~1:158,1:83,1~0:159
            offset=0.0
            auto_vflip=false
            y=-10
            layer=90
        [/seal_frame]
        [frame]
            #            image="units/skykingdom-magi/guru-defend-[1~3,2,1].png:[75,83*2,84,75]"
            image="units/skykingdom-magi/guru.png:400"
            layer=40
        [/frame]
    [/defend]
    [death]
        [frame]
            image="units/skykingdom-magi/guru-die-[1~6].png:200"
        [/frame]
    [/death]
    [standing_anim]
        [frame]
            image="units/skykingdom-magi/guru.png:100"
        [/frame]
    [/standing_anim]
    [standing_anim]
        terrain_type=Q*,Mv,*^Qov,W*,S*
        [frame]
            image="units/skykingdom-magi/guru-die-1.png:225"
            y=1
        [/frame]
        [frame]
            image="units/skykingdom-magi/guru-die-1.png:150"
            y=0
        [/frame]
        [frame]
            image="units/skykingdom-magi/guru-die-1.png:150"
            y=-1
        [/frame]
        [frame]
            image="units/skykingdom-magi/guru-die-1.png:150"
            y=0
        [/frame]
    [/standing_anim]
    [attack]
        name=light touch
        description=_"light touch"
        icon=attacks/faerie-fire.png
        type=arcane
        range=melee
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=umstrike
        description=_"um strike"
        type=secret
        icon=attacks/implosion.png
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_ANTISHIELD}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=20
        number=2
    [/attack]
    [attack]
        name=landmass
        description=_"landmass"
        type=impact
        icon=attacks/landmass.png
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_AREAEFFECT}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=12
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=light touch
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/skykingdom-magi/[guru,guru-magic7,guru-magic8,guru-magic7,guru].png:[50,100,200,50*2]"
            halo="projectiles/zmage-preparation-halo[1~7,7~1].png:[25*14]"
            halo_mod=~GS()~CS(32,32,32)
            halo_x,halo_y=8,0
        [/frame]
        {SOUND:HIT_AND_MISS um.ogg um-miss.ogg -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=landmass
        [/filter_attack]
        [if]
            hits=yes
            flash_start_time=-1500
            missile_start_time=-1500
            shadow_start_time=-1500
            seal_start_time=-1500
            [seal_frame]
                image="halo/seal.png:2784"
                alpha=0:200,0~1:200,1:2100,1~0:284
                offset=0.0
                auto_vflip=false
                y=-10
                layer=90
            [/seal_frame]
            [flash_frame]
                duration=400
                image="projectiles/secrethit.png"
                alpha=1.0~0.0:400,0
                y=-250
                layer=99
                offset=1.0
            [/flash_frame]
            [missile_frame]
                image=halo/rock.png:900
                y=-250
                alpha=0~1:900
                blend_color=255,255,255
                blend_ratio=1~0:900
                offset=1.0
                auto_vflip=no
                auto_hflip=no
                layer=99
                sound=magic-faeriefire.ogg
            [/missile_frame]
            [missile_frame]
                halo=halo/rock.png:600
                halo_y=-250~0
                offset=1.0
                auto_vflip=no
                auto_hflip=no
                layer=99
            [/missile_frame]
            [missile_frame]
                image=halo/rock-[1~5].png:150
                halo=halo/rock-dust[1~5].png:150
                offset=1.0
                alpha=1.0~0.0
                sound=explosion.ogg
                auto_vflip=no
                auto_hflip=no
                layer=99
            [/missile_frame]
            [shadow_frame]
                image=halo/rock-shadow.png:1500
                offset=1
                alpha=0.0~1.0
                auto_vflip=no
                auto_hflip=no
                layer=98
            [/shadow_frame]
            start_time=-1584
            [frame]
                #                image="units/skykingdom-magi/[guru,guru-defend-1,guru-defend-2,guru-defend-3,guru-defend-2,guru-defend-1,guru].png:[200,100*2,2100,100*2,84]"
                image="units/skykingdom-magi/guru.png:2784"
                layer=40
            [/frame]
        [/if]
        [else]
            hits=no
            flash_start_time=-400
            missile_start_time=-400
            explosion_start_time=-400
            shadow_start_time=-400
            [flash_frame]
                duration=400
                image="projectiles/secrethit.png"
                alpha=1.0~0.0:400,0
                y=-250
                layer=99
                offset=1.0
            [/flash_frame]
            [explosion_frame]
                image="projectiles/fireball-impact-[1~16].png:60"
                image_mod=~B(255)~SCALE(200,300)~CS(20,20,20)
                y=-250
                layer=99
                offset=1.0
                sound=magic-dark-big-miss.ogg
                auto_vflip=no
            [/explosion_frame]
            [missile_frame]
                image=halo/rock.png:800
                y=-250
                alpha=0~1:400,1~0:400
                blend_color=255,255,255
                blend_ratio=1:400
                offset=1.0
                auto_vflip=no
                auto_hflip=no
                layer=98
                sound=magic-faeriefire-miss.ogg
            [/missile_frame]
            [shadow_frame]
                image=halo/rock-shadow.png:800
                offset=1
                alpha=0.0~0.4:400,0.4~0.0:400
                auto_vflip=no
                auto_hflip=no
                layer=97
            [/shadow_frame]
            [frame]
                image="units/skykingdom-magi/[guru-magic7,guru].png:[100,84]"
                offset=0.0
            [/frame]
            [frame]
                image="units/skykingdom-magi/guru.png"
                offset=0.0
            [/frame]
        [/else]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=umstrike
        [/filter_attack]
        hits=no
        [frame]
            duration=100
            image="units/skykingdom-magi/guru-magic7.png"
            offset=0.0
        [/frame]
        [frame]
            duration=84
            image="units/skykingdom-magi/guru.png"
            offset=0.0
        [/frame]
    [/attack_anim]
#define UMSTRIKE_ANIM DIR FACING1 FACING2
    [attack_anim]
        [filter_attack]
            name=umstrike
        [/filter_attack]
        direction={DIR}
        hits=yes
        start_time=-3000
        um1_start_time=-3000
        um2_start_time=-2000
        missile_start_time=-800
        [um1_frame]
            image=halo/blank.png:1
        [/um1_frame]
        [um1_frame]
            image="units/skykingdom-warriors/mysticmu-attack-1.png:1000"
            offset=0.5
            directional_y=-800~0
            alpha=0.0~1.0
            auto_vflip=no
        [/um1_frame]
        [um1_frame]
            image="units/skykingdom-warriors/mysticmu-attack-2.png:200"
            halo=halo/rock-dust[1~5].png~SCALE(400,220):100
            halo_y=10
            offset=0.5
            auto_vflip=no
            sound=mace.wav
        [/um1_frame]
        [um1_frame]
            image="units/skykingdom-warriors/mysticmu-ranged-{FACING1}.png:2200"
            offset=0.5
            auto_vflip=no
        [/um1_frame]
        [um1_frame]
            image="units/skykingdom-warriors/mysticmu-ranged-{FACING1}.png:250"
            offset=0.5
            alpha=1.0~0.0
            auto_vflip=no
        [/um1_frame]
        [um2_frame]
            image=halo/blank.png:1
        [/um2_frame]
        [um2_frame]
            image="units/skykingdom-warriors/mysticmu-attack-1.png:1000"
            image_mod=~FL(horiz)
            offset=1.5
            directional_y=-800~0
            alpha=0.0~1.0
            auto_vflip=no
        [/um2_frame]
        [um2_frame]
            image="units/skykingdom-warriors/mysticmu-attack-2.png:200"
            image_mod=~FL(horiz)
            offset=1.5
            auto_vflip=no
            sound=mace.wav
        [/um2_frame]
        [um2_frame]
            image="units/skykingdom-warriors/mysticmu-ranged-{FACING2}.png:1250"
            halo=halo/rock-dust[1~5].png~SCALE(400,220)~FL(horiz):100
            halo_y=10
            image_mod=~FL(horiz)
            offset=1.5
            auto_vflip=no
        [/um2_frame]
        [um2_frame]
            image="units/skykingdom-warriors/mysticmu-ranged-{FACING2}.png:250"
            image_mod=~FL(horiz)
            offset=1.5
            alpha=1.0~0.0
            auto_vflip=no
        [/um2_frame]
        [missile_frame]
            duration=800
            halo=projectiles/mu-preparation-halo[1~3,2,1~3,2,1~3].png
            offset=1.0
            sound=magic-dark.ogg
        [/missile_frame]
        [missile_frame]
            halo=halo/implosion-1-[6~10].png:100
            offset=1.0
            sound=explosion.ogg
        [/missile_frame]
        [frame]
            image="units/skykingdom-magi/guru.png:100"
            offset=0.0
        [/frame]
    [/attack_anim]
#enddef

    {UMSTRIKE_ANIM ne,nw ne se}
    {UMSTRIKE_ANIM se,sw se ne}
    {UMSTRIKE_ANIM s s n}
    {UMSTRIKE_ANIM n n s}
[/unit_type]
