#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Mage_of_Fire
    name= _ "Pyromancer"
    race=human
    image="units/skykingdom-elementalists/mage-of-fire1.png"

    hitpoints=43
    movement_type=smallfoot
    movement=5
    experience=85
    level=2
    alignment=neutral
    advances_to=EoMa_Master_of_Fire
    cost=36
    usage=mixed fighter
    undead_variation=elementalist
    #    description= _ "Elementalists who choose the path of Fire become quite powerful quickly, but are rather slow compared to their air colleagues. Nevertheless Fire Magi have a chance to become a walking destruction - the Masters of Fire."
    description= _ "Elementalists who choose the path of Fire become quite powerful quickly, but are rather slow compared to the Air Magi. They are known for being rather hot-tempered and warlike, compared to their colleagues from other elemental paths. Given enough talent, the Fire Magi have a chance to become walking manifestations of destruction - the Masters of Fire."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        fire=60
    [/resistance]
    [standing_anim]
        start_time=0
        [frame]
            image="units/skykingdom-elementalists/mage-of-fire[1,2].png:100"
        [/frame]
    [/standing_anim]
    {SKY_GENERIC_DEFENSE_ANIM units/skykingdom-elementalists/mage-of-fire1 units/skykingdom-elementalists/mage-of-fire-defend1 units/skykingdom-elementalists/mage-of-fire-defend2 units/skykingdom-elementalists/mage-of-fire-defend3 units/skykingdom-elementalists/mage-of-fire2 yes,no}
    [idle_anim]
        start_time=0
        [frame]
            image="units/skykingdom-elementalists/mage-of-fire-magic[1~5].png:100"
        [/frame]
    [/idle_anim]
    [attack]
        name=staff
        description=_"fire blast"
        icon=attacks/torch.png
        type=fire
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=flames
        description=_"flames"
        icon=attacks/flames.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=4
        number=6
    [/attack]
    [attack]
        name=fireball
        description={STR_FIREBALL}
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=7
        number=4
    [/attack]
    [attack]
        name=fire wave
        description=_"fire wave"
        icon=attacks/firewave.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=13
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/skykingdom-elementalists/mage-of-[fire,fire-defend1,fire-defend2,fire-defend3,fire-defend1].png:[50,100,200,75*2]"
        [/frame]
        {SOUND:HIT_AND_MISS fire.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}
        start_time=-300
        [frame]
            image="units/skykingdom-elementalists/mage-of-fire-magic[1~3].png:100"
        [/frame]
        [frame]
            image="units/skykingdom-elementalists/mage-of-fire[-magic4,-magic5,2].png:100"
            sound=fire.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fire wave
        [/filter_attack]
        missile_start_time=-245
        [missile_frame]
            image="projectiles/firewave-n[1~5].png:75"
            image_diagonal="projectiles/firewave-[1~5].png:75"
            image_mod=~SCALE(90,90)
            offset=0.0~0.2:50,0.2~0.4:50,0.4~0.6:50,0.6~0.8:50,0.8~1.0:50
            sound=fire.wav
        [/missile_frame]
        start_time=-545
        [frame]
            image="units/skykingdom-elementalists/mage-of-fire-magic[1~3].png:100"
        [/frame]
        [frame]
            image="units/skykingdom-elementalists/mage-of-fire[-magic4,-magic5,2].png:100"
            sound=fire.wav
        [/frame]
    [/attack_anim]

    {SKY_MOF_FLAMES_ANIM 1 mage-of-fire-defend}
    {SKY_MOF_FLAMES_ANIM 2 mage-of-fire-defend}
    {SKY_MOF_FLAMES_ANIM 3 mage-of-fire-defend}
[/unit_type]
