#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Mage_of_Water
    name= _ "Hydromancer"
    race=human
    image="units/skykingdom-elementalists/mage-of-water.png"

    hitpoints=42
    movement_type=smallfoot
    movement=5
    experience=85
    level=2
    alignment=neutral
    advances_to=EoMa_Master_of_Water
    cost=35
    usage=mixed fighter
    undead_variation=elementalist
    [movement_costs]
        deep_water=1
        shallow_water=1
    [/movement_costs]
    [resistance]
        fire=90
        cold=90
        impact=90
    [/resistance]
    [defense]
        deep_water=50
        shallow_water=50
        swamp=50
        reef=50
    [/defense]
    description= _ "Unlike their Fire colleagues, the Water Magi are known to be fairly peaceful, using their power to heal, not to destroy. They act as doctors, or field medics, depending on what the situation calls for. They lack the offensive power the Fire Magi possess, but they're are able to use their water magic on the enemies’ bodies to slow them, or pelt them with sharp shards of ice conjured out of thin air."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_EOMA_CURES}
        [regenerate]
            value=4
            id=eoma_water_regeneration
            name= _ "water regeneration +4"
            description=_"When stading on water (except ford and reef terrain), this unit will heal itself 4 HP per turn. If it is poisoned, it will remove the poison instead of healing."
            affect_self=yes
            poison=cured
            [filter_self]
                [filter_location]
                    terrain=Wo*,Ww*,Ss
                [/filter_location]
            [/filter_self]
        [/regenerate]
    [/abilities]
    {SKY_GENERIC_DEFENSE_ANIM units/skykingdom-elementalists/mage-of-water units/skykingdom-elementalists/mage-of-water-defend1 units/skykingdom-elementalists/mage-of-water-defend2 units/skykingdom-elementalists/mage-of-water-defend3 units/skykingdom-elementalists/mage-of-water yes,no}
    [idle_anim]
        start_time=0
        [frame]
            image="units/skykingdom-elementalists/[mage-of-water,mage-of-water-defend1,mage-of-water-defend2,mage-of-water-defend3,mage-of-water].png:150"
        [/frame]
    [/idle_anim]
    [idle_anim]
        start_time=0
        [frame]
            image="units/skykingdom-elementalists/mage-of-water-attack-magic[1~3,1].png:150"
        [/frame]
    [/idle_anim]
    {SKY_MOW_HEALING_ANIM mage}
    [attack]
        name=staff
        description=_"water blast"
        icon=attacks/waterspray.png
        type=impact
        range=melee
        damage=5
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=icicles
        description=_"icicles"
        icon=attacks/icicles.png
        type=pierce
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=3
        number=7
    [/attack]
    [attack]
        name=waterspray
        description={STR_WATER_SPRAY}
        icon=attacks/waterspray.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=7
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/skykingdom-elementalists/[mage-of-water,mage-of-water-defend1,mage-of-water-defend2,mage-of-water-defend3,mage-of-water].png:[50,100,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS water-blast.wav water-blast.wav -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=waterspray
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="projectiles/water-spray.png:200"
            image_diagonal="projectiles/water-spray.png"
        [/missile_frame]
        start_time=-400
        [frame]
            image="units/skykingdom-elementalists/mage-of-water-attack-magic[1~3,1].png:[50*2,200,50]"
        [/frame]
        {SOUND:HIT_AND_MISS water-blast.wav water-blast.wav -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=icicles
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/icicles[1~3].png:75"
            image_diagonal="projectiles/icicles-ne[1~3].png:75"
            offset=0.5
        [/missile_frame]
        start_time=-225
        [frame]
            image="units/skykingdom-elementalists/mage-of-water-defend[3~1].png:75"
            sound=spear.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
