#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Master_of_Earth
    name= _ "Master of Earth"
    race=human
    image="units/skykingdom-elementalists/master-of-earth.png"

    hitpoints=63
    movement_type=eoma_smallfoot
    movement=5
    experience=126
    level=3
    alignment=neutral
    advances_to=null
    [advancement]
        strict_amla=yes
        max_times=1
        id=masterofearth_forage
        description= _ "Forage, +3 HP, +20% max XP"
        image="icons/leaf-acid-2.png"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_FORAGE}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    {AMLA_DEFAULT}
    cost=54
    usage=mixed fighter
    undead_variation=elementalist
    [resistance]
        fire=85
        cold=85
        arcane=80
        impact=70
        blade=85
        pierce=85
    [/resistance]
    [defense]
        sand=60
        shallow_water=80
        frozen=70
        swamp_water=70
        cave=40
        hills=40
        fungus=40
        mountains=30
        forest=40
    [/defense]
    [movement_costs]
        frozen=2
        swamp_water=2
        sand=2
        cave=1
        hills=1
        fungus=2
        mountains=1
        forest=1
    [/movement_costs]
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_EOMA_NATURE_REGENERATION 10}
        [dummy]
            id=eoma_detox_nature_dummy#to fix the ability showing as inactive all the time
            name= _ "nature detox"
            description= _ "When standing on a forest tile, this unit can cure adjacent friendly units of poison, although these units will receive no additional healing on the turn they are cured of the poison."
        [/dummy]
        [heals]
            id=eoma_detox_nature
            affect_allies=yes
            affect_self=no
            poison=cured
            [affect_adjacent]
                adjacent=n,ne,se,s,sw,nw
                [filter]
                    {FILTER_MAGICABSORBER}
                [/filter]
            [/affect_adjacent]
            [filter]
                [filter_location]
                    terrain=*^F*
                [/filter_location]
            [/filter]
        [/heals]
        {ABILITY_EOMA_SUMMON earth (
            {SUMMON_MENU_ITEM moe_menu ( _ "Summon Earth Elemental") 17 (EoMa_Master_of_Earth) (EoMa_Earth_Elemental)}
            {SUMMON_MENU_ITEM moe_menu2 ( _ "Summon Earth Avatar") 40 (EoMa_Master_of_Earth) (EoMa_Earth_Avatar)}
        )}
    [/abilities]
    {EOMA_SUMMON_NOTE (
        {EOMA_SUMMON_NOTE_UNIT _"Earth Elemental" 17}+
        {EOMA_SUMMON_NOTE_UNIT _"Earth Avatar" 40}
    )}
    {SKY_GENERIC_DEFENSE_ANIM units/skykingdom-elementalists/master-of-earth-attack-magic1 units/skykingdom-elementalists/master-of-earth-attack-magic2 units/skykingdom-elementalists/master-of-earth-attack-magic3 units/skykingdom-elementalists/master-of-earth-attack-magic4 units/skykingdom-elementalists/master-of-earth-attack-magic5}
    [healing_anim]
        start_time=-400
        [frame]
            halo="halo/saurian-magic-halo-[1~7].png:[50,60,70,80,90,100*2]"
            halo_mod=~GS()~CS(-255,-64,-255)~SCALE(220,220)
        [/frame]
    [/healing_anim]
    [attack]
        name=earthblast
        description=_"earth blast"
        icon=attacks/fist-magic-earth.png
        type=impact
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
    [/attack]
    [attack]
        name=crystalclaws
        description=_"crystal claws"
        icon=attacks/crystal-claws.png
        type=pierce
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
    [/attack]
    [attack]
        name=stones
        description=_"stones"
        icon=attacks/rock_thrown.png
        type=impact
        range=ranged
        damage=4
        number=9
        [specials]
            {WEAPON_SPECIAL_EOMA_REVENGE2}
        [/specials]
    [/attack]
    [attack]
        name=landmass
        description=_"landmass"
        icon=attacks/landmass.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
        damage=16
        number=2
    [/attack]
    [attack]
        name=landmass2
        description=_"landmass"
        icon=attacks/landmass.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_AREAEFFECT}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        damage=24
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=earthblast
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/skykingdom-elementalists/[master-of-earth,master-of-earth-attack-staff-1,master-of-earth-attack-staff-2,master-of-earth-attack-staff-1,master-of-earth].png:[50,100,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav mace-miss.ogg -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=crystalclaws
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/skykingdom-elementalists/[master-of-earth,master-of-earth-attack-staff-1,master-of-earth-attack-staff-2,master-of-earth-attack-staff-1,master-of-earth].png:[50,100,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg mace-miss.ogg -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=landmass
        [/filter_attack]
        flash_start_time=-1500
        missile_start_time=-1500
        shadow_start_time=-1500
        start_time=-1500
        [flash_frame]
            duration=400
            image="projectiles/secrethit.png"
            alpha=1.0~0.0:400,0
            y=-150
            layer=99
            offset=1.0
        [/flash_frame]
        [if]
            hits=yes
            [missile_frame]
                image=projectiles/rock-medium.png:900
                y=-150
                alpha=0~1:900
                blend_color=255,255,255
                blend_ratio=1~0:900
                offset=1.0
                auto_vflip=no
                auto_hflip=no
                layer=99
                sound=magic-faeriefire.ogg
            [/missile_frame]
            [missile_frame]
                halo=projectiles/rock-medium.png:600
                halo_y=-150~0
                offset=1.0
                auto_vflip=no
                auto_hflip=no
                layer=99
            [/missile_frame]
            [missile_frame]
                image=projectiles/rock-medium.png:150
                halo=halo/rock-dust[1~5].png:150
                halo_mod=~SCALE(251,137)
                offset=1.0
                alpha=1.0~0.0
                sound=explosion.ogg
                auto_vflip=no
                auto_hflip=no
                layer=99
            [/missile_frame]
            [shadow_frame]
                image=halo/rock-shadow.png:1500
                image_mod=~SCALE(29,14)
                offset=1
                alpha=0.0~1.0:1300,1.0~0.0:200
                auto_vflip=no
                auto_hflip=no
                layer=98
            [/shadow_frame]
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-1.png"
            [/frame]
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-2.png"
            [/frame]
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-3.png"
            [/frame]
            [frame]
                duration=600
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic3.png"
            [/frame]
            [frame]
                duration=600
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-4.png"
            [/frame]
        [/if]
        [else]
            hits=miss
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-1.png"
            [/frame]
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-2.png"
            [/frame]
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-3.png"
            [/frame]
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth.png"
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=stones
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/stone.png:150"
            image_diagonal="projectiles/stone.png:150"
            offset=0.0~1.0
            blend_ratio=1~0:75
            blend_color=255,255,255
        [/missile_frame]
        start_time=-225
        [frame]
            image="units/skykingdom-elementalists/master-of-earth-magic1-[1~3].png:50"
            sound=magic-faeriefire.ogg
        [/frame]
    [/attack_anim]
    #-----------------------------------------
    [attack_anim]
        [filter_attack]
            name=landmass2
        [/filter_attack]
        [if]
            hits=yes
            flash_start_time=-1500
            missile_start_time=-1500
            shadow_start_time=-1500
            [flash_frame]
                duration=400
                image="projectiles/secrethit.png"
                alpha=1.0~0.0:400,0
                y=-250
                layer=99
                offset=1.0
            [/flash_frame]
            [missile_frame]
                image=halo/rock-guru/00[11~36].png:36
                y=-250
                offset=1.0
                auto_vflip=no
                auto_hflip=no
                layer=99
                sound=magic-faeriefire.ogg
            [/missile_frame]
            [missile_frame]
                halo=halo/rock.png:600
                halo_y=-250~0
                offset=1.0
                auto_vflip=no
                auto_hflip=no
                layer=99
            [/missile_frame]
            [missile_frame]
                image=halo/rock-[1~5].png:150
                halo=halo/rock-dust[1~5].png:150
                offset=1.0
                alpha=1.0~0.0
                sound=explosion.ogg
                auto_vflip=no
                auto_hflip=no
                layer=99
            [/missile_frame]
            [shadow_frame]
                image=halo/rock-shadow.png:1500
                offset=1
                alpha=0.0~1.0:1300,1.0~0.0:200
                auto_vflip=no
                auto_hflip=no
                layer=98
            [/shadow_frame]
            start_time=-1584
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-1.png"
            [/frame]
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-2.png"
            [/frame]
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-3.png"
            [/frame]
            [frame]
                duration=600
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic3.png"
            [/frame]
            [frame]
                duration=600
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-4.png"
            [/frame]
        [/if]
        [else]
            hits=no
            explosion_start_time=-400
            shadow_start_time=-400
            [flash_frame]
                duration=400
                image="projectiles/secrethit.png"
                alpha=1.0~0.0:400,0
                y=-250
                layer=99
                offset=1.0
            [/flash_frame]
            [explosion_frame]
                image="projectiles/fireball-impact-[1~16].png:60"
                image_mod=~B(255)~SCALE(200,300)~CS(20,20,20)
                y=-250
                layer=99
                offset=1.0
                sound=magic-dark-big-miss.ogg
                auto_vflip=no
            [/explosion_frame]
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-1.png"
            [/frame]
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-2.png"
            [/frame]
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth-magic2-3.png"
            [/frame]
            [frame]
                duration=100
                offset=0.0
                image="units/skykingdom-elementalists/master-of-earth.png"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
