#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Master_of_Water
    name= _ "Master of Water"
    race=human
    image="units/skykingdom-elementalists/master-of-water.png"

    profile="portraits/sky_kingdom/masterofwater.png"
    small_profile="portraits/sky_kingdom/masterofwater.png~SCALE(205,205)"
    hitpoints=55
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=60
    usage=mixed fighter
    undead_variation=elementalist
    [movement_costs]
        deep_water=1
        shallow_water=1
        frozen=2
        swamp_water=2
        mountains=2
    [/movement_costs]
    [resistance]
        fire=92
        cold=92
        impact=100
    [/resistance]
    [defense]
        deep_water=40
        shallow_water=60
        swamp_water=60
        reef=40
        frozen=70
        sand=60
    [/defense]
    description= _ "The most talented Water Magi eventually become Masters of Water. They are powerful healers, whose powerful water heals their own wounds, even while the mage is unconscious, as well as makes them immune to most known diseases. They can also summon magical beings made of pure water, and are able to cast powerful frost spells for self-defense."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_EOMA_CURES}
        [regenerate]
            value=4
            id=eoma_water_regeneration
            name= _ "water regeneration +4"
            description=_"When stading on water (except ford and reef terrain), this unit will heal itself 4 HP per turn. If it is poisoned, it will remove the poison instead of healing."
            affect_self=yes
            poison=cured
            [filter_self]
                [filter_location]
                    terrain=Wo*,Ww*,Ss
                [/filter_location]
            [/filter_self]
        [/regenerate]
        {ABILITY_EOMA_SUMMON water (
            {SUMMON_MENU_ITEM mow_menu ( _ "Summon Water Elemental") 14 (EoMa_Master_of_Water) (EoMa_Water_Elemental)}
            {SUMMON_MENU_ITEM mow_menu2 ( _ "Summon Water Avatar") 44 (EoMa_Master_of_Water) (EoMa_Water_Avatar)}
        )}
    [/abilities]
    {SKY_GENERIC_DEFENSE_ANIM units/skykingdom-elementalists/master-of-water-defend1 units/skykingdom-elementalists/master-of-water-defend1 units/skykingdom-elementalists/master-of-water-defend2 units/skykingdom-elementalists/master-of-water-defend3 units/skykingdom-elementalists/master-of-water-defend1 yes,no}
    {SKY_MOW_HEALING_ANIM master}
    [attack]
        name=frozen fist
        description=_"frozen fist"
        icon=attacks/fist-magic-ice.png
        type=impact
        range=melee
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=icicles
        description=_"icicles"
        icon=attacks/icicles.png
        type=pierce
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=3
        number=10
    [/attack]
    [attack]
        name=icestrike
        description=_"ice strike"
        icon=attacks/icestrike.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=10
        number=3
    [/attack]
    [attack]
        name=bubble
        description=_"bubble"
        icon=attacks/bubble.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=22
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=frozen fist
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/skykingdom-elementalists/[master-of-water,master-of-water-attack-staff-1,master-of-water-attack-staff-2,master-of-water-attack-staff-1,master-of-water].png:[50,100,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=icicles
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/icicles[1~3].png:75"
            image_diagonal="projectiles/icicles-ne[1~3].png:75"
            offset=0.5
        [/missile_frame]
        start_time=-225
        [frame]
            image="units/skykingdom-elementalists/master-of-water-magic1-[1~3].png:75"
            sound=spear.ogg
        [/frame]
    [/attack_anim]
#define SKY_ICESTRIKE DIRECTION VARIANT
    [attack_anim]
        [filter_attack]
            name=icestrike
        [/filter_attack]
        direction={DIRECTION}
        [missile_frame]
        [/missile_frame]
        start_time=-1150
        attack_sound_start_time=-700
        [attack_sound_frame]
            duration=150
            sound=lightning-miss.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            duration=150
            sound=lightning-miss.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            sound=lightning-miss.ogg
        [/attack_sound_frame]
        [frame]
            image="units/skykingdom-elementalists/master-of-water-magic2-[1~3].png:150"
        [/frame]
        [frame]
            image="units/skykingdom-elementalists/master-of-water-magic2-4.png"
            halo="halo/ice-strike-{VARIANT}[1~9].png:150"
        [/frame]
    [/attack_anim]
#enddef
    {SKY_ICESTRIKE n n}
    {SKY_ICESTRIKE s s}
    {SKY_ICESTRIKE ne,nw ne}
    {SKY_ICESTRIKE se,sw se}

    [attack_anim]
        [filter_attack]
            name=bubble
        [/filter_attack]
        missile_start_time=-1500
        [missile_frame]
            image="projectiles/bubble-[a,b,c,d,e,f,g,a,b,c,d,e,f,g,land1,land2,land3,land4,land5,land6,land7,land8].png:75"
            image_diagonal="projectiles/bubble-[a,b,c,d,e,f,g,a,b,c,d,e,f,g,land1,land2,land3,land4,land5,land6,land7,land8].png:75"
            offset=0.0~0.071:75,0.071~0.142:75,0.142~0.214:75,0.214~0.286:75,0.286~0.358:75,0.358~0.43:75,0.43~0.502:75,0.502~0.574:75,0.574~0.646:75,0.646~0.718:75,0.718~0.79:75,0.79~0.862:75,0.862~0.934:75,0.934~1.0:75,1.0:600
            y=-55:1050,-50:75,-40:75,-25:75,-5:75,0:225
        [/missile_frame]
        start_time=-1800
        [frame]
            image="units/skykingdom-elementalists/master-of-water-magic3.png:300"
            halo=projectiles/bubble[1~4].png:75
            halo_x,halo_y=0,-55
        [/frame]
        [frame]
            duration=1600
            image="units/skykingdom-elementalists/master-of-water-magic3.png"
        [/frame]
        {SOUND:HIT_AND_MISS water-blast.wav water-blast.wav -525}
    [/attack_anim]
[/unit_type]
