#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Master_of_Elements
    name= _ "Master of Elements"
    race=human
    image="units/skykingdom-magi/master-of-elements1.png"

    hitpoints=68
    movement_type=smallfoot
    flying=yes
    movement=5
    experience=200
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=93#88
    usage=mixed fighter
    undead_variation=sorcerer
    description= _ "It's generally believed that one person can't truly master more than a single form of magic. However, there have been rare exceptions to the rule, extraordinary individuals who managed to become nearly as skilled with using each element as that element's elemental masters, at once. They are very respected by their peers, and granted a seat at the Council of Masters. Though such magi rarely leave the Sky Kingdom, on the battlefield, their versatile elemental magic can easily obliterate most kinds of foes."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/skykingdom-magi/master-of-elements-magic1.png" "units/skykingdom-magi/master-of-elements-magic3.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    {LEVITATE3_ANIM (units/skykingdom-magi/master-of-elements) 150}
    [standing_anim]
        [frame]
            image="units/skykingdom-magi/master-of-elements1.png"
        [/frame]
    [/standing_anim]
    [standing_anim]
        terrain_type=Q*,Mv,*^Qov,W*,S*
        [frame]
            image="units/skykingdom-magi/master-of-elements-fly[1,2,3,2].png:150"
        [/frame]
    [/standing_anim]
    [defense]
        deep_water=60
        shallow_water=60
        reef=60
        swamp_water=60
        unwalkable=60
        cave=60
        fungus=60
    [/defense]
    [movement_costs]
        unwalkable=1
        mountains=2
        deep_water=1
        shallow_water=1
        reef=1
        swamp_water=1
        sand=1
        frozen=1
    [/movement_costs]
    [resistance]
        blade=90
        pierce=90
        impact=90
        fire=70
        cold=70
        arcane=70
    [/resistance]
    [abilities]
        {ABILITY_EOMA_REGENERATE 4}
        {ABILITY_EOMA_SUMMON elem (
            {SUMMON_MENU_ITEM 6_2_1 ( _ "Summon Fire Elemental") 7 (EoMa_Summons_Master,EoMa_Master_of_Elements) (EoMa_Fire_Elemental)}
            {SUMMON_MENU_ITEM 6_2_2 ( _ "Summon Water Elemental") 7 (EoMa_Summons_Master,EoMa_Master_of_Elements) (EoMa_Water_Elemental) EXCEPT_ON=_off^_usr,Q*,*^X*,X*,*^V*}
            {SUMMON_MENU_ITEM 6_2_3 ( _ "Summon Air Elemental") 8 (EoMa_Summons_Master,EoMa_Master_of_Elements) (EoMa_Air_Elemental) EXCEPT_ON=_off^_usr,Q*,*^X*,X*,*^V*}
            {SUMMON_MENU_ITEM 6_2_4 ( _ "Summon Earth Elemental") 8 (EoMa_Summons_Master,EoMa_Master_of_Elements) (EoMa_Earth_Elemental)}
        )}
    [/abilities]
    [idle_anim]
        start_time=0
        [frame]
            image="units/skykingdom-magi/master-of-elements-[attack-magic3-2,attack-magic4-2,attack-magic5-2,attack-magic1-1,attack-magic1-2,attack-magic1-3,attack-magic1-4,magic1,magic2,magic3,attack-magic1-4,attack-magic1-3,attack-magic1-2,attack-magic1-1,attack-magic5-2,attack-magic4-2,attack-magic3-2].png:150"
        [/frame]
    [/idle_anim]
    [idle_anim]
        terrain_type=Q*,Mv,*^Qov,W*,S*
        start_time=0
        [frame]
            image="units/skykingdom-magi/master-of-elements-fly2.png:1"
        [/frame]
    [/idle_anim]
    [attack]
        name=light touch
        description=_"magic touch"
        icon=attacks/lightbeam.png
        type=impact
        range=melee
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=icicles
        description=_"icicles"
        icon=attacks/icicles.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=5
        number=10
    [/attack]
    [attack]
        name=fireball
        description={STR_FIREBALL}
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=14
        number=4
    [/attack]
    [attack]
        name=eye
        description=_"eye of the storm"
        icon=attacks/eyeofstorm.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_MAGICAL_OFFENSIVE}
            {WEAPON_SPECIAL_EOMA_ENCHANTED}
        [/specials]
        damage=45
        number=1
    [/attack]
    [attack]
        name=meteor shower
        description=_"meteor shower"
        icon=attacks/rock_thrown.png~ROTATE(90)
        type=impact
        range=ranged
        damage=23
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=light touch
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/skykingdom-magi/master-of-elements[1,2,3,1].png:[150,200,50*2]"
            halo="projectiles/zmage-preparation-halo[1~7,7~1].png:[25*14]"
            halo_mod=~GS()~CS(32,32,32)
            halo_x,halo_y=8,0
        [/frame]
        {SOUND:HIT_AND_MISS um.ogg um-miss.ogg -100}
    [/attack_anim]
    {SKY_MASTER_ICE_AND_FIREBALL_ANIM master-of-elements [1-2,1-3,1-4,1-2]}
    [attack_anim]
        [filter_attack]
            name=eye
        [/filter_attack]
        missile_start_time=-1175
        [missile_frame]
            halo=halo/ring[1~8,-a,-b,-c,-a,-b,-c].png:75
            offset=1.0
        [/missile_frame]
        [if]
            hits=yes
            [missile_frame]
                halo=halo/implosion-1-[6~10].png:100
                offset=1.0
                sound=explosion.ogg
            [/missile_frame]
        [/if]
        [else]
        [/else]
        start_time=-1175
        [frame]
            image="units/skykingdom-magi/master-of-elements-magic[1~3,1~3,1,2].png:150"
        [/frame]
        attack_sound_start_time=-1100
        [attack_sound_frame]
            duration=75
            sound=magic-dark.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            duration=75
            sound=magic-dark.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            sound=magic-dark.ogg
        [/attack_sound_frame]
    [/attack_anim]

#define MASTER_OF_ELEMENTS_METEOR ID X Y TIME
    missile{ID}_start_time={TIME}
    [missile{ID}_frame]
        image="projectiles/fireball-n.png~FL(vert):700"
        layer=99
        auto_vflip=false
        y={Y}
        x={X}
        offset=1.0
    [/missile{ID}_frame]
    [missile{ID}_frame]
        halo=halo/rock-dust[1~5].png~SCALE(400,220):125
        offset=1.0
        auto_vflip=false
        halo_x={X}
        sound=explosion.ogg
    [/missile{ID}_frame]
#enddef
    [attack_anim]
        [filter_attack]
            name=meteor shower
        [/filter_attack]
        start_time=-800
        offset=0
        [if]
            hits=yes
            {MASTER_OF_ELEMENTS_METEOR 1 0 -800~0 -800}
            {MASTER_OF_ELEMENTS_METEOR 2 25 -800~0 -600}
            {MASTER_OF_ELEMENTS_METEOR 3 -25 -800~0 -400}
            {MASTER_OF_ELEMENTS_METEOR 4 0 -832~-32 -200}
            [frame]
                image="units/skykingdom-magi/master-of-elements-attack-magic1-[1~4,3~1].png:[150*3,500,150*3]"
                sound=fire.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                image="units/skykingdom-magi/master-of-elements-attack-magic1-[1~4,3~1].png:150"
                sound=flame-big-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
