#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Master_of_Fire
    name= _ "Master of Fire"
    race=I8 magical
    image="units/skykingdom-elementalists/master-of-fire1.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
	halo="halo/fire-master-halo.png"
    hitpoints=55
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=60
    usage=mixed fighter
    undead_variation=elementalist
    description= _ "After some time, extremely talented Fire Magi transcend their mortal bodies, becoming beings of pure flame. While they no longer have a physical body besides the fireproof robes, they still retain their mind and soul. They also have magic augmentations that allow them to speak, but they're not exactly known for being talkative, only saying as much as needed. Their control of fire is legendary, and their wrath is terrible to behold. Their duties generally involve overseeing the security of the floating isles, but they also gladly participate in extremely dangerous expeditions."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_ILLUMINATES}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_EOMA_SUMMON air (
            {SUMMON_MENU_ITEM mof_menu ( _ "Summon Fire Elemental") 12 (EoMa_Master_of_Fire) (EoMa_Fire_Elemental)}
        )}
		{ABILITY_ILLUMINATES}
		{ABILITY_EOMA_HEATAURA 10}
    [/abilities]
    [movement_costs]
        deep_water=99
        shallow_water=99
        swamp_water=99
    [/movement_costs]
    {STANDING3_ANIM units/skykingdom-elementalists/master-of-fire 150}    
    [idle_anim]
        start_time=0
        [frame]
            image="units/skykingdom-elementalists/master-of-fire-defend[1~3].png:150"
        [/frame]
    [/idle_anim]
    [idle_anim]
        start_time=0
        [frame]
            image="units/skykingdom-elementalists/master-of-fire-magic2-[1~6,5,6,5,6~1].png:150"
        [/frame]
    [/idle_anim]
    {SKY_GENERIC_DEFENSE_ANIM units/skykingdom-elementalists/master-of-fire1 units/skykingdom-elementalists/master-of-fire-defend1 units/skykingdom-elementalists/master-of-fire-defend2 units/skykingdom-elementalists/master-of-fire-defend3 units/skykingdom-elementalists/master-of-fire1 no,yes}
    [resistance]
        fire=10
        cold=120
    [/resistance]
    [attack]
        name=burning fist
        description=_"burning fist"
        icon=attacks/fist-magic-fire.png
        type=fire
        range=melee
        damage=11
        number=2
    [/attack]
    [attack]
        name=flames
        description=_"flames"
        icon=attacks/flames.png
        type=fire
        range=ranged
        damage=4
        number=10
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=fireball
        description={STR_FIREBALL}
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=11
        number=4
    [/attack]
    [attack]
        name=fire wave
        description=_"fire wave"
        icon=attacks/firewave.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_EOMA_CLEAVE_CUSTOM 0.4 40}
        [/specials]
        damage=17
        number=2
    [/attack]
    [attack]
        name=inferno
        description=_"infernal flame"
        icon=attacks/flame-big.png
        type=fire
        range=ranged
        damage=32
        number=1
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
			{WEAPON_SPECIAL_EOMA_ALLAROUND 70}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=burning fist
        [/filter_attack]
        start_time=-350
        [frame]
            image="units/skykingdom-elementalists/master-of-fire[1,-defend1,-defend2,-defend3,-defend3,1].png:[50,100*2,200,75*2]"
        [/frame]
        {SOUND:HIT_AND_MISS fire.wav fire.wav -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}
        start_time=-200
        [frame]
            image="units/skykingdom-elementalists/master-of-fire1.png:20"
        [/frame]
        [frame]
            image="units/skykingdom-elementalists/master-of-fire[-defend1,-defend2,-defend3,2].png:[60*3,30]"
            sound=fire.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fire wave
        [/filter_attack]
        missile_start_time=-145
        [missile_frame]
            image="projectiles/firewave-n[1~5].png:75"
            image_diagonal="projectiles/firewave-[1~5].png:75"
            image_mod=~SCALE(130,130)
            offset=0.0~0.2:50,0.2~0.4:50,0.4~0.6:50,0.6~0.8:50,0.8~1.0:50
            sound=fire.wav
        [/missile_frame]
        start_time=-445
        [frame]
            image="units/skykingdom-elementalists/master-of-fire1.png:100"
        [/frame]
        [frame]
            image="units/skykingdom-elementalists/master-of-fire[-defend1,-defend2,-defend3,2].png:100"
            sound=fire.wav
        [/frame]
    [/attack_anim]

    {SKY_MOF_FLAMES_ANIM 1 master-of-fire-magic1-}
    {SKY_MOF_FLAMES_ANIM 2 master-of-fire-magic1-}
    {SKY_MOF_FLAMES_ANIM 3 master-of-fire-magic1-}
    [attack_anim]
        [filter_attack]
            name=inferno
        [/filter_attack]
        [missile_frame]
        [/missile_frame]
        start_time=-1350
        [frame]
            image="units/skykingdom-elementalists/master-of-fire-magic2-1.png:150"
            halo=halo/inf1.png
            halo_x,halo_y=0,-100
        [/frame]
        [frame]
            image="units/skykingdom-elementalists/master-of-fire-magic2-[2~6,5,6,5,6,5,6,4~1].png:[150*5,75*6,100*4]"
            halo=halo/inf2.png:150,halo/inf3.png:150,halo/inf4.png:150,halo/inf5.png:150,halo/inf6.png:150,halo/inf5.png:75,halo/inf6.png:75,halo/inf5.png:75,halo/inf6.png:75,halo/inf5.png:75,halo/inf6.png:75,halo/inf4.png:75,halo/inf3.png:100,halo/inf2.png:100,halo/inf1.png:100
            halo_x,halo_y=0,-100
            sound=fire.wav
        [/frame]
    [/attack_anim]
[/unit_type]
