#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Master_of_Air
    [/base_unit]
    id=EoMa_Master_of_Air_rpg
    [abilities]
        {ABILITY_EOMA_HITANDRUN_RPG}
        {ABILITY_EOMA_SUMMON_RPG}
    [/abilities]
    [attack]
		damage=12
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
        damage=4
        number=7
    [/attack]
    [attack]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
        damage=22
    [/attack]
[/unit_type]
