#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Master_of_Air
    name= _ "Master of Air"
    race=human
    image="units/skykingdom-elementalists/master-of-air2.png"

    profile="portraits/sky_kingdom/masterofair.png"
    small_profile="portraits/sky_kingdom/masterofair.png~SCALE(205,205)"
    hitpoints=50
    movement_type=fly
    movement=9
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=60
    usage=scout
    undead_variation=elementalist
    description= _ "Masters of Air are renowned for their mobility and control over electricity. Many of them work as cartographers, recording the layout of even the most remote locations. They are also capable of animating particles of air, shaping them into air elementals."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_EOMA_SUMMON air (
            {SUMMON_MENU_ITEM moa_menu ( _ "Summon Air Elemental") 16 (EoMa_Master_of_Air) (EoMa_Air_Elemental)}
        )}
    [/abilities]
    [defense]
        deep_water=40
        shallow_water=40
        reef=40
        swamp_water=40
        flat=40
        sand=40
        forest=40
        hills=40
        mountains=40
        village=40
        castle=40
        frozen=40
        unwalkable=40
        cave=50
        fungus=50
    [/defense]
    [resistance]
        pierce=35
        blade=85
        fire=90
        cold=90
        arcane=60
    [/resistance]
    {LEVITATE3_ANIM (units/skykingdom-elementalists/master-of-air) 150}
    {LEVITATE3_ANIM_FILTERED units/skykingdom-elementalists/master-of-air-ns 150 (terrain_type=Q*,Mv)}
    [idle_anim]
        start_time=0
        [frame]
            image="units/skykingdom-elementalists/master-of-air-defend[1~3].png:150"
        [/frame]
    [/idle_anim]
    [idle_anim]
        start_time=0
        [frame]
            image="units/skykingdom-elementalists/master-of-air[1~3,-magic1,-magic2,-magic3,1~3].png:[150*3,100*3,150*2,75]"
            halo=halo/ring[1~8,6~1].png:[75*6,100*3,75*5]
        [/frame]
    [/idle_anim]
    [idle_anim]
        start_time=0
        terrain_type=Q*,Mv
        [frame]
            image="units/skykingdom-elementalists/master-of-air-defend-ns[1~3].png:150"
        [/frame]
    [/idle_anim]
    [idle_anim]
        start_time=0
        terrain_type=Q*,Mv
        [frame]
            image="units/skykingdom-elementalists/master-of-air[-ns1,-ns2,-ns3,-magic-ns1,-magic-ns2,-magic-ns3,-ns1,-ns2,-ns3].png:[150*3,100*3,150*2,75]"
            halo=halo/ring[1~8,6~1].png:[75*6,100*3,75*5]
        [/frame]
    [/idle_anim]
    {SKY_GENERIC_DEFENSE_ANIM units/skykingdom-elementalists/master-of-air2 units/skykingdom-elementalists/master-of-air-defend1 units/skykingdom-elementalists/master-of-air-defend2 units/skykingdom-elementalists/master-of-air-defend3 units/skykingdom-elementalists/master-of-air2 miss}
    {SKY_GENERIC_DEFENSE_ANIM_FILTERED units/skykingdom-elementalists/master-of-air-ns2 units/skykingdom-elementalists/master-of-air-defend-ns1 units/skykingdom-elementalists/master-of-air-defend-ns2 units/skykingdom-elementalists/master-of-air-defend-ns3 units/skykingdom-elementalists/master-of-air-ns2 miss (terrain_type=Q*,Mv)}
    [attack]
        name=gust
        description=_"wind gust"
        icon=attacks/hurricane.png
        type=impact
        range=melee
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        damage=15
        number=1
    [/attack]
    [attack]
        name=sparks
        description=_"sparks"
        icon=attacks/sparks.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        damage=4
        number=8
    [/attack]
    [attack]
        name=thunder
        description=_"lightning"
        icon=attacks/lightning.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=11
        number=3
    [/attack]
    [attack]
        name=eye
        description=_"eye of the storm"
        icon=attacks/eyeofstorm.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=30
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=gust
        [/filter_attack]
        start_time=-250
        attack_sound_start_time=-100
        [if]
            hits=no
            [frame]
                image="units/skykingdom-elementalists/master-of-air[2,-defend1,-defend2,-defend3,2].png:[50,100,200,50*2]"
            [/frame]
            [attack_sound_frame]
                sound=gust.wav
            [/attack_sound_frame]
        [/if]
        [else]
            hits=yes
            missile2_start_time=-100
            [frame]
                image="units/skykingdom-elementalists/master-of-air[2,-defend1,-defend2,-defend3,2].png:[50,100,200,50*2]"
            [/frame]
            [missile2_frame]
                duration=320
                offset=1.0
                image="halo/elven/druid-healing[1~8].png:40"
                image_mod=~GS()~CS(20,20,20)
                alpha=0.8:240,0.8~0:80
                layer=80
                auto_vflip=no
                sound=magic-faeriefire.ogg
            [/missile2_frame]
            [attack_sound_frame]
                sound=gust.wav
            [/attack_sound_frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=gust
        [/filter_attack]
        terrain_type=Q*,Mv
        start_time=-250
        attack_sound_start_time=-100
        [if]
            hits=no
            [frame]
                image="units/skykingdom-elementalists/master-of-air[-ns2,-defend-ns1,-defend-ns2,-defend-ns3,-ns2].png:[50,100,200,50*2]"
            [/frame]
            [attack_sound_frame]
                sound=gust.wav
            [/attack_sound_frame]
        [/if]
        [else]
            hits=yes
            missile2_start_time=-100
            [frame]
                image="units/skykingdom-elementalists/master-of-air[-ns2,-defend-ns1,-defend-ns2,-defend-ns3,-ns2].png:[50,100,200,50*2]"
            [/frame]
            [missile2_frame]
                duration=320
                offset=1.0
                image="halo/elven/druid-healing[1~8].png:40"
                image_mod=~GS()~CS(20,20,20)
                alpha=0.8:240,0.8~0:80
                layer=80
                auto_vflip=no
                sound=magic-faeriefire.ogg
            [/missile2_frame]
            [attack_sound_frame]
                sound=gust.wav
            [/attack_sound_frame]
        [/else]
    [/attack_anim]
#define ELDER_MAGE_LIGHTNING_BOLTS VARIATION DIR HALO_X HALO_Y
    [attack_anim]
        [filter_attack]
            name=thunder
        [/filter_attack]
        missile_start_time=-100
        [missile_frame]
            offset=1.0:100
        [/missile_frame]
        direction={DIR}
        start_time=-300
        [if]
            hits=no
            [frame]
                image="units/skykingdom-elementalists/master-of-air-magic[1~3,1].png:100"
                halo=halo/lightning-bolt-{VARIATION}-1.png:100,halo/lightning-bolt-{VARIATION}-2.png:100,halo/lightning-bolt-{VARIATION}-4.png:100,misc/blank-hex.png:100
                halo_x,halo_y={HALO_X},{HALO_Y}
                sound=lightning-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/skykingdom-elementalists/master-of-air-magic[1~3,1,2].png:[100*4,50]"
                halo=halo/lightning-bolt-{VARIATION}-1.png:100,halo/lightning-bolt-{VARIATION}-2.png:100,halo/lightning-bolt-{VARIATION}-3.png:100,halo/lightning-bolt-{VARIATION}-4.png:100,misc/blank-hex.png:50
                halo_x,halo_y={HALO_X},{HALO_Y}
                sound=lightning.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=thunder
        [/filter_attack]
        terrain_type=Q*,Mv
        missile_start_time=-100
        [missile_frame]
            offset=1.0:100
        [/missile_frame]
        direction={DIR}
        start_time=-300
        [if]
            hits=no
            [frame]
                image="units/skykingdom-elementalists/master-of-air-magic[-ns1,-ns2,-ns3,-ns1].png:100"
                halo=halo/lightning-bolt-{VARIATION}-1.png:100,halo/lightning-bolt-{VARIATION}-2.png:100,halo/lightning-bolt-{VARIATION}-4.png:100,misc/blank-hex.png:100
                halo_x,halo_y={HALO_X},{HALO_Y}
                sound=lightning-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/skykingdom-elementalists/master-of-air-magic[-ns1,-ns2,-ns3,-ns1,-ns2].png:[100*4,50]"
                halo=halo/lightning-bolt-{VARIATION}-1.png:100,halo/lightning-bolt-{VARIATION}-2.png:100,halo/lightning-bolt-{VARIATION}-3.png:100,halo/lightning-bolt-{VARIATION}-4.png:100,misc/blank-hex.png:50
                halo_x,halo_y={HALO_X},{HALO_Y}
                sound=lightning.ogg
            [/frame]
        [/else]
    [/attack_anim]
#enddef
    {ELDER_MAGE_LIGHTNING_BOLTS 1 n 0 -210}
    {ELDER_MAGE_LIGHTNING_BOLTS 2 n 0 -210}
    {ELDER_MAGE_LIGHTNING_BOLTS 3 n 0 -210}
    {ELDER_MAGE_LIGHTNING_BOLTS 1 s 0 -72}
    {ELDER_MAGE_LIGHTNING_BOLTS 2 s 0 -72}
    {ELDER_MAGE_LIGHTNING_BOLTS 3 s 0 -72}
    {ELDER_MAGE_LIGHTNING_BOLTS 1 se 54 -104}
    {ELDER_MAGE_LIGHTNING_BOLTS 2 se 54 -104}
    {ELDER_MAGE_LIGHTNING_BOLTS 3 se 54 -104}
    {ELDER_MAGE_LIGHTNING_BOLTS 1 sw 54 -104}
    {ELDER_MAGE_LIGHTNING_BOLTS 2 sw 54 -104}
    {ELDER_MAGE_LIGHTNING_BOLTS 3 sw 54 -104}
    {ELDER_MAGE_LIGHTNING_BOLTS 1 ne 54 -176}
    {ELDER_MAGE_LIGHTNING_BOLTS 2 ne 54 -176}
    {ELDER_MAGE_LIGHTNING_BOLTS 3 ne 54 -176}
    {ELDER_MAGE_LIGHTNING_BOLTS 1 nw 54 -176}
    {ELDER_MAGE_LIGHTNING_BOLTS 2 nw 54 -176}
    {ELDER_MAGE_LIGHTNING_BOLTS 3 nw 54 -176}
    {SKY_AIR_SPARKS_ANIM master-of-air-magic1 master-of-air-magic2 master-of-air-magic3 master-of-air-magic-ns1 master-of-air-magic-ns2 master-of-air-magic-ns3 1}
    {SKY_AIR_SPARKS_ANIM master-of-air-magic1 master-of-air-magic2 master-of-air-magic3 master-of-air-magic-ns1 master-of-air-magic-ns2 master-of-air-magic-ns3 2}
    {SKY_AIR_SPARKS_ANIM master-of-air-magic1 master-of-air-magic2 master-of-air-magic3 master-of-air-magic-ns1 master-of-air-magic-ns2 master-of-air-magic-ns3 3}

    [attack_anim]
        [filter_attack]
            name=eye
        [/filter_attack]
        missile_start_time=-1175
        [missile_frame]
            halo=halo/ring[1~8,-a,-b,-c,-a,-b,-c].png:75
            offset=1.0
        [/missile_frame]
        [if]
            hits=yes
            [missile_frame]
                halo=halo/implosion-1-[6~10].png:100
                offset=1.0
                sound=explosion.ogg
            [/missile_frame]
        [/if]
        [else]
        [/else]
        start_time=-1175
        [frame]
            image="units/skykingdom-elementalists/master-of-air-magic[1~3,1~3,1,2].png:150"
        [/frame]
        attack_sound_start_time=-575
        [attack_sound_frame]
            duration=150
            sound=magic-dark.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            duration=150
            sound=magic-dark.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            duration=150
            sound=magic-dark.ogg
        [/attack_sound_frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=eye
        [/filter_attack]
        terrain_type=Q*,Mv
        missile_start_time=-1175
        [missile_frame]
            halo=halo/ring[1~8,-a,-b,-c,-a,-b,-c].png:75
            offset=1.0
        [/missile_frame]
        [if]
            hits=yes
            [missile_frame]
                halo=halo/implosion-1-[6~10].png:100
                offset=1.0
                sound=explosion.ogg
            [/missile_frame]
        [/if]
        [else]
        [/else]
        start_time=-1175
        [frame]
            image="units/skykingdom-elementalists/master-of-air-magic[-ns1,-ns2,-ns3,-ns1,-ns2,-ns3,-ns1,-ns2].png:150"
        [/frame]
        attack_sound_start_time=-575
        [attack_sound_frame]
            duration=150
            sound=magic-dark.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            duration=150
            sound=magic-dark.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            duration=150
            sound=magic-dark.ogg
        [/attack_sound_frame]
    [/attack_anim]
[/unit_type]
