#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Mirrorshield
    [/base_unit]
    id=EoMa_Mirrorshield_rpg
    [abilities]
        [dummy]
            id=eoma_deflectmagic_rpg
            name=""
            description=""
        [/dummy]
    [/abilities]
    [attack]
        name=shield_blade
        description=_ "shield"
        icon=attacks/mirrorshield.png
        type=blade
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=shield_pierce
        description=_ "shield"
        icon=attacks/mirrorshield-pierce.png
        type=pierce
        range=melee
        damage=13
        number=2
    [/attack]
    [attack]
        name=shield_impact
        description=_ "shield bash"
        icon=attacks/mirrorshield.png
        type=impact
        range=melee
        damage=13
        number=2
    [/attack]
    [attack]
        name=secret hit
        description=_"secret hit"
        icon=attacks/faerie-fire.png
        type=secret
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_ANTISHIELD}
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
    [/attack]
[/unit_type]
