#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Mystic_Warrior
    name= _ "Mystic Warrior"
    race=human
    image="units/skykingdom-warriors/mysticwarrior.png"
    profile="portraits/sky_kingdom/mysticwarrior.png"
    small_profile="portraits/sky_kingdom/mysticwarrior.png~SCALE(205,205)"

    undead_variation=hiddenface
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [resistance]
        fire=80
        cold=80
        arcane=70
        impact=110
    [/resistance]
    {SKY_HIDDEN_MOVMENT_ANIM mysticwarrior n attack-2}
    {SKY_HIDDEN_MOVMENT_ANIM mysticwarrior s attack-3}
    {SKY_HIDDEN_MOVMENT_ANIM mysticwarrior ne,nw attack-3}
    {SKY_HIDDEN_MOVMENT_ANIM mysticwarrior se,sw attack-1}
    hitpoints=49
    movement_type=elusivefoot
    movement=6
    experience=105
    level=2
    alignment=lawful
    advances_to=EoMa_Sky_Guardian,EoMa_Mirrorshield
    cost=30
    usage=fighter
    description= _ "Mystic Warriors are talented Hidden Faces, who received additional magic augmentation, making their reflexes far superior to that of a normal human. They use a rather unusual kind of enchanted weapon, which can either act as a bladed whip, harden to become a blunt weapon, or shoot magic  at foes. Their role in the Sky Kingdom society isn't much different from that of the Hidden Faces, but they are certainly more formidable."
    die_sound={SOUND_LIST:HUMAN_DIE}
    ignore_race_traits=yes
    num_traits=2
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    {TRAIT_FEARLESS}
    {TRAIT_QUICK}
    {TRAIT_HEALTHY}
    {SKY_GENERIC_DEFENSE_ANIM units/skykingdom-warriors/mysticwarrior units/skykingdom-warriors/mysticwarrior-attack-1 units/skykingdom-warriors/mysticwarrior-attack-2 units/skykingdom-warriors/mysticwarrior-attack-3 units/skykingdom-warriors/mysticwarrior miss}
    {SKY_GENERIC_DEFENSE_ANIM units/skykingdom-warriors/mysticwarrior units/skykingdom-warriors/mysticwarrior-attack-1 units/skykingdom-warriors/mysticwarrior-attack-2 units/skykingdom-warriors/mysticwarrior-attack-3 units/skykingdom-warriors/mysticwarrior miss}
    {SKY_GENERIC_DEFENSE_ANIM units/skykingdom-warriors/mysticwarrior-attack-3 units/skykingdom-warriors/mysticwarrior-attack-2 units/skykingdom-warriors/mysticwarrior-attack-1 units/skykingdom-warriors/mysticwarrior-attack-2 units/skykingdom-warriors/mysticwarrior-attack-3 miss}
    [defend]
        hits=hit
        start_time=-126
        [frame]
            image="units/skykingdom-warriors/mysticwarrior-[attack-1,attack-2,attack-1].png:[1,250,1]"
            sound={SOUND_LIST:HUMAN_HIT}
        [/frame]
    [/defend]
    [death]
        start_time=0
        [frame]
            image="units/skykingdom-warriors/mysticwarrior-attack-[1~3,2].png:100"
        [/frame]
    [/death]
    [attack]
        name=blades
        description=_ "blades"
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=4
        number=6
        [specials]
            {WEAPON_SPECIAL_EOMA_MAGIC_COUNTER_OFFENSIVE}
        [/specials]
    [/attack]
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/quarterstaff.png
        type=impact
        range=melee
        damage=5
        number=5
        [specials]
            {WEAPON_SPECIAL_EOMA_MAGIC_COUNTER_OFFENSIVE}
        [/specials]
    [/attack]
    [attack]
        name=secret hit
        description=_"secret hit"
        icon=attacks/faerie-fire.png
        type=secret
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_ANTISHIELD}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=blades
        [/filter_attack]
        start_time=-100
        [frame]
            image="units/skykingdom-warriors/mysticwarrior-attack-[1~3].png:50"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-100
        [frame]
            image="units/skykingdom-warriors/mysticwarrior-attack-[1~3].png:50"
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=secret hit
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/secrethit.png:150"
            alpha=0.0~1.0:25,1.0:100,1.0~0.5:25
            image_mod=~SCALE(216,120)
            sound=magic-faeriefire.ogg
        [/missile_frame]
        start_time=-150
        [frame]
            image="units/skykingdom-warriors/mysticwarrior-attack-[1~3].png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
