#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Shadowmage
    name= _ "Shadow Mage"
    race=human
    image="units/skykingdom-magi/shadowmage.png"
    profile="portraits/sky_kingdom/shadowmage.png"
    small_profile="portraits/sky_kingdom/shadowmage.png~SCALE(205,205)"

    hitpoints=55
    movement_type=elusivefoot
    movement=6
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=54#52
    usage=fighter
    undead_variation=subversivemage
    description= _ "The Shadowmagi are a subsection of the black mage group, who act as the Sky Kingdom's spies. They wear special enchanted suits, which make their wearers nearly impossible to see during night-time, but don't work as well in daylight. Their job consists of observing other nations from the shadows, sending the gathered intel to the Sky Kingdom via messages attached to magical eyes every few months or so. They are also quite capable at assassination, though the need for such drastic measures is extremely rare."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/skykingdom-magi/shadowmage.png" "units/skykingdom-magi/shadowmage.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=120
        pierce=110
        impact=110
        cold=80
    [/resistance]
    [movement_costs]
        mountains=2
        cave=1
        deep_water=3
    [/movement_costs]
    [defense]
        deep_water=70
        sand=50
        frozen=50
    [/defense]
    [abilities]
        {ABILITY_EOMA_NOCTURNAL_REGENERATION 4}
        {ABILITY_EOMA_AWE_LEVEL1}
        {ABILITY_SKIRMISHER}
        {ABILITY_NIGHTSTALK}
        {ABILITY_EOMA_CAVEAMBUSH}
    [/abilities]
    [standing_anim]
        [frame]
            image="units/skykingdom-magi/shadowmage-a.png:3000"
            alpha=1.0~0.5
        [/frame]
        [frame]
            image="units/skykingdom-magi/shadowmage-a.png:3000"
            alpha=0.5~1.0
        [/frame]
        [second_frame]
            image="units/skykingdom-magi/shadowmage-b.png:1500"
            alpha=0.5~0.0
            auto_vflip=no
        [/second_frame]
        [second_frame]
            image="units/skykingdom-magi/shadowmage-b.png:1500"
            alpha=0.0~0.5
            auto_vflip=no
        [/second_frame]
    [/standing_anim]
    [pre_movement_anim]
        [frame]
            image="units/skykingdom-magi/shadowmage-attack[1,2].png:70"
            alpha=1.0~0.0
            offset=0.0~0.5
        [/frame]
    [/pre_movement_anim]
    [movement_anim]
        [frame]
            image="misc/blank-hex.png:100"
        [/frame]
    [/movement_anim]
    [post_movement_anim]
        [frame]
            image="units/skykingdom-magi/shadowmage-defense[2,1].png:70"
            alpha=0.0~1.0
            offset=-0.5~0.0
        [/frame]
    [/post_movement_anim]
    [attack]
        name=dagger
        description={STR_DAGGER}
        icon=attacks/dagger-human.png
        type=blade
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=cursed knifes
        description=_"cursed knives"
        icon=attacks/dagger-thrown-cursed-human.png
        type=pierce
        range=ranged
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
        damage=8
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-225
        [frame]
            image="units/skykingdom-magi/shadowmage-attack[1~4].png:50"
            alpha=1.0~0.0:75,0.0~1.0:75
        [/frame]
        [frame]
            image="units/skykingdom-magi/shadowmage-defense[4~1].png:50"
            alpha=1.0~0.0:75,0.0~1.0:75
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -75}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=cursed knifes
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            image="projectiles/dagger-n.png~CS(64,0,0):180"
            image_diagonal="projectiles/dagger-ne.png~CS(64,0,0):180"
            offset=0~1:150
        [/missile_frame]
        [if]
            hits=yes
            [missile_frame]
                image="halo/mystic-magic[1~5,5~1].png~GS()~CS(128,0,0):75"
                image_diagonal="halo/mystic-magic[1~5,5~1].png~GS()~CS(128,0,0):75"
                blend_ratio=0:225,0~0.3:150,0.3~0:150
                blend_color=255,255,255
                offset=1.0
                sound=magic-dark.ogg
            [/missile_frame]
        [/if]
        start_time=-450
        [frame]
            image="units/skykingdom-magi/shadowmage-defense[1~2].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -250}
    [/attack_anim]
[/unit_type]
