#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Sky_Guardian
    [/base_unit]
    id=EoMa_Sky_Guardian_rpg
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_MAGIC_COUNTER_OFFENSIVE}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_MAGIC_COUNTER_OFFENSIVE}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_MAGIC_COUNTER_OFFENSIVE}
        [/specials]
    [/attack]
    [attack]
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_ANTISHIELD}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
