#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Sorcerer
    name= _ "Sorcerer"
    race=human
    image="units/skykingdom-magi/enlightened-archmage.png"

    profile="portraits/sky_kingdom/sorcerer.png"
    small_profile="portraits/sky_kingdom/sorcerer.png~SCALE(205,205)"
    hitpoints=42
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=EoMa_Mastermage
    cost=38
    usage=mixed fighter
    undead_variation=sorcerer
    description= _ "While most battle magi are mediocre spellcasters, many, at some point in their life, decide to fully dedicate themselves to learning advanced magic, instead of just combat spells. These sorcerers spend most of their time in the libraries, universities and philosopher meeting, they still pack quite a punch with their attack spells, although their lack of daily physical exercise weakened their skill with melee weapons. Some sorcerers, given enough talent, even rise to the ranks of Master Magi..."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [standing_anim]
        start_time=0
        [frame]
            image="units/skykingdom-magi/enlightened-archmage[1~12].png:75"
        [/frame]
    [/standing_anim]
    {SKY_ENLIGHTENED_DEFENSE_ANIM archmage archmage archmage}
    [resistance]
        fire=80
        cold=80
        arcane=70
    [/resistance]
    [movement_costs]
        mountains=2
    [/movement_costs]
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/quarterstaff.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=missile
        description={STR_MISSILE}
        icon=attacks/missile-sorcerer.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=11
        number=3
    [/attack]
    {SKY_ENLIGHTENED_STAFF_ANIM archmage-attack-staff-2 archmage-attack-staff-0 archmage-attack-staff-1 archmage-attack-staff-0 archmage-attack-staff-1 archmage-attack-staff-2 archmage}
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            halo=projectiles/zamage-halo[1~3,2,1,2].png:40
            halo_x,halo_y=6,-2
        [/missile_frame]
        [if]
            hits=yes
            missile2_start_time=0
            [missile2_frame]
                duration=400
                halo="projectiles/whitemissile-impact-[1~8].png:50"
                offset=0.8,0.92,0.94,0.96,0.98,1.0,1.02,1.04
            [/missile2_frame]
        [/if]
        start_time=-500
        [frame]
            image="units/skykingdom-magi/enlightened-archmage-attack-magic1.png:100"
        [/frame]
        [frame]
            image="units/skykingdom-magi/enlightened-archmage-attack-magic[2~5].png:100"
            halo=projectiles/zamage-preparation-halo[1~7,1~7,1~7,1~7].png:14
            halo_x,halo_y=6,-2
        [/frame]
        [frame]
            image="units/skykingdom-magi/enlightened-archmage-attack-magic1.png:50"
        [/frame]
        {SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -100}
    [/attack_anim]
[/unit_type]
