#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Terramancer
    [/base_unit]
    id=EoMa_Terramancer_rpg
    advances_to=EoMa_Master_of_Earth_rpg
	[attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_FIRSTSTRIKE_RPG}
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_FIRSTSTRIKE_RPG}
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_EOMA_REVENGE2}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
    [/attack]
[/unit_type]
