#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_War_Mage
    name= _ "War Mage"
    race=human
    image="units/skykingdom-magi/enlightened-armedmage.png"

    hitpoints=53
    movement_type=smallfoot
    movement=5
    experience=115
    level=2
    alignment=neutral
    advances_to=EoMa_Golden_Mage
    cost=36
    usage=fighter
    undead_variation=battlemage
    description= _ "Though the Sky Kingdom's military is known to be fairly small, what it lacks in quantity, it makes up in quality fairly well. The War Magi are versatile troops, being quite good at both melee and ranged combat. They are generally reserved for when military presence is really needed, similarly to the Sky Guardians."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/skykingdom-magi/enlightened-armedmage-defend.png" "units/skykingdom-magi/enlightened-armedmage.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        impact=80
        pierce=80
        blade=80
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=missile
        description={STR_MISSILE}
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=12
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/skykingdom-magi/enlightened-[armedmage,armedmage-attack-staff-1,armedmage-attack-staff-2,armedmage-defend,armedmage].png:[25,75,150,100,25]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
    {BATTLEMAGE_MISSILE_ATTACK_ANIM armedmage-attack-staff-1 armedmage-attack-staff-2}
[/unit_type]
