#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Barbarian_Berserker
    name= _ "Barbarian Berserker"
    race=orc
    image="units/barbarians-orcs/orcishberserker.png"

    ellipse="misc/ellipse"
    hitpoints=35
    movement_type=orcishfoot
    movement=5
    experience=47
    level=1
    alignment=chaotic
    advances_to=EoMa_Blood_Warrior
    cost=18
    usage=fighter
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:ORC_HIT}
    undead_variation=orcberserker
    {TRAIT_FEARLESS}
    {DEFENSE_ANIM "units/barbarians-orcs/orcishberserker-blade-1.png" "units/barbarians-orcs/orcishberserker.png" {SOUND_LIST:ORC_HIT} }
	[standing_anim]
        [frame]
            image="units/barbarians-orcs/berserker/00[01~24].png:42"
        [/frame]
    [/standing_anim]
    [attack]
        name=pierce
        description={STR_CLAWS}
        icon=attacks/claws.png
        type=pierce
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=berserker frenzy
        description={STR_BERSERKER_FRENZY}
        icon=attacks/claws.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BERSERK}
            {WEAPON_SPECIAL_EOMA_ATTACK_ONLY}
        [/specials]
        range=melee
        damage=5
        number=3
    [/attack]
    {ORCISH_BERSERKS_ANIM orcishberserker}
[/unit_type]
