#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Barbarian_Lord
    name= _ "Barbarian Lord"
    race=orc
    image="units/barbarians-orcs/greatbarbarian.png"
    profile="portraits/barbarians/barbarian-lord.png"
    small_profile="portraits/barbarians/barbarian-lord.png~SCALE(205,205)"

    hitpoints=70
    movement_type=orcishfoot
    movement=5
    experience=160
    level=3
    alignment=chaotic
    advances_to=EoMa_Barbarian_King
    cost=53#52
    usage=fighter
    description= _ "Barbarian Lord is a towering, muscular figure, exuding an aura of unbridled strength and authority. As a high-ranking orc warrior, below only the Barbarian King himself, he commands respect and fear from his brethren, possessing a deadly combination of brute force and tactical acumen.

Dual-wielding a pair of devastating weapons – a heavy greatsword and a double-headed battleaxe – he rends his foes asunder, leaving a trail of carnage in his wake. He mastered this form of combat so well that he can even take on two foes in close range simultaneously, dispatching them with brutal efficiency. And if an opponent is too far to reach, he can switch to throwing hatchets instead. 

Few warriors dare to cross swords with a Barbarian Lord, and far fewer live to tell the tale."
    undead_variation=orcbarbarian
    die_sound={SOUND_LIST:ORC_DIE}
    {TRAIT_FEARLESS}
    {DEFENSE_ANIM "units/barbarians-orcs/greatbarbarian-attack-1.png" "units/barbarians-orcs/greatbarbarian.png" {SOUND_LIST:ORC_HIT} }
    [standing_anim]
        [frame]
            image="units/barbarians-orcs/barbarianlord/00[01~24].png:42"
        [/frame]
    [/standing_anim]
    [resistance]
        impact=90
        blade=80
    [/resistance]
    [attack]
        name=sword
        description={STR_SWORD}
        icon=attacks/greatsword-orcish.png
        type=blade
        range=melee
        damage=15
        number=3
    [/attack]
    [attack]
        name=battle axe
        description={STR_BATTLEAXE}
        icon=attacks/battleaxe.png
        type=blade
        range=melee
        damage=19
        number=2
    [/attack]
    [attack]
        name=sa
        description=_"sword+axe"
        icon="attacks/sword+battleaxe.png"
        type=blade
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_SPLITFIRE (_"double attack") sa}
        [/specials]
    [/attack]
    [attack]
        name=hatchet
        description={STR_HATCHET}
        type=blade
        range=ranged
        damage=9
        number=2
    [/attack]
    {ORCISH_SA_ATTACK_ANIM greatbarbarian}
    {ORCISH_HATCHET_THROW_ANIM greatbarbarian}
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        start_time=-300
        [frame]
            image="units/barbarians-orcs/greatbarbarian-attack-[1~4].png:[75,150*3]"
        [/frame]
        attack_sound_start_time=-225
        [if]
            hits=yes
            [attack_sound_frame]
                duration=150
                sound={SOUND_LIST:SWORD_SWISH}
            [/attack_sound_frame]
        [/if]
        [else]
            hits=no
            [attack_sound_frame]
                duration=150
                sound={SOUND_LIST:MISS}
            [/attack_sound_frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=battle axe
        [/filter_attack]
        start_time=-300
        [frame]
            image="units/barbarians-orcs/greatbarbarian-attack-[1,2].png:[75,150]"
        [/frame]
        [frame]
            image="units/barbarians-orcs/greatbarbarian-axe-[3,4].png:150"
        [/frame]
        attack_sound_start_time=-225
        [if]
            hits=yes
            [attack_sound_frame]
                duration=150
                sound=axe.ogg
            [/attack_sound_frame]
        [/if]
        [else]
            hits=no
            [attack_sound_frame]
                duration=150
                sound={SOUND_LIST:MISS}
            [/attack_sound_frame]
        [/else]
    [/attack_anim]
[/unit_type]
