#textdomain wesnoth-Era_of_Magic
[unit_type]
	[base_unit]
		id=EoMa_Barbarian_King
	[/base_unit]
    id=EoMa_Barbarian_King_rpg
    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
        damage=10
        number=2
        [specials]
        [/specials]
    [/attack]
[/unit_type]
