#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Blood_Warrior
    name= _ "Blood Warrior"
    race=orc
    image="units/barbarians-orcs/bloodwarrior.png"

    hitpoints=48
    movement_type=orcishfoot
    movement=5
    experience=75#higher xp cost than most other barbarian AMLAs due to fury ability
    level=2
    alignment=chaotic
    advances_to=null
    cost=33
    [advancement]
        strict_amla=yes
        max_times=1
        id=blood_warrior_damage
        description= _ "+3 non-berserk damage, +2 berserk damage, +2 HP, +25% max XP"
        image="attacks/dagger-orcish.png"
        [effect]
            apply_to=attack
            name=pierce
            increase_damage=3
        [/effect]
        [effect]
            apply_to=attack
            name=berserker frenzy
            increase_damage=2
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=25%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=blood_warrior_bloodlust
        description= _ "Bloodlust 8, +4 HP +20% max XP"
        image="attacks/curse.png"
        [effect]
            apply_to=remove_ability
            [abilities]
                {ABILITY_EOMA_BLOODLUST 5}
            [/abilities]
        [/effect]
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_BLOODLUST 8}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=4
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=blood_warrior_resistances
        description= _ "+15% blade/pierce/impact resistance, +3 HP +20% max XP"
        image="icons/armor_leather.png"
        [effect]
            apply_to=resistance
            [resistance]
                blade=-15
                pierce=-15
                impact=-15
            [/resistance]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=blood_warrior_mp
        description= _ "+1 MP, +2 HP, +20% max XP"
        image="icons/boots_elven.png"
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    {AMLA_DEFAULT}
    usage=fighter
    undead_variation=bloodwarrior
    description= _ "Blood Warriors are savage bloodthirsty orcs, driven by a singular purpose – to slaughter everything in their path. These elite Barbarian berserkers from the Barbarian faction charge into battle with no regard for their own safety, relying on their rage and martial prowess to overcome almost any obstacle.

Wielding twin gauntlet-mounted blades, they strike with lightning speed and merciless efficiency, tearing through ranks of foes without hesitation. Their eyes gleam with bloodlust, fueled by a never-ending thirst for violence; once engaged, they become an unstoppable force of nature, relentless in their pursuit of victory. 

Even after vanquishing an adversary, the Blood Warrior does not rest – he continues to press forward, seeking fresh blood add to his already impressive tally of kills."
    die_sound={SOUND_LIST:ORC_HIT}
    {TRAIT_FEARLESS}
    {DEFENSE_ANIM "units/barbarians-orcs/bloodwarrior-blade-1.png" "units/barbarians-orcs/bloodwarrior.png" {SOUND_LIST:ORC_HIT} }
    [standing_anim]
        [frame]
            image="units/barbarians-orcs/bloodwarrior/00[01~32].png:42"
        [/frame]
    [/standing_anim]
    [abilities]
        {ABILITY_EOMA_FURY}
        {ABILITY_EOMA_BLOODLUST 5}
    [/abilities]
    [attack]
        name=pierce
        description= _ "blades"
        icon=attacks/dagger-orcish.png
        type=pierce
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=berserker frenzy
        description={STR_BERSERKER_FRENZY}
        icon=attacks/dagger-orcish.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BERSERK}
            {WEAPON_SPECIAL_EOMA_ATTACK_ONLY}
        [/specials]
        range=melee
        damage=8
        number=3
    [/attack]
    {ORCISH_BERSERKS_ANIM bloodwarrior}
[/unit_type]
