#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Mighty_Cyclops
    name= _ "Cyclops Brute"
    race=cyclops
    image="units/barbarians-cyclops/mighty.png"
    
    hitpoints=64
    movement_type=largefoot
    [resistance]
        arcane=90
        impact=90
    [/resistance]
    movement=5
    experience=92
    level=2
    alignment=neutral
    advances_to=EoMa_Raging_Cyclops
    cost=32
    usage=fighter
    description={NO_DESCR_AVAILABLE}
    die_sound=cyclops-die-[1~3].ogg
    undead_variation=mightycyclops
	{DEFENSE_ANIM "units/barbarians-cyclops/mighty-defend.png" "units/barbarians-cyclops/mighty-defend.png" cyclops-hit-[1~4].ogg }
	[standing_anim]
		[frame]
			image="units/barbarians-cyclops/mighty.png:600", "units/barbarians-cyclops/mighty2.png:800"
		[/frame]
	[/standing_anim]
    [abilities]
        {ABILITY_EOMA_REGENERATES_WEAK 2}
    [/abilities]
    [attack]
        name=tree
        description=_"tree"
        type=impact
        range=melee
        damage=17
        number=2
        icon="attacks/club-small.png"
        [specials]
        [/specials]
    [/attack]
#define MIGHTY_ANIM VARIATION
    [attack_anim]
        [filter_attack]
            name=tree
        [/filter_attack]
        start_time=-200
		[frame]
			image="units/barbarians-cyclops/mighty-{VARIATION}[1~4].png:[200,100,50*2]"
		[/frame]
		{SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} 0}
		[frame]
			image="units/barbarians-cyclops/mighty-defend.png:100"
		[/frame]
    [/attack_anim]
#enddef
	{MIGHTY_ANIM attack}
	{MIGHTY_ANIM attackb}
[/unit_type]
