#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Cyclops_Goliath
    name= _ "Cyclops Goliath"
    race=cyclops
    image="units/barbarians-cyclops/goliath.png"
    image_icon="units/barbarians-cyclops/goliath-icon.png"
    profile="portraits/barbarians/cyclopsgoliath.png"
    small_profile="portraits/barbarians/cyclopsgoliath.png~SCALE(205,205)"
    
    hitpoints=105
    movement_type=largefoot
    [resistance]
        arcane=90
        impact=85
    [/resistance]
    movement=5
    experience=200
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=88
    usage=fighter
    description={NO_DESCR_AVAILABLE}
    undead_variation=mightycyclops
    die_sound=cyclops-die-[1~3].ogg
    [abilities]
        {ABILITY_EOMA_REGENERATES_WEAK 6}
        {ABILITY_EOMA_FURIOUSDEATH 21 impact}
    [/abilities]
    [death]
        start_time=0
        [frame]
            image="units/barbarians-cyclops/goliath-se[1~9].png:100"
        [/frame]
		[frame]
            image="units/barbarians-cyclops/goliath-se[1~9].png:100"
			image_mod=~FL(horiz)
        [/frame]
		sound_start_time=400
		[sound_frame]
			duration=500
			sound=mace.wav
		[/sound_frame]
		[sound_frame]
			duration=400
			sound=mace.wav
		[/sound_frame]
    [/death]
    [attack]
        name=treedestr
        description=_"tree"
        type=impact
        range=melee
        damage=31
        number=2
        icon="attacks/club.png"
        [specials]
            {WEAPON_SPECIAL_EOMA_CLEAVE_CUSTOM 0.66 66}
        [/specials]
    [/attack]
	[attack]
        name=eye
        description=_"gaze"
        type=fire
        range=ranged
        damage=16
        number=1
        icon="attacks/gaze.png"
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/barbarians-cyclops/goliath-se5.png" "units/barbarians-cyclops/goliath-se5.png" cyclops-hit-[1~4].ogg }
    {CYCLOPS_TREE_ATTACK_ANIM goliath treedestr}
	#define DCYCLOPS_LASER VARIATION DIR FACING HALO_X HALO_Y
    [attack_anim]
        [filter_attack]
            name=eye
        [/filter_attack]
        direction={DIR}
        missile_start_time=-100
        [missile_frame]
        [/missile_frame]
        start_time=-300
        [frame]
            image="units/barbarians-cyclops/goliath.png"
            halo=halo/laser-{VARIATION}-[1,2,3,4,5,2].png:100
            sound="magic-dark-big.ogg"
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
    [/attack_anim]
#enddef
    {DCYCLOPS_LASER 1 n n 12 -42}
    {DCYCLOPS_LASER 2 s s 13 25}
    {DCYCLOPS_LASER 3 ne,nw s 40 -30}
    {DCYCLOPS_LASER 4 se,sw s 40 6}
[/unit_type]
