#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Cyclops
    name= _ "Cyclops"
    race=eoma_cyclops
    image="units/barbarians-cyclops/cyclops.png"

    ellipse="misc/ellipse"
    hitpoints=49
    movement_type=largefoot
    movement=5
    experience=52
    level=1
    alignment=neutral
    advances_to=EoMa_Cyclops_Noble,EoMa_Cyclops_Brute,EoMa_Cyclops_Breaker
    cost=21
    usage=fighter
    undead_variation=cyclops
    description= _ "Cumbersome and lacking fine intellect, the Cyclops race had been driven near to extinction before becoming a part of the barbarian horde. Two centuries later and these lumbering beasts have flourished, growing in both strength and number. Some say that it was a strange magic which bound the cyclopes to their new allegiance and is perhaps a reason for their increased power. One thing about these beasts is a certainty: when facing one in combat it is best not to get hit."
    die_sound=cyclops-die-[1~3].ogg
    [standing_anim]
        [frame]
            image="units/barbarians-cyclops/cyclops/00[01~36].png:42"
        [/frame]
    [/standing_anim]
    [movement_costs]
        sand=1
    [/movement_costs]
    [resistance]
        arcane=90
        blade=90
        pierce=95
        impact=90
    [/resistance]
    [attack]
        name=fist
        description={STR_FIST}
        type=impact
        range=melee
        damage=6
        number=3
        icon="attacks/fist-human.png"
        [specials]
            {WEAPON_SPECIAL_EOMA_GROWINGFURY 0 3}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/barbarians-cyclops/cyclops-defend.png" "units/barbarians-cyclops/cyclops-defend.png" cyclops-hit-[1~4].ogg }

    {CYCLOPS_FIST_ANIM_1 cyclops}
    {CYCLOPS_FIST_ANIM_2 cyclops}

    [victory_anim]
        start_time=0
        [frame]
            image="units/barbarians-cyclops/cyclops-victory-[1~3,2,1].png:[200,150,700,200,150]"
        [/frame]
    [/victory_anim]

    [idle_anim]
        start_time=0
        [frame]
            image="units/barbarians-cyclops/cyclops-idle[1~3,2,3~1].png:[100,150,150,200,150,200,100]"
        [/frame]
    [/idle_anim]
[/unit_type]
