#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Mighty_Cyclops
    name= _ "Cyclops Brute"
    race=eoma_cyclops
    image="units/barbarians-cyclops/mighty.png"
    hitpoints=64
    movement_type=largefoot
    movement=5
    experience=88
    level=2
    alignment=neutral
    advances_to=EoMa_Raging_Cyclops
    cost=32
    usage=fighter
    description= _ "Cyclops Brute is a clumsy, dim-witted warrior. Nevertheless, he possesses raw muscle mass and unwavering determination to fight alongside his kin, relying on sheer strength and tenacity to make up for his deficiencies. Wielding a massive wooden club, he swings with gruesome efficiency, crushing any foolish enough to stand in his way. Although his movements are cumbersome, his attacks are surprisingly effective, thanks to his immense physical prowess. Unfortunately, his lack of finesse means he struggles against opponents employing subtler strategies – but don't underestimate this brute! In a straight-up slugfest, he'll leave many foes reduced to a bloody pulp."
    die_sound=cyclops-die-[1~3].ogg
    undead_variation=mightycyclops
    {DEFENSE_ANIM "units/barbarians-cyclops/mighty-defend.png" "units/barbarians-cyclops/mighty-defend.png" cyclops-hit-[1~4].ogg }
    [standing_anim]
        [frame]
            image="units/barbarians-cyclops/brute/00[01~36].png:42"
        [/frame]
    [/standing_anim]
	[movement_costs]
		sand=1
	[/movement_costs]
	[resistance]
        arcane=90
        blade=90
        pierce=85
        impact=85
    [/resistance]
    [abilities]
        {ABILITY_EOMA_REGENERATES_WEAK 2}
    [/abilities]
    [attack]
        name=tree
        description=_"tree"
        type=impact
        range=melee
        damage=17
        number=2
        icon="attacks/club-small.png"
        [specials]
        [/specials]
    [/attack]
#define MIGHTY_ANIM VARIATION
    [attack_anim]
        [filter_attack]
            name=tree
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/barbarians-cyclops/mighty-{VARIATION}[1~4].png:[200,100,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} 0}
        [frame]
            image="units/barbarians-cyclops/mighty-defend.png:100"
        [/frame]
    [/attack_anim]
#enddef
    {MIGHTY_ANIM attack}
    {MIGHTY_ANIM attackb}
[/unit_type]
