#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Cyclops_Lorekeeper
    [/base_unit]
    id=EoMa_Cyclops_Lorekeeper_rpg
    [abilities]
        {ABILITY_TELEPORT}
    [/abilities]
    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
        type=arcane
    [/attack]
[/unit_type]
