#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Cyclops_Warmonger
    name= _ "Cyclops Warmonger"
    race=eoma_cyclops
    image="units/barbarians-cyclops/warmonger.png"
    image_icon="units/barbarians-cyclops/warmonger-icon.png"
    profile="portraits/barbarians/cyclopsgoliath.webp"
    small_profile="portraits/barbarians/cyclopsgoliath.webp~SCALE(205,205)"
    hitpoints=80
    movement_type=largefoot
    movement=5
    experience=200
    level=3
    alignment=neutral
    advances_to=EoMa_Cyclops_Goliath
    cost=66#63#60
    usage=fighter
    undead_variation=mightycyclops
    description= _ "Cyclops Warmonger is a behemoth of a warrior, towering over most of the other Barbarian troops. Unlike his lesser brethren, this colossus wields a fearsome weapon – an entire tree, ripped out from the Jungle of Life's soil with his bare hands, and reinforced with metal straps to be even more effective. While such an idea would be ridiculously impractical for any smaller race, this mighty cyclops is able to swing it with as little effort as a human can swing a mace.

With a mighty swing of this colossal improvised club, he can strike multiple foes at once, either crushing enemies into a bloody puddle or sending them flying. Besides being an effective melee weapon, it is also an open mockery of the Darkblooded's reverence of the Jungle, killing them with a mostly-intact corpse of what they were trying to protect. 

When faced with certain death, the Cyclops Warmonger is engulfed by a surge of pure rage, delivering a flurry of swift, vicious blows to anyone unfortunate enough to be standing within reach before succumbing to his injuries."
    die_sound=cyclops-die-[1~3].ogg
    {DEFENSE_ANIM "units/barbarians-cyclops/warmonger-se5.png" "units/barbarians-cyclops/warmonger-se5.png" cyclops-hit-[1~4].ogg }
    [standing_anim]
        [frame]
            image="units/barbarians-cyclops/warmonger/00[01~36].png:42"
        [/frame]
    [/standing_anim]
    [movement_costs]
        sand=1
    [/movement_costs]
    [resistance]
        arcane=90
        blade=90
        pierce=85
        impact=80
    [/resistance]
    [abilities]
        {ABILITY_EOMA_REGENERATES_WEAK 4}
        {ABILITY_EOMA_FURIOUSDEATH 10 impact}
    [/abilities]
    [death]
        start_time=0
        [frame]
            image="units/barbarians-cyclops/warmonger-se[1~9].png:100"
        [/frame]
    [/death]
    [attack]
        name=treemad
        description=_"tree"
        type=impact
        range=melee
        damage=24
        number=2
        icon="attacks/club.png"
        [specials]
            {WEAPON_SPECIAL_EOMA_CLEAVE_CUSTOM 0.4 40}
        [/specials]
    [/attack]
    {CYCLOPS_TREE_ATTACK_ANIM warmonger treemad}
[/unit_type]
