#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Cyclops_Goliath
    [/base_unit]
    id=EoMa_Cyclops_Goliath_rpg
    [abilities]
        {ABILITY_EOMA_FURIOUSDEATH_RPG}
    [/abilities]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_CLEAVE_RPG}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION_OFFENSIVE}
        [/specials]
    [/attack]
[/unit_type]
