#textdomain wesnoth-Era_of_Magic
[unit_type]
	[base_unit]
		id=EoMa_Cyclops_Ritualist
	[/base_unit]
    id=EoMa_Cyclops_Ritualist_rpg
	advances_to=EoMa_Cyclops_Lorekeeper_rpg
    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
		type=arcane
    [/attack]
[/unit_type]
