#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Raging_Cyclops
    name= _ "Cyclops Warmonger"
    race=eoma_cyclops
    image="units/barbarians-cyclops/madcyclop.png"
    image_icon="units/barbarians-cyclops/madcyclop-icon.png"
    
    profile="portraits/barbarians/cyclopsgoliath.png"
    small_profile="portraits/barbarians/cyclopsgoliath.png~SCALE(205,205)"
    hitpoints=84
    movement_type=largefoot
    [resistance]
        arcane=90
        blade=90
        pierce=95
        impact=85
    [/resistance]
    movement=5
    experience=240
    level=3
    alignment=neutral
    advances_to=EoMa_Cyclops_Goliath
    cost=60
    usage=fighter
    undead_variation=mightycyclops
    description={NO_DESCR_AVAILABLE}
    die_sound=cyclops-die-[1~3].ogg
    {DEFENSE_ANIM "units/barbarians-cyclops/madcyclop-se5.png" "units/barbarians-cyclops/madcyclop-se5.png" cyclops-hit-[1~4].ogg }
    [abilities]
        {ABILITY_EOMA_REGENERATES_WEAK 4}
        {ABILITY_EOMA_FURIOUSDEATH 15 impact}
    [/abilities]
    [death]
        start_time=0
        [frame]
            image="units/barbarians-cyclops/madcyclop-se[1~9].png:100"
        [/frame]
    [/death]
    [attack]
        name=treemad
        description=_"tree"
        type=impact
        range=melee
        damage=24
        number=2
        icon="attacks/club.png"
        [specials]
            {WEAPON_SPECIAL_EOMA_CLEAVE_CUSTOM 0.5 50}
        [/specials]
    [/attack]
    {CYCLOPS_TREE_ATTACK_ANIM madcyclop treemad}
[/unit_type]
