#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Goblin_Sniper
    name= _ "Goblin Sniper"
    race=goblin
    image="units/barbarians-goblins/sniper.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=40
    movement_type=orcishfoot
    [resistance]
        arcane=90
    [/resistance]
    [defense]
        frozen=70
    [/defense]
    movement=6
    experience=80
    level=2
    alignment=chaotic
    advances_to=EoMa_Goblin_Raider
    cost=26
    usage=archer
    description={NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_POISON}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    [abilities]
    [/abilities]
    ignore_race_traits=yes
    num_traits=2
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
	undead_variation=goblinsniper
    {DEFENSE_ANIM "units/barbarians-goblins/sniper-ranged-2.png" "units/barbarians-goblins/sniper.png" {SOUND_LIST:GOBLIN_HIT} }
    [attack]
        name=dagger
        description={STR_DAGGER}
        type=blade
        range=melee
        damage=4
        number=3
        icon=attacks/dagger-orcish.png
    [/attack]
    [attack]
        name=bow
        description=_"poisoned arrow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/barbarians-goblins/[sniper,sniper-ranged-2,sniper-melee-2].png:[50,100,100]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} 0}        
        [frame]
            image="units/barbarians-goblins/[sniper-melee-2,sniper].png:50"
        [/frame]
    [/attack_anim]
    {GOBLINS_BOW_ATTACK_ANIM sniper bow}
[/unit_type]
