#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Goblin_Hunter
    name= _ "Goblin Hunter"
    race=goblin
    image=units/barbarians-goblins/hunter.png
    ellipse="misc/ellipse"
    [leading_anim]
        start_anim=-150
        [frame]
            image="units/goblins/hunter-attack-1.png:300"
        [/frame]
    [/leading_anim]
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=31
    movement_type=orcishfoot
    [resistance]
        arcane=90
    [/resistance]
    [defense]
        frozen=70
        swamp_water=60
        sand=60
    [/defense]
    movement=6
    experience=50
    level=1
    alignment=chaotic
    advances_to=EoMa_Goblin_Assassin
    cost=18
    usage=fighter
	undead_variation=goblinhunter
    description={NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_SLOW}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    {DEFENSE_ANIM "units/barbarians-goblins/hunter.png" "units/barbarians-goblins/hunter.png" {SOUND_LIST:GOBLIN_HIT} }
    [abilities]
        {ABILITY_EOMA_MOUNTAINAMBUSH}
        {ABILITY_SKIRMISHER}
    [/abilities]
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    [attack]
        name=dagger
        description={STR_DAGGER}
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=4
        number=4
    [/attack]
    [attack]
        name=bolas
        description=_"bolas"
        icon=attacks/bolas.png
        type=impact
        range=ranged
        damage=5
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]    

    {GOBLINS_MELEE_ATTACK_ANIM hunter dagger dagger-swish.wav}

    [attack_anim]
        [filter_attack]
            name=bolas
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="projectiles/bolas-n.png:200"
            image_diagonal="projectiles/bolas-ne.png"
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/barbarians-goblins/[hunter,hunter-attack-1*2,hunter-attack-3,hunter].png:[50,100*2,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS hatchet.wav hatchet-miss.wav 0}
    [/attack_anim]
[/unit_type]
