#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Goblin_Archer
    name= _ "Goblin Archer"
    race=goblin
    image="units/barbarians-goblins/archer.png"
    ellipse="misc/ellipse"

    hitpoints=28
    movement_type=orcishfoot
    movement=6
    experience=28
    level=1
    alignment=chaotic
    advances_to=EoMa_Goblin_Sniper
    cost=14
    usage=archer
    description= _ "Goblin Archers are a cunning little creatures, barely bigger than a child yet as deadly as a venomous snake. Clad in rags and armed with a crude bow, such an archer fires poison-tipped arrows at his enemies, piercing into their skin like a snake's fang. Many warriors who underestimate and mock these seemingly weak goblins end up writhing on the ground in agony with arrows stuck in their body, before being killed by the archer's comrades, while the goblin himself watches with glee."
    die_sound={SOUND_LIST:GOBLIN_DIE}
    ignore_race_traits=yes
    num_traits=2
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    {GOBLINS_DEATH_ANIM archer}
    undead_variation=goblinarcher
    {DEFENSE_ANIM "units/barbarians-goblins/archer.png" "units/barbarians-goblins/archer.png" {SOUND_LIST:GOBLIN_HIT} }
    [standing_anim]
        [frame]
            image="units/barbarians-goblins/archer/00[01~24].png:42"
        [/frame]
    [/standing_anim]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [resistance]
        arcane=90
    [/resistance]
    [attack]
        name=dagger
        description={STR_DAGGER}
        type=blade
        range=melee
        damage=3
        number=2
        icon=attacks/dagger-orcish.png
    [/attack]
    [attack]
        name=bow
        description=_"poisoned arrow"
        icon=attacks/bow.png
        type=pierce
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/barbarians-goblins/archer-melee-[1~3].png:[50,200,150]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} 0}
    [/attack_anim]
    {GOBLINS_BOW_ATTACK_ANIM archer bow}
[/unit_type]
