#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Goblin_Shaman
    name= _ "Goblin Shaman"
    race=goblin
    image="units/barbarians-goblins/shaman.png"
    ellipse="misc/ellipse"

    hitpoints=25
    movement_type=orcishfoot
    [resistance]
        arcane=80
        fire=90
        cold=90
    [/resistance]
    movement=5
    experience=38
    level=1
    alignment=chaotic
    advances_to=EoMa_Goblin_Druid,EoMa_Goblin_Wizard
    cost=17
    usage=archer
    description= _ "Long ago, an unusually intelligent goblin decided to leave his tribe, tired of his boring life. In his travels, he'd been observing users of of magic all over the world. Most goblins, orcs and trolls are too dumb to even understand it's basics, not to mention using it. He tried the best he could to learn how to use it, whatever it takes. After about a decade of observing, imitating, and stealing from various kinds of magi he encountered, he started figuring out patterns of spellcasting. Upon his return, his newfound powers attracted many a follower among goblins, who wanted to learn this outlandish skill. Most of them failed to learn even the basics, but some succeeded, and then started spreading this knowledge across the wasteland, long after their master's death, starting a chain reaction that started from a single goblin, and turned into an entire cult. These so-called goblin shamans aren't very common, but plentiful enough to be often seen in the rear of barbarian hordes, acting as healers and advisors."
    die_sound={SOUND_LIST:GOBLIN_DIE}
    ignore_race_traits=yes
    num_traits=2
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    undead_variation=goblinshaman
    {DEFENSE_ANIM "units/barbarians-goblins/shaman-idle3.png" "units/barbarians-goblins/shaman-idle1.png" {SOUND_LIST:GOBLIN_HIT} }
    [abilities]
        {ABILITY_EOMA_HEAL 5}
        {ABILITY_EOMA_REGENERATES_WEAK 2}
    [/abilities]
    [attack]
        name=staff
        description={STR_STAFF}
        type=impact
        range=melee
        damage=4
        number=1
        icon=attacks/druidstaff.png
    [/attack]
    [attack]
        name=missile
        description={STR_MISSILE}
        icon=attacks/magic.png~FL(vert)~FL(horiz)
        type=arcane
        range=ranged
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
    [/attack]
    [attack]
        name=curse
        description={STR_CURSE}
        icon=attacks/curse-goblin.png
        type=cold
        range=ranged
        damage=6
        number=1
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/barbarians-goblins/shaman.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        missile_start_time=-200
        [if]
            direction=s,se,sw
            [missile_frame]
                halo=projectiles/zmage-halo[1~5].png:48
                halo_x,halo_y=18,-16~2,-2:50
                halo_mod=~GS()~BLEND(0,0,255,0.3)~CS(0,64,255)
                offset=0.0~1.0:200
            [/missile_frame]
        [/if]
        [else]
            direction=ne,nw
            [missile_frame]
                halo=projectiles/zmage-halo[1~5].png:48
                halo_x,halo_y=18,-16~2,-2:200
                halo_mod=~GS()~BLEND(0,0,255,0.3)~CS(0,64,255)
                offset=0.0~1.0:200
            [/missile_frame]
        [/else]
        [else]
            direction=n
            [missile_frame]
                halo=projectiles/zmage-halo[1~5].png:48
                halo_x=18~2:50
                halo_mod=~GS()~BLEND(0,0,255,0.3)~CS(0,64,255)
                offset=0.0~1.0:200
            [/missile_frame]
        [/else]
        [if]
            hits=yes
            missile2_start_time=0
            [missile2_frame]
                duration=400
                halo="projectiles/whitemissile-impact-[1~8].png:50"
                halo_mod=~GS()~BLEND(0,0,255,0.3)~CS(0,64,255)
                offset=0.8,0.92,0.94,0.96,0.98,1.0,1.02,1.04
            [/missile2_frame]
        [/if]
        halo_start_time=-400
        [halo_frame]
            halo=halo/elven/nature-halo[1~6].png:75,halo/elven/nature-halo[7~8].png:50
            halo_x,halo_y=0,-8
            halo_mod=~GS()~BLEND(0,0,255,0.3)~CS(0,64,255)
            offset=0
        [/halo_frame]
        start_time=-400
        [frame]
            image="units/barbarians-goblins/shaman.png:50"
        [/frame]
        [frame]
            image="units/barbarians-goblins/shaman-idle1.png:350"
            halo="projectiles/zmage-preparation-halo[1~7,1~7].png:[21*7,28*7]"
            halo_mod=~GS()~BLEND(0,0,255,0.3)~CS(0,64,255)
            halo_x,halo_y=6,-25
        [/frame]
        [frame]
            image="units/barbarians-goblins/shaman.png:50"
        [/frame]
        {SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=curse
        [/filter_attack]
        start_time=-760
        missile_start_time=-760
        missile2_start_time=-760

        [missile_frame]
            halo="projectiles/fireball-impact-[16~1].png:60"
            halo_mod=~GS()~BLEND(180,0,255,0.4)~O(80%)
            offset=1.0
            sound=magic-faeriefire.ogg
            auto_vflip=no
        [/missile_frame]

        sound1_start_time=-500
        [sound1_frame]
            sound=wail.wav
        [/sound1_frame]

        sound2_start_time=-425
        [sound2_frame]
            sound=wail.wav
        [/sound2_frame]

        sound3_start_time=-350
        [sound3_frame]
            sound=wail.wav
        [/sound3_frame]
        [frame]
            image="units/barbarians-goblins/shaman-idle1.png:500"
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark.ogg magic-dark.ogg -200}
    [/attack_anim]
    [idle_anim]
        start_time=0
        [frame]
            image="units/barbarians-goblins/shaman-idle[1,3,2,3,2,3,1].png:[75,150*4,75*2]"
        [/frame]
    [/idle_anim]
    [victory_anim]
        start_time=0
        [frame]
            image="units/barbarians-goblins/shaman-idle[1,3,2,3,2,3,1].png:[75,150*4,75*2]"
        [/frame]
    [/victory_anim]
    [death]
        start_time=0
        [frame]
            image="misc/blank-hex.png"
            halo=projectiles/muzzle-flash-[4~14].png~SCALE(125,187):100
            halo_y=12
            sound=um.ogg
        [/frame]
    [/death]
[/unit_type]
