#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Goblin_Kamikaze
    name= _ "Goblin Kamikaze"
    race=goblin
    image="units/barbarians-goblins/kamikaze.png"

    hitpoints=14
    movement_type=smallfoot
    [resistance]
        arcane=100
        blade=110
        pierce=110
        impact=110
        fire=130
    [/resistance]
    [defense]
        frozen=70
    [/defense]
    movement=5
    experience=25
    level=0
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=12
    usage=fighter
    {TRAIT_FEARLESS_MUSTHAVE}
    description= _ "The goblins have always been expendable cannon fodder, but the barbarians' discovery of multiple abandoned gunpowder stashes in the wasteland allowed the concept to be taken to a whole new level. The horde's commanders came up with the idea of selecting some unfortunate goblins, and give them large bags of the black powder, and forcing them to blow themselves next to their enemies. The sight of such a goblin kamikaze generally makes most foes flee and try to detonate its explosive from afar with projectiles, meaning that the kamikaze are best used against foes that can't flee too far, like when surrounded or besieged."
    die_sound={SOUND_LIST:GOBLIN_DIE}
    undead_variation=goblinkamikaze
    [abilities]
        {ABILITY_EOMA_KAMIKAZE}
    [/abilities]
    {DEFENSE_ANIM "units/barbarians-goblins/kamikaze.png" "units/barbarians-goblins/kamikaze.png" {SOUND_LIST:GOBLIN_HIT} }
    [attack]
        name=spear
        description=_"explosion"
        type=fire
        range=kamikaze
        damage=20
        number=1
        icon=attacks/explosion.png
        [specials]
            {WEAPON_SPECIAL_EOMA_ALWAYSHITS}
        [/specials]
    [/attack]
    [attack]
        name=spear
        description=_"explosion"
        type=impact
        range=kamikaze
        damage=15
        number=1
        icon=attacks/explosion.png
        [specials]
            {WEAPON_SPECIAL_EOMA_ALWAYSHITS}
        [/specials]
    [/attack]
    {KAMIKAZE_ANIM spear units/barbarians-goblins/kamikaze.png}
    {GOBLINS_DEATH_ANIM kamikaze}
[/unit_type]
