#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Goblin_Warrior
    name= _ "Goblin Warrior"
    race=goblin
    image="units/barbarians-goblins/warrior.png"
    ellipse="misc/ellipse"

    hitpoints=31
    movement_type=orcishfoot
    [resistance]
        arcane=90
    [/resistance]
    [defense]
        frozen=70
    [/defense]
    movement=5
    experience=40
    level=1
    alignment=chaotic
    advances_to=EoMa_Goblin_Veteran,EoMa_Goblin_Warbanner
    cost=16
    usage=fighter
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    [abilities]
        {ABILITY_EOMA_HITANDRUN 2}
    [/abilities]
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    undead_variation=goblinwarrior2
    {DEFENSE_ANIM "units/barbarians-goblins/warrior.png" "units/barbarians-goblins/warrior.png" {SOUND_LIST:GOBLIN_HIT} }
	[standing_anim]
        [frame]
            image="units/barbarians-goblins/warrior/00[01~24].png:42"
        [/frame]
    [/standing_anim]
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=7
        number=3
        icon=attacks/spear-orcish.png
    [/attack]
    [attack]
        name=spear2
        description=_"spear throw"
        icon=attacks/spear-orcish.png
        type=pierce
        range=ranged
        damage=9
        number=1
    [/attack]
    {GOBLINS_MELEE_ATTACK_ANIM warrior spear spear.ogg}
    {GOBLINS_SPEAR_THROW_ANIM warrior}
[/unit_type]
