#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Goblin_Assassin
    name= _ "Goblin Assassin"
    race=goblin
    image=units/barbarians-goblins/assassin.png
    [leading_anim]
    start_time=-150
        [frame]
            image="units/goblins/assassin-attack-1.png:300"
        [/frame]
    [/leading_anim]
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=42
    movement_type=orcishfoot
    [resistance]
        arcane=90
    [/resistance]
    [defense]
        frozen=70
        swamp_water=60
        sand=60
    [/defense]
    movement=6
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=31
    usage=fighter
	undead_variation=goblinhunter
    description={NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_SLOW}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    {DEFENSE_ANIM "units/barbarians-goblins/assassin.png" "units/barbarians-goblins/assassin.png" {SOUND_LIST:GOBLIN_HIT} }
    [abilities]
        {ABILITY_EOMA_MOUNTAINAMBUSH}
        {ABILITY_SKIRMISHER}
		{ABILITY_EOMA_HITANDRUN 2}
    [/abilities]
    [attack]
        name=dagger
        description={STR_DAGGER}
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=6
        number=4
    [/attack]
    [attack]
        name=bolas
        description=_"bolas"
        icon=attacks/bolas.png
        type=impact
        range=ranged
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    {GOBLINS_MELEE_ATTACK_ANIM assassin dagger dagger-swish.wav}
    [attack_anim]
        [filter_attack]
            name=bolas
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="projectiles/bolas-n.png:200"
            image_diagonal="projectiles/bolas-ne.png"
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/barbarians-goblins/assassin-ranged-[2,1].png:50"
            sound={SOUND_LIST:THROW}
        [/frame]
        [frame]
            image="units/barbarians-goblins/[assassin-ranged-2,assassin-attack-3].png:50"
        [/frame]
        {SOUND:HIT_AND_MISS hatchet.wav hatchet-miss.wav -100}
        [frame]
            begin=-50
            end=50
            image="units/barbarians-goblins/assassin-attack-1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
