#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Goblin_Wizard
    name= _ "Goblin Wizard"
    race=goblin
    image="units/barbarians-goblins/wizard.png"
    hitpoints=40
    movement_type=orcishfoot
    movement=6
    experience=60
    level=2
    alignment=chaotic
    advances_to=null
    [advancement]
        strict_amla=yes
        max_times=1
        id=goblin_wizard_regen
        description= _ "Regeneration +8, +3 HP, +20% max XP"
        image="icons/potion_green_medium.png"
        [effect]
            apply_to=remove_ability
            [abilities]
                {ABILITY_EOMA_REGENERATE 5}
            [/abilities]
        [/effect]
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_REGENERATE 8}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=goblin_wizard_landmass
        description= _ "+3 damage and very skilled on landmass, +1 HP, +20% max XP"
        image="attacks/landmass.png"
        [effect]
            apply_to=attack
            name=landmass
            remove_specials=eoma_skilled
            increase_damage=3
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_EOMA_VERYSKILLED}
            [/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=1
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=goblin_wizard_curse
        description= _ "+1 damage and Drain on curse, +1 HP, +20% max XP"
        image="attacks/curse-goblin.png"
        [effect]
            apply_to=attack
            name=curse
            increase_damage=1
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_DRAIN}
            [/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=1
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=goblin_wizard_staff
        description= _ "+1 strike on staff, +3 HP, +20% max XP"
        image="attacks/druidstaff.png"
        [effect]
            apply_to=attack
            name=staff
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    {AMLA_DEFAULT}
    cost=31#34
    usage=archer
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    ignore_race_traits=yes
    num_traits=2
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    undead_variation=goblinshaman
    {DEFENSE_ANIM "units/barbarians-goblins/wizard.png" "units/barbarians-goblins/wizard.png" {SOUND_LIST:GOBLIN_HIT} }
    [standing_anim]
        [frame]
            image="units/barbarians-goblins/wizard/00[01~24].png:42"
        [/frame]
    [/standing_anim]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [resistance]
        arcane=70
        fire=80
        cold=80
    [/resistance]
    [abilities]
        {ABILITY_EOMA_REGENERATE 5}
    [/abilities]
    [attack]
        name=staff
        description={STR_STAFF}
        type=impact
        range=melee
        damage=7
        number=1
        icon=attacks/druidstaff.png
    [/attack]
    [attack]
        name=landmass
        description=_"landmass"
        icon=attacks/landmass.png
        type=impact
        range=ranged
        damage=13
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
            {WEAPON_SPECIAL_EOMA_STUN}
        [/specials]
    [/attack]
    [attack]
        name=curse
        description={STR_CURSE}
        icon=attacks/curse-goblin.png
        type=cold
        range=ranged
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/barbarians-goblins/wizard.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=curse
        [/filter_attack]
        start_time=-760
        missile_start_time=-760
        missile2_start_time=-760

        [missile_frame]
            halo="projectiles/fireball-impact-[16~1].png:60"
            halo_mod=~GS()~BLEND(180,0,255,0.4)~O(80%)
            offset=1.0
            sound=magic-faeriefire.ogg
            auto_vflip=no
        [/missile_frame]

        sound1_start_time=-500
        [sound1_frame]
            sound=wail.wav
        [/sound1_frame]

        sound2_start_time=-425
        [sound2_frame]
            sound=wail.wav
        [/sound2_frame]

        sound3_start_time=-350
        [sound3_frame]
            sound=wail.wav
        [/sound3_frame]
        [frame]
            image="units/barbarians-goblins/wizard-idle[1,2,1].png:160"
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark.ogg magic-dark.ogg -200}
    [/attack_anim]
    [idle_anim]
        start_time=0
        [frame]
            image="units/barbarians-goblins/wizard-idle[1,2,1,2,1].png:[75,150*3,75]"
        [/frame]
    [/idle_anim]
    [victory_anim]
        start_time=0
        [frame]
            image="units/barbarians-goblins/wizard-idle[1,2,1,2,1].png:[75,150*3,75]"
        [/frame]
    [/victory_anim]
    [healing_anim]
        start_time=0
        [frame]
            image="units/barbarians-goblins/wizard-idle[1,2,1].png:150"
            halo=halo/elven/nature-halo[1~6].png:75,halo/elven/nature-halo[7~8].png:50
            halo_x,halo_y=0,-8
            halo_mod=~GS()~BLEND(0,0,255,0.3)~CS(0,64,255)
        [/frame]
    [/healing_anim]
    [death]
        start_time=0
        [frame]
            image="misc/blank-hex.png"
            halo=projectiles/muzzle-flash-[4~14].png~SCALE(125,187):100
            halo_y=12
            sound=um.ogg
        [/frame]
    [/death]

    [attack_anim]
        [filter_attack]
            name=landmass
        [/filter_attack]
        flash_start_time=-1500
        missile_start_time=-1500
        shadow_start_time=-1500
        start_time=-1500
        [flash_frame]
            duration=400
            image="projectiles/secrethit.png"
            alpha=1.0~0.0:400,0
            y=-150
            layer=99
            offset=1.0
        [/flash_frame]
        [if]
            hits=yes
            [missile_frame]
                image=projectiles/rock-medium.png:900
                y=-150
                alpha=0~1:900
                blend_color=255,255,255
                blend_ratio=1~0:900
                offset=1.0
                auto_vflip=no
                auto_hflip=no
                layer=99
                sound=magic-faeriefire.ogg
            [/missile_frame]
            [missile_frame]
                halo=projectiles/rock-medium.png:600
                halo_y=-150~0
                offset=1.0
                auto_vflip=no
                auto_hflip=no
                layer=99
            [/missile_frame]
            [missile_frame]
                image=projectiles/rock-medium.png:150
                halo=halo/rock-dust[1~5].png:150
                halo_mod=~SCALE(251,137)
                offset=1.0
                alpha=1.0~0.0
                sound=explosion.ogg
                auto_vflip=no
                auto_hflip=no
                layer=99
            [/missile_frame]
            [shadow_frame]
                image=halo/rock-shadow.png:1500
                image_mod=~SCALE(29,14)
                offset=1
                alpha=0.0~1.0:1300,1.0~0.0:200
                auto_vflip=no
                auto_hflip=no
                layer=98
            [/shadow_frame]
            [frame]
                duration=1500
                offset=0.0
                image="units/barbarians-goblins/wizard-idle[1,2,1].png"
            [/frame]
        [/if]
        [else]
            hits=miss
            [frame]
                duration=400
                offset=0.0
                image="units/barbarians-goblins/wizard-idle[1,2,1].png"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
