#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Goblin_Assassin
    name= _ "Goblin Assassin"
    race=goblin
    image=units/barbarians-goblins/assassin.png
    hitpoints=42
    movement_type=orcishfoot
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    movement=6
    experience=55
    level=2
    alignment=chaotic
    advances_to=null
    [advancement]
        strict_amla=yes
        max_times=1
        id=GOB_AS_CONC
        description= _ "Concealment, +3 HP, +20% max XP"
        image="icons/cloak_leather_brown.png"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_CONCEALMENT}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
		[effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
	[advancement]
        strict_amla=yes
        max_times=1
        id=GOB_AS_STR
        description= _ "+1 melee strike, +3 HP, +20% max XP"
        image="attacks/dagger-undead.png"
        [effect]
            apply_to=attack
			range=melee
			increase_attacks=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
		[effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
	[advancement]
        strict_amla=yes
        max_times=1
        id=GOB_AS_HNR
        description= _ "Hit and run 3, +2 HP, +20% max XP"
        image="icons/boots_elven.png"
		[effect]
            apply_to=remove_ability
            [abilities]
                {ABILITY_EOMA_HITANDRUN 2}
            [/abilities]
        [/effect]
		[effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_HITANDRUN 3}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
		[effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=GOB_AS_FORAGE
        description= _ "Forage, +3 HP, +20% max XP"
        image="icons/leaf-acid-2.png"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_FORAGE}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
	[advancement]
        strict_amla=yes
        max_times=1
        id=GOB_AS_BOL
        description= _ "Marksman on bolas, +2 HP, +20% max XP"
        image="attacks/bolas.png"
        [effect]
            apply_to=attack
			range=ranged
			[set_specials]
				mode=append
				{WEAPON_SPECIAL_MARKSMAN}
			[/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
		[effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
	{AMLA_DEFAULT}
    cost=31
    usage=fighter
    undead_variation=goblinhunter
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:GOBLIN_DIE}
    [defend]
        hits=miss
        start_time=-100
        [frame]
            image="units/barbarians-goblins/assassin.png:300"
            offset=0.0~-0.3:150,-0.3~0.0:150
        [/frame]
    [/defend]
    {DEFENSE_ANIM_FILTERED "units/barbarians-goblins/assassin.png" "units/barbarians-goblins/assassin.png" {SOUND_LIST:GOBLIN_HIT} hits=yes}
    [standing_anim]
        [frame]
            image="units/barbarians-goblins/assassin/00[01~24].png:42"
        [/frame]
    [/standing_anim]
	[movement_costs]
		sand=1
	[/movement_costs]
    [resistance]
        arcane=90
        blade=110
        pierce=110
        impact=110
    [/resistance]
    [defense]
        shallow_water=70
        reef=60
        swamp_water=60
        flat=50
        sand=40
        forest=50
        hills=40
        mountains=30
        village=40
        castle=40
        cave=50
        frozen=60
        fungus=40
    [/defense]
    [abilities]
        {ABILITY_EOMA_MOUNTAINAMBUSH}
        {ABILITY_SKIRMISHER}
        {ABILITY_EOMA_HITANDRUN 2}
    [/abilities]
    [attack]
        name=dagger
        description={STR_DAGGER}
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=6
        number=4
    [/attack]
    [attack]
        name=bolas
        description=_"bolas"
        icon=attacks/bolas.png
        type=impact
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    {GOBLINS_MELEE_ATTACK_ANIM assassin dagger dagger-swish.wav}
    [attack_anim]
        [filter_attack]
            name=bolas
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="projectiles/bolas-n.png:200"
            image_diagonal="projectiles/bolas-ne.png"
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/barbarians-goblins/assassin-ranged-[2,1].png:50"
            sound={SOUND_LIST:THROW}
        [/frame]
        [frame]
            image="units/barbarians-goblins/[assassin-ranged-2,assassin-attack-3].png:50"
        [/frame]
        {SOUND:HIT_AND_MISS hatchet.wav hatchet-miss.wav -100}
        [frame]
            begin=-50
            end=50
            image="units/barbarians-goblins/assassin-attack-1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
