#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Goblin_Hunter
    name= _ "Goblin Hunter"
    race=goblin
    image=units/barbarians-goblins/hunter.png
    ellipse="misc/ellipse"
    hitpoints=31
    movement_type=orcishfoot
    movement=6
    experience=40
    level=1
    alignment=chaotic
    advances_to=EoMa_Goblin_Assassin
    cost=18
    usage=fighter
    undead_variation=goblinhunter
    description=_"The more agile and cunning of the goblins generally tend to forsake brute force in favor of stealth. They often ambush unsuspecting foes from mountainous areas, entangling the former with bolas, to then charge at them with daggers."
    die_sound={SOUND_LIST:GOBLIN_DIE}
    [defend]
        hits=miss
        start_time=-100
        [frame]
            image="units/barbarians-goblins/hunter.png:300"
            offset=0.0~-0.3:150,-0.3~0.0:150
        [/frame]
    [/defend]
    {DEFENSE_ANIM_FILTERED "units/barbarians-goblins/hunter.png" "units/barbarians-goblins/hunter.png" {SOUND_LIST:GOBLIN_HIT} hits=yes}
    [abilities]
        {ABILITY_EOMA_MOUNTAINAMBUSH}
        {ABILITY_SKIRMISHER}
    [/abilities]
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    [standing_anim]
        [frame]
            image="units/barbarians-goblins/hunter/00[01~24].png:42"
        [/frame]
    [/standing_anim]
    [movement_costs]
        sand=1
    [/movement_costs]
    [resistance]
        arcane=90
        blade=110
        pierce=110
        impact=110
    [/resistance]
    [defense]
        shallow_water=70
        reef=60
        swamp_water=60
        flat=50
        sand=40
        forest=50
        hills=40
        mountains=30
        village=40
        castle=40
        cave=50
        frozen=60
        fungus=40
    [/defense]
    [attack]
        name=dagger
        description={STR_DAGGER}
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=4
        number=4
    [/attack]
    [attack]
        name=bolas
        description=_"bolas"
        icon=attacks/bolas.png
        type=impact
        range=ranged
        damage=5
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]

    {GOBLINS_MELEE_ATTACK_ANIM hunter dagger dagger-swish.wav}

    [attack_anim]
        [filter_attack]
            name=bolas
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="projectiles/bolas-n.png:200"
            image_diagonal="projectiles/bolas-ne.png"
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/barbarians-goblins/[hunter,hunter-attack-1*2,hunter-attack-3,hunter].png:[50,100*2,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS hatchet.wav hatchet-miss.wav 0}
    [/attack_anim]
[/unit_type]
