#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Goblin_Warbanner
    name= _ "Goblin Warbanner"
    race=goblin
    image=units/barbarians-goblins/goblinwarbanner.png
    profile="portraits/barbarians/goblinwarbanner.png"
    ellipse="misc/ellipse"
    hitpoints=46
    movement_type=orcishfoot
    movement=5
    experience=55
    level=2
    alignment=chaotic
    advances_to=null
    [advancement]
        strict_amla=yes
        max_times=1
        id=GOB_WB_LREV
        description= _ "Lesser revenge on melee, +3 HP, +20% max XP"
        image="attacks/spear-orcish.png"
        [effect]
            apply_to=attack
            range=melee
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_EOMA_REVENGE2}
            [/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=GOB_WB_DMG
        description= _ "+3 ranged damage, +3 HP, +20% max XP"
        image="attacks/spear-thrown.png"
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=3
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=GOB_WB_DAU
        description= _ "Dauntless, +10% blade/pierce/impact resistance, +3 HP +20% max XP"
        image="icons/armor_leather.png"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_DAUNTLESS}
            [/abilities]
        [/effect]
        [effect]
            apply_to=resistance
            [resistance]
                blade=-10
                pierce=-10
                impact=-10
            [/resistance]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]

    [advancement]
        strict_amla=yes
        max_times=1
        id=GOB_WB_MOV
        description= _ "+1 MP, +3 HP, +20% max XP"
        image="icons/boots_elven.png"
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    {AMLA_DEFAULT}
    cost=26
    usage=fighter
    description= _ "Standard-bearers are an oddity amongst goblins. A goblin who has survived enough battles to be considered a veteran is rare enough, and it is rarer still for the other goblins to recognize and respect his veteran status. Nonetheless, a rouser’s frenzied goading effectively steels the less veteran fighters to strive harder and longer before they die."
    die_sound={SOUND_LIST:GOBLIN_DIE}
    undead_variation=goblinwarbanner
    {DEFENSE_ANIM "units/barbarians-goblins/goblinwarbanner.png" "units/barbarians-goblins/goblinwarbanner.png" {SOUND_LIST:GOBLIN_HIT} }
    [standing_anim]
        [frame]
            image="units/barbarians-goblins/warbanner/00[01~24].png:42"
        [/frame]
    [/standing_anim]
    [abilities]
        {ABILITY_EOMA_LEADERSHIP_RACIAL}
        {ABILITY_EOMA_SUMMON goblin (
            {SUMMON_MENU_ITEM roc_menu ( _ "Summon Roc Rider") 17 (EoMa_Goblin_Warbanner) (EoMa_Roc_Rider) EXCEPT_ON={FLYING_SUMMON_FILTER}}
        )}
    [/abilities]
    ignore_race_traits=yes
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    {TRAIT_QUICK}
    [resistance]
        arcane=90
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
        frozen=70
    [/defense]
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/barbarians/transparent/goblinwarbanner.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/barbarians/transparent/goblinwarbanner.png"
    [/portrait]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear-orcish.png
        type=pierce
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=spear2
        description=_"spear throw"
        icon=attacks/spear-orcish.png
        type=pierce
        range=ranged
        damage=7
        number=2
    [/attack]
    {GOBLINS_MELEE_ATTACK_ANIM goblinwarbanner spear spear.ogg}
    {GOBLINS_SPEAR_THROW_ANIM goblinwarbanner}
    [idle_anim]
        start_time=0
        [frame]
            image="units/barbarians-goblins/goblinwarbanner-victory[2,1,2,1,2].png:[150*4,75]"
        [/frame]
    [/idle_anim]
    [victory_anim]
        start_time=0
        [frame]
            image="units/barbarians-goblins/goblinwarbanner-victory[2,1,2,1,2].png:[150*4,75]"
        [/frame]
    [/victory_anim]
    [leading_anim]
        start_time=-125
        [frame]
            image="units/barbarians-goblins/goblinwarbanner-victory1.png:300"
        [/frame]
    [/leading_anim]
[/unit_type]
