#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Blood_Warrior
    name= _ "Blood Warrior"
    race=orc
    image="units/barbarians-orcs/bloodwarrior.png"
	{MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=orcishfoot
    movement=5
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    cost=33
    {AMLA_DEFAULT}
    usage=fighter
    undead_variation=bloodwarrior
    description={NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_BERSERK}
    die_sound={SOUND_LIST:ORC_HIT}
	{TRAIT_FEARLESS}
    {DEFENSE_ANIM "units/barbarians-orcs/bloodwarrior-blade-1.png" "units/barbarians-orcs/bloodwarrior.png" {SOUND_LIST:ORC_HIT} }
    [abilities]
        {ABILITY_EOMA_FURY}
    [dummy]
        id=eoma_bloodlust_5
        name= _ "bloodlust +5"
        description=_"This unit gains 5 hitpoints added to its current health whenever it kills a living unit."
    [/dummy]
    [/abilities]
    [attack]
        name=pierce
        description={STR_DAGGER}
        icon=attacks/dagger-orcish.png
        type=pierce
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=berserker frenzy
        description={STR_BERSERKER_FRENZY}
        icon=attacks/dagger-orcish.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
        range=melee
        damage=8
        number=3
        defense_weight=0
    [/attack]
{ORCISH_BERSERKS_ANIM bloodwarrior}
    [event]
        name=die
		id=eoma_bonecollector_bloodwarrior_event
        first_time_only=no

        [filter]
			[not]
				race=undead
				[or]
					race=mechanical
				[/or]
				[or]
					race=i8magical
				[/or]
			[/not]
        [/filter]
        [filter_second]
            ability=eoma_bloodlust_5
        [/filter_second]

		[delay]
			time=100
		[/delay]
		[heal_unit]
			[filter]
				x,y=$x2,$y2
			[/filter]
			amount=5
			animate=yes
		[/heal_unit]
    [/event]
[/unit_type]
