#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Orcish_Chieftain
    [/base_unit]
    id=EoMa_Orcish_Chieftain_rpg
    [abilities]
        {ABILITY_EOMA_RECRUIT_RPG}
    [/abilities]
[/unit_type]
