#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Roc_Master
    name= _ "Roc Master"
    race=eoma_roc
    image="units/barbarians-rocs/rocmaster.png"
    profile="portraits/barbarians/rocrider.png"
    small_profile="portraits/barbarians/rocrider.png~SCALE(205,205)"

    hitpoints=47
    movement_type=fly
    movement=9
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=36
    usage=scout
    undead_variation=rocmaster
    description=_"Veteran roc riders are an uncommon sight, as many either end up dying during skirmishes or don't see much action beyond scouting, but there are noteworthy exceptions. Such roc riders often end up being leaders of small roc rider gangs, flying around empty territories and preying on the infrequent lone travelers, and attacking poorly-guarded caravans. They also often bring handmade bows with them into battle. While the bows' low quality makes them nowhere near being fit for use on the ground, their arrows become quite deadly when shot from the sky, thanks to the vertical acceleration from falling."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    {ROC_STANDING_ANIM rocmaster}
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=90
        cold=90
        pierce=90
    [/resistance]
    [attack]
        name=claws
        description={STR_CLAWS}
        icon=attacks/claws-animal.png
        type=pierce
        range=melee
        damage=7
        number=4
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        icon=attacks/bow-orcish.png
        type=pierce
        range=ranged
        damage=7
        number=2
    [/attack]
    {DEFENSE_ANIM "units/barbarians-rocs/rocmaster1.png" "units/barbarians-rocs/rocmaster2.png" {SOUND_LIST:GRYPHON_HIT} }
    {DEFENSE_ANIM_FILTERED "units/barbarians-rocs/rocmaster-ns2.png" "units/barbarians-rocs/rocmaster-ns1.png" {SOUND_LIST:GRYPHON_HIT} (terrain_type=Q*,Mv)}
    {ROC_MELEE_ATTACK_ANIM rocmaster}
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/missile-n.png:150"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-350
        [frame]
            image="units/barbarians-rocs/rocmaster[1~5].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        terrain_type=Q*,Mv
        missile_start_time=-150
        [missile_frame]
            image="projectiles/missile-n.png:150"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-350
        [frame]
            image="units/barbarians-rocs/rocmaster-ns[1~5].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -100}
    [/attack_anim]
[/unit_type]
