#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Roc_Master
    name= _ "Roc Master"
    race=eoma_roc
    image="units/barbarians-rocs/rocmaster.png"
    profile="portraits/barbarians/rocrider.png"
    small_profile="portraits/barbarians/rocrider.png~SCALE(205,205)"

    hitpoints=60
    movement_type=fly
    movement=10
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=60
    usage=scout
    undead_variation=rocmaster
    description= _ "Roc Masters are unrivaled aerial warriors among the Barbarian horde, boasting decades of expertise in handling the majestic rocs. Having spent countless hours training and bonding with these noble birds of prey, they have reached the pinnacle of aerial combat prowess. With graceful ease, they pilot their roc towards the battlefield, their sharp eyes scanning the horizon for potential targets. As they swoop down, their mighty roc's claws effortlessly rip enemies to shreds. The Roc Master himself wields a crossbow and a bolas, for wounding or immobilizing foes safely from above. If you believe you are safe from the Barbarians' wrath in the skies, you are sorely mistaken."
    die_sound={SOUND_LIST:GRYPHON_DIE}
    {ROC_ANIMS rocmaster}
    [defense]
        mountains=40
    [/defense]
    [resistance]
        impact=110
        arcane=90
        cold=90
        pierce=90
    [/resistance]
    [attack]
        name=claws
        description={STR_CLAWS}
        icon=attacks/claws-animal.png
        type=pierce
        range=melee
        damage=10
        number=4
    [/attack]
    [attack]
        name=bow
        description={STR_CROSSBOW}
        icon=attacks/crossbow-undead.png
        type=pierce
        range=ranged
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_HITANDRUN 2}
        [/specials]
    [/attack]
    [attack]
        name=bolas
        description=_"bolas"
        icon=attacks/bolas.png
        type=impact
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_EOMA_ATTACK_ONLY}
            {WEAPON_SPECIAL_EOMA_HITANDRUN 2}
        [/specials]
    [/attack]
    {ROC_MELEE_ATTACK_ANIM rocmaster}
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/missile-n.png:150"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-350
        [frame]
            image="units/barbarians-rocs/rocmaster/00[01~08,07~02].png:35"
        [/frame]
        {SOUND:HIT_AND_MISS crossbow.ogg crossbow-miss.ogg -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bolas
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="projectiles/bolas-n.png:200"
            image_diagonal="projectiles/bolas-ne.png"
        [/missile_frame]
        start_time=-350
		[frame]
            image="units/barbarians-rocs/rocmaster/00[01~08,07~02].png:35"
			sound={SOUND_LIST:THROW}
        [/frame]
        {SOUND:HIT_AND_MISS hatchet.wav hatchet-miss.wav -100}
    [/attack_anim]
[/unit_type]
