#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Troll_Warbanner
    name= _ "Troll Warbanner"
    race=troll
    image=units/barbarians-trolls/trollwarbanner1.png

    [abilities]
        {ABILITY_EOMA_REGENERATES}
        {ABILITY_EOMA_LEADERSHIP_TROLLS}
    [/abilities]
    hitpoints=52
    movement_type=largefoot
    [resistance]
        pierce=80
        impact=90
        fire=80
        cold=80
        arcane=90
    [/resistance]
    movement=5
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=35
    usage=mixed fighter
    undead_variation=trollbarbarian
    description={NO_DESCR_AVAILABLE}
    {DEFENSE_ANIM "units/barbarians-trolls/trollwarbanner1.png" "units/barbarians-trolls/trollwarbanner1.png" {SOUND_LIST:TROLL_HIT} }
    die_sound={SOUND_LIST:TROLL_DIE}
    [idle_anim]
        [frame]
            image=units/barbarians-trolls/trollwarbanner-magic-[1~3].png:150
        [/frame]
    [/idle_anim]
    [attack]
        name=fist
        description= _ "banner"
        icon=attacks/quarterstaff.png
        type=impact
        range=melee
        damage=9
        number=2
		[specials]
			{WEAPON_SPECIAL_FIRSTSTRIKE}
		[/specials]
    [/attack]
    [attack]
        name=flame blast
        description={STR_FLAME_BLAST}
        icon=attacks/fireball.png
        type=fire
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=6
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-150
        [frame]
            image=units/barbarians-trolls/trollwarbanner-magic-[2,1].png:150
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} 0}
    [/attack_anim]
    {TROLL_FIREBALL_ANIM trollwarbanner}
[/unit_type]
