#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Troll_Fire_Wizard
    name= _ "Troll Fire Wizard"
    race=troll
    image=units/barbarians-trolls/trollwarlock1.png

    [abilities]
        {ABILITY_EOMA_REGENERATES}
    [/abilities]
    hitpoints=54
    movement_type=largefoot
    [resistance]
        pierce=80
        fire=100
        cold=100
        arcane=100
    [/resistance]
    movement=5
    experience=100
    level=2
    alignment=chaotic
    advances_to=EoMa_Troll_Warlock
    cost=38
    usage=mixed fighter
    undead_variation=trollbarbarian
    description= _ "Troll shamans are the mystical leaders of the trolls. Though not as strong or tough as other trolls, their true power lies in their fire magic, which they use to blast enemies with gouts of fire."+{SPECIAL_NOTES}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_MAGICAL}
    {DEFENSE_ANIM "units/barbarians-trolls/trollwarlock1.png" "units/barbarians-trolls/trollwarlock1.png" {SOUND_LIST:TROLL_HIT} }
    die_sound={SOUND_LIST:TROLL_DIE}
    {LEVITATE3_ANIM (units/barbarians-trolls/trollwarlock) 150}
    [attack]
        name=fist
        description={STR_FIST}
        icon=attacks/fist-troll.png
        type=impact
        range=melee
        damage=11
        number=2
    [/attack]
    [attack]
        name=flame blast
        description= _ "flame blast"
        icon=attacks/fireball.png
        type=fire
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=8
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-150
        [frame]
            image=units/barbarians-trolls/trollwarlock-melee-2.png:300
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} 0}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=flame blast
        [/filter_attack]
        missile_start_time=-350
        [if]
            direction=n,ne,nw
            hits=yes

            [missile_frame]
                image="projectiles/fireball-[n-1,n-2,n,n-2,n-1].png:[40,100,125,55,30]"
                image_diagonal="projectiles/fireball-[nw-1,nw-2,nw,nw-2,nw-1].png:[40,100,125,55,30]"
                offset=0.0~0.9
            [/missile_frame]
            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png:60"
                offset=1.0
            [/missile_frame]
        [/if]
        [else]
            direction=s,se,sw
            hits=yes

            [missile_frame]
                image="projectiles/fireball-[n-1,n-2,n,n-2,n-1].png:[40,100,125,55,30]"
                image_diagonal="projectiles/fireball-[nw-1,nw-2,nw,nw-2,nw-1].png:[40,100,125,55,30]"
                offset=0.0~0.9
            [/missile_frame]
            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png~FL(vert):60"
                offset=1.0
            [/missile_frame]
        [/else]
        [else]
            direction=n,ne,nw
            hits=no

            missile_offset=0.0~0.20,0.20~0.35,0.35~0.40,0.4~0.45
            [missile_frame]
                halo="projectiles/fireball-fail-[1~7].png:100"
            [/missile_frame]
        [/else]
        [else]
            direction=s,se,sw
            hits=no

            missile_offset=0.0~0.20,0.20~0.35,0.35~0.40,0.4~0.45
            [missile_frame]
                halo="projectiles/fireball-fail-[1~7].png~FL(vert):100"
            [/missile_frame]
        [/else]
        start_time=-200
        [frame]
            sound=fire.wav
            image=units/barbarians-trolls/trollwarlock-melee-2.png:500
        [/frame]
    [/attack_anim]
[/unit_type]
