#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Troll_Warbanner
    [/base_unit]
    id=EoMa_Troll_Warbanner_rpg
    [attack]
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_EOMA_MAGIC_HARDENING}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_EOMA_MAGIC_HARDENING}
        [/specials]
    [/attack]
[/unit_type]
