#textdomain wesnoth-Era_of_Magic
[unit_type]
	[base_unit]
		id=EoMa_Troll_Sorcerer
	[/base_unit]
    id=EoMa_Troll_Sorcerer_rpg
    advances_to=EoMa_Troll_Fire_Wizard_rpg,EoMa_Troll_Warbanner_rpg
[/unit_type]
