#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Guru_of_Magic
    [/base_unit]
    id=EoMa_Guru_of_Magic_rpg
    [abilities]
        {ABILITY_EOMA_SUMMON_RPG}
    [/abilities]
    [resistance]
        blade=70
        pierce=70
        impact=70
        fire=80
        cold=80
        arcane=80
        secret=100
    [/resistance]
    [attack]
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
        damage=17
        number=2
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_AREAEFFECT_RPG}
        [/specials]
    [/attack]
[/unit_type]
