#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Master_of_Elements
    [/base_unit]
    id=EoMa_Master_of_Elements_rpg
    [abilities]
        {ABILITY_EOMA_SUMMON_RPG}
    [/abilities]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
    [/attack]
    [attack]
        damage=4
        number=7
    [/attack]
    [attack]
    [/attack]
    [attack]
        damage=22
    [/attack]
    [attack]
        damage=16
        number=3
    [/attack]
[/unit_type]
