#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_War_Golem
    [/base_unit]
    id=EoMa_War_Golem_rpg
    advances_to=EoMa_Titan_Golem_rpg
    [resistance]
        fire=70
        cold=60
        arcane=60
    [/resistance]
    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
        number=1
    [/attack]
[/unit_type]
