# wmllint: no translatables

[textdomain]
    name="wesnoth-Era_of_Magic"
    path="data/add-ons/Era_of_Magic/translations"
[/textdomain]

# Prevent conflicts
#undef EOMA_IMAGES_DIR

# Load dependency utils
{~add-ons/Era_of_Magic/dependency-utils.cfg}

# wmlindent: start ignoring
#define EOMA_IMAGES_DIR
data/add-ons/Era_of_Magic_Resources/images#enddef
# wmlindent: stop ignoring

#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/Era_of_Magic/
[/binary_path]
#ifdef EOMA_HAVE_IMAGES
[binary_path]
    path=data/add-ons/Era_of_Magic_Resources
[/binary_path]
#endif
{~add-ons/Era_of_Magic/detect.cfg}
{~add-ons/Era_of_Magic/utils/}
{~add-ons/Era_of_Magic/maps/}
{~add-ons/Era_of_Magic/scenarios/}
{~add-ons/Era_of_Magic/english.cfg}
{~add-ons/Era_of_Magic/mainline-strings.cfg}
{~add-ons/Era_of_Magic/units/faction_idlist.cfg}
{~add-ons/Era_of_Magic/units/hide_help.cfg}
{~add-ons/Era_of_Magic/era_macros.cfg}
{~add-ons/Era_of_Magic/EoMa_eras.cfg}

#ifhave ~add-ons/DBG_Modification/_main.cfg
{~add-ons/Era_of_Magic/modificationUnitTest.cfg}
#endif

#undef EOMA_SIDE
[+units]
    {~add-ons/Era_of_Magic/units/units.cfg}
    {~add-ons/Era_of_Magic/units/Runemasters}
    {~add-ons/Era_of_Magic/units/Barbarians}
    {~add-ons/Era_of_Magic/units/Sky_Kingdom}
    {~add-ons/Era_of_Magic/units/Kharos}
    {~add-ons/Era_of_Magic/units/Summoners}
    {~add-ons/Era_of_Magic/units/Tharis}
    {~add-ons/Era_of_Magic/units/Dark_Blood_Alliance}
    {~add-ons/Era_of_Magic/units/Destroyers}
    #load unused units (for debug purposes etc.)
    {~add-ons/Era_of_Magic/units/Barbarians/unused}
[/units]
#endif

#ifdef EDITOR
{~add-ons/Era_of_Magic/utils/terrain_base.cfg}
[binary_path]
    path=data/add-ons/Era_of_Magic
[/binary_path]
#ifdef EOMA_HAVE_IMAGES
[binary_path]
    path=data/add-ons/Era_of_Magic_Resources/images
[/binary_path]
#endif
#endif

#undef EOMA_HAVE_IMAGES
#undef EOMA_HAVE_IMAGES_STATUS
#undef EOMA_IMAGES_DIR
