#textdomain wesnoth-To_Lands_Unknown

# Prevent conflicts
#undef EOMA_HAVE_IMAGES

#ifhave ~add-ons/Era_of_Magic_Resources/
    #define EOMA_HAVE_IMAGES
    #enddef
#endif

#ifndef EOMA_HAVE_IMAGES
#define EOMA_HAVE_IMAGES_STATUS
"
<small><span color='red'><b>!</b></span> <span color='#888'>"+_"The required add-on “<i>Era of Magic Resources</i>” is currently <b>not</b> installed."+"</span></small>" #enddef
#else
#define EOMA_HAVE_IMAGES_STATUS
"" #enddef
#endif
