#textdomain wesnoth-Era_of_Magic

[era]
    id=era_magic
    name= _ "Era of Magic"
    description=_"The Era of Magic consists currently of 8 unique, fully animated factions: Barbarians, Darkblooded, Destroyers, Kharos, Runemasters, Sky Kingdom, Summoners and Tharis. Many units have fancy custom abilities/weapon specials."

    require_era=yes

    {RANDOM_SIDE}
    {EOMA_SIDE default skykingdom}
    {EOMA_SIDE default summoners}
    {EOMA_SIDE default tharis}
    {EOMA_SIDE default kharos}
    {EOMA_SIDE default barbarians}
    {EOMA_SIDE default darkblood}
    {EOMA_SIDE default runemasters}
    {EOMA_SIDE default destroyers}

    {EOMA_EVENTS}
[/era]

[era]
    id=era_magic_rpg
    name= _ "Era of Magic (RPG)"
    description=_"A variant of Era of Magic designed for playing scenarios which involve elements of roleplaying (RPG) by having lvl1 units as leaders with empty recruit lists."
    require_era=yes

    {RANDOM_SIDE}
    {EOMA_SIDE mrpg skykingdom}
    {EOMA_SIDE mrpg summoners}
    {EOMA_SIDE mrpg tharis}
    {EOMA_SIDE mrpg kharos}
    {EOMA_SIDE mrpg barbarians}
    {EOMA_SIDE mrpg darkblood}
    {EOMA_SIDE mrpg runemasters}
    {EOMA_SIDE mrpg destroyers}

    {EOMA_EVENTS}
[/era]

[era]
    id=era_magic_unbalanced#also known as rpg2 or mrpg2
    name= _ "Era of Magic (RPG) (unbalanced)"
    description=_"A variant of Era of Magic designed for playing scenarios which involve elements of roleplaying (RPG) by having lvl1 units as leaders with empty recruit lists. Unit stats and abilities are unchanged from normal variant 

WARNING: some abilities may break some scenarios and/or heavily influence outcomes of matches. It is also advised to avoid using this in PvP rpg scenarios due to the heavily unbalanced nature of this variant."
    require_era=yes

    {RANDOM_SIDE}
    {EOMA_SIDE mrpg2 skykingdom}
    {EOMA_SIDE mrpg2 summoners}
    {EOMA_SIDE mrpg2 tharis}
    {EOMA_SIDE mrpg2 kharos}
    {EOMA_SIDE mrpg2 barbarians}
    {EOMA_SIDE mrpg2 darkblood}
    {EOMA_SIDE mrpg2 runemasters}
    {EOMA_SIDE mrpg2 destroyers}

    {EOMA_EVENTS}
[/era]

[era]
    id=era_magic_aoh
    name= _ "Era of Magic (Age of Heroes)"
    description=_"A variant of Era of Magic with higher level units: level 3 leaders, with level 1 and 2 units available for recruit. Not considered balanced."
    require_era=yes

    {RANDOM_SIDE}
    {EOMA_SIDE aoh skykingdom}
    {EOMA_SIDE aoh summoners}
    {EOMA_SIDE aoh tharis}
    {EOMA_SIDE aoh kharos}
    {EOMA_SIDE aoh barbarians}
    {EOMA_SIDE aoh darkblood}
    {EOMA_SIDE aoh runemasters}
    {EOMA_SIDE aoh destroyers}

    {EOMA_EVENTS}
[/era]

[era]
    id=era_magic_masters
    name= _ "Era of Magic (Masters)"
    description=_"A variant of Era of Magic with higher level units: level 3-4 leaders, with level 2 and 3 units available for recruit. Not considered balanced.

Note: level 3 leaders in this variant get the 'heroic' trait, which is a combination of strong, dextrous, resilient, quick (without the hitpoint reduction) and intelligent traits. In some cases however (mainly units with lots of ranged strikes), the units may get other traits instead."
    require_era=yes

    {RANDOM_SIDE}
    {EOMA_SIDE ms skykingdom}
    {EOMA_SIDE ms summoners}
    {EOMA_SIDE ms tharis}
    {EOMA_SIDE ms kharos}
    {EOMA_SIDE ms barbarians}
    {EOMA_SIDE ms darkblood}
    {EOMA_SIDE ms runemasters}
    {EOMA_SIDE ms destroyers}

    {EOMA_EVENTS}
[/era]
