#textdomain wesnoth-Era_of_Magic

#define EOMA_EVENTS
    {I8CUSTOMPLAGUEEVENT}
	[event]
        name=preload
        first_time_only=no
        [lua]
            code=<<
wesnoth.dofile "~add-ons/Era_of_Magic/lua/preload.lua"
>>
		[/lua]
	[/event]
	[event]
		name=prestart
		[unit]
			type=eoma_wesnoth_bug_3827
			placement=map
		[/unit]
		[kill]
			type=eoma_wesnoth_bug_3827
		[/kill]
	[/event]
#ifdef MULTIPLAYER
	#weaken tough leaders to balance things out
	[event]
		name=prestart
		[modify_unit]
			[filter]
				type=EoMa_RhamiDatu,EoMa_RhamiKai,EoMa_DharmaRhami,EoMa_HoRhami,EoMa_Efreet,EoMa_Great_Efreeti,EoMa_Great_Jinn,EoMa_Wonderful_Jinn
				canrecruit=yes
			[/filter]
			{TRAIT_WEAK}
		[/modify_unit]
		[modify_unit]
			[filter]
				type=EoMa_Efreet
				canrecruit=yes
			[/filter]
			#{TRAIT_SLOW}
			[effect]
				apply_to=movement
				increase=-1
			[/effect]
		[/modify_unit]
	[/event]
#endif
#enddef

[era]
    id=era_magic
    name= _ "Era of Magic"
#ifver WESNOTH_VERSION < 1.13.0
    description=_"The Era of Magic consists of 8 unique factions (all of which are fully animated, with many unit having fancy custom abilities/weapon specials):"+"

"+_"Sky Kingdom"+":
"{EOMA_FACTION_DESCR_SKYKINGDOM}+"

"+_"Summoners"+":
"+{EOMA_FACTION_DESCR_SUMMONERS}+"

"+_"Tharis"+":
"+{EOMA_FACTION_DESCR_THARIS}+"

"+_"Kharos"+":
"+{EOMA_FACTION_DESCR_KHAROS}+"

"+_"Barbarians"+":
"+{EOMA_FACTION_DESCR_BARBARIANS}+"

"+_"Dark Blood Alliance"+":
"+{EOMA_FACTION_DESCR_DARKBLOOD}+"

"+_"Runemasters"+":
"+{EOMA_FACTION_DESCR_RUNEMASTERS}+"

"+_"Destroyers"+":
"+{EOMA_FACTION_DESCR_DESTROYERS}#endif
#ifver WESNOTH_VERSION >= 1.13.0
    description=_"The Era of Magic consists currently of 8 unique, fully animated factions: Barbarians, Darkblooded, Destroyers, Kharos, Runemasters, Sky Kingdom, Summoners and Tharis. Many units have fancy custom abilities/weapon specials."#endif

    require_era=yes

    {RANDOM_SIDE}
    {EOMA_SIDE default skykingdom}
    {EOMA_SIDE default summoners}
    {EOMA_SIDE default tharis}
    {EOMA_SIDE default kharos}
    {EOMA_SIDE default barbarians}
    {EOMA_SIDE default darkblood}
    {EOMA_SIDE default runemasters}
    {EOMA_SIDE default destroyers}

    {EOMA_EVENTS}
[/era]

[era]
    id=era_magic_rpg
    name= _ "Era of Magic (RPG)"
    #	description=_"A variant of Era of Magic that is ideal for playing scenarios, which involve the elements of roleplaing (RPG)."
    description=_"A variant of Era of Magic designed for playing scenarios which involve elements of roleplaying (RPG) by having lvl1 units as leaders with empty recruit lists."
    require_era=yes

    {RANDOM_SIDE}
    {EOMA_SIDE mrpg skykingdom}
    {EOMA_SIDE mrpg summoners}
    {EOMA_SIDE mrpg tharis}
    {EOMA_SIDE mrpg kharos}
    {EOMA_SIDE mrpg barbarians}
    {EOMA_SIDE mrpg darkblood}
    {EOMA_SIDE mrpg runemasters}
    {EOMA_SIDE mrpg destroyers}

    {EOMA_EVENTS}
[/era]

[era]
    id=era_magic_aoh
    name= _ "Era of Magic (Age of Heroes)"
    description=_"A variant of Era of Magic with higher level units: level 3 leaders, with level 1 and 2 units available for recruit. Not considered balanced."
    require_era=yes

    {RANDOM_SIDE}
    {EOMA_SIDE aoh skykingdom}
    {EOMA_SIDE aoh summoners}
    {EOMA_SIDE aoh tharis}
    {EOMA_SIDE aoh kharos}
    {EOMA_SIDE aoh barbarians}
    {EOMA_SIDE aoh darkblood}
    {EOMA_SIDE aoh runemasters}
    {EOMA_SIDE aoh destroyers}

    {EOMA_EVENTS}
[/era]

[era]
    id=era_magic_masters&slaves
    name= _ "Era of Magic (Masters &amp; Slaves)"
    description=_"A variant of Era of Magic with higher level units: level 4 leaders, with level 2 and 3 units available for recruit. Not considered balanced."
    require_era=yes

    {RANDOM_SIDE}
    {EOMA_SIDE ms skykingdom}
    {EOMA_SIDE ms summoners}
    {EOMA_SIDE ms tharis}
    {EOMA_SIDE ms kharos}
    {EOMA_SIDE ms barbarians}
    {EOMA_SIDE ms darkblood}
    {EOMA_SIDE ms runemasters}
    {EOMA_SIDE ms destroyers}

    {EOMA_EVENTS}
[/era]

#[era]
#    id=era_magic_slaves
#    name= _ "Era of Magic (lvl3 leaders)"
#	description=_"A variant of Era of Magic with level 3 leaders and level 1 units available for recruit."
#    require_era=yes
#
#    {RANDOM_SIDE}
#    {EOMA_SIDE_OLD slaves skykingdom}
#    {EOMA_SIDE_OLD slaves summoners}
#    {EOMA_SIDE_OLD slaves tharis}
#    {EOMA_SIDE_OLD slaves kharos}
#    {EOMA_SIDE_OLD slaves barbarians}
#	{EOMA_SIDE_OLD slaves darkblood}
#    {EOMA_SIDE_OLD slaves runemasters}
#    {EOMA_SIDE_OLD slaves destroyers}
#
#    {EOMA_EVENTS}
#[/era]
