#textdomain wesnoth-Era_of_Magic

#define EOMA_SIDE ERA FACTION
    {~add-ons/Era_of_Magic/factions/{ERA}/{FACTION}-{ERA}.cfg}
#enddef

#define EOMA_HEROIC_BLACKLIST
EoMa_Master_of_Air,EoMa_Master_of_Fire,EoMa_Master_of_Water,EoMa_Pacificator,EoMa_Matriarch_of_Darkness,EoMa_Mastermage,EoMa_Master_of_Earth#enddef
#define EOMA_VETERAN_LIST
EoMa_Platinum_Warrior,EoMa_Golden_Mage,EoMa_Heavy_Summoner,EoMa_Neutral_Summoner,EoMa_Banisher,EoMa_Dwarvish_Commando,EoMa_Ancient_Cyclops,EoMa_Cyclops_Necromancer,EoMa_Crimson_Atokpi,EoMa_Atokpi_Charger,EoMa_Kharosian_Bulwark,EoMa_Orcish_Chieftain,EoMa_Great_Efreeti,EoMa_Blademaster#enddef
##define EOMA_SURVIVOR_LIST
#EoMa_Great_Efreeti,EoMa_Blademaster#enddef
#define EOMA_FANATIC_LIST
#enddef
##define EOMA_VETERANSURVIVOR_LIST
#EoMa_Avenger#enddef
##define EOMA_VETERANFANATIC_LIST
#EoMa_Goblin_Warbanner#enddef
#list is empty for now
#define EOMA_VETERANFANATIC_LIST
#enddef

#define EOMA_AMLA_LVL2
    #mark amla
    [event]
        name=pre advance
        first_time_only=no
        [filter]
        [/filter]

        {IF_VAR unit.advances_to equals () (
            [then]
                {VARIABLE eoma_amla yes}
            [/then]
        )
        }
    [/event]
    [event]
        name=post advance
        first_time_only=no
        [filter]
        [/filter]

        {IF_VAR eoma_amla equals yes (
            [then]
                {VARIABLE unit.variables.eoma_amla yes}
                [unstore_unit]
                    variable=unit
                    find_vacant=no
                [/unstore_unit]
            [/then]
        )
        }
        {CLEAR_VARIABLE eoma_amla}
    [/event]
    #apply the veteran trait to lvl2 units hitting AMLA
    [event]
        name=post advance
        first_time_only=no
        id=eoma_amla_veteran
        [filter]
            [filter_wml]
                [variables]
                    eoma_amla=yes
                [/variables]
            [/filter_wml]
            level=2
            [not]
                trait=eoma_veteran
            [/not]
            [not]
                #these use the fanatic trait instead; also exclude units with 2-stage AMLAs
                type=EoMa_Fanatic,EoMa_Sworddancer#,{EOMA_VETERANSURVIVOR_LIST},{EOMA_VETERANFANATIC_LIST}
            [/not]
            [not]
                #other veteran exemptions
                type=EoMa_Chainlady,EoMa_Cyclops_Breaker
            [/not]
        [/filter]
        [modify_unit]
            [filter]
                find_in=unit
            [/filter]
            {TRAIT_EOMA_VETERAN}
        [/modify_unit]
    [/event]
    #apply the fanatic trait to selected lvl2 units hitting AMLA
    [event]
        name=post advance
        first_time_only=no
        id=eoma_amla_fanatic
        [filter]
            [filter_wml]
                [variables]
                    eoma_amla=yes
                [/variables]
            [/filter_wml]
            type=EoMa_Fanatic,EoMa_Sworddancer
            [not]
                trait=eoma_fanatic
            [/not]
        [/filter]
        [modify_unit]
            [filter]
                find_in=unit
            [/filter]
            {TRAIT_EOMA_FANATIC}
        [/modify_unit]
    [/event]
#enddef

#define EOMA_AMLA_BUFFS
    #veteran buff
    [event]
        name=recruit,unit placed
        first_time_only=no
        id=eoma_amla_veteran_buff0
        [filter]
            type={EOMA_VETERAN_LIST}
            [not]
                trait=eoma_veteran
            [/not]
        [/filter]
        {MODIFY_UNIT find_in=unit variables.eoma_amla_unlock yes}
    [/event]
    [event]
        name=post advance
        first_time_only=no
        id=eoma_amla_veteran_buff1
        [filter]
            type={EOMA_VETERAN_LIST}
            [not]
                trait=eoma_veteran
            [/not]
        [/filter]
        {IF_VAR unit.variables.eoma_amla_unlock boolean_equals yes (
            [then]
                [modify_unit]
                    [filter]
                        find_in=unit
                    [/filter]
                    {TRAIT_EOMA_VETERAN}
                [/modify_unit]
            [/then]
        )}
        {MODIFY_UNIT find_in=unit variables.eoma_amla_unlock yes}
    [/event]
    [event]
        name=post advance
        first_time_only=no
        id=eoma_amla_veteran_buff2
        [filter]
            type={EOMA_VETERAN_LIST}
            [and]
                trait=eoma_veteran
            [/and]
        [/filter]
        {MODIFY_UNIT find_in=unit variables.amla_end yes}
    [/event]
#    #survivor buff
#    [event]
#        name=recruit,unit placed
#        first_time_only=no
#        id=eoma_amla_survivor_buff0
#        [filter]
#            type={EOMA_SURVIVOR_LIST}
#            [not]
#                trait=eoma_veteran
#            [/not]
#        [/filter]
#        {MODIFY_UNIT find_in=unit variables.eoma_amla_unlock yes}
#    [/event]
#    [event]
#        name=post advance
#        first_time_only=no
#        id=eoma_amla_survivor_buff1
#        [filter]
#            type={EOMA_SURVIVOR_LIST}
#            [not]
#                trait=eoma_survivor
#            [/not]
#        [/filter]
#        {IF_VAR unit.variables.eoma_amla_unlock boolean_equals yes (
#            [then]
#                [modify_unit]
#                    [filter]
#                        find_in=unit
#                    [/filter]
#                    {TRAIT_EOMA_SURVIVOR}
#                [/modify_unit]
#            [/then]
#        )}
#        {MODIFY_UNIT find_in=unit variables.eoma_amla_unlock yes}
#    [/event]
#    [event]
#        name=post advance
#        first_time_only=no
#        id=eoma_amla_survivor_buff2
#        [filter]
#            type={EOMA_SURVIVOR_LIST}
#            [and]
#                trait=eoma_survivor
#            [/and]
#        [/filter]
#        {MODIFY_UNIT find_in=unit variables.amla_end yes}
#    [/event]
    #fanatic buff
    [event]
        name=recruit,unit placed
        first_time_only=no
        id=eoma_amla_fanatic_buff0
        [filter]
            type={EOMA_FANATIC_LIST}
            [not]
                trait=eoma_fanatic
            [/not]
        [/filter]
        {MODIFY_UNIT find_in=unit variables.eoma_amla_unlock yes}
    [/event]
    [event]
        name=post advance
        first_time_only=no
        id=eoma_amla_fanatic_buff1
        [filter]
            type={EOMA_FANATIC_LIST}
            [not]
                trait=eoma_fanatic
            [/not]
        [/filter]
        {IF_VAR unit.variables.eoma_amla_unlock boolean_equals yes (
            [then]
                [modify_unit]
                    [filter]
                        find_in=unit
                    [/filter]
                    {TRAIT_EOMA_FANATIC}
                [/modify_unit]
            [/then]
        )}
        {MODIFY_UNIT find_in=unit variables.eoma_amla_unlock yes}
    [/event]
    [event]
        name=post advance
        first_time_only=no
        id=eoma_amla_fanatic_buff2
        [filter]
            type={EOMA_FANATIC_LIST}
            [and]
                trait=eoma_fanatic
            [/and]
        [/filter]
        {MODIFY_UNIT find_in=unit variables.amla_end yes}
    [/event]
#    #veteran + survivor buff
#    [event]
#        name=recruit,unit placed
#        first_time_only=no
#        id=eoma_amla_veteransurvivor_buff0
#        [filter]
#            type={EOMA_VETERANSURVIVOR_LIST}
#            [not]
#                trait=eoma_veteran
#            [/not]
#        [/filter]
#        {MODIFY_UNIT find_in=unit variables.eoma_amla_stage1 yes}
#        {MODIFY_UNIT find_in=unit variables.eoma_amla_stage2 no}
#    [/event]
#    [event]
#        name=post advance
#        first_time_only=no
#        id=eoma_amla_veteransurvivor_buff1
#        [filter]
#            type={EOMA_VETERANSURVIVOR_LIST}
#            [not]
#                trait=eoma_survivor
#            [/not]
#        [/filter]
#        {IF_VAR unit.variables.eoma_amla_stage2 boolean_equals yes (
#            [then]
#                [modify_unit]
#                    [filter]
#                        find_in=unit
#                    [/filter]
#                    {TRAIT_EOMA_SURVIVOR}
#                [/modify_unit]
#            [/then]
#            [else]
#                {IF_VAR unit.variables.eoma_amla_stage1 boolean_equals yes (
#                    [then]
#                        [modify_unit]
#                            [filter]
#                                find_in=unit
#                            [/filter]
#                            {TRAIT_EOMA_VETERAN}
#                        [/modify_unit]
#                        {MODIFY_UNIT find_in=unit variables.eoma_amla_stage2 yes}
#                    [/then]
#                )}
#                {MODIFY_UNIT find_in=unit variables.eoma_amla_stage1 yes}
#            [/else]
#        )}
#    [/event]
#    [event]
#        name=post advance
#        first_time_only=no
#        id=eoma_amla_veteransurvivor_buff2
#        [filter]
#            type={EOMA_VETERANSURVIVOR_LIST}
#            [and]
#                trait=eoma_survivor
#            [/and]
#        [/filter]
#        {MODIFY_UNIT find_in=unit variables.amla_end yes}
#    [/event]
    #veteran + fanatic buff
    [event]
        name=recruit,unit placed
        first_time_only=no
        id=eoma_amla_veteranfanatic_buff0
        [filter]
            type={EOMA_VETERANFANATIC_LIST}
            [not]
                trait=eoma_veteran
            [/not]
        [/filter]
        {MODIFY_UNIT find_in=unit variables.eoma_amla_stage1 yes}
        {MODIFY_UNIT find_in=unit variables.eoma_amla_stage2 no}
    [/event]
    [event]
        name=post advance
        first_time_only=no
        id=eoma_amla_veteranfanatic_buff1
        [filter]
            type={EOMA_VETERANFANATIC_LIST}
            [not]
                trait=eoma_fanatic
            [/not]
        [/filter]
        {IF_VAR unit.variables.eoma_amla_stage2 boolean_equals yes (
            [then]
                [modify_unit]
                    [filter]
                        find_in=unit
                    [/filter]
                    {TRAIT_EOMA_FANATIC}
                [/modify_unit]
            [/then]
            [else]
                {IF_VAR unit.variables.eoma_amla_stage1 boolean_equals yes (
                    [then]
                        [modify_unit]
                            [filter]
                                find_in=unit
                            [/filter]
                            {TRAIT_EOMA_VETERAN}
                        [/modify_unit]
                        {MODIFY_UNIT find_in=unit variables.eoma_amla_stage2 yes}
                    [/then]
                )}
                {MODIFY_UNIT find_in=unit variables.eoma_amla_stage1 yes}
            [/else]
        )}
    [/event]
    [event]
        name=post advance
        first_time_only=no
        id=eoma_amla_veteranfanatic_buff2
        [filter]
            type={EOMA_VETERANFANATIC_LIST}
            [and]
                trait=eoma_fanatic
            [/and]
        [/filter]
        {MODIFY_UNIT find_in=unit variables.amla_end yes}
    [/event]
#enddef

#define EOMA_EVENTS
    {I8CUSTOMPLAGUEEVENT}
    {EOMA_AMLA_LVL2}
    [event]
        name=preload
        first_time_only=no
        [lua]
            code=<<
wesnoth.dofile "~add-ons/Era_of_Magic/lua/preload.lua"
>>
        [/lua]
    [/event]
    [event]
        name=prestart
        [unit]
            type=eoma_wesnoth_bug_3827
            placement=map
        [/unit]
        [kill]
            type=eoma_wesnoth_bug_3827
        [/kill]
    [/event]
#ifdef MULTIPLAYER
    {EOMA_AMLA_BUFFS}
    #patch leaders to balance things out
    [event]
        name=prestart
        [modify_unit]
            [filter]
                type=EoMa_RhamiDatu,EoMa_RhamiKai,EoMa_DharmaRhami,EoMa_HoRhami,EoMa_Efreet,EoMa_Great_Efreeti,EoMa_Great_Jinn,EoMa_Wonderful_Jinn,EoMa_Punisher
                canrecruit=yes
                [not]
                    trait=weak
                [/not]
            [/filter]
            {TRAIT_WEAK}
        [/modify_unit]
        [modify_unit]
            [filter]
                type=EoMa_Punisher,EoMa_Chronomancer,EoMa_Mara,EoMa_Child_of_Light,EoMa_Apocalypse,EoMa_Wonderful_Jinn,EoMa_Void_Mage,EoMa_Pacificator
                canrecruit=yes
                [not]
                    trait=slow
                [/not]
            [/filter]
            {TRAIT_SLOW}
        [/modify_unit]
        [modify_unit]
            [filter]
                type=EoMa_Atokpi_Samurai
                canrecruit=yes
                [not]
                    trait=dextrous
                [/not]
            [/filter]
            {TRAIT_DEXTROUS}
        [/modify_unit]
        [modify_unit]
            [filter]
                type=EoMa_Legendary_Cyclops
                canrecruit=yes
                [not]
                    trait=strong
                [/not]
            [/filter]
            {TRAIT_STRONG}
        [/modify_unit]
        [modify_unit]
            [filter]
                type=EoMa_Efreet
                canrecruit=yes
            [/filter]
            [effect]
                apply_to=movement
                increase=-1
            [/effect]
        [/modify_unit]
        [modify_unit]
            [filter]
                type=EoMa_Mistress_of_Light,EoMa_Great_Efreeti
                canrecruit=yes
                [not]
                    trait=slow,weak
                [/not]
            [/filter]
            {TRAIT_SLOW}
            {TRAIT_WEAK}
            [effect]
                apply_to=movement
                increase=-1
            [/effect]
        [/modify_unit]
        [modify_unit]
            [filter]
                type=EoMa_Dark_Apostle
                canrecruit=yes
                [not]
                    trait=slow,weak
                [/not]
            [/filter]
            {TRAIT_SLOW}
            {TRAIT_WEAK}
        [/modify_unit]
        #masters era leaders balancing
        [modify_unit]
            [filter]
                level=3
                canrecruit=yes
                lua_function=wesnoth.wml_conditionals.EoMa_is_masters
                [not]
                    type={EOMA_HEROIC_BLACKLIST},EoMa_Sky_Guardian
                [/not]
                [not]
                    trait=eoma_heroic
                [/not]
            [/filter]
            {TRAIT_EOMA_HEROIC}
        [/modify_unit]
        [modify_unit]
            [filter]
                level=3
                canrecruit=yes
                lua_function=wesnoth.wml_conditionals.EoMa_is_masters
                type={EOMA_HEROIC_BLACKLIST}
                [not]
                    trait=eoma_elite
                [/not]
            [/filter]
            {TRAIT_EOMA_ELITE}
        [/modify_unit]
        [modify_unit]
            [filter]
                level=3
                canrecruit=yes
                lua_function=wesnoth.wml_conditionals.EoMa_is_masters
                type=EoMa_Sky_Guardian
                [not]
                    trait=eoma_elite_alt
                [/not]
            [/filter]
            {TRAIT_EOMA_ELITE_ALT}
        [/modify_unit]
        [modify_unit]
            [filter]
                level=4
                canrecruit=yes
                [not]
                    type=EoMa_Atokpi_Master,EoMa_Fallen_Cyclops_King,EoMa_Abaddon
                [/not]
                [not]
                    trait=resilent
                [/not]
            [/filter]
            {TRAIT_RESILIENT}
        [/modify_unit]
        [heal_unit]
            [filter]
                canrecruit=yes
            [/filter]
            amount=full
            moves=full
            animate=no
        [/heal_unit]
    [/event]
#endif
#enddef
