# WML gettext helper file to allow for easy inclusion of mainline tstrings that
# are commonly used throughout this addon, without needing to embed textdomain
# declarations inside other files, which may be confusing and prone to human errors.
# They also shut up a bunch of wmllint warnings on "multiple textdomains"

############################### TEXTDOMAIN "libwesnoth-core" ###############################
#textdomain wesnoth-lib

#define STR_YES
_"Yes" #enddef
#define STR_NO
_"No" #enddef

################################ TEXTDOMAIN "wesnoth-help" #################################
#textdomain wesnoth-help

#define STR_NONLIVING_DESCRIPTION
_"Immune to drain, poison, and plague" #enddef

#define STR_HUMAN
_"race^Human" #enddef
#define STR_HUMAN_FEMALE
_"race+female^Human" #enddef
#define STR_HUMANS
_"race^Humans" #enddef

################################ TEXTDOMAIN "wesnoth-units" ################################
#textdomain wesnoth-units

#define STR_AXE
_"axe" #enddef
#define STR_BATTLEAXE
_"battle axe" #enddef
#define STR_BERSERKER_FRENZY
_"berserker frenzy" #enddef
#define STR_BOW
_"bow" #enddef
#define STR_CLAWS
_"claws" #enddef
#define STR_CROSSBOW
_"crossbow" #enddef
#define STR_CURSE
_"curse" #enddef
#define STR_DAGGER
_"dagger" #enddef
#define STR_ENSNARE
_"ensnare" #enddef
#define STR_ENTANGLE
_"entangle" #enddef
#define STR_FANGS
_"fangs" #enddef
#define STR_SLAM
_"slam" #enddef
#define STR_FIREBALL
_"fireball" #enddef
#define STR_FIST
_"fist" #enddef
#define STR_FLAME_BLAST
_"flame blast" #enddef
#define STR_HAMMER
_"hammer" #enddef
#define STR_HATCHET
_"hatchet" #enddef
#define STR_LIGHTBEAM
_"lightbeam" #enddef
#define STR_MACE
_"mace" #enddef
#define STR_MISSILE
_"missile" #enddef
#define STR_NET
_"net" #enddef
#define STR_SHADOW_WAVE
_"shadow wave" #enddef
#define STR_SPEAR
_"spear" #enddef
#define STR_STAFF
_"staff" #enddef
#define STR_SWORD
_"sword" #enddef
#define STR_TAIL
_"tail" #enddef
#define STR_THROWING_KNIVES
_"throwing knives" #enddef
#define STR_TOUCH
_"touch" #enddef
#define STR_TRIDENT
_"trident" #enddef
#define STR_WATER_SPRAY
_"water spray" #enddef
#define STR_RAM
_"ram" #enddef
