#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Air_Avatar
    name= _ "Air Avatar"
    race=I8 magical
#    image="units/summoners-elementals/god-air1.png"
    image="halo/air-clouds2/0001.png~BLIT(halo/air-lightning/0001.png~SCALE(112,112))"
    image_icon="units/summoners-elementals/air2-icon.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=32
    movement_type=smallfly
    movement=7
    experience=100
    level=2
    alignment=neutral
    advances_to=EoMa_Air_God
    cost=36
    usage=scout
    description= _ "Air avatars have distinguished themselves from mere elementals, developing into stormy vortexes, wind and dark clouds circulating inside and outside itself. Avatars have transformed into breathing tempests. Gaining a more substantial body, avatars are less susceptible the common weaponry of swords and arrows. Air avatars guide themselves with the currents they have created, drifting from place to place, crackling with lightning from within their ethereal innards."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_ARCANE}
    die_sound=wind.wav
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_EOMA_REGENERATES}
    [/abilities]
    [resistance]
        blade=60
        pierce=40
        impact=60
        fire=95
        cold=95
        arcane=30
    [/resistance]
    [defense]
        cave=60
        fungus=60
    [/defense]
	[standing_anim]
		start_time=0
		lightning_start_time=0
		[lightning_frame]
		        duration=4500
			image="halo/air-lightning/00[01~45,01~45,01~45].png"
			image_mod="~SCALE(112,112)"
			layer=99
			offset=0.0
		[/lightning_frame]
		
		[frame]
		    duration=4500
#                    image="halo/air-clouds/00[01~72].png"
                    image="halo/air-clouds2/0[001~130].png"
		[/frame]
	[/standing_anim]
	[recruit_anim]
		start_time=0
		lightning_start_time=0
		[lightning_frame]
		        duration=1200
			image="halo/air-lightning/00[01~38].png"
			image_mod="~SCALE(112,112)"
			layer=99
			offset=0.0
         		alpha=0~1:600,1
		[/lightning_frame]
		
		[frame]
		    duration=1200
                    image="halo/air-clouds2/0[001~036].png"
		    sound=magic-faeriefire.ogg
		    alpha=0~1:600,1
		[/frame]
	[/recruit_anim]
	[movement_anim]
		start_time=0
		[frame]
		    duration=100
                    image="halo/air-clouds2/00[01~05].png~BLIT(halo/air-lightning/0001.png~SCALE(112,112))"
		[/frame]
	[/movement_anim]
    [defend]
        start_time=-126
		lightning_start_time=-126
		[lightning_frame]
		        duration=250
			image="halo/air-lightning/00[01~22].png"
			image_mod="~SCALE(112,112)"
			layer=99
			offset=0.0
		[/lightning_frame]
		
		[frame]
		    duration=250
                    image="halo/air-clouds2/00[01~24].png"
		[/frame]
#        [if]
#            hit_sound_start_time=-25
#            hits=hit
#            [hit_sound_frame]
#                sound={HIT_SOUND}
#            [/hit_sound_frame]
#        [/if]
    [/defend]
    [attack]
        name=hurricane
        description=_"hurricane"
        icon=attacks/hurricane.png
        type=impact
        range=melee
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=small thunder
        description=_"lightning"
        icon=attacks/lightning.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        damage=9
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hurricane
        [/filter_attack]
        start_time=-250
	lightning_start_time=-250
	[lightning_frame]
	        duration=450
		image="halo/air-lightning/00[01~22].png"
		image_mod="~SCALE(112,112)"
		layer=99
#		alpha=0~1:500,1:1000,1~0:500
#		halo_mod=~SCALE(23,27)
		offset=0~0.6:225,0.6~0:225
	[/lightning_frame]
	[frame]
	    duration=150
            image="halo/air-clouds2/00[01~04].png"
	    sound=gust.wav
	[/frame]
	[frame]
	    duration=300
            image="halo/air-clouds2/00[04~12].png"
            sound=lightning-miss.ogg
	[/frame]
    [/attack_anim]
   
    [attack_anim]
        [filter_attack]
            name=small thunder
        [/filter_attack]
        start_time=-400
        missile_start_time=-200
	lightning_start_time=-400
	[lightning_frame]
	        duration=450
		image="halo/air-lightning/00[01~22].png"
		image_mod="~SCALE(112,112)"
		layer=99
		offset=0~0
	[/lightning_frame]
        [missile_frame]
            image="halo/circuit-n[1~3].png:75"
            image_diagonal="halo/circuit-ne[1~3].png:75"
            offset=0.5
        [/missile_frame]
        [if]
            hits=yes

        [ball_frame]
            duration=550
            image=projectiles/zmage-halo[1~5,4~1,2~5].png~GS()~BLEND(0,128,255,0.4)~CS(0,128,255)
            layer=99
            x,y=2,-2
            alpha=0~0.75:75,0.6:325,0.6~0:150
            offset=1
        [/ball_frame]
            ball_start_time=-100
            missile2_start_time=-100
            missile3_start_time=-100
        [missile_frame]
            image="halo/circuit-n[3~1].png:50"
            image_diagonal="halo/circuit-ne[3~1].png:50"
            offset=0.5
        [/missile_frame]
         [missile2_frame]
            duration=600
            halo="halo/undead/idle-flash-[1~21].png"
            halo_mod=~GS()~G(128)~B(255)
            halo_x=-12
            offset=1.0
         [/missile2_frame]
         [missile3_frame]
            duration=600
            halo="halo/undead/idle-flash-[1~21].png~FL(horiz)~FL(vert)"
            halo_mod=~GS()~G(128)~B(255)
            halo_x=12
            offset=1.0
         [/missile3_frame]
	    [frame]
	        duration=450
                image="halo/air-clouds2/00[01~16].png"
                sound=lightning-miss.ogg
	    [/frame]
        [/if]
        [else]
            hits=no
	    [frame]
	        begin=-200
		end=0
	        duration=450
                image="halo/air-clouds2/00[01~16].png"
                sound=lightning-miss.ogg
	    [/frame]
        [/else]
    [/attack_anim]
[/unit_type]

