#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Air_God
    name= _ "Air God"
    race=I8 magical
#    image="units/summoners-elementals/god-air1.png"
    image="halo/air-clouds/0001.png~BLIT(halo/air-lightning/0001.png~SCALE(152,152),20,21)"
    image_icon="units/summoners-elementals/air3-icon.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=44
    movement_type=smallfly
    movement=7
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=58
    usage=scout
    description= _ "Men fear the wind — what can be a gentle zephyr in the afternoon can turn into a twister in the evening. Wind and storm can turn the staunchest man into a rag doll dancing in the sky; lightning will then shoot him down back to earth. Yet air gods have much more to be feared, for they ride upon their own wind and bring about disasters at a mere order. Gods of the air are nigh immune to physical assault with bodies that appear almost identical to an actual storm.

Summoners believe that even the heavens quake upon the sight of this great nimbus of raging thunder and rain living in the skies, extending calamity to wherever the eye of its storm gazes."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_ARCANE}
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_EOMA_REGENERATES}
    [/abilities]
    [resistance]
        blade=50
        pierce=45
        impact=50
        fire=90
        cold=90
        arcane=30
    [/resistance]
    [defense]
        cave=60
        fungus=60
    [/defense]
	[standing_anim]
		start_time=0
		lightning_start_time=0
		overlay_start_time=0
		[lightning_frame]
			duration=9000
			image="halo/air-lightning/00[01~45,01~45,01~45,01~45,01~45,01~45].png"
			image_mod="~SCALE(152,152)"
			layer=99
			offset=0.0
		[/lightning_frame]
		
		[frame]
		    duration=9000
			image="halo/air-clouds/0[001~210].png"
		[/frame]
		
		[overlay_frame]
            image=halo/ring[8,6~1].png:[100*2,75*5]
			alpha=0.7
			layer=98
        [/overlay_frame]
		[overlay_frame]
            halo=misc/blank-hex.png:7875
        [/overlay_frame]
		[overlay_frame]
            image=halo/ring[1~7].png:[75*6,100]
			alpha=0.7
			layer=98
        [/overlay_frame]
	[/standing_anim]
	[movement_anim]
		start_time=0
		[frame]
		    duration=100
                    image="halo/air-clouds/00[01~05].png~BLIT(halo/air-lightning/0001.png~SCALE(152,152),20,21)"
		[/frame]
	[/movement_anim]
    [defend]
        start_time=-126
		lightning_start_time=-126
		[lightning_frame]
		        duration=250
			image="halo/air-lightning/00[01~22].png"
			image_mod="~SCALE(152,152)"
			layer=99
			offset=0.0
		[/lightning_frame]
		
		[frame]
		    duration=250
                    image="halo/air-clouds/00[01~24].png"
		[/frame]
#        [if]
#            hit_sound_start_time=-25
#            hits=hit
#            [hit_sound_frame]
#                sound={HIT_SOUND}
#            [/hit_sound_frame]
#        [/if]
    [/defend]
    [attack]
        name=hurricane
        description=_"hurricane"
        icon=attacks/hurricane.png
        type=impact
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=small thunder
        description=_"lightning"
        icon=attacks/lightning.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        damage=11
        number=3
    [/attack]
	[attack]
        name=area
        description=_"storm"
        icon=attacks/eyeofstorm.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
			{WEAPON_SPECIAL_EOMA_ALLAROUND 70}
        [/specials]
        damage=22
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hurricane
        [/filter_attack]
        start_time=-250
	lightning_start_time=-250
	[lightning_frame]
	        duration=450
		image="halo/air-lightning/00[01~22].png"
		image_mod="~SCALE(152,152)"
		layer=99
#		alpha=0~1:500,1:1000,1~0:500
#		halo_mod=~SCALE(23,27)
		offset=0~0.6:225,0.6~0:225
	[/lightning_frame]
	[frame]
	    duration=150
            image="halo/air-clouds/00[01~04].png"
	[/frame]
	[frame]
	    duration=300
            image="halo/air-clouds/00[04~12].png"
            sound=lightning-miss.ogg
	[/frame]
    [/attack_anim]
   
    [attack_anim]
        [filter_attack]
            name=small thunder
        [/filter_attack]
        start_time=-400
        missile_start_time=-200
	lightning_start_time=-400
	[lightning_frame]
	        duration=450
		image="halo/air-lightning/00[01~22].png"
		image_mod="~SCALE(152,152)"
		layer=99
		offset=0~0
	[/lightning_frame]
        [missile_frame]
            image="halo/circuit-n[1~3].png:75"
            image_diagonal="halo/circuit-ne[1~3].png:75"
            offset=0.5
        [/missile_frame]
        [if]
            hits=yes

        [ball_frame]
            duration=550
            image=projectiles/zmage-halo[1~5,4~1,2~5].png~GS()~BLEND(0,128,255,0.4)~CS(0,128,255)
            layer=99
            x,y=2,-2
            alpha=0~0.75:75,0.6:325,0.6~0:150
            offset=1
        [/ball_frame]
            ball_start_time=-100
            missile2_start_time=-100
            missile3_start_time=-100
        [missile_frame]
            image="halo/circuit-n[3~1].png:50"
            image_diagonal="halo/circuit-ne[3~1].png:50"
            offset=0.5
        [/missile_frame]
         [missile2_frame]
            duration=600
            halo="halo/undead/idle-flash-[1~21].png"
            halo_mod=~GS()~G(128)~B(255)
            halo_x=-12
            offset=1.0
         [/missile2_frame]
         [missile3_frame]
            duration=600
            halo="halo/undead/idle-flash-[1~21].png~FL(horiz)~FL(vert)"
            halo_mod=~GS()~G(128)~B(255)
            halo_x=12
            offset=1.0
         [/missile3_frame]
	    [frame]
	        duration=450
                image="halo/air-clouds/00[01~16].png"
                sound=lightning-miss.ogg
	    [/frame]
        [/if]
        [else]
            hits=no
	    [frame]
	        begin=-200
		end=0
	        duration=450
                image="halo/air-clouds/00[01~16].png"
                sound=lightning-miss.ogg
	    [/frame]
        [/else]
    [/attack_anim]

	[attack_anim]
		[filter_attack]
			name=area
		[/filter_attack]	
		missile_start_time=-600		
		lightning_start_time=-600
		[lightning_frame]
		        duration=1000
			image="halo/air-lightning/00[01~45].png"
			image_mod="~SCALE(152,152)"
			layer=99
			offset=0.0
		[/lightning_frame]
		
		[missile_frame]
			halo="halo/ring1.png:80"
			halo_mod=~SCALE(23,27)
			offset=0.0
		[/missile_frame]
		[missile_frame]
			halo="halo/ring2.png:80"
			halo_mod=~SCALE(45,54)
			offset=0.0
		[/missile_frame]
		[missile_frame]
			halo="halo/ring3.png:80"
			halo_mod=~SCALE(45,54)
			offset=0.0
		[/missile_frame]
		[missile_frame]
			halo="halo/ring7.png:80"
			halo_mod=~SCALE(90,108)
			offset=0.0
			sound=lightning.ogg
		[/missile_frame]
		[missile_frame]
			halo="halo/ring8.png:80"
			halo_mod=~SCALE(113,135)
			offset=0.0
		[/missile_frame]
		[missile_frame]
			halo="halo/ring-a.png:80"
			halo_mod=~SCALE(135,162)
			offset=0.0
		[/missile_frame]
		[missile_frame]
			halo="halo/ring-b.png:80"
			halo_mod=~SCALE(158,189)
			offset=0.0
		[/missile_frame]
		[missile_frame]
			halo="halo/ring-c.png:80"
			halo_mod=~SCALE(180,216)
			offset=0.0
		[/missile_frame]
		[missile_frame]
			halo="halo/ring3.png:80"
			halo_mod=~SCALE(203,243)
			offset=0.0
		[/missile_frame]
		[missile_frame]
			halo="halo/ring2.png:80"
			halo_mod=~SCALE(225,270)
			offset=0.0
		[/missile_frame]
		[missile_frame]
			halo="halo/ring1.png:80"
			halo_mod=~SCALE(248,297)
			offset=0.0
		[/missile_frame]
		
		[frame]
		    duration=1000
                    image="halo/air-clouds/00[01~24].png"
		    sound=um-miss.ogg
		[/frame]
	[/attack_anim]
[/unit_type]
