#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Banisher
    name= _ "Banisher"
    race=eoma_summoner
    image="units/summoners-humans/banisher-icon.png"
    profile="portraits/summoners/banisher.png"
    small_profile="portraits/summoners/banisher.png~SCALE(205,205)"

    hitpoints=57
    movement_type=smallfoot
    movement=6
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    {EOMA_AMLA_DEFAULT_CONDITIONAL 1 veteran_then_default trait=eoma_veteran}
    cost=55
    usage=mixed fighter
    undead_variation=dispeller
    description= _ "Banishers represent the greatest level of skill a dispeller can achieve. They can send to the Abyss magical beings that are too powerful for their less experienced colleagues, much more powerful than those a fellow Dispeller can. Like most experienced Summoners, Banishers march into battle with magical circles, but ones using the dispelling magic. It is unclear how or why circles of banishment work, but field scouts report multiple sightings of magical entities tending to destabilize when close to them, thus contributing to the Banishers' task."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        fire=60
        cold=60
        arcane=70
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [standing_anim]
        [circle_frame]
            duration=1000
            image=halo/ucircle-frames/ucircle-d-[01~23].png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [frame]
            image="units/summoners-humans/banisher.png"
            halo="halo/heavysummoner-[1~4,4~6,7~3,3~5,6~8].png:100"
            halo_mod=~GS()
            auto_vflip=no
        [/frame]
        [frame]
            image="units/summoners-humans/banisher.png"
            halo="halo/heavysummoner-[1~8,8~2].png:100"
            halo_mod=~GS()
            auto_vflip=no
        [/frame]
    [/standing_anim]
    [recruit_anim]
        [circle_frame]
            duration=600
            image=halo/ucircle-frames/ucircle-d-[01~23].png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=0~1
            offset=0.0
        [/circle_frame]
        [frame]
            image="units/summoners-humans/banisher.png:600"
            alpha=0~1:600
        [/frame]
    [/recruit_anim]
    [movement_anim]
        [circle_frame]
            duration=200
            image=halo/ucircle-frames/ucircle-d-01.png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0~1.0:200
        [/circle_frame]
        [frame]
            image="units/summoners-humans/banisher.png"
            halo="halo/heavysummoner-8.png"
            halo_mod=~GS()
            auto_vflip=no
        [/frame]
    [/movement_anim]
    [abilities]
        {ABILITY_EOMA_CIRCLE_OF_BANISHMENT}
    [/abilities]
    [defend]
        start_time=-126
        circle_start_time=-126
        [circle_frame]
            duration=250
            image=halo/ucircle-frames/ucircle-d-[01~23].png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [frame]
            image="units/summoners-humans/banisher.png":1,"units/summoners-humans/banisher.png":250,"units/summoners-humans/banisher.png":1
            halo="halo/heavysummoner-[1~8,7~1].png:15"
            halo_mod=~O(0.5)~GS()
            auto_vflip=no
        [/frame]
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:HUMAN_OLD_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
    [attack]
        name=banishment
        description=_"banishment"
        icon=attacks/banishment.png
        type=arcane
        range=melee
        damage=14
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_BANISH}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/quarterstaff.png
        type=impact
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=frozen gate
        description=_"frozen gate"
        icon=attacks/faerie-fire.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=18
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=banishment
        [/filter_attack]
        start_time=-400
        circle_start_time=-400
        missile_start_time=-200
        [if]
            hits=yes
            [circle_frame]
                duration=1400
                image=halo/ucircle-frames/ucircle-d-[01~23,01~10].png
                image_mod="~SCALE(81,47)"
                halo="halo/heavysummoner-[1~8,7~1].png:90"
                halo_mod=~O(0.6)~GS()
                auto_vflip=false
                layer=0
                y=17
                alpha=1
                offset=0.0~0.3:200,0.3:600,0.3~0:200
            [/circle_frame]
            [missile_frame]
                halo=halo/jinn-circle[0,1~6,7,6~1].png~GS()~CS(50,50,50)~SCALE(100,100):100
                offset=1.0
            [/missile_frame]
            [frame]
                image="units/summoners-humans/banisher-attack1.png:400"
                offset=0~0.3:200,0.3:600,0.3~0:200
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [circle_frame]
                duration=900
                image=halo/ucircle-frames/ucircle-d-[01~20].png
                image_mod="~SCALE(81,47)"
                halo="halo/heavysummoner-[1~8,7~1].png:60"
                halo_mod=~O(0.6)~GS()
                auto_vflip=false
                layer=0
                y=17
                alpha=1
                offset=0.0~0.3:200,0.3:300,0.3~0:200
            [/circle_frame]
            [missile_frame]
                halo=halo/jinn-circle[0,1,2,1,0].png~GS()~CS(40,40,40)~SCALE(100,100):100
                offset=1.0
                alpha=0.75:300,0.75~0.1:200
            [/missile_frame]
            [frame]
                image="units/summoners-humans/banisher-attack1.png:400"
                offset=0~0.3:200,0.3:300,0.3~0:200
                sound=um-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-350
        circle_start_time=-350
        [circle_frame]
            duration=750
            image=halo/ucircle-frames/ucircle-d-[01~18].png
            image_mod="~SCALE(81,47)"
            halo="halo/heavysummoner-[1~8,7~1].png:50"
            halo_mod=~O(0.6)~GS()
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0~0.6:325,0.6~0:325
        [/circle_frame]
        [frame]
            image="units/summoners-humans/banisher-attack[1~3,2,1].png:[100,200,300,100,50]"
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=frozen gate
        [/filter_attack]
        circle_start_time=-300
        circle2_start_time=-500
        [circle2_frame]
            duration=800
            image=halo/ucircle-frames/ucircle-d-[01~23].png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            offset=0.0
            sound=um.ogg
        [/circle2_frame]
        [if]
            direction=n,ne,nw
            [circle_frame]
                duration=800
                image=halo/ucircle-frames/ucircle-d-[01~23].png
                image_mod="~SCALE(104,78)"
                auto_vflip=false
                layer=-1
                y=15
                alpha=0~1:200,1:400,1~0:200
                offset=1.0
                sound=um.ogg
            [/circle_frame]
        [/if]
        [else]
            [circle_frame]
                duration=800
                image=halo/ucircle-frames/ucircle-d-[01~23].png
                image_mod="~SCALE(104,78)"
                auto_vflip=false
                layer=1
                y=15
                alpha=0~1:200,1:400,1~0:200
                offset=1.0
                sound=um.ogg
            [/circle_frame]
        [/else]
        missile_start_time=-245
        {MISSILE_FRAME_LIGHT_BEAM}
        start_time=-500
        [frame]
            image="units/summoners-humans/banisher.png:600"
            halo="halo/heavysummoner-[1~8,7~4].png:50"
            halo_mod=~O(0.7)~GS()
        [/frame]
        [frame]
            image="units/summoners-humans/banisher.png:50"
            sound=magic-dark-miss.ogg
            halo="halo/heavysummoner-[3~1].png:16"
            halo_mod=~O(0.7)~GS()
        [/frame]
        attack_sound_start_time=-150
        [attack_sound_frame]
            sound=magic-dark-miss.ogg
        [/attack_sound_frame]
    [/attack_anim]
    #old animation, decided not to remove it due to the fact that it looks quite good:
    [attack_anim]
        [filter_attack]
            name=frozen gate-unused
        [/filter_attack]
        missile_start_time=0
        circleframe_start_time=-600
        circle1_start_time=-550
        circle2_start_time=-550
        circle3_start_time=-550
        circle4_start_time=-550
        [missile_frame]
            duration=300
            halo="halo/frozen-gate-[1~4].png~SCALE(100,100)"
            offset=1.0
        [/missile_frame]
        [circleframe_frame]
            image=halo/jinn-circle1.png~GS()~CS(100,100,100)~SCALE(100,100):600
            alpha=0.75~1:150,1:350,1~0:200
            layer=50
            offset=1.0
        [/circleframe_frame]
        [circleframe_frame]
            duration=150
            image="misc/empty.png"
            offset=1.0
        [/circleframe_frame]
        [circle1_frame]
            duration=300
            halo="halo/frozen-gate-[4~1].png"
            offset=1.0
            halo_x,halo_y=36,0
        [/circle1_frame]
        [circle1_frame]
            duration=150
            halo="misc/empty.png"
            offset=1.0
        [/circle1_frame]
        [circle2_frame]
            duration=300
            halo="halo/frozen-gate-[4~1].png"
            offset=1.0
            halo_x,halo_y=-36,0
        [/circle2_frame]
        [circle2_frame]
            duration=150
            halo="misc/empty.png"
            offset=1.0
        [/circle2_frame]
        [circle3_frame]
            duration=300
            halo="halo/frozen-gate-[4~1].png"
            offset=1.0
            halo_x,halo_y=0,36
        [/circle3_frame]
        [circle3_frame]
            duration=150
            halo="misc/empty.png"
            offset=1.0
        [/circle3_frame]
        [circle4_frame]
            duration=300
            halo="halo/frozen-gate-[4~1].png"
            offset=1.0
            halo_x,halo_y=0,-36
        [/circle4_frame]
        [circle4_frame]
            duration=150
            halo="misc/empty.png"
            offset=1.0
        [/circle4_frame]
        start_time=-500
        [frame]
            image="units/summoners-humans/banisher-attack-magic[1~4].png:150"
        [/frame]
        [frame]
            image="units/summoners-humans/banisher-attack-magic1.png:50"
            sound=magic-dark-miss.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
