#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Heavy_Camel_Rider
    name= _ "Elite Camel Rider"
    image="units/summoners-humans/heavycamelrider.png"
    profile="portraits/summoners/camel-heavy.png"
    small_profile="portraits/summoners/camel-heavy.png~SCALE(205,205)"
    
    race=eoma_summoner
    hitpoints=50
    movement_type=mounted
    movement=7
    experience=100
    level=2
    alignment=lawful
    advances_to=EoMa_Camel_Master
    cost=34
    usage=scout
    undead_variation=camel
    description= _ "With each battle, cameleers become more versed in fighting from camel-back, outstanding skill is the criteria for
a promotion to the next rank. Elite Camel Riders distinguish their status by adorning their mount and themselves with colorful clothes, amulets, and beads. In times of peace, they train small groups of less experienced riders, while in war they perform the role of vanguard, riding ahead of summoners and their elementals. The best of the best even reach the rank of Camel Master..."
    die_sound=human-die-1.ogg
	ignore_race_traits=yes
	{TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    [resistance]
        impact=70
		pierce=110
		cold=90
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [attack]
        name=scimitar
        description=_"scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=scimitarthrow
        description=_"scimitar throw"
        icon=attacks/scimitar.png
        type=blade
        range=ranged
        damage=11
        number=2
    [/attack]
    {DEFENSE_ANIM "units/summoners-humans/heavycamelrider.png" "units/summoners-humans/heavycamelrider.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    {SUMMONERS_CAMEL_MOVEMENT_AND_ATTACK_ANIM heavycamelrider}
[/unit_type]
