#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Camel_Rider
    name= _ "Camel Rider"
    image="units/summoners-humans/camelrider.png"
    ellipse="misc/ellipse"

    race=eoma_summoner
    hitpoints=36
    movement_type=mounted
    movement=7
    experience=42
    level=1
    alignment=lawful
    advances_to=EoMa_Heavy_Camel_Rider
    cost=17
    usage=scout
    undead_variation=camel
    description= _ "For the fledgling soldier, camels are a rare spectacle to be seen on the fronts. Unlike their traditional brothers and sisters used as beasts of burden for travelling traders, the camels seen in battle are specially bred for speed and power rather than endurance. Riders carry a scimitar for melee skirmishes as well as dozens of smaller scimitars to hurl at faraway targets, a skill for which the camel rider is acclaimed for.

Trained in scouting and hit-and-run warfare, camel riders are the forerunners of the Summoners’ brunt strength, moving at galloping speed into the fray."
    die_sound=human-die-1.ogg
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
	[standing_anim]
        [frame]
            image="units/summoners-humans/camelrider/00[01~48].png:42"
        [/frame]
    [/standing_anim]
    [movement_costs]
        sand=1
        frozen=3
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [resistance]
        impact=70
        pierce=100
        cold=90
    [/resistance]
    [attack]
        name=scimitar
        description=_"scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=scimitarthrow
        description=_"scimitar throw"
        icon=attacks/scimitar.png
        type=blade
        range=ranged
        damage=7
        number=2
    [/attack]
    {DEFENSE_ANIM "units/summoners-humans/camelrider.png" "units/summoners-humans/camelrider.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    {SUMMONERS_CAMEL_MOVEMENT_AND_ATTACK_ANIM camelrider}
[/unit_type]
