#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Carpet_Rider
    name= _ "Carpet Rider"
    image="units/summoners-humans/carpetrider2.png"
    profile="portraits/summoners/carpetrider.png"
    small_profile="portraits/summoners/carpetrider.png~SCALE(205,205)"
    ellipse="misc/ellipse"

    race=eoma_summoner
    hitpoints=30
    movement_type=fly
    movement=8
    experience=42
    level=1
    alignment=lawful
    advances_to=EoMa_Carpet_Master
    cost=17
    usage=scout
    undead_variation=carpet
    description= _ "According to legend, the magic carpet originated from the desires of of a wealthy princess. She wished for a new mode of traveling that would be convenient and relaxing, yet ostentatious enough for her tastes. Carriages and camels were too common and bland in her eyes, so she sought something that would revolutionize transportation in the Summoners’ society. Eventually, one of her expert sorcerers wove enchanted pieces of fabric together to form what he called a ‘flying carpet’. Soon after, all affluent men and women began riding these magic carpets for their personal endeavors.

Inevitably, magic carpets became of great importance in times of war, ridden only by the most hotshot and fearless young men. Atop their strange mounts, these aces of the sky perform impressive feats of reconnaissance and speed. A magical carpet cannot hold much weight, so their riders are armed with explosive powder bombs which they use to attack and disorient their targets."
    die_sound=human-die-1.ogg
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    [resistance]
        impact=100
    [/resistance]
    [standing_anim]
        direction=se,sw,s
        start_time=0
        [frame]
            image="units/summoners-humans/carpetrider[1~3,2].png:200"
        [/frame]
    [/standing_anim]
    [standing_anim]
        direction=ne,nw,n
        start_time=0
        [frame]
            image="units/summoners-humans/carpetrider[1~3,2]-ne.png:200"
        [/frame]
    [/standing_anim]
    [attack]
        name=meleebomb
        description=_"irritant powder"
        icon=attacks/blank-attack.png~BLIT(attacks/bomb2.png~CROP(5,5,49,49)~CS(0,-90,-90),5,5)
        type=pierce
        range=melee
        damage=4
        number=1
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            [dummy]
                id=defend-only
                name= _ "defend-only"
                description= _ "This attack doesn't work on offense."
            [/dummy]
        [/specials]
        attack_weight=0.0
    [/attack]
    [attack]
        name=bomb
        description=_"magical powder"
        icon=attacks/bomb2.png
        type=cold
        range=ranged
        damage=6
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/summoners-humans/carpetrider1.png" "units/summoners-humans/carpetrider2.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [defend]
        hits=miss
        start_time=-125
        [frame]
            image="units/summoners-humans/carpetrider-defend[1~3,2,1].png:[25,40,60*2,85]"
        [/frame]
    [/defend]
    [attack_anim]
        [filter_attack]
            name=bomb
        [/filter_attack]
        missile_start_time=-200
        missile2_start_time=0
        [if]
            hits=yes
            [missile_frame]
                image="projectiles/bomb2.png:240"
                offset=0.0~1.0
            [/missile_frame]
            [missile2_frame]
                halo=projectiles/bomb2-[1~5].png:75
                offset=1.0
            [/missile2_frame]
        [/if]
        [else]
            [missile_frame]
                image="projectiles/bomb2.png:360"
                offset=0.0~1.5
            [/missile_frame]
        [/else]
        {SUMMONERS_CARPET_ATTACK_FRAMES carpetrider {SOUND_LIST:THROW}}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=meleebomb
        [/filter_attack]
        missile_start_time=-200
        missile2_start_time=0
        [if]
            hits=yes
            [missile_frame]
                image="projectiles/bomb2.png~CS(0,-90,-90):240"
                offset=0.0~1.0
            [/missile_frame]
            [missile2_frame]
                halo=projectiles/bomb2-[1~5].png~CS(0,-90,-90):75
                offset=1.0
            [/missile2_frame]
        [/if]
        [else]
            [missile_frame]
                image="projectiles/bomb2.png~CS(0,-90,-90):360"
                offset=0.0~1.5
            [/missile_frame]
        [/else]
        {SUMMONERS_CARPET_ATTACK_FRAMES carpetrider {SOUND_LIST:THROW}}
    [/attack_anim]
[/unit_type]
