#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Carpet_Master
    name= _ "Carpet Master"
    image="units/summoners-humans/carpetmaster2.png"
    profile="portraits/summoners/carpetrider.png"
    small_profile="portraits/summoners/carpetrider.png~SCALE(205,205)"

    race=eoma_summoner
    hitpoints=42
    movement_type=fly
    movement=8
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=33
    usage=scout
    undead_variation=carpet
    description= _ "Captains of the winds, any carpet master can attest to having ridden the skies more times than he can count. A carpet master’s worth is still his ability to scout over long distances, though his ranged attacks have become something to be feared. Through battle, his accuracy with the powder bombs has improved considerably, allowing him to strike even the most elusive or well-protected of targets. Prized with a more regal carpet, the carpet master soars through the air as effortlessly as any bird."
    die_sound=human-die-1.ogg
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [resistance]
        arcane=70
        fire=90
        cold=90
        impact=100
    [/resistance]
    {LEVITATE3_ANIM units/summoners-humans/carpetmaster 200}
    [attack]
        name=meleebomb
        description=_"irritant powder"
        icon=attacks/blank-attack.png~BLIT(attacks/bomb2.png~CROP(5,5,49,49)~CS(0,-90,-90),5,5)
        type=pierce
        range=melee
        damage=7
        number=1
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=bomb
        description=_"magical powder"
        icon=attacks/bomb2.png
        type=cold
        range=ranged
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/summoners-humans/carpetmaster2.png" "units/summoners-humans/carpetmaster1.png" {SOUND_LIST:HUMAN_OLD_HIT} }
    [attack_anim]
        [filter_attack]
            name=bomb
        [/filter_attack]
        missile_start_time=-505
        missile2_start_time=-305
        [if]
            hits=yes
            [missile_frame]
                image="projectiles/bomb2.png:240"
                offset=0.0~1.0
            [/missile_frame]
            [missile_frame]
                halo=projectiles/bomb2-[1~5,4~1].png:75
                offset=1.0
            [/missile_frame]
            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png~GS()~CS(255,150,0):60"
                offset=1.0
                sound=explosion.ogg
                auto_vflip=no
            [/missile_frame]
        [/if]
        [else]
            [missile_frame]
                image="projectiles/bomb2.png:360"
                offset=0.0~1.5
            [/missile_frame]
        [/else]
        {SUMMONERS_CARPET_ATTACK_FRAMES carpetmaster sling-miss.ogg}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=meleebomb
        [/filter_attack]
        missile_start_time=-505
        missile2_start_time=-305
        [if]
            hits=yes
            [missile_frame]
                image="projectiles/bomb2.png~CS(0,-90,-90):240"
                offset=0.0~1.0
            [/missile_frame]
            [missile_frame]
                halo=projectiles/bomb2-[1~5].png~CS(0,-90,-90):75
                offset=1.0
            [/missile_frame]
        [/if]
        [else]
            [missile_frame]
                image="projectiles/bomb2.png~CS(0,-90,-90):360"
                offset=0.0~1.5
            [/missile_frame]
        [/else]
        {SUMMONERS_CARPET_ATTACK_FRAMES carpetmaster sling-miss.ogg}
    [/attack_anim]
[/unit_type]
