#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_DharmaRhami
    [/base_unit]
    id=EoMa_DharmaRhami_rpg
    [attack]
		[specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
		[specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
		[specials]
			{WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
		[/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
