#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Dimensional_Gate_III
    name= _ "Dimensional Gate III"
    race=eoma_magical
    image="units/summoners-enchanted-ones/dg3-icon-large.png"
    image_icon="units/summoners-enchanted-ones/dg3-icon.png"

    hitpoints=40
    movement_type=undeadspirit
    movement=7
    experience=26
    level=2
    alignment=neutral
    advances_to=EoMa_Ho_rhami,EoMa_Dharma_rhami,EoMa_Fire_God,EoMa_Water_God,EoMa_Air_God,EoMa_Earth_God,EoMa_Wonderful_Jinni,EoMa_Great_Efreeti
    cost=57
    usage=fighter
    description={NO_DESCR_AVAILABLE}
    [defend]
        [circle_frame]
            duration=250
            image=units/summoners-enchanted-ones/dg3/00[01~72].png
            auto_vflip=false
            y=8
            alpha=1
            layer=40
        [/circle_frame]
        [frame]
            image="misc/blank-hex.png:250"
        [/frame]
    [/defend]
    [resistance]
        blade=65
        pierce=65
        impact=65
        fire=60
        cold=60
        arcane=60
    [/resistance]
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_EOMA_SOULCATCHER}
    [/abilities]
    [movement_costs]
        shallow_water=1
    [/movement_costs]
    [standing_anim]
        [circle_frame]
            image=units/summoners-enchanted-ones/dg3/00[01~72].png:42
            auto_vflip=false
            y=8
            alpha=1
            layer=40
        [/circle_frame]
        [frame]
            image="misc/blank-hex.png:6000"
        [/frame]
    [/standing_anim]
    [death]
        [frame]
            image="misc/blank-hex.png:400"
        [/frame]
        {DG3_PREMOVE1 01 101,101}
        {DG3_PREMOVE1 02 81,81}
        {DG3_PREMOVE1 03 72,72}
        {DG3_PREMOVE1 04 63,63}
        {DG3_PREMOVE1 05 54,54}
        {DG3_PREMOVE1 06 37,37}
        {DG3_PREMOVE1 07 28,28}
        {DG3_PREMOVE1 08 19,19}
        {DG3_PREMOVE1 09 10,10}
        {DG3_PREMOVE1 10 1,1}
    [/death]
    [pre_movement_anim]
        [frame]
            image="misc/blank-hex.png:400"
        [/frame]
        {DG3_PREMOVE1 23 101,101}
        {DG3_PREMOVE1 22 81,81}
        {DG3_PREMOVE1 21 72,72}
        {DG3_PREMOVE1 20 63,63}
        {DG3_PREMOVE1 19 54,54}
        {DG3_PREMOVE1 18 37,37}
        {DG3_PREMOVE1 17 28,28}
        {DG3_PREMOVE1 16 19,19}
        {DG3_PREMOVE1 15 10,10}
        {DG3_PREMOVE1 14 1,1}
    [/pre_movement_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="misc/blank-hex.png:100"
        [/frame]
    [/movement_anim]
    [post_movement_anim]
        [frame]
            image="misc/blank-hex.png:400"
        [/frame]
        {DG3_PREMOVE1 15 1,1}
        {DG3_PREMOVE1 16 10,10}
        {DG3_PREMOVE1 17 19,19}
        {DG3_PREMOVE1 18 28,28}
        {DG3_PREMOVE1 19 37,37}
        {DG3_PREMOVE1 20 54,54}
        {DG3_PREMOVE1 21 63,63}
        {DG3_PREMOVE1 22 72,72}
        {DG3_PREMOVE1 23 81,81}
        {DG3_PREMOVE1 23 101,101}
    [/post_movement_anim]
    [recruit_anim]
        [frame]
            image="misc/blank-hex.png:400"
        [/frame]
        {DG3_PREMOVE1 15 1,1}
        {DG3_PREMOVE1 16 10,10}
        {DG3_PREMOVE1 17 19,19}
        {DG3_PREMOVE1 18 28,28}
        {DG3_PREMOVE1 19 37,37}
        {DG3_PREMOVE1 20 54,54}
        {DG3_PREMOVE1 21 63,63}
        {DG3_PREMOVE1 22 72,72}
        {DG3_PREMOVE1 23 81,81}
        {DG3_PREMOVE1 23 101,101}
    [/recruit_anim]
    [extra_anim]
        flag=banished
        [frame]
            image="misc/blank-hex.png:800"
            sound=magic-faeriefire-miss.ogg
        [/frame]
        {DG3_PREMOVE1 10 101,101}
        {DG3_PREMOVE1 09 81,81}
        {DG3_PREMOVE1 08 72,72}
        {DG3_PREMOVE1 07 63,63}
        {DG3_PREMOVE1 06 54,54}
        {DG3_PREMOVE1 05 37,37}
        {DG3_PREMOVE1 04 28,28}
        {DG3_PREMOVE1 03 19,19}
        {DG3_PREMOVE1 02 10,10}
        {DG3_PREMOVE1 01 1,1}
        {DG_PREMOVE1 15 1,1}
        {DG_PREMOVE1 16 10,10}
        {DG_PREMOVE1 17 19,19}
        {DG_PREMOVE1 18 28,28}
        {DG_PREMOVE1 19 37,37}
        {DG_PREMOVE1 20 54,54}
        {DG_PREMOVE1 21 63,63}
        {DG_PREMOVE1 22 72,72}
        {DG_PREMOVE1 23 81,81}
        {DG_PREMOVE1 23 101,101}
    [/extra_anim]
    [attack]
        name=blue flame
        description=_"abyssal flame"
        icon=attacks/blank-attack.png~BLIT(units/summoners-enchanted-ones/dg3-icon.png~SCALE(60,60),0,0)
        type=arcane
        range=melee
        damage=16
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=blue flame
        [/filter_attack]
        start_time=0
        attack_sound_start_time=0
        [circle_frame]
            duration=245
            image=units/summoners-enchanted-ones/dg3/00[01~06].png
            auto_vflip=false
            layer=0
            y=8
            alpha=1~0
            offset=0.0
            layer=40
        [/circle_frame]
        [circle_frame]
            duration=245
            image=units/summoners-enchanted-ones/dg3/00[07~13].png
            auto_vflip=false
            layer=0
            y=8
            alpha=0~1
            offset=1.0
            layer=40
        [/circle_frame]
        [circle_frame]
            duration=245
            image=units/summoners-enchanted-ones/dg3/00[14~19].png
            auto_vflip=false
            layer=0
            y=8
            alpha=1~0
            offset=1.0
            layer=40
        [/circle_frame]
        [circle_frame]
            duration=245
            image=units/summoners-enchanted-ones/dg3/00[20~25].png
            auto_vflip=false
            layer=0
            y=8
            alpha=0~1
            offset=0.0
            layer=40
        [/circle_frame]
        [frame]
            image="misc/blank-hex.png:980"
        [/frame]
        [attack_sound_frame]
            duration=245
            sound=magic-faeriefire1a.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            duration=490
            sound=magic-faeriefire2a.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            sound=magic-faeriefire1a.ogg
        [/attack_sound_frame]
    [/attack_anim]

    {DG_CORRECTIONS}
    [event]
        name=advance
        id=dg_advance_event
        first_time_only=no
        [filter]
            type=EoMa_Dimensional_Gate_III
        [/filter]
        [store_unit]
            [filter]
                x,y=$x1,$y1
            [/filter]
            variable=dgIII
            mode=append
        [/store_unit]
    [/event]
    [event]
        name=post advance
        id=dg_postadvance_event
        first_time_only=no

        [animate_unit]
            flag=levelin_gate
            [filter]
                id=$dgIII.id
            [/filter]
        [/animate_unit]
        {CLEAR_VARIABLE dgIII}
    [/event]
[/unit_type]
