#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Dispeller
    name= _ "Dispeller"
    race=eoma_summoner
    image="units/summoners-humans/dispeller.png"

    hitpoints=44
    movement_type=smallfoot
    movement=6
    experience=95
    level=2
    alignment=lawful
    advances_to=EoMa_Banisher
    cost=32
    usage=mixed fighter
    undead_variation=dispeller
    description= _ "Some summoners choose the opposite path of the summoning: the art of banishment. Instead of bringing magical beings to this world, they specialize in sending them back to Abyss. Normally such a skill would be rather redundant, but due to the frequent Efreet rebellions, it is crucial for upholding order in the summoner society."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        fire=70
        cold=70
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [attack]
        name=banishment
        description=_"banishment"
        icon=attacks/banishment.png
        type=arcane
        range=melee
        damage=8
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_BANISH}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/quarterstaff.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=frozen gate
        description=_"frozen gate"
        icon=attacks/faerie-fire.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=12
        number=2
    [/attack]
    {BANISHMENT_ATTACK_ANIM dispeller}
    [attack_anim]
        [filter_attack]
            name=frozen gate
        [/filter_attack]
        circle_start_time=-300
        circle2_start_time=-400
        [circle2_frame]
            duration=800
            image=halo/ucircle-frames/ucircle-d-[01~23].png
            image_mod="~SCALE(80,60)"
            auto_vflip=false
            layer=0
            y=10
            alpha=0~1:200,1:400,1~0:200
            offset=0.0
            sound=um.ogg
        [/circle2_frame]
        [if]
            direction=n,ne,nw
            [circle_frame]
                duration=800
                image=halo/ucircle-frames/ucircle-d-[01~23].png
                image_mod="~SCALE(80,60)"
                auto_vflip=false
                layer=-1
                y=10
                alpha=0~1:200,1:400,1~0:200
                offset=1.0
                sound=um.ogg
            [/circle_frame]
        [/if]
        [else]
            [circle_frame]
                duration=800
                image=halo/ucircle-frames/ucircle-d-[01~23].png
                image_mod="~SCALE(80,60)"
                auto_vflip=false
                layer=1
                y=10
                alpha=0~1:200,1:400,1~0:200
                offset=1.0
                sound=um.ogg
            [/circle_frame]
        [/else]
        missile_start_time=-245
        [missile_frame]
            halo="halo/holy/light-beam-[1~7,6~1].png~SCALE(100,446):[30*6,130,70*6]"
            offset=1.0
            auto_vflip=false
        [/missile_frame]
        start_time=-300
        [frame]
            image="units/summoners-humans/dispeller-attack-magic[1~4,1].png:[75*4,50]"
        [/frame]
        attack_sound_start_time=-150
        [attack_sound_frame]
            sound=magic-dark-miss.ogg
        [/attack_sound_frame]
    [/attack_anim]
[/unit_type]
