#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Earth_God
    name= _ "Earth God"
    race=I8 magical
    image="units/summoners-elementals/god-earth.png"
    hitpoints=85
    movement_type=mountainfoot
    movement=4
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=60
    description= _ "Earth gods are simply gargantuan: one raised fist can shake the very foundations of the land. Many tales have been told about the work of such gods who lumber across the earth, so great in size that entire villages are dwarfed by their presence. Bulwarks against the strongest swords, lances, and spells, packing enough force to pulverize dozens in a single downward strike, and continuously regenerating their stony bodies, earth gods are no easy feat to bring down-or even force back."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}+{SPECIAL_NOTES_REGENERATES}
    usage=fighter
    {DEFENSE_ANIM "units/summoners-elementals/god-earth.png" "units/summoners-elementals/god-earth.png" silence.ogg }
    [resistance]
        blade=45
        pierce=45
        impact=70
        fire=70
        cold=80
        arcane=110
    [/resistance]
    [defense]
        deep_water=70
        shallow_water=70
        swamp_water=70
        flat=70
        sand=70
        forest=60
        hills=50
        mountains=40
        village=40
        castle=50
        cave=50
        frozen=60
        unwalkable=100
        impassable=100
        fungus=60
    [/defense]
	[movement_costs]
		deep_water=3
	[/movement_costs]
    [abilities]
        {ABILITY_EOMA_REGENERATES}
#        {ABILITY_STEADFAST}
    [/abilities]
    {GENERIC_DEFENSE_ANIM units/summoners-elementals/god-earth units/summoners-elementals/god-earth-hit1 units/summoners-elementals/god-earth-hit2 units/summoners-elementals/god-earth-hit3 units/summoners-elementals/god-earth yes 0.0 0.0 0.0}
    [death]
        [frame]
            image="units/summoners-elementals/god-earth-die[1~9].png:150"
			sound=cave-in.ogg
        [/frame]
    [/death]
    [attack]
        name=hit
        description=_"hit"
        icon=attacks/fist-earth.png
        type=impact
        range=melee
        damage=13
        number=3
		[specials]
#			{WEAPON_SPECIAL_EOMA_CLEAVEHALF}
			{WEAPON_SPECIAL_EOMA_CLEAVE_CUSTOM 0.4 40}
		[/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hit
        [/filter_attack]
		start_time=-600
        [frame]
            image="units/summoners-elementals/god-earth-attack[1~4].png:150"
			offset=0.0~0.5
        [/frame]
        [frame]
            image="units/summoners-elementals/god-earth-attack[5~9,2,1].png:150"
            sound=explosion.ogg
			offset=0.5:750,0.5~0.0:300
        [/frame]
    [/attack_anim]
    [event]
        name=attacker_hits
        first_time_only=no
		id=eoma_quake_event3
        [filter]
            type=EoMa_Earth_God
        [/filter]
        {QUAKE silence.ogg}
    [/event]
[/unit_type]
