#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Earth_God
    [/base_unit]
    id=EoMa_Earth_God_rpg
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_CLEAVE_RPG}
        [/specials]
    [/attack]
    [event]
        name=attacker_hits
        first_time_only=no
        id=eoma_quake_event3_rpg
        [filter]
            type=EoMa_Earth_God_rpg
        [/filter]
        {QUAKE silence.ogg}
    [/event]
[/unit_type]
