#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Earth_Avatar
    name= _ "Earth Avatar"
    race=i8magical
    image="units/summoners-elementals/avatar-earth.png"
    image_icon="units/summoners-elementals/avatar-earth.png"
    hitpoints=60
    movement_type=mountainfoot
    movement=4
    experience=105
    level=2
    alignment=neutral
    advances_to=EoMa_Earth_God
    cost=35
    description= _ "Avatars of the earth, though colossal, are slow-moving, hobbled by the weight of their bulk. For this reason, earth avatars are bought out into the battlefield for defending important landmarks such as mountains and hilltops. Situated in defensible areas, avatars with their outlandish strength crush parties of opposition while bracing against all varieties of attacks. When all is done, these giants stand still and tall like massive sculptures; over time, avatars begin to house tiny sprigs of vegetation growing outside of its rocky cracks."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}+{SPECIAL_NOTES_REGENERATES}
    usage=fighter
    {DEFENSE_ANIM "units/summoners-elementals/avatar-earth-defend.png" "units/summoners-elementals/avatar-earth-defend.png" silence.ogg }
    [resistance]
        blade=65
        pierce=65
        impact=75
        fire=85
        cold=85
        arcane=110
    [/resistance]
    [defense]
        deep_water=70
        shallow_water=70
        swamp_water=70
        flat=70
        sand=60
        forest=60
        hills=50
        mountains=40
        village=40
        castle=50
        cave=50
        frozen=60
        unwalkable=100
        impassable=100
        fungus=60
    [/defense]
	[movement_costs]
		deep_water=3
	[/movement_costs]
	[death]
		[frame]
			image="units/summoners-elementals/avatar-earth-die[1~5].png:100"
			sound=cave-in.ogg
		[/frame]
	[/death]
    {MAGIC_RECRUIT_ANIM "~GS()~G(255)" 26}
    {MAGIC_BANISHMENT_ANIM2 "~GS()~G(255)" 26}
    {MAGIC_LEVELIN_ANIM2 "~GS()~G(255)" 26}
    [abilities]
        {ABILITY_EOMA_REGENERATES}
#        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=hit
        description=_"hit"
        icon=attacks/fist-earth.png
        type=impact
        range=melee
        damage=9
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hit
        [/filter_attack]
        start_time=-230
        [frame]
            image="units/summoners-elementals/avatar-eart[h-attack1,h-attack2,h].png:[130,200,100]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
