#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Earth_Elemental
    name= _ "Earth Elemental"
    race=eoma_magical
    image="units/summoners-elementals/elemental-earth.png"
    image_icon="units/summoners-elementals/elemental-earth.png"
    ellipse="misc/ellipse"
    hitpoints=40
    movement_type=mountainfoot
    movement=4
    experience=42
    level=1
    alignment=neutral
    advances_to=EoMa_Earth_Avatar
    cost=18
    description= _ "The most unswerving of all elementals are the ones born from the earth. Such large elementals carry the strength of easily ten men each, but their true function are living fortresses, defending lines of troops with their uncompromising and sturdy rock-skin. Earth elementals are capable of withstanding barrages of blows before finally collapsing into shambles of stones, returning back to the earth.

After their summoning from the Abyss, earth elementals are imbued with regenerative abilities by their summoners to improve them as living shields, thus expanding their lifespans and their services to their masters."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}+{SPECIAL_NOTES_REGENERATES}
    usage=fighter
    [resistance]
        blade=60
        pierce=60
        impact=80
        fire=80
        cold=90
        arcane=110
    [/resistance]
    [defense]
        deep_water=70
        shallow_water=70
        swamp_water=70
        flat=70
        sand=70
        forest=60
        hills=50
        mountains=40
        village=40
        castle=50
        cave=50
        frozen=60
        unwalkable=100
        impassable=100
        fungus=60
    [/defense]
	[movement_costs]
		deep_water=3
	[/movement_costs]
    [abilities]
        {ABILITY_EOMA_REGENERATES6}
#        {ABILITY_STEADFAST}
    [/abilities]
    {GENERIC_DEFENSE_ANIM units/summoners-elementals/elemental-earth units/summoners-elementals/elemental-earth-defend units/summoners-elementals/elemental-earth-defend units/summoners-elementals/elemental-earth-defend units/summoners-elementals/elemental-earth no 0.0 0.0 0.0}
    {MAGIC_RECRUIT_ANIM "~GS()~G(255)" 26}
    {MAGIC_BANISHMENT_ANIM "~GS()~G(255)" 26}
    {MAGIC_LEVELIN_ANIM "~GS()~G(255)" 26}
#	~BLEND(50,128,5,0.8)
    [defend]
        hits=yes
        start_time=-126
        [frame]
            image="units/summoners-elementals/elemental-earth-[defend,hit1,hit2,hit3].png:[101,50*3]"
        [/frame]
    [/defend]
    [death]
        [frame]
            image="units/summoners-elementals/elemental-earth-die-[1~5].png:150"
            sound=cave-in.ogg
        [/frame]
    [/death]
    [attack]
        name=hit
        description=_"hit"
        icon=attacks/fist-earth.png
        type=impact
        range=melee
        damage=6
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hit
        [/filter_attack]
        start_time=-230
        [frame]
            image="units/summoners-elementals/elemental-earth-attack[1~3,1].png:[130,200,100*2]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
