#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Efreet
    name= _ "Efreeti"
    race=eoma_magical
    image="units/summoners-enchanted-ones/efreeti2.png"
    image_icon="units/summoners-enchanted-ones/efreeti2.png"
    profile="portraits/summoners/efreet.png"
    small_profile="portraits/summoners/efreet.png~SCALE(205,205)"

    hitpoints=47
    movement_type=fly
    movement=6
    experience=115
    level=2
    alignment=neutral
    advances_to=EoMa_Great_Efreeti
    cost=42
    usage=archer
    description= _ "Cataclysmic by nature, efreets are jinn who have rejected most, if not all, of their inner desires to learn. Efreets, for profound reasons beyond the comprehension of their peers, search to cause destruction in their conquests. To this, their magical bodies have sunken into a crimson-reddish hue, tempering their magic with fire’s touch. In battles, efreets bask in razing and laying waste to whatever their blazes can reach."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_EOMA_REGENERATE 6}
    [/abilities]
    {JINN_MOVEMENT_ANIM efreeti}
    {JINN_DEFENSE_ANIM efreeti -attack-magic4 -move 2 0.0~-0.05 -0.05~-0.1 -0.1~-0.05 -0.05~0.0}
    [resistance]
        blade=80
        impact=90
        pierce=90
        arcane=120
        fire=60
        cold=120
    [/resistance]
    [movement_costs]
        cave=1
        fungus=1
    [/movement_costs]
    [defense]
        cave=50
        fungus=50
    [/defense]
    ## {LEVITATE3_ANIM units/summoners-enchanted-ones/efreeti 200}
    [standing_anim]
        [frame]
            image="units/summoners-enchanted-ones/efreeti/00[01~36].png:42"
        [/frame]
    [/standing_anim]
    [healed_anim]
        [frame]
            image="units/summoners-enchanted-ones/efreeti/00[01~36].png:42"
            halo="units/summoners-enchanted-ones/efreeti/healing/00[01~36].png:42"
        [/frame]
    [/healed_anim]
    [death]
        start_time=0
        [frame]
            image="units/summoners-enchanted-ones/efreeti-die-[1~4].png:[100*3,300]"
        [/frame]
    [/death]
    {MAGIC_RECRUIT_ANIM "~GS()~R(255)" 26}
    {MAGIC_BANISHMENT_ANIM2 "~GS()~R(255)" 26}
    {MAGIC_LEVELIN_ANIM2 "~GS()~R(255)" 26}
    [attack]
        name=touch
        description={STR_TOUCH}
        icon=attacks/touch-efreeti.png
        type=fire
        range=melee
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=magic
        description=_"magic"
        icon=attacks/magic-efreeti.png
        type=fire
        range=ranged
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/summoners-enchanted-ones/efreeti[1,-attack-magic4,1].png:[50,425,50]"
            halo="projectiles/zmage-preparation-halo[3~7,7~3].png:[35*10]"
            halo_mod="~CS(128,0,0)~SCALE(60,60)"
            halo_x,halo_y=16,-16
        [/frame]
        {SOUND:HIT_AND_MISS fire.wav fire.wav -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=magic
        [/filter_attack]
        {EFREETI_MISSILE_ANIM}
        start_time=-475
        [frame]
            image="units/summoners-enchanted-ones/efreeti[-attack-magic1,-attack-magic2,-attack-magic3,-attack-magic4,1].png:[75,100*2,200,50]"
        [/frame]
        {SOUND:HIT_AND_MISS lightning-miss.ogg lightning-miss.ogg -200}
    [/attack_anim]
[/unit_type]
