#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Fire_Elemental
    name= _ "Fire Elemental"
    race=eoma_magical
    image="units/summoners-elementals/fire-elemental/fire-elemental-icon.png"
    image_icon="units/summoners-elementals/fire-elemental/fire-elemental-icon.png"
    hitpoints=35
    movement_type=eoma_smallfoot
    flying=yes
    movement=5
    experience=42
    level=1
    alignment=neutral
    advances_to=EoMa_Fire_Avatar
    cost=18
    usage=fighter
    description= _ "Fire is a dangerous manifestation of nature’s destruction. While adept users of magic can craft fire from nothing but thin air, there is nothing more terrible than an actual materialization of living flame and fury. Its fiery form visible in pitch darkness, the fire elemental is but an entity of arcane magic summoned from the Abyss, almost always brought out for intent of war. From the moment the elemental is brought into this world, it burns bright with mindlessness and follows the orders of its summoner until its very extinguishing."
    [abilities]
        {ABILITY_EOMA_ILLUMINATES_WEAK HALO="halo/fire2-halo.png~SCALE(90,90)"}
    [/abilities]
    [resistance]
        cold=130
        fire=10
        blade=80
        pierce=80
        impact=80
        arcane=120
    [/resistance]
    [movement_costs]
        deep_water=99
        shallow_water=3
        unwalkable=3
        sand=1
    [/movement_costs]
    [defense]
        unwalkable=80
        shallow_water=80
        reef=70
        swamp_water=80
        flat=50
        sand=50
        forest=60
        hills=50
        mountains=50
        village=50
        castle=50
        cave=60
        frozen=70
        fungus=50
    [/defense]
    {MAGIC_RECRUIT_ANIM "~GS()~R(255)~G(50)" 26}
    {MAGIC_BANISHMENT_ANIM "~GS()~R(255)~G(50)" 26}
    {MAGIC_LEVELIN_ANIM "~GS()~R(255)~G(50)" 26}
    [standing_anim]
        start_time=0
        [frame]
            image="units/summoners-elementals/fire-elemental/fire-elemental-[1~63].png:40"
        [/frame]
    [/standing_anim]
    [defend]
        start_time=-125
        [frame]
            image="units/summoners-elementals/fire-elemental/fire-elemental-[1~10].png:25"
        [/frame]
    [/defend]
    [death]
        [frame]
            image="units/summoners-elementals/fire-elemental/fire-elemental-[10~1].png:40"
        [/frame]
    [/death]
    [attack]
        name=burning fist
        description=_"burning fist"
        icon=attacks/claws-fire-elemental.png
        type=fire
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=spark
        description=_"spark"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=5
        number=1
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=burning fist
        [/filter_attack]
        start_time=-250
        [frame]
            duration=150
            image="units/summoners-elementals/fire-elemental/fire-elemental-[1~34].png"
        [/frame]
        [frame]
            duration=350
            image="units/summoners-elementals/fire-elemental/fire-elemental-[35~63].png"
            sound=fire.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        missile_start_time=-300
        start_time=-300
        [frame]
            duration=50
            image="units/summoners-elementals/fire-elemental/fire-elemental-[1~5].png"
        [/frame]
        [if]
            hits=yes
            [missile_frame]
                duration=200
                image="projectiles/muzzle-flash-n-1.png"
                image_diagonal="projectiles/muzzle-flash-ne-1.png"
                offset=0~0.8
            [/missile_frame]
            [frame]
                duration=200
                image="units/summoners-elementals/fire-elemental/fire-elemental-[6~16].png"
                sound=fire.wav
            [/frame]
            {FIRE_BURST_SMALL}
        [/if]
        [else]
            hits=no
            missile_offset=0.0~0.20,0.20~0.35,0.35~0.40,0.4~0.45
            [missile_frame]
                halo="projectiles/fireball-fail-[1~7].png~SCALE(72,72):100"
                halo_x=5~0
                halo_y=-20~0
                auto_vflip=false
            [/missile_frame]
            [frame]
                duration=200
                image="units/summoners-elementals/fire-elemental/fire-elemental-[6~16].png"
                sound=fire.wav
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/summoners-elementals/fire-elemental/fire-elemental-[17~27].png"
        [/frame]
    [/attack_anim]
[/unit_type]
