#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Fire_Elemental
    name= _ "Fire Elemental"
    race=I8 magical
    image="units/summoners-elementals/fire-elemental/fire-elemental-icon.png"
    image_icon="units/summoners-elementals/fire-elemental/fire-elemental-icon.png"
	halo="halo/fire2-halo.png~SCALE(90,90)"
    hitpoints=35
    movement_type=smallfoot
	flies=yes
    movement=5
    experience=35
    level=1
    alignment=neutral
    advances_to=EoMa_Fire_Avatar
    cost=17
    usage=fighter
    description= _ "Fire is a dangerous manifestation of nature’s destruction. While adept users of magic can craft fire from nothing but thin air, there is nothing more terrible than an actual materialization of living flame and fury. Its fiery form visible in pitch darkness, the fire elemental is but an entity of arcane magic summoned from the Abyss, almost always brought out for intent of war. From the moment the elemental is brought into this world, it burns bright with mindlessness and follows the orders of its summoner until its very extinguishing."+{SPECIAL_NOTES}+{SPECIAL_NOTES_ILLUMINATES}+{SPECIAL_NOTES_MAGICAL}
    [abilities]
    [illuminates]
        id=fiery_glow
        value=15
        max_value=25
        cumulative=no
        name= _ "fiery glow"
        female_name= _ "female^fiery glow"
        description= _ "This unit illuminates the surrounding area, making lawful units fight better, and chaotic units fight worse.

Unlike the 'illuminates' ability, this ability affects the damage bonus/penalty for adjacent units by 15%, instead of 25%."
        affect_self=yes
    [/illuminates]
    [/abilities]
    [resistance]
        cold=130
        fire=10
		blade=80
        pierce=80
		impact=80
        arcane=120
    [/resistance]
    [movement_costs]
        deep_water=99
        shallow_water=99
        unwalkable=3
		sand=1
    [/movement_costs]
    [defense]
                unwalkable=80
		shallow_water=50
		reef=70
		swamp_water=60
		flat=50
		sand=50
		forest=50
		hills=50
		mountains=50
		village=50
		castle=50
		cave=60
		frozen=70
		fungus=50
	[/defense]
    {MAGIC_RECRUIT_ANIM "~GS()~R(255)~G(50)" 26}
    {MAGIC_BANISHMENT_ANIM "~GS()~R(255)~G(50)" 26}
    {MAGIC_LEVELIN_ANIM "~GS()~R(255)~G(50)" 26}
#	~R(255)~G(50)
    [standing_anim]
        start_time=0
        [frame]
            image="units/summoners-elementals/fire-elemental/fire-elemental-[1~63].png:40"
        [/frame]
    [/standing_anim]
    [defend]
        start_time=-125
        [frame]
            image="units/summoners-elementals/fire-elemental/fire-elemental-[1~10].png:25"
        [/frame]
    [/defend]
    [death]
        [frame]
            image="units/summoners-elementals/fire-elemental/fire-elemental-[10~1].png:40"
        [/frame]
    [/death]
    [attack]
        name=burning fist
        description=_"burning fist"
        icon=attacks/claws-fire-elemental.png
        type=fire
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=burning fist
        [/filter_attack]
        start_time=-250
        [frame]
            duration=150
            image="units/summoners-elementals/fire-elemental/fire-elemental-[1~34].png"
        [/frame]
        [frame]
            duration=350
            image="units/summoners-elementals/fire-elemental/fire-elemental-[35~63].png"
            sound=fire.wav
        [/frame]
    [/attack_anim]
[/unit_type]
