#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Fire_God
    name= _ "Fire God"
    race=eoma_magical
    image="units/summoners-elementals/fire-god/fire-god-icon.png"
    image_icon="units/summoners-elementals/fire-god/fire-god-icon.png"
    hitpoints=72
    movement_type=fly
    movement=6
    experience=150
    level=3
    {AMLA_DEFAULT}
    alignment=neutral
    advances_to=null
    cost=65#60
    usage=fighter
    description= _ "Upon reaching the pinnacle of its conflagration, the elemental has utterly become a moving inferno, a god of its own respect. Even the very summoners who have brought these legendary beings from the Abyss tremble at the sight of the flying phoenix aflame, its massive wings sending sparks and embers downwards onto the far-below ground. Growing brighter and stronger with every foe fed into its flames, the fire god appears as a miniature sun in the darkest of nights. Everything in its marked path is set ablaze."
    [abilities]
        {ABILITY_EOMA_HEATAURA 20}
        {ABILITY_ILLUMINATES HALO="halo/fire3-halo.png"}
    [/abilities]
    [resistance]
        cold=120
        fire=5
        blade=80
        pierce=80
        impact=80
        arcane=120
    [/resistance]
    [movement_costs]
        cave=2
        fungus=2
    [/movement_costs]
    [defense]
        cave=60
        fungus=50
    [/defense]
    [standing_anim]
        start_time=0
        [frame]
            image="units/summoners-elementals/fire-god/fire-god-[1~36].png:40"
        [/frame]
    [/standing_anim]
    [recruit_anim]
        start_time=0
        direction=n,s,se,ne
        [frame]
            image="units/summoners-elementals/fire-god/fire-god-[1~36].png:40"
            halo="halo/fire3-halo.png"
            halo_x=-500~0:1440,0
            halo_y=-204~0:1440,0
            alpha=0.0~1:400,1
            x=-500~0:1440,0
            y=-204~0:1440,0
            auto_vflip=false
            layer=99
        [/frame]
    [/recruit_anim]
    [recruit_anim]
        start_time=0
        direction=sw,nw
        [frame]
            image="units/summoners-elementals/fire-god/fire-god-[1~36].png:40"
            halo="halo/fire3-halo.png"
            halo_x=-500~0:1440,0
            halo_y=-204~0:1440,0
            alpha=0.0~1:400,1
            x=500~0:1440,0
            y=-204~0:1440,0
            auto_vflip=false
            layer=99
        [/frame]
    [/recruit_anim]
    {MAGIC_BANISHMENT_ANIM3 "~GS()~R(255)~G(50)" 26}
    {MAGIC_LEVELIN_ANIM3 "~GS()~R(255)~G(50)" 26}

    [movement_anim]
        start_time=0
        [frame]
            image="units/summoners-elementals/fire-god/fire-god-[1~36].png:20"
        [/frame]
    [/movement_anim]
    [defend]
        start_time=-125
        [frame]
            duration=250
            image="units/summoners-elementals/fire-god/fire-god-[8~1].png"
        [/frame]
    [/defend]
    [death]
        [halo_frame]
            halo=halo/inf[1~6,5~1].png:50
            halo_x,halo_y=0,-100
            auto_vflip=false
        [/halo_frame]
        [frame]
            duration=300
            image="units/summoners-elementals/fire-god/fire-god-[5~1].png"
            alpha=1~0
            sound=fire.wav
        [/frame]
        [frame]
            image="misc/blank-hex.png:1"
        [/frame]
    [/death]
    [attack]
        name=burning fist
        description=_"burning fist"
        icon=attacks/claws-fire-elemental.png
        type=fire
        range=melee
        damage=10
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=flame
        description=_"fire breath"
        icon=attacks/fire-blast.png
        type=fire
        range=ranged
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=burning fist
        [/filter_attack]
        start_time=-250
        [frame]
            duration=150
            image="units/summoners-elementals/fire-god/fire-god-[1~14].png"
        [/frame]
        [frame]
            duration=350
            image="units/summoners-elementals/fire-god/fire-god-[15~36].png"
            sound=fire.wav
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=flame
        [/filter_attack]
        [if]
            direction=se,sw
            missile_start_time=-100
            [missile_frame]
                halo=halo/md-attack-se[1~5].png:100
                halo_mod=~FL(vert)~SCALE(192,216)
                offset=0.0
            [/missile_frame]
            start_time=-100
            [frame]
                duration=300
                image="units/summoners-elementals/fire-god/fire-god-[1~14].png"
                sound=fire.wav
            [/frame]
        [/if]
        [else]
            direction=ne,nw
            missile_start_time=-100
            [missile_frame]
                halo=halo/md-attack-se[1~5].png:100
                halo_mod=~FL(vert)~SCALE(192,216)
                offset=0.0
            [/missile_frame]
            start_time=-100
            [frame]
                duration=300
                image="units/summoners-elementals/fire-god/fire-god-[1~14].png"
                sound=fire.wav
            [/frame]
        [/else]
        [else]
            direction=s
            missile_start_time=-100
            [missile_frame]
                halo=halo/md-attack-s[1~5].png:100
                halo_mod=~FL(vert)~SCALE(192,216)
                offset=0.0
            [/missile_frame]
            start_time=-100
            [frame]
                duration=300
                image="units/summoners-elementals/fire-god/fire-god-[1~14].png"
                sound=fire.wav
            [/frame]
        [/else]
        [else]
            direction=n
            missile_start_time=-100
            [missile_frame]
                halo=halo/md-attack-n[1~5].png:100
                halo_mod=~SCALE(192,216)
                offset=0.0
            [/missile_frame]
            start_time=-100
            [frame]
                duration=300
                image="units/summoners-elementals/fire-god/fire-god-[1~14].png"
                sound=fire.wav
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/summoners-elementals/fire-god/fire-god-[15~36].png"
        [/frame]
    [/attack_anim]
[/unit_type]
