#textdomain wesnoth-Era_of_Magic
#define FIREAVATAR_RECRUIT_ANIM
    [recruit_anim]
        start_time=0
        circle_start_time=-100
        [particle_frame]
            duration=1000
            image="halo/particle-anims/particles-a-[01~96].png"
            image_mod="~SCALE(100,100)"
            auto_vflip=false
            layer=30
            alpha=0~1:150,1:700,1~0:150
            offset=0.0
        [/particle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 15 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(1,2)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 16 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(10,7)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 17 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(19,12)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 18 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(28,17)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 18 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(37,22)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 19 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(45,27)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 20 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(54,32)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 21 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(63,37)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 22 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(72,42)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 23 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(81,47)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 23 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(101,59)"
        [/circle_frame]
        [circle_frame]
            duration=1000
            image=halo/ucircle-frames/ucircle-c-[01~23].png
            image_mod="~SCALE(101,59)~GS()~R(255)~G(50)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
            layer=0
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 01 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(101,59)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 01 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(81,47)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 02 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(72,42)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 03 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(63,37)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 04 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(54,32)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 05 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(45,27)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 06 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(37,22)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 07 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(28,17)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 08 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(19,12)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 09 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(10,7)"
        [/circle_frame]
        [circle_frame]
            {CIRCLE_RECRUIT 10 "~GS()~R(255)~G(50)"}
            image_mod="~SCALE(1,2)"
        [/circle_frame]
        [frame]
            duration=1000
            image="units/summoners-elementals/fire-avatar/fire-avatar-[1~27].png"
            alpha=0~1
            layer=2
            sound=magic-faeriefire-miss.ogg
        [/frame]
    [/recruit_anim]
#enddef

[unit_type]
    id=EoMa_Fire_Avatar
    name= _ "Fire Avatar"
    race=eoma_magical
    image="units/summoners-elementals/fire-avatar/fire-avatar-icon.png"
    image_icon="units/summoners-elementals/fire-avatar/fire-avatar-icon.png"
    halo="halo/fire2-halo.png"
    hitpoints=55
    movement_type=fly
    movement=5
    experience=95
    level=2
    alignment=neutral
    advances_to=EoMa_Fire_God
    cost=35
    usage=fighter
    description= _ "After fire consumes enough fuel-flesh, bones, wood, iron, even entire landscapes-it will unavoidably grow into something far more sinister in shape and body. It is a dreadful sight to behold the fire avatar as it takes flight with its fiery wings, casting a blazing light on earth and man. The magic within its body has honed, granting the avatar a magical potency in its fire-wrought claws. Only dauntless summoners are able to lead such devastating beings in war without fear of being reduced to ashes."
    [abilities]
        {ABILITY_EOMA_HEATAURA 10}
        {ABILITY_EOMA_ILLUMINATES_WEAK}
    [/abilities]
    [resistance]
        cold=125
        fire=10
        pierce=80
        impact=80
        blade=80
        arcane=120
    [/resistance]
    [movement_costs]
        cave=2
        fungus=2
        shallow_water=2
        deep_water=2
    [/movement_costs]
    [defense]
        lava=50
        cave=60
        fungus=50
        deep_water=60
        forest=60
    [/defense]
    [standing_anim]
        start_time=0
        [frame]
            image="units/summoners-elementals/fire-avatar/fire-avatar-[1~27].png:40"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="units/summoners-elementals/fire-avatar/fire-avatar-[1~27].png:20"
        [/frame]
    [/movement_anim]
    [defend]
        start_time=-125
        [frame]
            duration=250
            image="units/summoners-elementals/fire-avatar/fire-avatar-[8~1].png"
        [/frame]
    [/defend]
    [death]
        [frame]
            duration=500
            image="units/summoners-elementals/fire-avatar/fire-avatar-[8~1].png"
        [/frame]
    [/death]
    {FIREAVATAR_RECRUIT_ANIM}
    {MAGIC_BANISHMENT_ANIM2 "~GS()~R(255)~G(50)" 26}
    {MAGIC_LEVELIN_ANIM2 "~GS()~R(255)~G(50)" 26}
    [attack]
        name=burning fist
        description=_"burning fist"
        icon=attacks/claws-fire-elemental.png
        type=fire
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=flame
        description=_"fire breath"
        icon=attacks/fire-blast.png
        type=fire
        range=ranged
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=burning fist
        [/filter_attack]
        start_time=-250
        [frame]
            duration=250
            image="units/summoners-elementals/fire-avatar/fire-avatar-[1~11].png"
        [/frame]
        [frame]
            duration=250
            image="units/summoners-elementals/fire-avatar/fire-avatar-[12~27].png"
            sound=fire.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=flame
        [/filter_attack]
        [if]
            direction=se,sw
            missile_start_time=-100
            [missile_frame]
                halo=halo/md-attack-se[1~5].png:100
                halo_mod=~FL(vert)~SCALE(144,180)
                offset=0.0
            [/missile_frame]
            start_time=-100
            [frame]
                duration=300
                image="units/summoners-elementals/fire-avatar/fire-avatar-[1~15].png"
                sound=fire.wav
            [/frame]
        [/if]
        [else]
            direction=ne,nw
            missile_start_time=-100
            [missile_frame]
                halo=halo/md-attack-se[1~5].png:100
                halo_mod=~FL(vert)~SCALE(144,180)
                offset=0.0
            [/missile_frame]
            start_time=-100
            [frame]
                duration=300
                image="units/summoners-elementals/fire-avatar/fire-avatar-[1~15].png"
                sound=fire.wav
            [/frame]
        [/else]
        [else]
            direction=s
            missile_start_time=-100
            [missile_frame]
                halo=halo/md-attack-s[1~5].png:100
                halo_mod=~FL(vert)~SCALE(144,180)
                offset=0.0
            [/missile_frame]
            start_time=-100
            [frame]
                duration=300
                image="units/summoners-elementals/fire-avatar/fire-avatar-[1~15].png"
                sound=fire.wav
            [/frame]
        [/else]
        [else]
            direction=n
            missile_start_time=-100
            [missile_frame]
                halo=halo/md-attack-n[1~5].png:100
                halo_mod=~SCALE(144,180)
                offset=0.0
            [/missile_frame]
            start_time=-100
            [frame]
                duration=300
                image="units/summoners-elementals/fire-avatar/fire-avatar-[1~15].png"
                sound=fire.wav
            [/frame]
        [/else]
        [frame]
            duration=200
            image="units/summoners-elementals/fire-avatar/fire-avatar-[16~27].png"
        [/frame]
    [/attack_anim]
[/unit_type]
