#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Grand_Summoner
    name= _ "Grand Summoner"
    race=eoma_summoner
    image="units/summoners-humans/summonerIII-icon.png"
    profile="portraits/summoners/summoner-grand.png"
    small_profile="portraits/summoners/summoner-grand.png~SCALE(205,205)"

    hitpoints=67
    movement_type=eoma_smallfoot
    movement=5
    experience=210
    level=3
    alignment=lawful
    advances_to=EoMa_Summons_Master
    cost=56#53
    usage=mixed fighter
    undead_variation=summoner2
    description= _ "Summoners, scholars and warriors alike will eventually reach the Second Degree provided enough talent and cunning. The Third Degree, however, does not come easily to non-geniuses of the arts. ‘Grand Summoners’, as they are called by their peers, value both war and wisdom equally in earning their precious knowledge of summoning elementals from the Abyss. Respected and feared, grand summoners eliminate foes with absolute certainty in the wake of their circles of destruction. They also no longer need to use scrolls for summoning.

Special Notes: Circle: The ranged attack of this unit always has a 100% chance to hit."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        fire=90
        cold=90
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [defend]
        start_time=-126
        circle_start_time=-126
        [circle_frame]
            duration=250
            image=halo/ucircle-frames/ucircle-b-[07~23].png
            image_mod="~SCALE(68,38)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [frame]
            image="units/summoners-humans/summonerIII-defend.png":1,"units/summoners-humans/summonerIII-defend.png":250,"units/summoners-humans/summonerIII-defend.png":1
            halo="halo/grandsummoner-[1~8,7~1].png:15"
            halo_mod=~O(0.3)
            auto_vflip=no
        [/frame]
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:HUMAN_OLD_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]

    [abilities]
        {ABILITY_EOMA_SUMMON grand (
            {SUMMON_MENU_ITEM 6_1_1 ( _ "Summon Fire Elemental") 11 (EoMa_Grand_Summoner,EoMa_Grand_Summoner_lock,TLU_Mehir_Commander) (EoMa_Fire_Elemental) EXCEPT_ON={FLYING_SUMMON_FILTER},W*}
            {SUMMON_MENU_ITEM 6_1_2 ( _ "Summon Water Elemental") 10 (EoMa_Grand_Summoner,EoMa_Grand_Summoner_lock,TLU_Mehir_Commander) (EoMa_Water_Elemental) EXCEPT_ON={FLYING_SUMMON_FILTER},Q*}
            {SUMMON_MENU_ITEM 6_1_3 ( _ "Summon Air Elemental") 13 (EoMa_Grand_Summoner,EoMa_Grand_Summoner_lock,TLU_Mehir_Commander) (EoMa_Air_Elemental) EXCEPT_ON={FLYING_SUMMON_FILTER}}
            {SUMMON_MENU_ITEM 6_1_4 ( _ "Summon Earth Elemental") 12 (EoMa_Grand_Summoner,EoMa_Grand_Summoner_lock,TLU_Mehir_Commander) (EoMa_Earth_Elemental)}
        )}
    [/abilities]
    [standing_anim]
        [circle_frame]
            duration=6000
            image=halo/ucircle-frames/ucircle-b-[07~23,07~23,07~23,07~23,07~23,07~23].png
            image_mod="~SCALE(68,38)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [frame]
            image="units/summoners-humans/grandsummoner/00[01~32,01~32,01~32,01~32].png:46"
            auto_vflip=no
        [/frame]
        [circle2_frame]
            image="misc/blank-hex.png"
            halo="halo/grandsummoner-[1~3,3,4,4,4,4,3,3~1,1,1].png:100"
            halo_mod=~O(0.3)
            auto_vflip=no
        [/circle2_frame]
    [/standing_anim]
    [recruit_anim]
        [circle_frame]
            duration=600
            image=halo/ucircle-frames/ucircle-b-[07~23].png
            image_mod="~SCALE(68,38)"
            auto_vflip=false
            layer=0
            y=17
            alpha=0~1
            offset=0.0
        [/circle_frame]
        [frame]
            image="units/summoners-humans/summonerIII.png:600"
            alpha=0~1:600
        [/frame]
    [/recruit_anim]
    [movement_anim]
        [circle_frame]
            duration=200
            image=halo/ucircle-frames/ucircle-b-[07~23].png
            image_mod="~SCALE(68,38)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0~1.0:200
        [/circle_frame]
        direction=s,se,sw,ne,nw
        start_time=0
        [frame]
            image="units/summoners-humans/summonerIII-[draw2,move1].png:100"
        [/frame]
    [/movement_anim]
    [movement_anim]
        [circle_frame]
            duration=200
            image=halo/ucircle-frames/ucircle-b-[07~23].png
            image_mod="~SCALE(68,38)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0~1.0:200
        [/circle_frame]
        direction=n
        start_time=0
        [frame]
            image="units/summoners-humans/summonerIII-[move-n1,move-n2].png:100"
        [/frame]
    [/movement_anim]
    [death]
        start_time=0
        portal_start_time=300
        [circle_frame]
            duration=1000
            image=halo/ucircle-frames/ucircle-b-[07~23].png
            image_mod="~SCALE(68,38)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1~0
            offset=0.0
        [/circle_frame]
        [portal_frame]
            image="misc/blank-hex.png:1"
        [/portal_frame]
        [portal_frame]
            duration=600
            image="halo/particle-anims/particle-c-[01~36].png"
            image_mod="~SCALE(100,123)"
            alpha=1.0:300,1.0~0.0:300
            auto_vflip=false
            offset=0.0
            y=-12
            layer=99
        [/portal_frame]
        [frame]
            image="units/summoners-humans/summonerIII-[attack-magic1,attack-magic2].png:[200,800]"
            blend_color=255,200,0
            blend_ratio=0:400,0~1:600
            alpha=1:200,1~0:800,0
        [/frame]
        [frame]
            image="misc/blank-hex.png:1"
        [/frame]
    [/death]
    [attack]
        name=scimitar
        description=_"scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]
    [attack]
        name=hammer
        description={STR_HAMMER}
        icon=attacks/hammer-troll.png
        type=impact
        range=melee
        damage=13
        number=2
    [/attack]
    [attack]
        name=circle of destruction
        description=_"circle of destruction"
        icon=attacks/circle-destr.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_ALWAYSHITS}
        [/specials]
        damage=19
        number=1
    [/attack]
    [attack]
        name=scroll
        description=_"scroll spell"
        icon=attacks/meteorshower.png~FL(horiz)~FL(vert)
        type=pierce
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
        [/specials]
        damage=18
        number=1
    [/attack]
    [draw_weapon_anim]
        start_time=0
        [circle_frame]
            duration=300
            image=halo/ucircle-frames/ucircle-b-[07~23].png
            image_mod="~SCALE(68,38)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
        [/circle_frame]
        [frame]
            image="units/summoners-humans/summonerIII-draw[1,2].png:150"
        [/frame]
    [/draw_weapon_anim]
    [attack_anim]
        [filter_attack]
            name=scimitar
        [/filter_attack]
        start_time=-200
        circle_start_time=-200
        [circle_frame]
            duration=500
            image=halo/ucircle-frames/ucircle-b-[07~23].png
            image_mod="~SCALE(68,38)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0~0.6:325,0.6~0:325
        [/circle_frame]
        [frame]
            image="units/summoners-humans/summonerIII-attack[1~4,1].png:[100,200,50*2,100]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-350
        circle_start_time=-350
        [circle_frame]
            duration=750
            image=halo/ucircle-frames/ucircle-b-[07~23].png
            image_mod="~SCALE(68,38)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0~0.6:325,0.6~0:325
        [/circle_frame]
        [frame]
            image="units/summoners-humans/summonerIII-[attack-1b,attack-2b,attack-3b,attack-2b,attack-1b].png:[100,200,300,100,50]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
#define GRANDSUMMONER_CIRCLE_ANIM VARIATION DIR HALO_X HALO_Y
    [attack_anim]
        [filter_attack]
            name=circle of destruction
        [/filter_attack]
        direction={DIR}
        circle_start_time=-800
        [circle_frame]
            duration=1000
            image=halo/ucircle-frames/ucircle-b-[07~23].png
            image_mod="~SCALE(68,38)"
            blend_color=255,0,0
            blend_ratio=0.8
            halo="halo/grandsummoner-[1~4,4,4,4,3,3~1].png:100"
            halo_mod=~O(0.6)~GS()~BLEND(255,0,0,0.8)
            auto_vflip=no
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        missile_start_time=-250
        [missile_frame]
            offset=1.0:250
        [/missile_frame]
        start_time=-800
        [frame]
            image="units/summoners-humans/summonerIII-attack-magic[1,2,1].png:[400,600,200]"
            halo=halo/circle-destr-{VARIATION}-[1~5,4].png:200
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        attack_sound_time=0
        [attack_sound_frame]
            sound=lightning.ogg
        [/attack_sound_frame]
    [/attack_anim]
#enddef
    {GRANDSUMMONER_CIRCLE_ANIM 1 n 0 -36}
    {GRANDSUMMONER_CIRCLE_ANIM 2 s 0 36}
    {GRANDSUMMONER_CIRCLE_ANIM 4 ne 27 -18}
    {GRANDSUMMONER_CIRCLE_ANIM 4 nw 27 -18}
    {GRANDSUMMONER_CIRCLE_ANIM 3 se 27 18}
    {GRANDSUMMONER_CIRCLE_ANIM 3 sw 27 18}
    [attack_anim]
        [filter_attack]
            name=scroll
        [/filter_attack]
        missile_start_time=-300
        [circle_frame]
            duration=1250
            image=halo/ucircle-frames/ucircle-b-[07~23,07~12].png
            image_mod="~SCALE(68,38)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [if]
            hits=miss
            [missile_frame]
                image="projectiles/flames-n-[3~1].png:[300,75*2]"
                image_diagonal="projectiles/flames-ne-[3~1].png:[300,75*2]"
                offset=0.0~0.8:300,0.8:75,0.8:75
            [/missile_frame]
        [/if]
        [else]
            hits=yes
            [missile_frame]
                image="projectiles/flames-n-3.png:150"
                image_diagonal="projectiles/flames-ne-3.png"
            [/missile_frame]
            [missile_frame]
                image="projectiles/flames-n-3.png:150"
                image_diagonal="projectiles/flames-ne-3.png"
                sound=spear.ogg
            [/missile_frame]
        [/else]
        start_time=-1000
        [frame]
            image="units/summoners-humans/summonerIII-attack-magic[1,2].png:[200,600]"
            halo="halo/grandsummoner-[1~8].png:100"
            halo_mod=~O(0.3)
        [/frame]
        [frame]
            image="units/summoners-humans/summonerIII-attack-magic[2,1].png:[400,50]"
            halo="halo/grandsummoner-[7~1].png:65"
            halo_mod=~O(0.3)
            sound=fire.wav
        [/frame]
    [/attack_anim]
[/unit_type]
