#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Great_Efreeti
    name= _ "Great Efreeti"
    race=eoma_magical
    image="units/summoners-enchanted-ones/efreeti-great2.png"
    profile="portraits/summoners/greatefreeti.png"
    small_profile="portraits/summoners/greatefreeti.png~SCALE(205,205)"

    hitpoints=60
    movement_type=fly
    movement=7
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {EOMA_AMLA_DEFAULT_CONDITIONAL 1 survivor_then_default trait=eoma_survivor}
    cost=68
    usage=archer
    description= _ "Great efreetis seethe with a fiery rage that manifests itself in the form of their magic’s wake. In bodies of smoldering heat and flames, both militants and civilians have been burnt mercilessly to charred remains and then to ashes by these fervent beings. Settlements are annihilated overnight by a great efreeti, leaving nothing left but smoldering ruins. Little has anyone understood of their intent or anger, but little does it matter to the summoners who drive them forward, making as much use as possible of their blasts of hellfire and ravaging firestorms."
    {DEFENSE_ANIM "units/summoners-enchanted-ones/efreeti-great2.png" "units/summoners-enchanted-ones/efreeti-great1.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_EOMA_REGENERATE 8}
    [/abilities]
    [movement_anim]
        start_time=0
        [frame]
            image="units/summoners-enchanted-ones/efreeti-great2.png:100"
        [/frame]
    [/movement_anim]
    [resistance]
        blade=80
        impact=90
        pierce=90
        arcane=120
        fire=60
        cold=120
    [/resistance]
    [movement_costs]
        cave=1
        fungus=1
    [/movement_costs]
    [defense]
        cave=50
        fungus=50
    [/defense]
    {LEVITATE3_ANIM (units/summoners-enchanted-ones/efreeti-great) 200}
    {MAGIC_RECRUIT_ANIM "~GS()~R(255)" 26}
    [death]
        [frame]
            image="units/summoners-enchanted-ones/efreeti-great-die-[1~5].png:100"
        [/frame]
    [/death]
    [attack]
        name=touch
        description={STR_TOUCH}
        icon=attacks/touch-efreeti.png
        type=fire
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=magic
        description=_"magic"
        icon=attacks/magic-efreeti.png
        type=fire
        range=ranged
        damage=11
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=destruction
        description=_"destruction"
        icon=attacks/flame-big.png
        type=fire
        range=ranged
        damage=27
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_MAGICAL_OFFENSIVE}
            {WEAPON_SPECIAL_EOMA_AREAEFFECTRANDOM 70}
            {WEAPON_SPECIAL_EOMA_ATTACK_ONLY}
        [/specials]
    [/attack]
    [attack]
        name=meteor shower
        description=_"meteor shower"
        icon=attacks/meteorshower.png
        type=impact
        range=ranged
        damage=17
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/summoners-enchanted-ones/efreeti-great[1,-attack-magic2,-attack-magic-startend-se,-attack-magic-startend-s].png:[50,100,200,150]"
            halo="projectiles/zmage-preparation-halo[3~7,7~3].png:[25*10]"
            halo_mod="~CS(128,0,0)~SCALE(80,80)"
            halo_x,halo_y=16,-12
        [/frame]
        [frame]
            image="units/summoners-enchanted-ones/efreeti-great[-attack-magic-startend-se,-attack-magic-startend-s].png:[200,150]"
            halo="projectiles/zmage-preparation-halo[3~7,7~3].png:[25*10]"
            halo_mod="~CS(128,0,0)~SCALE(80,80)"
            halo_x,halo_y=16,-12
        [/frame]
        {SOUND:HIT_AND_MISS fire.wav fire.wav -100}
    [/attack_anim]
    {GREATEFREETI_MAGIC_ANIM s s}
    {GREATEFREETI_MAGIC_ANIM n n}
    {GREATEFREETI_MAGIC_ANIM se,sw se}
    {GREATEFREETI_MAGIC_ANIM ne,nw ne}
    [attack_anim]
        [filter_attack]
            name=destruction
        [/filter_attack]
        missile_start_time=0
        missile2_start_time=300
        missile3_start_time=300
        missile4_start_time=300
        missile5_start_time=300
        missile6_start_time=300
        missile7_start_time=300
        missile8_start_time=300
        missile9_start_time=300
        [missile_frame]
            halo="projectiles/fireball-impact-[1~16].png:60"
            offset=1.0
            sound=explosion.ogg
            auto_vflip=no
        [/missile_frame]
        [missile2_frame]
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=0,36
            auto_vflip=no
        [/missile2_frame]
        [missile2_frame]
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=0,36
            auto_vflip=no
        [/missile2_frame]
        [missile3_frame]
            halo="misc/blank-hex.png"
            offset=1.0
            halo_x,halo_y=0,-36
            auto_vflip=no
        [/missile3_frame]
        [missile3_frame]
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=0,-36
            auto_vflip=no
        [/missile3_frame]
        [missile4_frame]
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=36,0
            auto_vflip=no
        [/missile4_frame]
        [missile4_frame]
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=36,0
            auto_vflip=no
        [/missile4_frame]
        [missile5_frame]
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=-36,0
            auto_vflip=no
        [/missile5_frame]
        [missile5_frame]
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=-36,0
            auto_vflip=no
        [/missile5_frame]
        [missile6_frame]
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=18,18
            auto_vflip=no
        [/missile6_frame]
        [missile6_frame]
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=18,18
            auto_vflip=no
        [/missile6_frame]
        [missile7_frame]
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=-18,-18
            auto_vflip=no
        [/missile7_frame]
        [missile7_frame]
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=-18,-18
            auto_vflip=no
        [/missile7_frame]
        [missile8_frame]
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=18,-18
            auto_vflip=no
        [/missile8_frame]
        [missile8_frame]
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=18,-18
            auto_vflip=no
        [/missile8_frame]
        [missile9_frame]
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=-18,18
            auto_vflip=no
        [/missile9_frame]
        [missile9_frame]
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=-18,18
            auto_vflip=no
        [/missile9_frame]
        [if]
            direction=n
            [frame]
                image="units/summoners-enchanted-ones/efreeti-great-attack-magic-[startend-n].png:400"
            [/frame]
        [/if]
        [else]
            direction=ne,nw
            [frame]
                image="units/summoners-enchanted-ones/efreeti-great-attack-magic-[startend-ne].png:400"
            [/frame]
        [/else]
        [else]
            direction=se,sw
            [frame]
                image="units/summoners-enchanted-ones/efreeti-great-attack-magic-[startend-se].png:400"
            [/frame]
        [/else]
        [else]
            direction=s
            [frame]
                image="units/summoners-enchanted-ones/efreeti-great-attack-magic-[startend-s].png:400"
            [/frame]
        [/else]
    [/attack_anim]
#define GREAT_EFREETI_METEOR ID X Y TIME
    missile{ID}_start_time={TIME}
    [missile{ID}_frame]
        image="projectiles/fireball-n.png~FL(vert):700"
        layer=99
        auto_vflip=false
        y={Y}
        x={X}
        offset=1.0
    [/missile{ID}_frame]
    [missile{ID}_frame]
        halo=halo/rock-dust[1~5].png~SCALE(400,220):125
        offset=1.0
        auto_vflip=false
        halo_x={X}
        sound=explosion.ogg
    [/missile{ID}_frame]
#enddef
    [attack_anim]
        [filter_attack]
            name=meteor shower
        [/filter_attack]
        start_time=-800
        offset=0
        [if]
            hits=yes
            {GREAT_EFREETI_METEOR 1 0 -800~0 -800}
            {GREAT_EFREETI_METEOR 2 25 -800~0 -600}
            {GREAT_EFREETI_METEOR 3 -25 -800~0 -400}
            {GREAT_EFREETI_METEOR 4 0 -832~-32 -200}
        [/if]
        [else]
            hits=no
            sound_start_time=-800
            [sound_frame]
                sound=flame-big-miss.ogg
            [/sound_frame]
        [/else]
        [if]
            direction=n
            [frame]
                image="units/summoners-enchanted-ones/efreeti-great-attack-magic-[startend-n].png:800"
            [/frame]
        [/if]
        [else]
            direction=ne,nw
            [frame]
                image="units/summoners-enchanted-ones/efreeti-great-attack-magic-[startend-ne].png:800"
            [/frame]
        [/else]
        [else]
            direction=se,sw
            [frame]
                image="units/summoners-enchanted-ones/efreeti-great-attack-magic-[startend-se].png:800"
            [/frame]
        [/else]
        [else]
            direction=s
            [frame]
                image="units/summoners-enchanted-ones/efreeti-great-attack-magic-[startend-s].png:800"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
