#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Great_Jinni
    name= _ "Great Jinni"
    race=eoma_magical
    image="units/summoners-enchanted-ones/jinn2.png"
    image_icon="units/summoners-enchanted-ones/jinn2.png"
    profile="portraits/summoners/greatjinn.webp"
    small_profile="portraits/summoners/greatjinn.webp~SCALE(205,205)"

    hitpoints=44
    movement_type=fly
    movement=5
    experience=110
    level=2
    alignment=neutral
    advances_to=EoMa_Wonderful_Jinni
    cost=40
    usage=mixed fighter
    description= _ "New summoners learn early on that jinn are much different from the elementals they have summoned from the Abyss. Jinn bear an insatiable thirst for knowledge that will soon cause them to become great jinn. Wiser than their own masters and possessing some fundamentals of summoning, great jinn are treated similarly to humans, if not better for their insight.

Great jinn frequently hold positions of authority, commanding divisions and even having a place of power in councils. Gifted with quick minds, great jinn still search for answers to life’s questions, despite the position they have."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_EOMA_REGENERATE 4}
    [/abilities]
    {JINN_MOVEMENT_ANIM jinn}
    {JINN_DEFENSE_ANIM jinn -attack-magic1 -move 2 0.0~-0.05 -0.05~-0.1 -0.1~-0.05 -0.05~0.0}
    [resistance]
        blade=80
        pierce=80
        impact=90
        fire=100
        cold=100
        arcane=110
    [/resistance]
    [movement_costs]
        cave=1
        fungus=1
        mountains=2
        deep_water=2
    [/movement_costs]
    [defense]
        cave=60
        sand=60
        fungus=50
        flat=60
        deep_water=60
        shallow_water=60
        swamp_water=60
        reef=60
        frozen=60
        unwalkable=60
    [/defense]
    [standing_anim]
        [frame]
            image="units/summoners-enchanted-ones/jinni2/00[01~36].png:42"
        [/frame]
    [/standing_anim]
    [healed_anim]
        [frame]
            image="units/summoners-enchanted-ones/jinni2/00[01~36].png:42"
            halo="units/summoners-enchanted-ones/jinni2/healing/00[01~36].png:42"
        [/frame]
    [/healed_anim]
    [idle_anim]
        start_time=0
        [frame]
            image="units/summoners-enchanted-ones/jinn-attack-magic-heal[1~5].png:75"
        [/frame]
    [/idle_anim]
    [death]
        start_time=0
        [frame]
            image="units/summoners-enchanted-ones/jinn-die[1~5].png:[100*4,300]"
        [/frame]
    [/death]
    {MAGIC_RECRUIT_ANIM () 26}
    {MAGIC_BANISHMENT_ANIM2 () 26}
    {MAGIC_LEVELIN_ANIM2 () 26}
    [attack]
        name=magical scimitar
        description=_"magical scimitar"
        icon=attacks/scimitar2.png
        type=blade
        range=melee
        damage=6
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=magic
        description=_"magic"
        icon=attacks/magic.png
        type=arcane
        range=ranged
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=magical scimitar
        [/filter_attack]
        start_time=-225
        [frame]
            image="units/summoners-enchanted-ones/jinn[-attack-magic1,-attack-melee2,-attack-melee3,-attack-melee4].png:[50,125,100*2]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=magic
        [/filter_attack]
        {JINN_MISSILE_ANIM}
        start_time=-475
        [if]
            hits=no
            [frame]
                image="units/summoners-enchanted-ones/jinn-attack-magic[1~3,5].png:[75,100*2,200]"
                sound=lightning-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/summoners-enchanted-ones/jinn[-attack-magic1,-attack-magic2,-attack-magic3,-attack-magic5,-attack-magic-heal1,-attack-magic-heal2,-attack-magic-heal3,-attack-magic-heal4,-attack-magic-heal5,1].png:[75,100*2,200,75*4,125,50]"
                sound=lightning.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
