#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_HoRhami
    name= _ "Ho’rhami"
    race=eoma_magical
    gender=female
    image="units/summoners-enchanted-ones/horhami.png"
    profile="portraits/summoners/horhami.png"
    small_profile="portraits/summoners/horhami.png~SCALE(205,205)"

    hitpoints=57
    movement_type=eoma_smallfoot
    movement=5
    experience=166
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=65#60
    usage=fighter
    description= _ "Ho’rhamis are the generals of the summoners’ armies, looking down upon the battlefield with an impartial eye. Though still avengers at heart, Ho’rhamis, as leaders, have grasped how to balance the importance of the lives of their companions. When leading in the front lines, Ho’rhamis strike with ferocity, their twin spears piercing and vivisecting live men. Even their inner magic has emerged to form the shape of a spear, attacking opponents from afar with precise deadliness."
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [abilities]
        {ABILITY_LEADERSHIP}
        {ABILITY_EOMA_REGENERATE 9}
    [/abilities]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [resistance]
        blade=80
        pierce=80
        impact=90
        fire=100
        cold=100
        arcane=110
    [/resistance]
    [standing_anim]
        [frame]
            image="units/summoners-enchanted-ones/horhami/00[01~36].png:42"
        [/frame]
    [/standing_anim]
    [healed_anim]
        [frame]
            image="units/summoners-enchanted-ones/horhami/00[01~36].png:42"
            halo="units/summoners-enchanted-ones/horhami/healing/00[01~36].png:42"
        [/frame]
    [/healed_anim]
    {RHAMI_DEFENSE_ANIM horhami horhami}
    {MAGIC_RECRUIT_ANIM () 26}
    {MAGIC_BANISHMENT_ANIM3 () 26}
    {MAGIC_LEVELIN_ANIM3 () 26}
    [idle_anim]
        start_time=0
        [frame]
            image="units/summoners-enchanted-ones/horhami-magic[1~3,2,1].png:100"
        [/frame]
    [/idle_anim]
    [leading_anim]
        start_time=-250
        [frame]
            duration=100
            image="units/summoners-enchanted-ones/horhami-magic[1~3,2,1].png:100"
        [/frame]
    [/leading_anim]
    [attack]
        name=trident
        description=_"double divine spear"
        icon=attacks/pike.png
        type=blade
        range=melee
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=trident2
        description=_"double divine spear"
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=12
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
        [/specials]
    [/attack]
    [attack]
        name=necklace
        description=_"gaze"
        icon=attacks/gaze-horhami.png
        type=arcane
        range=ranged
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=trident3
        description= _ "abyssal wind"
        icon=attacks/magic.png
        type=cold
        range=ranged
        damage=12
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
        [/specials]
    [/attack]
    {RHAMI_KAI_ATTACKS_ANIM horhami}
    [attack_anim]
        [filter_attack]
            name=trident3
        [/filter_attack]
        missile_start_time=-60
        [missile_frame]
            image="projectiles/magic-n-[1~3].png:100"
            image_diagonal="projectiles/magic-ne-[1~3].png:100"
            offset=0~1:100
            alpha=1:100,1~0:200
        [/missile_frame]
        [halo_frame]
            image="projectiles/magic-ne-[1~3,2,1].png:70"
            image_diagonal="projectiles/magic-n-[1~3,2,1].png:70"
            layer=99
            offset=0.5
            alpha=0~1:150,1~0:200
        [/halo_frame]
        start_time=-180
        halo_start_time=-180
        [frame]
            image="units/summoners-enchanted-ones/horhami-attack-b1.png:120"
        [/frame]
        [frame]
            image="units/summoners-enchanted-ones/horhami-attack-b[2,1].png:120"
            sound=magic-faeriefire.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
