#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Wonderful_Jinn
    name= _ "Wonderful Jinni"
    race=eoma_magical
    image="units/summoners-enchanted-ones/jinn-wonderful2.png"
    image_icon="units/summoners-enchanted-ones/jinn-wonderful-icon.png"
    profile="portraits/summoners/wonderfuljinn.png"
    small_profile="portraits/summoners/wonderfuljinn.png~SCALE(205,205)"

    hitpoints=55
    movement_type=fly
    movement=6
    experience=210
    level=3
    alignment=neutral
    advances_to=EoMa_Mystical_Jinn
    cost=62
    usage=mixed fighter
    description= _ "Wonderful jinns are sages in the summoners’ society, spreading their wisdom to any ear willing to listen. Their unequalled imagination and intellect of the world is evident through their vast multitude of elemental and arcane spells. Jinns of such high caliber have taught themselves how to perform offensive summonings, an attainment that earns them prominent respect among their human peers. Wonderful jinns have long since been independent, servants to their masters no longer. It is a mystery as to whether or not they have sated their immeasurable thirst, for they still follow the orders of their superiors and have not yet retired into the shadows of the world."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {LEVITATE3_ANIM (units/summoners-enchanted-ones/jinn-wonderful) 200}
    [abilities]
        {ABILITY_EOMA_REGENERATES6}
    [/abilities]
    [resistance]
        blade=80
        pierce=80
        impact=90
        fire=90
        cold=90
        arcane=100
    [/resistance]
    [movement_costs]
        cave=1
        fungus=1
        mountains=2
        deep_water=2
    [/movement_costs]
    [defense]
        cave=60
        sand=60
        fungus=50
        flat=60
        deep_water=60
        shallow_water=60
        swamp_water=60
        reef=60
    [/defense]
    {JINN_DEFENSE_ANIM jinn-wonderful 2 2 2 0.0~-0.05 -0.05~-0.1 -0.1~-0.05 -0.05~0.0}
    {MYSTIC_JINN_MOVE_ANIM jinn-wonderful units/summoners-enchanted-ones/jinn-wonderful-premove3.png}
    {MAGIC_RECRUIT_ANIM_BIG () 36}
    [idle_anim]
        [frame]
            image="units/summoners-enchanted-ones/jinn-wonderful-attack-magic[1~5].png:150"
        [/frame]
    [/idle_anim]
    [attack]
        name=magical scimitar
        description=_"magical scimitar"
        icon=attacks/scimitar2.png
        type=blade
        range=melee
        damage=15
        number=1
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=magicfire
        description=_"magic"
        icon=attacks/magic-fire.png
        type=fire
        range=ranged
        damage=9
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=magiccold
        description=_"magic"
        icon=attacks/magic.png
        type=cold
        range=ranged
        damage=9
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=magicarcane
        description=_"magic"
        icon=attacks/magic-astral.png
        type=arcane
        range=ranged
        damage=9
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=jinn-circle
        description=_"ultra circle"
        icon=attacks/ultracircle.png
        type=secret
        range=ranged
        damage=16
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
            {WEAPON_SPECIAL_EOMA_ANTISHIELD}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=magical scimitar
        [/filter_attack]
        missile_start_time=-400
        [if]
            direction=n
            [missile_frame]
                image="units/summoners-enchanted-ones/jinn-mystic-attack-melee1.png:300"
                image_mod=~FL(vert)
                blend_ratio=1~0:500
                blend_color=255,255,255
                offset=0.5
                auto_vflip=no
                layer=1
            [/missile_frame]
            [missile_frame]
                image="units/summoners-enchanted-ones/jinn-mystic-attack-melee[2,3].png:200"
                image_mod=~FL(vert)
                offset=0.5
                auto_vflip=no
                layer=1
            [/missile_frame]
            attack_sound_start_time=-100
            [missile_frame]
                image="units/summoners-enchanted-ones/jinn-mystic-attack-melee4.png:300"
                image_mod=~FL(vert)
                blend_ratio=0~1:300
                blend_color=255,255,255
                alpha=1~0
                offset=0.5
                auto_vflip=no
                layer=1
            [/missile_frame]
        [/if]
        [else]
            [missile_frame]
                image="units/summoners-enchanted-ones/jinn-mystic-attack-melee1.png:300"
                blend_ratio=1~0:500
                blend_color=255,255,255
                offset=0.5
                auto_vflip=no
            [/missile_frame]
            [missile_frame]
                image="units/summoners-enchanted-ones/jinn-mystic-attack-melee[2,3].png:200"
                offset=0.5
                auto_vflip=no
            [/missile_frame]
            attack_sound_start_time=-100
            [missile_frame]
                image="units/summoners-enchanted-ones/jinn-mystic-attack-melee4.png:300"
                blend_ratio=0~1:300
                blend_color=255,255,255
                alpha=1~0
                offset=0.5
                auto_vflip=no
            [/missile_frame]
        [/else]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=magicfire
        [/filter_attack]
        {EFREETI_MISSILE_ANIM}
        start_time=-475
        [frame]
            image="units/summoners-enchanted-ones/jinn-wonderful[-attack-magic1,-attack-magic2,-attack-magic3,-attack-magic5,1].png:[75*4,200]"
        [/frame]
        {SOUND:HIT_AND_MISS lightning.ogg lightning-miss.ogg -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=magiccold
        [/filter_attack]
        {JINN_MISSILE_ANIM}
        start_time=-475
        [frame]
            image="units/summoners-enchanted-ones/jinn-wonderful[-attack-magic1,-attack-magic2,-attack-magic3,-attack-magic5,1].png:[75*4,200]"
        [/frame]
        {SOUND:HIT_AND_MISS lightning.ogg lightning-miss.ogg -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=magicarcane
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="halo/circuit-n[1~3].png:75"
            image_diagonal="halo/circuit-ne[1~3].png:75"
            image_mod=~GS()~CS(60,60,60)
            offset=0.5
        [/missile_frame]
        [if]
            hits=yes

            missile2_start_time=-50
            [missile_frame]
                image="halo/circuit-n[3~1].png:50"
                image_diagonal="halo/circuit-ne[3~1].png:50"
                image_mod=~GS()~CS(60,60,60)
                offset=0.5
            [/missile_frame]
            [missile2_frame]
                duration=400
                halo="projectiles/fire-burst-small-[1~4,3,2,7,8].png"
                halo_mod=~GS()~CS(60,60,60)
                offset=1.0
                sound=um.ogg
            [/missile2_frame]
        [/if]
        start_time=-475
        [frame]
            image="units/summoners-enchanted-ones/jinn-wonderful[-attack-magic1,-attack-magic2,-attack-magic3,-attack-magic5,1].png:[75*4,200]"
        [/frame]
        {SOUND:HIT_AND_MISS lightning.ogg lightning-miss.ogg -200}
    [/attack_anim]
#define UCIRCLE_ANIM_CIRCLE_START NAME LAYER
    [circle_{NAME}_frame]
        duration=1000
        image=halo/ucircle-frames/ucircle-{NAME}-[01~23].png#~(640,480,)
        #	    image_mod="~SCALE(320,240)"
        image_mod="~SCALE(160,120)"
        auto_vflip=false
        sound=magic-faeriefire.ogg
        layer={LAYER}
        alpha=0~1:1000
        offset=1.0
    [/circle_{NAME}_frame]
#enddef
#define UCIRCLE_ANIM_CIRCLE NAME LAYER
    [circle_{NAME}_frame]
        duration=1000
        image=halo/ucircle-frames/ucircle-{NAME}-[01~23].png#~(640,480,)
        #	    image_mod="~SCALE(320,240)"
        image_mod="~SCALE(160,120)"
        auto_vflip=false
        layer={LAYER}
        offset=1.0
    [/circle_{NAME}_frame]
#enddef
#define UCIRCLE_ANIM_CIRCLE_HIT NAME LAYER
    [circle_{NAME}_frame]
        duration=1000
        image=halo/ucircle-frames/ucircle-{NAME}-[01~23].png#~(640,480,)
        #	    image_mod="~SCALE(320,240)"
        image_mod="~SCALE(160,120)"
        auto_vflip=false
        blend_color=255,255,255
        blend_ratio=0:700,0~0.4:100,0.4:200
        #            sound=magic-faeriefire.ogg
        layer={LAYER}
        offset=1.0
    [/circle_{NAME}_frame]
#enddef
#define UCIRCLE_ANIM_CIRCLE_REWIND NAME LAYER
    [circle_{NAME}_frame]
        duration=2000
        image=halo/ucircle-frames/ucircle-{NAME}-[01~23,01~23].png#~(640,480,)
        #	    image_mod="~SCALE(320,240)"
        image_mod="~SCALE(160,120)"
        blend_color=255,255,255
        blend_ratio=0.4~0:100
        auto_vflip=false
        sound=um-miss.ogg
        layer={LAYER}
        alpha=1~0:2000
        offset=1.0
    [/circle_{NAME}_frame]
#enddef
    [attack_anim]
        [filter_attack]
            name=jinn-circle
        [/filter_attack]
        glow_start_time=-4000
        particle_start_time=-3000
        circle_a_start_time=-5000
        circle_e_start_time=-4000
        circle_c_start_time=-3000
        [if]
            hits=yes
            hit_sound_start_time=-200
            [hit_sound_frame]
                sound=lightning.ogg
            [/hit_sound_frame]
        [/if]
        [else]
            hits=no
            hit_sound_start_time=-200
            [hit_sound_frame]
                sound=lightning-miss.ogg
            [/hit_sound_frame]
        [/else]
        [glow_frame]
            duration=6000
            image="halo/heavysummoner-[1~4,4~6,7~3,3~5,6~8,1~4,4~6,7~3,3~5,6~8,1~4,4~6,7~3,3~5,6~8,1~4,4~6,7~3,3~5,6~8,1~4,4~6,7~3,3~5,6~8].png"
            image_mod="~SCALE(160,160)"
            auto_vflip=false
            sound=magic-faeriefire.ogg
            layer=1
            y=-26
            alpha=0~0.6:1000,0.6:7000,0.6~0:2000
            offset=1.0
        [/glow_frame]
        [particle_frame]
            duration=4000
            image="halo/particle-anims/particles-a-[01~96].png"
            image_mod="~SCALE(160,160)"
            auto_vflip=false
            sound=um-miss.ogg
            layer=30
            #	    y=-26
            alpha=0~1:500,1:3000,1~0:500
            offset=1.0
        [/particle_frame]
        {UCIRCLE_ANIM_CIRCLE_START a 1}
        {UCIRCLE_ANIM_CIRCLE a 1}
        {UCIRCLE_ANIM_CIRCLE a 1}
        {UCIRCLE_ANIM_CIRCLE a 1}
        {UCIRCLE_ANIM_CIRCLE a 1}
        {UCIRCLE_ANIM_CIRCLE_HIT a 1}
        {UCIRCLE_ANIM_CIRCLE_REWIND a 1}
        [circle_e_frame]
            image="misc/blank-hex.png:1"
        [/circle_e_frame]
        {UCIRCLE_ANIM_CIRCLE_START e 1}
        {UCIRCLE_ANIM_CIRCLE e 1}
        {UCIRCLE_ANIM_CIRCLE e 1}
        {UCIRCLE_ANIM_CIRCLE_HIT e 1}
        {UCIRCLE_ANIM_CIRCLE_REWIND e 1}
        [circle_c_frame]
            image="misc/blank-hex.png:1"
        [/circle_c_frame]
        {UCIRCLE_ANIM_CIRCLE_START c 2}
        {UCIRCLE_ANIM_CIRCLE c 2}
        {UCIRCLE_ANIM_CIRCLE_HIT c 2}
        {UCIRCLE_ANIM_CIRCLE_REWIND c 2}
        missile_start_time=0
        [missile_frame]
            image="misc/blank-hex.png:1"
        [/missile_frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=jinn-circle-unused
        [/filter_attack]
        missile_start_time=-900
        [missile_frame]
            halo=halo/jinn-circle[0,1~6,7,6~1].png:150
            offset=1.0
        [/missile_frame]
        attack_sound_frame=-750
        [attack_sound_frame]
            sound=magic-faeriefire.ogg
        [/attack_sound_frame]
    [/attack_anim]
[/unit_type]
