#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Master_Banisher
    name= _ "Master Banisher"
    race=eoma_summoner
    image="units/summoners-humans/masterbanisher.png"
    profile="portraits/summoners/banisher.png"
    small_profile="portraits/summoners/banisher.png~SCALE(205,205)"

    hitpoints=70
    movement_type=eoma_smallfoot
    movement=6
    experience=200
    level=4
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=105
    usage=mixed fighter
    undead_variation=dispeller
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    ## {DEFENSE_ANIM "units/summoners-humans/masterbanisher.png" "units/summoners-humans/masterbanisher.png" silence.ogg }
    [resistance]
        fire=50
        cold=50
        arcane=60
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [standing_anim]
        [circle1_frame]
            image=halo/megacircle2/0[71~00].png:42
            auto_vflip=false
            alpha=0.8
            layer=0
            offset=0.0
            y=17
        [/circle1_frame]
        [circle2_frame]
            duration=6000
            image=halo/ucircle-frames/ucircle-b-[07~23,07~23,07~23,07~23,07~23,07~23].png
            image_mod="~SCALE(130,90)~GS()"
            auto_vflip=false
            layer=0
            y=17
            alpha=0.8
            offset=0.0
        [/circle2_frame]
        [frame]
            image="units/summoners-humans/masterbanisher/00[01~32,01~32].png:42"
            ## halo="halo/heavysummoner-[1~4,4~6,7~3,3~5,6~8].png:100"
            halo_mod=~GS()
            auto_vflip=no
        [/frame]
        [frame]
            image="units/summoners-humans/masterbanisher/00[01~32,01~32].png:42"
            ## halo="halo/heavysummoner-[1~8,8~2].png:100"
            halo_mod=~GS()
            auto_vflip=no
        [/frame]
        [overlay_frame]
            image="halo/particle-anims/particle-c-[01~07,06~02].png:168"
            alpha=0.0~0.3:924,0.3~0.0:924
            layer=41
            auto_vflip=no
        [/overlay_frame]
    [/standing_anim]
    [movement_anim]
        [circle1_frame]
            image=halo/megacircle2/0000.png:200
            auto_vflip=false
            alpha=0.8
            layer=0
            offset=0.0~1.0
            y=17
        [/circle1_frame]
        [circle2_frame]
            duration=200
            image=halo/ucircle-frames/ucircle-b-[07~23,07~23,07~23,07~23,07~23,07~23].png
            image_mod="~SCALE(130,90)~GS()"
            auto_vflip=false
            layer=0
            y=17
            alpha=0.8
            offset=0.0~1.0
        [/circle2_frame]
        [frame]
            image="units/summoners-humans/masterbanisher.png"
            auto_vflip=no
        [/frame]
    [/movement_anim]
    [abilities]
        {ABILITY_EOMA_CIRCLE_OF_BANISHMENT2}
    [/abilities]
    [defend]
        start_time=-126
        circle1_start_time=-126
        circle2_start_time=-126
        [circle1_frame]
            image=halo/megacircle2/0000.png:252
            auto_vflip=false
            alpha=0.8
            layer=0
            offset=0.0
            y=17
        [/circle1_frame]
        [circle2_frame]
            duration=252
            image=halo/ucircle-frames/ucircle-b-[07~23,07~23,07~23,07~23,07~23,07~23].png
            image_mod="~SCALE(130,90)~GS()"
            auto_vflip=false
            layer=0
            y=17
            alpha=0.8
            offset=0.0
        [/circle2_frame]
        [frame]
            image="units/summoners-humans/masterbanisher.png":1,"units/summoners-humans/masterbanisher.png":250,"units/summoners-humans/masterbanisher.png":1
            auto_vflip=no
        [/frame]
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:HUMAN_OLD_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
    [attack]
        name=banishment
        description=_"banishment"
        icon=attacks/banishment.png
        type=arcane
        range=melee
        damage=20
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_BANISH}
            {WEAPON_SPECIAL_SLOW}
            [chance_to_hit]
                id=eoma_proficiency
                name= _ "proficiency"
                description= _ "This attack increaces chance to hit against weak magical units (30/20/10 against lvl0/1/2 respectively). Works on both offense and defense."
                add=30
                apply_to=self
                [filter_opponent]
                    race=eoma_magical
                    level=0
                [/filter_opponent]
            [/chance_to_hit]
            [chance_to_hit]
                id=eoma_proficiency
                add=20
                apply_to=self
                [filter_opponent]
                    race=eoma_magical
                    level=1
                [/filter_opponent]
            [/chance_to_hit]
            [chance_to_hit]
                id=eoma_proficiency
                add=10
                apply_to=self
                [filter_opponent]
                    race=eoma_magical
                    level=2
                [/filter_opponent]
            [/chance_to_hit]
        [/specials]
    [/attack]
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/quarterstaff.png
        type=impact
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=frozen gate
        description=_"frozen gate"
        icon=attacks/faerie-fire.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=25
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=banishment
        [/filter_attack]
        start_time=-400
        circle1_start_time=-400
        circle2_start_time=-400
        missile_start_time=-200
        [if]
            hits=yes
            [circle1_frame]
                image=halo/megacircle2/0000.png:1000
                auto_vflip=false
                alpha=0.8
                layer=0
                offset=0.0~0.3:400,0.3~0.0:600
                y=17
            [/circle1_frame]
            [circle2_frame]
                duration=1000
                image=halo/ucircle-frames/ucircle-b-[07~23,07~23,07~23,07~23,07~23,07~23].png
                image_mod="~SCALE(130,90)~GS()"
                auto_vflip=false
                layer=0
                y=17
                alpha=0.8
                offset=0.0~0.3:400,0.3~0.0:600
            [/circle2_frame]
            [missile_frame]
                halo=halo/jinn-circle[0,1~6,7,6~1].png~GS()~CS(50,50,50)~SCALE(100,100):100
                offset=1.0
            [/missile_frame]
            [frame]
                image="units/summoners-humans/masterbanisher-attack1.png:400"
                offset=0~0.3:200,0.3:600,0.3~0:200
                sound=magic-faeriefire.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [circle1_frame]
                image=halo/megacircle2/0000.png:700
                auto_vflip=false
                alpha=0.8
                layer=0
                offset=0.0~0.3:400,0.3~0.0:600
                y=17
            [/circle1_frame]
            [circle2_frame]
                duration=700
                image=halo/ucircle-frames/ucircle-b-[07~23,07~23,07~23,07~23,07~23,07~23].png
                image_mod="~SCALE(130,90)~GS()"
                auto_vflip=false
                layer=0
                y=17
                alpha=0.8
                offset=0.0~0.3:400,0.3~0.0:600
            [/circle2_frame]
            [missile_frame]
                halo=halo/jinn-circle[0,1,2,1,0].png~GS()~CS(40,40,40)~SCALE(100,100):100
                offset=1.0
                alpha=0.75:300,0.75~0.1:200
            [/missile_frame]
            [frame]
                image="units/summoners-humans/masterbanisher-attack1.png:400"
                offset=0~0.3:200,0.3:300,0.3~0:200
                sound=um-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-350
        circle1_start_time=-350
        circle2_start_time=-350
        [circle1_frame]
            image=halo/megacircle2/0000.png:750
            auto_vflip=false
            alpha=0.8
            layer=0
            offset=0.0~0.8:350,0.8~0.0:400
            y=17
        [/circle1_frame]
        [circle2_frame]
            duration=750
            image=halo/ucircle-frames/ucircle-b-[07~23,07~23,07~23,07~23,07~23,07~23].png
            image_mod="~SCALE(130,90)~GS()"
            auto_vflip=false
            layer=0
            y=17
            alpha=0.8
            offset=0.0~0.8:350,0.8~0.0:400
        [/circle2_frame]
        [frame]
            image="units/summoners-humans/masterbanisher-attack[1~3,2,1].png:[100,200,300,100,50]"
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=frozen gate
        [/filter_attack]
        circle1_start_time=-300
        circle2_start_time=-500
        [if]
            direction=n,ne,nw
            [circle1_frame]
                image=halo/megacircle2/0000.png:800
                auto_vflip=false
                alpha=0.8
                layer=0
                offset=0.0
                y=17
                sound=um.ogg
            [/circle1_frame]
            [circle2_frame]
                duration=800
                image=halo/ucircle-frames/ucircle-b-[07~23,07~23,07~23,07~23,07~23,07~23].png
                image_mod="~SCALE(130,90)~GS()"
                auto_vflip=false
                layer=0
                y=17
                alpha=0.8
                offset=0.0
            [/circle2_frame]
        [/if]
        [else]
            [circle1_frame]
                image=halo/megacircle2/0000.png:800
                auto_vflip=false
                alpha=0.8
                layer=0
                offset=0.0
                y=17
                sound=um.ogg
            [/circle1_frame]
            [circle2_frame]
                duration=800
                image=halo/ucircle-frames/ucircle-b-[07~23,07~23,07~23,07~23,07~23,07~23].png
                image_mod="~SCALE(130,90)~GS()"
                auto_vflip=false
                layer=0
                y=17
                alpha=0.8
                offset=0.0
            [/circle2_frame]
        [/else]
        missile_start_time=-245
        {MISSILE_FRAME_LIGHT_BEAM}
        start_time=-500
        [frame]
            image="units/summoners-humans/masterbanisher.png:600"
        [/frame]
        [frame]
            image="units/summoners-humans/masterbanisher.png:50"
            sound=magic-dark-miss.ogg
        [/frame]
        attack_sound_start_time=-150
        [attack_sound_frame]
            sound=magic-dark-miss.ogg
        [/attack_sound_frame]
    [/attack_anim]
    #old animation, decided not to remove it due to the fact that it looks quite good:
    [attack_anim]
        [filter_attack]
            name=frozen gate-unused
        [/filter_attack]
        missile_start_time=0
        circleframe_start_time=-600
        circle1_start_time=-550
        circle2_start_time=-550
        circle3_start_time=-550
        circle4_start_time=-550
        [missile_frame]
            duration=300
            halo="halo/frozen-gate-[1~4].png~SCALE(100,100)"
            offset=1.0
        [/missile_frame]
        [circleframe_frame]
            image=halo/jinn-circle1.png~GS()~CS(100,100,100)~SCALE(100,100):600
            alpha=0.75~1:150,1:350,1~0:200
            layer=50
            offset=1.0
        [/circleframe_frame]
        [circleframe_frame]
            duration=150
            image="misc/empty.png"
            offset=1.0
        [/circleframe_frame]
        [circle1_frame]
            duration=300
            halo="halo/frozen-gate-[4~1].png"
            offset=1.0
            halo_x,halo_y=36,0
        [/circle1_frame]
        [circle1_frame]
            duration=150
            halo="misc/empty.png"
            offset=1.0
        [/circle1_frame]
        [circle2_frame]
            duration=300
            halo="halo/frozen-gate-[4~1].png"
            offset=1.0
            halo_x,halo_y=-36,0
        [/circle2_frame]
        [circle2_frame]
            duration=150
            halo="misc/empty.png"
            offset=1.0
        [/circle2_frame]
        [circle3_frame]
            duration=300
            halo="halo/frozen-gate-[4~1].png"
            offset=1.0
            halo_x,halo_y=0,36
        [/circle3_frame]
        [circle3_frame]
            duration=150
            halo="misc/empty.png"
            offset=1.0
        [/circle3_frame]
        [circle4_frame]
            duration=300
            halo="halo/frozen-gate-[4~1].png"
            offset=1.0
            halo_x,halo_y=0,-36
        [/circle4_frame]
        [circle4_frame]
            duration=150
            halo="misc/empty.png"
            offset=1.0
        [/circle4_frame]
        start_time=-500
        [frame]
            image="units/summoners-humans/masterbanisher-attack-magic[1~4].png:150"
        [/frame]
        [frame]
            image="units/summoners-humans/masterbanisher-attack-magic1.png:50"
            sound=magic-dark-miss.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
