#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Neutral_Summoner
    name= _ "Neutral Summoner"
    race=eoma_summoner
    image="units/summoners-humans/neutralsummoner-icon.png"
    image_icon="units/summoners-humans/neutralsummoner-icon.png"

    hitpoints=60
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    cost=56
    {EOMA_AMLA_DEFAULT_CONDITIONAL 1 veteran_then_default trait=eoma_veteran}
    usage=mixed fighter
    undead_variation=summoner2
    description= _ "Neutral summoners are the most enigmatic of the Summoners of the Third Degree. These summoners specialize in strange enfeebling magic that robs the life of foes with every strike. A covert group among summoners, neutral summoners infuse their scimitars with their ‘draining’ magic and also have learned to create their own unique circles that utilize it. Neutral summoners are also able to summon Jinns through complex circles that connect their world with the Abyss."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_EOMA_CIRCLESUS}
        {ABILITY_EOMA_SUMMON neutral (
            {SUMMON_MENU_ITEM 6_3_2 ( _ "Summon Jinn") 14 (EoMa_Neutral_Summoner) (EoMa_Jinn)}
        )}
        {ABILITY_EOMA_REGENERATES4}
    [/abilities]
    [resistance]
        fire=90
        cold=90
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    ignore_race_traits=yes
    {TRAIT_STRONG}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    [defend]
        start_time=-126
        circle_start_time=-126
        [circle_frame]
            duration=250
            image=halo/ucircle-frames/ucircle-f-[01~23].png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [frame]
            image="units/summoners-humans/neutralsummoner-draw2.png":1,"units/summoners-humans/neutralsummoner-draw2.png":250,"units/summoners-humans/neutralsummoner-draw2.png":1
            halo="halo/neutralsummoner-[1~8,7~1].png:15"
            halo_mod=~O(0.3)
            auto_vflip=no
        [/frame]
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:HUMAN_OLD_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
    [resistance_anim]
        [filter_attack]
            type=fire,cold,arcane
        [/filter_attack]
        halo_start_time=-300
        circle_time=-300
        start_time=-300
        [circle_frame]
            duration=300
            image=halo/ucircle-frames/ucircle-f-[01~23].png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [halo_frame]
            image=halo/implosion-1-5.png~CS(0,128,-255)~SCALE(108,108):400
            layer=99
            alpha=0~0.4:150,0.4:150,0.4~0:100
            offset=0
        [/halo_frame]
        halo2_start_time=-200
        [halo2_frame]
            halo="halo/neutralsummoner-[5~8,8~5].png:50"
            halo_mod=~O(0.45)
            auto_vflip=no
            offset=1
        [/halo2_frame]
        [frame]
            image="units/summoners-humans/neutralsummoner-attack-magic[1,2,1].png:100"
            halo="halo/neutralsummoner-[5~8,8~5].png:50"
            halo_mod=~O(0.6)
            auto_vflip=no
        [/frame]
    [/resistance_anim]
    [standing_anim]
        [circle_frame]
            duration=6000
            image=halo/ucircle-frames/ucircle-f-[01~23,01~23,01~23,01~23,01~23,01~23].png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [frame]
            image="units/summoners-humans/neutralsummoner.png"
            halo="halo/neutralsummoner-[1~6,6,7,7,8,8,8,8,7,7,6,6~1,1,1].png:100"
            halo_mod=~O(0.3)
            auto_vflip=no
        [/frame]
        [frame]
            image="units/summoners-humans/neutralsummoner.png:1000"
        [/frame]
        [frame]
            image="units/summoners-humans/neutralsummoner.png"
            halo="halo/neutralsummoner-[1~3,3,4,4,4,4,3,3~1,1,1].png:100"
            halo_mod=~O(0.3)
            auto_vflip=no
        [/frame]
        [frame]
            image="units/summoners-humans/neutralsummoner.png:5000"
        [/frame]
    [/standing_anim]
    [recruit_anim]
        [circle_frame]
            duration=600
            image=halo/ucircle-frames/ucircle-f-[01~23].png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=0~1
            offset=0.0
        [/circle_frame]
        [frame]
            image="units/summoners-humans/neutralsummoner.png:600"
            alpha=0~1
        [/frame]
    [/recruit_anim]
    [movement_anim]
        [circle_frame]
            duration=200
            image=halo/ucircle-frames/ucircle-f-[01~23].png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0~1.0:200
        [/circle_frame]
        direction=s,se,sw,ne,nw
        start_time=0
        [frame]
            image="units/summoners-humans/neutralsummoner-[draw2,move1].png:100"
        [/frame]
    [/movement_anim]
    [movement_anim]
        [circle_frame]
            duration=200
            image=halo/ucircle-frames/ucircle-f-[01~23].png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0~1.0:200
        [/circle_frame]
        direction=n
        start_time=0
        [frame]
            image="units/summoners-humans/neutralsummoner-[move-n1,move-n2].png:100"
        [/frame]
    [/movement_anim]
    [attack]
        name=scimitar
        description=_"scimitar"
        icon=attacks/scimitar-neutral.png
        type=blade
        range=melee
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=hammer
        description={STR_HAMMER}
        icon=attacks/hammer-neutral.png
        type=impact
        range=melee
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=circlebalance
        description=_"circle of balance"
        icon=attacks/circle-balance.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_ALWAYSHITS}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        damage=12
        number=1
    [/attack]
    [draw_weapon_anim]
        start_time=0
        [circle_frame]
            duration=300
            image=halo/ucircle-frames/ucircle-f-[01~23].png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
        [/circle_frame]
        [frame]
            image="units/summoners-humans/neutralsummoner-draw[1,2].png:150"
        [/frame]
    [/draw_weapon_anim]
    [attack_anim]
        [filter_attack]
            name=scimitar
        [/filter_attack]
        start_time=-200
        circle_start_time=-200
        [circle_frame]
            duration=500
            image=halo/ucircle-frames/ucircle-f-[01~23].png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0~0.6:250,0.6~0:250
        [/circle_frame]
        [frame]
            image="units/summoners-humans/neutralsummoner-attack[1~4,1].png:[100,200,50*2,100]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-350
        circle_start_time=-350
        [circle_frame]
            duration=750
            image=halo/ucircle-frames/ucircle-f-[01~23].png
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0~0.6:325,0.6~0:325
        [/circle_frame]
        [frame]
            image="units/summoners-humans/neutralsummoner-[attack-1b,attack-2b,attack-3b,attack-2b,attack-1b].png:[100,200,300,100,50]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
#define NEUTRALSUMMONER_CIRCLE_ANIM VARIATION DIR HALO_X HALO_Y
    [attack_anim]
        [filter_attack]
            name=circlebalance
        [/filter_attack]
        direction={DIR}
        circle_start_time=-800
        [circle_frame]
            duration=1000
            image=halo/ucircle-frames/ucircle-f-[01~23].png
            image_mod="~SCALE(81,47)"
            halo="halo/neutralsummoner-[1~4,4,4,4,3,3~1].png:100"
            halo_mod=~O(0.6)
            auto_vflip=no
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        missile_start_time=-250
        [missile_frame]
            offset=1.0:250
        [/missile_frame]
        start_time=-800
        [frame]
            image="units/summoners-humans/neutralsummoner-attack-magic[1,2,1].png:[400,600,200]"
            halo=halo/circle-balance-{VARIATION}-[1~5,4].png:200
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        attack_sound_time=0
        [attack_sound_frame]
            sound=lightning.ogg
        [/attack_sound_frame]
    [/attack_anim]
#enddef
    {NEUTRALSUMMONER_CIRCLE_ANIM 1 n 0 -36}
    {NEUTRALSUMMONER_CIRCLE_ANIM 2 s 0 36}
    {NEUTRALSUMMONER_CIRCLE_ANIM 4 ne 27 -18}
    {NEUTRALSUMMONER_CIRCLE_ANIM 4 nw 27 -18}
    {NEUTRALSUMMONER_CIRCLE_ANIM 3 se 27 18}
    {NEUTRALSUMMONER_CIRCLE_ANIM 3 sw 27 18}
[/unit_type]
