#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Novice_Summoner
    [/base_unit]
    id=EoMa_Novice_Summoner_rpg
    advances_to=EoMa_Summoner_rpg,EoMa_Dispeller
    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
