#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_RhamiDatu
    name= _ "Rhami’datu"
    race=i8magical
    gender=female
    image="units/summoners-enchanted-ones/rhamidatu-1.png"
    image_icon="units/summoners-enchanted-ones/rhamidatu-1.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=50
    movement_type=smallfoot
    movement=5
    experience=110
    level=2
    alignment=neutral
    advances_to=EoMa_DharmaRhami
    cost=34
    usage=warrior
    description= _ "Embellished in a body of gilded-gold, and always seen with a trinket of elemental fire dangling from one hand, Rhami’datus have become eagle-eyed, slicing incisively with their killing edges. Rhami’datus have learned to wield fire, turning them into the pyromancers of the summoners, second to fire elementals but far more intelligent.

Most of these Rhamis are promoted into commanding positions, though some prefer entering frays alongside their companions, fulfilling their roles as ardent avengers for the dead."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [abilities]
        {ABILITY_EOMA_REGENERATES}
    [/abilities]
    [resistance]
        blade=80
        pierce=80
        impact=90
        fire=90
        cold=110
        arcane=120
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    {RHAMI_DEFENSE_ANIM rhamidatu rhamidatu-1}
    [idle_anim]
        start_time=0
        [frame]
            image="units/summoners-enchanted-ones/rhamidatu-attack-[1~5,4~1].png:100"
        [/frame]
    [/idle_anim]
    [standing_anim]
        [frame]
            image="units/summoners-enchanted-ones/rhamidatu-[1~3].png:150"
        [/frame]
    [/standing_anim]
    {MAGIC_RECRUIT_ANIM "~GS()~R(255)~G(100)" 26}
    {MAGIC_BANISHMENT_ANIM2 "~GS()~R(255)~G(100)" 26}
    {MAGIC_LEVELIN_ANIM2 "~GS()~R(255)~G(100)" 26}
    [attack]
        name=swords
        description=_"swords"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=8
        number=4
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=firecup
        description=_"cup of fire"
        icon=attacks/firecup.png
        type=fire
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {RHAMI_SWORD_ANIM rhamidatu attack-5 attack-2 1 swords2 {SOUND_LIST:SWORD_SWISH}}
    [attack_anim]
        [filter_attack]
            name=swords
        [/filter_attack]
        start_time=-120
        attack_sound_start_time=-120
        [frame]
            image="units/summoners-enchanted-ones/rhamidatu-attack-[1~5].png:60"
        [/frame]
        [if]
            hits=yes
            [attack_sound_frame]
                duration=60
                sound={SOUND_LIST:SWORD_SWISH}
            [/attack_sound_frame]
            [attack_sound_frame]
                duration=60
                sound={SOUND_LIST:SWORD_SWISH}
            [/attack_sound_frame]
            [attack_sound_frame]
                sound={SOUND_LIST:SWORD_SWISH}
            [/attack_sound_frame]
        [/if]
        [else]
            [attack_sound_frame]
                duration=60
                sound={SOUND_LIST:MISS}
            [/attack_sound_frame]
            [attack_sound_frame]
                duration=60
                sound={SOUND_LIST:MISS}
            [/attack_sound_frame]
            [attack_sound_frame]
                sound={SOUND_LIST:MISS}
            [/attack_sound_frame]
        [/else]
    [/attack_anim]
    {RHAMI_FIRECUP_ANIM rhamidatu}
[/unit_type]
