#textdomain wesnoth-Era_of_Magic
#define CIRCLE1 FRAME
    duration=20
    image=halo/ucircle-frames/ucircle-c-{FRAME}.png
    auto_vflip=false
    layer=0
    y=17
    alpha=1
    offset=0.0
    layer=0
#enddef
[unit_type]
    id=EoMa_Rhami
    name= _ "Rhami"
    race=eoma_magical
    gender=female
    image="units/summoners-enchanted-ones/rhami.png"
    image_icon="units/summoners-enchanted-ones/rhami.png"
    ellipse="misc/ellipse"

    hitpoints=37
    movement_type=smallfoot
    movement=5
    experience=52
    level=1
    alignment=neutral
    advances_to=EoMa_RhamiDatu,EoMa_RhamiKai
    cost=17
    usage=warrior
    description= _ "Rhamis are a race of limber and swift creatures residing in the Abyss. Four-armed and, like jinns, blessed with the gift of intelligence, Rhamis carry out their work as the precise strike force of the summoners. Due to some foreign magical affinity, Rhamis regenerate their bodies promptly after becoming wounded. They are armed with a blade in each hand, casting blows and slashes with astonishing inhuman speed. Through their four blades and spryness, a Rhami can dive into combat and strike before their foes can react. Rhamis are fiercely loyal and search to enact revenge upon their fallen comrades."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}+{SPECIAL_NOTES_REGENERATES}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [abilities]
        {ABILITY_EOMA_REGENERATES}
    [/abilities]
    [resistance]
        blade=80
        pierce=80
        impact=90
        fire=108
        cold=108
        arcane=120
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [levelin_anim]
        [frame]
            image="halo/recruit-c-[7~5].png:75"
            sound=magic-faeriefire.ogg
        [/frame]
        [frame]
            image="halo/recruit-c-[6~10].png:75"
        [/frame]
        [frame]
            image="halo/recruit-d-[11~16].png:75"
        [/frame]
    [/levelin_anim]
    {GENERIC_DEFENSE_ANIM units/summoners-enchanted-ones/rhami units/summoners-enchanted-ones/rhami-defend units/summoners-enchanted-ones/rhami-attack-1 units/summoners-enchanted-ones/rhami-attack-1 units/summoners-enchanted-ones/rhami miss 0.0~-0.2 -0.2~-0.3 -0.3~0.0}
    {GENERIC_DEFENSE_ANIM units/summoners-enchanted-ones/rhami units/summoners-enchanted-ones/rhami-hit-1 units/summoners-enchanted-ones/rhami-hit-2 units/summoners-enchanted-ones/rhami-hit-3 units/summoners-enchanted-ones/rhami hit 0.0~-0.1 -0.1~-0.15 -0.15~0.0}
    [idle_anim]
        start_time=0
        [frame]
            image="units/summoners-enchanted-ones/rhami-idle-[1~4,1~4,1~4,1].png:100"
        [/frame]
    [/idle_anim]
    {MAGIC_RECRUIT_ANIM () 26}
    {MAGIC_BANISHMENT_ANIM () 26}
    [attack]
        name=sworddance
        description=_"sworddance"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=5
        number=4
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    {RHAMI_SWORD_ANIM rhami attack-1 attack-2 defend sworddance {SOUND_LIST:SWORD_SWISH}}
[/unit_type]
