#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Summons_Master
    [/base_unit]
    id=EoMa_Summons_Master_rpg
    [abilities]
        {ABILITY_EOMA_SUMMON_RPG}
    [/abilities]
    [attack]
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
    [/attack]
    [attack]
		damage=13
		number=2
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=20
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
        damage=20
    [/attack]
[/unit_type]
