#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Heavy_Summoner
    name= _ "Heavy Summoner"
    race=eoma_summoner
    image="units/summoners-humans/heavysummoner-icon.png"
    image_icon="units/summoners-humans/heavysummoner-icon.png"
    profile="portraits/summoners/summoner-heavy.png"
    small_profile="portraits/summoners/summoner-heavy.png~SCALE(205,205)"

    hitpoints=69
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    cost=58
    {AMLA_DEFAULT}
    usage=mixed fighter
    undead_variation=summoner2
    description= _ "A summoner trained in the ‘heavy arts’ holds a unique advantage over other summoners of the Third Degree: the knowledge of summoning a support-based circle around themselves and their allies. Circles of resistance will ward off incoming magical attacks, lessening their impact and protecting the heavy summoner’s comrades.

Heavy summoners are disciplined to fight in direct face-to-face brawls, boasting physiques built for resilience and strength. Rather than focusing their training on the summoning arts, they cultivate their brawn through their years to dominate fights in close-range. Heavy summoners still know their Second Degree’s ability of summoning magical arrows, though it is an ability that has been forsaken for the sake of their muscles.

Like their fellow neutral summoners, heavy summoners can call forth Rhamis from the Abyss through their summoning circles."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [defend]
        start_time=-126
        circle_start_time=-126
        [filter_attack]
            type=blade,pierce,impact,secret
        [/filter_attack]
        [circle_frame]
            duration=250
            image=halo/ucircle-frames/circle-g-[01~23].png#~(640,480,)
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [frame]
            image="units/summoners-humans/heavysummoner-defend-1.png":1,"units/summoners-humans/heavysummoner-defend-2.png":250,"units/summoners-humans/heavysummoner-defend-1.png":1
        [/frame]
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:HUMAN_OLD_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
    [defend]
        [filter_attack]
            type=fire,cold,arcane
        [/filter_attack]
        halo_start_time=-300
        circle_start_time=-300
        [halo_frame]
            halo="halo/elven/elven-shield-halo-[20,40,60,80,60,40,20]pct.png~BLEND(0,128,255,0.5)~CS(0,128,255):[50*3,100,50*3]"
            offset=0
            auto_vflip=false
            #            auto_hflip=false
        [/halo_frame]
        [circle_frame]
            duration=250
            image=halo/ucircle-frames/circle-g-[01~23].png#~(640,480,)
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [frame]
            image="units/summoners-humans/heavysummoner-defend-1.png":1,"units/summoners-humans/heavysummoner-defend-2.png":250,"units/summoners-humans/heavysummoner-defend-1.png":1
        [/frame]
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:HUMAN_OLD_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
    [abilities]
        {ABILITY_EOMA_CIRCLERES}
        {ABILITY_EOMA_SUMMON heavy (
            {SUMMON_MENU_ITEM 6_3_1 ( _ "Summon Rhami") 12 (EoMa_Heavy_Summoner) (EoMa_Rhami)}
        )}
    [/abilities]
    [resistance]
        blade=90
        pierce=90
        impact=90
        fire=70
        cold=70
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    ignore_race_traits=yes
    {TRAIT_STRONG}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    [standing_anim]
        [circle_frame]
            duration=3200
            image=halo/ucircle-frames/circle-g-[01~23,01~23,01~23].png#~(640,480,)
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [frame]
            image="units/summoners-humans/heavysummoner.png"
            halo="halo/heavysummoner-[1~4,4~6,7~3,3~5,6~8].png:100"
            halo_mod=~O(0.6)
            auto_vflip=no
        [/frame]
        [frame]
            image="units/summoners-humans/heavysummoner.png"
            halo="halo/heavysummoner-[1~8,8~2].png:100"
            halo_mod=~O(0.6)
            auto_vflip=no
        [/frame]
    [/standing_anim]
    [recruit_anim]
        [circle_frame]
            duration=600
            image=halo/ucircle-frames/circle-g-[01~23].png#~(640,480,)
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=0~1
            offset=0.0
        [/circle_frame]
        [frame]
            image="units/summoners-humans/heavysummoner.png:600"
            alpha=0~1:600
        [/frame]
    [/recruit_anim]
    [resistance_anim]
        [filter_attack]
            type=fire,cold,arcane
        [/filter_attack]
        halo_start_time=-300
        circle_start_time=-300
        start_time=-300
        [circle_frame]
            duration=300
            image=halo/ucircle-frames/circle-g-[01~07].png#~(640,480,)
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [halo_frame]
            halo="halo/elven/elven-shield-halo-[20,40,60,80,60,40,20]pct.png~BLEND(0,128,255,0.5)~CS(0,128,255):[50*3,100,50*3]"
            offset=1
            auto_vflip=false
            #            auto_hflip=false
        [/halo_frame]
        [frame]
            image="units/summoners-humans/heavysummoner-attack-magic[1~4,1].png:60"
            halo="halo/heavysummoner-[5~8,8~5].png:50"
            halo_mod=~O(0.6)
            auto_vflip=no
        [/frame]
    [/resistance_anim]
    [movement_anim]
        [circle_frame]
            duration=200
            image=halo/ucircle-frames/circle-g-[01~23].png#~(640,480,)
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0~1.0:200
        [/circle_frame]
        direction=s,se,sw,ne,nw
        start_time=0
        [frame]
            image="units/summoners-humans/heavysummoner-[draw2,move1].png:100"
        [/frame]
    [/movement_anim]
    [movement_anim]
        [circle_frame]
            duration=200
            image=halo/ucircle-frames/circle-g-[01~23].png#~(640,480,)
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0~1.0:200
        [/circle_frame]
        direction=n
        start_time=0
        [frame]
            image="units/summoners-humans/heavysummoner-[move-n1,move-n2].png:100"
        [/frame]
    [/movement_anim]
    [attack]
        name=scimitar
        description=_"scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
    [attack]
        name=hammer
        description={STR_HAMMER}
        icon=attacks/hammer-troll.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]
    [attack]
        name=ema
        description=_"magic arrow"
        icon=attacks/circle-basic.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
        [/specials]
        damage=13
        number=2
    [/attack]
    [attack]
        name=scroll
        description=_"scroll"
        icon=attacks/scroll.png
        type=pierce
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
        [/specials]
        damage=21
        number=1
    [/attack]
    [draw_weapon_anim]
        start_time=0
        [circle_frame]
            duration=300
            image=halo/ucircle-frames/circle-g-[01~23].png#~(640,480,)
            image_mod="~SCALE(68,38)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
        [/circle_frame]
        [frame]
            image="units/summoners-humans/heavysummoner-draw[1,2].png:150"
        [/frame]
    [/draw_weapon_anim]
    [attack_anim]
        [filter_attack]
            name=scimitar
        [/filter_attack]
        start_time=-200
        circle_start_time=-200
        [circle_frame]
            duration=500
            image=halo/ucircle-frames/circle-g-[01~23].png#~(640,480,)
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0~0.6:250,0.6~0:250
        [/circle_frame]
        [frame]
            image="units/summoners-humans/heavysummoner-attack[1~4,1].png:[100,200,50*2,100]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-350
        circle_start_time=-350
        [circle_frame]
            duration=750
            image=halo/ucircle-frames/circle-g-[01~23].png#~(640,480,)
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0~0.6:325,0.6~0:325
        [/circle_frame]
        [frame]
            image="units/summoners-humans/heavysummoner-[attack-1b,attack-2b,attack-3b,attack-2b,attack-1b].png:[100,200,300,100,50]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
    {SUMMONER_SCIMITAR_DRAW_ATTACK_ANIM heavysummoner}
    {SUMMONER_HAMMER_ATTACK_ANIM heavysummoner attack-1b attack-2b attack-3b attack-2b attack-1b}
    [attack_anim]
        [filter_attack]
            name=ema
        [/filter_attack]
        missile_start_time=-300
        circle_start_time=-300
        [circle_frame]
            duration=1100
            image=halo/ucircle-frames/circle-g-[01~23,01~03].png#~(640,480,)
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0~0
        [/circle_frame]
        [missile_frame]
            image="projectiles/whitemissile-n.png:200"
            image_diagonal="projectiles/whitemissile-ne.png:200"
            offset=0.0~0.8
        [/missile_frame]
        [missile_frame]
            duration=400
            halo="projectiles/whitemissile-impact-[1~8].png:50"
            offset=0.8,0.92,0.94,0.96,0.98,1.0,1.02,1.04
        [/missile_frame]
        start_time=-700
        [frame]
            image="units/summoners-humans/heavysummoner-[draw1,attack-magic1,attack-magic2].png:[100,200*2]"
        [/frame]
        [if]
            hits=no
            [frame]
                image="units/summoners-humans/heavysummoner-[attack-magic2,attack-magic4,draw1].png:[400,100*2]"
                sound=magic-arrow.wav
            [/frame]
        [/if]
        [else]
            hits=yes
            [frame]
                image="units/summoners-humans/heavysummoner-[attack-magic3,attack-magic4,draw1].png:[400,100*2]"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=scroll
        [/filter_attack]
        missile_start_time=-300
        circle_start_time=-300
        [circle_frame]
            duration=1450
            image=halo/ucircle-frames/circle-g-[01~23,01~12].png#~(640,480,)
            image_mod="~SCALE(81,47)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0~0
        [/circle_frame]
        [if]
            hits=miss
            [missile_frame]
                image="projectiles/flames-n-[3~1].png:[300,75*2]"
                image_diagonal="projectiles/flames-ne-[3~1].png:[300,75*2]"
                image_mod=~GS()~B(255)
                offset=0.0~0.8:300,0.8:75,0.8:75
            [/missile_frame]
        [/if]
        [else]
            hits=yes
            [missile_frame]
                image="projectiles/flames-n-3.png:300"
                image_diagonal="projectiles/flames-ne-3.png"
                image_mod=~GS()~G(128)~B(255)
                sound=spear.ogg
            [/missile_frame]
        [/else]
        start_time=-1000
        [frame]
            image="units/summoners-humans/heavysummoner-attack-magic[1,2,3].png:[200,300,300]"
        [/frame]
        [frame]
            image="units/summoners-humans/heavysummoner-attack-magic4.png:450"
            sound=fire.wav
        [/frame]
    [/attack_anim]
[/unit_type]
