#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Novice_Summoner
    name= _ "Novice Summoner"
    race=summoner
    image="units/summoners-humans/summoner.png"
    profile="portraits/summoners/summoner-novice.png"
    small_profile="portraits/summoners/summoner-novice.png~SCALE(205,205)"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=36
    movement_type=smallfoot
    movement=5
    experience=47
    level=1
    alignment=lawful
    advances_to=EoMa_Summoner,EoMa_Dispeller
    cost=16
    usage=mixed fighter
    undead_variation=summoner
    description= _ "Pupils of the summoning world are first taught the inscriptions and symbols fundamental to their craft. Lacking the experience that comes with age and combat, novices are unable to apply these arts without the aid of mediums, such as scrolls of parchment for fiery evocations. Summoning is an exact art, however, and even the most elementary spells will hit with certainty.

Unlike the magi of other societies, novice summoners are by no means frail, and are proficient with both scimitars and their bare hands in combat.

Special Notes: Precision: The ranged attack of this unit always has an 80% chance to hit."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [resistance]
        fire=94
        cold=94
    [/resistance]
    {SUMMONER_DEFENSE_ANIM summoner}
    {SUMMONER_DIRECTION_MOVEMENT_ANIM summoner draw2 move1 se,sw,ne,nw}
    {SUMMONER_DIRECTION_MOVEMENT_ANIM summoner move-n1 move-n2 n}
    [idle_anim]
        start_time=0
        [frame]
            image="units/summoners-humans/summoner-attack-magic[1,2,1].png:[200,800,150]"
        [/frame]
    [/idle_anim]
    [death]
        start_time=0
        [frame]
            image="units/summoners-humans/summoner-die-[1~5].png:[200*2,100,50*2]"
        [/frame]
    [/death]
    [attack]
        name=scimitar
        description=_"scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=hammer
        description={STR_FIST}
        icon=attacks/fist-human.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=scroll
        description=_"scroll"
        icon=attacks/scroll.png
        type=pierce
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
        [/specials]
        damage=12
        number=1
    [/attack]
    {SUMMONER_SCIMITAR_DRAW_ATTACK_ANIM summoner}
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-350
        [frame]
            image="units/summoners-humans/summoner-[attack-fist1,attack-fist2,attack-fist3,attack-fist2,draw1].png:[225,75,350,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=scroll
        [/filter_attack]
        missile_start_time=-300
        [if]
            hits=miss
            [missile_frame]
                image="projectiles/flames-n-[3~1].png:[300,75*2]"
                image_diagonal="projectiles/flames-ne-[3~1].png:[300,75*2]"
                offset=0.0~0.8:300,0.8:75,0.8:75
            [/missile_frame]
        [/if]
        [else]
            hits=yes
            [missile_frame]
                image="projectiles/flames-n-3.png:150"
                image_diagonal="projectiles/flames-ne-3.png"
            [/missile_frame]
			[missile_frame]
                image="projectiles/flames-n-3.png:150"
                image_diagonal="projectiles/flames-ne-3.png"
				sound=spear.ogg
            [/missile_frame]
        [/else]
        start_time=-1000
        [frame]
            image="units/summoners-humans/summoner-attack-scroll[1,2].png:[200,600]"
        [/frame]
        [if]
            direction=ne,n,nw
            [frame]
                image="units/summoners-humans/summoner-attack-scroll[3-ne,1].png:[400,50]"
                sound=fire.wav
            [/frame]
        [/if]
        [else]
            direction=se,s,sw
            [frame]
                image="units/summoners-humans/summoner-attack-scroll[3-se,1].png:[400,50]"
                sound=fire.wav
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
