#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Summons_Master
    name= _ "Summons Master"
    race=eoma_summoner
    image="units/summoners-humans/summonerIV.png"
    profile="portraits/summoners/summons-master.png"
    small_profile="portraits/summoners/summons-master.png~SCALE(205,205)"

    hitpoints=75
    movement_type=eoma_smallfoot
    flying=yes
    movement=5
    experience=200
    level=4
    alignment=lawful
    advances_to=null
    cost=111#100
    {AMLA_DEFAULT}
    usage=mixed fighter
    undead_variation=summoner2
    description= _ "Few men in the entirety of known history have ever embraced the veiled mystery that comes naturally with the title of the Fourth Degree. They are men who can wield the entire power of the Abyss with their right hand and the complete devastation of summoning magic with their left. A summons master has attained the culmination of all summoning arts ever crafted and comprehended.

Encircling a summons master is his magnum opus: the megacircle. The circle teems with magicks of all kinds — magicks to empower, mend, bless, cure, destroy, create, and remake. Within the vast and mystic megacircle, the air itself screams as elementals burst forth from their world into this one through the circle’s unearthly inscriptions. Men within the master’s circle are invested with supernatural gifts, their wounds closing by the aid of pure magic and their strength jumping twofold. Towers of heavenly light shriek into the skies from the megacircle’s symbols, obliterating everything within range.

All around the summons master, miracles occur, and ruin is wrought."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        blade=90
        pierce=90
        impact=90
        fire=80
        cold=80
    [/resistance]
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [defend]
        start_time=-126
        circle1_start_time=-126
        circle2_start_time=-126
        circle3_start_time=-126
        [frame]
            image="units/summoners-humans/summonerIV.png":1,"units/summoners-humans/summonerIV-attack-magic1.png":250,"units/summoners-humans/summonerIV.png":1
        [/frame]
        [circle1_frame]
            image=halo/megacircle/001.png:252
            auto_vflip=false
            alpha=0.8
            layer=0
            offset=0.0
        [/circle1_frame]
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:HUMAN_OLD_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
    [abilities]
        {ABILITY_EOMA_SUMMON smaster (
            {SUMMON_MENU_ITEM 6_2_1 ( _ "Summon Fire Elemental") 7 (EoMa_Summons_Master,EoMa_Master_of_Elements,TLU_Mehir_Leader) (EoMa_Fire_Elemental) EXCEPT_ON={FLYING_SUMMON_FILTER},W*}
            {SUMMON_MENU_ITEM 6_2_2 ( _ "Summon Water Elemental") 6 (EoMa_Summons_Master,EoMa_Master_of_Elements,TLU_Mehir_Leader) (EoMa_Water_Elemental) EXCEPT_ON={FLYING_SUMMON_FILTER},Q*}
            {SUMMON_MENU_ITEM 6_2_3 ( _ "Summon Air Elemental") 9 (EoMa_Summons_Master,EoMa_Master_of_Elements,TLU_Mehir_Leader) (EoMa_Air_Elemental) EXCEPT_ON={FLYING_SUMMON_FILTER}}
            {SUMMON_MENU_ITEM 6_2_4 ( _ "Summon Earth Elemental") 8 (EoMa_Summons_Master,EoMa_Master_of_Elements,TLU_Mehir_Leader) (EoMa_Earth_Elemental)}
        )}
        {ABILITY_LEADERSHIP}
        {ABILITY_EOMA_REGENERATE 8}
        {ABILITY_EOMA_CURES}
    [/abilities]
    [standing_anim]
        start_time=0
        overlay_start_time=1000
        circle1_start_time=0
        circle2_start_time=0
        circle3_start_time=0
        [circle1_frame]
            image=halo/megacircle/0[0~71].png:42
            auto_vflip=false
            alpha=0.8
            layer=0
            offset=0.0
        [/circle1_frame]
        [frame]
            image="units/summoners-humans/summonsmaster/00[01~32].png:42"
            layer=30
            auto_vflip=no
        [/frame]
        [overlay_frame]
            image="units/summoners-humans/summonerIVb.png:5000"
            alpha=0.0~0.6:2500,0.6~0.0:2500
            layer=41
            auto_vflip=no
        [/overlay_frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        circle1_start_time=0
        circle2_start_time=0
        circle3_start_time=0
        [circle1_frame]
            duration=200
            image=halo/megacircle/001.png
            auto_vflip=false
            alpha=0.8
            layer=0
            offset=0~1:200
        [/circle1_frame]
        [frame]
            image=units/summoners-humans/summonerIV.png:200
            layer=30
            auto_vflip=no
            offset=0~1:200
        [/frame]
    [/movement_anim]
    [healing_anim]
        start_time=0
        circle1_start_time=0
        circle2_start_time=0
        circle3_start_time=0
        [circle1_frame]
            image=halo/megacircle/001.png:650
            auto_vflip=false
            alpha=0.8
            layer=0
            offset=0.0
        [/circle1_frame]
        [circle2_frame]
            image=halo/megacircle-magic1.png:650
            auto_vflip=false
            alpha=0.0~1.0:325,1.0~0.0:325
            layer=1
            offset=0.0
        [/circle2_frame]
        [frame]
            image="units/summoners-humans/summonerIV-attack-magic[1,2,1].png:[200,300,150]"
        [/frame]
    [/healing_anim]
    [attack]
        name=magical scimitar
        description=_"magical scimitar"
        icon=attacks/scimitar2.png
        type=blade
        range=melee
        damage=8
        number=4
        [specials]
            {WEAPON_SPECIAL_EOMA_VERYSKILLED}
        [/specials]
    [/attack]
    [attack]
        name=hammer
        description=_"magical hammer"
        icon=attacks/hammer-summons.png
        type=impact
        range=melee
        damage=16
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_VERYSKILLED}
        [/specials]
    [/attack]
    [attack]
        name=circle of destruction
        description=_"circle of destruction"
        icon=attacks/circle-destr.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_ALWAYSHITS}
        [/specials]
        damage=26
        number=1
    [/attack]
    [attack]
        name=incantation of power
        description=_"incantation of power"
        icon=attacks/circle-advance.png
        type=secret
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
            {WEAPON_SPECIAL_EOMA_ANTISHIELD}
        [/specials]
        damage=35
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=magical scimitar
        [/filter_attack]
        start_time=-250
        circle1_start_time=-250
        circle2_start_time=-250
        circle3_start_time=-250
        [circle1_frame]
            image=halo/megacircle/001.png:450
            auto_vflip=false
            alpha=0.8
            layer=0
            offset=0.0~1.0,1.0~0.0
        [/circle1_frame]
        [frame]
            image="units/summoners-humans/summonerIV.png:50"
        [/frame]
        [frame]
            image="units/summoners-humans/summonerIV[-attack-1,-attack-2,-attack-1].png:[100,200,50]"
        [/frame]
        [frame]
            image="units/summoners-humans/summonerIV.png:100"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-250
        circle1_start_time=-250
        circle2_start_time=-250
        circle3_start_time=-250
        [circle1_frame]
            image=halo/megacircle/001.png:450
            auto_vflip=false
            alpha=0.8
            layer=0
            offset=0.0~1.0,1.0~0.0
        [/circle1_frame]
        [frame]
            image="units/summoners-humans/summonerIV.png:50"
        [/frame]
        [frame]
            image="units/summoners-humans/summonerIV[-attack-1,-attack-2,-attack-1].png:[100,200,50]"
        [/frame]
        [frame]
            image="units/summoners-humans/summonerIV.png:100"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
#define SUMMONS_MASTER_CIRCLE_ANIM LAST VARIATION DIR HALO_X HALO_Y
    [attack_anim]
        [filter_attack]
            name="circle of destruction"
        [/filter_attack]
        direction={DIR}
        circle1_start_time=-800
        circle2_start_time=-800
        circle3_start_time=-800
        missile_start_time=-250
        [missile_frame]
            offset=1.0:250
        [/missile_frame]
        start_time=-800
        [frame]
            image="units/summoners-humans/summonerIV-attack-magic[1,2,1].png:[400,600,200]"
            halo=halo/circle-destr-{VARIATION}-[1~5,{LAST}].png:200
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        attack_sound_time=0
        [attack_sound_frame]
            sound=lightning.ogg
        [/attack_sound_frame]
        [circle1_frame]
            image=halo/megacircle/001.png:1200
            auto_vflip=false
            alpha=0.8
            layer=0
            offset=0.0
        [/circle1_frame]
        [circle2_frame]
            image=halo/megacircle-magic2.png:800
            auto_vflip=false
            alpha=0.0~1.0:550,1.0:250,1.0~0.0:400
            layer=1
            offset=0.0
        [/circle2_frame]
    [/attack_anim]
#enddef
    {SUMMONS_MASTER_CIRCLE_ANIM 4 1 n 0 -36}
    {SUMMONS_MASTER_CIRCLE_ANIM 4 2 s 0 36}
    {SUMMONS_MASTER_CIRCLE_ANIM 4 4 ne 27 -18}
    {SUMMONS_MASTER_CIRCLE_ANIM 4 4 nw 27 -18}
    {SUMMONS_MASTER_CIRCLE_ANIM 4 3 se 27 18}
    {SUMMONS_MASTER_CIRCLE_ANIM 4 3 sw 27 18}
#define INCANTATION_ANIM VARIATION DIR HALO_X HALO_Y
    [attack_anim]
        [filter_attack]
            name=incantation of power
        [/filter_attack]
        direction={DIR}
        circle1_start_time=-600
        circle2_start_time=-600
        circle3_start_time=-600
        missile_start_time=-600
        [missile_frame]
            offset=1.0:250
        [/missile_frame]
        overlay_start_time=-200
        [overlay_frame]
            image="units/summoners-humans/summonerIVb.png~GS()~CS(128,64,0):800"
            alpha=0.0~0.6:300,0.6~0.0:300
            layer=41
            offset=0.0
            auto_vflip=no
        [/overlay_frame]
        start_time=-600
        [if]
            hits=yes
            [circle1_frame]
                image=halo/megacircle/001.png:1200
                auto_vflip=false
                alpha=0.8
                layer=0
                offset=0.0
            [/circle1_frame]
            [circle2_frame]
                image=halo/megacircle-magic3.png:800
                auto_vflip=false
                alpha=0.0~1.0:350,1.0:250,1.0~0.0:200
                layer=1
                offset=0.0
            [/circle2_frame]
            [frame]
                image="units/summoners-humans/summonerIV-attack-magic[1,2,1].png:[600,400,200]"
                halo=halo/circle-advance-{VARIATION}-[4,1~5].png:[200,500,200,100*2,200]
                halo_x,halo_y={HALO_X},{HALO_Y}
            [/frame]
        [/if]
        [else]
            hits=no
            [circle1_frame]
                image=halo/megacircle/001.png:600
                auto_vflip=false
                alpha=0.8
                layer=0
                offset=0.0
            [/circle1_frame]
            [circle2_frame]
                image=halo/megacircle-magic3.png:600
                auto_vflip=false
                alpha=0.0~0.3:200,0.3:200,0.3~0.0:200
                layer=1
                offset=0.0
            [/circle2_frame]
            [frame]
                image="units/summoners-humans/summonerIV-attack-magic[1,2].png:300"
                halo=halo/circle-advance-{VARIATION}-[4,2,5,4,5].png:[100,200,100*3]
                halo_x,halo_y={HALO_X},{HALO_Y}
            [/frame]
        [/else]
        attack_sound_time=-500
        [attack_sound_frame]
            sound=lightning.ogg
        [/attack_sound_frame]
    [/attack_anim]
#enddef
    {INCANTATION_ANIM 1 n 0 -430}
    {INCANTATION_ANIM 1 s 0 -326}
    {INCANTATION_ANIM 1 ne 54 -404}
    {INCANTATION_ANIM 1 nw 54 -404}
    {INCANTATION_ANIM 1 se 54 -352}
    {INCANTATION_ANIM 1 sw 54 -352}
[/unit_type]
