#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Grand_Summoner
    [/base_unit]
    id=EoMa_Grand_Summoner_rpg
    advances_to=EoMa_Summons_Master_rpg
    [abilities]
        {ABILITY_EOMA_SUMMON_RPG}
    [/abilities]
    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
        damage=13
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
