#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Summoner
    name= _ "Summoner"
    race=summoner
    image="units/summoners-humans/summonerII.png"
    profile="portraits/summoners/summoner.png"
    small_profile="portraits/summoners/summoner.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=52
    movement_type=smallfoot
    movement=5
    experience=85
    level=2
    alignment=lawful
    advances_to=TLU_Grand_Summoner,EoMa_Neutral_Summoner,EoMa_Heavy_Summoner
    cost=32
    usage=mixed fighter
    undead_variation=summoner2
    description= _ "Promoted to the Second Degree, summoners are proficient enough to perform minor summonings, using their own bodies as the medium. With a magical circle traced in their hands, they can let loose magical arrows that strike foes with surefire aim. Summoners, armed with hammers and scimitars, are trained in slaying enemies in both close quarters and afar.

Special Notes: Precision: Ranged attack of this unit always has a 80% chance to hit."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [movement_costs]
        sand=1
    [/movement_costs]
    [defense]
        sand=60
    [/defense]
    [resistance]
        fire=94
        cold=94
    [/resistance]
    {SUMMONER_DEFENSE_ANIM summoner}
    {SUMMONER_DIRECTION_MOVEMENT_ANIM summoner draw2 move1 se,sw,ne,nw}
    {SUMMONER_DIRECTION_MOVEMENT_ANIM summoner move-n1 move-n2 n}
    [standing_anim]
        start_time=0
        [frame]
            image="units/summoners-humans/summonerI[I,I-2,I-3].png:100"
        [/frame]
    [/standing_anim]
    [attack]
        name=scimitar
        description=_"scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=6
        number=4
    [/attack]
    [attack]
        name=hammer
        description={STR_HAMMER}
        icon=attacks/hammer.png
        type=impact
        range=melee
        damage=11
        number=2
    [/attack]
    [attack]
        name=magic arrow
        description=_"magic arrow"
        icon=attacks/circle-basic.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
        [/specials]
        damage=9
        number=2
    [/attack]
    [attack]
        name=scroll
        description=_"scroll"
        icon=attacks/scroll.png
        type=pierce
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
        [/specials]
        damage=16
        number=1
    [/attack]
    {SUMMONER_SCIMITAR_DRAW_ATTACK_ANIM summonerII}
    {SUMMONER_HAMMER_ATTACK_ANIM summonerII attack-1b attack-2b attack-3b attack-2b attack-1b}
    [attack_anim]
        [filter_attack]
            name=magic arrow
        [/filter_attack]
        missile_start_time=-300
        [missile_frame]
            image="projectiles/whitemissile-n.png:200"
            image_diagonal="projectiles/whitemissile-ne.png:200"
			offset=0.0~0.8
        [/missile_frame]
		[missile_frame]
            duration=400
            halo="projectiles/whitemissile-impact-[1~8].png:50"
            offset=0.8,0.92,0.94,0.96,0.98,1.0,1.02,1.04
        [/missile_frame]
        start_time=-900
        [frame]
            image="units/summoners-humans/summonerII-attack-magic[1~4].png:[200*3,350]"
        [/frame]
        {SOUND:HIT_AND_MISS magic-arrow.wav lightning-miss.ogg -300}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=scroll
        [/filter_attack]
        missile_start_time=-300
        [if]
            hits=miss
            [missile_frame]
                image="projectiles/flames-n-[3~1].png:[300,75*2]"
                image_diagonal="projectiles/flames-ne-[3~1].png:[300,75*2]"
                offset=0.0~0.8:300,0.8:75,0.8:75
            [/missile_frame]
        [/if]
        [else]
            hits=yes
            [missile_frame]
                image="projectiles/flames-n-3.png:150"
                image_diagonal="projectiles/flames-ne-3.png"
            [/missile_frame]
			[missile_frame]
                image="projectiles/flames-n-3.png:150"
                image_diagonal="projectiles/flames-ne-3.png"
				sound=spear.ogg
            [/missile_frame]
        [/else]
        start_time=-1000
        [frame]
            image="units/summoners-humans/summonerII-attack-magic[1,2].png:[200,600]"
        [/frame]
        [frame]
            image="units/summoners-humans/summonerII-attack-magic[3,1].png:[400,50]"
            sound=fire.wav
        [/frame]
    [/attack_anim]
[/unit_type]
