#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Water_Elemental
    name= _ "Water Elemental"
    race=eoma_magical
    image="units/summoners-elementals/elemental-water1.png"
    image_icon="units/summoners-elementals/elemental-water1.png"
    ellipse="misc/ellipse"
    hitpoints=31
    movement_type=swimmer
    movement=6
    experience=29
    level=1
    alignment=neutral
    advances_to=EoMa_Water_Avatar
    cost=15
    usage=healer
    [movement_costs]
        deep_water=1
        shallow_water=1
        cave=1
        sand=2
        flat=1
        forest=3
        hills=3
        fungus=2
        reef=1
    [/movement_costs]
    [defense]
        deep_water=40
        shallow_water=40
        cave=70
        frozen=60
        fungus=70
    [/defense]
    description= _ "The Abyss is home to aquatic beings composed of nothing more than the same pure water essential for all living creatures. Such a being is held together by a singular magical bond circulating its whole watery form. This grants it regeneration when submerged in other bodies of water. The extraordinary water in its body has moderate healing properties, which can mend the injuries of allies. Less volatile than the other inhabitants of the Abyss, water elementals are preferred by the more conservative of summoners.

Yet these elementals are by no means harmless, and the unwary opponent may find their bodies frozen at a moment’s glance, their limbs transformed into cold, useless ice."
    [abilities]
        {ABILITY_EOMA_HEAL 4}
        {ABILITY_EOMA_WATER_REGENERATION 6}
        {ABILITY_EOMA_FROZEN_REGENERATION 4}
    [/abilities]
    [resistance]
        blade=90
        pierce=80
        impact=80
        fire=120
        cold=60
        arcane=120
    [/resistance]
    [standing_anim]
        #Gimp-Wave type Sine frequency 26~22 amplitude 1~3 for frame 2,3,4 reverse for others
        [frame]
            image="units/summoners-elementals/elemental-water[1~6].png:100"
        [/frame]
    [/standing_anim]
    {MAGIC_RECRUIT_ANIM () 26}
    {MAGIC_BANISHMENT_ANIM () 26}
    {MAGIC_LEVELIN_ANIM () 26}
    {ELEMENTAL_WATER_IDLE_DEATH_ANIM elemental-water}
    {GENERIC_DEFENSE_ANIM units/summoners-elementals/elemental-water1 units/summoners-elementals/elemental-water-defend2 units/summoners-elementals/elemental-water-defend3 units/summoners-elementals/elemental-water-defend1 units/summoners-elementals/elemental-water1 miss 0.0 0.0 0.0}
    {GENERIC_DEFENSE_ANIM units/summoners-elementals/elemental-water2 units/summoners-elementals/elemental-water-hit1 units/summoners-elementals/elemental-water-hit2 units/summoners-elementals/elemental-water-hit3 units/summoners-elementals/elemental-water2 yes 0.0 0.0 0.0}
    [attack]
        name=freezing touch
        description=_"freezing touch"
        icon=attacks/faerie-fire.png
        type=cold
        range=melee
        damage=5
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=waterspray
        description={STR_WATER_SPRAY}
        icon=attacks/waterspray.png
        type=impact
        range=ranged
        damage=6
        number=2
        [specials]
        [/specials]
    [/attack]
    {ELEMENTAL_WATER_FIST_ANIM elemental-water attack-magic}
    [attack_anim]
        [filter_attack]
            name=waterspray
        [/filter_attack]
        missile_start_time=-220
        [missile_frame]
            image="projectiles/water-spray.png:300"
            image_diagonal="projectiles/water-spray.png"
        [/missile_frame]
        start_time=-400
        [frame]
            image="units/summoners-elementals/elemental-water-attack-magic[1,2,1].png:[50,200,150]"
        [/frame]
        {SOUND:HIT_AND_MISS water-blast.wav water-blast.wav -200}
    [/attack_anim]
[/unit_type]
