#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Cyclops_Warmonger
    [/base_unit]
    id=EoMa_Cyclops_Warmonger_rpg
    advances_to=EoMa_Cyclops_Goliath_rpg
    [abilities]
        {ABILITY_EOMA_FURIOUSDEATH_RPG}
    [/abilities]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_CLEAVE_RPG}
        [/specials]
    [/attack]
[/unit_type]
