#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Goblin_Shaman
    [/base_unit]
    id=EoMa_Goblin_Shaman_rpg
    advances_to=EoMa_Goblin_Druid_rpg,EoMa_Goblin_Wizard_rpg
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_MAGIC_COUNTER}
            {WEAPON_SPECIAL_EOMA_MAGIC_HARDENING}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
            {WEAPON_SPECIAL_EOMA_MAGIC_HARDENING}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_EOMA_MAGIC_HARDENING}
        [/specials]
    [/attack]
[/unit_type]
