#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Twin_Archer_Toad
    [/base_unit]
    id=EoMa_Twin_Archer_Toad_rpg
    [attack]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
    [/attack]
    [attack]
    [/attack]
    [attack]
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_SPLITFIRE (_"split fire") crossbow2}
        [/specials]
    [/attack]
    [attack]
    [/attack]
[/unit_type]
