#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Apocalypse
    name= _ "Apocalypse"
    race=undead
    image="units/destroyers-maras/mara3.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse"
    hitpoints=38
    movement_type=undeadspirit
    movement=6
    experience=180
    level=3
    alignment=chaotic
    advances_to=EoMa_DarkApostle
    cost=52
    usage=mixedfighter
    num_traits=2
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_INTELLIGENT}
    {TRAIT_QUICK}
	{TRAIT_STRONG}
	{TRAIT_DEXTROUS}
    description={NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_DRAIN}+{SPECIAL_NOTES_SPIRIT}+{SPECIAL_NOTES_ARCANE}
    die_sound=lich-die.ogg
	{DESTROYER_ADVANCEMENT_ANIM}
#	{DESTROYER_DEATH_ANIM_MEDIUM}
	{DESTROYER_NIGHTMARE_RECRUIT_ANIM mara3 130,130}
	{DEFENSE_ANIM "units/destroyers-maras/mara3.png" "units/destroyers-maras/mara3.png" silence.ogg}
    [abilities]
#        {ABILITY_SKIRMISHER}
    [/abilities]
    [resistance]
        impact=50
        blade=50
        pierce=50
        arcane=85
        fire=50
        cold=105
    [/resistance]

    [attack]
        name=touch
        description=_"touch of apocalypse"
        icon=attacks/curse.png
        type=fire
        range=melee
        damage=11
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
	[attack]
        name=touch2
        description=_"devour"
        icon=attacks/devour.png
        type=fire
        range=melee
        damage=22
        number=1
        [specials]
            {WEAPON_SPECIAL_DRAIN}
			{WEAPON_SPECIAL_EOMA_SWALLOW 6}
        [/specials]
    [/attack]
    [attack]
        name=wail
        description=_"chaotic blast"
		icon=attacks/chaotic-blast.png
        type=fire
        range=ranged
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        start_time=-500
        offset=0.0~1.0:425,0.0:225
        alpha=0.8~0.0:425,0.0~0.8:225
		sound=wail.wav
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=touch2
        [/filter_attack]
        hits=yes
        start_time=-500
        offset=0.0:425,1.0:375,0:150
        alpha=0.8~0.0:425,0.0~0.8:225,0.8~0.0:150,0.0~0.8:150
		sound=wail.wav
        sound_start_time=-125
        [sound_frame]
            sound=chaotic-blast.wav
        [/sound_frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=touch2
        [/filter_attack]
        hits=no
        start_time=-500
        offset=0
        alpha=0.8~0.0:425,0.0~0.8:225
		sound=wail.wav
    [/attack_anim]

    [standing_anim]
        [frame]
            begin=0
            end=200
            image="units/destroyers-maras/mara3-1.png"
        [/frame]
        [frame]
            begin=200
            end=400
            image="units/destroyers-maras/mara3-2.png"
        [/frame]
        [frame]
            begin=400
            end=600
            image="units/destroyers-maras/mara3-3.png"
        [/frame]
        [frame]
            begin=600
            end=800
            image="units/destroyers-maras/mara3-2.png"
        [/frame]
    [/standing_anim]

    [idle_anim]
        start_time=0
        [frame]
            alpha=1.0~0.0
            duration=400
            image="units/destroyers-maras/mara3-attack1.png"
            halo="units/destroyers-maras/mara3-attack2.png"
        [/frame]
        [frame]
            alpha=1.0~0.0
            duration=300
            image="units/destroyers-maras/mara3-attack2.png"
            halo="units/destroyers-maras/mara3-attack3.png"
        [/frame]
        [frame]
            duration=200
            image="units/destroyers-maras/mara3-attack3.png"
        [/frame]
    [/idle_anim]

    [attack_anim]
        [filter_attack]
            name=wail
        [/filter_attack]
        start_time=-500
        missile_start_time=-300
        [missile_frame]
            duration=50
            image="projectiles/firewave-n1.png~CS(0,-255,-255)"
            image_diagonal="projectiles/firewave-1.png~CS(0,-255,-255)"
            offset=0.0~0.2
            sound=chaotic-blast.wav
        [/missile_frame]
        [missile_frame]
            duration=50
            image="projectiles/firewave-n2.png~CS(0,-255,-255)"
            image_diagonal="projectiles/firewave-2.png~CS(0,-255,-255)"
            offset=0.2~0.4
        [/missile_frame]
        [missile_frame]
            duration=50
            image="projectiles/firewave-n3.png~CS(0,-255,-255)"
            image_diagonal="projectiles/firewave-3.png~CS(0,-255,-255)"
            offset=0.4~0.6
        [/missile_frame]
        [missile_frame]
            duration=50
            image="projectiles/firewave-n4.png~CS(0,-255,-255)"
            image_diagonal="projectiles/firewave-4.png~CS(0,-255,-255)"
            offset=0.6~0.8
        [/missile_frame]
        [missile_frame]
            duration=50
            image="projectiles/firewave-n5.png~CS(0,-255,-255)"
            image_diagonal="projectiles/firewave-5.png~CS(0,-255,-255)"
            offset=0.8~1.0
        [/missile_frame]
        [frame]
            duration=200
            image="units/destroyers-maras/mara3-attack1.png"
        [/frame]
        [frame]
            duration=200
            image="units/destroyers-maras/mara3-attack2.png"
        [/frame]
        [frame]
            duration=200
            image="units/destroyers-maras/mara3-attack3.png"
        [/frame]
    [/attack_anim]
[/unit_type]
