#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Apocalypse
    [/base_unit]
    id=EoMa_Apocalypse_rpg
    advances_to=EoMa_Dark_Apostle_rpg
    hitpoints=44
    [resistance]
        impact=60
        blade=60
        pierce=60
        arcane=90
        fire=60
        cold=110
    [/resistance]
    [attack]
        [specials]
            #disable magical
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            #enable marksman
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        damage=17
        [specials]
            {WEAPON_SPECIAL_EOMA_SWALLOW_RPG}
        [/specials]
    [/attack]
    [attack]
        damage=7
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
    [/attack]
[/unit_type]
