#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Atokpi_Samurai
    name= _ "Atokpi Samurai"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_DEXTROUS}
    num_traits=2

    image="units/destroyers-atokpis/atokpi2.png"
    ellipse="misc/ellipse"
    hitpoints=50
    movement_type=undeadfoot
    movement=5
    experience=83
    level=2
    alignment=neutral
    advances_to=EoMa_Atokpi_General
    cost=29
    usage=warrior
    description={NO_DESCR_AVAILABLE}
    {DESTROYER_ADVANCEMENT_ANIM}
	{DEFENSE_ANIM "units/destroyers-atokpis/atokpi2.png" "units/destroyers-atokpis/atokpi2.png" silence.ogg}
	[standing_anim]
        [frame]
            image="units/destroyers-atokpis/atokpi2/00[01~32].png:42"
        [/frame]
    [/standing_anim]
	[healed_anim]
        [frame]
            image="units/destroyers-atokpis/atokpi2/00[01~32].png:31"
            halo="units/destroyers-atokpis/atokpi2/healing/00[01~24].png:42"
        [/frame]
    [/healed_anim]
    [resistance]
        impact=100
        blade=80
        pierce=70
        arcane=110
        fire=110
        cold=80
    [/resistance]
    [defense]
        shallow_water=70
        deep_water=70
        reef=60
    [/defense]
    [abilities]
        {ABILITY_SUBMERGE}
        {ABILITY_EOMA_NOCTURNAL_REGENERATION 2}
    [/abilities]
    [attack]
        name=katana
        description=_"katana"
        icon=attacks/katana.png
        type=blade
        range=melee
        damage=11
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/staff-atokpi.png
        type=impact
        range=melee
        damage=14
        number=2
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=ranged
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/spear-n.png~SCALE(80,80)"
            image_diagonal="projectiles/spear-ne.png~SCALE(80,80)"
        [/missile_frame]
        start_time=-150
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/destroyers-atokpis/atokpi2.png"
                sound=spear.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/destroyers-atokpis/atokpi2.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=katana
        [/filter_attack]
        start_time=-200
        [frame]
            duration=100
            image="units/destroyers-atokpis/atokpi2-blade1.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-atokpis/atokpi2-blade2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/destroyers-atokpis/atokpi2-blade3.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/destroyers-atokpis/atokpi2-blade3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/destroyers-atokpis/atokpi2-blade4.png"
        [/frame]
        [frame]
            duration=25
            image="units/destroyers-atokpis/atokpi2.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-200
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/destroyers-atokpis/atokpi2.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/destroyers-atokpis/atokpi2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    {DESTROYER_RECRUIT_ANIM 26}
[/unit_type]
