#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Atokpi_Charger
    [/base_unit]
    id=EoMa_Atokpi_Charger_rpg
    movement=7
	[resistance]
		fire=100
		impact=110
	[/resistance]
    [attack]
        [specials]
        [/specials]
    [/attack]
    [attack]
        [specials]
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
    [/attack]
[/unit_type]
