#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Atokpi_Master
    [/base_unit]
    id=EoMa_Atokpi_Master_rpg

    [abilities]
        {ABILITY_EOMA_ALTER_EGO atokpirpg EoMa_Atokpi_Master_rpg EoMa_Dark_Atokpi_rpg}
    [/abilities]

    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
