#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Atokpi_Dark
	name=_ "Dark Atokpi"	
	race=undead
	ignore_race_traits=yes
	{TRAIT_UNDEAD}
	{TRAIT_QUICK}
	{TRAIT_RESILIENT}
	{TRAIT_STRONG}
	{TRAIT_DEXTROUS}
	num_traits=2
	{MAGENTA_IS_THE_TEAM_COLOR}
	image="units/destroyers-atokpis/atokpi-dark4-1.png"
	ellipse="misc/ellipse"
	hitpoints=73
	movement_type=undeadfoot
	movement=5
	experience=200
	level=4
	alignment=neutral
	advances_to=null
	{AMLA_DEFAULT}
	cost=82
	usage=warrior
	description={NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_SUBMERGE}
	{DESTROYER_ADVANCEMENT_ANIM}
	{DESTROYER_DEATH_ANIM_LARGE}
	[resistance]
        impact=90
        blade=70
        pierce=60
        arcane=100
        fire=100
        cold=80
    [/resistance]
	[defense]
		shallow_water=70
		deep_water=70
		reef=60
	[/defense]
	[abilities]
		{ABILITY_EOMA_ALTER_EGO}
		{ABILITY_SUBMERGE}
		{ABILITY_EOMA_AWE_LEVEL3}
		{ABILITY_EOMA_NOCTURNAL_REGENERATION 4}
	[/abilities]
	{LEVITATE3_ANIM (units/destroyers-atokpis/atokpi-dark4-) 200}
	[attack]
		name=katana
		description=_"katana"
		icon=attacks/katana.png
		type=blade
		range=melee
		damage=18
		number=3
		[specials]
			{WEAPON_SPECIAL_FIRSTSTRIKE}
		[/specials]
	[/attack]
	[attack]
		name=staff
		description={STR_STAFF}
		icon=attacks/staff-atokpi3.png
		type=impact
		range=melee
		damage=24
		number=2
		[specials]
			{WEAPON_SPECIAL_FIRSTSTRIKE}
			{WEAPON_SPECIAL_PLAGUE}
		[/specials]
	[/attack]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=ranged
        damage=17
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
	[attack]
		name=antimagic
		description=_"anti-magic"
		icon=attacks/anti-magic.png
		type=secret
		range=ranged
		damage=18
		number=2
		[specials]
			{WEAPON_SPECIAL_EOMA_ANTISHIELD}
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]
	[/attack]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/spear-n.png~SCALE(120,120)"
            image_diagonal="projectiles/spear-ne.png~SCALE(120,120)"
        [/missile_frame]
        start_time=-150
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/destroyers-atokpis/atokpi-dark4-1.png"
                sound=spear.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/destroyers-atokpis/atokpi-dark4-1.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
	[attack_anim]
		[filter_attack]
			name=katana
		[/filter_attack]
		start_time=-200
		[frame]
			duration=100
			image="units/destroyers-atokpis/atokpi-dark4-blade1.png"
		[/frame]
		[frame]
			duration=100
			image="units/destroyers-atokpis/atokpi-dark4-blade2.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				duration=100
				image="units/destroyers-atokpis/atokpi-dark4-blade3.png"
				sound={SOUND_LIST:SWORD_SWISH}
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=100
				image="units/destroyers-atokpis/atokpi-dark4-blade3.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
		[frame]
			duration=100
			image="units/destroyers-atokpis/atokpi-dark4-blade4.png"
		[/frame]
		[frame]
			duration=25
			image="units/destroyers-atokpis/atokpi-dark4-1.png"
		[/frame]
	[/attack_anim]

	[attack_anim]
		[filter_attack]
			name=staff
		[/filter_attack]
		start_time=-200
		[if]
		  hits=kill
                  sound_start_time=-100
                  [sound_frame]
		      sound=magic-dark-big.ogg
                  [/sound_frame]
			[frame]
				duration=200
				image="units/destroyers-atokpis/atokpi-dark4-1.png"
				sound=staff.wav
			[/frame]
		[/if]
		[else]
		  hits=hit
			[frame]
				duration=200
				image="units/destroyers-atokpis/atokpi-dark4-1.png"
				sound=staff.wav
			[/frame]
		[/else]
		[else]
			hits=no
			[frame]
				duration=200
				image="units/destroyers-atokpis/atokpi-dark4-1.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
	[/attack_anim]
	
	[attack_anim]
        [filter_attack]
            name=antimagic
        [/filter_attack]
        missile_start_time=-500
        missile2_start_time=-200
        [missile_frame]
            duration=100
            halo=halo/implosion-1-1.png
			halo_mod=~GS()~CS(-64,-255,-255)
            offset=1.0
        [/missile_frame]
        [missile_frame]
            halo=halo/implosion-1-[2~4].png:100
			halo_mod=~GS()~CS(-64,-255,-255)
            offset=1.0
            sound=magic-dark.ogg
        [/missile_frame]
        [missile_frame]
            duration=100
            halo=halo/implosion-1-5.png
			halo_mod=~GS()~CS(-64,-255,-255)
            offset=1.0
            sound=flame-big.ogg
        [/missile_frame]
        [missile_frame]
            duration=100
            halo=halo/implosion-1-6.png
			halo_mod=~GS()~CS(-64,-255,-255)
            offset=1.0
            sound=explosion.ogg
        [/missile_frame]
	[missile2_frame]
                halo="projectiles/fireball-impact-[1~16].png~SCALE(150,225)~GS()~CS(-64,-255,-255):60"
		offset=1.0
		auto_vflip=no
	[/missile2_frame]
        [missile_frame]
            duration=100
            halo=halo/implosion-1-[7~10].png
			halo_mod=~GS()~CS(-64,-255,-255)
            offset=1.0
        [/missile_frame]
		start_time=-250
        [frame]
            image="units/destroyers-atokpis/atokpi-dark4-1.png:100"
        [/frame]
    [/attack_anim]
    {DESTROYER_RECRUIT_ANIM_HUGE 35}
[/unit_type]
