#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Atokpi_Infantry
    [/base_unit]
    id=EoMa_Atokpi_Infantry_rpg
    advances_to=EoMa_Crimson_Atokpi_rpg,EoMa_Atokpi_Charger_rpg
    movement=5
    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
