#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Black_Portal
    name= _ "Black Portal"
    race=eoma_magical
    image="units/destroyers-portals/blackportal-icon.png"
    image_icon="units/destroyers-portals/blackportal-icon.png"

    hitpoints=52
    movement_type=undeadspirit
    movement=6
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=58#56
    usage=healer
    description= _  "In most situations Dark Portals implode into Infernal Vortices, but sometimes they absorb surrounding black magic instead, transforming themselves into a mix of both anti-magic and black magic - Black Portals.

This gives them new properties like much greater speed - fast enough to chase very agile enemies - and the ability to use sparks of black magic to directly attack selected targets.

It is known that Black Portals can devour almost anything standing nearby including living, magical, undead and mechanical beings. Consumed matter helps these bizarre units stabilize their singularities allowing them to last longer on battlefields."
    [resistance]
        blade=70
        pierce=70
        impact=60
        fire=70
        cold=60
        arcane=90
    [/resistance]
    [abilities]
		{ABILITY_EOMA_DAMAGEAURA 8 EoMa_Black_Portal chaotic}
		{ABILITY_EOMA_UNDEADHEAL 5}
        {ABILITY_EOMA_REGENERATE 5}
        {ABILITY_EOMA_SCAVENGER 3}
        ## {ABILITY_EOMA_CHAOS_CHANNELLING}
    [/abilities]
    [movement_costs]
        deep_water=2
        shallow_water=1
        mountains=2
    [/movement_costs]
    [defense]
        deep_water=50
        shallow_water=60
        reef=60
        swamp_water=60
        flat=60
        sand=60
        forest=60
        hills=60
        mountains=70
        village=60
        castle=60
        frozen=60
        unwalkable=50
        fungus=60
        cave=50
    [/defense]
    [death]
        start_time=0
        [explosion_frame]
            halo="projectiles/fireball-impact-[1~16].png~SCALE(175,262)~GS()~CS(-64,-255,-255):60"
            offset=0.0
            auto_vflip=no
            sound=explosion.ogg
        [/explosion_frame]
        [frame]
            image="units/destroyers-portals/blackportal-icon-large.png:980"
            layer=40
            y=20
            alpha=1.0~0.0
        [/frame]
        [frame]
            image="misc/blank-hex.png:1"
        [/frame]
    [/death]
    [defend]
        start_time=-126
        portal_start_time=-126
        fx_start_time=-126
        fx2_start_time=-126
        lightning3_start_time=-126

        [portal_frame]
            image=halo/blackportal/00[01~24].png:11
            auto_vflip=false
            layer=29
            y=20
        [/portal_frame]
        [fx_frame]
            image=halo/blackportal/fx-[9,1,3,5,2,1,6,3,2,7,4,8].png:21
            auto_vflip=false
            layer=98
            y=20
        [/fx_frame]
        [lightning3_frame]
            duration=252
            image="halo/air-lightning/00[45~01,45~01,45~01].png"
            image_mod="~SCALE(180,100)~GS()~R(-255)~B(-255)~G(-255)"
            layer=1
            offset=0.0
            y=20
            alpha=0.0~1.0:2225,1.0~0.0:2225
        [/lightning3_frame]

        [fx2_frame]
            image="halo/doom-glow.png:252"
            layer=99
            y=20
        [/fx2_frame]
        [frame]
            image="misc/blank-hex.png:252"
            layer=99
        [/frame]
    [/defend]
    [standing_anim]
        [portal_frame]
            image=halo/blackportal/00[01~24].png:25
            auto_vflip=false
            layer=29
            y=20
        [/portal_frame]
        [fx_frame]
            image=halo/blackportal/fx-[9,1,3,5,2,1,6,3,2,7,4,8].png:50
            auto_vflip=false
            layer=98
            y=20
        [/fx_frame]
        [lightning3_frame]
            duration=4500
            image="halo/air-lightning/00[45~01,45~01,45~01].png"
            image_mod="~SCALE(180,100)~GS()~R(-255)~B(-255)~G(-255)"
            layer=1
            offset=0.0
            y=20
            alpha=0.0~1.0:2225,1.0~0.0:2225
        [/lightning3_frame]
        [fx2_frame]
            image="halo/doom-glow.png:6000"
            layer=99
            y=20
        [/fx2_frame]

        [frame]
            image="misc/blank-hex.png:6000"
            layer=98
        [/frame]
    [/standing_anim]
    [recruit_anim]
        [frame]
            image="units/destroyers-portals/blackportal-icon-large.png:200"
            layer=99
            y=20
            auto_vflip=no
            alpha=0.0~1.0
        [/frame]
    [/recruit_anim]
    [levelout_anim]
        [fx_frame]
            image="units/destroyers-portals/blackportal-icon-large.png:600"
            layer=99
            y=20
            auto_vflip=no
            blend_ratio="0~1:600"
            blend_color=255,0,0
        [/fx_frame]
        [frame]
            image="misc/blank-hex.png:600"
            layer=98
        [/frame]
    [/levelout_anim]
    [levelin_anim]
        [fx_frame]
            image="units/destroyers-portals/blackportal-icon-large.png:600"
            layer=99
            y=20
            auto_vflip=no
            blend_ratio="1~0:600"
            blend_color=255,0,0
        [/fx_frame]
        [frame]
            image="misc/blank-hex.png:600"
            layer=98
        [/frame]
    [/levelin_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="units/destroyers-portals/blackportal-icon-large.png:200"
            layer=99
            y=20
            auto_vflip=no
        [/frame]
    [/movement_anim]
    [attack]
        name=aura
        description=_"aura"
        icon=attacks/anti-magic.png
        type=fire
        range=melee
        damage=14
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_VERYSKILLED}
            {WEAPON_SPECIAL_EOMA_SWALLOW 3}
        [/specials]
    [/attack]
    [attack]
        name=dark ball
        description=_"dark ball"
        icon=attacks/darkball-destroyers.png
        type=secret
        range=ranged
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
			{WEAPON_SPECIAL_EOMA_ANTISHIELD}
            ## {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=aura
        [/filter_attack]
        start_time=-126
        fx_start_time=-126
        fx2_start_time=-126
        lightning_start_time=-126
        lightning2_start_time=-126
        lightning3_start_time=-126
        lightning4_start_time=-126

        [portal_frame]
            image=halo/blackportal/00[01~24].png:11
            auto_vflip=false
            layer=29
            y=20
        [/portal_frame]
        [fx_frame]
            image=halo/blackportal/fx-[9,1,3,5,2,1,6,3,2,7,4,8].png:21
            auto_vflip=false
            layer=98
            y=20
        [/fx_frame]
        [lightning_frame]
            duration=250
            image="halo/air-lightning/00[01~08].png"
            image_mod="~SCALE(120,60)~GS()~R(250)~B(-100)~G(-100)"
            layer=99
            offset=0.0
            y=20
            auto_vflip=false
        [/lightning_frame]
        [lightning2_frame]
            duration=250
            image="halo/air-lightning/00[01~08].png"
            image_mod="~SCALE(140,80)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            auto_vflip=false
        [/lightning2_frame]
        [lightning4_frame]
            duration=250
            image="halo/air-lightning/00[08~01].png"
            image_mod="~SCALE(200,120)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            auto_vflip=false
        [/lightning4_frame]
        [lightning3_frame]
            duration=163
            image="halo/air-lightning/00[15~11].png"
            image_mod="~SCALE(180,100)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            alpha=0.0~1.0:75,1
            auto_vflip=false
        [/lightning3_frame]
        [lightning3_frame]
            duration=163
            image="halo/air-lightning/0010.png,halo/air-lightning/00[09~06].png"
            image_mod="~SCALE(216,120)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            alpha=1
            sound=fire.wav
            auto_vflip=false
        [/lightning3_frame]
        [lightning3_frame]
            duration=163
            image="halo/air-lightning/00[05~01].png"
            image_mod="~SCALE(270,150)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            alpha=1:88,1.0~0.0:75
            auto_vflip=false
        [/lightning3_frame]
        [fx2_frame]
            image="halo/doom-glow.png:252"
            layer=99
            y=20
            offset=0.0
            auto_vflip=no
        [/fx2_frame]
        [frame]
            image="misc/blank-hex.png:252"
            layer=98
        [/frame]
    [/attack_anim]
#define BLACK_PORTAL_DARK_BALL_ANIM
    portal_start_time=-500
    lightning3_start_time=-500
    fx_start_time=-500
    fx2_start_time=-500
    [portal_frame]
        image=halo/blackportal/00[01~24].png:22
        auto_vflip=false
        layer=29
        y=20
    [/portal_frame]
    [fx_frame]
        image=halo/blackportal/fx-[9,1,3,5,2,1,6,3,2,7,4,8].png:42
        auto_vflip=false
        layer=98
        y=20
    [/fx_frame]
    [lightning3_frame]
        duration=500
        image="halo/air-lightning/00[45~01,45~01,45~01].png"
        image_mod="~SCALE(180,100)~GS()~R(-255)~B(-255)~G(-255)"
        layer=1
        offset=0.0
        y=20
        alpha=0.0~1.0:2225,1.0~0.0:2225
    [/lightning3_frame]
    [fx2_frame]
        image="halo/doom-glow.png:500"
        layer=99
        y=20
    [/fx2_frame]

    [frame]
        image="misc/blank-hex.png:500"
        layer=98
    [/frame]
#enddef

    [attack_anim]
        [filter_attack]
            name=dark ball
        [/filter_attack]
        missile_start_time=-325
        [missile_frame]
            image="halo/darkball-destroyers[1~3].png:50"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            image="halo/darkball-destroyers[4,5~3,4,5,4,2,1].png:50"
            offset=1.0
            sound=magic-dark-big.ogg
        [/missile_frame]
        start_time=-500
        {BLACK_PORTAL_DARK_BALL_ANIM}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dark ball
        [/filter_attack]
        missile_start_time=-325
        hits=kill
        [missile_frame]
            image="halo/darkball-destroyers[1~3].png~SCALE(125,125):50"
            offset=1.0
            sound=magic-dark-big.ogg
        [/missile_frame]
        [missile_frame]
            image="halo/darkball-destroyers[4,5~3,4,5,4,5,4,5,4,2,1].png~SCALE(125,125):50"
            offset=1.0
            sound=magic-dark-big.ogg
        [/missile_frame]
        start_time=-500
        {BLACK_PORTAL_DARK_BALL_ANIM}
    [/attack_anim]
[/unit_type]
