#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Bone_Splitter
    name= _ "Bone Splitter"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    num_traits=2

    image="units/destroyers-beasts/bonesplitter.png"
    hitpoints=72#70
    movement_type=eoma_armoredfoot
    movement=5
    experience=134
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=55
    usage=fighter
    die_sound=bonebeast-big-die.ogg,bonebeast-big-die-old1.ogg
    description={NO_DESCR_AVAILABLE}
    {DESTROYER_ADVANCEMENT_ANIM}
    {DEFENSE_ANIM "units/destroyers-beasts/bonesplitter.png" "units/destroyers-beasts/bonesplitter.png" {SOUND_LIST:SKELETON_BIG_HIT}}
    [standing_anim]
        [frame]
            image="units/destroyers-beasts/bonesplitter/00[01~48].png:42"
        [/frame]
    [/standing_anim]
    [healed_anim]
        [frame]
            image="units/destroyers-beasts/bonesplitter/00[01~48].png:24"
            halo="units/destroyers-beasts/bonesplitter/healing/00[01~24].png:42"
        [/frame]
    [/healed_anim]
    [abilities]
        {ABILITY_EOMA_SCAVENGER 2}
        {ABILITY_EOMA_BONESPLIT bonepslit1 (
            {EOMA_BONESPLIT_MENU_ITEM bs1 ( _ "Summon Bone Beast") 10 (EoMa_Bone_Splitter) (EoMa_Bone_Beast)}
        )}
        {ABILITY_EOMA_RESTHEAL 8}
        {ABILITY_SUBMERGE}
    [/abilities]
    [resistance]
        impact=90
        blade=50
        pierce=40
        arcane=120
        fire=110
        cold=70
    [/resistance]
    [movement_costs]
        deep_water=3
        shallow_water=2
        reef=2
        swamp_water=2
        hills=2
        mountains=3
        frozen=2
    [/movement_costs]
    [defense]
        deep_water=90
        shallow_water=80
        reef=70
        swamp_water=70
        mountains=50
    [/defense]
    [attack]
        name=head
        description=_"headbutt"
        icon=attacks/head-bonebeast.png
        type=impact
        range=melee
        damage=13
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_COLLECTOR 2}
        [/specials]
    [/attack]
    [attack]
        name=tail
        description=_"tail"
        icon=attacks/tail-bonebeast.png
        type=pierce
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_COLLECTOR 2}
            {WEAPON_SPECIAL_EOMA_SWIFTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=bones
        description=_"bones"
        icon=attacks/icicles.png~GS()
        type=pierce
        range=ranged
        damage=9
        number=4
        [specials]
            {WEAPON_SPECIAL_EOMA_REVENGE2}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=head
        [/filter_attack]
        start_time=-1450

        [frame]
            image="units/destroyers-beasts/bonesplitter.png:600"
            offset=0.0~-0.3:400,-0.3~-0.3:200
        [/frame]
        [frame]
            image="units/destroyers-beasts/bonesplitter.png:1050"
            offset=-0.3~-0.2.0:200,-0.2~0.0:150,0.0~0.6:400,1.0~0.5:200
        [/frame]
        [frame]
            image="units/destroyers-beasts/bonesplitter.png:400"
            offset=0.5~0.0:400
        [/frame]

        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=tail
        [/filter_attack]
        start_time=-150
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/destroyers-beasts/bonesplitter.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/destroyers-beasts/bonesplitter.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=bones
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/icicles[1~3].png:75"
            image_diagonal="projectiles/icicles-ne[1~3].png:75"
            image_mod=~GS()
            offset=0.5
        [/missile_frame]
        start_time=-225
        [frame]
            image="units/destroyers-beasts/bonesplitter.png"
            sound=spear.ogg
        [/frame]
    [/attack_anim]

    {DESTROYER_RECRUIT_ANIM 26}
[/unit_type]
