#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Bone_Giant
    name= _ "Bone Giant"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    num_traits=2

    image="units/destroyers-beasts/giant.png"
    ellipse="misc/ellipse"
    hitpoints=71
    movement_type=armoredfoot
    movement=5
    experience=160
    level=3
    alignment=chaotic
    advances_to=EoMa_Moloch
    cost=34
    usage=warrior
    die_sound=bonebeast-big-die.ogg,bonebeast-big-die-old1.ogg
    description={NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}
    {DESTROYER_ADVANCEMENT_ANIM}
    {DEFENSE_ANIM "units/destroyers-beasts/giant.png" "units/destroyers-beasts/giant.png" {SOUND_LIST:SKELETON_BIG_HIT}}
    [resistance]
        impact=80
        blade=40
        pierce=30
        arcane=120
        fire=110
        cold=70
    [/resistance]
    [movement_costs]
        deep_water=3
        shallow_water=2
        reef=2
        swamp_water=2
        hills=2
        mountains=3
    [/movement_costs]
    [defense]
        deep_water=90
        shallow_water=80
        reef=70
        swamp_water=70
        mountains=50
    [/defense]
    [abilities]
        #{ABILITY_EOMA_AWE_LEVEL1}
        {ABILITY_EOMA_BONECOLLECTOR 4}
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=head
        description=_"headbutt"
        icon=attacks/head-bonebeast.png
        type=impact
        range=melee
        damage=33
        number=1
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=tail
        description=_"tail"
        icon=attacks/tail-bonebeast.png
        type=pierce
        range=melee
        damage=13
        number=3
        [specials]
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=head
        [/filter_attack]
        start_time=-1450

        [frame]
            image="units/destroyers-beasts/giant.png:600"
            offset=0.0~-0.3:400,-0.3~-0.3:200
        [/frame]
        [frame]
            image="units/destroyers-beasts/giant.png:1050"
            offset=-0.3~-0.2.0:200,-0.2~0.0:150,0.0~0.6:400,1.0~0.5:200
        [/frame]
        [frame]
            image="units/destroyers-beasts/giant.png:400"
            offset=0.5~0.0:400
        [/frame]

        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=tail
        [/filter_attack]
        start_time=-150
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/destroyers-beasts/giant.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/destroyers-beasts/giant.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    {DESTROYER_RECRUIT_ANIM_BIG 30}
[/unit_type]
