#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Crimson_Atokpi
    name= _ "Crimson Atokpi"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    {TRAIT_DEXTROUS}
    num_traits=2

    image="units/destroyers-atokpis/atokpi3alt1.png"
    hitpoints=62
    movement_type=undeadfoot
    movement=6
    experience=126
    level=3
    alignment=neutral
    advances_to=null
    {EOMA_AMLA_DEFAULT_CONDITIONAL 1 veteran_then_default trait=eoma_veteran}
    cost=55#52
    usage=fighter
    description= _ "It is said that elite troops of the Atokpi Empire were capable of carrying legendary Doom Spears of astonishing length. Thanks to these powerful weapons they were capable of killing any kind of armored foe with just one strike. But sadly for Atokpi, their best warriors were not as effective as expected against undead swarms. Destroyers tried to equip the doom spears but none of their undead Atokpis were able to even carry one of these incredible weapons, that is why they just equipped the shorter but more portable version of Yari, typically used by novices. Crimson Atokpis, albeit smaller that their samurai counterparts, are very agile and will try to find and assault weak spots in enemy defense lines, allowing the undead swarm to destroy even the most fortified targets from behind."
    {DESTROYER_ADVANCEMENT_ANIM}
    die_sound=skeleton-die-2.ogg
    [defend]
        hits=miss
        start_time=-100
        [frame]
            image="units/destroyers-atokpis/atokpi3alt1.png:300"
            offset=0.0~-0.3:150,-0.3~0.0:150
        [/frame]
    [/defend]
    {DEFENSE_ANIM_FILTERED "units/destroyers-atokpis/atokpi3alt1.png" "units/destroyers-atokpis/atokpi3alt1.png" {SOUND_LIST:SKELETON_HIT} hits=yes}
    [standing_anim]
        [frame]
            image="units/destroyers-atokpis/atokpi3alt1/00[01~24].png:42"
        [/frame]
    [/standing_anim]
    [healed_anim]
        [frame]
            image="units/destroyers-atokpis/atokpi3alt1/00[01~24].png:42"
            halo="units/destroyers-atokpis/atokpi3alt1/healing/00[01~24].png:42"
        [/frame]
    [/healed_anim]
    [resistance]
        impact=110
        blade=85
        pierce=60
        arcane=110
        fire=120
        cold=90
    [/resistance]
    [defense]
        shallow_water=60
        swamp_water=60
        deep_water=70
        reef=60
        flat=50
        sand=60
        frozen=60
    [/defense]
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_EOMA_BLOODLUST 8}
        {ABILITY_EOMA_DAUNTLESS}
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=yari_blade
        description=_"yari"
        icon=attacks/pike.png
        type=blade
        range=melee
        damage=9
        number=4
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=yari_pierce
        description=_"yari"
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=18
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=yari_charge
        description=_"charge"
        icon=attacks/pike.png
        type=pierce
        range=ranged
        damage=18
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_GREATER_MARKSMAN}
            {WEAPON_SPECIAL_EOMA_SUPERCHARGE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=yari_pierce
        [/filter_attack]
        start_time=-150
        [if]
            hits=yes
            [frame]
                duration=200
                ## image="units/destroyers-atokpis/atokpi2.png"
                sound=spear.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                ## image="units/destroyers-atokpis/atokpi2.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=yari_blade
        [/filter_attack]
        start_time=-200
        [frame]
            duration=100
            ## image="units/destroyers-atokpis/atokpi2-blade1.png"
        [/frame]
        [frame]
            duration=100
            ## image="units/destroyers-atokpis/atokpi2-blade2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                ## image="units/destroyers-atokpis/atokpi2-blade3.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                ## image="units/destroyers-atokpis/atokpi2-blade3.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            ## image="units/destroyers-atokpis/atokpi2-blade4.png"
        [/frame]
        [frame]
            duration=25
            ## image="units/destroyers-atokpis/atokpi2.png"
        [/frame]
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=yari_charge
        [/filter_attack]
        start_time=-350
        [frame]
            duration=200
            ## image="units/destroyers-atokpis/atokpi2.png"
            offset=0.0~-0.3:300
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=200
                ## image="units/destroyers-atokpis/atokpi2.png"
                sound=spear.wav
                offset=-0.3~1.0:100,1.0~0.0:100
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                ## image="units/destroyers-atokpis/atokpi2.png"
                offset=-0.3~1.0:100,1.0~0.0:100
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
    {DESTROYER_RECRUIT_ANIM_BIG 30}
[/unit_type]
