#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Cyclops_Necromancer
    name= _ "Cyclops Necromancer"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_DEXTROUS}
    {TRAIT_RESILIENT}
    {TRAIT_INTELLIGENT}
    num_traits=2
    
    image="units/destroyers-cyclops/cyclop2alt.png"
    ellipse="misc/ellipse"
    hitpoints=40
    movement_type=woodlandfloat#placeholder movetype, just to give flies=yes
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    usage=healer
    description={NO_DESCR_AVAILABLE}
    {DESTROYER_ADVANCEMENT_ANIM}
    {DESTROYER_DEATH_ANIM_SMALL}
    die_sound=lich-die.ogg
    [defend]
        start_time=-126
        circle_start_time=-126
        vortex_start_time=-126
        [circle_frame]
            duration=250
            image=halo/ucircle-frames/circle-g-[01~23].png#~(640,480,)
	    image_mod="~SCALE(81,47)~GS()~R(64)~G(-255)~B(-255)"
            auto_vflip=false
            layer=0
	    y=17
	    alpha=1
            offset=0.0	    
        [/circle_frame]
		[vortex_frame]
		    duration=250
			image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
			image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
                        auto_vflip=false
			layer=28
                        offset=0.0
		        y=17
		[/vortex_frame]
        [frame]
            image="units/destroyers-cyclops/cyclop2alt.png":1,"units/destroyers-cyclops/cyclop2alt.png":250,"units/destroyers-cyclops/cyclop2alt.png":1
            halo="halo/heavysummoner-[1~8,7~1].png:15"
            halo_mod=~O(0.3)~GS()~R(64)~G(-255)~B(-255)
            auto_vflip=no
        [/frame]
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:LICH_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
    [resistance]
        impact=110
        blade=90
        pierce=80
        arcane=100
        fire=70
        cold=70
    [/resistance]
    [movement_costs]
        unwalkable=2
        deep_water=2
        shallow_water=2
	swamp_water=2
	hills=2
	mountains=2
        reef=2
        forest=2
        cave=2
        frozen=2
        fungus=2
    [/movement_costs]
    [defense]
        unwalkable=70
        deep_water=70
        shallow_water=70
	swamp_water=70
	fungus=60
	mountains=50
        reef=60
        flat=60
        sand=60
        forest=60
        hills=50
        village=50
        castle=50
        cave=60
        frozen=70
        fungus=60
    [/defense]
    [abilities]
        {ABILITY_EOMA_UNDEADHEAL 5}
		[dummy]
			id=eoma_summonzombie
			name= _ "summon undead"
			description=_"This unit summons a lvl0 zombie of random variation next to self at the start of each turn. Only 6 total summoned zombies per unit with this ability can be present on the battlefield at once."
		[/dummy] # wmlxgettext: [abilities]
    [/abilities]
    [attack]
        name=dagger
        description=_"cursed dagger"
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
    [attack]
        name=eye
        description=_"gaze"
        icon=attacks/beam-red.png
        type=cold
        range=ranged
        damage=20
        number=1
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=eye2
        description=_"gaze"
        icon=attacks/beam-red.png
        type=arcane
        range=ranged
        damage=10
        number=2
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
			{WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

	[standing_anim]
	vortex2_start_time=600
        [circle_frame]
            duration=3200
            image=halo/ucircle-frames/circle-g-[01~23,01~23,01~23].png#~(640,480,)
	    image_mod="~SCALE(81,47)~GS()~R(64)~G(-255)~B(-255)"
            auto_vflip=false
            layer=0
	    y=17
	    alpha=1
            offset=0.0	    
        [/circle_frame]
		[vortex_frame]
		    duration=3200
			image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
			image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
                        auto_vflip=false
			layer=28
			alpha=0.5~1.0:675,1.0:400,1.0~0.0:1400,0.0~0.5:675
                        offset=0.0
		        y=17
		[/vortex_frame]
		[vortex2_frame]
		    duration=2400
			image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
			image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
                        auto_vflip=false
			layer=28
			alpha=0:1,0.0~1.0:400,1.0:600,1.0~0.0:800,0.0~0.5:600
                        offset=0.0
		        y=17
		[/vortex2_frame]
		[frame]
			halo="halo/heavysummoner-[1~4,4~6,7~3,3~5,6~8].png:100"
			halo_mod=~O(0.6)~GS()~R(64)~G(-255)~B(-255)
			auto_vflip=no
		[/frame]
		[frame]
			halo="halo/heavysummoner-[1~8,8~2].png:100"
			halo_mod=~O(0.6)~GS()~R(64)~G(-255)~B(-255)
			auto_vflip=no
		[/frame]
	[/standing_anim]
    [movement_anim]
        [circle_frame]
            duration=200
            image=halo/ucircle-frames/circle-g-[01~23].png#~(640,480,)
	    image_mod="~SCALE(81,47)~GS()~R(64)~G(-255)~B(-255)"
            auto_vflip=false
            layer=0
	    y=17
	    alpha=1
            offset=0.0~1.0:200	    
        [/circle_frame]
		[vortex_frame]
		    duration=200
			image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
			image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
                        auto_vflip=false
			layer=28
                        offset=0.0
		        y=17
                        offset=0.0~1.0:200	    
		[/vortex_frame]
        start_time=0
    [/movement_anim]

    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
	start_time=-400
	circle_start_time=-400
	vortex_start_time=-400
        [circle_frame]
            duration=1000
            image=halo/ucircle-frames/circle-g-[01~23].png#~(640,480,)
	    image_mod="~SCALE(81,47)~GS()~R(64)~G(-255)~B(-255)"
            auto_vflip=false
            layer=0
	    y=17
	    alpha=1
            offset=0.0	    
        [/circle_frame]
		[vortex_frame]
		    duration=1000
			image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
			image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
                        auto_vflip=false
			layer=28
                        offset=0.0
		        y=17
		[/vortex_frame]
        missile_start_time=-400
	[if]
	  direction=n
        [missile_frame]
            image="units/summoners-enchanted-ones/jinn-mystic-attack-melee1.png:300"
	    image_mod=~FL(vert)~GS()~SCALE(60,60)

            blend_ratio=1~0:500
            blend_color=255,255,255
            offset=0.5
            auto_vflip=no
	    layer=1
        [/missile_frame]
        [missile_frame]
            image="units/summoners-enchanted-ones/jinn-mystic-attack-melee[2,3].png:200"
	    image_mod=~FL(vert)~GS()~SCALE(60,60)

            offset=0.5            
            auto_vflip=no
	    layer=1
        [/missile_frame]
        attack_sound_start_time=-100
        [missile_frame]
            image="units/summoners-enchanted-ones/jinn-mystic-attack-melee4.png:300"
	    image_mod=~FL(vert)~GS()~SCALE(60,60)

            blend_ratio=0~1:300
            blend_color=255,255,255
	    alpha=1~0
            offset=0.5
            auto_vflip=no
	    layer=1
        [/missile_frame]
	[/if]
	[else]
        [missile_frame]
            image="units/summoners-enchanted-ones/jinn-mystic-attack-melee1.png:300"
	    image_mod=~GS()~SCALE(60,60)
            blend_ratio=1~0:500
            blend_color=255,255,255
            offset=0.5
            auto_vflip=no
        [/missile_frame]
        [missile_frame]
            image="units/summoners-enchanted-ones/jinn-mystic-attack-melee[2,3].png:200"
	    image_mod=~GS()~SCALE(60,60)
            offset=0.5            
            auto_vflip=no
        [/missile_frame]
        attack_sound_start_time=-100
        [missile_frame]
            image="units/summoners-enchanted-ones/jinn-mystic-attack-melee4.png:300"
	    image_mod=~GS()~SCALE(60,60)
            blend_ratio=0~1:300
            blend_color=255,255,255
	    alpha=1~0
            offset=0.5
            auto_vflip=no
        [/missile_frame]
	[/else]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
   [/attack_anim]
    
   [extra_anim]
   flag=summon
   vortex2_start_time=175
        [circle_frame]
            duration=550
            image=halo/ucircle-frames/circle-g-[01~23].png#~(640,480,)
	    image_mod="~SCALE(81,47)~GS()~R(64)~G(-255)~B(-255)"
            auto_vflip=false
            layer=0
	    y=17
	    alpha=1
            offset=0.0	    
        [/circle_frame]
		[vortex_frame]
		    duration=550
			image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
			image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
                        auto_vflip=false
			layer=2
			alpha=0~1:100,1:350,1~0:100
                        offset=0.0
		        y=17
		[/vortex_frame]
		[vortex2_frame]
		    duration=400
			image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
			image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
                        auto_vflip=false
			layer=28
			alpha=0~1:100,1:175,1~0:100
                        offset=0.0
		        y=17
		[/vortex2_frame]

      [frame]
            halo="halo/saurian-magic-halo-[1~7].png:[50,60,70,80,90,100*2]"
            halo_mod=~GS()~R(64)~G(-255)~B(-255)~SCALE(100,100)
	    halo_y=-5
	    sound=magic-dark.ogg
        [/frame]
   [/extra_anim]

#define DESCYCLOP_LASER VARIATION DIR HALO_X HALO_Y IMAGE
    [attack_anim]
        [filter_attack]
            name=eye,eye2
        [/filter_attack]
        direction={DIR}
        circle_start_time=-300
        vortex_start_time=-300
        [circle_frame]
            duration=600
            image=halo/ucircle-frames/circle-g-[01~23].png#~(640,480,)
	    image_mod="~SCALE(81,47)~GS()~R(64)~G(-255)~B(-255)"
            auto_vflip=false
            layer=0
	    y=17
	    alpha=1
            offset=0.0	    
        [/circle_frame]
		[vortex_frame]
		    duration=600
			image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
			image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
                        auto_vflip=false
			layer=28
                        offset=0.0
		        y=17
		[/vortex_frame]
        [missile_frame]
            begin=-100
            end=100
            image=""
        [/missile_frame]
        [frame]
            begin=-300
            end=-200
            image={IMAGE}
            halo=halo/laser-destr-{VARIATION}-1.png:100
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=-200
            end=-100
            image={IMAGE}
            sound="magic-dark-big.ogg"
            halo=halo/laser-destr-{VARIATION}-2.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=-100
            end=0
            image={IMAGE}
            sound="magic-dark-big.ogg"
            halo=halo/laser-destr-{VARIATION}-3.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=0
            end=100
            image={IMAGE}
            halo=halo/laser-destr-{VARIATION}-4.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=100
            end=200
            image={IMAGE}
            halo=halo/laser-destr-{VARIATION}-5.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=200
            end=300
            image={IMAGE}
            halo=halo/laser-destr-{VARIATION}-2.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
    [/attack_anim]
#enddef
    {DESCYCLOP_LASER 1 n 0 -39 "units/destroyers-cyclops/cyclop2alt.png"}
    {DESCYCLOP_LASER 2 s 0 27 "units/destroyers-cyclops/cyclop2alt.png"}
    {DESCYCLOP_LASER 3 ne 27 -26 "units/destroyers-cyclops/cyclop2alt.png"}
    {DESCYCLOP_LASER 3 nw 27 -26 "units/destroyers-cyclops/cyclop2alt.png"}
    {DESCYCLOP_LASER 4 se 27 12 "units/destroyers-cyclops/cyclop2alt.png"}
    {DESCYCLOP_LASER 4 sw 27 12 "units/destroyers-cyclops/cyclop2alt.png"}
    {DESTROYER_RECRUIT_ANIM 26}
#define SWITCHER_TRANSLATE VALUE VARIATION
            [case]
		value={VALUE}
		{VARIABLE zombievariation {VARIATION}}		
	    [/case]
#enddef

#define SWITCHER
		[switch]
            variable=random
			#Dark-blood Alliance--------------------
			{SWITCHER_TRANSLATE 1 wyvern}
			{SWITCHER_TRANSLATE 2 wyvernrider}
			{SWITCHER_TRANSLATE 3 salamander}
			{SWITCHER_TRANSLATE 4 toad}
			{SWITCHER_TRANSLATE 5 dbashooter}
			{SWITCHER_TRANSLATE 6 dbashaman}
			{SWITCHER_TRANSLATE 7 dbawarrior}
			{SWITCHER_TRANSLATE 8 dbawarrior}
			#Barbarians-----------------------------
			{SWITCHER_TRANSLATE 9 cyclops}
			{SWITCHER_TRANSLATE 10 roc}
			{SWITCHER_TRANSLATE 11 goblinwarrior}
			{SWITCHER_TRANSLATE 12 goblinarcher}
			{SWITCHER_TRANSLATE 13 orcberserker}
			{SWITCHER_TRANSLATE 14 goblinkamikaze}
			{SWITCHER_TRANSLATE 15 orcbarbarian}
			{SWITCHER_TRANSLATE 16 trollbarbarian}
			#Runemasters----------------------------
			{SWITCHER_TRANSLATE 17 dadept}
			{SWITCHER_TRANSLATE 18 dwarrior}
			{SWITCHER_TRANSLATE 19 mechanic}
			{SWITCHER_TRANSLATE 20 dwscout}
            [else]
				{VARIABLE zombievariation null}
            [/else]
        [/switch]
#enddef
	[event]
		name=side turn
		id=summon_undead_event
		first_time_only=no
                    [store_unit]
                        [filter]
                            type=EoMa_Cyclops_Necromancer
                            side=$side_number
                        [/filter]
                        variable=cyclopsnecromancer
                    [/store_unit]
                            {FOREACH cyclopsnecromancer a}
         		{RANDOM 1..20}
                        {SWITCHER}
                        {VARIABLE zombiecap $cyclopsnecromancer.length}
                        {VARIABLE_OP zombiecap multiply 6}
                    [store_unit]
                        [filter]
                            type=EoMa_Walking_Corpse
                            side=$side_number
			    ability=eoma_summoned_zombie
                        [/filter]
                        variable=zombies
			kill=no
                    [/store_unit]
		    {IF_VAR zombies.length greater_than_equal_to $zombiecap (
		    [then]
		    [/then]
		    [else]
      		    [animate_unit]
			flag=summon
			[filter]
				id=$cyclopsnecromancer[$a].id
			[/filter]
		    [/animate_unit]
                    [unit]
                        type=EoMa_Walking_Corpse
                        side=$side_number
			variation=$zombievariation
                        x,y=$cyclopsnecromancer[$a].x,$cyclopsnecromancer[$a].y
                        moves=0
                        animate=yes
			placement=map
#dummy ability, to make only summoned zombies count towards the limit, meaning that ones created by plague don't. done to make the plague special not hinder this ability.			
			[modifications]
			[object]
			  silent=yes
			  duration=forever
	        	[effect]
		          	apply_to=new_ability
	        		[abilities]
                    		[dummy]
                 			id=eoma_summoned_zombie
                  			name=""
                   			description=_"This unit counts towards the summoned zombie limit."
                  		[/dummy] # wmlxgettext: [abilities]
	           		[/abilities]
          		[/effect]
			[/object]
			[/modifications]
		    [/unit]
		    [/else])}
		     {CLEAR_VARIABLE zombies}
                     {NEXT a}
	[/event]
[/unit_type]
