#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Cyclops_Necromancer
    name= _ "Cyclops Necromancer"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_DEXTROUS}
    {TRAIT_RESILIENT}
    {TRAIT_INTELLIGENT}
    num_traits=2

    image="units/destroyers-cyclops/cyclop2alt.png"
    ellipse="misc/ellipse"
    hitpoints=58
    movement_type=eoma_armoredfoot
    flying=yes
    movement=6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {EOMA_AMLA_DEFAULT_CONDITIONAL 1 veteran_then_default trait=eoma_veteran}
    cost=65
    usage=healer
    description= _ "Destroyer 'necromancers' are not to be mistaken with lich of any kind, for they do not possess any semblance of willpower of their past self, nor soul or mind. These long dead masters of the undead support the destroyer dark forces with an untold supply of corpses from past conquests... or maybe not so old battles. The only certainty is death on their wake."
    {DESTROYER_ADVANCEMENT_ANIM}
    {DESTROYER_DEATH_ANIM_SMALL}
    die_sound=lich-die.ogg
    [defend]
        start_time=-126
        circle_start_time=-126
        vortex_start_time=-126
        [circle_frame]
            duration=250
            image=halo/ucircle-frames/circle-g-[01~23].png
            image_mod="~SCALE(81,47)~GS()~R(64)~G(-255)~B(-255)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [vortex_frame]
            duration=250
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
            auto_vflip=false
            layer=28
            offset=0.0
            y=17
        [/vortex_frame]
        [frame]
            image="units/destroyers-cyclops/cyclop2alt.png":1,"units/destroyers-cyclops/cyclop2alt.png":250,"units/destroyers-cyclops/cyclop2alt.png":1
            halo="halo/heavysummoner-[1~8,7~1].png:15"
            halo_mod=~O(0.3)~GS()~R(64)~G(-255)~B(-255)
            auto_vflip=no
        [/frame]
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound={SOUND_LIST:LICH_HIT}
            [/hit_sound_frame]
        [/if]
    [/defend]
    [resistance]
        impact=110
        blade=90
        pierce=80
        arcane=100
        fire=65
        cold=65
    [/resistance]
    [movement_costs]
        unwalkable=2
        deep_water=2
        shallow_water=2
        swamp_water=2
        hills=2
        mountains=2
        reef=2
        forest=2
        cave=2
        frozen=1
        fungus=2
    [/movement_costs]
    [defense]
        unwalkable=70
        deep_water=70
        shallow_water=70
        swamp_water=70
        fungus=60
        mountains=50
        reef=60
        flat=60
        sand=60
        forest=60
        hills=50
        village=50
        castle=50
        cave=60
        frozen=70
        fungus=60
    [/defense]
    [abilities]
        [dummy]
            id=eoma_summonzombie
            name= _ "summon undead"
            description=_"This unit summons a lvl0 zombie of random variation next to self at the start of each turn. Only 4 total summoned zombies per unit with this ability can be present on the battlefield at once."
#ifdef MULTIPLAYER
            [filter]
                lua_function=wesnoth.wml_conditionals.EoMa_not_rpg
            [/filter]
#endif
        [/dummy]
        {ABILITY_EOMA_UNDEADHEAL 5}
        {ABILITY_EOMA_AWE_LEVEL1}
        {ABILITY_EOMA_FUNGAL_REGENERATION 5}
    [/abilities]
    [attack]
        name=dagger
        description=_"cursed dagger"
        icon=attacks/dagger-undead.png
        type=blade
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
    [attack]
        name=eye
        description=_"gaze"
        icon=attacks/beam-red.png
        type=cold
        range=ranged
        damage=26
        number=1
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=eye2
        description=_"gaze"
        icon=attacks/beam-red.png
        type=arcane
        range=ranged
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [standing_anim]
        vortex2_start_time=600
        [circle_frame]
            duration=3200
            image=halo/ucircle-frames/circle-g-[01~23,01~23,01~23].png
            image_mod="~SCALE(81,47)~GS()~R(64)~G(-255)~B(-255)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [vortex_frame]
            duration=3200
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
            auto_vflip=false
            layer=28
            alpha=0.5~1.0:675,1.0:400,1.0~0.0:1400,0.0~0.5:675
            offset=0.0
            y=17
        [/vortex_frame]
        [vortex2_frame]
            duration=2400
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
            auto_vflip=false
            layer=28
            alpha=0:1,0.0~1.0:400,1.0:600,1.0~0.0:800,0.0~0.5:600
            offset=0.0
            y=17
        [/vortex2_frame]
        [frame]
            image="units/destroyers-cyclops/necromancer/00[01~48].png:42"
            halo="halo/heavysummoner-[1~4,4~6,7~3,3~5,6~8].png:100"
            halo_mod=~O(0.6)~GS()~R(64)~G(-255)~B(-255)
            auto_vflip=no
        [/frame]
        [frame]
            image="units/destroyers-cyclops/necromancer/00[01~48].png:42"
            halo="halo/heavysummoner-[1~8,8~2].png:100"
            halo_mod=~O(0.6)~GS()~R(64)~G(-255)~B(-255)
            auto_vflip=no
        [/frame]
    [/standing_anim]
    [movement_anim]
        [circle_frame]
            duration=200
            image=halo/ucircle-frames/circle-g-[01~23].png
            image_mod="~SCALE(81,47)~GS()~R(64)~G(-255)~B(-255)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0~1.0:200
        [/circle_frame]
        [vortex_frame]
            duration=200
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
            auto_vflip=false
            layer=28
            y=17
            offset=0.0~1.0:200
        [/vortex_frame]
        start_time=0
    [/movement_anim]
    [healed_anim]
        [circle_frame]
            duration=1008
            image=halo/ucircle-frames/circle-g-[01~23].png
            image_mod="~SCALE(81,47)~GS()~R(64)~G(-255)~B(-255)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
        [/circle_frame]
        [vortex_frame]
            duration=1008
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
            auto_vflip=false
            layer=28
            y=17
        [/vortex_frame]
        start_time=0
        [frame]
            image="units/destroyers-cyclops/necromancer/00[01~48].png:24"
            halo="units/destroyers-cyclops/necromancer/healing/00[01~24].png:42"
        [/frame]
    [/healed_anim]

    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-400
        circle_start_time=-400
        vortex_start_time=-400
        [circle_frame]
            duration=1000
            image=halo/ucircle-frames/circle-g-[01~23].png
            image_mod="~SCALE(81,47)~GS()~R(64)~G(-255)~B(-255)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [vortex_frame]
            duration=1000
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
            auto_vflip=false
            layer=28
            offset=0.0
            y=17
        [/vortex_frame]
        missile_start_time=-400
        [if]
            direction=n
            [missile_frame]
                image="units/summoners-enchanted-ones/jinn-mystic-attack-melee1.png:300"
                image_mod=~FL(vert)~GS()~SCALE(60,60)

                blend_ratio=1~0:500
                blend_color=255,255,255
                offset=0.5
                auto_vflip=no
                layer=1
            [/missile_frame]
            [missile_frame]
                image="units/summoners-enchanted-ones/jinn-mystic-attack-melee[2,3].png:200"
                image_mod=~FL(vert)~GS()~SCALE(60,60)

                offset=0.5
                auto_vflip=no
                layer=1
            [/missile_frame]
            attack_sound_start_time=-100
            [missile_frame]
                image="units/summoners-enchanted-ones/jinn-mystic-attack-melee4.png:300"
                image_mod=~FL(vert)~GS()~SCALE(60,60)

                blend_ratio=0~1:300
                blend_color=255,255,255
                alpha=1~0
                offset=0.5
                auto_vflip=no
                layer=1
            [/missile_frame]
        [/if]
        [else]
            [missile_frame]
                image="units/summoners-enchanted-ones/jinn-mystic-attack-melee1.png:300"
                image_mod=~GS()~SCALE(60,60)
                blend_ratio=1~0:500
                blend_color=255,255,255
                offset=0.5
                auto_vflip=no
            [/missile_frame]
            [missile_frame]
                image="units/summoners-enchanted-ones/jinn-mystic-attack-melee[2,3].png:200"
                image_mod=~GS()~SCALE(60,60)
                offset=0.5
                auto_vflip=no
            [/missile_frame]
            attack_sound_start_time=-100
            [missile_frame]
                image="units/summoners-enchanted-ones/jinn-mystic-attack-melee4.png:300"
                image_mod=~GS()~SCALE(60,60)
                blend_ratio=0~1:300
                blend_color=255,255,255
                alpha=1~0
                offset=0.5
                auto_vflip=no
            [/missile_frame]
        [/else]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [extra_anim]
        flag=summon
        vortex2_start_time=175
        [circle_frame]
            duration=550
            image=halo/ucircle-frames/circle-g-[01~23].png
            image_mod="~SCALE(81,47)~GS()~R(64)~G(-255)~B(-255)"
            auto_vflip=false
            layer=0
            y=17
            alpha=1
            offset=0.0
        [/circle_frame]
        [vortex_frame]
            duration=550
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
            auto_vflip=false
            layer=2
            alpha=0~1:100,1:350,1~0:100
            offset=0.0
            y=17
        [/vortex_frame]
        [vortex2_frame]
            duration=400
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(101,59)~GS()~R(-255)~G(-255)~B(-255)~FL(horiz)"
            auto_vflip=false
            layer=28
            alpha=0~1:100,1:175,1~0:100
            offset=0.0
            y=17
        [/vortex2_frame]

        [frame]
            halo="halo/saurian-magic-halo-[1~7].png:[50,60,70,80,90,100*2]"
            halo_mod=~GS()~R(64)~G(-255)~B(-255)~SCALE(100,100)
            halo_y=-5
            sound=magic-dark.ogg
        [/frame]
    [/extra_anim]

    {DESCYCLOP_LASER 1 n 0 -39 "units/destroyers-cyclops/cyclop2alt.png"}
    {DESCYCLOP_LASER 2 s 0 27 "units/destroyers-cyclops/cyclop2alt.png"}
    {DESCYCLOP_LASER 3 ne 27 -26 "units/destroyers-cyclops/cyclop2alt.png"}
    {DESCYCLOP_LASER 3 nw 27 -26 "units/destroyers-cyclops/cyclop2alt.png"}
    {DESCYCLOP_LASER 4 se 27 12 "units/destroyers-cyclops/cyclop2alt.png"}
    {DESCYCLOP_LASER 4 sw 27 12 "units/destroyers-cyclops/cyclop2alt.png"}
    {DESTROYER_RECRUIT_ANIM 26}
#define SWITCHER_TRANSLATE2 VALUE VARIATION
    [case]
        value={VALUE}
        {VARIABLE zombievariation {VARIATION}}
    [/case]
#enddef

#define SWITCHER
    [switch]
        variable=random
        #Dark-blood Alliance--------------------
        {SWITCHER_TRANSLATE2 1 wyvern}
        {SWITCHER_TRANSLATE2 2 wyvernrider}
        {SWITCHER_TRANSLATE2 3 salamander}
        {SWITCHER_TRANSLATE2 4 toad}
        {SWITCHER_TRANSLATE2 5 dbashooter}
        {SWITCHER_TRANSLATE2 6 dbashaman}
        {SWITCHER_TRANSLATE2 7 dbawarrior}
        {SWITCHER_TRANSLATE2 8 dbawarrior}
        #Barbarians-----------------------------
        {SWITCHER_TRANSLATE2 9 cyclops}
        {SWITCHER_TRANSLATE2 10 roc}
        {SWITCHER_TRANSLATE2 11 goblinwarrior}
        {SWITCHER_TRANSLATE2 12 goblinarcher}
        {SWITCHER_TRANSLATE2 13 orcberserker}
        {SWITCHER_TRANSLATE2 14 goblinkamikaze}
        {SWITCHER_TRANSLATE2 15 orcbarbarian}
        {SWITCHER_TRANSLATE2 16 trollbarbarian}
        #Runemasters----------------------------
        {SWITCHER_TRANSLATE2 17 dadept}
        {SWITCHER_TRANSLATE2 18 dwarrior}
        {SWITCHER_TRANSLATE2 19 mechanic}
        {SWITCHER_TRANSLATE2 20 dwscout}
        [else]
            {VARIABLE zombievariation null}
        [/else]
    [/switch]
#enddef
    [event]
        name=turn refresh
        id=summon_undead_event
        first_time_only=no
#ifdef MULTIPLAYER
        [filter_condition]
            [EoMa_not_rpg]
            [/EoMa_not_rpg]
        [/filter_condition]
#endif
        [store_unit]
            [filter]
                type=EoMa_Cyclops_Necromancer
                side=$side_number
            [/filter]
            variable=cyclopsnecromancer
        [/store_unit]
        [foreach]
            array=cyclopsnecromancer
            [do]
                {RANDOM 1..20}
                {SWITCHER}
                {VARIABLE zombiecap $cyclopsnecromancer.length}
                {VARIABLE_OP zombiecap multiply 4}
                [store_unit]
                    [filter]
                        type=EoMa_Walking_Corpse
                        side=$side_number
                        ability=eoma_summoned_zombie
                        [not]
                            x,y=recall,recall
                        [/not]
                    [/filter]
                    variable=zombies
                    kill=no
                [/store_unit]
                {IF_VAR zombies.length greater_than_equal_to $zombiecap (
                    [then]
                    [/then]
                    [else]
                        [animate_unit]
                            flag=summon
                            [filter]
                                id=$this_item.id
                            [/filter]
                        [/animate_unit]
                        [unit]
                            type=EoMa_Walking_Corpse
                            side=$side_number
                            variation=$zombievariation
                            x,y=$this_item.x,$this_item.y
                            moves=0
                            attacks_left=0
                            animate=yes
                            placement=map
                            passable=yes
                            #dummy ability, to make only summoned zombies count towards the limit, meaning that ones created by plague don't. done to make the plague special not hinder this ability.
                            [modifications]
                                [object]
                                    silent=yes
                                    #if a zombie survives a scenario in a campaign somehow, make it no longer count towards the limit when recalled. If there is ever a need to filter summoned zombies over multiple scenarios, add a different [effect]
                                    #duration=forever
                                    duration=scenario
                                    [effect]
                                        apply_to=new_ability
                                        [abilities]
                                            [dummy]
                                                id=eoma_summoned_zombie
                                                name=""
                                                description=_"This unit counts towards the summoned zombie limit."
                                            [/dummy]
                                        [/abilities]
                                    [/effect]
                                [/object]
                            [/modifications]
                        [/unit]
                    [/else]
                )}
                {CLEAR_VARIABLE zombies}
            [/do]
        [/foreach]
    [/event]
[/unit_type]
