#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Cyclops_Skeleton
    [/base_unit]
    id=EoMa_Cyclops_Skeleton_rpg
    advances_to=EoMa_Legendary_Cyclops_rpg,EoMa_Cyclops_Necromancer_rpg
    [resistance]
        arcane=100
        fire=80
        cold=80
    [/resistance]
	[attack]
	[/attack]
	[attack]
		[specials]
			{WEAPON_SPECIAL_PLAGUE_RPG}
		[/specials]
	[/attack]
	[attack]
		[specials]
			{WEAPON_SPECIAL_PLAGUE_RPG}
		[/specials]
	[/attack]
[/unit_type]
