#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Cyclops_Necromancer
    [/base_unit]
    id=EoMa_Cyclops_Necromancer_rpg
    hitpoints=44
    [resistance]
        arcane=100
        fire=80
        cold=80
    [/resistance]
    [abilities]
        {ABILITY_EOMA_UNDEADHEAL 5}
        {ABILITY_REGENERATES}
        [dummy]
            id=""# wmllint: ignore
            name=""# wmllint: ignore
            description="" # wmllint: ignore
        [/dummy]
    [/abilities]
    [attack]
		damage=4
        number=4
        [specials]
            {WEAPON_SPECIAL_EOMA_MAGIC_COUNTER}
			{WEAPON_SPECIAL_PLAGUE_RPG}
        [/specials]
    [/attack]
	[attack]
        [specials]
            {WEAPON_SPECIAL_PLAGUE_RPG}
        [/specials]
    [/attack]
	[attack]
        [specials]
            {WEAPON_SPECIAL_PLAGUE_RPG}
        [/specials]
    [/attack]
[/unit_type]
