#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Cyclops_Skeleton
    name= _ "Cyclops Skeleton"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_DEXTROUS}
    {TRAIT_RESILIENT}
    {TRAIT_INTELLIGENT}
    num_traits=2
    {MAGENTA_IS_THE_TEAM_COLOR}
    image="units/destroyers-cyclops/cyclop1.png"
    ellipse="misc/ellipse"
    hitpoints=28
    movement_type=armoredfoot
    movement=5
    experience=60
    level=1
    alignment=neutral
    advances_to=EoMa_Legendary_Cyclops,EoMa_Cyclops_Necromancer
    cost=18
    usage=archer
    description= _ "There was a time, roughly hundreds of years ago, when Cyclops Magi still existed. They ruled the world with their natural powers but soon, thereafter, even their civilization has fallen against the mighty Destroyers. Now their corpses are another part of the Destroyers' hordes."
	{DESTROYER_ADVANCEMENT_ANIM}
    {DEFENSE_ANIM "units/destroyers-cyclops/cyclop1.png" "units/destroyers-cyclops/cyclop1.png" {SOUND_LIST:SKELETON_HIT}}
    [resistance]
        impact=110
        blade=90
        pierce=80
        arcane=100
        fire=70
        cold=70
    [/resistance]
    [movement_costs]
        deep_water=3
        shallow_water=2
		swamp_water=2
		hills=2
		mountains=3
    [/movement_costs]
    [defense]
        deep_water=90
        shallow_water=80
		swamp_water=70
		fungus=60
		mountains=50
    [/defense]
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [attack]
        name=head
        description=_"head"
        icon=attacks/cyclops-skull.png
        type=impact
        range=melee
        damage=5
        number=1
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=eye
        description=_"gaze"
        icon=attacks/beam-red.png
        type=cold
        range=ranged
        damage=15
        number=1
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=eye2
        description=_"gaze"
        icon=attacks/beam-red.png
        type=arcane
        range=ranged
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
			{WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

#    [recruit_anim]
#        start_time=0
#        [frame]
#            duration=100
#            image="units/destroyers-cyclops/cyclop1-die5c.png"
#            sound=fire.wav
#        [/frame]
#        [frame]
#            duration=100
#            image="units/destroyers-cyclops/cyclop1-die5b.png"
#        [/frame]
#        [frame]
#            duration=100
#            image="units/destroyers-cyclops/cyclop1-die5a.png"
#        [/frame]
#        [frame]
#            duration=100
#            image="units/destroyers-cyclops/cyclop1-die4.png"
#        [/frame]
#        [frame]
#            duration=100
#            image="units/destroyers-cyclops/cyclop1-die3.png"
#        [/frame]
#        [frame]
#            duration=100
#            image="units/destroyers-cyclops/cyclop1-die2.png"
#        [/frame]
#        [frame]
#            duration=75
#            image="units/destroyers-cyclops/cyclop1-die1.png"
#        [/frame]
#    [/recruit_anim]

    [death]
        start_time=0
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die1.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die2.png"
            sound=fire.wav
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die3.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die4.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die5a.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die5b.png"
        [/frame]
        [frame]
            duration=100
            image="units/destroyers-cyclops/cyclop1-die5c.png"
        [/frame]
    [/death]

    [attack_anim]
        [filter_attack]
            name=head
        [/filter_attack]
        hits=yes
        start=-100
        [frame]
            duration=200
            image="units/destroyers-cyclops/cyclop1.png"
            sound=mace.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=head
        [/filter_attack]
        hits=no
        start=-100
        [frame]
            duration=200
            image="units/destroyers-cyclops/cyclop1.png"
            sound={SOUND_LIST:MISS}
        [/frame]
    [/attack_anim]
#define DESCYCLOP_LASER VARIATION DIR HALO_X HALO_Y IMAGE
    [attack_anim]
        [filter_attack]
            name=eye,eye2
        [/filter_attack]
        direction={DIR}
        [missile_frame]
            begin=-100
            end=100
            image=""
        [/missile_frame]
        [frame]
            begin=-300
            end=-200
            image={IMAGE}
            halo=halo/laser-destr-{VARIATION}-1.png:100
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=-200
            end=-100
            image={IMAGE}
            sound="magic-dark-big.ogg"
            halo=halo/laser-destr-{VARIATION}-2.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=-100
            end=0
            image={IMAGE}
            sound="magic-dark-big.ogg"
            halo=halo/laser-destr-{VARIATION}-3.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=0
            end=100
            image={IMAGE}
            halo=halo/laser-destr-{VARIATION}-4.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=100
            end=200
            image={IMAGE}
            halo=halo/laser-destr-{VARIATION}-5.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=200
            end=300
            image={IMAGE}
            halo=halo/laser-destr-{VARIATION}-2.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
    [/attack_anim]
#enddef
    {DESCYCLOP_LASER 1 n 0 -39 "units/destroyers-cyclops/cyclop1.png"}
    {DESCYCLOP_LASER 2 s 0 27 "units/destroyers-cyclops/cyclop1.png"}
    {DESCYCLOP_LASER 3 ne 27 -26 "units/destroyers-cyclops/cyclop1.png"}
    {DESCYCLOP_LASER 3 nw 27 -26 "units/destroyers-cyclops/cyclop1.png"}
    {DESCYCLOP_LASER 4 se 27 12 "units/destroyers-cyclops/cyclop1.png"}
    {DESCYCLOP_LASER 4 sw 27 12 "units/destroyers-cyclops/cyclop1.png"}
    {DESTROYER_RECRUIT_ANIM 26}
[/unit_type]
