#textdomain wesnoth-Era_of_Magic
#define DARKPORTAL_RECRUIT_FRAME SCALE SCALE2
    [portal_frame]
        duration=40
        image=halo/portal/destrportal.png
        auto_vflip=false
        layer=0
        y=20
        alpha=1
        offset=0.0
        layer=40
        image_mod="~SCALE({SCALE})"
    [/portal_frame]
    [circle_frame]
        image=halo/ucircle-frames/ucircle-b-01.png:40
        image_mod="~SCALE({SCALE})~GS()~R(64)~B(-255)~G(-255)"
        auto_vflip=false
        layer=1
        y=20
        alpha=1
        offset=0.0
        layer=40
    [/circle_frame]
    [lightning_frame]
        duration=40
        image="halo/air-lightning/0001.png"
        image_mod="~SCALE({SCALE2})~GS()~R(250)~B(-100)~G(-100)"
        layer=99
        offset=0.0
        y=20
    [/lightning_frame]
#enddef
[unit_type]
    id=EoMa_Dark_Portal
    name= _ "Dark Portal"
    race=eoma_magical
    image="units/destroyers-portals/darkportal-icon.png"
    image_icon="units/destroyers-portals/darkportal-icon.png"
    profile="portraits/destroyers/darkportal.png"
    small_profile="portraits/destroyers/darkportal.png~SCALE(205,205)"

    hitpoints=33
    movement_type=undeadspirit
    movement=4
    experience=60
    level=2
    alignment=chaotic
    advances_to=EoMa_Infernal_Vortex,EoMa_Black_Portal
    cost=26
    usage=healer
    description= _  "Dark Portals are powerful constructs of unknown origin, emanating extreme amounts of anti-magic. Nobody knows where they lead, but one thing is sure: nothing is going to live long enough near these bizarre things to find out. Besides harming living beings in close proximity, the anti-magic emission also seems to make nearby Destroyers regenerate."
    [resistance]
        blade=65
        pierce=65
        impact=50
        fire=60
        cold=75
        arcane=85
    [/resistance]
    [abilities]
        {ABILITY_EOMA_REGENERATES5}
        {ABILITY_EOMA_DAMAGEAURA 8 EoMa_Dark_Portal chaotic}
        {ABILITY_EOMA_UNDEADHEAL 5}
        {ABILITY_EOMA_CHAOS_CHANNELLING}
    [/abilities]
    [movement_costs]
        shallow_water=1
    [/movement_costs]
    [defense]
        deep_water=60
        shallow_water=60
        reef=60
        swamp_water=60
        flat=60
        sand=60
        forest=60
        hills=60
        mountains=60
        village=60
        castle=60
        frozen=60
        unwalkable=60
        fungus=60
        cave=60
    [/defense]
    [death]
        start_time=0
        circle_start_time=0
        portal_start_time=0
        lightning_start_time=0
        [explosion_frame]
            halo="projectiles/fireball-impact-[1~16].png~SCALE(150,225)~GS()~CS(-64,-255,-255):60"
            offset=0.0
            auto_vflip=no
            sound=explosion.ogg
        [/explosion_frame]
        [circle_frame]
            image=halo/ucircle-frames/ucircle-b-[01~23].png:40
            image_mod="~SCALE(101,59)~GS()~R(64)~B(-255)~G(-255)"
            auto_vflip=false
            layer=1
            y=20
            alpha=1~0
            offset=0.0
            layer=40
        [/circle_frame]
        [portal_frame]
            duration=1000
            image=halo/portal/destrportal.png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=0
            alpha=1~0
            y=20
        [/portal_frame]
        [lightning_frame]
            duration=1000
            image="halo/air-lightning/00[01~45].png"
            image_mod="~SCALE(120,60)~GS()~R(250)~B(-100)~G(-100)"
            layer=99
            offset=0.0
            alpha=1~0
            y=20
        [/lightning_frame]
        [frame]
            image="misc/blank-hex.png:1000"
        [/frame]
    [/death]
    [defend]
        start_time=-126
        circle_start_time=-126
        portal_start_time=-126
        lightning_start_time=-126
        [circle_frame]
            image=halo/ucircle-frames/ucircle-b-[01~06].png:40
            image_mod="~SCALE(101,59)~GS()~R(64)~B(-255)~G(-255)"
            auto_vflip=false
            layer=1
            y=20
            alpha=1
            offset=0.0
            layer=40
        [/circle_frame]
        [portal_frame]
            duration=250
            image=halo/portal/destrportal.png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=0
            y=20
        [/portal_frame]
        [lightning_frame]
            duration=250
            image="halo/air-lightning/00[01~08].png"
            image_mod="~SCALE(120,60)~GS()~R(250)~B(-100)~G(-100)"
            layer=99
            offset=0.0
            y=20
        [/lightning_frame]
        [frame]
            image="misc/blank-hex.png:250"
        [/frame]
    [/defend]
    [standing_anim]
        [circle_frame]
            image=halo/ucircle-frames/ucircle-b-[01~23,01~23,01~23,01~23,01~23].png:40
            image_mod="~SCALE(101,59)~GS()~R(64)~B(-255)~G(-255)"
            auto_vflip=false
            layer=1
            y=20
            alpha=1
            offset=0.0
            layer=40
        [/circle_frame]
        [portal_frame]
            duration=6000
            image=halo/portal/destrportal.png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=0
            y=20
        [/portal_frame]
        [lightning_frame]
            duration=4500
            image="halo/air-lightning/00[01~45,01~45,01~45].png"
            image_mod="~SCALE(120,60)~GS()~R(250)~B(-100)~G(-100)"
            layer=99
            offset=0.0
            y=20
        [/lightning_frame]
        [lightning2_frame]
            duration=4500
            image="halo/air-lightning/00[01~45,01~45,01~45].png"
            image_mod="~SCALE(140,80)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
        [/lightning2_frame]
        [lightning3_frame]
            duration=4500
            image="halo/air-lightning/00[45~01,45~01,45~01].png"
            image_mod="~SCALE(180,100)~GS()~R(-250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            alpha=0.0~1.0:2225,1.0~0.0:2225
        [/lightning3_frame]
        [vortex_frame]
            duration=4500
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(165,75)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            alpha=0.0~1.0:2000,1.0:500,1.0~0.0:1950
            offset=0.0
            y=20
        [/vortex_frame]
        [frame]
            image="misc/blank-hex.png:6000"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        circle_start_time=0
        portal_start_time=0
        lightning_start_time=0
        [circle_frame]
            image=halo/ucircle-frames/ucircle-b-[01~05].png:40
            image_mod="~SCALE(101,59)~GS()~R(64)~B(-255)~G(-255)"
            auto_vflip=false
            layer=1
            y=20
            alpha=1
            offset=0.0~1:200
            layer=40
        [/circle_frame]
        [portal_frame]
            duration=200
            image=halo/portal/destrportal.png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=0
            offset=0~1:200
            y=20
        [/portal_frame]
        [lightning_frame]
            duration=200
            image="halo/air-lightning/00[01~07].png"
            image_mod="~SCALE(120,60)~GS()~R(250)~B(-100)~G(-100)"
            layer=99
            offset=0.0~1:200
            y=20
        [/lightning_frame]
        [frame]
            image="misc/blank-hex.png:200"
        [/frame]
    [/movement_anim]
    [recruit_anim]
        {DARKPORTAL_RECRUIT_FRAME 1,2 1,2}
        {DARKPORTAL_RECRUIT_FRAME 10,7 12,7}
        {DARKPORTAL_RECRUIT_FRAME 19,12 23,12}
        {DARKPORTAL_RECRUIT_FRAME 28,17 33,17}
        {DARKPORTAL_RECRUIT_FRAME 37,22 44,23}
        {DARKPORTAL_RECRUIT_FRAME 45,27 54,28}
        {DARKPORTAL_RECRUIT_FRAME 54,32 65,33}
        {DARKPORTAL_RECRUIT_FRAME 63,37 75,38}
        {DARKPORTAL_RECRUIT_FRAME 72,42 86,43}
        {DARKPORTAL_RECRUIT_FRAME 81,47 97,48}
        {DARKPORTAL_RECRUIT_FRAME 101,59 120,60}
        [frame]
            image="misc/blank-hex.png:240"
        [/frame]
    [/recruit_anim]
    [levelout_anim]
        [frame]
            duration=600
            image=units/destroyers-portals/darkportal-icon-large.png
            blend_ratio="0~1:600"
            blend_color=0,0,0
        [/frame]
    [/levelout_anim]
    [levelin_anim]
        [frame]
            duration=600
            image=units/destroyers-portals/darkportal-icon-large.png
            blend_ratio="1~0:600"
            blend_color=0,0,0
        [/frame]
    [/levelin_anim]
    [attack]
        name=aura
        description=_"aura"
        icon=attacks/anti-magic.png
        type=fire
        range=melee
        damage=12
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_MAGICAL_DEFENSIVE}
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            [dummy]
                id=defend-only
                name= _ "defend-only"
                description= _ "This attack doesn't work on offense."
            [/dummy]
        [/specials]
        attack_weight=0.0
    [/attack]
    [attack]
        name=aura
        description=_"aura"
        icon=attacks/anti-magic.png
        type=fire
        range=ranged
        damage=8
        number=1
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            [dummy]
                id=defend-only
                name= _ "defend-only"
                description= _ "This attack doesn't work on offense."
            [/dummy]
        [/specials]
        attack_weight=0.0
    [/attack]
    [attack_anim]
        [filter_attack]
            name=aura
        [/filter_attack]
        start_time=-100
        circle_start_time=-100
        portal_start_time=-100
        lightning_start_time=-100
        lightning2_start_time=-100
        lightning3_start_time=-100
        [circle_frame]
            image=halo/ucircle-frames/ucircle-b-[01~12].png:40
            image_mod="~SCALE(101,59)~GS()~R(64)~B(-255)~G(-255)"
            auto_vflip=false
            layer=1
            y=20
            alpha=1
            offset=0.0
            layer=40
        [/circle_frame]
        [portal_frame]
            duration=500
            image=halo/portal/destrportal.png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=0
            y=20
        [/portal_frame]
        [lightning_frame]
            duration=500
            image="halo/air-lightning/00[01~15].png"
            image_mod="~SCALE(120,60)~GS()~R(250)~B(-100)~G(-100)"
            layer=99
            offset=0.0
            y=20
        [/lightning_frame]
        [lightning2_frame]
            duration=500
            image="halo/air-lightning/00[01~15].png"
            image_mod="~SCALE(140,80)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
        [/lightning2_frame]
        [lightning3_frame]
            duration=163
            image="halo/air-lightning/00[15~11].png"
            image_mod="~SCALE(180,100)~GS()~R(-250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            alpha=0.0~1.0:75,1
        [/lightning3_frame]
        [lightning3_frame]
            duration=163
            image="halo/air-lightning/0010.png,halo/air-lightning/00[09~06].png"
            image_mod="~SCALE(216,120)~GS()~R(-250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            alpha=1
            sound=fire.wav
        [/lightning3_frame]
        [lightning3_frame]
            duration=163
            image="halo/air-lightning/00[05~01].png"
            image_mod="~SCALE(270,150)~GS()~R(-250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            alpha=1:88,1.0~0.0:75
        [/lightning3_frame]
        [vortex_frame]
            duration=500
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            alpha=0.0~1.0:250,1.0~0.0:250
            offset=0.0
            y=20
        [/vortex_frame]
        [frame]
            image="misc/blank-hex.png:500"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=touch_unused
        [/filter_attack]
        start_time=0
        attack_sound_start_time=0
        [circle_frame]
            duration=245
            image=halo/ucircle-frames/ucircle-b-[01~23].png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=0
            y=20
            alpha=1~0
            offset=0.0
            layer=40
        [/circle_frame]
        [circle2_frame]
            duration=245
            image=halo/ucircle-frames/circle-g-[01~23].png
            image_mod="~SCALE(101,59)~GS()~BLEND(61,191,253,1)"
            auto_vflip=false
            layer=0
            y=20
            alpha=1~0
            offset=0.0
            layer=39
        [/circle2_frame]
        [particle_frame]
            duration=245
            image=halo/particle-anims/particle-c-[92~01].png
            image_mod="~SCALE(74,65)"
            submerge=0.3
            auto_vflip=false
            layer=99
            y=20
            alpha=1~0
            offset=0.0
        [/particle_frame]
        [particle2_frame]
            duration=245
            image="halo/particle-anims/particles-a-[01~96].png"
            image_mod="~SCALE(72,100)"
            auto_vflip=false
            auto_hflip=false
            layer=30
            alpha=1~0:150,0
        [/particle2_frame]
        [circle_frame]
            duration=245
            image=halo/ucircle-frames/ucircle-b-[01~23].png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=0
            y=20
            alpha=0~1
            offset=1.0
            layer=40
        [/circle_frame]
        [circle2_frame]
            duration=245
            image=halo/ucircle-frames/circle-g-[01~23].png
            image_mod="~SCALE(101,59)~GS()~BLEND(61,191,253,1)"
            auto_vflip=false
            layer=0
            y=20
            alpha=0~1
            offset=1.0
            layer=39
        [/circle2_frame]
        [particle_frame]
            duration=245
            image=halo/particle-anims/particle-c-[92~01].png
            image_mod="~SCALE(74,65)"
            submerge=0.3
            auto_vflip=false
            layer=99
            y=20
            alpha=0~1
            offset=1.0
        [/particle_frame]
        [particle2_frame]
            duration=245
            image="halo/particle-anims/particles-a-[01~96].png"
            image_mod="~SCALE(72,100)"
            auto_vflip=false
            auto_hflip=false
            layer=30
            alpha=0~1
            offset=1.0
        [/particle2_frame]
        [circle_frame]
            duration=245
            image=halo/ucircle-frames/ucircle-b-[01~23].png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=0
            y=20
            alpha=1~0
            offset=1.0
            layer=40
        [/circle_frame]
        [circle2_frame]
            duration=245
            image=halo/ucircle-frames/circle-g-[01~23].png
            image_mod="~SCALE(101,59)~GS()~BLEND(61,191,253,1)"
            auto_vflip=false
            layer=0
            y=20
            alpha=1~0
            offset=1.0
            layer=39
        [/circle2_frame]
        [particle_frame]
            duration=245
            image=halo/particle-anims/particle-c-[92~01].png
            image_mod="~SCALE(74,65)"
            submerge=0.3
            auto_vflip=false
            layer=99
            y=20
            alpha=1~0
            offset=1.0
        [/particle_frame]
        [particle2_frame]
            duration=245
            image="halo/particle-anims/particles-a-[01~96].png"
            image_mod="~SCALE(72,100)"
            auto_vflip=false
            auto_hflip=false
            layer=30
            alpha=1~0:150,0
            offset=1.0
        [/particle2_frame]
        [circle_frame]
            duration=245
            image=halo/ucircle-frames/ucircle-b-[01~23].png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=0
            y=20
            alpha=0~1
            offset=0.0
            layer=40
        [/circle_frame]
        [circle2_frame]
            duration=245
            image=halo/ucircle-frames/circle-g-[01~23].png
            image_mod="~SCALE(101,59)~GS()~BLEND(61,191,253,1)"
            auto_vflip=false
            layer=0
            y=20
            alpha=0~1
            offset=0.0
            layer=39
        [/circle2_frame]
        [particle_frame]
            duration=245
            image=halo/particle-anims/particle-c-[92~01].png
            image_mod="~SCALE(74,65)"
            submerge=0.3
            auto_vflip=false
            layer=99
            y=20
            alpha=0~1
            offset=0.0
        [/particle_frame]
        [particle2_frame]
            duration=245
            image="halo/particle-anims/particles-a-[01~96].png"
            image_mod="~SCALE(72,100)"
            auto_vflip=false
            auto_hflip=false
            layer=30
            alpha=0~1
            offset=0.0
        [/particle2_frame]
        [frame]
            image="misc/blank-hex.png:980"
        [/frame]
        [attack_sound_frame]
            duration=245
            sound=magic-faeriefire1a.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            duration=490
            sound=magic-faeriefire2a.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            sound=magic-faeriefire1a.ogg
        [/attack_sound_frame]
    [/attack_anim]
[/unit_type]
