#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Atokpi_Dark
    [/base_unit]
    id=EoMa_Atokpi_Dark_rpg
    [abilities]
        {ABILITY_EOMA_ALTER_EGO atokpirpg EoMa_Atokpi_Master_rpg EoMa_Atokpi_Dark_rpg}
        {ABILITY_SUBMERGE}
        {ABILITY_EOMA_AWE_LEVEL2}
        {ABILITY_EOMA_NOCTURNAL_REGENERATION 4}
    [/abilities]
    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        damage=15
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_ANTISHIELD}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
