#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Doom_Bringer
    [/base_unit]
	id=EoMa_Doom_Bringer_rpg
	[resistance]
		cold=100
		arcane=120
	[/resistance]
	[attack]
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_EOMA_MAGICAL_OFFENSIVE}
        [/specials]
    [/attack]
    [attack]

        damage=11
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
    [attack]
        damage=19
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_EOMA_STUN}
            {WEAPON_SPECIAL_EOMA_IMMOBILIZE_RPG}
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
    [/attack]
[/unit_type]
