#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Fallen_Cyclops_King
    name= _ "Fallen Cyclops King"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_DEXTROUS}
    {TRAIT_RESILIENT}
    {TRAIT_INTELLIGENT}
    num_traits=2

    image="units/destroyers-cyclops/cyclops4.png"
    ellipse="misc/ellipse"
    hitpoints=78
    movement_type=armoredfoot
    movement=5
    experience=200
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=85#75
    usage=archer
    description= _ "The following extract has been compiled by golem XTC1-3 from excavation site 3, property of cartographer Silos:
-(...) most unusual. The subservient dead flesh (...) animated using (...) (new?) (...) useful. Much (intelligence?) easier.
- New (...) (milestone?). Necromancy reigns (a supreme?) dark art. Artisans of living flesh will (bow to?) our thrulls (...).
-They destroyed them. But they don't (...). No (...) control. It (...) conscience. We (cannot?) (...).
- High warlocks have (barricade?) inside (...). Population (...) alone. (...) slaughter. (must?) flee. (King?) fled by the (...) gate. (...) collapse (...).
- Battle lost (...). They (are?) legion. They (not?) stop. They (only?) destroy. They all destroy. (...) prime command prevails (...). What have (we?) done. (...)failure (...).
- They share (...) mind. (...) not necromancy (...). Do not engage (...) it will grow (...) more intelligence. Do not repeat (....). If you (read?) flee. You (...) doomed."
    {DESTROYER_ADVANCEMENT_ANIM}
    {DESTROYER_DEATH_ANIM_MEDIUM}
    {DEFENSE_ANIM "units/destroyers-cyclops/cyclops4.png" "units/destroyers-cyclops/cyclops4.png" {SOUND_LIST:LICH_HIT}}
    die_sound=lich-die.ogg
	[standing_anim]
        [frame]
            image="units/destroyers-cyclops/king/00[01~48].png:42"
        [/frame]
    [/standing_anim]
	[healed_anim]
        [frame]
            image="units/destroyers-cyclops/king/00[01~48].png:24"
            halo="units/destroyers-cyclops/king/healing/00[01~24].png:42"
        [/frame]
    [/healed_anim]
    [resistance]
        impact=110
        blade=90
        pierce=80
        arcane=75
        fire=60
        cold=60
    [/resistance]
    [movement_costs]
        deep_water=3
        shallow_water=2
        swamp_water=2
        hills=2
        mountains=3
    [/movement_costs]
    [defense]
        deep_water=90
        shallow_water=80
        swamp_water=70
        fungus=40
        mountains=50
    [/defense]
    [abilities]
        {ABILITY_SUBMERGE}
        {ABILITY_EOMA_AWE_LEVEL2}
        {ABILITY_EOMA_FUNGAL_REGENERATION 10}
        {ABILITY_EOMA_REGENERATE 6}
        {ABILITY_EOMA_SUMMON cyclopsking (
            {SUMMON_MENU_ITEM 6_3_1 ( _ "Summon Nightmare") 14 (EoMa_Fallen_Cyclops_King) (EoMa_Nightmare)}
            {SUMMON_MENU_ITEM 6_3_2 ( _ "Summon Atokpi") 12 (EoMa_Fallen_Cyclops_King) (EoMa_Atokpi)}
            {SUMMON_MENU_ITEM 6_3_3 ( _ "Summon Bone Beast") 10 (EoMa_Fallen_Cyclops_King) (EoMa_Beast)}
            {SUMMON_MENU_ITEM 6_3_4 ( _ "Summon Pirafly") 10 (EoMa_Fallen_Cyclops_King) (EoMa_Pirafly)}
        )}
    [/abilities]
    [attack]
        name=head
        description=_"head"
        icon=attacks/cyclops-skull2.png
        type=impact
        range=melee
        damage=12
        number=2
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]
    [attack]
        name=eye
        description=_"gaze"
        icon=attacks/beam-red.png
        type=cold
        range=ranged
        damage=56
        number=1
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=eye2
        description=_"gaze"
        icon=attacks/beam-red.png
        type=arcane
        range=ranged
        damage=14
        number=4
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=head
        [/filter_attack]
        hits=yes
        start=-100
        [frame]
            duration=200
            image="units/destroyers-cyclops/cyclops4.png"
            sound=mace.wav
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=head
        [/filter_attack]
        hits=no
        start=-100
        [frame]
            duration=200
            image="units/destroyers-cyclops/cyclops4.png"
            sound={SOUND_LIST:MISS}
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=eye,eye2
        [/filter_attack]
        start_time=-500
        [missile_frame]
        [/missile_frame]
        [frame]
            duration=200
            image="units/destroyers-cyclops/cyclops4-attack1.png"
            sound="magic-dark-big.ogg"
        [/frame]
        [frame]
            duration=200
            image="units/destroyers-cyclops/cyclops4-attack2.png"
        [/frame]
        [frame]
            duration=200
            image="units/destroyers-cyclops/cyclops4-attack3.png"
        [/frame]
    [/attack_anim]
    {DESCYCLOP2_LASER 1 n 30 -48 (units/destroyers-cyclops/cyclops4)}
    {DESCYCLOP2_LASER 2 s 31 19 (units/destroyers-cyclops/cyclops4)}
    {DESCYCLOP2_LASER 3 ne 57 -36 (units/destroyers-cyclops/cyclops4)}
    {DESCYCLOP2_LASER 3 nw 57 -36 (units/destroyers-cyclops/cyclops4)}
    {DESCYCLOP2_LASER 4 se 58 0 (units/destroyers-cyclops/cyclops4)}
    {DESCYCLOP2_LASER 4 sw 58 0 (units/destroyers-cyclops/cyclops4)}
    [attack_anim]
        [filter_attack]
            name=energy
        [/filter_attack]
        missile_start_time=-200
        [if]
            hits=yes
            [missile_frame]
                image=projectiles/zmage-halo[1~5,4~1,2~5].png~GS()~BLEND(128,0,0,0.4)~CS(128,0,0):50
                layer=99
                x,y=2,-2
                alpha=1~0:125,0:50,0~1:75,0.8:400
                offset=0~1:200
            [/missile_frame]

            missile2_start_time=-100
            missile3_start_time=-100
            [missile2_frame]
                duration=600
                halo="halo/undead/idle-flash-[1~21].png"
                halo_mod=~GS()~R(255)
                halo_x=-12
                offset=1.0
                sound=lightning-miss.ogg
            [/missile2_frame]
            [missile3_frame]
                duration=600
                halo="halo/undead/idle-flash-[1~21].png~FL(horiz)~FL(vert)"
                halo_mod=~GS()~R(255)
                halo_x=12
                offset=1.0
            [/missile3_frame]
        [/if]
        [else]
            hits=no
            [missile_frame]
                image=projectiles/zmage-halo[1~5].png~GS()~BLEND(128,0,0,0.4)~CS(128,0,0):50
                layer=99
                x,y=2,-2
                alpha=1~0:125,0
                offset=0~1:200
            [/missile_frame]
        [/else]
        start_time=-500
        [frame]
            image="units/destroyers-cyclops/cyclops4-attack[3~1].png:100"
        [/frame]
        [frame]
            image="units/destroyers-cyclops/cyclops4-attack1.png:300"
        [/frame]
        [frame]
            image="units/destroyers-cyclops/cyclops4-attack[1~3].png:50"
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark-big-miss.ogg -200}
    [/attack_anim]
    {DESTROYER_RECRUIT_ANIM_BIG 30}
[/unit_type]
