#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Infernal_Vortex
    name= _ "Infernal Vortex"
    race=eoma_magical
    image="units/destroyers-portals/infernalvortex-icon-large.png"
    image_icon="units/destroyers-portals/infernalvortex-icon.png"

    hitpoints=48
    movement_type=undeadspirit
    movement=4
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=58
    usage=healer
    description= _  "These occult masterpieces of anti-magic are pure manifestations of destructive power. Nothing can withstand the ceaseless anti-magic emissions of an Infernal Vortex. Whatever lies in its center, it surely must be connected directly to hell. There is no other explanation..."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_FIRSTSTRIKE}
    {DESTROYER_ADVANCEMENT_ANIM}
    [resistance]
        blade=65
        pierce=65
        impact=65
        fire=60
        cold=75
        arcane=85
    [/resistance]
    [abilities]
        {ABILITY_EOMA_REGENERATES}
        {ABILITY_EOMA_DAMAGEAURA 14 EoMa_Infernal_Vortex chaotic}
        {ABILITY_EOMA_UNDEADHEAL 8}
    [/abilities]
    [movement_costs]
        shallow_water=1
    [/movement_costs]
    [defense]
        deep_water=60
        shallow_water=60
        reef=60
        swamp_water=60
        flat=60
        sand=60
        forest=60
        hills=60
        mountains=60
        village=60
        castle=60
        frozen=60
        unwalkable=60
		fungus=60
		cave=60
    [/defense]
    [death]
        start_time=0infernal vortex balance tweaks
        circle_start_time=0
        portal_start_time=0
        lightning_start_time=0
        [explosion_frame]
            halo="projectiles/fireball-impact-[1~16].png~SCALE(175,262)~GS()~CS(-64,-255,-255):60"
            offset=0.0
            auto_vflip=no
            sound=explosion.ogg
        [/explosion_frame]
        [circle_frame]
            image=halo/ucircle-frames/ucircle-b-[01~23].png:40
            image_mod="~SCALE(101,59)~GS()~R(64)~B(-255)~G(-255)"
            auto_vflip=false
            layer=1
            y=20
            alpha=1~0
            offset=0.0
            layer=40
        [/circle_frame]
        [portal_frame]
            duration=1000
            image=halo/portal/destrportal.png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=0
            alpha=1~0
            y=20
        [/portal_frame]
        [vortex_frame]
            duration=1000
            image="units/summoners-elementals/air-elemental/air-elemental-[1~25].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            alpha=1~0
            y=20
        [/vortex_frame]
        [vortex2_frame]
            duration=1000
            image="units/summoners-elementals/air-elemental/air-elemental-[1~25].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            alpha=1~0
            y=20
        [/vortex2_frame]
        [vortex3_frame]
            duration=1000
            image="units/summoners-elementals/air-elemental/air-elemental-[1~25].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            later=28
            alpha=1~0
            y=20
        [/vortex3_frame]
        [cloud_frame]
            duration=1000
            image="halo/air-clouds2/0[001~030].png"
            image_mod="~SCALE(280,180)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=31
            alpha=1~0
            y=20
        [/cloud_frame]
        [lightning_frame]
            duration=1000
            image="halo/air-lightning/00[01~40].png"
            image_mod="~SCALE(120,60)~GS()~R(250)~B(-100)~G(-100)"
            layer=99
            offset=0.0
            alpha=1~0
            y=20
        [/lightning_frame]
        [lightning2_frame]
            duration=1000
            image="halo/air-lightning/00[01~40].png"
            image_mod="~SCALE(140,80)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            alpha=1~0
            y=20
        [/lightning2_frame]
        [lightning4_frame]
            duration=1000
            image="halo/air-lightning/00[40~01].png"
            image_mod="~SCALE(200,120)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            alpha=1~0
            y=20
        [/lightning4_frame]
        [frame]
            image="misc/blank-hex.png:1000"
        [/frame]
    [/death]
    [defend]
        start_time=-126
        circle_start_time=-126
        portal_start_time=-126
        lightning_start_time=-126
        lightning2_start_time=-126
        lightning4_start_time=-126
        vortex_start_time=-126
        vortex2_start_time=-126
        vortex3_start_time=-126
        cloud_start_time=-126
        [circle_frame]
            image=halo/ucircle-frames/ucircle-b-[01~06].png:40
            image_mod="~SCALE(101,59)~GS()~R(64)~B(-255)~G(-255)"
            auto_vflip=false
            layer=1
            y=20
            offset=0.0
            layer=40
        [/circle_frame]
        [portal_frame]
            duration=250
            image=halo/portal/destrportal.png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=0
            y=20
        [/portal_frame]
        [vortex_frame]
            duration=250
            image="units/summoners-elementals/air-elemental/air-elemental-[1~8].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            y=20
        [/vortex_frame]
        [vortex2_frame]
            duration=250
            image="units/summoners-elementals/air-elemental/air-elemental-[1~8].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            y=20
        [/vortex2_frame]
        [vortex3_frame]
            duration=250
            image="units/summoners-elementals/air-elemental/air-elemental-[1~8].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            later=28
            y=20
        [/vortex3_frame]
        [cloud_frame]
            duration=250
            image="halo/air-clouds2/0[001~008].png"
            image_mod="~SCALE(280,180)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=31
            y=20
        [/cloud_frame]
        [lightning_frame]
            duration=250
            image="halo/air-lightning/00[01~08].png"
            image_mod="~SCALE(120,60)~GS()~R(250)~B(-100)~G(-100)"
            layer=99
            offset=0.0
            y=20
        [/lightning_frame]
        [lightning2_frame]
            duration=250
            image="halo/air-lightning/00[01~08].png"
            image_mod="~SCALE(140,80)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
        [/lightning2_frame]
        [lightning4_frame]
            duration=250
            image="halo/air-lightning/00[08~01].png"
            image_mod="~SCALE(200,120)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
        [/lightning4_frame]
        [frame]
            image="misc/blank-hex.png:250"
        [/frame]
    [/defend]
    [standing_anim]
        [circle_frame]
            image=halo/ucircle-frames/ucircle-b-[01~23].png:40
            image_mod="~SCALE(101,59)~GS()~R(64)~B(-255)~G(-255)"
            auto_vflip=false
            layer=30
            y=20
            alpha=1
            offset=0.0
            layer=40
        [/circle_frame]
        [portal_frame]
            duration=6000
            image=halo/portal/destrportal.png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=29
            y=20
        [/portal_frame]
        [vortex_frame]
            duration=2000
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            y=20
        [/vortex_frame]
        [vortex2_frame]
            duration=2000
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            y=20
        [/vortex2_frame]
        [vortex3_frame]
            duration=2000
            image="units/summoners-elementals/air-elemental/air-elemental-[1~50].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            later=28
            y=20
        [/vortex3_frame]
        [cloud_frame]
            duration=4500
            image="halo/air-clouds2/0[001~130].png"
            image_mod="~SCALE(280,180)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=31
            y=20
        [/cloud_frame]
        [lightning_frame]
            duration=4500
            image="halo/air-lightning/00[01~45,01~45,01~45].png"
            image_mod="~SCALE(120,60)~GS()~R(250)~B(-100)~G(-100)"
            layer=99
            offset=0.0
            y=20
        [/lightning_frame]
        [lightning2_frame]
            duration=4500
            image="halo/air-lightning/00[01~45,01~45,01~45].png"
            image_mod="~SCALE(140,80)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
        [/lightning2_frame]
        [lightning3_frame]
            duration=4500
            image="halo/air-lightning/00[45~01,45~01,45~01].png"
            image_mod="~SCALE(180,100)~GS()~R(-250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            alpha=0.0~1.0:2225,1.0~0.0:2225
        [/lightning3_frame]
        [lightning4_frame]
            duration=4500
            image="halo/air-lightning/00[45~01,45~01,45~01].png"
            image_mod="~SCALE(200,120)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
        [/lightning4_frame]
        [frame]
            image="misc/blank-hex.png:6000"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [circle_frame]
            image=halo/ucircle-frames/ucircle-b-[01~05].png:40
            image_mod="~SCALE(101,59)~GS()~R(64)~B(-255)~G(-255)"
            auto_vflip=false
            layer=30
            y=20
            alpha=1
            offset=0.0~1
            layer=40
        [/circle_frame]
        [portal_frame]
            duration=200
            image=halo/portal/destrportal.png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=29
            offset=0.0~1
            y=20
        [/portal_frame]
        [vortex_frame]
            duration=200
            image="units/summoners-elementals/air-elemental/air-elemental-[1~5].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            offset=0.0~1
            y=20
        [/vortex_frame]
        [vortex2_frame]
            duration=200
            image="units/summoners-elementals/air-elemental/air-elemental-[1~5].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            offset=0.0~1
            y=20
        [/vortex2_frame]
        [vortex3_frame]
            duration=200
            image="units/summoners-elementals/air-elemental/air-elemental-[1~5].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            later=28
            offset=0.0~1
            y=20
        [/vortex3_frame]
        [cloud_frame]
            duration=200
            image="halo/air-clouds2/0[001~005].png"
            image_mod="~SCALE(280,180)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=31
            offset=0.0~1
            y=20
        [/cloud_frame]
        [lightning_frame]
            duration=200
            image="halo/air-lightning/00[01~07].png"
            image_mod="~SCALE(120,60)~GS()~R(250)~B(-100)~G(-100)"
            layer=99
            offset=0.0~1
            y=20
        [/lightning_frame]
        [lightning2_frame]
            duration=200
            image="halo/air-lightning/00[01~07].png"
            image_mod="~SCALE(140,80)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0~1
            y=20
        [/lightning2_frame]
        [lightning4_frame]
            duration=200
            image="halo/air-lightning/00[07~01].png"
            image_mod="~SCALE(200,120)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0~1
            y=20
        [/lightning4_frame]
        [frame]
            image="misc/blank-hex.png:200"
        [/frame]
    [/movement_anim]
    [attack]
        name=aura
        description=_"aura"
        icon=attacks/anti-magic.png
        type=fire
        range=melee
        damage=18
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            [dummy]
                id=defend-only
                name= _ "defend-only"
                description= _ "This attack doesn't work on offense."
            [/dummy]
        [/specials]
        attack_weight=0.0
    [/attack]
    [attack]
        name=aura
        description=_"aura"
        icon=attacks/anti-magic.png
        type=fire
        range=ranged
        damage=14
        number=1
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            [dummy]
                id=defend-only
                name= _ "defend-only"
                description= _ "This attack doesn't work on offense."
            [/dummy]
        [/specials]
        attack_weight=0.0
    [/attack]
    [attack_anim]
        [filter_attack]
            name=aura
        [/filter_attack]
        start_time=-126
        circle_start_time=-126
        portal_start_time=-126
        lightning_start_time=-126
        lightning2_start_time=-126
        lightning3_start_time=-126
        lightning4_start_time=-126
        vortex_start_time=-126
        vortex2_start_time=-126
        vortex3_start_time=-126
        vortex4_start_time=-126
        cloud_start_time=-126
        [circle_frame]
            image=halo/ucircle-frames/ucircle-b-[01~06].png:40
            image_mod="~SCALE(101,59)~GS()~R(64)~B(-255)~G(-255)"
            auto_vflip=false
            layer=1
            y=20
            offset=0.0
            layer=40
        [/circle_frame]
        [portal_frame]
            duration=250
            image=halo/portal/destrportal.png
            image_mod="~SCALE(101,59)"
            auto_vflip=false
            layer=0
            y=20
        [/portal_frame]
        [vortex_frame]
            duration=250
            image="units/summoners-elementals/air-elemental/air-elemental-[1~8].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            y=20
        [/vortex_frame]
        [vortex2_frame]
            duration=250
            image="units/summoners-elementals/air-elemental/air-elemental-[1~8].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=28
            y=20
        [/vortex2_frame]
        [vortex3_frame]
            duration=250
            image="units/summoners-elementals/air-elemental/air-elemental-[1~8].png"
            image_mod="~SCALE(220,110)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            later=28
            y=20
        [/vortex3_frame]
        [vortex4_frame]
            duration=163
            image="units/summoners-elementals/air-elemental/air-elemental-[1~5].png"
            image_mod="~SCALE(165,82)~GS()~R(250)~G(-255)~B(-255)"
            auto_vflip=false
            later=28
            y=20
            alpha=0.0~1.0:75,1
        [/vortex4_frame]
        [vortex4_frame]
            duration=163
            image="units/summoners-elementals/air-elemental/air-elemental-[6~10].png"
            image_mod="~SCALE(220,110)~GS()~R(250)~G(-255)~B(-255)"
            auto_vflip=false
            later=28
            y=20
        [/vortex4_frame]
        [vortex4_frame]
            duration=163
            image="units/summoners-elementals/air-elemental/air-elemental-[11~15].png"
            image_mod="~SCALE(275,137)~GS()~R(250)~G(-255)~B(-255)"
            auto_vflip=false
            later=28
            y=20
            alpha=1:88,1.0~0.0:75
        [/vortex4_frame]
        [cloud_frame]
            duration=250
            image="halo/air-clouds2/0[001~008].png"
            image_mod="~SCALE(280,180)~GS()~R(-255)~G(-255)~B(-255)"
            auto_vflip=false
            layer=31
            y=20
        [/cloud_frame]
        [lightning_frame]
            duration=250
            image="halo/air-lightning/00[01~08].png"
            image_mod="~SCALE(120,60)~GS()~R(250)~B(-100)~G(-100)"
            layer=99
            offset=0.0
            y=20
        [/lightning_frame]
        [lightning2_frame]
            duration=250
            image="halo/air-lightning/00[01~08].png"
            image_mod="~SCALE(140,80)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
        [/lightning2_frame]
        [lightning4_frame]
            duration=250
            image="halo/air-lightning/00[08~01].png"
            image_mod="~SCALE(200,120)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
        [/lightning4_frame]
        [lightning3_frame]
            duration=163
            halo="halo/air-lightning/00[15~11].png"
            halo_mod="~SCALE(180,100)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            alpha=0.0~1.0:75,1
        [/lightning3_frame]
        [lightning3_frame]
            duration=163
            halo="halo/air-lightning/0010.png,halo/air-lightning/00[09~06].png"
            halo_mod="~SCALE(216,120)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            alpha=1
            sound=fire.wav
        [/lightning3_frame]
        [lightning3_frame]
            duration=163
            halo="halo/air-lightning/00[05~01].png"
            halo_mod="~SCALE(270,150)~GS()~R(250)~B(-255)~G(-255)"
            layer=99
            offset=0.0
            y=20
            alpha=1:88,1.0~0.0:75
        [/lightning3_frame]
        [frame]
            image="misc/blank-hex.png:250"
        [/frame]
    [/attack_anim]
[/unit_type]
