#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Moloch
    [/base_unit]
    id=EoMa_Moloch_rpg
	hitpoints=101
	[resistance]
        impact=80
        blade=40
        pierce=30
        arcane=120
        fire=110
        cold=70
    [/resistance]
    [abilities]
        {ABILITY_EOMA_SPLIT_RPG}
        {ABILITY_EOMA_BONECOLLECTOR_RPG}
    [/abilities]
[/unit_type]
