#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Pirafly
    name= _ "Pirafly"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    num_traits=2

    image="units/destroyers-piranhas/piranha1-1.png"
    profile="portraits/destroyers/pirafly.png"
    small_profile="portraits/destroyers/pirafly.png~SCALE(205,205)"
    ellipse="misc/ellipse"
    hitpoints=26
    movement_type=fly
    movement=7
    experience=37
    upkeep=0
    level=1
    alignment=neutral
    advances_to=EoMa_Pirania_Monstruosa
    cost=16
    usage=fighter
    description= _ "Piraflies are remains of larvae of extinct flying fish whose adults have been known for consuming large creatures like whales and elephants. Now undead corpses of these species are under Destroyers' control."
    die_sound=naga-die.ogg
    {DESTROYER_ADVANCEMENT_ANIM}
    [movement_costs]
        cave=1
        fungus=1
    [/movement_costs]
    [defense]
        cave=50
        fungus=50
    [/defense]
    [resistance]
        impact=100
        blade=110
        pierce=90
        arcane=110
        fire=110
        cold=90
    [/resistance]
    [abilities]
        [dummy]
            id=upkeepless
            name= _ "upkeepless"
            description=_"This unit doesn't cost upkeep."
        [/dummy]
        {ABILITY_EOMA_HITANDRUN 1}
    [/abilities]
    [attack]
        name=fangs
        description={STR_FANGS}
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]

    {DESPIRANHA_ANIMS piranha1}
    {DESTROYER_RECRUIT_ANIM 26}
[/unit_type]
