#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Pirania_Monstruosa
    name= _ "Pirania Monstruosa"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    num_traits=2

    image="units/destroyers-piranhas/piranha2-1.png"
    ellipse="misc/ellipse"
    hitpoints=34
    movement_type=fly
    movement=7
    experience=76
    level=2
    upkeep=1
    alignment=neutral
    advances_to=EoMa_Devourer
    cost=34
    usage=fighter
    description={NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_DRAIN}
    die_sound=naga-die.ogg
    {DESTROYER_ADVANCEMENT_ANIM}
    [movement_costs]
        cave=1
        fungus=1
    [/movement_costs]
    [defense]
        cave=50
        fungus=50
    [/defense]
    [resistance]
        impact=100
        blade=110
        pierce=90
        arcane=110
        fire=110
        cold=90
    [/resistance]
    [abilities]
        [dummy]
            id=low_upkeep
            name= _ "low upkeep"
            description=_"This unit costs 1 less gold worth of upkeep than it would normally."
        [/dummy]
        {ABILITY_EOMA_AWE_LEVEL1}
        {ABILITY_EOMA_HITANDRUN 1}
    [/abilities]
    [attack]
        name=fangs
        description={STR_FANGS}
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_DRAIN}
            {WEAPON_SPECIAL_EOMA_SWALLOW 3}
        [/specials]
    [/attack]

    [standing_anim]
        [frame]
            begin=0
            end=75
            image="units/destroyers-piranhas/piranha2-1.png"
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/destroyers-piranhas/piranha2-2.png"
        [/frame]
        [frame]
            begin=150
            end=225
            image="units/destroyers-piranhas/piranha2-3.png"
        [/frame]
        [frame]
            begin=225
            end=300
            image="units/destroyers-piranhas/piranha2-2.png"
        [/frame]
    [/standing_anim]

    [defend]
        hits=hit
        [frame]
            begin=-126
            end=-125
            image="units/destroyers-piranhas/piranha2-2.png"
        [/frame]
        [frame]
            begin=-125
            end=-75
            image="units/destroyers-piranhas/piranha2-2.png"
            offset=0.0~-0.12
        [/frame]
        [frame]
            begin=-75
            end=-25
            image="units/destroyers-piranhas/piranha2-2.png"
            offset=-0.12~-0.25
        [/frame]
        [frame]
            begin=-25
            end=25
            image="units/destroyers-piranhas/piranha2-2.png"
            offset=-0.25
        [/frame]
        [frame]
            begin=25
            end=75
            image="units/destroyers-piranhas/piranha2-2.png"
            offset=-0.25~-0.12
        [/frame]
        [frame]
            begin=75
            end=125
            image="units/destroyers-piranhas/piranha2-2.png"
            offset=-0.12~-0.0
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/destroyers-piranhas/piranha2-2.png"
        [/frame]
    [/defend]
    [defend]
        hits=miss
        [frame]
            begin=-126
            end=-125
            image="units/destroyers-piranhas/piranha2-2.png"
        [/frame]
        [frame]
            begin=-125
            end=-75
            image="units/destroyers-piranhas/piranha2-2.png"
            offset=0.0~-0.25
        [/frame]
        [frame]
            begin=-75
            end=-25
            image="units/destroyers-piranhas/piranha2-2.png"
            offset=-0.25~-0.5
        [/frame]
        [frame]
            begin=-25
            end=25
            image="units/destroyers-piranhas/piranha2-2.png"
            offset=-0.5
        [/frame]
        [frame]
            begin=25
            end=75
            image="units/destroyers-piranhas/piranha2-2.png"
            offset=-0.5~-0.25
        [/frame]
        [frame]
            begin=75
            end=125
            image="units/destroyers-piranhas/piranha2-2.png"
            offset=-0.25~-0.0
        [/frame]
        [frame]
            begin=125
            end=126
            image="units/destroyers-piranhas/piranha2-2.png"
        [/frame]
    [/defend]

    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/destroyers-piranhas/piranha2-2.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/destroyers-piranhas/piranha2-2.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/destroyers-piranhas/piranha2-2.png"
                sound={SOUND_LIST:NAGA_HIT}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/destroyers-piranhas/piranha2-2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=150
            image="units/destroyers-piranhas/piranha2-2.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/destroyers-piranhas/piranha2-2.png"
        [/frame]
    [/attack_anim]
    {DESTROYER_RECRUIT_ANIM 26}
[/unit_type]
