#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Punisher
    name= _ "Punisher"
    race=undead
    ignore_race_traits=yes
    {TRAIT_UNDEAD}
    {TRAIT_QUICK}
    {TRAIT_RESILIENT}
    {TRAIT_STRONG}
    num_traits=2

    image="units/destroyers-omens/punisher.png"
    ellipse="misc/ellipse"
    hitpoints=42
    movement_type=undeadspirit
    movement=6
    experience=125
    level=2
    alignment=chaotic
    advances_to=EoMa_Obliterator
    cost=44
    usage=warrior
    description={NO_DESCR_AVAILABLE}
    {DESTROYER_ADVANCEMENT_ANIM}
    {DESTROYER_DEATH_ANIM_SMALL}
    {DEFENSE_ANIM "units/destroyers-omens/punisher-2.png" "units/destroyers-omens/punisher-2.png" {SOUND_LIST:SKELETON_HIT}}
    [resistance]
        impact=110
        blade=80
        pierce=80
        arcane=110
        fire=90
        cold=80
    [/resistance]
    [defense]
    [/defense]
    [abilities]
        {ABILITY_EOMA_AWE_LEVEL2}
    [/abilities]
    [attack]
        name=omen2sword
        description=_"area attack"
        icon=attacks/katana.png
        type=blade
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_ALLAROUND 40}
            {WEAPON_SPECIAL_EOMA_NOCOUNTERATTACK}
        [/specials]
    [/attack]
    [attack]
        name=sword2
        description={STR_SWORD}
        icon=attacks/katana.png
        type=pierce
        range=melee
        damage=13
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
    [/attack]

    [standing_anim]
        [frame]
            image="units/destroyers-omens/punisher/00[01~24].png:42"
        [/frame]
    [/standing_anim]
    [movement_anim]
        [frame]
            image="units/destroyers-omens/punisher/00[01~24].png:8"
        [/frame]
    [/movement_anim]
    [healed_anim]
        [frame]
            image="units/destroyers-omens/punisher/00[01~24].png:42"
            halo="units/destroyers-omens/punisher/healing/00[01~24].png:42"
        [/frame]
    [/healed_anim]

    [attack_anim]
        [filter_attack]
            name=omen2sword
        [/filter_attack]
        [missile_frame]
        [/missile_frame]
        start_time=-300
        sound_start_time=-150
        [frame]
            image="units/destroyers-omens/punisher/no-sword/00[01~24].png:35"
            halo="units/destroyers-omens/punisher-area[1~14,3,2,1].png:50"
        [/frame]
        [if]
            hits=no
            [sound_frame]
                duration=50
                sound={SOUND_LIST:MISS}
            [/sound_frame]
        [/if]
        [else]
            hits=yes
            [sound_frame]
                duration=50
                sound={SOUND_LIST:SWORD_SWISH}
            [/sound_frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword2
        [/filter_attack]
        start_time=-150
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/destroyers-omens/punisher-2.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/destroyers-omens/punisher-2.png"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    {DESTROYER_RECRUIT_ANIM 26}
[/unit_type]
