#textdomain wesnoth-Era_of_Magic
[multiplayer_side]
    id=destroyers_aoh
    image,name="factions/EoMa-faction-destroyers.png", _"Destroyers"
	
    type=EoMa_Obliterator
    {EOMA_DESTROYERS_AOH_LEADERS}
    recruit={EOMA_DESTROYERS_AOH_RECRUITS},{EOMA_DESTROYERS_DEFAULT_RECRUITS}
    [ai]
        recruitment_pattern=fighter,fighter,archer,archer,mixed fighter,mixed fighter
    [/ai]
[/multiplayer_side]
