#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Battlecopter
    [/base_unit]
    id=EoMa_Battlecopter_rpg
    movement=9
    [attack]
        name=gun
        description= _ "shock gun"
        icon=attacks/mg-impact.png
        type=impact
        range=melee
        damage=12
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_EOMA_FIRSTSTRIKE_RPG}
        [/specials]
    [/attack]
    [attack]
        [specials]
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
            {WEAPON_SPECIAL_EOMA_FIRSTSTRIKE_RPG}
        [/specials]
    [/attack]
[/unit_type]
