#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Constructor
    name= _ "Constructor"
    race=dwarf
    image="units/runemasters-dwarves/constructor1.png"
    profile="portraits/runemasters/mechanic.png"
    small_profile="portraits/runemasters/mechanic.png~SCALE(205,205)"

    hitpoints=58
    movement_type=dwarvishfoot
    movement=5
    experience=100
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=52
    usage=fighter
    undead_variation=mechanic
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/runemasters-dwarves/constructor1.png" "units/runemasters-dwarves/constructor2.png" {SOUND_LIST:DWARF_HIT}}
    {STANDING3_ANIM (units/runemasters-dwarves/constructor) 100}
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=100
        fire=70
    [/resistance]
    [abilities]
        {ABILITY_EOMA_EXTRA_REPAIR}
        [dummy]
            id=eoma_builddrone
            name= _ "activate drone"
            description=_"This unit can create new drones on adjacent tiles, but not in villages, or on water. The drone automatically on a target autonomously after being activated."
        [/dummy]
    [/abilities]
    [event]
        name=select
        id=eoma_summon_select_event
        first_time_only=no
        [filter]
            ability=eoma_summon
            side=$side_number
        [/filter]

        [store_unit]
            [filter]
                x,y=$x1,$y1
            [/filter]
            variable=last_selected_unit
        [/store_unit]
    [/event]

    [event]
        name=start,post advance,recall,forcesummonoptions
        id=eoma_summon_init_event_constructor
        first_time_only=no

        {SUMMON_MENU_ITEM constrdrone ( _ "Build Drone") 9 (EoMa_Constructor) (EoMa_Drone)}
		[allow_undo]
		[/allow_undo]
    [/event]
    [+abilities]
        #{ABILITY_EOMA_SUMMON constructor (
        #{SUMMON_MENU_ITEM constrdrone ( _ "Build Drone") 12 (EoMa_Constructor) (EoMa_Drone)}
        #		)}
        {ABILITY_EOMA_COMPLETEREPAIR}
    [/abilities]

    [healing_anim]
        start_time=-100
        [frame]
            image="units/runemasters-dwarves/constructor2.png:100"
            offset=0~0.5
        [/frame]
        [frame]
            image="units/runemasters-dwarves/constructor-[impact,pierce,impact,pierce].png:100"
            offset=0.5
        [/frame]
        [frame]
            image="units/runemasters-dwarves/constructor2.png:100"
            offset=0.5~0
        [/frame]
    [/healing_anim]
    [healing_anim]
        start_time=-100
        [frame]
            image="units/runemasters-dwarves/constructor2.png:100"
            offset=0~0.5
        [/frame]
        [frame]
            image="units/runemasters-dwarves/constructor-weld-[1,2,1,2,1].png:80"
            offset=0.5
            sound=fire.wav
        [/frame]
        [frame]
            image="units/runemasters-dwarves/constructor2.png:100"
            offset=0.5~0
        [/frame]
    [/healing_anim]
    [attack]
        name=saw
        description=_"saw"
        icon="attacks/saw.png"
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
    [attack]
        name=wrench
        description=_"wrench"
        icon="attacks/wrench.png"
        type=impact
        range=melee
        damage=6
        number=5
    [/attack]
    [attack]
        name=screwdriver
        description=_"screwdriver"
        icon="attacks/screwdriver.png"
        type=pierce
        range=melee
        damage=5
        number=6
    [/attack]
    [attack]
        name=burner
        description=_"flamethrower"
        icon="attacks/fire-blast.png"
        type=fire
        range=melee
        damage=9
        number=4
    [/attack]
    [attack]
        name=bomb
        #        description=_"area bomb"
        description=_"bomb"
        icon="attacks/bomb.png"
        type=fire
        range=ranged
        #       damage=33
        damage=20
        number=1
        #        defense_weight=0
        #        [specials]
        #            {WEAPON_SPECIAL_EOMA_AREAEFFECT}
        #            [dummy]
        #              id=attack-only
        #              name= _ "attack-only"
        #              description= _ "This attack doesn't work on defense."
        #            [/dummy]
        #        [/specials]
    [/attack]
    {MECHANIC_ATTACK_ANIM constructor saw blade {SOUND_LIST:SWORD_SWISH}}
    {MECHANIC_ATTACK_ANIM constructor wrench impact mace.wav}
    {MECHANIC_ATTACK_ANIM constructor screwdriver pierce spear.ogg}
    [attack_anim]
        [filter_attack]
            name=burner
        [/filter_attack]
        start_time=-400
        missile_start_time=-400

        [if]
            direction=n
            [missile_frame]
                halo=projectiles/fire-breath-n-[1~5].png:80
                halo_x,halo_y=0,-40
            [/missile_frame]
            [frame]
                duration=500
                image="units/runemasters-dwarves/constructor-flame-n.png"
                sound=flame-big.ogg
            [/frame]
        [/if]
        [else]
            direction=s
            [missile_frame]
                halo=projectiles/fire-breath-s-[1~5].png:80
                halo_x,halo_y=0,40
            [/missile_frame]
            [frame]
                duration=500
                image="units/runemasters-dwarves/constructor-flame-se.png"
                sound=flame-big.ogg
            [/frame]
        [/else]
        [else]
            direction=ne,nw
            [missile_frame]
                halo=projectiles/fire-breath-ne-[1~5].png:80
                halo_x,halo_y=30,-19
            [/missile_frame]
            [frame]
                duration=500
                image="units/runemasters-dwarves/constructor-flame-ne.png"
                sound=flame-big.ogg
            [/frame]
        [/else]
        [else]
            direction=se,sw
            [missile_frame]
                halo=projectiles/fire-breath-se-[1~5].png:80
                halo_x,halo_y=20,29
            [/missile_frame]
            [frame]
                duration=500
                image="units/runemasters-dwarves/constructor-flame-se.png"
                sound=flame-big.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bomb
        [/filter_attack]
        missile_start_time=-300
        [missile_frame]
            duration=300
            image="projectiles/bomb.png"
            image_diagonal="projectiles/bomb.png"
            offset=0.0~0.9
        [/missile_frame]
        [if]
            hits=yes
            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png:60"
                offset=1.0
                sound=explosion.ogg
                auto_vflip=no
            [/missile_frame]
        [/if]
        [else]
        [/else]
        start_time=-300
        [frame]
            duration=400
            sound={SOUND_LIST:THROW}
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bomb_old
        [/filter_attack]
        missile_start_time=-300
        [missile_frame]
            duration=300
            image="projectiles/bomb.png"
            image_diagonal="projectiles/bomb.png"
            offset=0.0~0.9
        [/missile_frame]
        start_time=-300
        [frame]
            duration=400
            image="units/runemasters-dwarves/constructor1.png"
        [/frame]
        missile1_start_time=0
        missile2_start_time=300
        missile3_start_time=300
        missile4_start_time=300
        missile5_start_time=300
        missile6_start_time=300
        missile7_start_time=300
        missile8_start_time=300
        missile9_start_time=300
        [if]
            hits=yes
            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png:60"
                offset=1.0
                sound=explosion.ogg
                auto_vflip=no
            [/missile_frame]
            [missile1_frame]
                halo="projectiles/fireball-impact-[1~16].png:60"
                offset=1.0
                sound=explosion.ogg
                auto_vflip=no
            [/missile1_frame]
            [missile2_frame]
                halo="misc/blank-hex.png:60"
                offset=1.0
                halo_x,halo_y=0,36
                auto_vflip=no
            [/missile2_frame]
            [missile2_frame]
                halo="projectiles/fireball-impact-[8~16].png:60"
                offset=1.0
                halo_x,halo_y=0,36
                auto_vflip=no
            [/missile2_frame]
            [missile3_frame]
                halo="misc/blank-hex.png"
                offset=1.0
                halo_x,halo_y=0,-36
                auto_vflip=no
            [/missile3_frame]
            [missile3_frame]
                halo="projectiles/fireball-impact-[8~16].png:60"
                offset=1.0
                halo_x,halo_y=0,-36
                auto_vflip=no
            [/missile3_frame]
            [missile4_frame]
                halo="misc/blank-hex.png:60"
                offset=1.0
                halo_x,halo_y=36,0
                auto_vflip=no
            [/missile4_frame]
            [missile4_frame]
                halo="projectiles/fireball-impact-[8~16].png:60"
                offset=1.0
                halo_x,halo_y=36,0
                auto_vflip=no
            [/missile4_frame]
            [missile5_frame]
                halo="misc/blank-hex.png:60"
                offset=1.0
                halo_x,halo_y=-36,0
                auto_vflip=no
            [/missile5_frame]
            [missile5_frame]
                halo="projectiles/fireball-impact-[8~16].png:60"
                offset=1.0
                halo_x,halo_y=-36,0
                auto_vflip=no
            [/missile5_frame]
            [missile6_frame]
                halo="misc/blank-hex.png:60"
                offset=1.0
                halo_x,halo_y=18,18
                auto_vflip=no
            [/missile6_frame]
            [missile6_frame]
                halo="projectiles/fireball-impact-[8~16].png:60"
                offset=1.0
                halo_x,halo_y=18,18
                auto_vflip=no
            [/missile6_frame]
            [missile7_frame]
                halo="misc/blank-hex.png:60"
                offset=1.0
                halo_x,halo_y=-18,-18
                auto_vflip=no
            [/missile7_frame]
            [missile7_frame]
                halo="projectiles/fireball-impact-[8~16].png:60"
                offset=1.0
                halo_x,halo_y=-18,-18
                auto_vflip=no
            [/missile7_frame]
            [missile8_frame]
                halo="misc/blank-hex.png:60"
                offset=1.0
                halo_x,halo_y=18,-18
                auto_vflip=no
            [/missile8_frame]
            [missile8_frame]
                halo="projectiles/fireball-impact-[8~16].png:60"
                offset=1.0
                halo_x,halo_y=18,-18
                auto_vflip=no
            [/missile8_frame]
            [missile9_frame]
                halo="misc/blank-hex.png:60"
                offset=1.0
                halo_x,halo_y=-18,18
                auto_vflip=no
            [/missile9_frame]
            [missile9_frame]
                halo="projectiles/fireball-impact-[8~16].png:60"
                offset=1.0
                halo_x,halo_y=-18,18
                auto_vflip=no
            [/missile9_frame]
        [/if]
    [/attack_anim]

    [event]
        name=post summon
        id=drone_construct_event
        first_time_only=no

        {ADVANCE_UNIT id=$unit.id ()}
    [/event]
[/unit_type]
