#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Perfect_Drone
    name= _ "Perfect Drone"		
	race=mechanical
    image="units/runemasters-machines/drone-perfect1.png"
	halo="units/runemasters-machines/drone-upgrade-furnace-halo.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=55
    movement_type=fly
    movement=7
    experience=50
    level=2
    alignment=neutral
    advances_to=null
	[advancement]
		max_times=-1
		id=eoma_dronehp
		description= _ "+5 max hp"
		image="icons/breastplate.png"
		[effect]
			 apply_to=hitpoints
			 increase_total=5
			 heal_full=yes
		[/effect]
		[effect]
            apply_to=max_experience
            increase=20%
        [/effect]
		[effect]
			 apply_to=status
			 remove=poisoned
		[/effect]
		[effect]
			 apply_to=status
			 remove=slowed
		[/effect]
	[/advancement]
    cost=63
    usage=mixed fighter
    description={NO_DESCR_AVAILABLE}
    {DEFENSE_ANIM "units/runemasters-machines/drone-perfect1.png" "units/runemasters-machines/drone-perfect3.png" silence.ogg }
	[standing_anim]
		[frame]
			image="units/runemasters-machines/drone-perfect[1,2,3].png:50"
		[/frame]
	[/standing_anim]
	[movement_anim]
		[frame]
			image="units/runemasters-machines/drone-perfect[1,2,3].png:50"
		[/frame]
	[/movement_anim]
	[movement_costs]
		cave=1
		fungus=1
	[/movement_costs]
    [resistance]
        blade=60
        pierce=60
        impact=70
        fire=50
        cold=50
        arcane=50
    [/resistance]
    [defense]
        mountains=40
        hills=50
		cave=50
		fungus=50
    [/defense]
	[attack]
        name=legs
        description=_"legs"
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=7
        number=6
    [/attack]
    [attack]
		name=legs_berserk
        description=_"legs"
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=7
		number=6
		[specials]
			{WEAPON_SPECIAL_BERSERK}
		[/specials]
    [/attack]
    [attack]
		name=runes
        description=_"damage rune"
        icon=attacks/rune.png
        type=fire
        range=ranged
        damage=8
        number=3
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]	
    [/attack]
	[attack]
		name=cannon
        description=_"cannon"
        icon=attacks/bullet.png
        type=impact
        range=ranged
        damage=25
        number=1
		[specials]
			{WEAPON_SPECIAL_EOMA_SKILLED}
		[/specials]
	[/attack]
	[attack]
		name=kamikazedroneperfect
		description=_"improved kamikaze"
		icon=attacks/explosion.png
		type=fire
		range=kamikaze
		damage=35
		number=1
		[specials]
			[dummy]
				id=eoma_kamikaze2
				name= _ "improved kamikaze"
				active_on=offense
				description= _ "This attack harms both the defender and the attacker. The attacker receives damage equal to half of its hp and may survive the suicidal charge."
			[/dummy]
			{WEAPON_SPECIAL_EOMA_ALWAYSHITS}
		[/specials]
	[/attack]
	[abilities]
		{ABILITY_EOMA_AWE_LEVEL1}
		{ABILITY_SKIRMISHER}
		{ABILITY_REGENERATES}
		{ABILITY_EOMA_HEATAURA 20}
		{ABILITY_ILLUMINATES}
		{ABILITY_EOMA_HITANDRUN 2}
	[/abilities]
	[attack_anim]
	[filter_attack]
		name=legs,legs_berserk
	[/filter_attack]
		start_time=-126
		[frame]
			duration=1
			image="units/runemasters-machines/drone-perfect1.png"
		[/frame]
		[frame]
			duration=125
			image="units/runemasters-machines/drone-perfect1.png"
			image_mod=~FL(horiz)
		[/frame]
		[if]
		hits=yes
		[frame]
			duration=125
			image="units/runemasters-machines/drone-perfect2.png"
			sound=spear.ogg
		[/frame]
		[/if]
		[else]
		[frame]
			duration=100
			image="units/runemasters-machines/drone-perfect3.png"
			sound={SOUND_LIST:MISS}
		[/frame]
		[/else]
	[/attack_anim]
	[attack_anim]
		[filter_attack]
			name=kamikazedroneperfect
		[/filter_attack]
		[frame]
			image="units/runemasters-machines/drone-perfect1.png:500"
			offset=0.0~1.0:300,0
			alpha=1~0:300,0~1:200
		[/frame]
		{EXPLOSION_SINGLE_ANIM 1.0}
	[/attack_anim]
	
	{SMALLROCKET_ANIM cannon 0 4}
	{RUNES_ANIM a (72)}
	{RUNES_ANIM b (72)}
	{RUNES_ANIM c (72)}
	{RUNES_ANIM d (72)}
	
	[event]
		name=attack_end
		id=eoma_kamikazedroneperfect_event2
		first_time_only=no
		[filter_attack]
			name=kamikazedroneperfect
		[/filter_attack]
		{VARIABLE droneperfecthp $unit.max_hitpoints}
		{VARIABLE_OP droneperfecthp divide 2}
		{VARIABLE_OP droneperfecthp round floor}
		[harm_unit]
			[filter]
				id=$unit.id
			[/filter]
			amount=$droneperfecthp
			fire_event=yes
			kill=yes
		[/harm_unit]
	[/event]
	[event]
		name=attack_end
		id=eoma_hitandrun_eventdroneperfect
		first_time_only=no
		[filter]
			x,y=$x1,$y1
			ability=eoma_hitandrundrone
		[/filter]
		{VARIABLE_OP unit.moves add 1}
		[unstore_unit]
			variable=unit
			{COLOR_HEAL}
			text="+"+1+_"movepoints"
			find_vacant=no
		[/unstore_unit]
	[/event]
[/unit_type]
