#textdomain wesnoth-Era_of_Magic
[unit_type]
#define DRONE_AMLAS
	[advancement]
		max_times=1
		id=eoma_dronestrike
		description= _ "attack module (+1 melee strike/damage)"
		image="attacks/pike.png"
		[effect]
			 apply_to=attack
			 name=legs
			 increase_attacks=1
		[/effect]
		[effect]
			 apply_to=attack
			 name=legs_berserk
			 increase_attacks=1
		[/effect]
		[effect]
			 apply_to=attack
			 name=legs
			 increase_damage=1
		[/effect]
		[effect]
			 apply_to=attack
			 name=legs_berserk
			 increase_damage=1
		[/effect]
		[effect]
            apply_to=max_experience
            increase=33%
        [/effect]
		[effect]
			 apply_to=hitpoints
			 heal_full=yes
		[/effect]
		[effect]
			 apply_to=status
			 remove=poisoned
		[/effect]
		[effect]
			 apply_to=status
			 remove=slowed
		[/effect]
	[/advancement]
	[advancement]
		max_times=1
		id=eoma_dronemoves
		description= _ "agility module (+1 mp; hit and run 2, +1 max hp)"
		image="icons/boots_elven.png"
		[effect]
			apply_to=new_ability
			[abilities]
				[dummy]
					id=eoma_hitandrundrone
					name= _ "hit and run"+" "+"+"+2
					description=_"This unit gains additional moves back after attacking, but cannot attack again."
				[/dummy]
			[/abilities]
		[/effect]
		[effect]
			 apply_to=movement
			 increase=1
		[/effect]
		[effect]
            apply_to=max_experience
            increase=33%
        [/effect]
		[effect]
			 apply_to=hitpoints
			 increase_total=1
			 heal_full=yes
		[/effect]
		[effect]
			 apply_to=status
			 remove=poisoned
		[/effect]
		[effect]
			 apply_to=status
			 remove=slowed
		[/effect]
	[/advancement]
	[advancement]
		max_times=1
		id=eoma_dronezoc
		description= _ "defense module (add zone of control and autorepair +6, +2 max hp)"
		image="attacks/wrench.png"
		[effect]
			apply_to=new_ability
			[abilities]
				{ABILITY_EOMA_REGENERATES6}
			[/abilities]
		[/effect]
		[effect]
			apply_to=zoc
			value=yes
		[/effect]
		[effect]
			 apply_to=hitpoints
			 increase_total=2
			 heal_full=yes
		[/effect]
		[effect]
            apply_to=max_experience
            increase=33%
        [/effect]
		[effect]
			 apply_to=status
			 remove=poisoned
		[/effect]
		[effect]
			 apply_to=status
			 remove=slowed
		[/effect]
	[/advancement]
	[advancement]
		max_times=-1
		id=eoma_dronehp
		description= _ "+8 max hp"
		image="icons/breastplate.png"
		[effect]
			 apply_to=hitpoints
			 increase_total=8
			 heal_full=yes
		[/effect]
		[effect]
            apply_to=max_experience
            increase=25%
        [/effect]
	[/advancement]
	[advancement]
		max_times=-1
		id=eoma_dronehp2
                require_amla="eoma_dronehp"
                description= _ "+4 max hp"
		image="icons/breastplate.png"
		[effect]
			 apply_to=hitpoints
			 increase_total=4
			 heal_full=yes
		[/effect]
		[effect]
            apply_to=max_experience
            increase=20%
        [/effect]
		[effect]
			 apply_to=status
			 remove=poisoned
		[/effect]
		[effect]
			 apply_to=status
			 remove=slowed
		[/effect]
	[/advancement]
#enddef
    id=EoMa_Drone
    name= _ "Drone"
    race=mechanical
    image="units/runemasters-machines/drone.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=25
    movement_type=armoredfoot
    movement=5
#ifdef MULTIPLAYER
    experience=12
#endif
#ifndef MULTIPLAYER
    experience=16
#endif
    level=0
    alignment=neutral
    advances_to=null
    cost=9
    usage=fighter
    description= _ "Unlike steam ulfserkers, which are designed with extreme attention to detail, to even mimic the dwarves to some extent, the drones are small, simple and modular automatons with a spider-like appearance, designed specifically for cheap mass-production. What they lack in power, they make up in accessibility, as they can be made without much difficulty even in an average technician's workshop, while steam ulfserkers require massive factories for their creation. The drones are not all about combat, as non-military models have been known to be used as pets, janitors, walking toolboxes and more. The beauty of the drone is that it can be modified and re-purposed for just about any task, be it a killing machine or something you'd want to cuddle."
    {DEFENSE_ANIM "units/runemasters-machines/drone.png" "units/runemasters-machines/drone.png" drone-hiss.wav }
	{DRONE_AMLAS}
	[movement_anim]
		[frame]
			duration=100
			image="units/runemasters-machines/drone-move1.png"
		[/frame]
		[frame]
			duration=100
			image="units/runemasters-machines/drone-move1.png"
			image_mod=~FL(horiz)
		[/frame]
	[/movement_anim]
	[movement_costs]
		hills=2
		mountains=3
		cave=1
	[/movement_costs]
    [resistance]
        blade=70
        pierce=70
        impact=80
        fire=100
        cold=90
        arcane=70
    [/resistance]
    [defense]
        mountains=40
        hills=50
    [/defense]
	[attack]
        name=legs
        description=_"legs"
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=3
        number=4
    [/attack]
	[abilities]
		{ABILITY_EOMA_UPGRADABLE}
		{ABILITY_SKIRMISHER}
	[/abilities]
	[attack_anim]
	[filter_attack]
		name=legs,legs_berserk
	[/filter_attack]
		start_time=-126
		[frame]
			duration=1
			image="units/runemasters-machines/drone.png"
		[/frame]
		[frame]
			duration=125
			image="units/runemasters-machines/drone-move1.png"
			image_mod=~FL(horiz)
		[/frame]
		[if]
		hits=yes
		[frame]
			duration=125
			image="units/runemasters-machines/drone-move1.png"
			sound=spear.ogg
		[/frame]
		[/if]
		[else]
		[frame]
			duration=100
			image="units/runemasters-machines/drone-move1.png"
			sound={SOUND_LIST:MISS}
		[/frame]
		[/else]
	[/attack_anim]
	{KAMIKAZE_ANIM kamikazedrone units/runemasters-machines/drone-move1.png}
	{SMALLROCKET_ANIM cannon 0 4}
	{RUNES_ANIM a (36)}
	{RUNES_ANIM b (36)}
	{RUNES_ANIM c (36)}
	{RUNES_ANIM d (36)}
	
	[variation]
		variation_id=dronerotor
		variation_name=_ "Flying Drone"
		hide_help=true
		do_not_list=yes
		
	race=mechanical
    image="units/runemasters-machines/drone-fly1.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=25
    movement_type=fly
    movement=6
#ifdef MULTIPLAYER
    experience=12
#endif
#ifndef MULTIPLAYER
    experience=16
#endif
    level=0
    alignment=neutral
    advances_to=null
    cost=10
    usage=fighter
    description={NO_DESCR_AVAILABLE}
    {DEFENSE_ANIM "units/runemasters-machines/drone-fly1.png" "units/runemasters-machines/drone-fly3.png" silence.ogg }
	[standing_anim]
		[frame]
			image="units/runemasters-machines/drone-fly[1,2,3].png:50"
		[/frame]
	[/standing_anim]
	[movement_anim]
		[frame]
			image="units/runemasters-machines/drone-fly[1,2,3].png:50"
		[/frame]
	[/movement_anim]
	{DRONE_AMLAS}
	[movement_costs]
		cave=1
	[/movement_costs]
    [resistance]
        blade=60
        pierce=80
        impact=100
        fire=100
        cold=90
        arcane=70
    [/resistance]
    [defense]
        mountains=40
        hills=50
    [/defense]
	[attack]
        name=legs
        description=_"legs"
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=3
        number=4
    [/attack]
	[abilities]
		{ABILITY_EOMA_UPGRADABLE}
		{ABILITY_SKIRMISHER}
	[/abilities]
	[attack_anim]
	[filter_attack]
		name=legs,legs_berserk
	[/filter_attack]
		start_time=-126
		[frame]
			duration=1
			image="units/runemasters-machines/drone-fly1.png"
		[/frame]
		[frame]
			duration=125
			image="units/runemasters-machines/drone-fly1.png"
			image_mod=~FL(horiz)
		[/frame]
		[if]
		hits=yes
		[frame]
			duration=125
			image="units/runemasters-machines/drone-fly2.png"
			sound=spear.ogg
		[/frame]
		[/if]
		[else]
		[frame]
			duration=100
			image="units/runemasters-machines/drone-fly3.png"
			sound={SOUND_LIST:MISS}
		[/frame]
		[/else]
	[/attack_anim]
	{KAMIKAZE_ANIM kamikazedrone units/runemasters-machines/drone-fly1.png}
	{SMALLROCKET_ANIM cannon 0 4}
	{RUNES_ANIM a (36)}
	{RUNES_ANIM b (36)}
	{RUNES_ANIM c (36)}
	{RUNES_ANIM d (36)}
	[/variation]
	
	[event]
		name=recruit
		id=eoma_drone_recruitevent
		first_time_only=no		
		[filter]
			type=EoMa_Drone
		[/filter]
		
		{VARIABLE unit.variables.dronepoints 0}
		[unstore_unit]
			variable=unit
			find_vacant=no
		[/unstore_unit]
	[/event]
	
	[event]
		name=post advance
		id=eoma_drone_advanceevent
		first_time_only=no
		[filter]
			type=EoMa_Drone
		[/filter]
		
		{VARIABLE_OP unit.variables.dronepoints add 1}
		[unstore_unit]
			variable=unit
			find_vacant=no
		[/unstore_unit]

		[if]
		{VARIABLE_CONDITIONAL unit.variables.dronepoints greater_than 12}
		[then]
			[kill]
				id=$unit.id
				animate=no
			[/kill]
			{UNIT $unit.side EoMa_Perfect_Drone $x1 $y1 ()}
		[/then]
		[/if]
	[/event]
		
	[event]
		name=attack
		id=eoma_drone_event1
		first_time_only=no
		[filter_attack]
			name=kamikazedrone
		[/filter_attack]
		[modify_unit]
			[filter]
				x,y=$x1,$y1
			[/filter]
			[object]
				silent=yes
				[effect]
					 apply_to=image_mod
					 replace="~BLIT(misc/blank-hex.png)"
				[/effect]
				[filter]
					x,y=$x1,$y1
				[/filter]
			[/object]
		[/modify_unit]
	[/event]
	[event]
		name=attack_end
		id=eoma_drone_event2
		first_time_only=no
		[filter_attack]
			name=kamikazedrone
		[/filter_attack]
		[kill]
			x,y=$x1,$y1
			animate=no
		[/kill]
	[/event]
	[event]
		name=attack_end
		id=eoma_hitandrun_eventdrone
		first_time_only=no
		[filter]
			x,y=$x1,$y1
			ability=eoma_hitandrundrone
		[/filter]
		{VARIABLE_OP unit.moves add 2}
		[unstore_unit]
			variable=unit
			{COLOR_HEAL}
			text="+"+2+_"movepoints"
			find_vacant=no
		[/unstore_unit]
	[/event]
[/unit_type]
