#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Dwarvish_Heavy_Warrior
    name= _ "Dwarvish Veteran"
    race=dwarf
    image="units/runemasters-dwarves/heavywarrior.png"

    hitpoints=55
    movement_type=dwarvishfoot
    movement=4
    experience=83
    level=2
    alignment=neutral
    advances_to=EoMa_Dwarvish_Rune_Warrior
    cost=31
    usage=fighter
    undead_variation=dwarrior
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/runemasters-dwarves/heavywarrior-ne.png" "units/runemasters-dwarves/heavywarrior-ne.png" {SOUND_LIST:DWARF_HIT}}
    [defense]
        mountains=40
		frozen=60
    [/defense]
	[movement_costs]
		frozen=1
		sand=2
	[/movement_costs]
    [resistance]
        arcane=90
    [/resistance]
    [abilities]
        {ABILITY_EOMA_UPGRADEDRONE_MODULE blades _"blades"}
    [/abilities]
    [attack]
        name=sword
        description={STR_SWORD}
        icon="attacks/sword-orcish.png"
        type=blade
        range=melee
        damage=10
        number=3
    [/attack]
    [attack]
        name=thunderstick
        description=_"gun"
        type=pierce
        range=ranged
        damage=15
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/runemasters-dwarves/heavywarrior.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/runemasters-dwarves/heavywarrior-attack1.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/runemasters-dwarves/heavywarrior-attack1.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/runemasters-dwarves/heavywarrior-attack2.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=thunderstick
        [/filter_attack]
        direction=s
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/bullet.png"
            image_diagonal="projectiles/bullet.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/heavywarrior-s.png"
                sound=thunderstick.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/heavywarrior-s.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=thunderstick
        [/filter_attack]
        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 0 0}
            direction=s
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/heavywarrior-s.png"
                sound=thunderstick.ogg
            [/frame]
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=s
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/heavywarrior-s.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH 0 20}
            direction=ne,nw
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/heavywarrior-ne.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=ne,nw
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/heavywarrior-ne.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 0 20}
            direction=n
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/heavywarrior-n.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=n
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/heavywarrior-n.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH 0 0}
            direction=se,sw
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/heavywarrior-se.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=se,sw
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/heavywarrior-se.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
