#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Dwarvish_Tank
    name= _ "Dwarvish Tank"
    race=mechanical
    image="units/runemasters-machines/tank2.png"

    hitpoints=63
    movement_type=armoredfoot
    movement=5
    experience=115
    level=2
    alignment=neutral
    advances_to=EoMa_Pacificator
    cost=46
    usage=fighter
    description=_"Dwarvish Tanks are the heavier variety of the striding machines, equipped with cannons capable of easily shattering most kinds of fortifications or cover. They are used both as mobile siege engines, and to deal with small squads of infantry."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM_DIRECTIONAL "units/runemasters-machines/tank2.png" "units/runemasters-machines/tank2.png" "units/runemasters-machines/tank-ne2.png" "units/runemasters-machines/tank-ne2.png" {SOUND_LIST:DWARF_HIT} }
    {DEFENSE_ANIM_FILTERED "units/runemasters-machines/tank-s2.png" "units/runemasters-machines/tank-s2.png" {SOUND_LIST:DWARF_HIT} direction=s}
    {DEFENSE_ANIM_FILTERED "units/runemasters-machines/tank-n2.png" "units/runemasters-machines/tank-n2.png" {SOUND_LIST:DWARF_HIT} direction=n}
    {DWARFMACHINE_DIE_ANIM tank2}
    {DWARFMACHINE_STANDMOVE_ANIM tank}
    [resistance]
        blade=60
        pierce=80
        impact=110
        fire=115
        cold=90
        arcane=80
    [/resistance]
    [movement_costs]
        hills=2
        mountains=3
    [/movement_costs]
    [defense]
        mountains=60
        hills=50
    [/defense]
    [abilities]
        {ABILITY_EOMA_UPGRADEDRONE_MODULE cannon _"cannon"}
    [/abilities]
    [attack]
        name=trample
        description=_"trample"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=12
        number=2
    [/attack]
    [attack]
        name=cannons
        description=_"cannons"
        icon=attacks/cannon.png
        type=fire
        range=ranged
        damage=15
        number=2
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=cannons2
        description=_"machine gun"
        icon=attacks/mg.png
        type=pierce
        range=ranged
        damage=6
        number=5
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    {DWARFMACHINE_MELEE_ANIM tank trample se,sw ()}
    {DWARFMACHINE_MELEE_ANIM tank trample ne,nw -ne}
    {DWARFMACHINE_MELEE_ANIM tank trample s -s}
    {DWARFMACHINE_MELEE_ANIM tank trample n -n}
    {TANK_CANNON_ANIM tank cannons se,sw}
    {TANK_CANNON_ANIM tank-ne cannons ne,nw}
    {TANK_CANNON_ANIM tank-n cannons n}
    {TANK_CANNON_ANIM tank-s cannons s}
    {TANK_CANNONFAST_ANIM tank cannons2 se,sw -10 -6 10 16}
    {TANK_CANNONFAST_ANIM tank-ne cannons2 ne,nw 22 0 18 -16}
    {TANK_CANNONFAST_ANIM tank-n cannons2 n 20 8 -25 10}
    {TANK_CANNONFAST_ANIM tank-s cannons2 s -20 -2 20 -2}
[/unit_type]
