#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Dwarvish_Commando
    name= _ "Dwarvish Commando"
    race=dwarf
    image="units/runemasters-dwarves/soldier.png"
    ellipse="misc/ellipse"

    hitpoints=67
    movement_type=dwarvishfoot
    movement=5
    experience=126
    level=3
    alignment=neutral
    advances_to=null
    {EOMA_AMLA_DEFAULT_CONDITIONAL 1 veteran_then_default trait=eoma_veteran}
    cost=60#54
    usage=fighter
    undead_variation=dwarrior
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/runemasters-dwarves/soldier.png" "units/runemasters-dwarves/soldier.png" {SOUND_LIST:DWARF_HIT}}
    [defense]
        mountains=30
        forest=50
        swamp_water=60
        fungus=50
        frozen=60
    [/defense]
    [movement_costs]
        swamp_water=2
        shallow_water=2
        frozen=1
        sand=2
    [/movement_costs]
    [resistance]
        blade=80
        pierce=80
        impact=80
        fire=70
        cold=90
        arcane=90
    [/resistance]
    [abilities]
        {ABILITY_CONCEALMENT}
        {ABILITY_EOMA_UPGRADEDRONE_MODULE blades _"blades"}
    [/abilities]
    [attack]
        name=sword
        description={STR_SWORD}
        icon="attacks/sword-human.png"
        type=blade
        range=melee
        damage=10
        number=4
    [/attack]
    [attack]
        name=thunderstick
        description=_"gun"
        type=pierce
        range=ranged
        damage=21
        number=1
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_EOMA_HITANDRUN 1}
        [/specials]
    [/attack]
    [attack]
        name=bomb
        description=_"bomb"
        icon="attacks/bomb.png"
        type=fire
        range=ranged
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_EOMA_ATTACK_ONLY}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/runemasters-dwarves/soldier.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                ## image="units/runemasters-dwarves/soldier-attack1.png"
                image="units/runemasters-dwarves/soldier.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                ## image="units/runemasters-dwarves/soldier-attack1.png"
                image="units/runemasters-dwarves/soldier.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/runemasters-dwarves/soldier.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=thunderstick
        [/filter_attack]
        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_SCALE_HIT_SOUTH 0 0 50 75}
            direction=s
            hits=yes
            [frame]
                begin=-400
                end=0
                ## image="units/runemasters-dwarves/soldier-s.png"
                image="units/runemasters-dwarves/soldier.png"
                sound=thunderstick.ogg
            [/frame]
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=s
            hits=no
            [frame]
                begin=-400
                end=0
                ## image="units/runemasters-dwarves/soldier-s.png"
                image="units/runemasters-dwarves/soldier.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_SCALE_HIT_DIAG_NORTH 0 20 50 75}
            direction=ne,nw
            hits=yes
            [frame]
                begin=-400
                end=0
                ## image="units/runemasters-dwarves/soldier-ne.png"
                image="units/runemasters-dwarves/soldier.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=ne,nw
            hits=no
            [frame]
                begin=-400
                end=0
                ## image="units/runemasters-dwarves/soldier-ne.png"
                image="units/runemasters-dwarves/soldier.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_SCALE_HIT_NORTH 0 20 50 75}
            direction=n
            hits=yes
            [frame]
                begin=-400
                end=0
                ## image="units/runemasters-dwarves/soldier-n.png"
                image="units/runemasters-dwarves/soldier.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=n
            hits=no
            [frame]
                begin=-400
                end=0
                ## image="units/runemasters-dwarves/soldier-n.png"
                image="units/runemasters-dwarves/soldier.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_SCALE_HIT_DIAG_SOUTH 0 0 50 75}
            direction=se,sw
            hits=yes
            [frame]
                begin=-400
                end=0
                ## image="units/runemasters-dwarves/soldier-se.png"
                image="units/runemasters-dwarves/soldier.png"
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=se,sw
            hits=no
            [frame]
                begin=-400
                end=0
                ## image="units/runemasters-dwarves/soldier-se.png"
                image="units/runemasters-dwarves/soldier.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bomb
        [/filter_attack]
        missile_start_time=-300
        [missile_frame]
            duration=300
            image="projectiles/bomb.png"
            image_diagonal="projectiles/bomb.png"
            offset=0.0~0.9
        [/missile_frame]
        [if]
            hits=yes
            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png:60"
                offset=1.0
                sound=explosion.ogg
                auto_vflip=no
            [/missile_frame]
        [/if]
        [else]
        [/else]
        start_time=-300
        [frame]
            duration=400
            image="units/runemasters-dwarves/soldier.png"
            sound={SOUND_LIST:THROW}
        [/frame]
    [/attack_anim]
[/unit_type]
