#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Flying_Fortress
    name= _ "Flying Fortress"
    race=mechanical
    image="units/runemasters-machines/fortress1.png"
    image_icon="units/runemasters-machines/fortress-icon.png"
    hitpoints=82
    movement_type=fly
    movement=7
    experience=150
    level=3
    {MAGENTA_IS_THE_TEAM_COLOR}
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=56
    usage=scout
    description= _ "Flying Fortresses symbolize the height of dwarfish ingenuity. Looked upon as an airborne tank, a Flying Fortress employs a trio of immense rotor blades to support their flight, with the giant balloon retreating into a secondary support. As well as enabling the crew to equip themselves with larger and more powerful weapons, it has also nullified the great weaknesses previous models had against fire.

These intimidating monsters are capable of dominating the skies, unleashing their wrath upon those unfortunate enough to cross their path. If the twin powered heavy cannon fire does not spell their doom, then the chattering of the machine guns and the pounding of explosives will. Over the centuries, they have accrued a fearsome reputation, and are rightly feared by all but the strongest foe."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    get_hit_sound={SOUND_LIST:DWARF_HIT}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/runemasters-machines/fortress2.png" "units/runemasters-machines/fortress3.png" silence.ogg }
	{LEVITATE3_ANIM units/runemasters-machines/fortress 100}
    [abilities]
        {ABILITY_EOMA_PARACHUTE}
        {ABILITY_EOMA_HARDLANDING 17 impact}
    [/abilities]
    [resistance]
        blade=80
        pierce=110
        impact=80
        fire=100
        cold=100
        arcane=90
    [/resistance]
    [movement_costs]
        cave=3
        fungus=3
    [/movement_costs]
	[defense]
        mountains=40
        cave=50
        fungus=50
    [/defense]	
    [attack]
        name=bombs
        description= _ "bombs"
        icon=attacks/bomb.png
        type=fire
        range=ranged
        damage=13
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=mg
        description= _ "machine gun"
        icon=attacks/mg.png
        type=pierce
        range=ranged
        damage=10
        number=4
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=cannon
        description= _ "cannon"
        icon=attacks/cannon.png
        type=impact
        range=ranged
        damage=20
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=mg
        description= _ "machine gun"
        icon=attacks/mg.png
        type=pierce
        range=melee
        damage=16
        number=1
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_EOMA_SKILLED}
            [dummy]
              id=defend-only
              name= _ "defend-only"
              description= _ "This attack doesn't work on offense."
            [/dummy]
        [/specials]
        attack_weight=0.0
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bombs
        [/filter_attack]
		missile_start_time=-300
		[missile_frame]
			duration=300
			image="projectiles/bomb.png"
			image_diagonal="projectiles/bomb.png"
			offset=0.0~0.9
		[/missile_frame]
		[if]
		hits=yes
		[missile_frame]
			halo="projectiles/fireball-impact-[1~16].png:60"
			offset=1.0
			sound=explosion.ogg
			auto_vflip=no
		[/missile_frame]
		[/if]
		
		[if]
		hits=yes
        [frame]
            image="units/runemasters-machines/fortress[3,2,1,2].png:250"
        [/frame]
		[/if]
    [/attack_anim]
    {BALOON_MACHINEGUN_ANIM fortress se,sw se}    
	{BALOON_MACHINEGUN_ANIM fortress s s}    
	{BALOON_MACHINEGUN_ANIM fortress ne,nw ne}    
	{BALOON_MACHINEGUN_ANIM fortress n n}
#define EXPLOSION_CANNON_FORTRESS
[explosion_frame]
	halo="projectiles/fireball-impact-[1~16].png:60"
	offset=1.0
	sound=explosion.ogg
	auto_vflip=no
[/explosion_frame]
#enddef
	[attack_anim]
        [filter_attack]
            name=cannon
        [/filter_attack]
        [if]
		 {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 0 0}
		 direction=s
		 hits=yes
		 [frame]
			 begin=-400
			 end=0
			 image="units/runemasters-machines/fortress1.png"
			 sound=dragonstick.ogg
		 [/frame]
#		 {EXPLOSION_CANNON_FORTRESS}
	 [/if]
	 [else]
		 {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
		 direction=s
		 hits=no
		 [frame]
			 begin=-400
			 end=0
			 image="units/runemasters-machines/fortress1.png"
			 sound=thunderstick-miss.ogg
		 [/frame]
	 [/else]
	 [else]
		 {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH 0 20}
		 direction=ne,nw
		 hits=yes
		 [frame]
			 begin=-400
			 end=0
			 image="units/runemasters-machines/fortress1.png"
			 sound=dragonstick.ogg
		 [/frame]
#		 {EXPLOSION_CANNON_FORTRESS}
	 [/else]
	 [else]
		 {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
		 direction=ne,nw
		 hits=no
		 [frame]
			 begin=-400
			 end=0
			 image="units/runemasters-machines/fortress1.png"
			 sound=thunderstick-miss.ogg
		 [/frame]
	 [/else]
	 [else]
		 {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 0 20}
		 direction=n
		 hits=yes
		 [frame]
			 begin=-400
			 end=0
			 image="units/runemasters-machines/fortress1.png"
			 sound=dragonstick.ogg
		 [/frame]
#		 {EXPLOSION_CANNON_FORTRESS}
	 [/else]
	 [else]
		 {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
		 direction=n
		 hits=no
		 [frame]
			 begin=-400
			 end=0
			 image="units/runemasters-machines/fortress1.png"
			 sound=thunderstick-miss.ogg
		 [/frame]
	 [/else]
	 [else]
		 {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH 0 0}
		 direction=se,sw
		 hits=yes
		 [frame]
			 begin=-400
			 end=0
			 image="units/runemasters-machines/fortress1.png"
			 sound=dragonstick.ogg
		 [/frame]
#		 {EXPLOSION_CANNON_FORTRESS}
	 [/else]
	 [else]
		 {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
		 direction=se,sw
		 hits=no
		 [frame]
			 begin=-400
			 end=0
			 image="units/runemasters-machines/fortress1.png"
			 sound=thunderstick-miss.ogg
		 [/frame]
	 [/else]
	 [/attack_anim]

    [death]
	[missile2_frame]
		image="scenery/flames[01~15].png~SCALE(125,125):60"
		offset=0.0
                y=10
                auto_vflip=no
        [/missile2_frame]
	[missile2_frame]
		image="misc/blank-hex.png:1"
		offset=0.0
		auto_vflip=no
        [/missile2_frame]
	[missile3_frame]
		image="scenery/flames[01~15].png:60"
		offset=0.0
                y=-35
                auto_vflip=no
        [/missile3_frame]
	[missile3_frame]
		image="misc/blank-hex.png:1"
		offset=0.0
		auto_vflip=no
        [/missile3_frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress1.png"
            halo=projectiles/fireball-impact-1.png
            halo_x,halo_y=-15,-10
            sound=explosion.ogg
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress1.png"
            halo=projectiles/fireball-impact-2.png
            halo_x,halo_y=-15,-10
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress1.png"
            halo=projectiles/fireball-impact-3.png
            halo_x,halo_y=-15,-10
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress1.png"
            halo=projectiles/fireball-impact-4.png
            halo_x,halo_y=-15,-10
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress1.png"
            halo=projectiles/fireball-impact-5.png
            halo_x,halo_y=-15,-10
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress2.png"
            halo=projectiles/fireball-impact-3.png
            halo_x,halo_y=15,10
            sound=explosion.ogg
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress2.png"
            halo=projectiles/fireball-impact-4.png
            halo_x,halo_y=15,10
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress2.png"
            halo=projectiles/fireball-impact-5.png
            halo_x,halo_y=15,10
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress2.png"
            halo=projectiles/fireball-impact-6.png
            halo_x,halo_y=15,10
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress2.png"
            halo=projectiles/fireball-impact-7.png
            halo_x,halo_y=15,10
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress3.png"
            halo=projectiles/fireball-impact-5.png
            halo_x,halo_y=0,0
            sound=explosion.ogg
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress3.png"
            halo=projectiles/fireball-impact-6.png
            halo_x,halo_y=0,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress3.png"
            halo=projectiles/fireball-impact-7.png
            halo_x,halo_y=0,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress3.png"
            halo=projectiles/fireball-impact-8.png
            halo_x,halo_y=0,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress3.png"
            halo=projectiles/fireball-impact-9.png
            halo_x,halo_y=0,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress1.png"
            halo=projectiles/fireball-impact-3.png
            halo_x,halo_y=10,0
            sound=explosion.ogg
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress1.png"
            halo=projectiles/fireball-impact-4.png
            halo_x,halo_y=10,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress1.png"
            halo=projectiles/fireball-impact-5.png
            halo_x,halo_y=10,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress1.png"
            halo=projectiles/fireball-impact-6.png
            halo_x,halo_y=10,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress1.png"
            halo=projectiles/fireball-impact-7.png
            halo_x,halo_y=10,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress2.png"
            halo=projectiles/fireball-impact-8.png
            halo_x,halo_y=10,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress2.png"
            halo=projectiles/fireball-impact-9.png
            halo_x,halo_y=10,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress2.png"
            halo=projectiles/fireball-impact-10.png
            halo_x,halo_y=10,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress2.png"
            halo=projectiles/fireball-impact-11.png
            halo_x,halo_y=10,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress2.png"
            halo=projectiles/fireball-impact-12.png
            halo_x,halo_y=10,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress3.png"
            halo=projectiles/fireball-impact-13.png
            halo_x,halo_y=10,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress3.png"
            halo=projectiles/fireball-impact-14.png
            halo_x,halo_y=10,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress3.png"
            halo=projectiles/fireball-impact-15.png
            halo_x,halo_y=10,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress3.png"
            halo=projectiles/fireball-impact-16.png
            halo_x,halo_y=10,0
        [/frame]
        [frame]
            duration=40
            image="units/runemasters-machines/fortress3.png"
        [/frame]
    [/death]
    [event]
        name=attacker_hits
        first_time_only=no
		id=eoma_quake_event_flyingfortress
        [filter]
            type=EoMa_Flying_Fortress
        [/filter]
        [filter_attack]
            name=cannon
        [/filter_attack]
        {QUAKE silence.ogg}
    [/event]
[/unit_type]
