#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Mechanic
    name= _ "Mechanic"
    race=dwarf
    image="units/runemasters-dwarves/mechanic.png"
    profile="portraits/runemasters/mechanic.png"
    small_profile="portraits/runemasters/mechanic.png~SCALE(205,205)"
    ellipse="misc/ellipse"

    hitpoints=35
    movement_type=dwarvishfoot
    movement=5
    experience=50
    level=1
    alignment=neutral
    advances_to=EoMa_Technician,EoMa_Technologist
    cost=14
    usage=fighter
    undead_variation=mechanic
    description= _ "These dwarves are recruited for their uncanny knack for engineering. If their robotic creations are at the head of an offense, then the mechanics form the backbone, repairing oil leaks, replacing broken fuel tanks, and keeping the front line running in clockwork fashion. Even if beset by opposition they hold their own, employing their vast arsenal of tools to hold enemies at bay until their better armored brethren come to their rescue."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/runemasters-dwarves/mechanic-defend.png" "units/runemasters-dwarves/mechanic-defend.png" {SOUND_LIST:DWARF_HIT}}
    [standing_anim]
        [frame]
            image="units/runemasters-dwarves/mechanic/00[01~32].png:42"
        [/frame]
    [/standing_anim]
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=100
        impact=70
    [/resistance]
    [abilities]
        {ABILITY_EOMA_REPAIR 6}
    [/abilities]

    [healing_anim]
        start_time=-100
        [frame]
            image="units/runemasters-dwarves/mechanic.png:100"
            offset=0~0.5
        [/frame]
        [frame]
            image="units/runemasters-dwarves/mechanic-[impact,pierce,impact,pierce].png:100"
            offset=0.5
        [/frame]
        [frame]
            image="units/runemasters-dwarves/mechanic.png:100"
            offset=0.5~0
        [/frame]
    [/healing_anim]

    [attack]
        name=saw
        description=_"saw"
        icon="attacks/saw.png"
        type=blade
        range=melee
        damage=5
        number=3
    [/attack]
    [attack]
        name=wrench
        description=_"wrench"
        icon="attacks/wrench.png"
        type=impact
        range=melee
        damage=4
        number=3
    [/attack]
    [attack]
        name=screwdriver
        description=_"screwdriver"
        icon="attacks/screwdriver.png"
        type=pierce
        range=melee
        damage=3
        number=4
    [/attack]
    {MECHANIC_ATTACK_ANIM mechanic saw blade {SOUND_LIST:SWORD_SWISH}}
    {MECHANIC_ATTACK_ANIM mechanic wrench impact mace.wav}
    {MECHANIC_ATTACK_ANIM mechanic screwdriver pierce spear.ogg}
[/unit_type]
