#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Pacificator
    name= _ "Pacificator"
    race=mechanical
    image="units/runemasters-machines/pacificator2.png"
    
    hitpoints=88
    movement_type=armoredfoot
    movement=6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=62
    usage=fighter
    description={NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_MARKSMAN}+{SPECIAL_NOTES_CHARGE}
    die_sound={SOUND_LIST:DWARF_DIE}
	{DEFENSE_ANIM_DIRECTIONAL "units/runemasters-machines/pacificator2.png" "units/runemasters-machines/pacificator2.png" "units/runemasters-machines/pacificator-ne2.png" "units/runemasters-machines/pacificator-ne2.png" {SOUND_LIST:DWARF_HIT} }
    {DEFENSE_ANIM_FILTERED "units/runemasters-machines/pacificator-s2.png" "units/runemasters-machines/pacificator-s2.png" {SOUND_LIST:DWARF_HIT} direction=s}
    {DEFENSE_ANIM_FILTERED "units/runemasters-machines/pacificator-n2.png" "units/runemasters-machines/pacificator-n2.png" {SOUND_LIST:DWARF_HIT} direction=n}
	{DWARFMACHINE_DIE_ANIM pacificator}
    {DWARFMACHINE_STANDMOVE_ANIM pacificator}
    [resistance]
        blade=60
        pierce=70
        impact=100
        fire=80
        cold=70
        arcane=60
    [/resistance]
	[movement_costs]
		hills=2
		mountains=3
	[/movement_costs]
    [defense]
        mountains=60
        hills=50
    [/defense]
    [attack]
        name=trample
        description=_"trample"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]
    [attack]
        name=cannons
        description=_"cannons"
        icon=attacks/cannon.png
        type=fire
        range=ranged
        damage=21
        number=2
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
    [/attack]
    [attack]
        name=cannons2
        description=_"machine gun"
        icon=attacks/mg.png
        type=pierce
        range=ranged
        damage=7
        number=6
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
    [/attack]
    
        {DWARFMACHINE_MELEE_ANIM pacificator trample se,sw ()}
        {DWARFMACHINE_MELEE_ANIM pacificator trample ne,nw -ne}
        {DWARFMACHINE_MELEE_ANIM pacificator trample s -s}
        {DWARFMACHINE_MELEE_ANIM pacificator trample n -n}
	{TANK_CANNON_ANIM pacificator cannons se,sw}
	{TANK_CANNON_ANIM pacificator-ne cannons ne,nw}
	{TANK_CANNON_ANIM pacificator-n cannons n}
	{TANK_CANNON_ANIM pacificator-s cannons s}
	{TANK_CANNONFAST_ANIM pacificator cannons2 se,sw -10 -6 10 16}
	{TANK_CANNONFAST_ANIM pacificator-ne cannons2 ne,nw 22 0 18 -16}
	{TANK_CANNONFAST_ANIM pacificator-n cannons2 n 20 8 -25 10}
	{TANK_CANNONFAST_ANIM pacificator-s cannons2 s -20 -2 20 -2}
[/unit_type]
