#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Red_Ulfserker
    name= _ "Red Steam Ulfserker"
    race=mechanical
    image="units/runemasters-robots/redulfserker1.png"

    hitpoints=45
    movement_type=armoredfoot
    movement=6
    experience=100
    level=2
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=36
    usage=fighter
    description= _ "These beings are born from a ancient tradition, when dwarves become attached to their creations, and instead of reducing robotic corpses to scrap, they are often rebuilt as stronger, faster and sturdier fighters.

The rust that forms their coat of paint is misleading, for they outstrip their younger cousins in every aspect. The additional heavy armor plating that is affixed upon them serves as a shield of sorts, and such is their inward vigour and strength, that they can turn back damage accrued through the tides of time through careful conservation of energy."
    {DEFENSE_ANIM "units/runemasters-robots/redulfserker2.png" "units/runemasters-robots/redulfserker1.png" silence.ogg }
    {STANDING3_ANIM (units/runemasters-robots/redulfserker) 100}
    {DEATH_STEAMROBOT_ANIM}
    [resistance]
        blade=60
        pierce=45
        impact=60
        fire=80
        cold=80
    [/resistance]
    [movement_costs]
        cave=1
        hills=2
        mountains=3
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=80
        swamp_water=80
        flat=70
        sand=70
        forest=70
        hills=60
        mountains=60
        village=70
        castle=60
        cave=70
        frozen=70
        unwalkable=70
        impassable=70
        fungus=70
    [/defense]
    [abilities]
        {ABILITY_EOMA_REGENERATE 6}
        {ABILITY_SKIRMISHER}
		{ABILITY_EOMA_UPGRADEDRONE_MODULE kamikaze _"kamikaze module"}
		{ABILITY_EOMA_UPGRADEDRONE_MODULE berserker _"berserker ai"}
    [/abilities]
    [attack]
        name=berserker frenzy
        description={STR_BERSERKER_FRENZY}
        icon=attacks/steam-frenzy.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_BERSERK}
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
        range=melee
        damage=5
        number=4
    [/attack]

    {REDULFSERKER_ATTACK s s}
    {REDULFSERKER_ATTACK n n}
    {REDULFSERKER_ATTACK se,sw se}
    {REDULFSERKER_ATTACK ne,nw ne}

    {REDULFSERKER_MOVEMENT s s}
    {REDULFSERKER_MOVEMENT n n}
    {REDULFSERKER_MOVEMENT se,sw se}
    {REDULFSERKER_MOVEMENT ne,nw ne}
[/unit_type]
