#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Runeadept
    name= _ "Rune Adept"
    race=dwarf
    image=units/runemasters-dwarves/adept.png
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=35
    movement_type=dwarvishfoot
    movement=4
    level=1
    alignment=neutral
    cost=19
    usage=mixed fighter
    experience=47
    advances_to=EoMa_Runesmith
    undead_variation=dadept
    description= _ "These short but stout dwarfsmen are known as Runeadepts, forgers of fire in ancient tongue. When grouped in numbers, they are a fearsome sight to behold, and are armed with huge hammers that shatter through the enemy front lines. Though the very sight of them is intimidating enough, it is even more fearsome for the dwarven foe to see the unrelenting accuracy of their attacks, for these items of weaponry are imbued with potent forces of magic that rip through any trick aimed at hazing assault."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/runemasters-dwarves/adept-attack1.png" "units/runemasters-dwarves/adept.png" {SOUND_LIST:DWARF_HIT} }
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=90
        fire=90
        cold=90
    [/resistance]
    [attack]
        name=hammer
        description={STR_HAMMER}
        type=impact
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
        range=melee
        damage=9
        number=1
        icon="attacks/runic-hammer.png"
    [/attack]
    [attack]
        name=runes
        description= _ "fire runes"
        type=fire
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=6
        number=3
        icon="attacks/rune.png"
    [/attack]
    [attack]
        name=ice runes
        description= _ "ice runes"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=7
        number=2
        icon="attacks/rune-ice.png"
#        icon=attacks/blank-attack.png~BLIT(attacks/rune.png~CROP(5,5,49,49)~GS()~CS(-128,-32,50),5,5)
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image=units/runemasters-dwarves/adept-attack1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=0
                image=units/runemasters-dwarves/adept-attack2.png
                sound=mace.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=0
                image=units/runemasters-dwarves/adept-attack2.png
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=0
            end=100
            image=units/runemasters-dwarves/adept-attack1.png
        [/frame]
    [/attack_anim]
#used to be 36
        {RUNES_ANIM a (38)}
	{RUNES_ANIM b (38)}
	{RUNES_ANIM c (38)}
	{RUNES_ANIM d (38)}
[/unit_type]
