#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Runemaster_Protected
    name= _ "Runemaster"
    hide_help=true
    do_not_list=yes
    race=dwarf
    image=units/runemasters-dwarves/runemaster-thunder-3d.png
    hitpoints=70
    movement_type=dwarvishfoot
    movement=0
    level=4
    alignment=neutral
    cost=100
    usage=mixed fighter
    experience=200
    advances_to=null

    {AMLA_DEFAULT}
    undead_variation=dadept
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:DWARF_DIE}
    [abilities]
        {ABILITY_EOMA_RUNEAURAACTIVE}
    [/abilities]
    [movement_costs]
        deep_water={UNREACHABLE}
        shallow_water={UNREACHABLE}
        swamp_water={UNREACHABLE}
        flat={UNREACHABLE}
        sand={UNREACHABLE}
        forest={UNREACHABLE}
        hills={UNREACHABLE}
        mountains={UNREACHABLE}
        village={UNREACHABLE}
        castle={UNREACHABLE}
        cave={UNREACHABLE}
        unwalkable={UNREACHABLE}
        impassable={UNREACHABLE}
        frozen={UNREACHABLE}
        fungus={UNREACHABLE}
    [/movement_costs]
    [resistance]
        blade=50
        pierce=50
        impact=50
        fire=45
        cold=45
        arcane=45
    [/resistance]
    [attack]
        name=lightning
        description=_"runic lightning"
        icon=attacks/lightning.png
        type=secret
        range=melee
        [specials]
            {WEAPON_SPECIAL_EOMA_ANTISHIELD}
            {WEAPON_SPECIAL_MAGICAL}
            [dummy]
                id=defend-only
                name= _ "defend-only"
                description= _ "This attack doesn't work on offense."
            [/dummy]
        [/specials]
        damage=18
        number=1
        attack_weight=0.0
    [/attack]
    [standing_anim]
        [missile_frame]
            image="halo/runemaster2-thunderdome1.png:300"
            alpha=0.4~1.0:100,1.0~0.8:100,0.8~0.0:100
            auto_vflip=no
            layer=99
        [/missile_frame]
        [missile_frame]
            image="halo/runemaster2-thunderdome2.png:300"
            alpha=0.4~1.0:100,1.0~0.8:100,0.8~0.0:100
            auto_vflip=no
            layer=99
        [/missile_frame]
        [missile_frame]
            image="halo/runemaster2-thunderdome3.png:300"
            alpha=0.4~1.0:100,1.0~0.8:100,0.8~0.0:100
            auto_vflip=no
            layer=99
        [/missile_frame]
        [frame]
            image="units/runemasters-dwarves/runemaster-thunder-3d.png:900"
            layer=40
            auto_vflip=no
        [/frame]
        [rune_frame]
            image="halo/runemaster2-runes.png:900"
            alpha=0.8~1.0:300,1:300,1.0~0.8:300
            layer=50
            auto_vflip=no
            auto_hflip=no
        [/rune_frame]
    [/standing_anim]
    [defense]
        missile_start_time=-120
        start_time=-120
        [missile_frame]
            image="halo/runemaster2-thunderdome1.png:250"
            alpha=0.4~1.0:75,1.0~0.8:100,0.8~0.0:75
            auto_vflip=no
            layer=99
        [/missile_frame]
        [frame]
            image="units/runemasters-dwarves/runemaster-thunder-3d.png:200"
            layer=40
            auto_vflip=no
        [/frame]
        [rune_frame]
            image="halo/runemaster2-runes.png:200"
            layer=50
            auto_vflip=no
            auto_hflip=no
        [/rune_frame]
    [/defense]
    [death]
        [missile_frame]
            image="halo/runemaster2-thunderdome1.png:300"
            alpha=0.4~1.0:100,1.0~0.8:100,0.8~0.0:100
            auto_vflip=no
            layer=99
        [/missile_frame]
        [missile_frame]
            image="halo/runemaster2-thunderdome2.png:300"
            alpha=0.2~0.8:100,0.8~0.6:100,0.6~0.0:100
            auto_vflip=no
            layer=99
        [/missile_frame]
        [missile_frame]
            image="halo/runemaster2-thunderdome3.png:300"
            alpha=0.0~0.6:100,0.6~0.4:100,0.4~0.0:100
            auto_vflip=no
            layer=99
        [/missile_frame]
        [frame]
            image="units/runemasters-dwarves/runemaster-thunder-3d.png:900"
            layer=40
            alpha=1:500,1~0:400,0
            auto_vflip=no
        [/frame]
        [frame]
            image=misc/blank-hex.png:1
            layer=40
            auto_vflip=no
        [/frame]
        [rune_frame]
            image="halo/runemaster2-runes.png:900"
            layer=50
            alpha=1~0:900,0
            auto_vflip=no
            auto_hflip=no
        [/rune_frame]
    [/death]
    [attack_anim]
        [filter_attack]
            name=lightning
        [/filter_attack]
        missile_start_time=-800
        [missile3_frame]
            image="halo/runemaster2-thunderdome1.png:300"
            alpha=0.4~1.0:100,1.0~0.8:100,0.8~0.0:100
            auto_vflip=no
            layer=99
        [/missile3_frame]
        [missile3_frame]
            image="halo/runemaster2-thunderdome2.png:300"
            alpha=0.2~0.8:100,0.8~0.6:100,0.6~0.0:100
            auto_vflip=no
            layer=99
        [/missile3_frame]
        [missile3_frame]
            image="halo/runemaster2-thunderdome3.png:300"
            alpha=0.0~0.6:100,0.6~0.4:100,0.4~0.0:100
            auto_vflip=no
            layer=99
        [/missile3_frame]
        [missile_frame]
            halo=halo/small-lightning[1~8,7,8,7,8,5,3~1].png:[100*6,75*10]
            halo_x,halo_y=0,-36
            offset=1.0
            auto_vflip=no
        [/missile_frame]
        [if]
            hits=yes

            [ball_frame]
                duration=550
                image=projectiles/zmage-halo[1~5,4~1,2~5].png~GS()~BLEND(0,128,255,0.4)~CS(0,128,255)
                layer=99
                x,y=2,-2
                alpha=0~0.75:75,0.6:325,0.6~0:150
                offset=1
            [/ball_frame]
            ball_start_time=-300
            missile2_start_time=-300
            missile3_start_time=-300
            [missile2_frame]
                duration=600
                halo="halo/undead/idle-flash-[1~21].png"
                halo_mod=~GS()~G(128)~B(255)
                halo_x=-12
                offset=1.0
            [/missile2_frame]
            [missile3_frame]
                duration=600
                halo="halo/undead/idle-flash-[1~21].png~FL(horiz)~FL(vert)"
                halo_mod=~GS()~G(128)~B(255)
                halo_x=12
                offset=1.0
            [/missile3_frame]
        [/if]
        start_time=-800
        [frame]
            duration=1350
        [/frame]
        [rune_frame]
            image="halo/runemaster2-runes.png:900"
            layer=50
            auto_vflip=no
            auto_hflip=no
        [/rune_frame]
        attack_sound_start_time=-200
        [attack_sound_frame]
            sound=lightning.ogg
        [/attack_sound_frame]
    [/attack_anim]
    [variation]
        variation_id=EoMa_Runemaster_Protected2
        variation_name= _ "Runemaster"
        inherit=yes
        [abilities]
            {ABILITY_EOMA_RUNEAURAACTIVE2}
        [/abilities]
        [standing_anim]
            [missile_frame]
                image="halo/runemaster2-thunderdome1.png:300"
                alpha=0.4~1.0:100,1.0~0.8:100,0.8~0.0:100
                auto_vflip=no
                layer=99
            [/missile_frame]
            [missile_frame]
                image="halo/runemaster2-thunderdome2.png:300"
                alpha=0.4~1.0:100,1.0~0.8:100,0.8~0.0:100
                auto_vflip=no
                layer=99
            [/missile_frame]
            [missile_frame]
                image="halo/runemaster2-thunderdome3.png:300"
                alpha=0.4~1.0:100,1.0~0.8:100,0.8~0.0:100
                auto_vflip=no
                layer=99
            [/missile_frame]
            [frame]
                image="units/runemasters-dwarves/runemaster-thunder-3d.png:900"
                layer=40
                auto_vflip=no
            [/frame]
            [rune_frame]
                image="halo/runemaster2-runes2.png:900"
                alpha=0.8~1.0:300,1:300,1.0~0.8:300
                layer=50
                auto_vflip=no
                auto_hflip=no
            [/rune_frame]
        [/standing_anim]
        [defense]
            missile_start_time=-120
            start_time=-120
            [missile_frame]
                image="halo/runemaster2-thunderdome1.png:250"
                alpha=0.4~1.0:75,1.0~0.8:100,0.8~0.0:75
                auto_vflip=no
                layer=99
            [/missile_frame]
            [frame]
                image="units/runemasters-dwarves/runemaster-thunder-3d.png:200"
                layer=40
                auto_vflip=no
            [/frame]
            [rune_frame]
                image="halo/runemaster2-runes2.png:200"
                layer=50
                auto_vflip=no
                auto_hflip=no
            [/rune_frame]
        [/defense]
        [death]
            [missile_frame]
                image="halo/runemaster2-thunderdome1.png:300"
                alpha=0.4~1.0:100,1.0~0.8:100,0.8~0.0:100
                auto_vflip=no
                layer=99
            [/missile_frame]
            [missile_frame]
                image="halo/runemaster2-thunderdome2.png:300"
                alpha=0.2~0.8:100,0.8~0.6:100,0.6~0.0:100
                auto_vflip=no
                layer=99
            [/missile_frame]
            [missile_frame]
                image="halo/runemaster2-thunderdome3.png:300"
                alpha=0.0~0.6:100,0.6~0.4:100,0.4~0.0:100
                auto_vflip=no
                layer=99
            [/missile_frame]
            [frame]
                image="units/runemasters-dwarves/runemaster-thunder-3d.png:900"
                layer=40
                alpha=1:300,1~0:600,0
                auto_vflip=no
            [/frame]
            [frame]
                image=misc/blank-hex.png:1
                layer=40
                auto_vflip=no
            [/frame]
            [rune_frame]
                image="halo/runemaster2-runes2.png:900"
                layer=50
                alpha=1~0:900,0
                auto_vflip=no
                auto_hflip=no
            [/rune_frame]
        [/death]
        [attack_anim]
            [filter_attack]
                name=lightning
            [/filter_attack]
            missile_start_time=-800
            [missile3_frame]
                image="halo/runemaster2-thunderdome1.png:300"
                alpha=0.4~1.0:100,1.0~0.8:100,0.8~0.0:100
                auto_vflip=no
                layer=99
            [/missile3_frame]
            [missile3_frame]
                image="halo/runemaster2-thunderdome2.png:300"
                alpha=0.2~0.8:100,0.8~0.6:100,0.6~0.0:100
                auto_vflip=no
                layer=99
            [/missile3_frame]
            [missile3_frame]
                image="halo/runemaster2-thunderdome3.png:300"
                alpha=0.0~0.6:100,0.6~0.4:100,0.4~0.0:100
                auto_vflip=no
                layer=99
            [/missile3_frame]
            [missile_frame]
                halo=halo/small-lightning[1~8,7,8,7,8,5,3~1].png:[100*6,75*10]
                halo_x,halo_y=0,-36
                offset=1.0
                auto_vflip=no
            [/missile_frame]
            [if]
                hits=yes

                [ball_frame]
                    duration=550
                    image=projectiles/zmage-halo[1~5,4~1,2~5].png~GS()~BLEND(0,128,255,0.4)~CS(0,128,255)
                    layer=99
                    x,y=2,-2
                    alpha=0~0.75:75,0.6:325,0.6~0:150
                    offset=1
                [/ball_frame]
                ball_start_time=-300
                missile2_start_time=-300
                missile3_start_time=-300
                [missile2_frame]
                    duration=600
                    halo="halo/undead/idle-flash-[1~21].png"
                    halo_mod=~GS()~G(128)~B(255)
                    halo_x=-12
                    offset=1.0
                [/missile2_frame]
                [missile3_frame]
                    duration=600
                    halo="halo/undead/idle-flash-[1~21].png~FL(horiz)~FL(vert)"
                    halo_mod=~GS()~G(128)~B(255)
                    halo_x=12
                    offset=1.0
                [/missile3_frame]
            [/if]
            start_time=-800
            [frame]
                duration=1350
            [/frame]
            [rune_frame]
                image="halo/runemaster2-runes2.png:900"
                layer=50
                auto_vflip=no
                auto_hflip=no
            [/rune_frame]
            attack_sound_start_time=-200
            [attack_sound_frame]
                sound=lightning.ogg
            [/attack_sound_frame]
        [/attack_anim]
    [/variation]
[/unit_type]
