#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Runesmith
    name= _ "Runesmith"
    race=dwarf
    image=units/dwarves/runesmith.png
    profile="portraits/dwarves/runemaster.png"
    hitpoints=49
    movement_type=dwarvishfoot
    movement=4
    level=2
    alignment=neutral
    cost=40
    usage=mixed fighter
    experience=100
    advances_to=EoMa_Rune_Artist

    undead_variation=dadept
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/dwarves/runesmith-defend-2.png" "units/dwarves/runesmith-defend-1.png" {SOUND_LIST:DWARF_HIT} }
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/dwarves/runemaster.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/dwarves/runemaster.png"
    [/portrait]
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=90
        fire=75
        cold=85
    [/resistance]
    [attack]
        name=hammer
        description={STR_HAMMER}
        type=impact
        [specials]
            {WEAPON_SPECIAL_EOMA_ENCHANTED}
        [/specials]
        range=melee
        damage=8
        number=2
        icon="attacks/runic-hammer.png"
    [/attack]
    [attack]
        name=runes
        description= _ "fire runes"
        type=fire
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=9
        number=3
        icon="attacks/rune.png"
    [/attack]
    [attack]
        name=ice runes
        description= _ "ice runes"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=12
        number=2
        icon="attacks/rune-ice.png"
    [/attack]
    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-400
        offset=0.0~-0.15,-0.15~0.1,0.1~0.5,0.5~0.6,0.6~0.6,0.6~0.15,0.15~0.0
        [frame]
            image="units/dwarves/runesmith-attack-se-[1~10].png:70"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -120}
    [/attack_anim]
    {RUNES_ANIM a (54)}
    {RUNES_ANIM b (54)}
    {RUNES_ANIM c (54)}
    {RUNES_ANIM d (54)}
[/unit_type]
