#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Steam_Ulfserker
    [/base_unit]
    id=EoMa_Steam_Ulfserker_rpg
    name= _ "Steam Ulfserker"
    advances_to=EoMa_Steam_Berserker_rpg,EoMa_Red_Ulfserker_rpg
[/unit_type]
