#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Steam_Ulfserker
    name= _ "Steam Ulfserker"
    race=mechanical
    image="units/runemasters-robots/steamulfserker1.png"
    profile="portraits/runemasters/steam-ulfserker.png"
    small_profile="portraits/runemasters/steam-ulfserker.png~SCALE(205,205)"
    ellipse="misc/ellipse"

    hitpoints=38
    movement_type=armoredfoot
    movement=5
    experience=42
    level=1
    alignment=neutral
    advances_to=EoMa_Steam_Berserker,EoMa_Red_Ulfserker
    cost=18
    usage=fighter
    description= _ "Steam Ulfserkers are the face of any serious offensive movement. Armoured and armed with steel, they cut through opposition lines with ease, for these mechanical beings hold nothing back in a assault. It results in locking the opponent in close combat, attacking in a furious frenzy that only ends when either one is dead."
    {DEFENSE_ANIM "units/runemasters-robots/steamulfserker2.png" "units/runemasters-robots/steamulfserker1.png" silence.ogg }
    {STANDING3_ANIM (units/runemasters-robots/steamulfserker) 100}
    {DEATH_STEAMROBOT_ANIM}
    [resistance]
        blade=70
        pierce=50
        impact=80
    [/resistance]
    [movement_costs]
        cave=1
        hills=2
        mountains=3
        frozen=2
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=80
        swamp_water=80
        flat=70
        sand=70
        forest=70
        hills=60
        mountains=60
        village=70
        castle=60
        cave=70
        frozen=70
        unwalkable=70
        impassable=70
        fungus=70
    [/defense]
    [attack]
        name=berserker frenzy
        description={STR_BERSERKER_FRENZY}
        icon=attacks/steam-frenzy.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
        range=melee
        damage=4
        number=4
    [/attack]
    {STEAMROBOT_ATTACK_ANIM steamulfserker (berserker frenzy)}
[/unit_type]
