#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Steamcopter
    name= _ "Steamcopter"
    race=mechanical
    image="units/runemasters-machines/steamcopter1.png"

    hitpoints=48
    movement_type=fly
    movement=8
    experience=110
    level=2
    alignment=neutral
    advances_to=EoMa_Mechanical_Dragon
    cost=32
    usage=scout
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/runemasters-machines/steamcopter2.png" "units/runemasters-machines/steamcopter2.png" silence.ogg }
    [resistance]
        blade=110
        pierce=80
        impact=100
        fire=120
        cold=100
        arcane=80
    [/resistance]
    [movement_costs]
        cave=3
        fungus=3
    [/movement_costs]
    [defense]
        mountains=40
        cave=50
        fungus=50
    [/defense]
    {STANDING3_ANIM (units/runemasters-machines/steamcopter) 125}
    [attack]
        name=bombs
        description= _ "bombs"
        icon=attacks/bomb.png
        type=fire
        range=ranged
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=ram
        description={STR_RAM}
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=8
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=ram
        [/filter_attack]
        start_time=-300
        [frame]
            duration=480
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -60}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bombs
        [/filter_attack]
        missile_start_time=-300
        [missile_frame]
            duration=300
            image="projectiles/bomb.png"
            image_diagonal="projectiles/bomb.png"
            offset=0.0~0.9
        [/missile_frame]
        [missile_frame]
            halo="projectiles/fireball-impact-[1~16].png:60"
            offset=1.0
            sound=explosion.ogg
            auto_vflip=no
        [/missile_frame]
        [frame]
            begin=0
            end=125
            image="units/runemasters-machines/steamcopter[2,3,2,1].png:250"
        [/frame]
    [/attack_anim]
    [death]
        missile_start_time=0
        missile2_start_time=0
        {EXPLOSION_SINGLE_ANIM 0.0}
        [missile2_frame]
            image="scenery/flames[01~15].png~FL(horiz):60"
            offset=0.0
            auto_vflip=no
        [/missile2_frame]
        [missile2_frame]
            image="misc/blank-hex.png:1"
            offset=0.0
            auto_vflip=no
        [/missile2_frame]
        [frame]
            image="units/runemasters-machines/steamcopter[2,3,2,1].png:250"
        [/frame]
    [/death]
[/unit_type]
