#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Steam_Turboserker
    name= _ "Steam Turboserker"
    race=mechanical
    image="units/runemasters-robots/steamturboserker1.png"

    hitpoints=60
    movement_type=armoredfoot
    movement=5
    experience=126
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=55
    usage=fighter
    description={NO_DESCR_AVAILABLE}
    {DEFENSE_ANIM "units/runemasters-robots/steamturboserker2.png" "units/runemasters-robots/steamturboserker1.png" silence.ogg }
    {STANDING3_ANIM (units/runemasters-robots/steamturboserker) 100}
    {DEATH_STEAMROBOT_ANIM}
    [resistance]
        blade=70
        pierce=50
        impact=70
        fire=100
        cold=100
    [/resistance]
    [movement_costs]
        cave=1
        hills=2
        mountains=3
    [/movement_costs]
    [defense]
        deep_water=80
        shallow_water=80
        swamp_water=80
        flat=70
        sand=70
        forest=70
        hills=60
        mountains=60
        village=70
        castle=60
        cave=70
        frozen=70
        unwalkable=70
        impassable=70
        fungus=70
    [/defense]
    [attack]
        name=berserker frenzy
        description={STR_BERSERKER_FRENZY}
        icon=attacks/steam-frenzy.png
        type=impact
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
        range=melee
        damage=7
        number=5
    [/attack]
    [attack]
        name=fists
        description={STR_FIST}
        icon=attacks/fist-robot.png
        type=impact
        range=melee
        damage=14
        number=2
    [/attack]
    [attack]
        name=missile
        description=_ "missile"
        icon=attacks/bullet.png
        type=fire
        range=ranged
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
			{WEAPON_SPECIAL_EOMA_HITANDRUN 2}
        [/specials]
    [/attack]
    {STEAMROBOT_ATTACK_ANIM steamturboserker (berserker frenzy)}
    {STEAMROBOT_ATTACK_ANIM steamturboserker (fists)}
    {SMALLROCKET_ANIM missile -10 -16}
[/unit_type]
