#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Striding_Machine
    name= _ "Striding Machine"
    race=mechanical
    image="units/runemasters-machines/sm2.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=51
    movement_type=armoredfoot
    movement=5
    experience=50
    level=1
    alignment=neutral
    advances_to=EoMa_Dwarvish_Tank
    cost=21
    usage=mixed fighter
    description= _ "Striding machines are heavy military vehicles used by the dwarves. These marvels of combat machinery have six mechanical legs, capable of easily crushing anything underneath, as well as two machine guns for dealing with infantry. They are generally at the front lines of the battlefield, often with mechanics behind them."
    {DEFENSE_ANIM_DIRECTIONAL "units/runemasters-machines/sm2.png" "units/runemasters-machines/sm2.png" "units/runemasters-machines/sm-ne2.png" "units/runemasters-machines/sm-ne2.png" {SOUND_LIST:DWARF_HIT} }
    {DEFENSE_ANIM_FILTERED "units/runemasters-machines/sm-s2.png" "units/runemasters-machines/sm-s2.png" {SOUND_LIST:DWARF_HIT} direction=s}
    {DEFENSE_ANIM_FILTERED "units/runemasters-machines/sm-n2.png" "units/runemasters-machines/sm-n2.png" {SOUND_LIST:DWARF_HIT} direction=n}
	{DWARFMACHINE_DIE_ANIM sm}
    {DWARFMACHINE_STANDMOVE_ANIM sm}
    [resistance]
        blade=60
        pierce=80
        impact=110
        fire=110
        cold=90
        arcane=70
    [/resistance]
	[movement_costs]
		hills=2
		mountains=3
	[/movement_costs]
    [defense]
        mountains=60
        hills=50
    [/defense]
	[attack]
        name=trample
        description=_"trample"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=cannons
        description=_"machine gun"
		icon=attacks/mg.png
        type=pierce
        range=ranged
        damage=4
        number=5
    [/attack]
    
    {DWARFMACHINE_MELEE_ANIM sm trample se,sw ()}
    {DWARFMACHINE_MELEE_ANIM sm trample ne,nw -ne}
    {DWARFMACHINE_MELEE_ANIM sm trample s -s}
    {DWARFMACHINE_MELEE_ANIM sm trample n -n}
	{SM_SEMICANNON_ANIM sm cannons se,sw -10 -6 10 16}
	{SM_SEMICANNON_ANIM sm-ne cannons ne,nw 22 0 18 -16}
	{SM_SEMICANNON_ANIM sm-n cannons n 20 8 -25 10}
	{SM_SEMICANNON_ANIM sm-s cannons s -20 -2 20 -2}
[/unit_type]
