#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Technician
    name= _ "Technician"
    race=dwarf
    image="units/runemasters-dwarves/technician.png"
    profile="portraits/runemasters/mechanic.png"
    small_profile="portraits/runemasters/mechanic.png~SCALE(205,205)"

    hitpoints=45
    movement_type=dwarvishfoot
    movement=5
    experience=100
    level=2
    alignment=neutral
    advances_to=EoMa_Constructor
    cost=29
    usage=fighter
    undead_variation=mechanic
    description= _ "Blessed with remarkable deftness with their fingers, these Technicians refute all that demean their race as heavy handed, drunkards, and if any liquor is to found on them, then it is only within the strong spirits which they employ in continuous campaign against rust.

Despite their scarcity, they serve as important a role as the standardized teams of Mechanics, and are capable of repairing all but the most severe damage upon any mechanical unit. More importantly, such is their proficiency in their line of work that they have been able to spare time to dedicate on converting those tools that they work with into deadly weapons that are more than a match for any who attempt to harry them."
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/runemasters-dwarves/technician-defend.png" "units/runemasters-dwarves/technician-defend.png" {SOUND_LIST:DWARF_HIT}}
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=100
        fire=70
		impact=70
    [/resistance]
    [abilities]
        {ABILITY_EOMA_EXTRA_REPAIR}
        {ABILITY_EOMA_COMPLETEREPAIR}
    [/abilities]

    [healing_anim]
        start_time=-100
        [frame]
            image="units/runemasters-dwarves/technician-pierce.png:100"
            offset=0~0.5
        [/frame]
        [frame]
            image="units/runemasters-dwarves/technician-[impact,pierce,impact,pierce].png:100"
            offset=0.5
        [/frame]
        [frame]
            image="units/runemasters-dwarves/technician-pierce.png:100"
            offset=0.5~0
        [/frame]
    [/healing_anim]
    [healing_anim]
        start_time=-100
        [frame]
            image="units/runemasters-dwarves/technician2.png:100"
            offset=0~0.5
        [/frame]
        [frame]
            image="units/runemasters-dwarves/technician[2,-fire,2,-fire].png:100"
            offset=0.5
            sound=fire.wav
        [/frame]
        [frame]
            image="units/runemasters-dwarves/technician2.png:100"
            offset=0.5~0
        [/frame]
    [/healing_anim]

    [standing_anim]
        [frame]
            duration=100
            image="units/runemasters-dwarves/technician.png"
        [/frame]
        [frame]
            duration=100
            image="units/runemasters-dwarves/technician2.png"
        [/frame]
    [/standing_anim]
    [attack]
        name=saw
        description=_"saw"
        icon="attacks/saw.png"
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]
    [attack]
        name=wrench
        description=_"wrench"
        icon="attacks/wrench.png"
        type=impact
        range=melee
        damage=5
        number=4
    [/attack]
    [attack]
        name=screwdriver
        description=_"screwdriver"
        icon="attacks/screwdriver.png"
        type=pierce
        range=melee
        damage=4
        number=5
    [/attack]
    [attack]
        name=burner
        description=_"burner"
        icon="attacks/burner.png"
        type=fire
        range=melee
        damage=6
        number=4
    [/attack]
    [attack]
        name=bomb
        description=_"bomb"
        icon="attacks/bomb.png"
        type=fire
        range=ranged
        damage=14
        number=1
    [/attack]
    {MECHANIC_ATTACK_ANIM technician saw blade {SOUND_LIST:SWORD_SWISH}}
    {MECHANIC_ATTACK_ANIM technician wrench impact mace.wav}
    {MECHANIC_ATTACK_ANIM technician screwdriver pierce spear.ogg}
    [attack_anim]
        [filter_attack]
            name=burner
        [/filter_attack]
        [frame]
            begin=-200
            end=-100
            image="units/runemasters-dwarves/technician-fire.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/runemasters-dwarves/technician-fire.png"
                sound=fire.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=100
                image="units/runemasters-dwarves/technician.png"
                sound=fire.wav
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/runemasters-dwarves/technician-fire.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bomb
        [/filter_attack]
        missile_start_time=-300
        [missile_frame]
            duration=300
            image="projectiles/bomb.png"
            image_diagonal="projectiles/bomb.png"
            offset=0.0~0.9
        [/missile_frame]
        [if]
            hits=yes
            [missile_frame]
                halo="projectiles/fireball-impact-[1~16].png:60"
                offset=1.0
                sound=explosion.ogg
                auto_vflip=no
            [/missile_frame]
        [/if]
        [else]
        [/else]
        start_time=-300
        [frame]
            duration=400
            image="units/runemasters-dwarves/technician-impact.png"
            sound={SOUND_LIST:THROW}
        [/frame]
    [/attack_anim]
[/unit_type]
