#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Trench_Sweeper
    name= _ "Trench Sweeper"
    race=dwarf
    image="units/runemasters-dwarves/trenchsweeper.png"
    hitpoints=57
    movement_type=dwarvishfoot
    movement=6
    experience=126
    level=3
    alignment=neutral
    advances_to=null
    [advancement]
        strict_amla=yes
        max_times=1
        id=TR_SW_HNR
        description= _ "Hit and run 1, +2 HP, +20% max XP"
        image="icons/boots_elven.png"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_HITANDRUN 1}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
#ifdef MULTIPLAYER
        [filter]
            lua_function=wesnoth.wml_conditionals.EoMa_not_rpg
        [/filter]
#endif
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=TR_SW_CONC
        description= _ "Concealment, +3 HP, +20% max XP"
        image="icons/cloak_leather_brown.png"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_CONCEALMENT}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=TR_SW_MOUNTAIN_AMBUSH
        description= _ "Mountain Ambush, +3 HP, +20% max XP"
        image="icons/cloak_leather_brown.png~GS()"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_MOUNTAINAMBUSH}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=TR_SW_CAVE_AMBUSH
        description= _ "Cave Ambush, +3 HP, +20% max XP"
        image="icons/cloak_leather_brown.png~GS()~BLEND(0,0,0,0.2)"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_CAVEAMBUSH}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=trenchsweeper_forage
        description= _ "Forage, +3 HP, +20% max XP"
        image="icons/leaf-acid-2.png"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_FORAGE}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    {AMLA_DEFAULT}
    cost=56
    usage=mixed fighter
    undead_variation=dwscout
    description= ""
    die_sound={SOUND_LIST:DWARF_DIE}
    {DEFENSE_ANIM "units/runemasters-dwarves/trenchsweeper.png" "units/runemasters-dwarves/trenchsweeper.png" {SOUND_LIST:DWARF_HIT}}
    [defense]
        mountains=30
        frozen=60
        flat=60
        forest=50
    [/defense]
    [movement_costs]
        frozen=1
    [/movement_costs]
    [resistance]
        arcane=90
    [/resistance]
    [abilities]
        {ABILITY_SKIRMISHER}
        {ABILITY_EOMA_UPGRADEDRONE_MODULE cannon _"cannon"}
    [/abilities]
    [standing_anim]
        [frame]
            image="units/runemasters-dwarves/trenchsweeper/00[01~48].png:42"
        [/frame]
    [/standing_anim]
    [attack]
        name=bash
        description=_"gun bash"
        icon="attacks/quarterstaff.png"
        type=impact
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=thunderstick
        description=_"trenchgun"
        type=pierce
        range=melee
        damage=12
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            [damage]
                id=eoma_pointblank
                name= _ "point blank"
                description= _ "When used offensively, this attack deals +5 more damage to the target."
                add=5
                active_on=offense
            [/damage]
        [/specials]
    [/attack]
    [attack]
        name=thunderstick
        description=_"trenchgun"
        type=pierce
        range=ranged
        damage=17
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bash
        [/filter_attack]
        [frame]
            begin=-250
            end=-200
            image="units/runemasters-dwarves/trenchsweeper.png"
        [/frame]
        [frame]
            begin=-200
            end=-100
            image="units/runemasters-dwarves/trenchsweeper-melee1.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/runemasters-dwarves/trenchsweeper-melee2.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-100
                end=50
                image="units/runemasters-dwarves/trenchsweeper-melee2.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=50
            end=100
            image="units/runemasters-dwarves/trenchsweeper-melee1.png"
        [/frame]
        [frame]
            begin=100
            end=125
            image="units/runemasters-dwarves/trenchsweeper.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=thunderstick
        [/filter_attack]
        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 0 0}
            direction=s
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/trenchsweeper-ranged-s.png"
                sound=shotgun.ogg
            [/frame]
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=s
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/trenchsweeper-ranged-s.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH 0 20}
            direction=ne,nw
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/trenchsweeper-ranged-ne.png"
                sound=shotgun.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=ne,nw
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/trenchsweeper-ranged-ne.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 0 20}
            direction=n
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/trenchsweeper-ranged-n.png"
                sound=shotgun.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=n
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/trenchsweeper-ranged-n.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH 0 0}
            direction=se,sw
            hits=yes
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/trenchsweeper-ranged-se.png"
                sound=shotgun.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 0 0}
            direction=se,sw
            hits=no
            [frame]
                begin=-400
                end=0
                image="units/runemasters-dwarves/trenchsweeper-ranged-se.png"
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
