#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Dark_Warlord
    [/base_unit]
    id=EoMa_Dark_Warlord_rpg
    [attack]
        [specials]
        [/specials]
    [/attack]
    [attack]
    [/attack]
    [attack]
        name=explosion
        description=_"explosion"
        icon=attacks/explosion.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_EOMA_AREAEFFECT_RPG}
        [/specials]
        damage=28
    [/attack]
[/unit_type]
