#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Dark_Warrior
    [/base_unit]
    id=EoMa_Dark_Warrior_rpg
    advances_to=EoMa_Dark_Commander_rpg,EoMa_Dark_Slayer_rpg,EoMa_Frontliner_rpg
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_NOCOUNTERATTACK_RPG}
            {WEAPON_SPECIAL_EOMA_DREAD}
            {WEAPON_SPECIAL_EOMA_EVADE}
        [/specials]
    [/attack]
[/unit_type]
