#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Dark_Observer
    [/base_unit]
    id=EoMa_Dark_Observer_rpg
    advances_to=EoMa_Storm_Sphere_rpg,EoMa_Pain_Sphere_rpg
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
