#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Matriarch_of_Darkness
    [/base_unit]
    id=EoMa_Matriarch_of_Darkness_rpg
    [attack]
        damage=10
        number=3
    [/attack]
    [attack]
        damage=5
        number=5
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_EOMA_ENCHANTED}
        [/specials]
    [/attack]
    [attack]
        damage=12
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
            {WEAPON_SPECIAL_EOMA_MAGICAL_OFFENSIVE}
        [/specials]
    [/attack]
[/unit_type]
