#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Pain_Mistress
    [/base_unit]
    id=EoMa_Pain_Mistress_rpg
    advances_to=EoMa_Matriarch_of_Pain_rpg
    hitpoints=49
    [abilities]
        {ABILITY_EOMA_PAINABSORB_RPG}
    [/abilities]
    [attack]
    [/attack]
    [attack]
    [/attack]
[/unit_type]
