#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Avenger
    name= _ "Avenger"
    race=human
    image="units/kharos-sun/avenger.png"

    hitpoints=57
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    cost=32
    usage=fighter
    undead_variation=avenger
    {TRAIT_FEARLESS}
    {AMLA_DEFAULT}
    description= _ "The Avenger is a heavy tactical defense unit. His retaliation strikes are always successful."+{SPECIAL_NOTES}+{SPECIAL_NOTES_STEADFAST}+"The unit has always a 100% chance to hit, during retaliation."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [resistance]
        blade=85
        pierce=85
        impact=85
    [/resistance]
    {SHIELDER_DEFENSE_ANIM avenger avenger avenger}
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=8
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_EOMA_REVENGE}
        [/specials]
    [/attack]
    [attack]
        name=shield
        description=_"shield"
        icon=attacks/rectangular-shield.png
        type=impact
        range=melee
        damage=14
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_REVENGE}
        [/specials]
    [/attack]
    [attack]
        name=spear2
        description={STR_SPEAR}
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=11
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/kharos-sun/avenger-attack1.png:100"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/kharos-sun/avenger-attack[2,1].png:[200,100]"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            [frame]
                image="units/kharos-sun/[avenger-attack2,avenger].png:[200,100]"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear2
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/spear-n.png:150"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/kharos-sun/[avenger-attack1,avenger].png:[100,250]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.wav {SOUND_LIST:MISS} -150}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/kharos-sun/avenger.png:350"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
[/unit_type]
