#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Brown_Warrior
    name= _ "Bronze Warrior"
    race=human
    image="units/kharos-sun/brownwarrior.png"

    hitpoints=54
    movement_type=smallfoot
    movement=5
    experience=85
    level=2
    alignment=lawful
    advances_to=EoMa_Platinum_Warrior,EoMa_Recruitment_Officer
    cost=28
    usage=fighter
    undead_variation=brownwarrior
    {TRAIT_FEARLESS}
    description= _ "Bronze warriors are former white warriors who are able to afford better equipment, wielding a sword and a mace. They also wear full-plate bronze armor, for which they got their name in the first place."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/kharos-sun/brownwarrior.png" "units/kharos-sun/brownwarrior.png" {SOUND_LIST:HUMAN_HIT} }
    [resistance]
        blade=80
        pierce=80
        impact=90
    [/resistance]
    [attack]
        name=white sword
        description={STR_SWORD}
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
    [attack]
        name=mace
        description={STR_MACE}
        icon=attacks/mace-spiked.png
        type=impact
        range=melee
        damage=15
        number=2
    [/attack]
    {WHITE_SWORD_ANIM brownwarrior}
    {BROWN_MACE_ANIM brownwarrior}
[/unit_type]
