#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Cavalry_Archer
    name= _ "Cavalry Archer"
    image="units/kharos-sun/cavalryarcher.png"
    ellipse="misc/ellipse"
    
    race=human
    hitpoints=36
    movement_type=mounted
    movement=9
    experience=40
    level=1
    alignment=neutral
    advances_to=EoMa_Elemental_Archer,EoMa_Heavy_Cavalry_Archer
    cost=19
    usage=archer
    undead_variation=cavalryarcher
    description= _ "Cavalry Archers used to be a single independent tribe in the past. They come from the Acacia Forest region which is now a part of the Kharos country. They are mainly used as scouts or messengers, but they are also quite good for flanking, or chasing down retreating enemies."
    die_sound=horse-die.ogg
    [resistance]
        blade=90
        pierce=120
        impact=80
    [/resistance]
    [attack]
        name=bowclose
        description=_"trample"
        icon=attacks/trample-horse.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=8
        number=2
    [/attack]
    {DEFENSE_ANIM "units/kharos-sun/cavalryarcher-moving.png" "units/kharos-sun/cavalryarcher.png" {SOUND_LIST:HORSE_HIT} }
    [movement_anim]
        start_time=0
        [frame]
            image="units/kharos-sun/cavalryarcher-moving.png:150"
        [/frame]
    [/movement_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/missile-n.png:150"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-400
        [frame]
            image="units/kharos-sun/[cavalryarcher-attack1,cavalryarcher-attack2,cavalryarcher-moving].png:[250,100*2]"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -400}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bowclose
        [/filter_attack]
        start_time=-450
        [frame]
            image="units/kharos-sun/cavalryarcher-moving.png:500"
			sound=horse-canter.wav
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
