#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Child_of_Light
    name= _ "female^Child of Light"
    race=human
    gender=female
    image="units/kharos-light/childoflight2.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=37
    movement_type=fly
    movement=7
    experience=160
    level=2
    alignment=lawful
    advances_to=EoMa_Mistress_of_Light
	{TRAIT_FEARLESS}
    cost=37
    usage=mixed fighter
    undead_variation=angel
    description={NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_CURES}+{SPECIAL_NOTES_LEADERSHIP}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_ARCANE}
    die_sound=silence.ogg
    {DEFENSE_ANIM "units/kharos-light/childoflight2.png" "units/kharos-light/childoflight3.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=40
    [/resistance]
    [abilities]
        {ABILITY_EOMA_CURES}
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    {KHAROS_LIGHT_STANDING_ANIM childoflight}
	[death]
        missile_start_time=0
        sound_start_time=0
        start_time=-500
        halo_start_time=-500
        [missile_frame]
            offset=0.0
            halo="halo/silverwarrior-teleport[3~7].png~GS()~CS(30,30,30:100"
            halo_y=-400
            sound=lightning-miss.ogg
        [/missile_frame]
        [sound_frame]
            sound={SOUND_LIST:HOLY}
        [/sound_frame]
        [halo_frame]
            offset=0.0
            offset=0.0
            image="halo/sb-09.png~GS()~CS(30,30,30):550"
            layer=99
            alpha=0~0.8:200,0.85:300,0.8~0:50
            auto_hflip=false
        [/halo_frame]
        [frame]
            blend_ratio=0~1:200,1:350
            blend_color=255,255,255
            sound=um.ogg
        [/frame]
    [/death]
    [attack]
        name=lighttouch
        description=_"light touch"
        type=arcane
        range=melee
        damage=7
        number=2
        icon=attacks/touch-faerie.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=lightstorm
        description=_"lightstorm"
        icon=attacks/lightfocus.png
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
			{WEAPON_SPECIAL_EOMA_ALLAROUND 70}
        [/specials]
        damage=16
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=lighttouch
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/kharos-light/childoflight2.png:450"
            halo="projectiles/zmage-preparation-halo[1~7,7~1].png:[25*14]"
            halo_mod=~GS()~CS(32,32,32)~SCALE(70,70)
            halo_x,halo_y=8,0
	    sound={SOUND_LIST:HOLY}
        [/frame]
        {SOUND:HIT_AND_MISS um.ogg um-miss.ogg -100}
    [/attack_anim]
    [idle_anim]
        [glow_frame]
            offset=0.0
            image="halo/sb-09.png~GS()~CS(60,60,60)~SCALE(120,120):600"
            layer=99
            alpha=0~0.8:125,0.85:400,0.8~0:100
            auto_vflip=false
        [/glow_frame]
        start_time=0
        [frame]
            image="units/kharos-light/childoflight-heal1.png:600"
        [/frame]
    [/idle_anim]
    {KHAROS_LIGHT_LIGHTSTORM_ANIM childoflight 120}
[/unit_type]