#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Adept_of_Light
    name= _ "female^Cleric"
    race=human
    gender=female
    image="units/kharos-light/cleric.png"
    ellipse="misc/ellipse"

    hitpoints=26
    movement_type=smallfoot
    movement=5
    experience=50
    level=1
    alignment=lawful
    advances_to=EoMa_Cleric
    cost=17
    usage=mixed fighter
    undead_variation=cleric
    description=_"In the Kharosian society, it's common for women to join the priesthood. They aren't quite as capable of using solar magic as men are, but are far more adept at light magic; conjuring beams of light at their foes, and being quite skilled at healing the wounded."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/kharos-light/cleric-defend.png" "units/kharos-light/cleric.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    [standing_anim]
        [frame]
            image="units/kharos-light/cleric/00[01~32].png:42"
        [/frame]
    [/standing_anim]
    [abilities]
        {ABILITY_EOMA_HEAL 4}
    [/abilities]
    [resistance]
        fire=90
        arcane=60
    [/resistance]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="units/kharos-light/cleric-magic-[1,2,1].png:[200,800,150]"
        [/frame]
    [/idle_anim]
    [healing_anim]
        start_time=-525
        [frame]
            image="units/kharos-light/cleric-magic-[1,2].png:75"
        [/frame]
        [frame]
            image="units/kharos-light/cleric-magic-3.png"
            halo=halo/holy/halo[6,1~6].png:75
        [/frame]
        [frame]
            image="units/kharos-light/cleric-magic-[2,1].png:75"
        [/frame]
    [/healing_anim]
    [attack]
        name=staff
        description={STR_STAFF}
        type=impact
        range=melee
        damage=5
        number=1
        icon=attacks/staff-magic.png
    [/attack]
    [attack]
        name=lightbeam
        description={STR_LIGHTBEAM}
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=6
        number=3
    [/attack]
    {CLERIC_STAFF_ANIM cleric}
    [attack_anim]
        [filter_attack]
            name=lightbeam
        [/filter_attack]
        missile_start_time=-245

        [missile_frame]
            halo="halo/holy/light-beam-[1~7,6~1].png~SCALE(100,446):[30*6,130,70*6]"
            offset=1.0
            auto_vflip=false
        [/missile_frame]
        start_time=-300
        [frame]
            image="units/kharos-light/cleric-magic-[1,2].png:75"
        [/frame]
        [frame]
            image="units/kharos-light/cleric-magic-3.png:350"
            halo=halo/holy/halo[6,1,3,5,6].png:[75*4,50]
        [/frame]
        [frame]
            image="units/kharos-light/cleric-magic-[2,1].png:50"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:HOLY} {SOUND_LIST:HOLY_MISS} -75}
    [/attack_anim]
[/unit_type]
