#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Divine_Executor
    name= _ "Divine Executor"
    race=human
    image="units/kharos-sun/justicer.png"
    ellipse="misc/ellipse"

    hitpoints=80
    movement_type=smallfoot
    movement=6
    experience=200
    level=4
    alignment=lawful
    undead_variation=shielder
    advances_to=null
    {AMLA_DEFAULT}
    cost=83#72
    usage=fighter
    {TRAIT_FEARLESS}
    description= _ "The most elite Impalers often attain great importance in Kharos society, earning the title of Divine Executors due to their exceptional rarity and heroism. These soldiers have lived through numerous battles with little more than their skill and determination to protect their people. As a result, they are granted special sacred equipment inspired by historic legends that have shaped Kharos' destiny and survival. While these tools may lack the same level of magical resistance as those wielded by Sun Followers' cult members, they offer distinct advantages such as increased maneuverability and the ability to inflict huge amounts of damage to evil forces."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [movement_costs]
        mountains=2
    [/movement_costs]
    [defense]
        frozen=70
        sand=60
        flat=50
    [/defense]
    [resistance]
        arcane=50
        blade=90
        pierce=60
        impact=90
        fire=70
        cold=85
    [/resistance]
    {SHIELDER_DEFENSE_ANIM justicer justicer-defend justicer}
    [standing_anim]
        [frame]
            image="units/kharos-sun/justicer/00[01~48].png:54"
            halo="units/kharos-sun/justicer/justicer-glow/00[01~48].png:54"
        [/frame]
    [/standing_anim]
    [abilities]
        {ABILITY_EOMA_SOLAR_REGENERATION 4 6}
    [/abilities]
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=12
        number=4
        icon=attacks/spear-divine.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=spear-divine
        description={STR_SPEAR}
        type=arcane
        range=melee
        damage=10
        number=4
        icon=attacks/spear-divine.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_EOMA_DIVINE}
        [/specials]
    [/attack]
    [attack]
        name=spear2
        description={STR_SPEAR}
        icon=attacks/spear-thrown-divine.png
        type=pierce
        range=ranged
        damage=21
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=spear2-divine
        description={STR_SPEAR}
        icon=attacks/spear-thrown-divine.png
        type=arcane
        range=ranged
        damage=19
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_EOMA_DIVINE}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/kharos-sun/justicer-defend.png:100"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/kharos-sun/justicer-defend.png:[200,100]"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            [frame]
                image="units/kharos-sun/justicer-defend.png:[200,100]"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear-divine
        [/filter_attack]
        start_time=-200
        sound_start_time=-100
        [frame]
            image="units/kharos-sun/justicer-defend.png:100"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/kharos-sun/justicer-defend.png:[200,100]"
                sound=spear.ogg
            [/frame]
            [sound_frame]
                sound=magic-faeriefire.ogg
            [/sound_frame]
        [/if]
        [else]
            [frame]
                image="units/kharos-sun/justicer-defend.png:[200,100]"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear2
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/spear-n.png:150"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/kharos-sun/justicer-defend.png:[100,250]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -150}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear2-divine
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/spear-n.png:150"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [missile_frame]
                duration=400
                halo="projectiles/whitemissile-impact-[1~8].png:50"
                offset=0.8,0.92,0.94,0.96,0.98,1.0,1.02,1.04
                sound=magic-faeriefire.ogg
            [/missile_frame]
        [/if]
        start_time=-250
        [frame]
            image="units/kharos-sun/justicer-defend.png:[100,250]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -150}
    [/attack_anim]
[/unit_type]
