#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Elemental_Archer
    [/base_unit]
    id=EoMa_Elemental_Archer_rpg
    advances_to=EoMa_Mystical_Archer_rpg
    [attack]
    [/attack]
    [attack]
        damage=10
    [/attack]
    [attack]
        damage=6
		number=2
    [/attack]
[/unit_type]
