#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Elemental_Archer
    name= _ "Elemental Archer"
    image="units/kharos-sun/cavalryarcherII.png"
    
    race=human
    hitpoints=46
    movement_type=mounted
    movement=9
    experience=100
    level=2
    alignment=neutral
    advances_to=EoMa_Mystical_Archer
    cost=36
    usage=scout
    undead_variation=elementalarcher
    description= _ "Elite cavalry archers are often seen using enchanted arrows to gain the upper hand in combat. The process of making these arrows remains a mystery, but some speculate that the Sky Kingdom is involved in it."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_SLOW}
    die_sound=horse-die.ogg
    [defense]
        village=60
        forest=70
    [/defense]
    [resistance]
		fire=85
		cold=85
        blade=90
        pierce=120
        impact=80
    [/resistance]
    [standing_anim]
        start_time=0
        [frame]
            image="units/kharos-sun/[cavalryarcherII,cavalryarcherII-1,cavalryarcherII-2].png:150"
        [/frame]
    [/standing_anim]
    [attack]
        name=bowclose
        description=_"trample"
        icon=attacks/trample-horse.png
        type=impact
        range=melee
        damage=8
        number=2
    [/attack]
    [attack]
        name=bow1
        description=_"fire arrow"
        icon=attacks/bow-elven-fire.png
        type=fire
        range=ranged
        damage=12
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=bow2
        description=_"ice arrow"
        icon=attacks/bow-elven-magic.png
        type=cold
        range=ranged
        damage=8
        number=2
        [specials]
			{WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=bow3
        description=_"arrow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=8
        number=3
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
    [/attack]
    {DEFENSE_ANIM "units/kharos-sun/cavalryarcherII.png" "units/kharos-sun/cavalryarcherII.png" {SOUND_LIST:HORSE_HIT} }

    [attack_anim]
        [filter_attack]
            name=bowclose
        [/filter_attack]
        start_time=-450
        [frame]
            image="units/kharos-sun/cavalryarcherII-attack2.png:500"
			sound=horse-canter.wav
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
	
	[attack_anim]
        [filter_attack]
            name=bow1
        [/filter_attack]
        missile_start_time=-150
		[if]
            hits=no
            [missile_frame]
                duration=150
                image="projectiles/missile-fire-n.png"
                image_diagonal="projectiles/missile-fire-ne.png"
            [/missile_frame]
        [/if]
        [else]
            hits=yes

            [missile_frame]
                duration=150
                image="projectiles/missile-fire-n.png"
                image_diagonal="projectiles/missile-fire-ne.png"
                offset=0~0.8
            [/missile_frame]

            {FIRE_BURST_SMALL}
        [/else]
        start_time=-400
        [frame]
            image="units/kharos-sun/cavalryarcherII-attack[1,2,1].png:[250,100*2]"
        [/frame]
        {SOUND:HIT_AND_MISS fire.wav bow-miss.ogg -400}
    [/attack_anim]
	
	[attack_anim]
        [filter_attack]
            name=bow2
        [/filter_attack]
        missile_start_time=-150
		[if]
            hits=no
            [missile_frame]
                duration=150
                image="projectiles/missile-ice-n.png"
                image_diagonal="projectiles/missile-ice-ne.png"
            [/missile_frame]
        [/if]
        [else]
            hits=yes

            [missile_frame]
                duration=150
                image="projectiles/missile-ice-n.png"
                image_diagonal="projectiles/missile-ice-ne.png"
                offset=0~0.8
            [/missile_frame]

            missile_start_time=0
			[missile_frame]
				duration=600
				image="projectiles/fire-burst-small-[1~8].png"
				image_diagonal="projectiles/fire-burst-small-[1~8].png"
				image_mod=~GS()~G(128)~B(255)
				offset=0.8~1.0
				sound=magic-faeriefire.ogg
			[/missile_frame]
        [/else]
        start_time=-400
        [frame]
            image="units/kharos-sun/cavalryarcherII-attack[1,2,1].png:[250,100*2]"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -400}
    [/attack_anim]
	
    {CAVALRY_RANGED_ANIM cavalryarcherII bow3 missile}
        
[/unit_type]
