#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Fanatic
    name= _ "Fanatic"
    race=human
    image="units/kharos-sun/fanatic.png"

    {TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=45
    movement_type=elusivefoot
    movement=6
    experience=60
    level=2
    alignment=neutral
    advances_to=null
    cost=35#34
    [advancement]
        strict_amla=yes
        max_times=1
        id=fanatic_killandrun
        description= _ "Kill and Run 2, +3 HP, +20% max XP"
        image="icons/boots_elven.png"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_KILLANDRUN 2}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=fanatic_melee
        description= _ "+1 strike on melee, +3 HP, +20% max XP"
        image="attacks/sword-fanatic.png"
        [effect]
            apply_to=attack
            name=berserker frenzy
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=fanatic_magicdodge
        description= _ "Magic Dodge on melee, +3 HP, +20% max XP"
        image="attacks/witch-fire.png"
        [effect]
            apply_to=attack
            name=berserker frenzy
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_EOMA_MAGIC_DODGE}
            [/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    {AMLA_DEFAULT}
    usage=fighter
    undead_variation=fanatic
    description= _ "Fanatics belong to a very unique cast of warriors in Kharos society. Equipped with enchanted blades converting enemy pain into healing power. Once deployed, they can outmatch even the strongest warriors."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [defend]
        hits=miss
        start_time=-100
        [frame]
            image="units/kharos-sun/fanatic.png:300"
            offset=0.0~-0.3:150,-0.3~0.0:150
        [/frame]
    [/defend]
    {DEFENSE_ANIM_FILTERED "units/kharos-sun/fanatic.png" "units/kharos-sun/fanatic.png" {SOUND_LIST:HUMAN_HIT} hits=yes}

    [resistance]
        blade=110
        pierce=110
        impact=110
        cold=90
        fire=90
    [/resistance]
    [defense]
        flat=50
        hills=40
        forest=40
        fungus=40
    [/defense]
    [attack]
        name=berserker frenzy
        description={STR_SWORD}
        icon=attacks/sword-fanatic.png
        type=blade
        range=melee
        damage=4
        number=5
        [specials]
            {WEAPON_SPECIAL_BERSERK}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    {SLICE_FRENZY_ANIM fanatic}
[/unit_type]
