#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Fire_Priestess
    name= _ "female^Fire Priestess"
    race=human
    gender=female
    image="units/kharos-sun/firepriestess1.png"
    ellipse="misc/ellipse"

    hitpoints=42
    movement_type=smallfoot
    movement=5
    experience=100
    level=2
    alignment=lawful
    advances_to=EoMa_Fire_Templar
    cost=37
    usage=mixed fighter
    undead_variation=cleric
    description= _ "Fire Priestess is a devout servant of the Order of Fire, a mystical sect known for harnessing the raw power of flame to annihilate their enemies. The order itself has existed for a long time, being founded during Kharos's unification wars, but was few in number for most of its history. However, that changed after the start of the Tharis invasion of Kharos.

Many former Clerics began flocking to the order in droves seeking vengeance, many of them having lost comrades or loved ones to the dark horde. Realizing that the kindness of the Light is too soft to deal with the merciless threat, they instead embrace the Sun's righteous fury. Rather than specializing in healing their comrades like Bishops do, Fire Priestesses believe that the best way to save lives is to vaporize an enemy before he is able to wound or kill anyone.

With a flick of her wrist, a Fire Priestess can summon waves of burning fury to engulf her enemies, reducing them to ash and smoke. Her eyes burn bright with holy fervor, her heart consumed by the fire of righteousness. For her, there is no greater honor than defending her kin and faith with every breath, every swing of her blade and every fireball launched at enemies of Kharos."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/kharos-sun/firepriestess-defend.png" "units/kharos-sun/firepriestess1.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
    ignore_race_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    [standing_anim]
        [frame]
            image="units/kharos-sun/firepriestess/00[01~32].png:42"
        [/frame]
    [/standing_anim]
    [abilities]
        {ABILITY_EOMA_SOLAR_REGENERATION 0 3}
    [/abilities]
	[defense]
		sand=60
	[/defense]
    [resistance]
        fire=80
        cold=90
        arcane=60
    [/resistance]
    ## [idle_anim]
    ## {STANDARD_IDLE_FILTER}
    ## start_time=0
    ## [frame]
    ## image="units/kharos-sun/firepriestess-magic-[1,2,1].png:[200,800,150]"
    ## [/frame]
    ## [/idle_anim]
    [attack]
        name=dagger
        description={STR_DAGGER}
        type=blade
        range=melee
        damage=4
        number=3
        icon=attacks/dagger-human.png
    [/attack]
    [attack]
        name=fireball
        description={STR_FIREBALL}
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=dagger
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/kharos-sun/[firepriestess1,firepriestess-attack-1,firepriestess-attack-2,firepriestess-defend,firepriestess1].png:[50,100,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL_XY 0 0}
        start_time=-200
        [frame]
            sound=fire.wav
            image=units/kharos-sun/[firepriestess-magic-1,firepriestess-magic-2,firepriestess-magic-3,firepriestess1].png:50
        [/frame]
    [/attack_anim]
[/unit_type]
