#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Fire_Swordsman
    name= _ "Fire Swordsman"
    race=human
    image="units/kharos-sun/fireslicer1.png"
    ellipse="misc/ellipse"
    
	{TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=44
    movement_type=elusivefoot
    movement=6
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=35
    usage=fighter
    undead_variation=fireslicer
    description={NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_BERSERK}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [standing_anim]
        start_time=0
        [frame]
            image="units/kharos-sun/fireslicer[1,2,3].png:100"
        [/frame]
    [/standing_anim]
    [defend]
        hits=miss
        start_time=-100
        [frame]
            image="units/kharos-sun/fireslicer-attack1-2.png:150"
            offset=0.0~-0.3
        [/frame]
        [frame]
            image="units/kharos-sun/fireslicer-attack1-2.png:150"
            offset=-0.3~0.0
        [/frame]
    [/defend]
    {DEFENSE_ANIM_FILTERED "units/kharos-sun/fireslicer-defend.png" "units/kharos-sun/fireslicer1.png" {SOUND_LIST:HUMAN_OLD_HIT} hits=yes}
	[resistance]
		blade=110
		pierce=110
		impact=110
		fire=90
		arcane=70
	[/resistance]
    [defense]
        flat=50
        hills=40
        forest=40
        fungus=40
    [/defense]
    [attack]
        name=berserker frenzy
        description={STR_SWORD}
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
    [/attack]
    [attack]
        name=berserker frenzy
        description={STR_SWORD}
        icon=attacks/sword-flaming.png
        type=fire
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=berserker frenzy
	    type=blade
        [/filter_attack]
            start_time=-300
            [frame]
                image="units/kharos-sun/fireslicer-attack1-2.png:200"
            [/frame]
            [if]
                hits=yes
                [frame]
                    image="units/kharos-sun/fireslicer-attack1-[3,4,2].png:[200,50*2]"
                    sound={SOUND_LIST:SWORD_SWISH}
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    image="units/kharos-sun/fireslicer-attack1-[3,4,2].png:[200,50*2]"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=berserker frenzy
	    type=fire
        [/filter_attack]
            start_time=-300
            [frame]
                image="units/kharos-sun/fireslicer-attack1-2.png:200"
            [/frame]
            [if]
                hits=yes
                [frame]
                    image="units/kharos-sun/fireslicer-attack[2-3,2-4,1-2].png:[200,50*2]"
                    sound=fire.wav
                [/frame]
            [/if]
            [else]
                hits=no
                [frame]
                    image="units/kharos-sun/fireslicer-attack[2-3,2-4,1-2].png:[200,50*2]"
                    sound=torch-miss.ogg
                [/frame]
            [/else]
    [/attack_anim]
[/unit_type]
