#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Kharos_Massive_Warbanner
    name= _ "Grand Kharosian Warbanner"
    race=human
    image="units/kharos-light/warbannerkharos.png"
    image_icon="units/kharos-light/warbannerkharos-icon.png"

    hitpoints=85
    movement_type=armoredfoot
    movement=4
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=70#67
    {TRAIT_FEARLESS_MUSTHAVE}
    usage=healer
    undead_variation=banner
    description= _ "It's common practice in the Kharosian military to use war banners to boost the nearby troops' morale. The banner itself shows the Kharos nation's emblem - the golden sun. It's protected by two people - a cleric, who shoots nearby foes with beams of light, and a soldier who carries the banner. The cleric also creates a protective aura on the banner, which decreases power of destructive spells casted against it."
    {DEFENSE_ANIM "units/kharos-light/warbannerkharos.png" "units/kharos-light/warbannerkharos.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [abilities]
        {ABILITY_EOMA_HEAL 4}
        {ABILITY_EOMA_AWE_LEVEL2}
        {ABILITY_LEADERSHIP}
    [/abilities]
    [resistance]
        blade=90
        pierce=90
        impact=85
        arcane=60
        fire=70
        cold=70
    [/resistance]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        {KHAROS_BANNER_MAGIC_ANIM warbannerkharos 5 -40 150 150 150 250 50}
    [/idle_anim]
    [healing_anim]
        start_time=-450
        {KHAROS_BANNER_MAGIC_ANIM warbannerkharos 5 -40 150 150 150 250 50}
    [/healing_anim]
    [leading_anim]
        start_time=-150
        {KHAROS_BANNER_MAGIC_ANIM warbannerkharos 5 -40 150 50 75 125 25}
    [/leading_anim]
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=lightbeam
        description={STR_LIGHTBEAM}
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_MAGICAL_OFFENSIVE}
            {WEAPON_SPECIAL_EOMA_ENCHANTED}
        [/specials]
        damage=8
        number=3
    [/attack]
    {KHAROS_BANNER_LIGHTBEAM_ANIM warbannerkharos 5 -40 150}
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        missile_start_time=-250
        [if]
            direction=s
            [missile_frame]
                image="units/kharos-light/warbanner-projectile-s.png:250"
                image_diagonal="units/kharos-light/warbanner-projectile-s.png"
                offset=0.0~0.6
                auto_vflip=no
            [/missile_frame]
            [missile_frame]
                image="units/kharos-light/warbanner-projectile.png:250"
                image_diagonal="units/kharos-light/warbanner-projectile.png"
                offset=0.6~0.0
                auto_vflip=no
                x=0~15:250
            [/missile_frame]
        [/if]
        [else]
            direction=se,sw
            [missile_frame]
                image="units/kharos-light/warbanner-projectile-se.png:250"
                image_diagonal="units/kharos-light/warbanner-projectile-se.png"
                offset=0.0~0.6
                auto_vflip=no
            [/missile_frame]
            [missile_frame]
                image="units/kharos-light/warbanner-projectile.png:250"
                image_diagonal="units/kharos-light/warbanner-projectile.png"
                offset=0.6~0.0
                auto_vflip=no
            [/missile_frame]
        [/else]
        [else]
            [missile_frame]
                image="units/kharos-light/warbanner-projectile.png:250"
                image_diagonal="units/kharos-light/warbanner-projectile.png"
                offset=0.0~0.6
                auto_vflip=no
                layer=39
            [/missile_frame]
            [missile_frame]
                image="units/kharos-light/warbanner-projectile.png:250"
                image_diagonal="units/kharos-light/warbanner-projectile.png"
                offset=0.6~0.0
                auto_vflip=no
                layer=39:225,39~41:25
            [/missile_frame]
        [/else]
        start_time=-250
        [frame]
            image="units/kharos-light/warbannerkharos-melee.png:480"
            layer=40
        [/frame]
        [frame]
            image="units/kharos-light/warbannerkharos.png:20"
            layer=40
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
[/unit_type]
