#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Heavy_Cavalry
    name= _ "Heavy Cavalry"
    image="units/kharos-sun/heavycavalryarcher.png"

    race=human
    hitpoints=53
    movement_type=mounted
    movement=7
    experience=84#86
    level=2
    alignment=neutral
    advances_to=EoMa_Kharosian_Cataphract
    cost=32
    usage=scout
    undead_variation=heavycavalryarcher
    description= _ "Those Cavalry Archers who don´t dabble with foreign magic armour their horses with good and solid metal instead. They are still fearsome archers and their horses are strong too, but theiy have given some mobility in exchange for their heavier armour."
    die_sound=horse-die.ogg
    [abilities]
    [/abilities]
    [defense]
        village=60
        forest=70
    [/defense]
    [resistance]
        blade=80
        pierce=90
        impact=60
        fire=105
        cold=105
    [/resistance]
    [attack]
        name=bowclose
        description=_"trample"
        icon=attacks/trample-horse.png
        type=impact
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=bow3
        description=_"arrow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=9
        number=2
    [/attack]
    {DEFENSE_ANIM "units/kharos-sun/heavycavalryarcher-attack2.png" "units/kharos-sun/heavycavalryarcher.png" {SOUND_LIST:HORSE_HIT} }
    {CAVALRY_RANGED_ANIM heavycavalryarcher bow3 missile}
    [attack_anim]
        [filter_attack]
            name=bowclose
        [/filter_attack]
        start_time=-450
        [frame]
            image="units/kharos-sun/heavycavalryarcher-attack[2,1].png:[400,100]"
            sound=horse-canter.wav
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
