#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Inspired
    name= _ "female^Inspired"
    race=human
    gender=female
    image="units/kharos-light/inspired.png"

    hitpoints=40
    movement_type=smallfoot
    movement=6
    experience=100
    level=2
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=36
    {TRAIT_FEARLESS}
    usage=mixed fighter
    undead_variation=sister
    description= _ "When a Sister of light grows older and sees more of the harsh world she may not only be filled with more light, but also with courage and bravery. If this is the case she learns the way of the sword from the Golden Warriors and the way of the bow from the archers. While learning this way of the warrior she is still able to wield the arcane magic of the light which she bound to her arrows. Paired with her courage and bravery she inspire the younger and more inexperienced soldiers of Kharos to fight ever harder for the light and the sun."
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM_RANGE "units/kharos-light/inspired-draw-a5.png" "units/kharos-light/inspired-draw-a5.png" {SOUND_LIST:HUMAN_FEMALE_HIT} melee}
    {DEFENSE_ANIM_RANGE "units/kharos-light/inspired-draw-b5.png" "units/kharos-light/inspired-draw-b5.png" {SOUND_LIST:HUMAN_FEMALE_HIT} ranged}

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=60
    [/resistance]
    flying=yes
    [defense]
        deep_water=70
        shallow_water=70
        swamp_water=70
        frozen=60
    [/defense]
    [movement_costs]
        deep_water=2
        shallow_water=1
        swamp_water=1
        reef=1
        frozen=2
    [/movement_costs]
    [abilities]
        {ABILITY_EOMA_AWAKE}
        {ABILITY_EOMA_INSPIRE_LEVEL2}
    [/abilities]
    [draw_weapon_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=0
        [frame]
            image="units/kharos-light/inspired-draw-a[1~5].png:100"
        [/frame]
    [/draw_weapon_anim]
    [draw_weapon_anim]
        [filter_attack]
            name=lightbeam
        [/filter_attack]
        start_time=0
        [frame]
            image="units/kharos-light/inspired-draw-[a1,b2,b3,b4,b5].png:100"
        [/frame]
    [/draw_weapon_anim]
    [attack]
        name=staff
        description={STR_SWORD}
        type=blade
        range=melee
        damage=10
        number=2
        icon=attacks/sword-elven.png
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=bow
        description={STR_BOW}
        type=pierce
        range=ranged
        damage=7
        number=3
        icon=attacks/bow-elven.png
    [/attack]
    [attack]
        name=bow2
        description= _ "holy arrow"
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=15
        number=1
        icon=attacks/bow-elven-holy.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-300
        [frame]
            image="units/kharos-light/inspired-melee[1~3].png:[200,250,200]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]
        missile_start_time=-180
        [missile_frame]
            image="projectiles/missile-n.png:180"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-225
        [frame]
            image="units/kharos-light/inspired-ranged[1,2].png:[150,225]"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -75}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow2
        [/filter_attack]
        missile_start_time=-150
        halo_start_time=-350
        [if]
            hits=no
            [missile_frame]
                duration=150
                image="projectiles/missile-holy-n.png"
                image_diagonal="projectiles/missile-holy-ne.png"
            [/missile_frame]
        [/if]
        [else]
            hits=yes

            [missile_frame]
                duration=150
                image="projectiles/missile-holy-n.png"
                image_diagonal="projectiles/missile-holy-ne.png"
                offset=0~0.8
            [/missile_frame]

            missile2_start_time=-90
            [missile2_frame]
                halo="halo/holy/light-beam-[1~7,6~1].png~SCALE(125,545):[30*6,130,70*6]"
                offset=1.0
                auto_vflip=false
                sound={SOUND_LIST:HOLY}
            [/missile2_frame]
        [/else]
        [if]
            direction=s,se,ne,n
            [halo_frame]
                offset=0.0
                image="halo/sb-09.png:500"
                x,y=10,-6
                layer=99
                alpha=0~0.8:200,0.85:200,0.8~0:100
                auto_hflip=false
                sound=um-miss.ogg
            [/halo_frame]
        [/if]
        [else]
            direction=sw,nw
            [halo_frame]
                offset=0.0
                image="halo/sb-09.png:500"
                x,y=-12,-6
                layer=99
                alpha=0~0.8:200,0.85:200,0.8~0:100
                auto_hflip=false
                sound=um-miss.ogg
            [/halo_frame]
        [/else]
        start_time=-350
        [frame]
            image="units/kharos-light/inspired-ranged[1,2,1].png:[150,325,100]"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -75}
    [/attack_anim]
[/unit_type]
