#textdomain wesnoth-Era_of_Magic
[unit_type]
	[base_unit]
		id=EoMa_Kharosian_Impaler
	[/base_unit]
    id=EoMa_Kharosian_Impaler_rpg
    hitpoints=66
    [resistance]
        cold=90
    [/resistance]
    [attack]
        damage=11
    [/attack]
    [attack]
        damage=17
    [/attack]
	[attack]
        name=spear3
        description= _ "holy javelin"
        icon=attacks/javelin-human.png
        type=arcane
        range=ranged
        damage=13
		number=2
    [/attack]
    [attack_anim]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear2,spear3
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/spear-n.png:150"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/kharos-sun/impaler-defend.png:[100,250]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.wav {SOUND_LIST:MISS} -150}
    [/attack_anim]
[/unit_type]
