#textdomain wesnoth-Era_of_Magic
[unit_type]
	[base_unit]
		id=EoMa_Kharosian_Bulwark
	[/base_unit]
    id=EoMa_Kharosian_Bulwark_rpg
    [abilities]
        {ABILITY_EOMA_DEFENDER}
        {ABILITY_STEADFAST_RPG}
        {ABILITY_EOMA_SHIELDED}
    [/abilities]
    [resistance]
        blade=70
        pierce=70
        impact=70
        fire=100
        cold=100
		arcane=70
    [/resistance]
    [attack]
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
			{WEAPON_SPECIAL_EOMA_SHIELDED}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_SHIELDED}
        [/specials]
    [/attack]
    [attack]
		[specials]
            {WEAPON_SPECIAL_EOMA_SHIELDED}
        [/specials]
    [/attack]
[/unit_type]
