#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Kharos_Warbanner
    name= _ "Kharos War Banner"
    race=human
    image="units/kharos-light/warbanner.png"

    hitpoints=65
    movement_type=smallfoot
    movement=4
    experience=100
    level=2
    alignment=lawful
    advances_to=EoMa_Kharos_Massive_Warbanner
    cost=34
    usage=healer
    undead_variation=banner
    {TRAIT_FEARLESS_MUSTHAVE}
    description= _ "It's common practice in the Kharosian military to use war banners to boost the nearby troops' morale. The banner itself shows the Kharos nation's emblem - the golden sun. It's protected by two people - a cleric, who shoots nearby foes with beams of light, and a soldier who carries the banner. The cleric also creates a protective aura on the banner, which decreases power of destructive spells casted against it."
    {DEFENSE_ANIM "units/kharos-light/warbanner.png" "units/kharos-light/warbanner.png" {SOUND_LIST:HUMAN_FEMALE_HIT}}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    [abilities]
        {ABILITY_EOMA_AWE_LEVEL1}
        {ABILITY_LEADERSHIP}
    [/abilities]
    [resistance]
        blade=95
        pierce=95
        impact=95
        arcane=70
        fire=90
        cold=90
    [/resistance]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        {KHAROS_BANNER_MAGIC_ANIM warbanner 4 -14 100 150 150 250 50}
    [/idle_anim]
    [leading_anim]
        start_time=-150
        {KHAROS_BANNER_MAGIC_ANIM warbanner 4 -14 100 50 75 125 25}
    [/leading_anim]
    [attack]
        name=banner
        description=_"banner"
        type=impact
        range=melee
        damage=10
        number=1
        icon=attacks/quarterstaff.png
    [/attack]
    [attack]
        name=lightbeam
        description={STR_LIGHTBEAM}
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=7
        number=3
    [/attack]
    {KHAROS_BANNER_LIGHTBEAM_ANIM warbanner 4 -14 100}
    [attack_anim]
        [filter_attack]
            name=banner
        [/filter_attack]
        start_time=-300
        [frame]
            duration=300
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
