#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Kharosian_Legionnaire
    name= _ "Kharosian Legionnaire"
    race=human
    image="units/kharos-sun/legionnaire.png"

    hitpoints=70
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=45
    usage=fighter
    {TRAIT_FEARLESS}
    undead_variation=avenger
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_EOMA_SHIELDED}
    [/abilities]
    [resistance]
        blade=70
        pierce=70
        impact=70
        arcane=60
    [/resistance]
    {SHIELDER_DEFENSE_ANIM legionnaire-defend legionnaire-defend-2 legionnaire-defend}
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=10
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_EOMA_REVENGE}
            {WEAPON_SPECIAL_EOMA_SHIELDED}
        [/specials]
    [/attack]
    [attack]
        name=shield
        description=_"shield"
        icon=attacks/rectangular-shield.png
        type=impact
        range=melee
        damage=17
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_REVENGE}
            {WEAPON_SPECIAL_EOMA_SHIELDED}
        [/specials]
    [/attack]
    [attack]
        name=spear2
        description={STR_SPEAR}
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=12
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/kharos-sun/legionnaire-attack1.png:100"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=100
                image="units/kharos-sun/legionnaire-attack[2,1].png:[200,100]"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            [frame]
                image="units/kharos-sun/[legionnaire-attack2,legionnaire].png:[200,100]"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear2
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/spear-n.png:150"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/kharos-sun/[legionnaire-attack1,legionnaire].png:[100,250]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.wav {SOUND_LIST:MISS} -150}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/kharos-sun/legionnaire.png:350"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
[/unit_type]
