#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Kirios
    name= _ "Kirios"
    race=human
    image="units/kharos-sun/kirios.png"
    hitpoints=90
    movement_type=smallfoot
    movement=5
    experience=200
    level=4
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=83
    usage=fighter
    undead_variation=sunfollower
    description= _ "The Kirios is a sun guardian who reached the peak of connection to the sun, at least to an extent achievable by a human being. During the day, he is able to easily regenerate even some of the wounds that would be lethal for anyone else, and his willpower is so strong, that he treats barrages of enemy spells as if they were just a gentle breeze. Kirios is able to summon large beams of solar energy, which are able to fry multiple foes in a row. He's also the commander-in-chief of the Kharos army."
    die_sound=silence.ogg
    [abilities]
        {ABILITY_EOMA_SOLAR_REGENERATION 8 12}
    [/abilities]
    [resistance]
        arcane=15
        fire=35
        cold=35
        blade=90
        pierce=90
        impact=90
    [/resistance]
    [defend]
        start_time=-100
        [filter_attack]
            [not]
                type=fire,cold,arcane
            [/not]
        [/filter_attack]
        [frame]
            image="units/kharos-sun/kirios-defend.png:[10,180,10]"
        [/frame]
    [/defend]
    [defend]
        start_time=-100
        [filter_attack]
            type=fire,cold,arcane
        [/filter_attack]
        [frame]
            image="units/kharos-sun/kirios-defend.png:[10,180,10]"
            halo=halo/elven/elven-shield-halo-[20,40,60,80,100,80,60,40,20]pct.png:[25*2,50*2,100,50,25*3]
            halo_mod=~SCALE(180,180)~GS()~CS(200,150,0)~BLEND(200,150,0,0.3)
            halo_y=-4
        [/frame]
    [/defend]
    [death]
        missile_start_time=0
        start_time=-500
        halo_start_time=-500
        [missile_frame]
            offset=0.0
            halo="halo/silverwarrior-teleport[3~7].png:100"
            halo_y=-400
            sound=lightning-miss.ogg
        [/missile_frame]
        [halo_frame]
            offset=0.0
            offset=0.0
            image="halo/sb-09.png:550"
            layer=99
            alpha=0~0.8:200,0.85:300,0.8~0:50
            auto_hflip=false
        [/halo_frame]
        [frame]
            blend_ratio=0~1:200,1:350
            blend_color=255,255,0
            sound=um.ogg
        [/frame]
    [/death]

    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=14
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=fusion2
        description=_"fusion"
        type=fire
        range=ranged
        damage=12
        number=3
        icon=attacks/explosion.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=fusionbeam
        description=_"solar beam"
        type=fire
        range=ranged
        damage=17
        number=2
        icon=attacks/solarbeam.png
        [specials]
            {WEAPON_SPECIAL_EOMA_BEAM}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/kharos-sun/kirios-attack1.png:100"
        [/frame]
        [if]
            hits=hit
            [frame]
                image="units/kharos-sun/kirios-attack[2,3,3].png:[200,50*2]"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=miss
            [frame]
                image="units/kharos-sun/kirios-attack[2,3,2].png:[200,50*2]"
                sound=spear-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
#define KIRIOS_FUSIONBEAM_HELPER
    #Repeating part of code not directional
    missile_start_time=-500
    glow_start_time=-500
    [glow_frame]
        image="projectiles/sunfocus-missile-ne.png:300"
        offset=0.5
        alpha=0.0~1.0
        layer=99
    [/glow_frame]
    [glow_frame]
        image="projectiles/sunfocus-missile-ne.png:200"
        offset=0.5
        alpha=1.0~0.0
        layer=99
    [/glow_frame][glow_frame]
    image="projectiles/sunfocus-missile-ne.png:500"
    offset=0.5
    alpha=1.0
    layer=99
[/glow_frame]
[missile_frame]
    offset=0.5
    image="halo/sb-[01~03].png:50"
[/missile_frame]
[missile_frame]
    offset=0.5
    image="halo/sb-[04~09].png:50"
    sound=magic-faeriefire.ogg
[/missile_frame]
start_time=-500
[frame]
    image="units/kharos-sun/kirios-attack[1~3,1~3].png:200"
[/frame]
#enddef
    [attack_anim]
        [filter_attack]
            name=fusionbeam
        [/filter_attack]
        direction=s,n
        {KIRIOS_FUSIONBEAM_HELPER}
        [missile_frame]
            offset=0.0
            image="halo/beam-s[1,2,1,2,1].png~FL(vert):100"
            sound=lightning.ogg
        [/missile_frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fusionbeam
        [/filter_attack]
        direction=ne,nw,se,sw
        {KIRIOS_FUSIONBEAM_HELPER}
        [missile_frame]
            offset=0.0
            image="halo/beam-ne[1,2,1,2,1].png:100"
            sound=lightning.ogg
        [/missile_frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fusion2
        [/filter_attack]
        missile_start_time=-450
        halo_start_time=-500
        [missile_frame]
            offset=1.0
            image="halo/sb-[01~03].png:62"
        [/missile_frame]
        [missile_frame]
            offset=1.0
            image="halo/sb-[04~08].png:62"
            sound=magic-faeriefire.ogg
        [/missile_frame]
        [if]
            direction=s,se,ne,n
            [halo_frame]
                offset=0.0
                image="halo/sb-09.png:500"
                x,y=28,-4
                layer=99
                alpha=0~0.8:200,0.85:200,0.8~0:100
                auto_hflip=false
            [/halo_frame]
        [/if]
        [else]
            direction=sw,nw
            [halo_frame]
                offset=0.0
                image="halo/sb-09.png:500"
                x,y=-35,-4
                layer=99
                alpha=0~0.8:200,0.85:200,0.8~0:100
                auto_hflip=false
            [/halo_frame]
        [/else]
        start_time=-500
        [frame]
            image="units/kharos-sun/kirios-attack2.png:550"
        [/frame]
    [/attack_anim]
[/unit_type]
