#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Kirios
    [/base_unit]
    id=EoMa_Kirios_rpg
    [resistance]
        arcane=50
        fire=65
        cold=65
    [/resistance]
	[abilities]
        {ABILITY_EOMA_SOLAR_REGENERATION 3 5}
    [/abilities]
    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
        damage=15
        number=1
    [/attack]
[/unit_type]
