#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Mystical_Archer
    name= _ "Mystical Archer"
    image="units/kharos-sun/cavalryarcherIII.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    race=human
    hitpoints=56
    movement_type=mounted
    movement=9
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=58
    usage=scout
    undead_variation=elementalarcher
    description={NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_SLOW}
    die_sound=horse-die.ogg
	[defense]
        village=60
        forest=70
    [/defense]
    [resistance]
		fire=70
		cold=70
        blade=90
        pierce=110
        impact=80
        arcane=70
    [/resistance]
    [standing_anim]
        start_time=0
        [frame]
            image="units/kharos-sun/[cavalryarcherIII,cavalryarcherIII-1,cavalryarcherIII-2].png:150"
        [/frame]
    [/standing_anim]
    [attack]
        name=bowclose
        description=_"trample"
        icon=attacks/trample-horse.png
        type=impact
        range=melee
        damage=11
        number=2
    [/attack]
    [attack]
        name=bow1
        description=_"fire arrow"
        icon=attacks/bow-elven-fire.png
        type=fire
        range=ranged
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=bow2
        description=_"ice arrow"
        icon=attacks/bow-elven-magic.png
        type=cold
        range=ranged
        damage=8
        number=3
        [specials]
			{WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack]
        name=bow3
        description=_"enchanted arrow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=9
        number=4
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
		[/specials]
    [/attack]
    [attack]
        name=bow4
        description=_"holy arrow"
        icon=attacks/bow-elven-holy.png
        type=arcane
        range=ranged
        damage=16
        number=2
        [specials]
		{WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/kharos-sun/cavalryarcherIII.png" "units/kharos-sun/cavalryarcherIII.png" {SOUND_LIST:HORSE_HIT} }

    [attack_anim]
        [filter_attack]
            name=bowclose
        [/filter_attack]
        start_time=-450
        [frame]
            image="units/kharos-sun/cavalryarcherIII-attack2.png:500"
			sound=horse-canter.wav
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
	
	[attack_anim]
        [filter_attack]
            name=bow1
        [/filter_attack]
        missile_start_time=-150
		[if]
            hits=no
            [missile_frame]
                duration=150
                image="projectiles/missile-fire-n.png"
                image_diagonal="projectiles/missile-fire-ne.png"
            [/missile_frame]
        [/if]
        [else]
            hits=yes

            [missile_frame]
                duration=150
                image="projectiles/missile-fire-n.png"
                image_diagonal="projectiles/missile-fire-ne.png"
                offset=0~0.8
            [/missile_frame]

            {FIRE_BURST_SMALL}
        [/else]
        start_time=-400
        [frame]
            image="units/kharos-sun/cavalryarcherIII-attack[1,2,1].png:[250,100*2]"
        [/frame]
        {SOUND:HIT_AND_MISS fire.wav bow-miss.ogg -400}
    [/attack_anim]
	
	[attack_anim]
        [filter_attack]
            name=bow2
        [/filter_attack]
        missile_start_time=-150
		[if]
            hits=no
            [missile_frame]
                duration=150
                image="projectiles/missile-ice-n.png"
                image_diagonal="projectiles/missile-ice-ne.png"
            [/missile_frame]
        [/if]
        [else]
            hits=yes

            [missile_frame]
                duration=150
                image="projectiles/missile-ice-n.png"
                image_diagonal="projectiles/missile-ice-ne.png"
                offset=0~0.8
            [/missile_frame]

            missile_start_time=0
			[missile_frame]
				duration=600
				image="projectiles/fire-burst-small-[1~8].png"
				image_diagonal="projectiles/fire-burst-small-[1~8].png"
				image_mod=~GS()~G(128)~B(255)
				offset=0.8~1.0
				sound=magic-faeriefire.ogg
			[/missile_frame]
        [/else]
        start_time=-400
        [frame]
            image="units/kharos-sun/cavalryarcherIII-attack[1,2,1].png:[250,100*2]"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -400}
    [/attack_anim]
	[attack_anim]
        [filter_attack]
            name=bow4
        [/filter_attack]
        missile_start_time=-150
            halo_start_time=-350
		[if]
            hits=no
            [missile_frame]
                duration=150
                image="projectiles/missile-holy-n.png"
                image_diagonal="projectiles/missile-holy-ne.png"
            [/missile_frame]
        [/if]
        [else]
            hits=yes

            [missile_frame]
                duration=150
                image="projectiles/missile-holy-n.png"
                image_diagonal="projectiles/missile-holy-ne.png"
                offset=0~0.8
            [/missile_frame]

            missile2_start_time=-90
        [missile2_frame]
            halo="halo/holy/light-beam-[1~7,6~1].png~SCALE(125,545):[30*6,130,70*6]"
            offset=1.0
            auto_vflip=false
	    sound={SOUND_LIST:HOLY}
        [/missile2_frame]
        [/else]
        start_time=-400
        [if]
         direction=s,se,ne,n
        [halo_frame]
            offset=0.0
            image="halo/sb-09.png:500"
            x,y=15,-6
            layer=99
            alpha=0~0.8:200,0.85:200,0.8~0:100
            auto_hflip=false
            sound=um-miss.ogg
        [/halo_frame]
        [/if]
        [else]
         direction=sw,nw
        [halo_frame]
            offset=0.0
            image="halo/sb-09.png:500"
            x,y=-17,-6
            layer=99
            alpha=0~0.8:200,0.85:200,0.8~0:100
            auto_hflip=false
            sound=um-miss.ogg
        [/halo_frame]
        [/else]
        [frame]
            image="units/kharos-sun/cavalryarcherIII-attack[1,2,1].png:[250,100*2]"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -400}
    [/attack_anim]
	
    {CAVALRY_RANGED_ANIM cavalryarcherIII bow3 missile}
        
[/unit_type]
