#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Platinum_Warrior
    name= _ "Platinum Warrior"
    race=human
    image="units/kharos-sun/platinumwarrior.png"
    profile="portraits/kharos/platinum-warrior.png"
    small_profile="portraits/kharos/platinum-warrior.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=75
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=52
    usage=fighter
    undead_variation=brownwarrior
	{TRAIT_FEARLESS}
    description= _ "Platinum warriors are equipped with various weapons - a very sharp sword, silver spear and mace. They are elite knights of Kharos, prepared for any foe posing a threat the nation of Kharos."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        blade=70
        pierce=70
        impact=70
    [/resistance]
    [attack]
        name=white sword
        description={STR_SWORD}
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=11
        number=4
    [/attack]
    [attack]
        name=mace
        description={STR_MACE}
        icon=attacks/mace-spiked.png
        type=impact
        range=melee
        damage=20
        number=2
    [/attack]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=15
        number=3
    [/attack]
    {WHITE_SWORD_ANIM platinumwarrior}
    {BROWN_MACE_ANIM platinumwarrior}
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/kharos-sun/platinumwarrior-attack-[1,2,1]b.png:[50,350,50]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
