#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Shielder
    name= _ "Shielder"
    race=human
    image="units/kharos-sun/shielder.png"
    ellipse="misc/ellipse"

    hitpoints=36
    movement_type=smallfoot
    movement=5
    experience=38
    level=1
    alignment=lawful
    undead_variation=shielder
    advances_to=EoMa_Avenger,EoMa_Protector,EoMa_Kharosian_Javelineer,EoMa_Sun_Follower
    cost=16
    usage=fighter
    {TRAIT_FEARLESS}
    description= _ "Shielders are the Kharosian heavy infantry, carrying large tower shields, and wielding spears. They are very steadfast, and able to endure enemy attacks for quite a while. A phalanx of them can be very difficult to break through. Although their tower shields protect them well against physical force, they don't really offer protection against magic."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [standing_anim]
        [frame]
            image="units/kharos-sun/shielder/00[01~32].png:42"
        [/frame]
    [/standing_anim]
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [resistance]
        arcane=85
        blade=85
        pierce=85
        impact=85
        fire=105
        cold=105
    [/resistance]
    {SHIELDER_DEFENSE_ANIM shielder-defend shielder-defend-2 shielder-defend}
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=6
        number=3
        icon=attacks/spear.png
    [/attack]
    [attack]
        name=shield
        description=_"shield"
        icon=attacks/rectangular-shield.png
        type=impact
        range=melee
        damage=10
        number=1
    [/attack]
    [attack]
        name=spear2
        description={STR_SPEAR}
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=6
        number=1
    [/attack]
    {SHIELDERS_ATTACK_ANIM shielder}
    [attack_anim]
        [filter_attack]
            name=spear2
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/spear-n.png:150"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/kharos-sun/shielder-attack-[ranged2,ranged,ranged2].png:[100,150,100]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.wav {SOUND_LIST:MISS} -150}
    [/attack_anim]
[/unit_type]
