#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Sister_of_Light
    name= _ "female^Sister of Light"
    race=human
    gender=female
    image="units/kharos-light/sister.png"
    ellipse="misc/ellipse"

    hitpoints=29
    movement_type=smallfoot
    movement=6
    experience=40
    level=1
    alignment=lawful
    undead_variation=sister
    advances_to=EoMa_Child_of_Light,EoMa_Inspired
    {TRAIT_FEARLESS}
    cost=17
    usage=mixed fighter
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
    {DEFENSE_ANIM "units/kharos-light/sister.png" "units/kharos-light/sister.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=60
    [/resistance]
    flies=true
    [defense]
        deep_water=70
        shallow_water=70
        swamp_water=70
    [/defense]
    [movement_costs]
        deep_water=2
        shallow_water=1
        swamp_water=1
        reef=1
    [/movement_costs]
    [abilities]
        {ABILITY_EOMA_HEALS2}
        {ABILITY_EOMA_INSPIRE_LEVEL1}
    [/abilities]
    [attack]
        name=lighttouch
        description=_"light touch"
        type=arcane
        range=melee
        damage=5
        number=2
        icon=attacks/touch-faerie.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=lightbeam
        description=_"ray of light"
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=12
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=lighttouch
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/kharos-light/sister.png:450"
            halo="projectiles/zmage-preparation-halo[1~7,7~1].png:[25*14]"
            halo_mod=~GS()~CS(32,32,32)
            halo_x,halo_y=8,0
            sound={SOUND_LIST:HOLY}
        [/frame]
        {SOUND:HIT_AND_MISS um.ogg um-miss.ogg -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=flames
        [/filter_attack]
        start_time=-350
        missile_start_time=-350
        [missile_frame]
            image="halo/enchanted2-recruit[1~7,7~1].png:50"
            offset=1
        [/missile_frame]
        {SOUND:HIT_AND_MISS um.ogg um-miss.ogg -350}
    [/attack_anim]
#define SISTER_LASER VARIATION DIR FACING HALO_X HALO_Y
    [attack_anim]
        [filter_attack]
            name=lightbeam
        [/filter_attack]
        direction={DIR}
        missile_start_time=-100
        [missile_frame]
        [/missile_frame]
        start_time=-300
        [frame]
            image="units/kharos-light/sister.png:150"
            sound={SOUND_LIST:HOLY}
        [/frame]
        [frame]
            image="units/kharos-light/sister.png:350"
            halo=halo/laser-{VARIATION}-[1,2,3,4,5,2].png:100
            sound="magic-dark-big.ogg"
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            image="units/kharos-light/sister.png:100"
        [/frame]
    [/attack_anim]
#enddef
    {SISTER_LASER 1 n n 0 -12}
    {SISTER_LASER 2 s s 0 53}
    {SISTER_LASER 3 ne,nw s 28 -1}
    {SISTER_LASER 4 se,sw s 27 36}
[/unit_type]
