#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Slicer
    name= _ "Slicer"
    race=human
    image="units/kharos-sun/slicer.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
	{TRAIT_FEARLESS_MUSTHAVE}
    hitpoints=30
    movement_type=elusivefoot
    movement=6
    experience=42
    level=1
    alignment=lawful
    advances_to=EoMa_Fanatic,EoMa_Fire_Swordsman
    cost=16
    usage=fighter
    undead_variation=fanatic
    description= _ "Slicers are fanatical, and acrobatic warriors, who are trained to efficiently and quickly eliminate foes with poor melee combat skills, such as enemy mages, but are not that effective against enemy infantry."{SPECIAL_NOTES}+{SPECIAL_NOTES_BERSERK}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/kharos-sun/slicer.png" "units/kharos-sun/slicer.png" {SOUND_LIST:HUMAN_OLD_HIT} }
	[resistance]
		blade=120
		pierce=110
	[/resistance]
    [idle_anim]
        start_time=0
        [frame]
            image="units/kharos-sun/slicer-attack-[3~10].png:150"
        [/frame]
    [/idle_anim]
    [defense]
        flat=50
        hills=40
        forest=40
        fungus=40
    [/defense]
    [attack]
        name=berserker frenzy
        description={STR_SWORD}
        icon=attacks/sword-human-short.png
        type=blade
        range=melee
        damage=3
        number=5
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
    [/attack]
    {SLICE_FRENZY_ANIM slicer}
[/unit_type]
