#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Solar_Guardian
    name= _ "Solar Guardian"
    race=human
    image="units/kharos-sun/sunguardian.png"

    hitpoints=68
    movement_type=eoma_smallfoot
    movement=5
    experience=193#185
    level=3
    alignment=lawful
    advances_to=EoMa_Kirios
    cost=59#56
    usage=fighter
    undead_variation=sunfollower
    description= _ "Sun followers with enough skill and talent become true Solar Guardians. Their connection to the sun is quite stronger than that of sun followers, strengthening the effects of solar regeneration, and spell damage negation. They also learned how to create tiny fusions near their foes, which are quite harmful for their size. They are usually assigned to protecting very important Kharosian shrines."
    die_sound=silence.ogg
    [resistance]
        arcane=30
        fire=50
        cold=50
        impact=90
    [/resistance]
    [abilities]
        {ABILITY_EOMA_SOLAR_REGENERATION 5 8}
    [/abilities]
    [defend]
        start_time=-100
        [filter_attack]
            [not]
                type=fire,cold,arcane
            [/not]
        [/filter_attack]
        [frame]
            image="units/kharos-sun/sunguardian-defend.png:[10,180,10]"
        [/frame]
    [/defend]
    [defend]
        start_time=-100
        [filter_attack]
            type=fire,cold,arcane
        [/filter_attack]
        [frame]
            image="units/kharos-sun/sunguardian-defend.png:[10,180,10]"
            halo=halo/elven/elven-shield-halo-[20,40,60,80,100,80,60,40,20]pct.png:[25*2,50*2,100,50,25*3]
            halo_mod=~SCALE(180,180)~GS()~CS(200,150,0)~BLEND(200,150,0,0.3)
            halo_y=-4
        [/frame]
    [/defend]
    [death]
        missile_start_time=0
        start_time=-500
        halo_start_time=-500
        [missile_frame]
            offset=0.0
            halo="halo/silverwarrior-teleport[3~7].png:100"
            halo_y=-400
            sound=lightning-miss.ogg
        [/missile_frame]
        [halo_frame]
            offset=0.0
            offset=0.0
            image="halo/sb-09.png:550"
            layer=99
            alpha=0~0.8:200,0.85:300,0.8~0:50
            auto_hflip=false
        [/halo_frame]
        [frame]
            blend_ratio=0~1:200,1:350
            blend_color=255,255,0
            sound=um.ogg
        [/frame]
    [/death]
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=11
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=fusion
        description=_"fusion"
        type=fire
        range=ranged
        damage=8
        number=3
        icon=attacks/explosion.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {SUN_SPEAR_ANIM sunguardian}
    [attack_anim]
        [filter_attack]
            name=fusion
        [/filter_attack]
        missile_start_time=-450
        halo_start_time=-500
        [missile_frame]
            offset=1.0
            image="halo/sb-[01~03].png:62"
        [/missile_frame]
        [missile_frame]
            offset=1.0
            image="halo/sb-[04~08].png:62"
            sound=magic-faeriefire.ogg
        [/missile_frame]
        [if]
            direction=s,se,ne,n
            [halo_frame]
                offset=0.0
                image="halo/sb-09.png:500"
                x,y=-24,-16
                layer=99
                alpha=0~0.8:200,0.85:200,0.8~0:100
                auto_hflip=false
            [/halo_frame]
        [/if]
        [else]
            direction=sw,nw
            [halo_frame]
                offset=0.0
                image="halo/sb-09.png:500"
                x,y=16,-16
                layer=99
                alpha=0~0.8:200,0.85:200,0.8~0:100
                auto_hflip=false
            [/halo_frame]
        [/else]
        start_time=-500
        [frame]
            image="units/kharos-sun/sunguardian-magic.png:550"
        [/frame]
    [/attack_anim]
[/unit_type]
