#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Sun_Follower
    name= _ "Sun Follower"
    race=human
    image="units/kharos-sun/sunfollower.png"

    hitpoints=52
    movement_type=smallfoot
    movement=5
    experience=90
    level=2
    alignment=lawful
    advances_to=EoMa_Sun_Guardian
    cost=27
    usage=fighter
    undead_variation=sunfollower
    description= _ "Sun Followers belong to the Sun Guardian caste. They wear masks covering their entire faces (including their eyes) which, in shape, are quite similar to sunflowers in shape, and thus, they are often mocked as 'sunflowers' by non-Kharosians. Even though their eyes are covered, they are still perfectly aware of their surroundings, since they 'use their soul' to sense things around them, allowing them to 'see' certain things that other can't, and making it pretty much impossible to sneak up on them. They harness energy from the sun, allowing them to heal their wounds. Their willpower, combined with their connection to the sun also allows them to negate some of the damage from spells cast on them. Unlike solar regeneration, spell damage negation and soul vision works even if it's dark."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound=silence.ogg
    [resistance]
        arcane=50
        fire=70
        cold=70
    [/resistance]
    [abilities]
        {ABILITY_EOMA_SOLAR_REGENERATION 2 5}
    [/abilities]
    [defend]
        start_time=-100
        [filter_attack]
            [not]
                type=fire,cold,arcane
            [/not]
        [/filter_attack]
        [frame]
            image="units/kharos-sun/sunfollower-defend.png:[10,180,10]"
        [/frame]
    [/defend]
    [defend]
        start_time=-100
        [filter_attack]
            type=fire,cold,arcane
        [/filter_attack]
        [frame]
            image="units/kharos-sun/sunfollower-defend.png:[10,180,10]"
            halo=halo/elven/elven-shield-halo-[20,40,60,80,100,80,60,40,20]pct.png:[25*2,50*2,100,50,25*3]
            halo_mod=~SCALE(180,180)~GS()~CS(200,150,0)~BLEND(200,150,0,0.3)~O(80%)
            halo_y=-4
        [/frame]
    [/defend]
    [death]
        missile_start_time=0
        start_time=-500
        halo_start_time=-500
        [missile_frame]
            offset=0.0
            halo="halo/silverwarrior-teleport[3~7].png:100"
            halo_y=-400
            sound=lightning-miss.ogg
        [/missile_frame]
        [halo_frame]
            offset=0.0
            offset=0.0
            image="halo/sb-09.png:550"
            layer=99
            alpha=0~0.8:200,0.85:300,0.8~0:50
            auto_hflip=false
        [/halo_frame]
        [frame]
            blend_ratio=0~1:200,1:350
            blend_color=255,255,0
            sound=um.ogg
        [/frame]
    [/death]
    [attack]
        name=spear
        description={STR_SPEAR}
        type=pierce
        range=melee
        damage=9
        number=3
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    {SUN_SPEAR_ANIM sunfollower}
[/unit_type]
