#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Savage_Roc_Rider
    name= _ "Savage Roc Rider"
    race=eoma_roc
    image="units/barbarians-rocs/rocsavage.png"
    profile="portraits/barbarians/rocrider.png"
    small_profile="portraits/barbarians/rocrider.png~SCALE(205,205)"

    hitpoints=49
    movement_type=fly
    movement=9
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=43
    usage=scout
    undead_variation=rocsavage
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:GRYPHON_DIE}
    {ROC_STANDING_ANIM rocsavage}
    [defense]
        mountains=40
    [/defense]
    [resistance]
        pierce=100
        impact=120
        fire=90
        cold=100
        arcane=100
    [/resistance]
    [abilities]
        {ABILITY_EOMA_BLOODLUST 2}
    [/abilities]
    [attack]
        name=claws
        description={STR_CLAWS}
        icon=attacks/claws-animal.png
        type=pierce
        range=melee
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_EOMA_MAGIC_COUNTER}
        [/specials]
    [/attack]
    [attack]
        name=bolas
        description=_"bolas"
        icon=attacks/bolas.png
        type=impact
        range=ranged
        damage=5
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_ATTACK_ONLY}
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_EOMA_MAGIC_DODGE}
        [/specials]
    [/attack]
    {DEFENSE_ANIM "units/barbarians-rocs/rocsavage1.png" "units/barbarians-rocs/rocsavage2.png" {SOUND_LIST:GRYPHON_HIT} }
    {DEFENSE_ANIM_FILTERED "units/barbarians-rocs/rocsavage-ns2.png" "units/barbarians-rocs/rocsavage-ns1.png" {SOUND_LIST:GRYPHON_HIT} (terrain_type=Q*,Mv)}
    {ROC_MELEE_ATTACK_ANIM rocsavage}
    [attack_anim]
        [filter_attack]
            name=bolas
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="projectiles/bolas-n.png:200"
            image_diagonal="projectiles/bolas-ne.png"
        [/missile_frame]
        start_time=-350
        [frame]
            image="units/barbarians-rocs/rocsavage[1~5].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bolas
        [/filter_attack]
        terrain_type=Q*,Mv
        missile_start_time=-200
        [missile_frame]
            image="projectiles/bolas-n.png:200"
            image_diagonal="projectiles/bolas-ne.png"
        [/missile_frame]
        start_time=-350
        [frame]
            image="units/barbarians-rocs/rocsavage-ns[1~5].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -100}
    [/attack_anim]
[/unit_type]
