#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Blue_Salamander
    name= _ "Blue Salamander"
    race=eoma_salamander
    image="units/darkblood-salamanders/bluesalamander.png"

    hitpoints=50
    movement_type=eoma_salamander
    movement=5
    experience=90
    level=2
    alignment=chaotic
    advances_to=EoMa_Salamander_Marine
    cost=31#33
    usage=mixed fighter
    description=_"Blue Salamanders are great at aquatic ambushes. They attack from the water much like a crocodile. Those that are unwary and attempt to swim in the dark swamps are heard never to come back. Blue salamanders wield tridents, along with exotic throwing weapons called chakram, with which they are able to hit far away enemies with deadly accuracy."
    die_sound=hiss-die.wav
    [standing_anim]
        [frame]
            image="units/darkblood-salamanders/bluesalamander/00[01~36].png:42"
        [/frame]
    [/standing_anim]
    [defend]
        start_time=-126
        [if]
            hit_sound_start_time=-25
            hits=hit
            [hit_sound_frame]
                sound=hiss-hit.wav
            [/hit_sound_frame]
        [/if]
    [/defend]
    num_traits=2
    ignore_race_traits=yes
    {TRAIT_FEARLESS_MUSTHAVE}
    {TRAIT_STRONG}
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    undead_variation=salamander
    [abilities]
        {ABILITY_EOMA_SWAMPAMBUSH}
        {ABILITY_EOMA_WATERAMBUSH}
    [/abilities]
    [movement_anim]
        start_time=0
        [frame]
            image="units/darkblood-salamanders/bluesalamander-moving[1~8].png:30"
        [/frame]
    [/movement_anim]
    [movement_costs]
        deep_water=1
    [/movement_costs]
    [defense]
        deep_water=50
        shallow_water=40
        swamp_water=40
        reef=40
    [/defense]
    [resistance]
        arcane=90
        pierce=80
        fire=90
        cold=100
    [/resistance]
    [attack]
        name=trident
        description=_"spear"
        range=melee
        type=pierce
        damage=7
        number=3
        icon=attacks/spear-orcish.png
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=trident
        description=_"spear"
        range=melee
        type=pierce
        damage=8
        number=2
        icon=attacks/spear-orcish.png
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=chakram
        description=_"chakram"
        range=ranged
        type=blade
        damage=8
        number=3
        icon=attacks/chakram.png
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=trident
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/darkblood-salamanders/bluesalamander-attack[1,2,1].png:[100,150,50]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=chakram
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/chakram.png:150"
            image_diagonal="projectiles/chakram.png"
        [/missile_frame]
        start_time=-350
        [frame]
            image="units/darkblood-salamanders/bluesalamander-attack-range[d,d2].png:200"
            sound=throwing-knife.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
