#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Chaos_Rider
    name= _ "Chaos Wyvern Knight"
    race=lizard
    image="units/darkblood-wyverns/chaosrider.png"
    profile="portraits/darkblood/chaosrider.png"
    small_profile="portraits/darkblood/chaosrider.png~SCALE(205,205)"
    hitpoints=77
    movement_type=fly
    movement=8
    experience=166
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=67#62
    usage=scout
    undead_variation=wyvernrider
    description={NO_DESCR_AVAILABLE}
    {DEFENSE_ANIM "units/darkblood-wyverns/chaosrider.png" "units/darkblood-wyverns/chaosrider.png" hiss-hit.wav}
    [abilities]
    [/abilities]
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=90
        fire=90
        pierce=120
        impact=100
    [/resistance]
    [attack]
        name=fangswyv
        description={STR_FANGS}
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=14
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_SWALLOW 9}
        [/specials]
    [/attack]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=15
        number=2
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    [attack]
        name=tail
        description={STR_TAIL}
        icon=attacks/tail-chaoswyvern.png
        type=impact
        range=melee
        damage=22
        number=1
        [specials]
            {WEAPON_SPECIAL_EOMA_CLEAVE_CUSTOM 1 100}
        [/specials]
    [/attack]
    [attack]
        name=scream
        description=_"scream"
        icon=attacks/scream.png
        type=cold
        range=ranged
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
    [/attack]
    {WYVERN_RIDER_ANIM chaosrider}
    [attack_anim]
        [filter_attack]
            name=scream
        [/filter_attack]
        [missile_frame]
            image="projectiles/scream-n-[1,2,1].png:[50*2,100]"
            image_diagonal="projectiles/scream-ne-[1,2,1].png:[50*2,100]"
            alpha=1.0~0.0:200
        [/missile_frame]
        start_time=-200
        missile_start_time=-100
        [frame]
            image="units/darkblood-wyverns/chaosrider.png:400"
            sound=bonebeast-hit-[1,2].ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=scream
        [/filter_attack]
        [missile_frame]
            image="projectiles/scream-n-[1,2,1].png:[50*2,100]"
            image_diagonal="projectiles/scream-ne-[1,2,1].png:[50*2,100]"
            alpha=1.0~0.0:200
        [/missile_frame]
        terrain_type=Q*^*,Mv^*
        start_time=-200
        missile_start_time=-100
        [frame]
            image="units/darkblood-wyverns/chaosrider-ns.png:400"
            sound=bonebeast-hit-[1,2].ogg
        [/frame]
    [/attack_anim]
[/unit_type]
