#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Chosen_of_Forest
    name= _ "Chosen of Forest"
    race=lizard
    image="units/darkblood-saurians/chosenofforest.png"
    profile="portraits/darkblood/chosenofforest.png"
    small_profile="portraits/darkblood/chosenofforest.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=62
    movement_type=lizard
    movement=6
    experience=200
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=saurian
    cost=85
    usage=scout
    undead_variation=dbashaman
    description=_"The Chosen of Forest, or 'The Keeper', as many refer to him, is the Darkblooded's monarch of sorts. He is the oldest and probably wisest of the saurian mystics, knowing most of the jungle's secrets, including ones most men would prefer not to know. While he does spend most of his time managing state affairs, or meditating in the jungle, he's by no means incapable of holding his own on the battlefield."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_SLOW}
    die_sound=hiss-die.wav
	{DEFENSE_ANIM "units/darkblood-saurians/chosenofforest.png" "units/darkblood-saurians/chosenofforest.png" hiss-hit.wav}
    [abilities]
		{ABILITY_EOMA_EXTRA_REGENERATES}
        {ABILITY_ULTRACURES}
    [/abilities]
	[movement_costs]
		forest=1
	[/movement_costs]
	[resistance]
		fire=100
		cold=80
	[/resistance]
    [healing_anim]
        start_time=-500
        missile_start_time=-400
		halo1_start_time=-400
		halo2_start_time=-200
		halo3_start_time=0
		halo1b_start_time=-400
		halo2b_start_time=-200
		halo3b_start_time=0
        [halo1_frame]
            image="halo/shaman-magic2.png~SCALE(100,100)~GS()~CS(128,96,0)~BLEND(255,196,0,0.4):600"
            y=-18
                        alpha=1.0~0.0
			auto_vflip=no
        [/halo1_frame]
		[halo2_frame]
            image="halo/blank.png:1"
		[/halo2_frame]
		[halo2_frame]
            image="halo/shaman-magic3.png~SCALE(100,100)~GS()~CS(128,96,0)~BLEND(255,196,0,0.4):600"
            y=-14
			alpha=1.0~0.0
			auto_vflip=no
        [/halo2_frame]
		[halo3_frame]
            image="halo/blank.png:1"
		[/halo3_frame]
		[halo3_frame]
            image="halo/shaman-magic4.png~SCALE(100,100)~GS()~CS(128,96,0)~BLEND(255,196,0,0.4):600"
            y=-18
			alpha=1.0~0.0
			auto_vflip=no
        [/halo3_frame]
        [halo1b_frame]
            image="halo/shaman-magic2.png~SCALE(100,100)~GS()~CS(128,96,0)~BLEND(255,196,0,0.4)~FL(vert)~FL(horiz):600"
            y=18
                        alpha=1.0~0.0
			auto_vflip=no
        [/halo1b_frame]
		[halo2b_frame]
            image="halo/blank.png:1"
		[/halo2b_frame]
		[halo2b_frame]
            image="halo/shaman-magic3.png~SCALE(100,100)~GS()~CS(128,96,0)~BLEND(255,196,0,0.4)~FL(vert)~FL(horiz):600"
            y=14
			alpha=1.0~0.0
			auto_vflip=no
        [/halo2b_frame]
		[halo3b_frame]
            image="halo/blank.png:1"
		[/halo3b_frame]
		[halo3b_frame]
            image="halo/shaman-magic4.png~SCALE(100,100)~GS()~CS(128,96,0)~BLEND(255,196,0,0.4)~FL(vert)~FL(horiz):600"
            y=18
			alpha=1.0~0.0
			auto_vflip=no
        [/halo3b_frame]
        [missile_frame]
            image="halo/chosenofforest-magic[1~8,7~1].png:[50*8,25*7]"
        [/missile_frame]
		[missile_frame]
            image="halo/blank.png:1"
		[/missile_frame]
        [frame]
            image="units/darkblood-saurians/chosenofforest.png:450"
        [/frame]
    [/healing_anim]
    [idle_anim]
        start_time=0
        [frame]
			image="units/darkblood-saurians/chosenofforest.png"
            halo="halo/chosenofforest-magic[1~8,7~1].png:75"
        [/frame]
    [/idle_anim]
    [attack]
        name=claws
        description={STR_CLAWS}
        range=melee
        type=blade
        damage=11
        number=2
        icon=attacks/claws-lizard.png
    [/attack]
    [attack]
        name=missile
        description=_"iceball"
        range=ranged
        type=cold
        damage=9
        number=5
        icon=attacks/iceball.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=freezing spell
        description=_"freezing spell"
        type=cold
        icon=attacks/magic.png
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
        damage=5
        number=5
        range=ranged
    [/attack]
    {SAURIAN_CLAW_ANIM chosenofforest}
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        start_time=-1000
        [frame]
			image="units/darkblood-saurians/chosenofforest.png"
            halo="halo/chosenofforest-magic[1~8,7,6].png:100"
        [/frame]
		{SOUND:HIT_AND_MISS magic-faeriefire.ogg silence.ogg 0}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=freezing spell
        [/filter_attack]
        missile_start_time=-200
        [if]
          hits=yes
          missile2_start_time=0
        [missile_frame]
            halo=projectiles/zmage-halo[1~5].png~GS()~BLEND(0,128,255,0.35)~CS(0,128,255):48
            halo_x,halo_y=2,-2
            offset=0.0~1.0:200
        [/missile_frame]
        [missile2_frame]
            image="halo/blank.png:1"
        [/missile2_frame]
        [missile2_frame]
            image="projectiles/magic-n-[1~3].png:100"
            layer=99
            offset=1
            alpha=1:100,1~0:200
        [/missile2_frame]
        [/if]
        [else]
          hits=no
        [missile_frame]
            image=projectiles/zmage-halo[1~5].png~GS()~BLEND(0,128,255,0.35)~CS(0,128,255):48
            x,y=2,-2
            layer=99
            offset=0.0~1.0:200
            alpha=1~0:175,0
        [/missile_frame]
        [/else]
        start_time=-375
        attack_sound_start_time=0
        [frame]
            image="units/darkblood-saurians/chosenofforest.png:[75*10]"
            halo="halo/mystic-magic[1~5,5~1].png:75"
            halo_x,halo_y=0,-2
        [/frame]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg um-miss.ogg -200}
    [/attack_anim]
[/unit_type]
