#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Chosen_of_Marsh
    name= _ "Chosen of Marsh"
    race=lizard
    image="units/darkblood-saurians/chosenofmarsh.png"

    hitpoints=60
    movement_type=lizard
    movement=6
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    undead_variation=saurian
    cost=75
    usage=scout
    undead_variation=dbacorrupted
    description= _ "The Chosen of Marsh are the mightiest of the Swamp Magi, fully consumed by the Great Bog's darkness. They seem to emit clouds of magical poison gas whenever they go, as potent as their venom-dipped claws. These vessels of darkness are dreaded across the Jungle of Life, only ever referred to as 'those who must not be mentioned'. While the cult is not exactly in best relations with the Darkblooded mystics, they did help the latter in repelling the Atokpi, a civilization now extinct, albeit not without consequence."+{SPECIAL_NOTES}+{SPECIAL_NOTES_REGENERATES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_SLOW}
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/darkblood-saurians/chosenofmarsh.png" "units/darkblood-saurians/chosenofmarsh.png" hiss-hit.wav}
    [abilities]
        {ABILITY_EOMA_POISONOUS_AURA}
        {ABILITY_EOMA_EXTRA_REGENERATES}
    [/abilities]
    [movement_costs]
        forest=1
    [/movement_costs]
    [resistance]
        blade=100
        impact=100
        fire=80
        cold=80
    [/resistance]
    [defense]
        sand=50
    [/defense]
    [idle_anim]
        [frame]
            image="units/darkblood-saurians/chosenofmarsh.png:100"
            halo="halo/damnedshaman-magic[1~11].png:100"
        [/frame]
    [/idle_anim]
    [attack]
        name=claws
        description={STR_CLAWS}
        range=melee
        type=blade
        damage=10
        number=2
        icon=attacks/claws-lizard-poison.png
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=missile
        description={STR_FIREBALL}
        range=ranged
        type=fire
        damage=10
        number=5
        icon=attacks/fireball.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=flame
        description=_"damned flame"
        range=ranged
        type=fire
        damage=40
        number=1
        icon=attacks/damned-flame.png
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {SAURIAN_CLAW_ANIM chosenofmarsh}
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}
        start_time=-1000
        [frame]
            image="units/darkblood-saurians/chosenofmarsh.png:700"
            halo="halo/damnedshaman-magic[1~7].png:100"
        [/frame]
        [frame]
            sound=fire.wav
            image="units/darkblood-saurians/chosenofmarsh.png:100"
            halo="halo/damnedshaman-magic8.png"
        [/frame]
        [frame]
            image="units/darkblood-saurians/chosenofmarsh.png:400"
            halo="halo/damnedshaman-magic[9~11].png:100"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=flame
        [/filter_attack]

        start_time=-700
        offset=0.0

        [missile_frame]
            duration=800
            image=halo/ucircle-frames/ucircle-f-[01~23].png#~(640,480,)
            image_mod="~SCALE(101,59)~GS()~BLEND(255,32,0,0.5)"
            auto_vflip=false
            layer=0
            y=20
            alpha=0~1:280,1:400,1~0:200
            offset=1.0
            sound=magic-faeriefire-miss.ogg
        [/missile_frame]

        missile_start_time=-700
        flame_burst_1_start_time=-400
        flame_burst_2_start_time=-350
        flame_burst_3_start_time=-300
        flame_burst_4_start_time=-250
        flame_burst_5_start_time=-200

        [if]
            direction=se,s,sw

            [flame_burst_1_frame]
                halo=halo/flame-burst-[1~8].png~FL(vert):50
                halo_x,halo_y=-22,0
                offset=1.0
                halo_mod=~GS()~BLEND(255,32,0,0.5)
                sound=magic-dark-big.ogg
            [/flame_burst_1_frame]
            [flame_burst_2_frame]
                halo=halo/flame-burst-[1~8].png~FL(vert):50
                halo_x,halo_y=-14,9
                offset=1.0
                halo_mod=~GS()~BLEND(255,32,0,0.5)
            [/flame_burst_2_frame]
            [flame_burst_3_frame]
                halo=halo/flame-burst-[1~8].png~FL(vert):50
                halo_x,halo_y=0,12
                offset=1.0
                halo_mod=~GS()~BLEND(255,32,0,0.5)
                sound=wail.wav
            [/flame_burst_3_frame]
            [flame_burst_4_frame]
                halo=halo/flame-burst-[1~8].png~FL(vert):50
                halo_x,halo_y=14,9
                offset=1.0
                halo_mod=~GS()~BLEND(255,32,0,0.5)
            [/flame_burst_4_frame]
            [flame_burst_5_frame]
                halo=halo/flame-burst-[1~8].png~FL(vert):50
                halo_x,halo_y=22,0
                offset=1.0
                halo_mod=~GS()~BLEND(255,32,0,0.5)
                sound=wail.wav
            [/flame_burst_5_frame]
        [/if]
        [else]
            direction=ne,n,nw

            [flame_burst_1_frame]
                halo=halo/flame-burst-[1~8].png:50
                halo_x,halo_y=-22,0
                offset=1.0
                halo_mod=~GS()~BLEND(255,32,0,0.5)
                sound=magic-dark-big.ogg
            [/flame_burst_1_frame]
            [flame_burst_2_frame]
                halo=halo/flame-burst-[1~8].png:50
                halo_x,halo_y=-14,9
                offset=1.0
                halo_mod=~GS()~BLEND(255,32,0,0.5)
            [/flame_burst_2_frame]
            [flame_burst_3_frame]
                halo=halo/flame-burst-[1~8].png:50
                halo_x,halo_y=0,12
                offset=1.0
                halo_mod=~GS()~BLEND(255,32,0,0.5)
                sound=wail.wav
            [/flame_burst_3_frame]
            [flame_burst_4_frame]
                halo=halo/flame-burst-[1~8].png:50
                halo_x,halo_y=14,9
                offset=1.0
                halo_mod=~GS()~BLEND(255,32,0,0.5)
            [/flame_burst_4_frame]
            [flame_burst_5_frame]
                halo=halo/flame-burst-[1~8].png:50
                halo_x,halo_y=22,0
                offset=1.0
                halo_mod=~GS()~BLEND(255,32,0,0.5)
                sound=wail.wav
            [/flame_burst_5_frame]
        [/else]

        [frame]
            sound=fire.wav
            duration=600
        [/frame]
    [/attack_anim]

    [extra_anim]
        flag=poisonaura

        [frame]
            halo="halo/saurian-magic-halo-[1~7].png:[50,60,70,80,90,100*2]"
            halo_mod=~GS()~CS(-255,-64,-255)~SCALE(220,220)
        [/frame]
    [/extra_anim]
[/unit_type]
