#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Clan_Leader
    name= _ "Clan Leader"
    race=lizard
    image="units/darkblood-saurians/shaman.png"
    
    hitpoints=38
    movement_type=lizard
    movement=6
    experience=110
    level=2
    alignment=neutral
    advances_to=EoMa_Mystic
    undead_variation=saurian
    cost=34
    usage=healer
    undead_variation=dbashaman
    description= _ "Adepts who excel in battle, usually through cunning implementation of their water magicks, become the de-facto leaders of their clans, as signified by the extra feathers in their headdresses. Their knowledge expands, allowing them to enspell their claws to make them more powerful, to cast more baneful ice-balls and better healing magic."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/darkblood-saurians/shaman-melee.png" "units/darkblood-saurians/shaman.png" hiss-hit.wav }
    [abilities]
		{ABILITY_EOMA_CURES}
    [/abilities]
	[movement_costs]
		forest=1
	[/movement_costs]
	[resistance]
		cold=90
	[/resistance]
    [defense]
        sand=50
    [/defense]
    [healing_anim]
        start_time=-500
        missile_start_time=-400
		halo1_start_time=-400
		halo2_start_time=-200
		halo3_start_time=0
        [halo1_frame]
            image="halo/shaman-magic2.png:600"
            y=-14
                        alpha=1.0~0.0
			auto_vflip=no
        [/halo1_frame]
		[halo2_frame]
            image="halo/blank.png:1"
		[/halo2_frame]
		[halo2_frame]
            image="halo/shaman-magic3.png:600"
            y=-10
			alpha=1.0~0.0
			auto_vflip=no
        [/halo2_frame]
		[halo3_frame]
            image="halo/blank.png:1"
		[/halo3_frame]
		[halo3_frame]
            image="halo/shaman-magic4.png:600"
            y=-14
			alpha=1.0~0.0
			auto_vflip=no
        [/halo3_frame]
        [missile_frame]
            image="halo/mystic-magic[1~6,5~1].png:[65*6,25*5]"
        [/missile_frame]
		[missile_frame]
            image="halo/blank.png:1"
		[/missile_frame]
        [frame]
            image="units/darkblood-saurians/shaman-magic1.png:450"
        [/frame]
    [/healing_anim]
    [idle_anim]
		halo1_start_time=0
		halo2_start_time=500
		halo3_start_time=1000
        [halo1_frame]
            image="halo/shaman-magic2.png:1000"
			alpha=1.0~0.0
			auto_vflip=no
        [/halo1_frame]
		[halo2_frame]
            image="halo/blank.png:1"
		[/halo2_frame]
		[halo2_frame]
            image="halo/shaman-magic3.png:1000"
			alpha=1.0~0.0
			auto_vflip=no
        [/halo2_frame]
		[halo3_frame]
            image="halo/blank.png:1"
		[/halo3_frame]
		[halo3_frame]
            image="halo/shaman-magic4.png:1000"
			alpha=1.0~0.0
			auto_vflip=no
        [/halo3_frame]
        [frame]
            image="units/darkblood-saurians/shaman-magic1.png:100"
        [/frame]
    [/idle_anim]
    [attack]
        name=claws
        description={STR_CLAWS}
        range=melee
        type=blade
        damage=6
        number=2
        icon=attacks/claws-lizard.png
    [/attack]
    [attack]
        name=missile
        description=_"iceball"
        range=ranged
        type=cold
        damage=7
        number=4
        icon=attacks/iceball.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {SAURIAN_CLAW_ANIM shaman-melee}
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        start_time=-500
		halo1_start_time=0
		halo2_start_time=-250
		halo3_start_time=-500
        [halo1_frame]
            image="halo/shaman-magic2.png:500"
			alpha=1.0~0.0
			auto_vflip=no
        [/halo1_frame]
		[halo2_frame]
            image="halo/blank.png:1"
		[/halo2_frame]
		[halo2_frame]
            image="halo/shaman-magic3.png:500"
			alpha=1.0~0.0
			auto_vflip=no
        [/halo2_frame]
		[halo3_frame]
            image="halo/blank.png:1"
		[/halo3_frame]
		[halo3_frame]
            image="halo/shaman-magic4.png:500"
			alpha=1.0~0.0
			auto_vflip=no
        [/halo3_frame]
        [frame]
            image="units/darkblood-saurians/shaman-magic1.png:700"
        [/frame]
        attack_sound_start_time=0
        [attack_sound_frame]
            sound=magic-faeriefire.ogg
        [/attack_sound_frame]
    [/attack_anim]
[/unit_type]
