#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Corrupted_Shaman
    name= _ "Corrupted Shaman"
    race=lizard
    image="units/darkblood-saurians/corruptedshaman.png"

    hitpoints=39
    movement_type=eoma_lizard
    movement=6
    experience=95
    level=2
    alignment=chaotic
    advances_to=EoMa_Swamp_Mage
    undead_variation=saurian
    cost=34
    usage=archer
    undead_variation=dbacorrupted
    description= _ "Some of the Dark Blood Shamans get corrupted. By who, or what, nobody knows, but it makes them exchange their Water Magic for that of its polar opposite - Fire. They lose their healing abilities, but they don’t seem to care, as they say that Fire is inherently superior to Water.
Whatever corrupts them changes their personalities, too, making them selfish and cruel. As a result, they are shunned from their tribes, which exile them to the heart of the Great Bog. Forced to wander the Bog for years, they usually make their way out and hire themselves to some of the morally bankrupt tribes."
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/darkblood-saurians/corruptedshaman.png" "units/darkblood-saurians/corruptedshaman.png" hiss-hit.wav}
    [abilities]
        {ABILITY_EOMA_REGENERATE 6}
    [/abilities]
    [movement_costs]
        forest=1
        frozen=3
    [/movement_costs]
    [resistance]
        fire=85
        cold=80
    [/resistance]
    [defense]
        sand=50
        cave=40
    [/defense]
    [attack]
        name=claws
        description={STR_CLAWS}
        range=melee
        type=blade
        damage=6
        number=2
        icon=attacks/claws-lizard-poison.png
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=missile
        description={STR_FIREBALL}
        range=ranged
        type=fire
        damage=6
        number=5
        icon=attacks/fireball.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    {SAURIAN_CLAW_ANIM corruptedshaman-melee}
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL_XY 0 0}
        start_time=-1000
        [frame]
            image="units/darkblood-saurians/corruptedshaman.png:700"
            halo="halo/corruptedshaman-magic[1~7].png:100"
        [/frame]
        [frame]
            duration=100
            sound=fire.wav
            image="units/darkblood-saurians/corruptedshaman.png:200"
            halo="halo/corruptedshaman-magic[8,9].png"
        [/frame]
        [frame]
            image="units/darkblood-saurians/corruptedshaman.png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
