#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Desert_Salamander
    [/base_unit]
    id=EoMa_Desert_Salamander_rpg
    [advancement]
        require_amla=eoma_no_rpg
    [/advancement]
    [advancement]
        require_amla=eoma_no_rpg
    [/advancement]
    [attack]
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_EOMA_EVADE_RPG}
        [/specials]
    [/attack]
    [attack]
		damage=4
		number=5
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_EOMA_EVADE_RPG}
        [/specials]
    [/attack]
    [attack]
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_EOMA_BLEED_RPG}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
[/unit_type]
