#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Jungle_Blowgunner
    [/base_unit]
    id=EoMa_Jungle_Blowgunner_rpg
    advances_to=EoMa_Jungle_Crossbowman_rpg
[/unit_type]
