#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Jungle_Guardian
    name= _ "Jungle Guardian"
    race=lizard
    image="units/darkblood-saurians/guardian.png"

    hitpoints=49
    movement_type=eoma_lizard
    movement=6
    experience=74
    level=2
    alignment=neutral
    advances_to=EoMa_Jungle_Champion,EoMa_Temple_Guard
    undead_variation=saurian
    cost=26
    usage=fighter
    description= _ "Jungle Guardians are veteran Jungle Pikemen, well-versed in the art of melee combat and guerrilla warfare, using the dense foliage of the jungle to their advantage. Their ornate pikes are effective at both stabbing and slashing, and their armor is sturdier than that of their lower-ranking comrades. Forming the backbone of the Darkblooded armies, the Jungle Guardians will fight tooth and nail to protect the Jungle of Life from anyone who dares to threaten it."
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/darkblood-saurians/guardian.png" "units/darkblood-saurians/guardian.png" hiss-hit.wav}
    undead_variation=dbawarrior
    [resistance]
        blade=95
        impact=95
        fire=110
        cold=110
    [/resistance]
    [abilities]
    [/abilities]
    [movement_costs]
        forest=1
    [/movement_costs]
    [defense]
        sand=50
        cave=50
    [/defense]
    [attack]
        name=spear
        description={STR_SPEAR}
        range=melee
        type=pierce
        damage=10
        number=3
        icon=attacks/pike-saurian.png
    [/attack]
    [attack]
        name=spear2
        description={STR_SPEAR}
        range=melee
        type=blade
        damage=10
        number=3
        icon=attacks/pike-saurian.png
    [/attack]
    {SAURIAN_PIKE_ANIM guardian 5}
[/unit_type]
