#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Mystic
    name= _ "Mystic"
    race=lizard
    image="units/darkblood-saurians/mystic.png"
    profile="portraits/darkblood/mystic.png"
    small_profile="portraits/darkblood/mystic.png~SCALE(205,205)"

    hitpoints=48
    movement_type=lizard
    movement=6
    experience=190
    level=3
    alignment=neutral
    advances_to=EoMa_Chosen_of_Forest
    undead_variation=saurian
    cost=55
    usage=scout
    undead_variation=dbashaman
    description=_"Mystics are some of the most powerful and influential shamans in the Jungle of Life. They are the upper class of the Darkblood society, being second only to the Keeper himself. Their skill in spellcasting is also no less formidable, being able to freeze their opponents in place, or quickly heal own wounds, as well as those of nearby allies."
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/darkblood-saurians/mystic.png" "units/darkblood-saurians/mystic.png" hiss-hit.wav}
    [abilities]
        {ABILITY_EOMA_SUMMON dba_mystic (
            {SUMMON_MENU_ITEM dba_mystic_forest ( _ "Summon Forest Spirit") 14 (EoMa_Mystic) (EoMa_Forest_Spirit) EXCEPT_ON={FLYING_SUMMON_FILTER}}
        )}
        {ABILITY_EOMA_CURES}
        {ABILITY_EOMA_REGENERATE 8}
    [/abilities]
    [movement_costs]
        forest=1
        frozen=2#due to wielding ice magic, these units are better on frozen terrain than normal saurians
    [/movement_costs]
    [resistance]
        fire=100
        cold=70
        arcane=70
    [/resistance]
    [defense]
        sand=50
        cave=50
        frozen=60#due to wielding ice magic, these units are better on frozen terrain than normal saurians
    [/defense]
    [healing_anim]
        start_time=-500
        missile_start_time=-400
        halo1_start_time=-400
        halo2_start_time=-200
        halo3_start_time=0
        [halo1_frame]
            image="halo/shaman-magic2.png:600"
            y=-14
            alpha=1.0~0.0
            auto_vflip=no
        [/halo1_frame]
        [halo2_frame]
            image="halo/blank.png:1"
        [/halo2_frame]
        [halo2_frame]
            image="halo/shaman-magic3.png:600"
            y=-10
            alpha=1.0~0.0
            auto_vflip=no
        [/halo2_frame]
        [halo3_frame]
            image="halo/blank.png:1"
        [/halo3_frame]
        [halo3_frame]
            image="halo/shaman-magic4.png:600"
            y=-14
            alpha=1.0~0.0
            auto_vflip=no
        [/halo3_frame]
        [missile_frame]
            image="halo/mystic-magic[1~6,5~1].png:[65*6,25*5]"
        [/missile_frame]
        [missile_frame]
            image="halo/blank.png:1"
        [/missile_frame]
        [frame]
            image="units/darkblood-saurians/mystic.png:450"
        [/frame]
    [/healing_anim]
    [idle_anim]
        [missile_frame]
            image="halo/mystic-magic[1~6,5~1].png:100"
        [/missile_frame]
        [frame]
            image="units/darkblood-saurians/mystic.png:100"
        [/frame]
    [/idle_anim]
    [attack]
        name=claws
        description={STR_CLAWS}
        range=melee
        type=blade
        damage=8
        number=2
        icon=attacks/claws-lizard.png
    [/attack]
    [attack]
        name=missile
        description=_"iceball"
        range=ranged
        type=cold
        damage=9
        number=4
        icon=attacks/iceball.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=freezing spell
        description=_"freezing spell"
        type=cold
        icon=attacks/magic.png
        [specials]
            {WEAPON_SPECIAL_SLOW}
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
        damage=5
        number=4
        range=ranged
    [/attack]
    {SAURIAN_CLAW_ANIM mystic-melee}
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        start_time=-500
        [frame]
            image="units/darkblood-saurians/mystic.png:500"
            halo="halo/mystic-magic[1~5].png:100"
        [/frame]
        [frame]
            duration=100
            image="units/darkblood-saurians/mystic.png:100"
            halo="halo/mystic-magic6.png"
            sound=magic-faeriefire.ogg
        [/frame]
        [frame]
            image="units/darkblood-saurians/mystic.png:500"
            halo="halo/mystic-magic[5~1].png:100"
        [/frame]
        [frame]
            image="units/darkblood-saurians/mystic.png:100"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=freezing spell
        [/filter_attack]
        missile_start_time=-200
        [if]
            hits=yes
            missile2_start_time=0
            [missile_frame]
                halo=projectiles/zmage-halo[1~5].png~GS()~BLEND(0,128,255,0.35)~CS(0,128,255):48
                halo_x,halo_y=2,-2
                offset=0.0~1.0:200
            [/missile_frame]
            [missile2_frame]
                image="halo/blank.png:1"
            [/missile2_frame]
            [missile2_frame]
                image="projectiles/magic-n-[1~3].png:100"
                layer=99
                offset=1
                alpha=1:100,1~0:200
            [/missile2_frame]
        [/if]
        [else]
            hits=no
            [missile_frame]
                image=projectiles/zmage-halo[1~5].png~GS()~BLEND(0,128,255,0.35)~CS(0,128,255):48
                x,y=2,-2
                layer=99
                offset=0.0~1.0:200
                alpha=1~0:175,0
            [/missile_frame]
        [/else]
        start_time=-375
        attack_sound_start_time=0
        [frame]
            image="units/darkblood-saurians/mystic.png:[75*10]"
            halo="halo/mystic-magic[1~5,5~1].png:75"
            halo_x,halo_y=0,-2
        [/frame]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg um-miss.ogg -200}
    [/attack_anim]
[/unit_type]
