#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Saurian_Shooter
    name= _ "Saurian Blowgunner"
    race=lizard
    image="units/darkblood-saurians/shooter-poison1.png"
    ellipse="misc/ellipse"
    
    hitpoints=26
    movement_type=lizard
    movement=6
    experience=32
    level=1
    alignment=neutral
    advances_to=EoMa_Saurian_Crossbowman
    undead_variation=saurian
    cost=15
    usage=archer
    undead_variation=dbashooter
    description= _ "Saurians are very small of frame, and though they are somewhat frail because of this, they are very, very agile. In combat, their size allows them to dart past defenses that would hold any grown man at bay, making them a tricky foe to deal with.

While most saurian soldiers choose to use spears, others prefer light ranged weapons, usually blowguns with poisoned darts. Their weaponry combined with their agility is something that shouldn't be underestimated."+{SPECIAL_NOTES}+{SPECIAL_NOTES_SKIRMISHER}+{SPECIAL_NOTES_POISON}
    die_sound=hiss-die.wav
	{DEFENSE_ANIM "units/darkblood-saurians/shooter-poison1.png" "units/darkblood-saurians/shooter-poison1.png" hiss-hit.wav}
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
	[movement_costs]
		forest=1
	[/movement_costs]
    [defense]
        sand=50
    [/defense]
    [attack]
        name=staff
        description={STR_STAFF}
        range=melee
        type=impact
        damage=4
        number=2
        icon=attacks/quarterstaff.png
    [/attack]
    [attack]
        name=dart
        description=_ "blowgun"
        range=ranged
        type=pierce
        damage=5
        number=3
        icon=attacks/dagger-thrown-poison-human.png
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/darkblood-saurians/shooter-melee[1~3].png:[100,150,75]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=dart
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/missile-n.png:150"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-225
        [frame]
            image="units/darkblood-saurians/shooter-poison[1,2,1].png:[75,200,50]"
        [/frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -150}
    [/attack_anim]
[/unit_type]
