#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Saurian_Crossbowman
    name= _ "Jungle Crossbowman"
    race=lizard
    image="units/darkblood-saurians/crossbowman.png"

    hitpoints=38
    movement_type=lizard
    movement=6
    experience=80
    level=2
    alignment=neutral
    advances_to=EoMa_Saurian_Assassin
    undead_variation=saurian
    cost=28
    usage=archer
    undead_variation=dbashooter
    {DEFENSE_ANIM "units/darkblood-saurians/crossbowman.png" "units/darkblood-saurians/crossbowman.png" hiss-hit.wav}
    description= _ "Though blowguns are easy to make and good enough when used with poisoned projectiles, their range is quite short, and they're rather inaccurate. Experienced saurian shooters switch to crossbows with poisoned bolts, which are a lot harder to make, but have a very good range (at least compared to blowguns), and are a lot easier to aim with. The combination of skill, and advanced weaponry makes saurian crossbowmen able to easily deal with agile targets."
    die_sound=hiss-die.wav
    [abilities]
        {ABILITY_SKIRMISHER}
    [/abilities]
    [movement_costs]
        forest=1
    [/movement_costs]
    [resistance]
        fire=110
        cold=110
    [/resistance]
    [defense]
        sand=50
        cave=50
    [/defense]
    [attack]
        name=crossbow
        description={STR_CROSSBOW}
        range=melee
        type=impact
        damage=6
        number=2
        icon=attacks/crossbow-undead.png
    [/attack]
    [attack]
        name=crossbow2
        description={STR_CROSSBOW}
        range=ranged
        type=pierce
        damage=8
        number=3
        icon=attacks/crossbow-undead.png
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=crossbow
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/darkblood-saurians/crossbowman.png:[325]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=crossbow2
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/missile-n.png:150"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-150
        [frame]
            image="units/darkblood-saurians/crossbowman-ranged.png:100"
        [/frame]
        [frame]
            image="units/darkblood-saurians/crossbowman.png:100"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg {SOUND_LIST:MISS} -150}
    [/attack_anim]
[/unit_type]
