#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Shamanistic_Adept
    [/base_unit]
    id=EoMa_Shamanistic_Adept_rpg
    advances_to=EoMa_Clan_Leader,EoMa_Corrupted_Shaman_rpg
[/unit_type]
