#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Shamanistic_Adept
    name= _ "Shamanistic Adept"
    race=lizard
    image="units/darkblood-saurians/shamanadept.png"
    hitpoints=26
    movement_type=eoma_lizard
    movement=6
    experience=49
    level=1
    alignment=neutral
    advances_to=EoMa_Clan_Leader,EoMa_Corrupted_Shaman
    undead_variation=saurian
    cost=18
    usage=healer
    undead_variation=dbashaman
    description= _ "If the Dark Blood Tribe is known for something, it’s their shamanistic magic. Those saurians who choose to learn it are usually frail of body and unfit to do battle physically. However, their control of water magicks is invaluable in battle, both to heal their allies, and to hurl balls of ice at their foes."
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/darkblood-saurians/shamanadept-defend.png" "units/darkblood-saurians/shamanadept.png" hiss-hit.wav }
    [standing_anim]
        [frame]
            image="units/darkblood-saurians/adept/00[01~24].png:42"
        [/frame]
    [/standing_anim]
    [abilities]
        {ABILITY_EOMA_HEAL 4}
    [/abilities]
    [movement_costs]
        forest=1
        frozen=3#due to wielding ice magic, these units are slightly less awful on frozen terrain than normal saurians
    [/movement_costs]
    [resistance]
        cold=90
    [/resistance]
    [defense]
        sand=50
        cave=50
    [/defense]
    [healing_anim]
        start_time=-500
        missile_start_time=-400
        halo1_start_time=-400
        halo2_start_time=-200
        halo3_start_time=0
        [halo1_frame]
            image="halo/shaman-magic2.png:600"
            alpha=1.0~0.0
            auto_vflip=no
        [/halo1_frame]
        [halo2_frame]
            image="halo/blank.png:1"
        [/halo2_frame]
        [halo2_frame]
            image="halo/shaman-magic3.png:600"
            alpha=1.0~0.0
            auto_vflip=no
        [/halo2_frame]
        [halo3_frame]
            image="halo/blank.png:1"
        [/halo3_frame]
        [halo3_frame]
            image="halo/shaman-magic4.png:600"
            alpha=1.0~0.0
            auto_vflip=no
        [/halo3_frame]
        [if]
            direction=s,se,ne,n
            [missile_frame]
                image="halo/mystic-magic[1~6,5~1].png~SCALE(18,18):[65*6,25*5]"
                x=3
            [/missile_frame]
        [/if]
        [else]
            direction=sw,nw
            [missile_frame]
                image="halo/mystic-magic[1~6,5~1].png~SCALE(18,18):[65*6,25*5]"
                x=-3
            [/missile_frame]
        [/else]
        [missile_frame]
            image="halo/blank.png:1"
        [/missile_frame]
        [frame]
            image="units/darkblood-saurians/shamanadept-magic[1~4,3,4].png:75"
        [/frame]
    [/healing_anim]
    [attack]
        name=claws
        description={STR_CLAWS}
        range=melee
        type=blade
        damage=4
        number=2
        icon=attacks/claws-lizard.png
    [/attack]
    [attack]
        name=missile
        description=_"iceball"
        range=ranged
        type=cold
        damage=5
        number=4
        icon=attacks/iceball.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        start_time=-400
        [frame]
            image="units/darkblood-saurians/[shamanadept-defend*2,shamanadept-magic1*2,shamanadept-magic5].png:[50,100*2,50,150]"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        {MISSILE_FRAME_ICE}
        start_time=-400
        [frame]
            image="units/darkblood-saurians/[shamanadept-magic1,shamanadept-magic2,shamanadept-magic3,shamanadept-magic4,shamanadept-magic5,shamanadept].png:[50,100*2,50,200,50]"
        [/frame]
        attack_sound_start_time=-150
        [attack_sound_frame]
            sound=magic-faeriefire.ogg
        [/attack_sound_frame]
    [/attack_anim]
    [idle_anim]
        start_time=0
        [frame]
            image="units/darkblood-saurians/shamanadept-magic1.png:375"
            halo="halo/zamage-preparation-halo[3,4,5,4,3].png:75"
        [/frame]
    [/idle_anim]
[/unit_type]
