#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Temple_Guard
    name= _ "Temple Guard"
    race=lizard
    image="units/darkblood-saurians/templeguard.png"

    hitpoints=54
    movement_type=lizard
    movement=6
    experience=100
    level=3
    alignment=neutral
    advances_to=null
	{AMLA_DEFAULT}
    undead_variation=saurian
    cost=55
    usage=fighter
    description={NO_DESCR_AVAILABLE}
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/darkblood-saurians/templeguard.png" "units/darkblood-saurians/templeguard.png" hiss-hit.wav}
    undead_variation=dbawarrior
    [resistance]
        blade=100
        impact=100
		pierce=80
        fire=80
        cold=80
		arcane=60
    [/resistance]
    [abilities]
    [/abilities]
    [movement_costs]
        forest=1
    [/movement_costs]
    [defense]
        sand=50
        cave=50
    [/defense]
	[abilities]
		{ABILITY_CONCEALMENT}
	[/abilities]
    [attack]
        name=spear
        description={STR_SPEAR}
        range=melee
        type=pierce
        damage=11
        number=3
        icon=attacks/pike-saurian-sacred.png
    [/attack]
    [attack]
        name=spear2
        description={STR_SPEAR}
        range=melee
        type=blade
        damage=11
        number=3
        icon=attacks/pike-saurian-sacred.png
    [/attack]
	[attack]
        name=spear3
        description={STR_SPEAR}
        range=melee
        type=arcane
        damage=9
        number=3
        icon=attacks/pike-saurian-sacred-active.png
		[specials]
			{WEAPON_SPECIAL_MAGICAL}
			[disable]
				id=eoma_phase
				name= _ "phase"
				description= _ "This attack will only be used against magical and undead beings."
				apply_to=self
				[filter_opponent]
					[not]
						race=eoma_magical,undead
					[/not]
				[/filter_opponent]
			[/disable]
		[/specials]
    [/attack]
    {SAURIAN_PIKE_ANIM templeguard 5}
	[attack_anim]
        [filter_attack]
            name=spear3
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/darkblood-saurians/templeguard-melee[3~5,5].png:[100,150,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
