#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Toad_Rider
    [/base_unit]
    id=EoMa_Toad_Rider_rpg
    advances_to=EoMa_Battle_Toad_rpg,EoMa_Toad_Archer_rpg,EoMa_Toad_Shaman_rpg
    [attack]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_DISABLE_CURRENT_CTH_RPG}
        [/specials]
    [/attack]
[/unit_type]
