#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Wyvern_Rider
    name= _ "Wyvern Rider"
    race=lizard
    image="units/darkblood-wyverns/wyvernlancer.png"

    ellipse="misc/ellipse"
    hitpoints=49
    movement_type=fly
    movement=7
    experience=58
    level=1
    alignment=chaotic
    advances_to=EoMa_Wyvern_Tamer
    cost=24
    usage=scout
    undead_variation=wyvernrider
    description= _ "Not all of the Wyverns captured by the Dark Blooded are tortured and sent to the frontier; some of them are tamed and used as mounts by some of the more dastardly Saurians. They usually charge into the fray with their Pikes, then goad their mounts to bite their foes; sometimes, the Wyverns swallow them whole."
    {DEFENSE_ANIM "units/darkblood-wyverns/wyvernlancer.png" "units/darkblood-wyverns/wyvernlancer.png" hiss-hit.wav}
    [abilities]
    [/abilities]
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=90
        fire=100
        pierce=120
        impact=100
    [/resistance]
    [attack]
        name=fangswyv
        description={STR_FANGS}
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_SWALLOW 3}
        [/specials]
    [/attack]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]
    {WYVERN_RIDER_ANIM wyvernlancer}
[/unit_type]
