#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Wyvern
    name= _ "Wyvern"
    race=monster
    image="units/darkblood-wyverns/wyvern.png"
    ellipse="misc/ellipse"
    hitpoints=46
    movement_type=fly
    movement=7
    experience=55
    level=1
    alignment=chaotic
    advances_to=EoMa_Great_Wyvern
    cost=21
    usage=mixedfighter
    description= _ "From the marshy lands of the Great Bog hail the bloodthirsty Wyverns. These majestic beasts of prey, which are said to be the descendants of the great Dragons of old, are captured by the Dark Blood saurians, which use them as shock troopers of sorts. They are subjected to torture by fire, making them even more crazed and bloodthirsty than nature intended, and released upon the tribe’s multiple enemies."
    die_sound=bonebeast-die.ogg
    get_hit_sound=bonebeast-hit-2.ogg
    num_traits=1
    ignore_race_traits=yes
    {TRAIT_FEARLESS_MUSTHAVE}
    undead_variation=wyvern
    [abilities]
    [/abilities]
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=90
        fire=90
        pierce=120
        impact=100
    [/resistance]
    [attack]
        name=fangswyv
        description={STR_FANGS}
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_SWALLOW 4}
        [/specials]
    [/attack]
    [attack]
        name=slam
        description={STR_SLAM}
        icon=attacks/slam-drake.png
        type=impact
        range=melee
        damage=10
        number=2
    [/attack]

    {WYVERN_STANDARD_ANIM wyvern}
[/unit_type]
