#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Chaos_Wyvern
    name= _ "Chaos Wyvern"
    race=monster
    image="units/darkblood-wyverns/chaoswyvern.png"
    hitpoints=80
    movement_type=fly
    movement=8
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=64
    usage=scout
    description={NO_DESCR_AVAILABLE}
    die_sound=bonebeast-die.ogg
    get_hit_sound=bonebeast-hit-2.ogg
    undead_variation=wyvern
    ignore_race_traits=yes
    {TRAIT_FEARLESS_MUSTHAVE}
    [abilities]
    [/abilities]
    [defense]
        mountains=40
    [/defense]
    [resistance]
        arcane=90
        fire=90
        pierce=120
        impact=100
    [/resistance]
    [attack]
        name=fangswyv
        description={STR_FANGS}
        icon=attacks/fangs.png
        type=pierce
        range=melee
        damage=15
        number=3
        [specials]
            {WEAPON_SPECIAL_EOMA_SWALLOW 12}
        [/specials]
    [/attack]
    [attack]
        name=slam
        description={STR_SLAM}
        icon=attacks/slam-drake.png
        type=impact
        range=melee
        damage=20
        number=2
    [/attack]
    [attack]
        name=scream
        description=_"scream"
        icon=attacks/scream.png
        type=cold
        range=ranged
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
    [/attack]
    {WYVERN_STANDARD_ANIM chaoswyvern}
    {WYVERN_SCREAM_ANIM chaoswyvern}
[/unit_type]
