#define EXPFREEZE_EVENT
	[event]
		name=attack end
		first_time_only=no
		id=exp_freeze_event
		
		[store_unit]
			[filter]
				id=$unit.id
			[/filter]
			variable=unitexp
		[/store_unit]
		{FOREACH expfreeze i}
			{VARIABLE_OP expfreeze[$i].experience add $unit.level}
			[if]
			[have_unit]
				id=$expfreeze[$i].id
			[/have_unit]
			[then]
			[unstore_unit]
				variable=expfreeze[$i]
				find_vacant=no
			[/unstore_unit]
			[/then]
			[else]
				{VARIABLE expkill $expfreeze[$i].level}
				{VARIABLE_OP expkill multiply 8}
				{IF_VAR expkill equals 0 (
					[then]
						{VARIABLE expkill 4}
					[/then]
				)}
				[store_unit]
					[filter]
						id=$unitexp.id
					[/filter]
					variable=unitexp
				[/store_unit]
				{VARIABLE_OP expkill add $unitexp.experience}
				{MODIFY_UNIT id=$unitexp.id experience $expkill}
			[/else]
			[/if]
		{NEXT i}
		
		{CLEAR_VARIABLE expfreeze}
		{CLEAR_VARIABLE bystander}
		{CLEAR_VARIABLE expkill}
		{CLEAR_VARIABLE unitexp}
	[/event]
#enddef

#define WEAPON_SPECIAL_EOMA_ALLAROUND CHANCETOHIT
    [dummy]
        id=eoma_allaround
        name= _ "all around"
		active_on=offense
        description= _ "This attack can hit some of adjacent enemy units (or even all depending on your luck) Works only on offense.
This ability does not work on defense."
    [/dummy]
[/specials]
# wmlindent: start ignoring
[/attack]
# wmlindent: stop ignoring

    [event]
        name=attacker hits,attacker misses
        first_time_only=no
		id=eoma_allaround_event
        [filter_attack]
            special=eoma_allaround
        [/filter_attack]

        [store_unit]
            [filter]
                [filter_adjacent]
                    x,y=$x1,$y1
                    is_enemy=yes
                [/filter_adjacent]
                [not]
                    x,y=$x2,$y2
                [/not]
				[not]
					[filter_wml]
						[status]
							petrified=yes
						[/status]
					[/filter_wml]
				[/not]
            [/filter]
            variable=bystander
        [/store_unit]
		
		{VARIABLE areadmg $weapon.damage}
		
        [if]
		{VARIABLE_CONDITIONAL unit.status.slowed boolean_equals yes}
            [then] 
				{VARIABLE_OP areadmg divide 2}
				{VARIABLE_OP areadmg round floor}
            [/then]
        [/if]

        {FOREACH bystander i}
            {RANDOM 1..100}
            [if]
			{VARIABLE_CONDITIONAL random less_than_equal_to {CHANCETOHIT}}
                [then]
					[harm_unit]
                        [filter]
                            x,y=$bystander[$i].x,$bystander[$i].y
                        [/filter]
						[filter_second]
							x,y=$x1,$y1
						[/filter_second]
                        amount=$areadmg
                        damage_type=$weapon.type
                        alignment=$unit.alignment
                        fire_event=yes
                        animate=defender
						delay=0
						experience=no
                    [/harm_unit]
					[if]
					[have_unit]
						find_in=expfreeze
						x,y=$bystander[$i].x,$bystander[$i].y
					[/have_unit]
					[else]
						[store_unit]
							[filter]
								x,y=$bystander[$i].x,$bystander[$i].y
							[/filter]
							variable=expfreeze
							mode=append
						[/store_unit]
					[/else]
					[/if]
                [/then]
            [/if]
        {NEXT i}
    [/event]
	
	{EXPFREEZE_EVENT}
[+attack]
# wmlindent: start ignoring

[+specials]
# wmlxgettext: [/specials]
# wmlxgettext: [/attack]
# wmlindent: stop ignoring
#enddef