#define ABILITY_EOMA_MOUNTAINAMBUSH
    [hides]
        id=eoma_mountainambush
        name= _ "mountain ambush"
        description=_"This unit can hide in mountains and hills, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in mountains or hills, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        [filter_self]
            [filter_location]
				terrain=H*,M*
            [/filter_location]
        [/filter_self]
    [/hides]
#enddef

#define ABILITY_EOMA_SWAMPAMBUSH
    [hides]
        id=eoma_swampambush
        name= _ "swamp ambush"
        description=_"This unit can hide in swamp, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in swamp, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain=S*
            [/filter_location]
        [/filter_self]
    [/hides]
#enddef

#define ABILITY_EOMA_WATERAMBUSH
    [hides]
        id=eoma_waterambush
        name= _ "water ambush"
        description=_"This unit can hide in water, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in water, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain=W*
            [/filter_location]
        [/filter_self]
    [/hides]
#enddef

#define ABILITY_EOMA_CAVEAMBUSH
    [hides]
        id=eoma_caveambush
        name= _ "cave ambush"
        description=_"This unit can hide in cave, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in cave, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain=U*
            [/filter_location]
        [/filter_self]
    [/hides]
#enddef
