#textdomain wesnoth-Era_of_Magic
#define ABILITY_EOMA_MOUNTAINAMBUSH
    [hides]
        id=eoma_mountainambush
        name= _ "mountain ambush"
        description=_"This unit can hide in mountains and hills, and remain undetected by its enemies.

Hiding is not possible in castle/keep/unwalkable/impassable/village/bridge.

Enemy units cannot see this unit while it is in mountains or hills, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        [filter]
            [filter_location]
                terrain=H*^*,M*^*,Uh*^*,*^Dr
                # Not castle/keep/unwalkable/impassable/village/bridge/volcano
                [not]
                    [not]
                        # Bluff or Gulch
                        terrain=*^Qhh,*^Qhhf,*^Qhu,*^Qhuf
                    [/not]
                    terrain=*^C*,*^K*,*^Q*,*^X*,*^V*,*^B*,Mv*^*
                [/not]
            [/filter_location]
        [/filter]
    [/hides]
#enddef

#define ABILITY_EOMA_SWAMPAMBUSH
    [hides]
        id=swamp_lurk
        name= _ "swamp lurk"
        female_name= _ "female^swamp lurk"
        description= _ "This unit can hide in swamp, and remain undetected by its enemies.

Hiding is not possible in castle/keep/unwalkable/impassable/village/bridge.

Enemy units cannot see this unit while it is in swamp, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        [filter]
            [filter_location]
                terrain=S*^*
                # Not castle/keep/unwalkable/impassable/village/bridge
                [not]
                    [not]
                        # Bluff or Gulch
                        terrain=*^Qhh,*^Qhhf,*^Qhu,*^Qhuf
                    [/not]
                    terrain=*^C*,*^K*,*^Q*,*^X*,*^V*,*^B*
                [/not]
            [/filter_location]
        [/filter]
    [/hides]
#enddef

#define ABILITY_EOMA_WATERAMBUSH
    [hides]
        id=eoma_waterambush
        name= _ "water ambush"
        description=_"This unit can hide in water, and remain undetected by its enemies.

Hiding is not possible in castle/keep/unwalkable/impassable/village/bridge.

Enemy units cannot see this unit while it is in water, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        [filter]
            [filter_location]
                terrain=W*^*
                # Not castle/keep/unwalkable/impassable/village/bridge
                [not]
                    [not]
                        # Bluff or Gulch
                        terrain=*^Qhh,*^Qhhf,*^Qhu,*^Qhuf
                    [/not]
                    terrain=*^C*,*^K*,*^Q*,*^X*,*^V*,*^B*
                [/not]
            [/filter_location]
        [/filter]
    [/hides]
#enddef

#define ABILITY_EOMA_CAVEAMBUSH
    [hides]
        id=eoma_caveambush
        name= _ "cave ambush"
        description=_"This unit can hide in cave, and remain undetected by its enemies.

Hiding is not possible in lit cave or castle/keep/unwalkable/impassable/village/bridge.

Enemy units cannot see this unit while it is in cave, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        affect_self=yes
        [filter]
            [filter_location]
                terrain=U*^*
                # Not castle/keep/unwalkable/impassable/village/bridge/lit
                # Also exluding flat road
                [not]
                    [not]
                        # Bluff or Gulch
                        terrain=*^Qhh,*^Qhhf,*^Qhu,*^Qhuf
                    [/not]
                    terrain=*^C*,*^K*,*^Q*,*^X*,*^V*,*^B*,*^Ii*,*^Ufi*,*^Ecf,Ur*^*
                [/not]
            [/filter_location]
        [/filter]
    [/hides]
#enddef
