#DESTROYERS ANIMATIONS
#----------------------------------------------------------------------------------------
#define DESCYCLOP2_LASER VARIATION DIR HALO_X HALO_Y IMAGE
    [attack_anim]
        [filter_attack]
            name=eye,eye2
        [/filter_attack]
        direction={DIR}
        [missile_frame]
            begin=-100
            end=100
            image=""
        [/missile_frame]
        [frame]
            begin=-300
            end=-200
            image={IMAGE}-attack3.png
            halo=halo/laser-destr-{VARIATION}-1.png:100
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=-200
            end=-100
            image={IMAGE}-attack2.png
            sound="magic-dark-big.ogg"
            halo=halo/laser-destr-{VARIATION}-2.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=-100
            end=0
            image={IMAGE}-attack1.png
            sound="magic-dark-big.ogg"
            halo=halo/laser-destr-{VARIATION}-3.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=0
            end=100
            image={IMAGE}-attack1.png
            halo=halo/laser-destr-{VARIATION}-4.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=100
            end=200
            image={IMAGE}-attack2.png
            halo=halo/laser-destr-{VARIATION}-5.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            begin=200
            end=300
            image={IMAGE}-attack3.png
            halo=halo/laser-destr-{VARIATION}-2.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define DESTROYER_ADVANCEMENT_ANIM
[levelout_anim]
	[frame]
		duration=600
		blend_ratio="0~1:600"
		blend_color=0,0,0
	[/frame]
[/levelout_anim]
[levelin_anim]
	[frame]
		duration=600
		blend_ratio="1~0:600"
		blend_color=0,0,0
	[/frame]
[/levelin_anim]
#enddef
#----------------------------------------------------------------------------------------
#define DESTROYER_DEATH_ANIM SCALE
    [death]
        start_time=0
      [portal_frame]
         duration=600
         image="halo/particle-anims/particle-c-[01~36].png"
         image_mod="~SCALE({SCALE})~BLEND(255,0,0,1)"
         alpha=1.0:300,1.0~0.0:300
            auto_vflip=false
         offset=0.0
         y=-12
         layer=99
	 sound=chaotic-blast.wav
      [/portal_frame]
#        image_mod="~CS():300,~BLEND(0,0,0,0.75)~O(50%)" 
        [frame]
           duration=600 
           blend_ratio=0~0.75:300,0.75
	   blend_color=0,0,0
           alpha=1~0
        [/frame]
        [frame]
            image="misc/blank-hex.png:1"
        [/frame]
    [/death]
#enddef
#define DESTROYER_DEATH_ANIM_SMALL
#{DESTROYER_DEATH_ANIM 100,150}
#{DESTROYER_DEATH_ANIM 250,137}
{DESTROYER_DEATH_ANIM 100,123}
#enddef
#define DESTROYER_DEATH_ANIM_MEDIUM
#{DESTROYER_DEATH_ANIM 125,197}
#{DESTROYER_DEATH_ANIM 300,165}
{DESTROYER_DEATH_ANIM 120,167}
#enddef
#define DESTROYER_DEATH_ANIM_LARGE
#{DESTROYER_DEATH_ANIM 150,225}
#{DESTROYER_DEATH_ANIM 400,220}
{DESTROYER_DEATH_ANIM 150,184}
#enddef
#----------------------------------------------------------------------------------------
#define DESTROYER_NIGHTMARE_RECRUIT_ANIM BASEFRAME SCALE
    [recruit_anim]
		[halo_frame]
			duration=600
			image=halo/vortex3portal.png~SCALE({SCALE})~CS(-128,-255,-255)
			alpha=1:300,1~0:300
			offset=0.0
			layer=0
			halo_y=-10
		[/halo_frame]
		[unit_frame]
			alpha=0:100,0~1:600
			blend_ratio=1~0:300
			blend_color=128,0,0
			image="units/destroyers-maras/{BASEFRAME}.png:700"
			auto_vflip=false
			offset=0.0
			layer=1
		[/unit_frame]
        [frame]
            alpha=0
            sound=chaotic-blast.wav
        [/frame]
    [/recruit_anim]
    [death]
		[halo_frame]
			duration=900
			image=halo/vortex3portal.png~SCALE({SCALE})~CS(-128,-255,-255)
			alpha=0~1:300,1:300,1~0:300
			offset=0.0
			layer=0
			halo_y=-10
		[/halo_frame]
		[unit_frame]
			alpha=1~0:600,0
			blend_ratio=1~0:300
			blend_color=128,0,0
			image="units/destroyers-maras/{BASEFRAME}.png:700"
			auto_vflip=false
			offset=0.0
			layer=1
		[/unit_frame]
        [frame]
            alpha=0
            sound=chaotic-blast.wav
        [/frame]
    [/death]
#enddef

#----------------------------------------------------------------------------------------
#define DESTROYER_RECRUIT_ANIM START_Y
    [recruit_anim]
        start_time=0
        circle_start_time=-100
		circle2_start_time=200
		circle3_start_time=500
        
		[circle_frame]
			duration=500
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(101,59)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=17
			alpha=0~1
			offset=0.0	    
			layer=0
		[/circle_frame]
		[circle_frame]
			duration=400
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(101,59)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=17~-30
			alpha=1~0
			offset=0.0	    
			layer=0
		[/circle_frame]
		[circle2_frame]
			duration=1
			image=halo/ucircle-frames/circle-g-[01~23].png
			y=17
			alpha=0
		[/circle2_frame]
		[circle2_frame]
			duration=500
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(101,59)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=17
			alpha=0~1
			offset=0.0	    
			layer=0
		[/circle2_frame]
		[circle2_frame]
			duration=400
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(101,59)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=17~-30
			alpha=1~0
			offset=0.0    
			layer=0
		[/circle2_frame]
		[circle3_frame]
			duration=1
			image=halo/ucircle-frames/circle-g-[01~23].png
			y=17
			alpha=0
		[/circle3_frame]
		[circle3_frame]
			duration=400
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(101,59)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=17~-30
			alpha=1~0
			offset=0.0    
			layer=0
		[/circle3_frame]
		[frame]
		   duration=1000
		   submerge=1~0.8:300,0.8~0:700
		   y={START_Y}:300,{START_Y}~0:700
		   alpha=0~1:600,1:400
		   blend_color=32,0,0
		   blend_ratio=1:600,1~0:400
		   layer=2
#          sound=magic-faeriefire-miss.ogg
		   sound=chaotic-blast.wav
		[/frame]
    [/recruit_anim]
#enddef    
#----------------------------------------------------------------------------------------
#define DESTROYER_RECRUIT_ANIM_BIG START_Y
    [recruit_anim]
        start_time=0
        circle_start_time=-100
		circle2_start_time=200
		circle3_start_time=500
        
		[circle_frame]
			duration=500
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(126,74)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=21
			alpha=0~1
			offset=0.0	    
			layer=0
		[/circle_frame]
		[circle_frame]
			duration=400
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(126,74)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=21~-37
			alpha=1~0
			offset=0.0	    
			layer=0
		[/circle_frame]
		[circle2_frame]
			duration=1
			image=halo/ucircle-frames/circle-g-[01~23].png
			y=21
			alpha=0
		[/circle2_frame]
		[circle2_frame]
			duration=500
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(126,74)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=21
			alpha=0~1
			offset=0.0	    
			layer=0
		[/circle2_frame]
		[circle2_frame]
			duration=400
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(126,74)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=21~-37
			alpha=1~0
			offset=0.0    
			layer=0
		[/circle2_frame]
		[circle3_frame]
			duration=1
			image=halo/ucircle-frames/circle-g-[01~23].png
			y=25
			alpha=0
		[/circle3_frame]
		[circle3_frame]
			duration=400
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(126,74)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=21~-37
			alpha=1~0
			offset=0.0    
			layer=0
		[/circle3_frame]
		[frame]
		   duration=1000
		   submerge=1~0.8:300,0.8~0:700
		   y={START_Y}:300,{START_Y}~0:700
		   alpha=0~1:600,1:400
		   blend_color=32,0,0
		   blend_ratio=1:600,1~0:400
		   layer=2
#          sound=magic-faeriefire-miss.ogg
		   sound=chaotic-blast.wav
		[/frame]
    [/recruit_anim]
#enddef
#----------------------------------------------------------------------------------------
#define DESTROYER_RECRUIT_ANIM_HUGE START_Y
    [recruit_anim]
        start_time=0
        circle_start_time=-100
		circle2_start_time=200
		circle3_start_time=500
        
		[circle_frame]
			duration=500
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(151,88)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=25
			alpha=0~1
			offset=0.0	    
			layer=0
		[/circle_frame]
		[circle_frame]
			duration=400
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(151,88)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=25~-45
			alpha=1~0
			offset=0.0	    
			layer=0
		[/circle_frame]
		[circle2_frame]
			duration=1
			image=halo/ucircle-frames/circle-g-[01~23].png
			y=25
			alpha=0
		[/circle2_frame]
		[circle2_frame]
			duration=500
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(151,88)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=25
			alpha=0~1
			offset=0.0	    
			layer=0
		[/circle2_frame]
		[circle2_frame]
			duration=400
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(151,88)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=25~-45
			alpha=1~0
			offset=0.0    
			layer=0
		[/circle2_frame]
		[circle3_frame]
			duration=1
			image=halo/ucircle-frames/circle-g-[01~23].png
			y=25
			alpha=0
		[/circle3_frame]
		[circle3_frame]
			duration=400
			image=halo/ucircle-frames/circle-g-[01~23].png
			image_mod="~SCALE(151,88)~GS()~R(64)~G(-255)~B(-255)"
			auto_vflip=false
			layer=0
			y=25~-45
			alpha=1~0
			offset=0.0    
			layer=0
		[/circle3_frame]
		[frame]
		   duration=1000
		   submerge=1~0.8:300,0.8~0:700
		   y={START_Y}:300,{START_Y}~0:700
		   alpha=0~1:600,1:400
		   blend_color=32,0,0
		   blend_ratio=1:600,1~0:400
		   layer=2
#          sound=magic-faeriefire-miss.ogg
		   sound=chaotic-blast.wav
		[/frame]
    [/recruit_anim]
#enddef
#----------------------------------------------------------------------------------------
