#GENERAL ANIMATIONS
#define LEVITATE3_ANIM PATH DURATION
    [standing_anim]
        [frame]
            image="{PATH}[1,2,3,2].png:{DURATION}"
        [/frame]
    [/standing_anim]
#enddef
#----------------------------------------------------------------------------------------
#define STANDING3_ANIM PATH DURATION
    [standing_anim]
        [frame]
            image="{PATH}[1,2,3].png:{DURATION}"
        [/frame]
    [/standing_anim]
#enddef
#----------------------------------------------------------------------------------------
#define EXPLOSION_SINGLE_ANIM OFFSET
    [missile_frame]
        halo="projectiles/fireball-impact-[1~16].png:60"
        offset={OFFSET}
        sound=explosion.ogg
        auto_vflip=no
    [/missile_frame]
#enddef
#----------------------------------------------------------------------------------------
#define GENERIC_DEFENSE_ANIM DEFENSE_PATH1 DEFENSE_PATH2 DEFENSE_PATH3 DEFENSE_PATH4 DEFENSE_PATH5 FILTER OFFSET1 OFFSET2 OFFSET3
    [defend]
        hits={FILTER}
        start_time=-126
        [frame]
            image="[{DEFENSE_PATH1},{DEFENSE_PATH2},{DEFENSE_PATH3},{DEFENSE_PATH4},{DEFENSE_PATH5}].png:[1,83*2,84,1]"
            offset=0.0:1,{OFFSET1}:83,{OFFSET2}:83,{OFFSET3}:84,0.0:1
        [/frame]
    [/defend]
#enddef
#----------------------------------------------------------------------------------------
#define KAMIKAZE_ANIM FILTER PATH
    [attack_anim]
        [filter_attack]
            name={FILTER}
        [/filter_attack]
        missile_start_time=0
        [missile_frame]
            halo="projectiles/fireball-impact-[1~16].png:60"
            offset=1.0
            sound=explosion.ogg
            auto_vflip=no
        [/missile_frame]
        start_time=-200
        [frame]
            image="{PATH}:200"
            offset=0.0~1.0
            auto_vflip=no
        [/frame]
        [frame]
            image="misc/blank-hex.png:960"
            auto_vflip=no
        [/frame]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
