#KHAROS ANIMATIONS
#----------------------------------------------------------------------------------------
#define CAVALRY_RANGED_ANIM UNIT VARIANT PROJECTILE
    [attack_anim]
        [filter_attack]
            name={VARIANT}
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/{PROJECTILE}-n.png:150"
            image_diagonal="projectiles/{PROJECTILE}-ne.png"
        [/missile_frame]
        start_time=-400
        [frame]
            image="units/kharos-sun/{UNIT}-attack[1,2,1].png:[250,100*2]"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -400}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define CLERIC_STAFF_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-325
        [frame]
            image="units/kharos-light/{UNIT}.png:25"
        [/frame]
        [frame]
            image="units/kharos-light/{UNIT}-melee-[1~5].png:[100*2,150,100*2]"
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define CLERIC_LEADING_HEALING_ANIM UNIT
    [leading_anim]
        start_time=-150
        [frame]
            image="units/kharos-light/{UNIT}-magic-6.png:300"
            halo=halo/holy/halo6.png
        [/frame]
    [/leading_anim]
    [healing_anim]
        start_time=-600
        [frame]
            image="units/kharos-light/{UNIT}-magic-[1,2].png:100"
        [/frame]
        [frame]
            image="units/kharos-light/{UNIT}-magic-[3~6].png:100"
            halo=halo/holy/halo[6,1~3].png:100
        [/frame]
    [/healing_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SHIELDER_DEFENSE_ANIM FIRST_IMAGE SECOND_IMAGE THIRD_IMAGE
    [defend]
        start_time=-100
        [frame]
            image="units/kharos-sun/[{FIRST_IMAGE},{SECOND_IMAGE},{THIRD_IMAGE}].png:[10,180,10]"
        [/frame]
    [/defend]
#enddef
#----------------------------------------------------------------------------------------
#define SHIELDER_DIRECTION_ATTACK_ANIM UNIT DIRECTION DIRECTION_IMAGE
    #Helper for SHIELDERS_ATTACK_ANIM
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        direction={DIRECTION}
        start_time=-200
        [frame]
            image="units/kharos-sun/[{UNIT},{DIRECTION_IMAGE},{UNIT}].png:[100,200,100]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SHIELDERS_ATTACK_ANIM UNIT

    {SHIELDER_DIRECTION_ATTACK_ANIM {UNIT} se,sw {UNIT}-attack}
    {SHIELDER_DIRECTION_ATTACK_ANIM {UNIT} ne,nw {UNIT}-attack-ne}
    {SHIELDER_DIRECTION_ATTACK_ANIM {UNIT} n {UNIT}-attack-n}
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        direction=s
        start_time=-200
        [frame]
            image="units/kharos-sun/[{UNIT},{UNIT}-attack-s-1,{UNIT}-attack-s-2,{UNIT}-attack-s-1].png:[50,100,150,50]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/kharos-sun/{UNIT}.png:350"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -50}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SUN_SPEAR_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/kharos-sun/{UNIT}-attack[1~4].png:[100,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define WHITE_SWORD_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=white sword
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/kharos-sun/{UNIT}-attack-[1~3,2,1].png:[50,100,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define BROWN_MACE_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/kharos-sun/{UNIT}-attack-[1~3,2,1]a.png:[50,100,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SUN_TELEPORT_ANIM UNIT
    [teleport_anim]
        start_time=-500
        [frame]
            image="misc/blank-hex.png"
            halo=halo/{UNIT}-teleport[1,2].png:50
            halo_x,halo_y=0,-360
        [/frame]
        [frame]
            image="misc/blank-hex.png"
            halo=halo/silverwarrior-teleport[3~7].png:[100,75*4]
            halo_x,halo_y=0,-360
            sound=lightning-miss.ogg
        [/frame]
        [frame]
            image="misc/blank-hex.png"
            halo=halo/silverwarrior-teleport[7~4].png:75*4
            halo_x,halo_y=0,-360
        [/frame]
        [frame]
            image="misc/blank-hex.png"
            halo=halo/{UNIT}-teleport[3~1].png:[100,50*2]
            halo_x,halo_y=0,-360
            sound=lightning-miss.ogg
        [/frame]
    [/teleport_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SUN_IF_KILL_ANIM UNIT
    #Can be overridden if there is hits=yes filter for the same anim because hits=yes is short for hits=hit,kill
    [if]
        hits=kill
        start_time=-500
        [frame]
            image="misc/blank-hex.png"
            halo=halo/{UNIT}-teleport[1,3].png:50
            halo_x,halo_y=0,-360
            sound=lightning-miss.ogg
            offset=0.0
        [/frame]
        [frame]
            image="misc/blank-hex.png"
            halo=halo/silverwarrior-teleport[4,5,7].png:50
            halo_x,halo_y=0,-360
            sound=lightning-miss.ogg
            offset=0.0
        [/frame]
        [frame]
            image="misc/blank-hex.png"
            halo=halo/silverwarrior-teleport[5,7].png:50
            halo_x,halo_y=0,-360
            offset=0.0
        [/frame]
        [frame]
            image="misc/blank-hex.png"
            halo=halo/silverwarrior-teleport[7,5].png:50
            halo_x,halo_y=0,-360
            sound=lightning-miss.ogg
            offset=1.5
        [/frame]
        [frame]
            image="misc/blank-hex.png"
            halo=halo/[silverwarrior-teleport4,{UNIT}-teleport3,{UNIT}-teleport1].png:50
            halo_x,halo_y=0,-360
            sound=lightning-miss.ogg
            offset=1.5
        [/frame]
        [frame]
            image="units/kharos-sun/{UNIT}-attack-[1,2].png:100"
            offset=1.5
        [/frame]
        [frame]
            image="units/kharos-sun/{UNIT}-attack-[3,4].png:100"
            sound={SOUND_LIST:SWORD_SWISH}
            offset=1.5
        [/frame]
        [frame]
            image="units/kharos-sun/{UNIT}-attack-1.png:100"
            offset=1.5~0.0
        [/frame]
    [/if]
#enddef
#----------------------------------------------------------------------------------------
#define MELEE_SLICE_KILL_ANIM UNIT
    #Helper macro for SLICE_FRENZY_ANIM
    start_time=-200
    [frame]
        image="units/kharos-sun/{UNIT}-kill-1.png:100"
    [/frame]
    [frame]
        image="units/kharos-sun/{UNIT}-kill-[2~6].png:[150,100*4]"
        sound={SOUND_LIST:SWORD_SWISH}
    [/frame]
#enddef
#----------------------------------------------------------------------------------------
#define SLICE_FRENZY_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=berserker frenzy
        [/filter_attack]
        [if]
            hits=kill
            {MELEE_SLICE_KILL_ANIM {UNIT}}
        [/if]
        [else]
            start_time=-300
            [if]
                hits=no
                [frame]
                    image="units/kharos-sun/{UNIT}-attack-[3~5].png:75"
                [/frame]
                [frame]
                    image="units/kharos-sun/{UNIT}-attack-[6~10].png:75"
                    sound={SOUND_LIST:MISS}
                [/frame]
            [/if]
            [else]
                hits=hit
                [frame]
                    image="units/kharos-sun/{UNIT}-attack-[3~5].png:75"
                [/frame]
                [frame]
                    image="units/kharos-sun/{UNIT}-attack-[6~10].png:75"
                    sound={SOUND_LIST:SWORD_SWISH}
                [/frame]
            [/else]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=berserker frenzy
        [/filter_attack]
        hits=yes
        {MELEE_SLICE_KILL_ANIM {UNIT}}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define KHAROS_BANNER_MAGIC_ANIM UNIT X Y SCALE DURATION DURATION2 DURATION3 DURATIONFADE
    [if]
        direction=s,se,ne,n
        [glow_frame]
            offset=0.0
            image="halo/sb-09.png~CS(50,50,50)~SCALE({SCALE},{SCALE}):{DURATION}"
            x,y=-{X},{Y}
            layer=99
            alpha=0~0.8:{DURATION2},0.85:{DURATION3},0.8~0:{DURATIONFADE}
            auto_vflip=false
        [/glow_frame]
    [/if]
    [else]
        direction=sw,nw
        [glow_frame]
            offset=0.0
            image="halo/sb-09.png~CS(50,50,50)~SCALE({SCALE},{SCALE}):{DURATION}"
            x,y={X},{Y}
            layer=99
            alpha=0~0.8:{DURATION2},0.85:{DURATION3},0.8~0:{DURATIONFADE}
            auto_vflip=false
        [/glow_frame]
    [/else]
    [frame]
        image="units/kharos-light/{UNIT}-magic-[1,2,1].png:{DURATION}"
    [/frame]
#enddef
#----------------------------------------------------------------------------------------
#define KHAROS_BANNER_LIGHTBEAM_ANIM UNIT X Y SCALE
    [attack_anim]
        [filter_attack]
            name=lightbeam
        [/filter_attack]
        missile_start_time=-245

        [missile_frame]
            halo="halo/holy/light-beam-[1~7,6~1].png~SCALE(125,545):[30*6,130,70*6]"
            offset=1.0
            auto_vflip=false
        [/missile_frame]
        [if]
            direction=s,se,ne,n
            [glow_frame]
                offset=0.0
                image="halo/sb-09.png~CS(50,50,50)~SCALE({SCALE},{SCALE}):550"
                x,y=-{X},{Y}
                layer=99
                alpha=0~0.8:200,0.85:300,0.8~0:50
                auto_vflip=false
            [/glow_frame]
        [/if]
        [else]
            direction=sw,nw
            [glow_frame]
                offset=0.0
                image="halo/sb-09.png~CS(50,50,50)~SCALE({SCALE},{SCALE}):550"
                x,y={X},{Y}
                layer=99
                alpha=0~0.8:200,0.85:300,0.8~0:50
                auto_vflip=false
            [/glow_frame]
        [/else]
        start_time=-600
        glow_start_time=-500
        [frame]
            image="units/kharos-light/{UNIT}-magic-[1,2].png:100"
        [/frame]
        [frame]
            image="units/kharos-light/{UNIT}-magic-[2,1].png:[300,100]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:HOLY} {SOUND_LIST:HOLY_MISS} -100}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define KHAROS_LIGHT_STANDING_ANIM UNIT
    [standing_anim]
        start_time=0
        [frame]
            image="units/kharos-light/{UNIT}[1~3,2].png:200"
        [/frame]
    [/standing_anim]
#enddef
#----------------------------------------------------------------------------------------
#define KHAROS_LIGHT_LIGHTSTORM_ANIM UNIT GLOWSIZE
    [attack_anim]
        [filter_attack]
            name=lightstorm
        [/filter_attack]
        missile_start_time=-225
        glow_start_time=-300
        [if]
            direction=sw,nw
            [missile_frame]
                duration=1000
                image="halo/particle-anims/particle-b-[74~01].png"
                sound=magic-faeriefire.ogg
                layer=99
                y=-6
                x=-3
                offset=0
            [/missile_frame]
        [/if]
        [else]
            [missile_frame]
                duration=1000
                image="halo/particle-anims/particle-b-[74~01].png"
                sound=magic-faeriefire.ogg
                layer=99
                y=-6
                x=3
                offset=0
            [/missile_frame]
        [/else]
        [glow_frame]
            offset=0.0
            image="halo/sb-09.png~GS()~CS(60,60,60)~SCALE({GLOWSIZE},{GLOWSIZE}):600"
            layer=99
            alpha=0~0.8:125,0.85:400,0.8~0:100
            auto_vflip=false
        [/glow_frame]
        start_time=-300
        [frame]
            image="units/kharos-light/{UNIT}-heal1.png:600"
        [/frame]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
