# wmllint: no translatables
#THARIS ANIMATIONS
#----------------------------------------------------------------------------------------
#define DARK_COMMANDER_SPEAR_ATTACK_ANIM UNIT VARIANT
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        attack_sound_start_time=-100
        [frame]
            image="units/tharis-warriors/{UNIT}-attack[1~3,{VARIANT}].png:100"
        [/frame]
        [if]
            hits=no
            [attack_sound_frame]
                sound={SOUND_LIST:MISS}
            [/attack_sound_frame]
        [/if]
        [else]
            hit=yes
            [attack_sound_frame]
                duration=100
                sound=spear.ogg
            [/attack_sound_frame]
            [attack_sound_frame]
                sound=dagger-swish.wav
            [/attack_sound_frame]
        [/else]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define FRONTLINER_BLADE_ATTACK_ANIM UNIT VARIANT
    [attack_anim]
        [filter_attack]
            name=swords-blade
        [/filter_attack]
        start_time=-200
        attack_sound_start_time=-100
        [frame]
            image="units/tharis-warriors/{UNIT}-attack[1~3,{VARIANT}].png:100"
        [/frame]
        [if]
            hits=no
            [attack_sound_frame]
                sound={SOUND_LIST:MISS}
            [/attack_sound_frame]
        [/if]
        [else]
            hit=yes
            [attack_sound_frame]
                duration=100
                sound=spear.ogg
            [/attack_sound_frame]
            [attack_sound_frame]
                sound=dagger-swish.wav
            [/attack_sound_frame]
        [/else]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define FRONTLINER_PIERCE_ATTACK_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=swords-pierce
        [/filter_attack]
        start_time=-200
        attack_sound_start_time=-100
        [frame]
            image="units/tharis-warriors/{UNIT}-attack-b-[1,2,1].png:100"
        [/frame]
        [if]
            hits=no
            [attack_sound_frame]
                sound=spear-miss.ogg
            [/attack_sound_frame]
        [/if]
        [else]
            hit=yes
            [attack_sound_frame]
                duration=100
                sound=spear.ogg
            [/attack_sound_frame]
        [/else]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define DARK_MISSILE_ANIM
    missile_start_time=-200
    [missile_frame]
        image="projectiles/darkmissile-n.png:240"
        image_diagonal="projectiles/darkmissile-ne.png:240"
        offset=0.0~1.0:200
    [/missile_frame]
#enddef
#----------------------------------------------------------------------------------------
#define DARK_MISSILE_MISS_ANIM
    missile_start_time=-200
    [missile_frame]
        image="projectiles/darkmissile-n.png:240"
        image_diagonal="projectiles/darkmissile-ne.png:240"
        offset=0.0~1.0:200
        alpha=1:50,1~0
    [/missile_frame]
#enddef
#----------------------------------------------------------------------------------------
#define DARK_SCYTHE_ATTACK_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=scythe
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/tharis-magi/{UNIT}-attack[1~3,2,1].png:[50,100,200,100*2]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=scythe
        [/filter_attack]
        terrain_type=Q*,Mv
        start_time=-250
        [frame]
            image="units/tharis-magi/{UNIT}-attack[-ns1,-ns2,-ns3,-ns2,-ns1].png:[50,100,200,100*2]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define HYDRA_ATTACK_ANIM UNIT ATTACK_FILTER HIT_FILTER DURATION BITE_SOUND
    [attack_anim]
        [filter_attack]
            name={ATTACK_FILTER}
        [/filter_attack]
        hits={HIT_FILTER}
        start_time=-250
        attack_sound_start_time=-100
        [frame]
            image="units/tharis-monsters/{UNIT}.png:{DURATION}"
        [/frame]
        [attack_sound_frame]
            sound={BITE_SOUND}
        [/attack_sound_frame]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#LETTER 'a' in "hydra" is cut and used in progressive string
#define HYDRA_STANDING_ANIM UNIT
    [standing_anim]
        start_time=0
        [frame]
            image="units/tharis-monsters/{UNIT}[a,a-standing1,a-standing2,a-standing1].png:200"
        [/frame]
    [/standing_anim]
#enddef
#----------------------------------------------------------------------------------------
#define HYDRA_DEFEND_ANIM1 UNIT
    [defend]
        start_time=0
        [frame]
            image="units/tharis-monsters/{UNIT}-standing[1,2,1].png:100"
        [/frame]
    [/defend]
#enddef
#----------------------------------------------------------------------------------------
#define HYDRA_DEFEND_ANIM2 UNIT
    [defend]
        start_time=0
        [frame]
            image="units/tharis-monsters/{UNIT}.png:300"
        [/frame]
    [/defend]
#enddef
#----------------------------------------------------------------------------------------
#Letter 'h' in "witch" and "matiarch" is cut and used in progressive string
#define WITCH_MELEE_ATTACK_ANIM UNIT HIT_FRAME FILTER
    [attack_anim]
        [filter_attack]
            name={FILTER}
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/tharis-magi/{UNIT}[h,h-attack1,{HIT_FRAME},h-attack1,h].png:[50,100,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define WITCH_FIRE_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=witch-fire
        [/filter_attack]
        missile_start_time=-200
        missile2_start_time=-150
        [missile_frame]
            image="projectiles/zbmage-halo3.png:240"
            image_diagonal="projectiles/zbmage-halo3.png:240"
            offset=0.0~1.0:200
        [/missile_frame]
        [if]
            hits=yes
            [missile_frame]
                duration=400
                image="projectiles/fire-burst-small-[1~8].png"
                image_diagonal="projectiles/fire-burst-small-[1~8].png"
                image_mod=~GS()~CS(0,-255,0)
                offset=0.8~1.0
                sound=fire.wav
            [/missile_frame]
            [missile2_frame]
                halo="halo/elven/druid-healing[1~8].png~CS(-50,-100,-50)~O(40%):50"
                auto_vflip=false
                offset=0.0
            [/missile2_frame]
        [/if]
        start_time=-400
        [frame]
            image="units/tharis-magi/{UNIT}[h-magic1,h-magic2,h-magic3,h].png:[50,150,200,50]"
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark.ogg magic-dark.ogg -200}
    [/attack_anim]
#enddef
