#DARKBLOOD ANIMATIONS
#----------------------------------------------------------------------------------------
#define TOAD_TONGUE_ANIM UNIT DIRECTION VARIANT
    [attack_anim]
        [filter_attack]
            name=tongue
        [/filter_attack]
        direction={DIRECTION}
        [missile_frame]
        [/missile_frame]
        start_time=-200
        [frame]
            image="units/darkblood-toads/[{UNIT}*3].png:[100,150,50]"
            halo=halo/toad-tongue-{VARIANT}[1,2,1].png:[100,150,50]
	    sound=tongue-toad.wav
        [/frame]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define TOAD_DART_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=dart
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/spear-n.png:150"
            image_diagonal="projectiles/spear-ne.png"
        [/missile_frame]
        start_time=-200
        [frame]
            image="units/darkblood-toads/{UNIT}-ranged[1,2].png:[100,150]"
            sound={SOUND_LIST:THROW}
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define TOAD_PAW_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=paw
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/darkblood-toads/{UNIT}-melee.png:500"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} 0}
    [/attack_anim]
#enddef

#----------------------------------------------------------------------------------------
#define TOAD_IDLE_ANIM UNIT
    [idle_anim]
        start_time=0
        [frame]
            image="units/darkblood-toads/{UNIT}-idle[1,2,1,2,1,2,1,2,1,2,1,2].png:75"
        [/frame]
    [/idle_anim]
#enddef
#----------------------------------------------------------------------------------------
#define TOAD_CROSSBOW_ANIM UNIT VARIANT
    [attack_anim]
        [filter_attack]
            name=crossbow{VARIANT}
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/missile-n.png:150"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]
        start_time=-150
        [frame]
            image="units/darkblood-toads/{UNIT}.png:200"
            sound=crossbow.ogg
        [/frame]
        {SOUND:HIT_AND_MISS crossbow.ogg crossbow-miss.ogg -150}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define TOAD_SPEAR_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=spear,charge
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/darkblood-toads/[{UNIT}-melee,{UNIT}-spear,{UNIT}].png:[250,50,150]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg "" 0}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define TOAD_RECRUIT_ANIM UNIT WYVERNTYPE
    [recruit_anim]
		start_time=0
		direction=n,s,se,ne
		[wyvern_frame]
			duration=2000
			image="units/darkblood-wyverns/[{WYVERNTYPE}-moving,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving3,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving3,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving3,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving3,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving3,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving3,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving].png"
			alpha=0.0~1:250,1:1500,1~0:250
			y=-200~-98:1000,-98~-200:1000
			auto_vflip=false
			x=-250~250:2000
			layer=98
		[/wyvern_frame]
        [frame]
			duration=1100
			image="units/darkblood-toads/{UNIT}.png"
			alpha=0.0~1:800,1
			y=-175~-72:1000,-72
			x=-250~0:1000,0
			alpha=0~1:400,1
			auto_vflip=no
			layer=99
		[/frame]		
		[frame]
        	halo="units/darkblood-toads/{UNIT}-idle1.png:300"
			halo_y=-72~0
			image="misc/blank-hex.png"
			auto_vflip=no
			layer=98
		[/frame]
		[frame]
 			image="units/darkblood-toads/[{UNIT}-idle1,{UNIT}].png:187"
			layer=2
			halo=halo/rock-dust[1~5].png~SCALE(400,220):75
			sound=explosion.ogg
		[/frame]
    [/recruit_anim]
    [recruit_anim]
		start_time=0
		direction=sw,nw
		[wyvern_frame]
			duration=4000
			image="units/darkblood-wyverns/[{WYVERNTYPE}-moving,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving3,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving3,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving3,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving3,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving3,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving3,{WYVERNTYPE}-moving2,{WYVERNTYPE}-moving].png"
			alpha=0.0~1:250,1:1500,1~0:250
			y=-200~-98:1000,-98~-200:1000
			auto_vflip=false
			x=250~-250:2000
			layer=98
		[/wyvern_frame]
        [frame]
			duration=1100
			image="units/darkblood-toads/{UNIT}.png"
			alpha=0.0~1:800,1
			y=-175~-72:1000,-72
			x=250~0:1000,0
			alpha=0~1:400,1
			auto_vflip=no
			layer=99
		[/frame]		
		[frame]
        	halo="units/darkblood-toads/{UNIT}-idle1.png:300"
			halo_y=-72~0
			image="misc/blank-hex.png"
			auto_vflip=no
			layer=98
		[/frame]
		[frame]
			image="units/darkblood-toads/[{UNIT}-idle1,{UNIT}].png:187"
			layer=2
			halo=halo/rock-dust[1~5].png~SCALE(400,220):75
			sound=explosion.ogg
		[/frame]
    [/recruit_anim]
#enddef
#----------------------------------------------------------------------------------------
#define WYVERN_STANDARD_ANIM UNIT
	{DEFENSE_ANIM "units/darkblood-wyverns/{UNIT}.png" "units/darkblood-wyverns/{UNIT}.png" hiss-hit.wav}
	{DEFENSE_ANIM_FILTERED "units/darkblood-wyverns/{UNIT}-moving.png" "units/darkblood-wyverns/{UNIT}-moving2.png" hiss-hit.wav (terrain_type=Q*,Mv,*^Qov,W*,S*)}
    [attack_anim]
        [filter_attack]
            name=slam
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/darkblood-wyverns/{UNIT}-attack[1,2].png:[250,50]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fangswyv
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/darkblood-wyverns/[{UNIT}-attack1,{UNIT}-attack2,{UNIT}].png:[100,150,50]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -150}
    [/attack_anim]
    [movement_anim]
        [frame]
            image="units/darkblood-wyverns/[{UNIT}-moving,{UNIT}-moving2,{UNIT}-moving3,{UNIT}-moving2,{UNIT}-moving].png:150"
        [/frame]
    [/movement_anim]
	[standing_anim]
		[frame]
			image="units/darkblood-wyverns/[{UNIT},{UNIT}2,{UNIT}3,{UNIT}2].png:[400,150,200,150]"
		[/frame]
	[/standing_anim]
	[standing_anim]
		terrain_type=Q*,Mv,*^Qov,W*,S*
		[frame]
            image="units/darkblood-wyverns/[{UNIT}-moving,{UNIT}-moving2,{UNIT}-moving3,{UNIT}-moving2,{UNIT}-moving].png:150"
        [/frame]
    [/standing_anim]
#enddef
#----------------------------------------------------------------------------------------
#define WYVERN_SCREAM_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=scream
        [/filter_attack]
        [missile_frame]
        [/missile_frame]
        start_time=-200
        [frame]
            image="units/darkblood-wyverns/{UNIT}-attack1.png:400"
            sound=bonebeast-hit-[1,2].ogg
        [/frame]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define WYVERN_RIDER_ANIM UNIT
    [standing_anim]
        start_time=0
        [frame]
            image="units/darkblood-wyverns/[{UNIT},{UNIT}-standing2,{UNIT}-standing3,{UNIT}-standing2].png:200"
        [/frame]
    [/standing_anim]
	[movement_anim]
        start_time=0
        [frame]
            image="units/darkblood-wyverns/[{UNIT},{UNIT}-standing2,{UNIT}-standing3,{UNIT}-standing2].png:200"
        [/frame]
    [/movement_anim]
	[attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/darkblood-wyverns/{UNIT}.png:[300]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
	[attack_anim]
        [filter_attack]
            name=fangswyv
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/darkblood-wyverns/{UNIT}.png:[300]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -150}
    [/attack_anim]
	[attack_anim]
        [filter_attack]
            name=tail
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/darkblood-wyverns/{UNIT}.png:[300]"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SAURIAN_PIKE_ANIM UNIT VARIANT
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/darkblood-saurians/{UNIT}-melee[1,2,1].png:[100,150,50]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear2
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/darkblood-saurians/{UNIT}-melee[3~5,{VARIANT}].png:[100,150,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SAURIAN_HEALING_ANIM
    [healing_anim]
        start_time=-300
        [frame]
            halo="halo/saurian-magic-halo-[1~7].png:[50,60,70,80,90,100*2]"
        [/frame]
    [/healing_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SAURIAN_CLAW_ANIM VARIATION
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        [frame]
            begin=-150
            end=-100
            image="units/darkblood-saurians/{VARIATION}.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-100
                end=50
                image="units/darkblood-saurians/{VARIATION}.png"
                sound=claws.ogg
            [/frame]
        [/if]
        [else]
            [frame]
                begin=50
                end=100
                image="units/darkblood-saurians/{VARIATION}.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SAURIAN_ENTANGLE_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=entangle
        [/filter_attack]
        missile_start_time=-375
        missile2_start_time=-175
        [missile_frame]
            halo=projectiles/zmage-halo[1~5].png~GS()~BLEND(0,128,255,0.35)~CS(0,128,255):48
            halo_x,halo_y=2,-2
            offset=0.0~1.0:200
        [/missile_frame]
        [if]
          hits=yes
        [missile2_frame]
            image="halo/mystic-magic[1~5,5~1].png:75"
            image_diagonal="halo/mystic-magic[1~5,5~1].png:75"
       blend_ratio=0:225,0~0.3:150,0.3~0:150
            blend_color=255,255,255
            offset=1.0
        [/missile2_frame]
        [/if]
        [else]
        [/else]
        start_time=-375
        attack_sound_start_time=0
        [frame]
            image="units/darkblood-saurians/{UNIT}.png:[75*10]"
            halo="halo/mystic-magic[1~5,5~1].png:75"
            halo_x,halo_y=0,-2
        [/frame]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire.ogg -200}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------