#SKYKINGDOM ANIMATIONS
#----------------------------------------------------------------------------------------
#define SKY_HIDDEN_MOVMENT_ANIM UNIT DIRECTION VARIATION
    [movement_anim]
        direction={DIRECTION}
        start_time=0
        [frame]
            image="units/skykingdom-warriors/{UNIT}-{VARIATION}.png:50"
        [/frame]
    [/movement_anim]
#enddef
#----------------------------------------------------------------------------------------
#define BATTLEMAGE_MISSILE_ATTACK_ANIM FIRST SECOND
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            halo=projectiles/zmage-halo[1~5].png:40
            halo_x,halo_y=2,-2
        [/missile_frame]
        start_time=-400
        [frame]
            image="units/skykingdom-magi/enlightened-{FIRST}.png:50"
        [/frame]
        [frame]
            image="units/skykingdom-magi/enlightened-{SECOND}.png:350"
            halo="projectiles/zmage-preparation-halo[1~7,1~7].png:[21*7,28*7]"
            halo_x,halo_y=2,-2
        [/frame]
        [frame]
            image="units/skykingdom-magi/enlightened-{FIRST}.png:50"
        [/frame]
        {SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -200}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SKY_MASTER_ICE_AND_FIREBALL_ANIM UNIT VARIANTS
    [attack_anim]
        [filter_attack]
            name=icicles
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            image="projectiles/icicles[1~3].png:75"
            image_diagonal="projectiles/icicles-ne[1~3].png:75"
            offset=0.5
        [/missile_frame]
        start_time=-225
        [frame]
            image="units/skykingdom-magi/{UNIT}-attack-magic[3~5]-2.png:75"
            sound=spear.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL}
        start_time=-460
        [frame]
            image="units/skykingdom-magi/{UNIT}-attack-magic1-1.png:60"
        [/frame]
        [frame]
            image="units/skykingdom-magi/{UNIT}-attack-magic{VARIANTS}.png:[60*4,280]"
            sound=fire.wav
        [/frame]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define GOLEM_CHARGE_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=charge
        [/filter_attack]
        start_time=-230
        [frame]
            image="units/skykingdom-golems/{UNIT}.png:430"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define GOLEM_DEATH_ANIM
    [death]
        [filter_attack]
            type=blade
        [/filter_attack]
        start_time=0
        [frame]
            image="units/skykingdom-golems/golem-blade[1~5].png:100"
        [/frame]
    [/death]
    [death]
        [filter_attack]
            type=impact
        [/filter_attack]
        start_time=0
        [frame]
            image="units/skykingdom-golems/golem-impact[1~5].png:100"
        [/frame]
    [/death]
    [death]
        [filter_attack]
            type=fire
        [/filter_attack]
        start_time=0
        [frame]
            image="units/skykingdom-golems/golem-fire[1~8].png:100"
        [/frame]
    [/death]
    [death]
        [filter_attack]
            type=arcane
        [/filter_attack]
        start_time=0
        missile_start_time=300
        [missile_frame]
            halo="projectiles/fireball-impact-[1~16].png:60"
            halo_mod=~B(255)
            offset=0.0
            sound=explosion.ogg
            auto_vflip=no
        [/missile_frame]
        [frame]
            image="units/skykingdom-golems/golem-arcane[1~5].png:100"
            alpha=1.0~0.0
        [/frame]
        [frame]
            image="units/skykingdom-golems/golem.png:100"
            alpha=0.0
        [/frame]
    [/death]
    [death]
        [filter_attack]
            type=cold
        [/filter_attack]
        start_time=0
        [frame]
            image="units/skykingdom-golems/golem-cold[1~6].png:100"
        [/frame]
    [/death]
#enddef
#----------------------------------------------------------------------------------------
#define EYE_STANDING_ANIM UNIT
    [standing_anim]
        start_time=0
        [frame]
            image="units/skykingdom-warriors/{UNIT}-[1~12].png:50"
        [/frame]
    [/standing_anim]
#enddef
#----------------------------------------------------------------------------------------
#define EYE_LASER_ANIM UNIT VARIATION DIR HALO_X HALO_Y
    [attack_anim]
        [filter_attack]
            name=eye
        [/filter_attack]
        direction={DIR}
        [missile_frame]
        [/missile_frame]
        start_time=-400
        [frame]
            image="units/skykingdom-warriors/{UNIT}-1.png:100"
        [/frame]
        [frame]
            image="units/skykingdom-warriors/{UNIT}-2.png:100"
            halo=halo/laser-{VARIATION}-1.png
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            image="units/skykingdom-warriors/{UNIT}-[3~5,4~2].png:100"
            halo=halo/laser-{VARIATION}-[2~5].png:100
            halo_x,halo_y={HALO_X},{HALO_Y}
            sound="magic-dark-big.ogg"
        [/frame]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define EYE_DEATH_ANIM SCALE_X SCALE_Y
    [death]
        start_time=0
        [missile_frame]
            halo="projectiles/fireball-impact-[1~16].png~GS()~CS(180,180,180)~SCALE({SCALE_X},{SCALE_Y}):60"
            offset=0.0
            sound=um.ogg
            auto_vflip=no
        [/missile_frame]
    [/death]
#enddef
#----------------------------------------------------------------------------------------
#define EYE_RECRUIT_ANIM UNIT SCALE Y
    [recruit_anim]
        [frame]
            duration=400
            image="units/skykingdom-warriors/{UNIT}-1.png"
            blend_color=255,255,255
            blend_ratio=1~0
        [/frame]
        [flash_frame]
            duration=400
            image="projectiles/secrethit.png"
            image_mod="~SCALE(100,56)"
            alpha=1.0~0.0
            y=-3
            layer=99
        [/flash_frame]
    [/recruit_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SKY_ENLIGHTENED_DEFENSE_ANIM UNIT MISS HIT
    [defend]
        start_time=-126
        hits=miss
        [frame]
            image="units/skykingdom-magi/enlightened-[{MISS},{UNIT}-a,{UNIT}-c,{UNIT}-e,{UNIT}-g,{UNIT}-e,{UNIT}-c,{UNIT}-a,{MISS}].png:[1,36,35,36,35,36,35,36,2]"
        [/frame]
    [/defend]
    [defend]
        start_time=-125
        hits=yes
        [frame]
            image="units/skykingdom-magi/enlightened-{HIT}.png:250"
        [/frame]
    [/defend]
#enddef
#----------------------------------------------------------------------------------------
#define SKY_ENLIGHTENED_ENTANGLE_ANIM FIRST SECOND
    [attack_anim]
        [filter_attack]
            name=ensnare
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="projectiles/entangle.png:200"
            image_diagonal="projectiles/entangle.png"
        [/missile_frame]
        start_time=-300
        [frame]
            image="units/skykingdom-magi/[{FIRST},{SECOND}*3].png:75"
            halo="halo/elven/nature-halo[1~4].png:75"
            halo_x,halo_y=0,-12
        [/frame]
        [frame]
            image="units/skykingdom-magi/{SECOND}.png:225"
            halo="halo/elven/nature-halo[5~7].png:75"
            sound=entangle.wav
            halo_x,halo_y=0,-12
        [/frame]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SKY_ENLIGHTENED_STAFF_ANIM MISSILE1 MISSILE2 MISSILE3 STAFF1 STAFF2 STAFF3 UNIT
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="units/skykingdom-magi/enlightened-[{MISSILE1},{MISSILE2},{MISSILE3}].png:[300*2,650]"
            offset=0.8~1.5:300,1.5:300,1.5~0.0:650
            auto_vflip=no
        [/missile_frame]
        start_time=-500
        [frame]
            image="units/skykingdom-magi/enlightened-[{STAFF1},{STAFF2},{STAFF3},{UNIT}-a,{UNIT}-b,{UNIT}-c,{UNIT}-d,{UNIT}-e,{UNIT}-f,{UNIT}-g].png:[100,200,300,50,150*6]"
            offset=0.0~0.33:100,0.33~0.5:200,0.5:1250
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -200}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SKY_BLACK_MISSILE_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            halo=projectiles/zmage-halo[1~5].png:48
            halo_x,halo_y=2,-2
            offset=0.0~1.0:200
            halo_mod=~GS()~CS(-128,-255,-128)
        [/missile_frame]
        [if]
            hits=yes
            missile2_start_time=0
            [missile2_frame]
                duration=400
                halo="projectiles/whitemissile-impact-[1~8].png:50"
                halo_mod=~GS()~CS(-128,-255,-128)
                offset=0.8,0.92,0.94,0.96,0.98,1.0,1.02,1.04
            [/missile2_frame]
        [/if]
        start_time=-525
        [frame]
            image="units/skykingdom-magi/enlightened-{UNIT}-attack-magic[1~4,1].png:75"
            halo="halo/mystic-magic[1~5].png~GS()~CS(-64,-128,-64):75"
        [/frame]
        [frame]
            image="units/skykingdom-magi/enlightened-{UNIT}-attack-magic[2~4,1,2].png:75"
            sound=magic-dark.ogg
            halo="halo/mystic-magic[5~1].png~GS()~CS(-64,-128,-64):75"
        [/frame]
    [/attack_anim]
#enddef

#----------------------------------------------------------------------------------------
#define SKY_BLACK_ENSNARE_ANIM UNIT
    [attack_anim]
        [filter_attack]
            name=ensnare
        [/filter_attack]
        missile_start_time=-375
        [if]
            hits=yes
            [missile_frame]
                image="halo/mystic-magic[1~5,5~1].png~GS()~CS(-64,-128,-64):75"
                image_diagonal="halo/mystic-magic[1~5,5~1].png~GS()~CS(-64,-128,-64):75"
                blend_ratio=0:225,0~0.3:150,0.3~0:150
                blend_color=255,255,255
                offset=1.0
            [/missile_frame]
        [/if]
        [else]
            [missile_frame]
                image="halo/mystic-magic[1~5,5~1].png~GS()~CS(-64,-128,-64):75"
                image_diagonal="halo/mystic-magic[1~5,5~1].png~GS()~CS(-64,-128,-64):75"
                offset=1.0
            [/missile_frame]
        [/else]
        start_time=-375
        attack_sound_start_time=0
        [frame]
            image="units/skykingdom-magi/enlightened-{UNIT}-attack-magic[1~4,1,1,4~2].png:75"
            halo="projectiles/zmage-preparation-halo[1~7,1~7].png:[21*7,28*7]"
            halo_x,halo_y=0,-2
            halo_mod=~GS()~CS(-128,-255,-128)
        [/frame]
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire.ogg -200}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SKY_SIMPLE_MISSLE_ANIM ATTACK1 ATTACK2
    [attack_anim]
        [filter_attack]
            name=missile
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            halo=halo/mage-halo[1~5].png:40
            halo_x,halo_y=7,-17
        [/missile_frame]
        start_time=-400
        [frame]
            image="units/{ATTACK1}.png:50"
        [/frame]
        [frame]
            image="units/{ATTACK2}.png:350"
            halo=halo/mage-preparation-halo[1~7,1~7].png:[21*7,28*7]
            halo_x,halo_y=6,-19
        [/frame]
        {SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -200}
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SKY_GENERIC_DEFENSE_ANIM DEFENSE_PATH1 DEFENSE_PATH2 DEFENSE_PATH3 DEFENSE_PATH4 DEFENSE_PATH5 FILTER
    [defend]
        hits={FILTER}
        start_time=-126
        [frame]
            image="[{DEFENSE_PATH1},{DEFENSE_PATH2},{DEFENSE_PATH3},{DEFENSE_PATH4},{DEFENSE_PATH5}].png:[1,83*2,84,1]"
        [/frame]
    [/defend]
#enddef
#----------------------------------------------------------------------------------------
#define SKY_AIR_SPARKS_ANIM MAGIC1 MAGIC2 MAGIC3 VARIANT
    [attack_anim]
        [filter_attack]
            name=sparks
        [/filter_attack]
        missile_start_time=-100
        [missile_frame]
            image="projectiles/mofflame{VARIANT}.png~GS()~CS(0,128,255):100"
            image_diagonal="projectiles/mofflame{VARIANT}-ne.png~GS()~CS(0,128,255)"
            offset=0~1
        [/missile_frame]
        ball_start_time=-50
        missile2_start_time=-50
        missile3_start_time=-50
        [ball_frame]
            duration=100
            image=projectiles/zmage-halo[1~5,4~1,2~5].png~GS()~BLEND(0,128,255,0.4)~CS(0,128,255)~SCALE(36,36)
            layer=99
            x,y=2,-2
            alpha=0~0.6:20,0.6:50,0.6~0:30
            offset=1
            sound=lightning-miss.ogg
        [/ball_frame]
        [missile2_frame]
            duration=125
            halo="halo/undead/idle-flash-[1~21].png"
            halo_mod=~GS()~G(128)~B(255)~SCALE(36,36)
            halo_x=-12
            offset=1.0
        [/missile2_frame]
        [missile3_frame]
            duration=125
            halo="halo/undead/idle-flash-[1~21].png~FL(horiz)~FL(vert)"
            halo_mod=~GS()~G(128)~B(255)~SCALE(36,36)

            halo_x=12
            offset=1.0
        [/missile3_frame]
        start_time=-150
        [frame]
            image="units/skykingdom-elementalists/[{MAGIC1},{MAGIC2},{MAGIC3}].png:75"
            sound=magic-dark.ogg
        [/frame]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SKY_MOF_FLAMES_ANIM VARIANT UNIT
    [attack_anim]
        [filter_attack]
            name=flames
        [/filter_attack]
        missile_start_time=-50
        [missile_frame]
            image="projectiles/mofflame{VARIANT}.png:50"
            image_diagonal="projectiles/mofflame{VARIANT}-ne.png"
            offset=0.0~1.0
        [/missile_frame]
        missile_start_time=0
        [missile_frame]
            duration=100
            image="projectiles/fire-burst-small-[1~8].png"
            image_diagonal="projectiles/fire-burst-small-[1~8].png"
            image_mod=~SCALE(36,36)
            offset=0.8~1.0
        [/missile_frame]
        start_time=-150
        [frame]
            image="units/skykingdom-elementalists/{UNIT}[1~3].png:50"
            sound=fire.wav
        [/frame]
    [/attack_anim]
#enddef
#----------------------------------------------------------------------------------------
#define SKY_MOW_HEALING_ANIM UNIT
    [healing_anim]
        start_time=-400
        [frame]
            image="units/skykingdom-elementalists/{UNIT}-of-water-attack-magic[1~3,1].png:[50,150,200,50]"
        [/frame]
    [/healing_anim]
#enddef
#----------------------------------------------------------------------------------------
