#textdomain wesnoth-Era_of_Magic
#define ABILITY_EOMA_AWAKE
    [dummy]
        id=eoma_awake
        name= _ "awaken"
        special_note={EOMA_SPECIAL_NOTES_AWAKE}
        description=_"If a friendly adjacent unit with more than one hitpoint dies, it is resurrected, gets +6 experience and remains in battle with one hitpoint. If it dies again (having one hitpoint), it will be killed for sure.
Doesn't work on units attacked indirectly e.g. by area weapons."
    [/dummy] # wmlxgettext: [abilities]
[/abilities]

[event]
    name=attack
    first_time_only=no
    id=eoma_awakeregistry_event1

    [store_unit]
        [filter]
            [and]
                id=$unit.id
                [or]
                    id=$second_unit.id
                [/or]
            [/and]
            [filter_adjacent]
                is_enemy=no
                ability=eoma_awake
            [/filter_adjacent]
            formula="hitpoints > 1"
            [not]
                status=not_living
            [/not]
        [/filter]
        variable=awake_candidates
    [/store_unit]
[/event]

[event]
    name=die
    first_time_only=no
    id=eoma_awake_event
    [filter]
        find_in=awake_candidates
    [/filter]

    {VARIABLE unit.hitpoints 1}
    {VARIABLE_OP unit.experience add 6}
    {VARIABLE_OP second_unit.experience sub 6}

    [if]
        [variable]
            name=second_unit.experience
            less_than=0
        [/variable]
        [then]
            {VARIABLE second_unit.experience 0}
        [/then]
    [/if]

    [if]
        [variable]
            name=unit.gender
            equals="female"
        [/variable]

        [then]
            [unstore_unit]
                variable=unit
                find_vacant=no
                text= _ "female^awoken"
                {COLOR_HEAL}
            [/unstore_unit]
        [/then]
        [else]
            [unstore_unit]
                variable=unit
                find_vacant=no
                text= _ "awoken"
                {COLOR_HEAL}
            [/unstore_unit]
        [/else]
    [/if]
    [sound]
        name={SOUND_LIST:HOLY}
    [/sound]

    [unstore_unit]
        variable=second_unit
        find_vacant=no
    [/unstore_unit]
    {CLEAR_VARIABLE awake_candidates} # if awake did not happen, variable remains, and is overwritten next attack
[/event]
[+abilities] # wmlxgettext: [/abilities]
#enddef
