#define ABILITY_EOMA_AWAKE
    [dummy]
        id=eoma_awake
        name= _ "awaken"
        description=_"If a friendly adjacent unit with more than one hitpoint dies, it is resurrected, gets +6 experience and remains in battle with one hitpoint. If it dies again (having one hitpoint), it will be killed for sure.
Doesn't work on units attacked indirectly e.g. by area weapons."
    [/dummy] # wmlxgettext: [abilities]
[/abilities]

[event]
    name=attack
    first_time_only=no
	id=eoma_awakeregistry_event1
	
	[filter_second]
		[filter_adjacent]
			is_enemy=no
			ability=eoma_awake
		[/filter_adjacent]
		[filter_wml]
			hitpoints=1
		[/filter_wml]
		[not]
			[filter_wml]
				[status]
					not_living=yes
				[/status]
			[/filter_wml]
		[/not]
	[/filter_second]
	
	[store_unit]
		[filter]
			id=$second_unit.id
		[/filter]
		variable=awakememo
	[/store_unit]
[/event]

[event]
    name=attack
    first_time_only=no
	id=eoma_awakeregistry_event2
	[filter]
		[filter_adjacent]
			is_enemy=no
			ability=eoma_awake
		[/filter_adjacent]
		[filter_wml]
			hitpoints=1
		[/filter_wml]
		[not]
			[filter_wml]
				[status]
					not_living=yes
				[/status]
			[/filter_wml]
		[/not]
	[/filter]
	
	[store_unit]
		[filter]
			id=$unit.id
		[/filter]
		variable=awakememo
	[/store_unit]
[/event]
	
[event]
    name=die
    first_time_only=no
	id=eoma_awake_event
    [filter]
		[not]
			find_in=awakememo
		[/not]
		[filter_adjacent]
			is_enemy=no
			ability=eoma_awake
		[/filter_adjacent]
		[not]
			[filter_wml]
				[status]
					not_living=yes
				[/status]
			[/filter_wml]
		[/not]
    [/filter]
	
            {VARIABLE unit.hitpoints 1}
            {VARIABLE_OP unit.experience add 6}
            {VARIABLE_OP second_unit.experience sub 6}

            [if]
                [variable]
                    name=second_unit.experience
                    less_than=0
                [/variable]
                [then]
                    {VARIABLE second_unit.experience 0}
                [/then]
            [/if]

            [if]
                [variable]
                    name=unit.gender
                    equals="female"
                [/variable]

                [then]
                    [unstore_unit]
                        variable=unit
                        find_vacant=no
                        text= _ "female^awoken"
                        {COLOR_HEAL}
                    [/unstore_unit]
                [/then]
                [else]
                    [unstore_unit]
                        variable=unit
                        find_vacant=no
                        text= _ "awoken"
                        {COLOR_HEAL}
                    [/unstore_unit]
                [/else]

                [sound]
		   name={SOUND_LIST:HOLY}
                [/sound]
            [/if]

            [unstore_unit]
                variable=second_unit
                find_vacant=no
            [/unstore_unit]
            {CLEAR_VARIABLE awakememo}
[/event]
[+abilities] # wmlxgettext: [/abilities]
#enddef