#textdomain wesnoth-Era_of_Magic
#define ABILITY_DARKAURA
    [illuminates]
        id=eoma_darkaura
        value=-25
        min_value=-25
        max_value=25
        cumulative=no
        name= _ "dark aura"
        description= _ "This unit darkens the surrounding area, making chaotic units fight better, and lawful units fight worse.

Any units adjacent to this unit will fight as if it were dusk when it is day, and as if it were night when it is dusk."
        affect_self=yes
    [/illuminates]
#enddef

#define ABILITY_EOMA_CIRCLE_OF_BANISHMENT
    [leadership]
        id=eoma_cob
        value=-40
        cumulative=no
        name= _ "circle of banishment"
        description=_"This unit can affect enemy magical units that are next to it, making them fight worse.

Adjacent enemy magical units of lower level will do less damage in battle. When a unit adjacent to, of the same level, or a lower level than, and is an enemy of the unit with Circle of Banishment engages in combat, its attacks do less damage (−40% lvl0, −30% lvl1, −20% lvl2, −10% lvl3)."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
                race=eoma_magical
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=eoma_cob
        value=-30
        cumulative=no
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=1
                race=eoma_magical
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=eoma_cob
        value=-20
        cumulative=no
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=2
                race=eoma_magical
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=eoma_cob
        value=-10
        cumulative=no
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=3
                race=eoma_magical
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef
#AWE-PROGRESIVE------------------------------------------

#define AWE_FILTER
    lua_function=wesnoth.wml_conditionals.EoMa_not_rpg
    [not]
        race=undead
        [or]
            race=mechanical
        [/or]
        [or]
            race=eoma_tharis
        [/or]
        [or]
            race=eoma_magical
        [/or]
        [or]
            race=eoma_cyclops
        [/or]
        [or]
            [filter_wml]
                [modifications]
                    [trait]
                        id=fearless
                    [/trait]
                [/modifications]
            [/filter_wml]
        [/or]
    [/not]
#enddef

#define AWE_BLOCK ID VALUE LEVEL
    [leadership]
        id={ID}
        value={VALUE}
        cumulative=no
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level={LEVEL}
                {AWE_FILTER}
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define AWE_DESCRIPTION
    _"This unit can frighten enemy units that are next to it, making them fight worse.

There are units immune to effects of this ability. Awe does not work on:
- undead units
- mechanical units
- magical units
- fearless units
- Tharis race
- cyclops"#enddef

#define ABILITY_EOMA_AWE_LEVEL1
    [leadership]
        id=eoma_awe1
        value=-30
        cumulative=no
        name= _ "awe 1"
        description={AWE_DESCRIPTION}+"

Adjacent living enemy level 0 units will do 30% less damage in battle.
Adjacent living enemy level 1 units will do 15% less damage in battle."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
                {AWE_FILTER}
            [/filter]
        [/affect_adjacent]
    [/leadership]
    {AWE_BLOCK eoma_awe1 -15 1}
#enddef

#define ABILITY_EOMA_AWE_LEVEL2
    [leadership]
        id=eoma_awe2
        value=-45
        cumulative=no
        name= _ "awe 2"
        description={AWE_DESCRIPTION}+"

Adjacent living enemy level 0 units will do 45% less damage in battle.
Adjacent living enemy level 1 units will do 30% less damage in battle.
Adjacent living enemy level 2 units will do 15% less damage in battle."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
                {AWE_FILTER}
            [/filter]
        [/affect_adjacent]
    [/leadership]
    {AWE_BLOCK eoma_awe2 -30 1}
    {AWE_BLOCK eoma_awe2 -15 2}
#enddef

#define ABILITY_EOMA_AWE_LEVEL3
    [leadership]
        id=eoma_awe3
        value=-60
        cumulative=no
        name= _ "awe 3"
        description={AWE_DESCRIPTION}+"

Adjacent living enemy level 0 units will do 60% less damage in battle.
Adjacent living enemy level 1 units will do 45% less damage in battle.
Adjacent living enemy level 2 units will do 30% less damage in battle.
Adjacent living enemy level 3 units will do 15% less damage in battle."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
                {AWE_FILTER}
            [/filter]
        [/affect_adjacent]
    [/leadership]
    {AWE_BLOCK eoma_awe3 -45 1}
    {AWE_BLOCK eoma_awe3 -30 2}
    {AWE_BLOCK eoma_awe3 -15 3}
#enddef

#define ABILITY_EOMA_AWE_LEVEL4
    [leadership]
        id=eoma_awe4
        value=-75
        cumulative=no
        name= _ "awe 4"
        description={AWE_DESCRIPTION}+"

Adjacent living enemy level 0 units will do 75% less damage in battle.
Adjacent living enemy level 1 units will do 60% less damage in battle.
Adjacent living enemy level 2 units will do 45% less damage in battle.
Adjacent living enemy level 3 units will do 30% less damage in battle.
Adjacent living enemy level 4 units will do 15% less damage in battle."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
                {AWE_FILTER}
            [/filter]
        [/affect_adjacent]
    [/leadership]
    {AWE_BLOCK eoma_awe4 -60 1}
    {AWE_BLOCK eoma_awe4 -45 2}
    {AWE_BLOCK eoma_awe4 -30 3}
    {AWE_BLOCK eoma_awe4 -15 4}

#enddef
