#textdomain wesnoth-Era_of_Magic
#define WEAPON_SPECIAL_EOMA_BLEED
# wmlindent: start ignoring
# wmlxgettext: [attack]
# wmlxgettext: [specials]

# wmlindent: stop ignoring
    [damage]
        id=eoma_bleed
        name= _ "bleed"
        description=_"This attack causes living targets to bleed. Bleeding units have their moves reduced by 2, damage reduced by 15% and lose random 1-5 HP every turn until they are cured or are reduced to 1 HP. Bleeding cannot, of itself, kill a unit."
    [/damage]
[/specials]
# wmlindent: start ignoring
[/attack]
# wmlindent: stop ignoring

#attacker inflicts bleeding
[event]
    name=attacker hits
    id=eoma_bleed_event1
    first_time_only=no
    [filter_condition]
#ifdef MULTIPLAYER
        [EoMa_not_rpg]
        [/EoMa_not_rpg]
#endif
    [/filter_condition]
    [filter_second]
        [not]
            [filter_wml]
                [status]
                    not_living="yes"
                [/status]
            [/filter_wml]
        [/not]
        [not]
            [filter_wml]
                [status]
                    bleeding=yes
                [/status]
            [/filter_wml]
        [/not]
    [/filter_second]

    [filter_attack]
        special_id=eoma_bleed
    [/filter_attack]

    {VARIABLE second_unit.status.bleeding yes}
    [unstore_unit]
        variable=second_unit
        find_vacant=no
        text=_ "bleeding"
        red,green,blue=255,0,0
    [/unstore_unit]

    [modify_unit]
        [filter]
            id=$second_unit.id
        [/filter]
        [object]
            silent=yes
            duration=scenario
            id=eoma_bleeding_obj
            take_only_once=no
            [effect]
                apply_to=image_mod
                replace="CS(50,0,0)"
            [/effect]
            [effect]
                apply_to=movement
                increase="-2"
            [/effect]
            [effect]
                apply_to=attack
                increase_damage="-15%"
            [/effect]
        [/object]
    [/modify_unit]
[/event]

#defender inflicts bleeding
[event]
    name=defender hits
    id=eoma_bleed_event2
    first_time_only=no
    [filter_condition]
#ifdef MULTIPLAYER
        [EoMa_not_rpg]
        [/EoMa_not_rpg]
#endif
    [/filter_condition]
    [filter]
        [not]
            [filter_wml]
                [status]
                    not_living="yes"
                [/status]
            [/filter_wml]
        [/not]
        [not]
            [filter_wml]
                [status]
                    bleeding=yes
                [/status]
            [/filter_wml]
        [/not]
    [/filter]

    [filter_second_attack]
        special_id=eoma_bleed
    [/filter_second_attack]

    {VARIABLE unit.status.bleeding yes}
    [unstore_unit]
        variable=unit
        find_vacant=no
        text=_ "bleeding"
        red,green,blue=255,0,0
    [/unstore_unit]

    [modify_unit]
        [filter]
            id=$unit.id
        [/filter]
        [object]
            silent=yes
            duration=scenario
            id=eoma_bleeding_obj
            take_only_once=no
            [effect]
                apply_to=image_mod
                replace="CS(50,0,0)"
            [/effect]
            [effect]
                apply_to=movement
                increase="-2"
            [/effect]
            [effect]
                apply_to=attack
                increase_damage="-15%"
            [/effect]
        [/object]
    [/modify_unit]
[/event]

[event]
    name=side turn
    id=eoma_bleed_event3
    first_time_only=no

    [store_unit]
        [filter]
            side=$side_number
            [filter_wml]
                [status]
                    bleeding="yes"
                [/status]
            [/filter_wml]
        [/filter]
        variable=bleeding_units
    [/store_unit]
    [foreach]
        array=bleeding_units
        [do]
            {RANDOM 1..5}

            [harm_unit]
                [filter]
                    x,y=$this_item.x,$this_item.y
                [/filter]
                amount=$random
                fire_event=no
                animate=no
                kill=no
            [/harm_unit]
        [/do]
    [/foreach]
    {CLEAR_VARIABLE bleeding_units}
[/event]

#remove bleeding - cases:
[event]
    name=advance
    id=eoma_bleed_event4
    first_time_only=no

    [filter]
        status=bleeding
    [/filter]

    {VARIABLE unit.status.bleeding no}

    [unstore_unit]
        variable=unit
        find_vacant=no
        advance=no
    [/unstore_unit]

    [remove_object]
        x,y=$unit.x,$unit.y
        object_id=eoma_bleeding_obj
    [/remove_object]
[/event]

[event]
    name=victory
    id=eoma_bleed_event5

    [remove_object]
        object_id=eoma_bleeding_obj
        status=bleeding
    [/remove_object]

    [modify_unit]
        [filter]
            status=bleeding
        [/filter]

        [status]
            bleeding=no
        [/status]
    [/modify_unit]
[/event]

[event]
    name=side turn
    id=eoma_bleed_event6
    first_time_only=no

    [remove_object]
        object_id=eoma_bleeding_obj
        side=$side_number
        status=bleeding
        [and]
            [filter_location]
                terrain=*^V*
            [/filter_location]
            [or]
                ability_type_active=regenerate
            [/or]
            [or]
                [filter_adjacent]
                    is_enemy=no
                    [and]
                        ability_type=heals
                    [/and]
                [/filter_adjacent]
            [/or]
        [/and]
    [/remove_object]

    [store_unit]
        [filter]
            side=$side_number
            status=bleeding
            [and]
                [filter_location]
                    terrain=*^V*
                [/filter_location]
                [or]
                    ability_type_active=regenerate
                [/or]
                [or]
                    [filter_adjacent]
                        is_enemy=no
                        [and]
                            ability_type=heals
                        [/and]
                    [/filter_adjacent]
                [/or]
            [/and]
        [/filter]
        variable=bleeding_units
    [/store_unit]

    [foreach]
        array=bleeding_units
        [do]
            {VARIABLE this_item.status.bleeding no}
            [unstore_unit]
                variable=this_item
                find_vacant=no
            [/unstore_unit]
            [heal_unit]
                [filter]
                    x,y=$this_item.x,$this_item.y
                [/filter]
                amount=0
                moves=full
                animate=no
            [/heal_unit]
        [/do]
    [/foreach]
    {CLEAR_VARIABLE bleeding_units}
[/event]

[+attack]
# wmlindent: start ignoring

[+specials]
# wmlxgettext: [/specials]
# wmlxgettext: [/attack]
# wmlindent: stop ignoring
#enddef
