#textdomain wesnoth-Era_of_Magic
#define WEAPON_SPECIAL_EOMA_ALWAYSHITS
    [chance_to_hit]
        id=eoma_alwayshits
        name= _ "always hits"
        description=_"This attack always has a 100% chance to hit"
        value=100
        cumulative=no
    [/chance_to_hit]
    [chance_to_hit]
        id=eoma_alwayshits
        value=130
        cumulative=no
        [filter_self]
            [filter_adjacent]
                type=EoMa_Chronomancer
            [/filter_adjacent]
        [/filter_self]
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_EOMA_NOCOUNTERATTACK
    [disable]
        id=eoma_nocounter
        name= _ "no counter-attack"
        description=_"The opponent cannot retaliate, when this unit is attacking. Does not work on opponents with berserker frenzy."
        active_on=offense
        apply_to=opponent
        [filter_opponent]
            [filter_weapon]
                [not]
                    special_type_active=berserk
                [/not]
            [/filter_weapon]
        [/filter_opponent]
    [/disable]
#enddef

#define WEAPON_SPECIAL_EOMA_PRECISION
    [chance_to_hit]
        id=eoma_precision
        name= _ "precision"
        description=_"This attack always has a 80% chance to hit"
        value=80
        cumulative=no
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_EOMA_PRECISION_CUMULATIVE
    [chance_to_hit]
        id=eoma_precision_cumulative
        name= _ "precision (cumulative)"
        description=_"This attack always has at least a 80% chance to hit"
        value=80
        cumulative=yes
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_EOMA_GREATER_MARKSMAN
    [chance_to_hit]
        id=eoma_marksman_greater
        name= _ "greater marksman"
        description= _ "When used offensively, this attack always has at least a 80% chance to hit."
        value=80
        cumulative=yes
        active_on=offense
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_EOMA_REVENGE
    [chance_to_hit]
        id=eoma_revenge
        name= _ "revenge"
        description=_"The unit has at least 80% chance to hit during retaliation."
        value=80
        cumulative=yes
        active_on=defense
        apply_to=self
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_EOMA_REVENGE2
    [chance_to_hit]
        id=eoma_revenge2
        name= _ "lesser revenge"
        description=_"The unit has at least 60% chance to hit during retaliation."
        value=60
        cumulative=yes
        active_on=defense
        apply_to=self
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_EOMA_SKILLED
    [chance_to_hit]
        id=eoma_skilled
        name= _ "skilled"
        description=_"This attack always has a minimum 60% chance to hit"
        value=60
        cumulative=yes
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_EOMA_VERYSKILLED
    [chance_to_hit]
        id=eoma_veryskilled
        name= _ "very skilled"
        description=_"This attack always has a minimum 70% chance to hit"
        value=70
        cumulative=yes
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_EOMA_ENCHANTED
    [chance_to_hit]
        id=eoma_enchanted
        name= _ "enchanted"
        description=_"This attack always has a flat 60% chance to hit (not cumulative)"
        value=60
        cumulative=no
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_EOMA_MAGICAL_OFFENSIVE
    [chance_to_hit]
        id=eoma_magical_offensive
        name= _ "magical (offensive)"
        description= _ "When used offensively, this attack has a 70% chance to hit regardless of the defensive ability of the unit being attacked."
        value=70
        cumulative=no
        active_on=offense
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_EOMA_MAGICAL_DEFENSIVE
    [chance_to_hit]
        id=eoma_magical_defensive
        name= _ "magical (defensive)"
        description= _ "When used defensively, this attack has a 70% chance to hit regardless of the defensive ability of the unit being attacked."
        value=70
        cumulative=no
        active_on=defense
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_EOMA_PRECISION_OFFENSIVE
    [chance_to_hit]
        id=eoma_precision_offensive
        name= _ "precision (offensive)"
        description= _ "When used offensively, this attack has a 80% chance to hit regardless of the defensive ability of the unit being attacked."
        value=80
        cumulative=no
        active_on=offense
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_EOMA_MAGIC_COUNTER
    [chance_to_hit]
        id=eoma_magic_counter
        name= _ "magic counter"
        description= _ "This attack reduces magical chance to hit of opponents by 20% (down to 50%). It also reduces enchanted chance to hit of opponents by 10% (down to 50% as well)."
        sub=20
        apply_to=opponent
        [filter_opponent]
            [filter_weapon]
                special_id_active=magical,eoma_magical_defensive,eoma_magical_offensive
            [/filter_weapon]
        [/filter_opponent]
    [/chance_to_hit]
    [chance_to_hit]
        id=eoma_magic_counter2
        sub=10
        apply_to=opponent
        [filter_opponent]
            [filter_weapon]
                special_id_active=eoma_enchanted
            [/filter_weapon]
        [/filter_opponent]
    [/chance_to_hit]
#enddef

#define WEAPON_SPECIAL_EOMA_MAGIC_DODGE
    [chance_to_hit]
        id=eoma_magic_dodge
        name= _ "magic dodge"
        description= _ "When used offensively, this attack reduces magical chance to hit of opponents by 20% (down to 50%). It also reduces enchanted chance to hit of opponents by 10% (down to 50% as well)."
        sub=20
        apply_to=opponent
        active_on=offense
        [filter_opponent]
            [filter_weapon]
                special_id_active=magical,eoma_magical_defensive,eoma_magical_offensive
            [/filter_weapon]
        [/filter_opponent]
    [/chance_to_hit]
    [chance_to_hit]
        id=eoma_magic_dodge2
        name=""# wmllint: ignore
        sub=10
        apply_to=opponent
        active_on=offense
        [filter_opponent]
            [filter_weapon]
                special_id_active=eoma_enchanted
            [/filter_weapon]
        [/filter_opponent]
    [/chance_to_hit]
#enddef
