#textdomain wesnoth-Era_of_Magic
#define ABILITY_EOMA_CHRONOAURA
    [dummy]
        id=eoma_chronoaura
        name= _ "chrono aura"
        description=_"Time flows slower around this unit. This has the following effects:
- all adjacent friendly units receive +5% chance to hit bonus;
- all adjacent enemy units receive -5% chance to hit penalty (except for attacks which always hit)

Also, this unit can cast a powerful time-manipulation spell with the following effects lasting one turn:
- this unit and all adjacent friendly units strike first and receive +15% chance to hit bonus;
- all adjacent enemy units receive -15% chance to hit penalty (except for attacks which always hit);
- (activated aura's chance to hit effects stack additively with the passive +5%/-5% effect)
- the caster of the spell gets the skirmisher ability.

To cast the spell right-click the unit and select 'Activate Aura'."
    [/dummy]
    [chance_to_hit]
        id=eoma_chronoaura_enemies
        sub=5
        cumulative=yes
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
        [/affect_adjacent]
        #using filter student is intentional, as the "student" in this case is the unit being debuffed since it's a weapon special being given to units via aura
        [filter_student]
            [filter_weapon]
                [not]
                    special_id=eoma_alwayshits
                [/not]
            [/filter_weapon]
        [/filter_student]
    [/chance_to_hit]
    [chance_to_hit]
        id=eoma_chronoaura_allies_and_self
        add=5
        cumulative=yes
        affect_self=yes
        affect_allies=yes
        affect_enemies=no
        [affect_adjacent]
            [filter]
            [/filter]
        [/affect_adjacent]
    [/chance_to_hit]	# wmlxgettext: [abilities]
[/abilities]

[event]
    name=unit placed,post advance
    id=eoma_chronoaura_start_event
    first_time_only=no
    [filter]
        ability=eoma_chronoaura
    [/filter]
    {CHRONOAURA_MENU}
[/event]

[+abilities] # wmlxgettext: [/abilities]
#enddef

#define CHRONOAURA_MENU
    [set_menu_item]
        id=eoma_chronoaura_menu
        description= _ "Activate Aura (15 Gold)"
        [show_if]
        [/show_if]

        [filter_location]
            [filter]
                ability=eoma_chronoaura
                side=$side_number
            [/filter]
        [/filter_location]
        [command]
            [store_gold]
                variable=actualgold
                side=$side_number
            [/store_gold]
            [if]
                {VARIABLE_CONDITIONAL actualgold greater_than 14}
                [then]
                    [message]
                        speaker=unit
                        image="halo/chrono/0049.png"
                        message= _ "Activate aura? (15 Gold)"
                        [option]
                            label={STR_NO}
                            [command]
                            [/command]
                        [/option]

                        [option]
                            label={STR_YES}

                            [command]
                                [gold]
                                    amount=-15
                                    side=$side_number
                                [/gold]
                                [sound]
                                    name=magic-faeriefire-miss.ogg
                                [/sound]
                                [animate_unit]
                                    flag=chrono
                                    [filter]
                                        x,y=$x1,$y1
                                    [/filter]
                                [/animate_unit]
                                [object]
                                    silent=yes
                                    duration=turn

                                    [filter]
                                        x,y=$x1,$y1
                                    [/filter]

                                    [effect]
                                        apply_to=remove_ability
                                        [abilities]
                                            [dummy]
                                                id=eoma_chronoaura
                                            [/dummy]
                                        [/abilities]
                                    [/effect]

                                    [effect]
                                        apply_to=new_ability
                                        [abilities]
                                            {ABILITY_EOMA_CHRONOAURAACTIVE}
                                            {ABILITY_SKIRMISHER}
                                        [/abilities]
                                    [/effect]
                                [/object]
                            [/command]
                        [/option]
                    [/message]
                [/then]
                [else]
                    [print]
                        text= _ "Not enough gold to activate the aura!"
                        size=18
                        red=255
                    [/print]
                [/else]
            [/if]
            {CLEAR_VARIABLE actualgold}
        [/command]
    [/set_menu_item]
#enddef

#define ABILITY_EOMA_CHRONOAURAACTIVE
    [firststrike]
        id=eoma_chronoauractive
        name= _ "chrono aura (active)"
        description=_"This unit and all adjacent friendly units strike first and receive +20% chance to hit bonus (+5% from passive aura, +15% from active aura), while all adjacent enemy units receive -20% (-5% from passive aura, -15% from active aura) chance to hit penalty (except for attacks which always hit). The ability lasts one turn."
        affect_allies=yes
        [affect_adjacent]
            [filter]
            [/filter]
        [/affect_adjacent]
    [/firststrike]
    [chance_to_hit]
        id=eoma_chronoauractive_cth_enemies
        sub=15
        cumulative=yes
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
        [/affect_adjacent]
        [filter_student]
            [filter_weapon]
                [not]
                    special_id=eoma_alwayshits
                [/not]
            [/filter_weapon]
        [/filter_student]
    [/chance_to_hit]
    [chance_to_hit]
        id=eoma_chronoauractive_cth_allies_and_self
        add=15
        cumulative=yes
        affect_self=yes
        affect_allies=yes
        affect_enemies=no
        [affect_adjacent]
        [/affect_adjacent]
    [/chance_to_hit]
    [leadership]
        id=eoma_chronoauractive_leadership
        value=0
        cumulative=yes
        affect_self=no
        [affect_adjacent]
        [/affect_adjacent]
    [/leadership]
#enddef
