#textdomain wesnoth-Era_of_Magic

#define WEAPON_SPECIAL_EOMA_SPLITFIRE NAME ATTACK_NAME
    # wmlxgettext: [attack]
    # wmlxgettext: [specials]
    [dummy]
        id=splitfire
        name={NAME}
        description=_"The unit can use this attack twice per turn (when used, other attacks become unavailable till the end of this unit's turn)."
    [/dummy]
[/specials]
# wmlindent: start ignoring
[/attack]
# wmlindent: stop ignoring

[event]
    name=attack_end
    id=eoma_splitfire_event
    first_time_only=no
    [filter_attack]
        special_id=splitfire
    [/filter_attack]

    {IF_VAR unit.variables.splitfire_active boolean_equals true (
        [then]
#            {VARIABLE unit.variables.splitfire_active false}
            [modify_unit]
                [filter]
                    id=$unit.id
                [/filter]
                [set_variable]
                    name=splitfire_active
                    value=false
                [/set_variable]
            [/modify_unit]
#            [unstore_unit]
#                variable=unit
#            [/unstore_unit]
            [remove_object]
                find_in=unit
                object_id=splitfire
            [/remove_object]
        [/then]
        [else]
            [modify_unit]
                [filter]
                    id=$unit.id
                [/filter]
                attacks_left="$($unit.attacks_left| + 1)"
                [set_variable]
                    name=splitfire_active
                    value=true
                [/set_variable]
            [/modify_unit]

#            {VARIABLE_OP unit.attacks_left add 1}
#            {VARIABLE unit.variables.splitfire_active true}
            [floating_text]
               x,y=$unit.x,$unit.y
               text="<span color='#ff0000'>" + _ "2nd attack" + "</span>"
            [/floating_text]

#            [unstore_unit]
#                text= _ "2nd attack"
#                {COLOR_HARM}
#                variable=unit
#            [/unstore_unit]

            [object]
                id=splitfire
                take_only_once=no
                duration=turn
                silent=yes
                [filter]
                    find_in=unit
                [/filter]
                [effect]
                    apply_to=remove_attacks
                    [not]
                        special_id=splitfire
                    [/not]
                [/effect]
                [effect]
                    apply_to=max_attacks
                    increase=1
                [/effect]
            [/object]
        [/else]
    )}
[/event]

[event]
    name=victory,side turn
    id=eoma_splitfire_event2
    first_time_only=no

    [remove_object]
        [has_attack]
            special_id=splitfire
        [/has_attack]
        object_id=splitfire
    [/remove_object]

    [modify_unit]
        [filter]
            [has_attack]
                special_id=splitfire
            [/has_attack]
        [/filter]
        [set_variable]
            name=splitfire_active
            value=false
        [/set_variable]
    [/modify_unit]
[/event]
[+attack]
    [+specials]
        # wmlxgettext: [/specials]
        # wmlxgettext: [/attack]
#enddef
