#textdomain wesnoth-Era_of_Magic

#define WEAPON_SPECIAL_EOMA_DRAGON_BREATH
# wmlindent: start ignoring
# wmlxgettext: [attack]
# wmlxgettext: [specials]

# wmlindent: stop ignoring
    [dummy]
        id=eoma_dbreath
        name= _ "dragon breath"
        description=_"A unit with this ability can hurt 3 adjacent units standing behind the defender."
    [/dummy]
[/specials]
# wmlindent: start ignoring
[/attack]
# wmlindent: stop ignoring

[event]
    name=attacker hits,attacker misses
	id=eoma_dbreath_event1
    first_time_only=no
    [filter_attack]
        special=eoma_dbreath
    [/filter_attack]
	
	{VARIABLE dbreathdmg $weapon.damage}
	
    [if]
	{VARIABLE_CONDITIONAL unit.status.slowed boolean_equals yes}
	[then]
		{VARIABLE_OP dbreathdmg divide 2}
		{VARIABLE_OP dbreathdmg round floor}
	[/then]
    [/if]
	
	[store_locations]
		[filter_adjacent_location]
			x,y=$x2,$y2
			adjacent=$second_unit.facing
		[/filter_adjacent_location]
		variable=next_target
	[/store_locations]
	[store_unit]
		[filter]
            [filter_adjacent]
                x,y=$x2,$y2
            [/filter_adjacent]
			[filter_adjacent]
				x,y=$next_target.x,$next_target.y
            [/filter_adjacent]
			[or]
			[filter_adjacent]
				x,y=$x2,$y2
				adjacent=$second_unit.facing
            [/filter_adjacent]
			[/or]
			[not]
				[filter_wml]
					[status]
						petrified=yes
					[/status]
				[/filter_wml]
			[/not]
		[/filter]
		variable=bystander
	[/store_unit]

        {FOREACH bystander i}
            {RANDOM 1..100}
            [if]
			{VARIABLE_CONDITIONAL random less_than_equal_to 60}
                [then]
	[harm_unit]
		[filter]
                    x,y=$bystander[$i].x,$bystander[$i].y
		[/filter]
		[filter_second]
			x,y=$x1,$y1
		[/filter_second]
		amount=$dbreathdmg
		alignment=$unit.alignment
		damage_type=$weapon.type
		fire_event=yes
		animate=defender
		delay=0
		experience=no
	[/harm_unit]
					[if]
					[have_unit]
						find_in=expfreeze
						x,y=$bystander[$i].x,$bystander[$i].y
					[/have_unit]
					[else]
						[store_unit]
							[filter]
								x,y=$bystander[$i].x,$bystander[$i].y
							[/filter]
							variable=expfreeze
							mode=append
						[/store_unit]
					[/else]
					[/if]
                [/then]
            [/if]
        {NEXT i}
	
	{CLEAR_VARIABLE dbreathdmg}
	{CLEAR_VARIABLE next_target}
[/event]

[event]
    name=defender hits,defender misses
	id=eoma_dbreath_event2
    first_time_only=no
    [filter_second_attack]
        special=eoma_dbreath
    [/filter_second_attack]
	
	{VARIABLE dbreathdmg $weapon.damage}
	
    [if]
	{VARIABLE_CONDITIONAL second_unit.status.slowed boolean_equals yes}
	[then]
		{VARIABLE_OP dbreathdmg divide 2}
	[/then]
    [/if]
	
	[store_locations]
		[filter_adjacent_location]
			x,y=$x1,$y1
			adjacent=$second_unit.facing
		[/filter_adjacent_location]
		variable=next_target
	[/store_locations]

	[store_unit]
		[filter]
            [filter_adjacent]
                x,y=$x2,$y2
            [/filter_adjacent]
			[filter_adjacent]
				x,y=$next_target.x,$next_target.y
            [/filter_adjacent]
			[or]
			[filter_adjacent]
				x,y=$x2,$y2
				adjacent=$second_unit.facing
            [/filter_adjacent]
			[/or]
			[not]
				[filter_wml]
					[status]
						petrified=yes
					[/status]
				[/filter_wml]
			[/not]
		[/filter]
		variable=bystander
	[/store_unit]

        {FOREACH bystander i}
            {RANDOM 1..100}
            [if]
			{VARIABLE_CONDITIONAL random less_than_equal_to 50}
                [then]
	[harm_unit]
		[filter]
		    x,y=$bystander[$i].x,$bystander[$i].y
		[/filter]
		amount=$dbreathdmg
		alignment=$unit.alignment
		damage_type=$weapon.type
		fire_event=yes
		animate=yes
		delay=0
		experience=no
	[/harm_unit]
					[if]
					[have_unit]
						find_in=expfreeze
						x,y=$bystander[$i].x,$bystander[$i].y
					[/have_unit]
					[else]
						[store_unit]
							[filter]
								x,y=$bystander[$i].x,$bystander[$i].y
							[/filter]
							variable=expfreeze
							mode=append
						[/store_unit]
					[/else]
					[/if]
                [/then]
            [/if]
        {NEXT i}
	
	{CLEAR_VARIABLE dbreathdmg}
	{CLEAR_VARIABLE next_target}
[/event]

	{EXPFREEZE_EVENT}

[+attack]
# wmlindent: start ignoring

[+specials]
# wmlxgettext: [/specials]
# wmlxgettext: [/attack]
# wmlindent: stop ignoring
#enddef