#define ABILITY_EOMA_ADDITIONALARMOR
    [dummy]
        id=eoma_upgradable_armor
        name= _ "additional armor"
        description=_"This drone has additional armor plates granting it bonus 12 HP and increased blade/pierce/impact resistances (+10%)."
    [/dummy]
#enddef

#define ABILITY_EOMA_RUNEARMOR
    [resistance]
        id=eoma_upgradable_runearmor
        value=50
        max_value=50
        apply_to=fire,cold,arcane
        name= _ "runic plate"
        description=_"This drone is protected by runes giving it improved fire, cold and arcane resistance (50%)"
        affect_self=yes
        affect_allies=no
    [/resistance]
#enddef

#define ABILITY_EOMA_DRONEBETTERBLADES
    [dummy]
        id=eoma_upgradable_blades
        name= _ "better blades"
        description=_"This drone has better blades mounted on its legs. This provides it with a bonus damage."
    [/dummy]
#enddef

#define ABILITY_EOMA_ROTOR
    [dummy]
        id=eoma_upgradable_rotor
        name= _ "rotor"
        description=_"This drone has rotor mounted on its top allowing it to fly. It allows it to move faster (+1 movepoint)."
    [/dummy]
#enddef

#define ABILITY_EOMA_CANNON
    [dummy]
        id=eoma_upgradable_cannon
        name= _ "cannon"
        description=_"This drone is equipped with a small cannon."
    [/dummy]
#enddef

#define ABILITY_EOMA_DRONEKAMIKAZE
    [dummy]
        id=eoma_upgradable_kamikaze
        name= _ "kamikaze"
        description=_"This drone can execute kamikaze protocols."
    [/dummy]
#enddef

#define ABILITY_EOMA_DRONEBERSERK
    [dummy]
        id=eoma_upgradable_berserk
        name= _ "berserker ai"
        description=_"This drone has the berserker ai module."
    [/dummy]
#enddef

#define ABILITY_EOMA_DRONERUNEDAMAGE
    [dummy]
        id=eoma_upgradable_runedamage
        name= _ "damage rune"
        description=_"This drone has the damage rune granting additional magical fire attack."
    [/dummy]
#enddef

#define DRONE_MENU_UPGRADE DESCRIPTION ABILITY TYPE COST EFFECT
    [set_menu_item]
        id=droneupgrade_menu_{ABILITY}
        description={DESCRIPTION}+" - "+"Cost:"+" "+"{COST}"
        [show_if]
            [have_unit]
                x,y=$x1,$y1
                [not]
                    ability={ABILITY}
                [/not]
            [/have_unit]
        [/show_if]

        [filter_location]
            [filter]
                ability=eoma_upgradable
                side=$side_number
            [/filter]
            [filter_adjacent_location]
                [filter]
                    type={TYPE}
                    side=$side_number
                [/filter]
            [/filter_adjacent_location]
        [/filter_location]
        [command]
            [store_gold]
                variable=actualgold
                side=$side_number
            [/store_gold]
            [if]
                {VARIABLE_CONDITIONAL actualgold greater_than_equal_to {COST}}
                [then]
                    [gold]
                        amount=-{COST}
                        side=$side_number
                    [/gold]
                    [animate_unit]
                        flag=attack
                        [filter]
                            type={TYPE}
                            side=$side_number
                            [filter_adjacent]
                                x,y=$x1,$y1
                            [/filter_adjacent]
                        [/filter]
                        [primary_attack]
                            name=key
                        [/primary_attack]
                        hits=yes
                        [facing]
                            x,y=$x1,$y1
                        [/facing]
                    [/animate_unit]
                    [store_unit]
                        [filter]
                            x,y=$x1,$y1
                        [/filter]
                        variable=drone
                    [/store_unit]
                    [object]
                        silent=yes
                        {EFFECT}
                        [filter]
                            x,y=$x1,$y1
                            ability=eoma_upgradable
                        [/filter]
                    [/object]
                    [store_unit]
                        [filter]
                            x,y=$x1,$y1
                        [/filter]
                        variable=unit
                    [/store_unit]
                    {VARIABLE_OP unit.variables.dronepoints add 1}
                    [unstore_unit]
                        variable=unit
                        find_vacant=no
                    [/unstore_unit]
                    [if]
                        {VARIABLE_CONDITIONAL unit.variables.dronepoints greater_than 12}
                        [then]
                            [kill]
                                id=$unit.id
                                animate=no
                            [/kill]
                            {UNIT $unit.side EoMa_Perfect_Drone $x1 $y1 ()}
                        [/then]
                    [/if]
                    {CLEAR_VARIABLE drone}
                [/then]
                [else]
                    [print]
                        text= _ "You don't have enough gold!"
                        size=18
                        red=255
                    [/print]
                [/else]
            [/if]
            {CLEAR_VARIABLE actualgold}
        [/command]
    [/set_menu_item]
#enddef

#define DRONE_MENU_UPGRADE_ALL
    {DRONE_MENU_UPGRADE ( _ "Give addtional armor") eoma_upgradable_armor EoMa_Constructor 5 (
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_ADDITIONALARMOR}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=12
            heal_full=yes
        [/effect]
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                blade=-10
                pierce=-10
                impact=-10
            [/resistance]
        [/effect]
        [effect]
            apply_to=image_mod
            add="~BLIT(units/runemasters-machines/drone-upgrade-armor.png)"
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    )}
    {DRONE_MENU_UPGRADE ( _ "Give runic plate") eoma_upgradable_runearmor EoMa_Rune_Artist,EoMa_Runemaster 6 (
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_RUNEARMOR}
            [/abilities]
        [/effect]
        [effect]
            apply_to=image_mod
            add="~BLIT(units/runemasters-machines/drone-upgrade-rune.png)"
        [/effect]
    )}
    {DRONE_MENU_UPGRADE ( _ "Give better blades") eoma_upgradable_blades EoMa_Dwarvish_Rune_Warrior,EoMa_Dwarvish_Rune_Lord 3 (
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_DRONEBETTERBLADES}
            [/abilities]
        [/effect]
        [effect]
            apply_to=attack
            name=legs
            increase_damage=2
        [/effect]
        [effect]
            apply_to=attack
            name=legs_berserk
            increase_damage=2
        [/effect]
        [effect]
            apply_to=image_mod
            add="~BLIT(units/runemasters-machines/drone-upgrade-legs.png)"
        [/effect]
    )}
    {DRONE_MENU_UPGRADE ( _ "Give rotor") eoma_upgradable_rotor EoMa_Flying_Fortress 5 (
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_ROTOR}
            [/abilities]
        [/effect]
        [effect]
            apply_to=variation
            name=dronerotor
        [/effect]
    )}
    {DRONE_MENU_UPGRADE ( _ "Mount cannon") eoma_upgradable_cannon EoMa_Pacificator 5 (
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_CANNON}
            [/abilities]
        [/effect]
        [effect]
            apply_to=new_attack
            name=cannon
            description=_"cannon"
            icon=attacks/bullet.png
            type=impact
            range=ranged
            damage=15
            number=1
            [specials]
                {WEAPON_SPECIAL_EOMA_SKILLED}
            [/specials]
        [/effect]
        [effect]
            apply_to=image_mod
            add="~BLIT(units/runemasters-machines/drone-upgrade-gun.png)"
        [/effect]
    )}
    {DRONE_MENU_UPGRADE ( _ "Install kamikaze module") eoma_upgradable_kamikaze EoMa_Steam_Turboserker 6 (
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_DRONEKAMIKAZE}
            [/abilities]
        [/effect]
        [effect]
            apply_to=new_attack
            name=kamikazedrone
            description=_"kamikaze"
            icon=attacks/explosion.png
            type=fire
            range=kamikaze
            damage=30
            number=1
            [specials]
                {WEAPON_SPECIAL_EOMA_ALWAYSHITS}
            [/specials]
        [/effect]
        [effect]
            apply_to=image_mod
            add="~BLIT(units/runemasters-machines/drone-upgrade-kamikaze.png)"
        [/effect]
    )}
    {DRONE_MENU_UPGRADE ( _ "Give berserer ai module") eoma_upgradable_berserk EoMa_Steam_Turboserker 4 (
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_DRONEBERSERK}
            [/abilities]
        [/effect]
        [effect]
            apply_to=new_attack
            name=legs_berserk
            description=_"legs"
            icon=attacks/pike.png
            type=pierce
            range=melee
            damage=$drone.attack[0].damage
            number=$drone.attack[0].number
            [specials]
                {WEAPON_SPECIAL_BERSERK}
            [/specials]
        [/effect]
        [effect]
            apply_to=image_mod
            add="~BLIT(units/runemasters-machines/drone-upgrade-berserk.png)"
        [/effect]
    )}
    {DRONE_MENU_UPGRADE ( _ "Give damage rune") eoma_upgradable_runedamage EoMa_Rune_Artist,EoMa_Runemaster 5 (
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_DRONERUNEDAMAGE}
            [/abilities]
        [/effect]
        [effect]
            apply_to=new_attack
            name=runes
            description=_"damage rune"
            icon=attacks/rune.png
            type=fire
            range=ranged
            damage=4
            number=3
            [specials]
                {WEAPON_SPECIAL_MAGICAL}
            [/specials]
        [/effect]
        [effect]
            apply_to=image_mod
            add="~BLIT(units/runemasters-machines/drone-upgrade-rune-damage.png)"
        [/effect]
        [effect]
            apply_to=overlay
            add="units/runemasters-machines/drone-upgrade-rune-damage.png"
        [/effect]
    )}
    {DRONE_MENU_UPGRADE ( _ "Mount portable furnace") eoma_heataura20 EoMa_Mechanical_Dragon 5 (
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_HEATAURA 20}
                {ABILITY_ILLUMINATES}
            [/abilities]
        [/effect]
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                cold=-20
            [/resistance]
        [/effect]
        [effect]
            apply_to=halo
            halo="units/runemasters-machines/drone-upgrade-furnace-halo.png"
        [/effect]
        [effect]
            apply_to=overlay
            add="units/runemasters-machines/drone-upgrade-furnace.png"
        [/effect]
    )}

#enddef

#define ABILITY_EOMA_UPGRADABLE
    [dummy]
        id=eoma_upgradable
        name= _ "upgradable"
        description=_"This unit may receive different upgrades when adjacent to specific units. Also, when advancing, it can get different improvements."+"

List of units capable of mounting different upgrades:
- Constructor (additional armor)
- Rune Artist, Runemaster (rune armor, damage rune)
- Rune Warrior, Rune Lord (better blades)
- Steam Turboserker (kamikaze module, berserk ai)
- Pacificator (mini-cannon)
- Flying Fortress (rotor)
- Mechanical Dragon (portable furnace)

List of per advance improvements:
- +1 melee strike
- +1 melee damage
- +1 movepoints
- auto-repair+6
- hit and run 1
- add zone of control
- +5 max hp"
    [/dummy] # wmlxgettext: [abilities]
[/abilities]

[event]
    name=start,recruit,recall,post advance
    id=droneupgrades_start_event

    {DRONE_MENU_UPGRADE_ALL}
[/event]

[+abilities] # wmlxgettext: [/abilities]
#enddef

#define ABILITY_EOMA_COMPLETEREPAIR
    [dummy]
        id=eoma_completerepair
        name= _ "complete repair (drone)"
        description=_"This unit can make an adjacent drone advance, yet retain its exp after doing so. The unit uses up all of his movepoints, and then gains some exp. Also, the drone is unable to move/attack on the same turn as it is advanced."
    [/dummy] # wmlxgettext: [abilities]
[/abilities]
[event]
    name=select
    id=eoma_completerepair_select_event
    first_time_only=no
    [filter]
        ability=eoma_completerepair
        side=$side_number
    [/filter]

    [store_unit]
        [filter]
            x,y=$x1,$y1
        [/filter]
        variable=last_selected_unit
    [/store_unit]
[/event]

[event]
    name=start,recruit,recall,post advance
    id=eoma_completerepair_init_event
    first_time_only=no

    [set_menu_item]
        id=completerepair
        description= _ "Advance Drone"+" - "+ _ "gold:"+" "+4
        image=attacks/wrench.png~SCALE(20,20)
        [show_if]
        [/show_if]

        [filter_location]
            [filter]
                type=EoMa_Drone
                side=$side_number
            [/filter]
            [filter_adjacent_location]
                [filter]
                    type=EoMa_Constructor,EoMa_Technician
                    side=$side_number
                    [filter_wml]
                        moves=$this_unit.max_moves
                    [/filter_wml]
                [/filter]
            [/filter_adjacent_location]
            [not]
                terrain=_off^_usr,Q*,W*,*^X*,X*
            [/not]
        [/filter_location]
        [command]
            [store_gold]
                variable=actualgold
                side=$side_number
            [/store_gold]
            [if]
                [variable]
                    name=actualgold
                    greater_than_equal_to=4
                [/variable]
                [then]
                    [gold]
                        amount=-4
                        side=$side_number
                    [/gold]
                    [store_unit]
                        [filter]
                            x,y=$x1,$y1
                        [/filter]
                        variable=drone
                    [/store_unit]
                    {ADVANCE_UNIT x,y=$x1,$y1 ()}
                    {MODIFY_UNIT x,y=$x1,$y1 attacks_left 0}
                    {MODIFY_UNIT x,y=$x1,$y1 moves 0}
                    {MODIFY_UNIT x,y=$x1,$y1 experience $drone.experience}
                    {CLEAR_VARIABLE drone}
                    [store_unit]
                        [filter]
                            type=EoMa_Constructor,EoMa_Technician
                            side=$side_number
                            [filter_wml]
                                moves=$this_unit.max_moves
                            [/filter_wml]
                            [filter_adjacent]
                                x,y=$x1,$y1
                            [/filter_adjacent]
                        [/filter]
                        variable=able_to_advance
                    [/store_unit]
                    [if]
                        [variable]
                            name=able_to_advance.length
                            greater_than=1
                        [/variable]
                        [then]
							[foreach]
								array=able_to_advance
								[do]
									[if]
										[variable]
											name=this_item.id
											equals=$last_selected_unit.id
										[/variable]
										[then]
											[set_variable]
												name=this_item.attacks_left
												value=0
											[/set_variable]
											[set_variable]
												name=this_item.moves
												value=0
											[/set_variable]

											{VARIABLE_OP this_item.experience add 3}

											[unstore_unit]
												variable=this_item
												find_vacant=no
												text= _ "+3 exp"
												red,green,blue=50,50,200
											[/unstore_unit]
											{CLEAR_VARIABLE able_to_advance}
										[/then]
									[/if]
								[/do]
							[/foreach]
                        [/then]
                        [else]
                            [store_unit]
                                variable=able_to_advance
                                [filter]
                                    type=EoMa_Constructor,EoMa_Technician
                                    side=$side_number
                                    [filter_wml]
                                        moves=$this_unit.max_moves
                                    [/filter_wml]
                                    [filter_adjacent]
                                        x,y=$x1,$y1
                                    [/filter_adjacent]
                                [/filter]
                            [/store_unit]
                            [set_variable]
                                name=able_to_advance.attacks_left
                                value=0
                            [/set_variable]
                            [set_variable]
                                name=able_to_advance.moves
                                value=0
                            [/set_variable]

                            {VARIABLE_OP able_to_advance.experience add 3}

                            [unstore_unit]
                                variable=able_to_advance
                                find_vacant=no
                                text= _ "+$this_unit.level exp"
                                red,green,blue=50,50,200
                            [/unstore_unit]
                            {CLEAR_VARIABLE able_to_advance}
                        [/else]
                    [/if]
                [/then]
                [else]
                    [message]
                        speaker=narrator
                        side_for=$side_number
                        caption=_ "Error"
                        message= _ "You don't have enough gold!"
                        image=wesnoth-icon.png
                    [/message]
                [/else]
            [/if]
            {CLEAR_VARIABLE actualgold}
        [/command]
    [/set_menu_item]
[/event]
[+abilities] # wmlxgettext: [/abilities]
#enddef
