#define EOMA_GLOBAL_EVENTS
    [event]
        name=post summon
        first_time_only=no

        [store_unit]
            [filter]
                id=$second_unit.id
            [/filter]
            variable=summoner
        [/store_unit]

        {VARIABLE summoner.attacks_left 0}
        {VARIABLE summoner.moves 0}
        {VARIABLE_OP summoner.experience add 3}

        [unstore_unit]
            variable=summoner
            find_vacant=no
            text= _ "+3 exp"
            red,green,blue=50,50,200
        [/unstore_unit]

        {CLEAR_VARIABLE summoner}
    [/event]
#enddef
