#textdomain wesnoth-Era_of_Magic
#define WEAPON_SPECIAL_EOMA_GROWINGFURY ARRAY ADD

#refactor note: array is no longer used as originally intended, and now only matters if there are multiple growing fury attacks

# wmlindent: start ignoring
# wmlxgettext: [attack]
# wmlxgettext: [specials]

# wmlindent: stop ignoring
    [damage]
        id=eoma_growingfury{ARRAY}{ADD}
        name= _ "growing fury" + " +{ADD}"
        description=_"When this attack is used, this units damage increases after each successful hit (if the attack has more than 5 strikes, only the first 5 successful hits per attack increase damage)."+" (+"+"{ADD}"+")"
    [/damage]
[/specials]
# wmlindent: start ignoring
[/attack]
# wmlindent: stop ignoring

[event]
    name=attack
    id=eoma_growingfury{ARRAY}{ADD}_event1
    first_time_only=no
    [filter_attack]
        special_id=eoma_growingfury{ARRAY}{ADD}
    [/filter_attack]

    {VARIABLE growingfury_counter 1}
    {VARIABLE growingfury_added_dmg 0}
[/event]

[event]
    name=attacker_hits
    first_time_only=no
    id=eoma_growingfury{ARRAY}{ADD}_event2
    [filter_attack]
        special_id=eoma_growingfury{ARRAY}{ADD}
    [/filter_attack]

    [if]
        {VARIABLE_CONDITIONAL growingfury_counter not_equals 5}
        [then]
            [object]
                silent=yes
                duration=turn end#just in case something goes wrong with the damage numbers due to other factors, this ensures it will reset back to normal on next turn
                [filter]
                    id=$unit.id
                [/filter]
                [effect]
                    apply_to=attack
                    special_id=eoma_growingfury{ARRAY}{ADD}
                    increase_damage={ADD}
                [/effect]
            [/object]
            {VARIABLE_OP growingfury_counter add 1}
            {VARIABLE_OP growingfury_added_dmg add {ADD}}
        [/then]
    [/if]
[/event]

[event]
    name=attack end
    id=eoma_growingfury{ARRAY}{ADD}_event3
    first_time_only=no
    [filter_attack]
        special_id=eoma_growingfury{ARRAY}{ADD}
    [/filter_attack]

    [object]
        silent=yes
        duration=turn end#just in case something goes wrong with the damage numbers due to other factors, this ensures it will reset back to normal on next turn
        [filter]
            id=$unit.id
        [/filter]
        [effect]
            apply_to=attack
            special_id=eoma_growingfury{ARRAY}{ADD}
            increase_damage=-$growingfury_added_dmg
        [/effect]
    [/object]

    {CLEAR_VARIABLE growingfury_counter}
    {CLEAR_VARIABLE growingfury_added_dmg}
[/event]

[event]
    name=attack
    id=eoma_growingfury{ARRAY}{ADD}_event4
    first_time_only=no
    [filter_second_attack]
        special_id=eoma_growingfury{ARRAY}{ADD}
    [/filter_second_attack]

    {VARIABLE growingfury2_counter 1}
    {VARIABLE growingfury2_added_dmg 0}
[/event]

[event]
    name=defender_hits
    first_time_only=no
    id=eoma_growingfury{ARRAY}{ADD}_event5
    [filter_second_attack]
        special_id=eoma_growingfury{ARRAY}{ADD}
    [/filter_second_attack]

    [if]
        {VARIABLE_CONDITIONAL growingfury_counter not_equals 5}
        [then]
            [object]
                silent=yes
                duration=turn end#just in case something goes wrong with the damage numbers due to other factors, this ensures it will reset back to normal on next turn
                [filter]
                    id=$second_unit.id
                [/filter]
                [effect]
                    apply_to=attack
                    special_id=eoma_growingfury{ARRAY}{ADD}
                    increase_damage={ADD}
                [/effect]
            [/object]
            {VARIABLE_OP growingfury2_counter add 1}
            {VARIABLE_OP growingfury2_added_dmg add {ADD}}
        [/then]
    [/if]
[/event]

[event]
    name=attack end
    id=eoma_growingfury{ARRAY}{ADD}_event6
    first_time_only=no
    [filter_second_attack]
        special_id=eoma_growingfury{ARRAY}{ADD}
    [/filter_second_attack]

    [object]
        silent=yes
        duration=turn end#just in case something goes wrong with the damage numbers due to other factors, this ensures it will reset back to normal on next turn
        [filter]
            id=$second_unit.id
        [/filter]
        [effect]
            apply_to=attack
            special_id=eoma_growingfury{ARRAY}{ADD}
            increase_damage=-$growingfury2_added_dmg
        [/effect]
    [/object]

    {CLEAR_VARIABLE growingfury2_counter}
    {CLEAR_VARIABLE growingfury2_added_dmg}
[/event]
[+attack]
# wmlindent: start ignoring

[+specials]
# wmlxgettext: [/specials]
# wmlxgettext: [/attack]
# wmlindent: stop ignoring
#enddef
