#textdomain wesnoth-Era_of_Magic
#define WEAPON_SPECIAL_EOMA_GROWINGFURY ARRAY ADD
# wmlindent: start ignoring
# wmlxgettext: [attack]
# wmlxgettext: [specials]

# wmlindent: stop ignoring
    [damage]
        id=eoma_growingfury{ARRAY}{ADD}
        name= _ "growing fury" + " +{ADD}"
        description=_"When this attack is used, this units damage increases after each successful hit."+" (+"+"{ADD}"+")"
    [/damage]	
[/specials]
# wmlindent: start ignoring
[/attack]
# wmlindent: stop ignoring

	[event]
		name=attack
		id=eoma_growingfury{ARRAY}{ADD}_event1
		first_time_only=no
		[filter_attack]
			special=eoma_growingfury{ARRAY}{ADD}
		[/filter_attack]
		
		[store_unit]
			[filter]
				x,y=$x1,$y1
			[/filter]
			variable=dmgmemo
		[/store_unit]
	[/event]
	
    [event]
        name=attacker_hits
        first_time_only=no
		id=eoma_growingfury{ARRAY}{ADD}_event2
		[filter_attack]
			special=eoma_growingfury{ARRAY}{ADD}
		[/filter_attack]
		
		{VARIABLE_OP unit.attack[{ARRAY}].damage add {ADD}}
        [unstore_unit]
            variable=unit
        [/unstore_unit]

    [/event]
	
	[event]
        name=attack end
		id=eoma_growingfury{ARRAY}{ADD}_event3
		first_time_only=no
		[filter_attack]
			special=eoma_growingfury{ARRAY}{ADD}
		[/filter_attack]
		
		[set_variable]
            name=unit.attack[{ARRAY}].damage
			value=$dmgmemo.attack[{ARRAY}].damage
        [/set_variable]
        [unstore_unit]
            variable=unit
        [/unstore_unit]		
		{CLEAR_VARIABLE dmgmemo}
    [/event]
	
	[event]
		name=attack
		id=eoma_growingfury{ARRAY}{ADD}_event4
		first_time_only=no
		[filter_second_attack]
			special=eoma_growingfury{ARRAY}{ADD}
		[/filter_second_attack]
		
		[store_unit]
			[filter]
				x,y=$x2,$y2
			[/filter]
			variable=dmgmemo2
		[/store_unit]
	[/event]
	
    [event]
        name=defender_hits
        first_time_only=no
		id=eoma_growingfury{ARRAY}{ADD}_event5
		[filter_second_attack]
			special=eoma_growingfury{ARRAY}{ADD}
		[/filter_second_attack]
		
		{VARIABLE_OP second_unit.attack[{ARRAY}].damage add {ADD}}
        [unstore_unit]
            variable=second_unit
        [/unstore_unit]
    [/event]
	
	[event]
        name=attack end
		id=eoma_growingfury{ARRAY}{ADD}_event6
		first_time_only=no
		[filter_second_attack]
			special=eoma_growingfury{ARRAY}{ADD}
		[/filter_second_attack]
		
		[set_variable]
            name=second_unit.attack[{ARRAY}].damage
			value=$dmgmemo2.attack[{ARRAY}].damage
        [/set_variable]
        [unstore_unit]
            variable=second_unit
        [/unstore_unit]
		{CLEAR_VARIABLE dmgmemo2}
    [/event]
[+attack]
# wmlindent: start ignoring

[+specials]
# wmlxgettext: [/specials]
# wmlxgettext: [/attack]
# wmlindent: stop ignoring
#enddef
