#textdomain wesnoth-Era_of_Magic
#HEALING------------------------------------------------
#define FILTER_MAGICABSORBER
    [not]
        [filter_adjacent]
            ability=eoma_magicabsorb
        [/filter_adjacent]
    [/not]
#enddef

#-------------------------------------------------------
#These are exact copies from default altered to work with the Magic Absorber ability
#textdomain wesnoth-help
#TODO: remove this ability when TLU 3.8/4.0 is out
#define ABILITY_EOMA_HEALS
    [heals]
        value=4
        id=eoma_healing
        affect_allies=yes
        name= _ "heals +4"
        female_name= _ "female^heals +4"
        description=  _ "Allows the unit to heal adjacent allied units at the beginning of our turn.

A unit cared for by this healer may heal up to 4 HP per turn, or stop poison from taking effect for that turn.
A poisoned unit cannot be cured of its poison by a healer, and must seek the care of a village or a unit that can cure."
        affect_self=no
        poison=slowed
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                {FILTER_MAGICABSORBER}
            [/filter]
        [/affect_adjacent]
    [/heals]
#enddef

#define ABILITY_EOMA_UNPOISON
    [heals]
        affect_allies=yes
        id=eoma_curing
        name= _ "cures"
        female_name= _ "female^cures"
        description= _ "A curer can cure a unit of poison, although that unit will receive no additional healing on the turn it is cured of the poison."
        affect_self=no
        poison=cured
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                {FILTER_MAGICABSORBER}
            [/filter]
        [/affect_adjacent]
    [/heals]
#enddef

#TODO: remove this ability when TLU 3.8/4.0 is out
#define ABILITY_EOMA_REGENERATES
    [regenerate]
        value=8
        id=regenerates
        name= _ "regenerates"
        female_name= _ "female^regenerates"
        description= _ "The unit will heal itself 8 HP per turn. If it is poisoned, it will remove the poison instead of healing."
        affect_self=yes
        poison=cured
        [filter_self]
            {FILTER_MAGICABSORBER}
        [/filter_self]
    [/regenerate]
#enddef
#-------------------------------------------------------
#textdomain wesnoth-Era_of_Magic

#define ABILITY_EOMA_HEAL VALUE
    [heals]
        value={VALUE}
        id=eoma_healing{VALUE}
        affect_allies=yes
        name= _ "heals"+" +{VALUE}"
        female_name= _ "female^heals"+" +{VALUE}"
        description=  _ "Allows the unit to heal adjacent allied units at the beginning of its turn.

A unit cared for by this healer may heal up to {VALUE} HP per turn, or stop poison from taking effect for that turn.
A poisoned unit cannot be cured of its poison by a healer, and must seek the care of a village or a unit that can cure."
        affect_self=no
        poison=slowed
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                {FILTER_MAGICABSORBER}
            [/filter]
        [/affect_adjacent]
    [/heals]
#enddef

#define ABILITY_EOMA_CURES
    {ABILITY_EOMA_UNPOISON}
    {ABILITY_EOMA_HEAL 8}
#enddef

#REGENERATION-------------------------------------------

#define ABILITY_EOMA_REGENERATES_WEAK VALUE
    [regenerate]
        value={VALUE}
        id=eoma_regenerates{VALUE}
        name="regenerates +{VALUE}"
        description=_"This unit regenerates {VALUE} hp every turn. this ability doesn't cure poison, though."
        affect_self=yes
        poison=slowed
        [filter_self]
            {FILTER_MAGICABSORBER}
        [/filter_self]
    [/regenerate]
#enddef

#define ABILITY_EOMA_REGENERATE VALUE
    [regenerate]
        value={VALUE}
        id=eoma_regenerates{VALUE}
        name="regenerates"+" +{VALUE}"
        description= _ "The unit will heal itself {VALUE} HP per turn. If it is poisoned, it will remove the poison instead of healing."
        affect_self=yes
        poison=cured
        [filter_self]
            {FILTER_MAGICABSORBER}
        [/filter_self]
    [/regenerate]
#enddef

#define ABILITY_ULTRACURES
    {ABILITY_EOMA_UNPOISON}
    {ABILITY_EOMA_HEAL 12}
#enddef

#TODO: remove this ability when TLU 3.8/4.0 is out
#define ABILITY_EOMA_REGENERATES6
    [regenerate]
        value=6
        id=regen6
        name= _ "regenerates +6"
        description=_"At the beginning of each turn this unit heals +6 hp. If it is poisoned, it will remove the poison instead of healing."
        affect_self=yes
        poison=cured
        [filter_self]
            {FILTER_MAGICABSORBER}
        [/filter_self]
    [/regenerate]
#enddef
#TODO: remove this ability when TLU 3.8/4.0 is out
#define ABILITY_EOMA_EXTRA_REGENERATES
    [regenerate]
        value=12
        id=eoma_regenerates12
        name= _ "regenerates +12"
        female_name= _ "female^regenerates +12"
        description=_"The unit will heal itself 12 HP per turn. If it is poisoned, it will remove the poison instead of healing."
        affect_self=yes
        poison=cured
        [filter_self]
            {FILTER_MAGICABSORBER}
        [/filter_self]
    [/regenerate]
#enddef

#REPAIR-------------------------------------------------
#define ABILITY_EOMA_MINOR_REPAIR
    [heals]
        value=4
        id=eoma_repair4
        affect_allies=yes
        name= _ "repairs +4"
        description=_"Allows the unit to repair adjacent friendly mechanical units at the beginning of each turn.

A unit cared for by this healer may heal up to 4 HP per turn."
        affect_self=no
        poison=cured
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                race=mechanical
            [/filter]
        [/affect_adjacent]
    [/heals]
#enddef
#define ABILITY_EOMA_REPAIR
    [heals]
        value=6
        id=eoma_repair6
        affect_allies=yes
        name= _ "repairs +6"
        description=_"Allows the unit to repair adjacent friendly mechanical units at the beginning of each turn.

A unit cared for by this healer may heal up to 6 HP per turn."
        affect_self=no
        poison=cured
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                race=mechanical
            [/filter]
        [/affect_adjacent]
    [/heals]
#enddef

#define ABILITY_EOMA_EXTRA_REPAIR
    [heals]
        value=8
        id=eoma_repair8
        affect_allies=yes
        name= _ "repairs +8"
        description=_"Allows the unit to repair adjacent friendly mechanical units at the beginning of each turn.

A unit cared for by this healer may heal up to 8 HP per turn."
        affect_self=no
        poison=cured
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                race=mechanical
            [/filter]
        [/affect_adjacent]
    [/heals]
#enddef

#TERRAIN-SPECIFIC----------------------------------------
#define ABILITY_EOMA_WATER_REGENERATION4
	[regenerate]
		value=4
		id=eoma_water_regeneration4
		name= _ "water regeneration +4"
		description=_"When standing on water (except ford and reef terrain), this unit will heal itself 4 HP per turn. If it is poisoned, it will remove the poison instead of healing."
		affect_self=yes
		poison=cured
		[filter_self]
			[filter_location]
				terrain=Wo*,Ww*,Ss,Wrt,Wwr*
			[/filter_location]
		[/filter_self]
	[/regenerate]
#enddef
#define ABILITY_EOMA_WATER_REGENERATION6
    [regenerate]
        value=6
        id=eoma_water_regeneration6
        name= _ "water regeneration +6"
        description=_"When standing on water (except ford and reef terrain), this unit will heal itself 6 HP per turn. If it is poisoned, it will remove the poison instead of healing."
        affect_self=yes
        poison=cured
        [filter_self]
            [filter_location]
                terrain=Wo*,Ww*,Ss,Wrt,Wwr*
            [/filter_location]
        [/filter_self]
    [/regenerate]
#enddef

#define ABILITY_EOMA_FOREST
    [regenerate]
        value=6
        id=eoma_forest_regeneration
        name= _ "forest regeneration +6"
        description=_"When standing on a forest tile, this unit will heal itself 6 HP per turn. If it is poisoned, it will remove the poison instead of healing."
        affect_self=yes
        poison=cured
        [filter_self]
            [filter_location]
                terrain=*^F*
            [/filter_location]
        [/filter_self]
    [/regenerate]
#enddef

#define ABILITY_EOMA_NATURE VALUE
    [regenerate]
        value={VALUE}
        id=eoma_nature_regeneration{VALUE}
        name= _ "nature regeneration +{VALUE}"
        description=_"When standing on a forest or mushroom tile, this unit will heal itself {VALUE} HP per turn. If it is poisoned, it will remove the poison instead of healing."
        affect_self=yes
        poison=cured
        [filter_self]
            [filter_location]
                terrain=*^F*,*^Uf,*^Ufi
            [/filter_location]
        [/filter_self]
    [/regenerate]
#enddef

#define ABILITY_EOMA_SWAMP
    [regenerate]
        value=8
        id=eoma_swamp_regeneration
        name= _ "swamp regeneration +8"
        description=_"When standing on a swamp tile, this unit will heal itself 8 HP per turn. If it is poisoned, it will remove the poison instead of healing."
        affect_self=yes
        poison=cured
        [filter_self]
            [filter_location]
                terrain=S*^*
            [/filter_location]
        [/filter_self]
    [/regenerate]
#enddef

#define ABILITY_EOMA_FUNGUSLORD VALUE
    [regenerate]
        value={VALUE}
        id=eoma_funguslord{VALUE}
        name= _ "fungal regeneration"+" "+"+"+{VALUE}
        description=_"This unit regenerates some hp each turn it is on a mushroom grove."
        affect_self=yes
        poison=cured
        [filter_self]
            [filter_location]
                terrain=*^Uf,*^Ufi
            [/filter_location]
            {FILTER_MAGICABSORBER}
        [/filter_self]
    [/regenerate]
#enddef

#define ABILITY_EOMA_SOLAR_REGENERATION VALUE VALUE2
    [regenerate]
        value={VALUE}
        id=eoma_regeneratessolar1_{VALUE}_{VALUE2}
        name= _ "solar regeneration"+" +"+{VALUE}+"/"+{VALUE2}
        description=_"The unit will heal itself some HP at dawn or dusk and more HP during day. If it is poisoned, it will remove the poison instead of healing."
        affect_self=yes
        poison=cured
        [filter_self]
            [filter_location]
                time_of_day_id=dawn,dusk
            [/filter_location]
            {FILTER_MAGICABSORBER}
        [/filter_self]
    [/regenerate]
    [regenerate]
        value={VALUE2}
        id=eoma_regeneratessolar2_{VALUE}_{VALUE2}
        affect_self=yes
        poison=cured
        [filter_self]
            [filter_location]
                time_of_day_id=morning,afternoon
            [/filter_location]
            {FILTER_MAGICABSORBER}
        [/filter_self]
    [/regenerate]
#enddef

#define ABILITY_EOMA_NOCTURNAL_REGENERATION VALUE
    [regenerate]
        value={VALUE}
        id=eoma_regeneratesnight1_{VALUE}
        name= _ "nocturnal regeneration"+" +"+{VALUE}
        description=_"The unit will heal itself some HP during night and when in caves or indoors. If it is poisoned, it will remove the poison instead of healing."
        affect_self=yes
        poison=cured
        [filter_self]
            [filter_location]
                time_of_day_id=first_watch,second_watch,indoors,underground,deep_underground
            [/filter_location]
            {FILTER_MAGICABSORBER}
        [/filter_self]
    [/regenerate]
#enddef

#define ABILITY_EOMA_UNDEADHEAL VALUE
    [heals]
        value={VALUE}
        id=undeadheal{VALUE}
        affect_allies=yes
        name= _ "heals undead "+{VALUE}
        description=_"Allows the unit to repair adjacent friendly undead units at the beginning of each turn.

A unit cared for by this healer may heal up to {VALUE} HP per turn."
        affect_self=no
        poison=cured
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                race=undead
            [/filter]
        [/affect_adjacent]
    [/heals]
#enddef
