#textdomain wesnoth-Era_of_Magic
#define ABILITY_EOMA_LEADERSHIP_GOBLINS
    [leadership]
        id=leadership
        value=20
        cumulative=no
        name= _ "goblin leader"
        description=_"This unit can lead our own Goblins that are next to it, making them fight better.

Adjacent own Goblins will do more damage in battle (20% more)."
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                race=goblin
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define ABILITY_EOMA_LEADERSHIP_ORCS
    [leadership]
        id=leadership
        value=20
        cumulative=no
        name= _ "orcish leader"
        description=_"This unit can lead our own Orcs that are next to it, making them fight better.

Adjacent own Orcs will do more damage in battle (20% more)."
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                race=orc
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define ABILITY_EOMA_LEADERSHIP_TROLLS
    [leadership]
        id=leadership
        value=20
        cumulative=no
        name= _ "troll leader"
        description=_"This unit can lead our own Trolls that are next to it, making them fight better (+20%)."
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                race=troll
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define ABILITY_EOMA_INSPIRE_LEVEL1
    [leadership]
        id=leadership
        value=15
        cumulative=no
        name= _ "inspires 1"
        description=_"This unit can inspire friendly units that are next to it, making them fight better.

Adjacent friendly level 0 units will do 30% more damage in battle.
Adjacent friendly level 1 units will do 15% more damage in battle."
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=1
            [/filter]
        [/affect_adjacent]
    [/leadership]
	[leadership]
        id=leadership
        value=30
        cumulative=no
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define ABILITY_EOMA_INSPIRE_LEVEL2
    [leadership]
        id=leadership
        value=6
        cumulative=no
        name= _ "inspires 2"
        description=_"This unit can inspire friendly units that are next to it, making them fight better.

Adjacent friendly level 0 units will do 50% more damage in battle.
Adjacent friendly level 1 units will do 25% more damage in battle.
Adjacent friendly level 2 units will do 12% more damage in battle.
Adjacent friendly level 3 units will do 6% more damage in battle."
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=3
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=leadership
        value=12
        cumulative=no
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=2
            [/filter]
        [/affect_adjacent]
    [/leadership]
    [leadership]
        id=leadership
        value=25
        cumulative=no
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=1
            [/filter]
        [/affect_adjacent]
    [/leadership]
	[leadership]
        id=leadership
        value=50
        cumulative=no
        affect_self=no
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                level=0
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef
