# wmllint: no translatables
#define EOMA_CUSTOMPLAGUEEVENT
    [event]
        name=die
        first_time_only=no

        [filter]
            type={EOMA_UNIT_IDS}
            [not]
                [filter_wml]
                    [status]
                        unplagueable="yes"
                    [/status]
                [/filter_wml]
            [/not]
            [filter_location]
                [not]
                    terrain=*^V*
                [/not]
            [/filter_location]
        [/filter]
        [filter_second_attack]
            special_type_active=plague
        [/filter_second_attack]

        [store_unit]
            [filter]
                x,y=$x1,$y1
            [/filter]
            variable=plagued
        [/store_unit]

        [kill]
            x,y=$x1,$y1
            fire_event=no
            animate=no
        [/kill]
        #disable plague for RPG
        [if]
#ifdef MULTIPLAYER
            [EoMa_not_rpg]
            [/EoMa_not_rpg]
#else
            [true]
            [/true]
#endif
            [then]
                [unit]
                    type=EoMa_Walking_Corpse
                    side=$second_unit.side
                    x,y=$x1,$y1
                    moves=0
                    attacks_left=0
                    animate=no
                    variation=$plagued.undead_variation
                [/unit]
            [/then]
        [/if]
        {CLEAR_VARIABLE plagued}
    [/event]
#enddef
