#textdomain wesnoth-Era_of_Magic
#define ABILITY_EOMA_DEFENDER
    [resistance]
        id=eoma_defender
        add=20
        max_value=50
        apply_to=blade,pierce,impact,fire,cold,arcane
        name= _ "defender"
        special_note={EOMA_SPECIAL_NOTES_PROTECTION}
        description=_"Adjacent friendly units receive a +20% bonus to all resistances (up to a maximum of 50%). Does not stack with the bulwark ability."
        affect_self=no
        affect_allies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                [not]
                    [filter_adjacent]
                        ability=eoma_bulwark
                    [/filter_adjacent]
                [/not]
            [/filter]
        [/affect_adjacent]
        [filter_base_value]
            less_than=50
        [/filter_base_value]
    [/resistance]
#enddef

#define ABILITY_EOMA_BULWARK
    [resistance]
        id=eoma_bulwark
        add=25#20
        max_value=60#85
        apply_to=blade,pierce,impact,fire,cold,arcane
        name= _ "bulwark"
        special_note={EOMA_SPECIAL_NOTES_PROTECTION}
        description=_"Adjacent friendly units receive a +25% bonus to all resistances (up to a maximum of 60%). Does not stack with the defender ability."
        affect_self=no
        affect_allies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
        [/affect_adjacent]
        [filter_base_value]
            less_than=60#85
        [/filter_base_value]
    [/resistance]
#enddef

#define ABILITY_EOMA_CIRCLERES
    [resistance]
        id=eoma_circleres
        add=20
        max_value=100
        apply_to=fire,cold,arcane
        name= _ "circle of resistance"
        description=_"All adjacent friendly units next to this unit receive a +20% bonus to fire, cold, and arcane resistances (does not work against units with the magic absorber ability)."
        affect_self=no
        affect_allies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                {FILTER_MAGICABSORBER}
                [not]
                    ability=eoma_magicabsorb
                [/not]
            [/filter]
        [/affect_adjacent]
    [/resistance]
#enddef

#define ABILITY_EOMA_CIRCLESUS
    [resistance]
        id=eoma_circlesus
        sub=20
        max_value=80
        apply_to=fire,cold,arcane
        name= _ "circle of susceptibility"
        description=_"All adjacent enemy units’ fire, cold, and arcane resistances are weakened by 20% (does not work against units with the magic absorber ability)."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                {FILTER_MAGICABSORBER}
                [not]
                    ability=eoma_magicabsorb
                [/not]
            [/filter]
        [/affect_adjacent]
    [/resistance]
#enddef

#define ABILITY_EOMA_MAGICABSORBER
#arg HALO
""#endarg
    [resistance]
        id=eoma_magicabsorb
        add=70
        max_value=70
        apply_to=fire,cold,arcane
        name= _ "magic absorber"
        description=_"Area around this unit is mostly purged from most kinds of magic (anti-shield attacks still work fine)
- all adjacent units (including enemies) receive a 70% bonus to fire, cold, and arcane resistances (up to a maximum of 70%),
- healing and circle of susceptibility around this unit do not work."
        affect_self=no
        affect_allies=yes
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                [not]
                    ability=eoma_magicabsorb
                [/not]
            [/filter]
        [/affect_adjacent]
        [filter_base_value]
            less_than=70
        [/filter_base_value]
        halo_image_self={HALO}
    [/resistance]
#enddef

#define ABILITY_EOMA_COLDAURA
#arg HALO
""#endarg
    [resistance]
        id=eoma_coldaura
        add=40
        max_value=50
        apply_to=fire
        name= _ "cold aura"
        description=_"- All water/swamp tiles around this unit turn to ice on this unit's next turn (this effect lasts 1 turn).
- The owner of this ability deals 4 cold damage to adjacent enemies every turn.
- All adjacent units with water regeneration (including Water Elementals and their advancements) become slowed at the start of this unit's turn.
- Area around this unit provides a 40% (50% max) bonus to fire resistance and a −25% (-75% max) reduction to cold resistance.
- Adjacent allies move faster on frozen (2 move cost becomes 1, 3 becomes 2, etc.) for 1 turn at the start of this unit's turn. Does not stack.
- This ability does not affect other units with the same ability.
- This ability does not work on tiles affected by the heat aura ability."
        affect_self=no
        affect_allies=yes
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                [not]
                    type=EoMa_Matriarch_of_Frost,EoMa_Matriarch_of_Frost_rpg
                [/not]
                [not]
                    [filter_adjacent]
                        ability=eoma_heataura_filter
                    [/filter_adjacent]
                [/not]
            [/filter]
        [/affect_adjacent]
        halo_image_self={HALO}
    [/resistance]
    [resistance]
        id=eoma_coldaura
        sub=25
        max_value=75
        apply_to=cold
        affect_self=no
        affect_allies=yes
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                [not]
                    type=EoMa_Matriarch_of_Frost,EoMa_Matriarch_of_Frost_rpg
                [/not]
                [not]
                    [filter_adjacent]
                        ability=eoma_heataura_filter
                    [/filter_adjacent]
                [/not]
            [/filter]
        [/affect_adjacent]
    [/resistance] # wmlxgettext: [abilities]
[/abilities]

#harm units
[event]
    name=turn refresh
    id=eoma_coldaura_event
    first_time_only=no

    [harm_unit]
        [filter]
            [filter_adjacent]
                side=$side_number
                ability=eoma_coldaura
                is_enemy=yes
            [/filter_adjacent]
            [not]
                ability=eoma_coldaura
            [/not]
            [not]
                [filter_adjacent]
                    ability=eoma_heataura_filter
                [/filter_adjacent]
            [/not]
        [/filter]
        [filter_second]
            ability=eoma_coldaura
            [filter_adjacent]
                is_enemy=yes
            [/filter_adjacent]
        [/filter_second]
        amount=4
        damage_type=cold
        alignment=neutral
        fire_event=yes
        animate=defender
        delay=0
        experience=yes
    [/harm_unit]
    #slow water elementals
    [harm_unit]
        [filter]
            [filter_adjacent]
                side=$side_number
                ability=eoma_coldaura
                is_enemy=yes
            [/filter_adjacent]
            [and]
                ability=eoma_water_regeneration4,eoma_water_regeneration6
            [/and]
            [not]
                ability=eoma_coldaura
            [/not]
            [not]
                [filter_adjacent]
                    ability=eoma_heataura_filter
                [/filter_adjacent]
            [/not]
        [/filter]
        [filter_second]
            ability=eoma_coldaura
            [filter_adjacent]
                is_enemy=yes
            [/filter_adjacent]
        [/filter_second]
        amount=4
        damage_type=cold
        slowed=yes
        alignment=neutral
        fire_event=yes
        animate=defender
        delay=0
        experience=yes
    [/harm_unit]
[/event]

[event]
    name=turn refresh
    id=eoma_coldaura_event2
    first_time_only=no

    [foreach]
        array=coldauramemory$side_number
        [do]
            #if a tile in the coldmemory array gets replaced by some other factors (like scenario code) to a non-ice terrain, then do not reset the terrain to an older state, instead letting coldmemory of that hex get wiped by [store_locations] + mode=replace
            [if]
                [have_location]
                    x,y=$this_item.x,$this_item.y
                    [not]
                        terrain=Ai^*
                    [/not]
                [/have_location]
                [else]
                    [terrain]
                        terrain=$this_item.terrain
                        x,y=$this_item.x,$this_item.y
                        layer=base#terrain with overlays can be frozen now too
                    [/terrain]
                [/else]
            [/if]
        [/do]
    [/foreach]

    [store_locations]
        #        terrain=W*
        terrain=W*^*,S*^*#swamp and terrain with overlays can be frozen now too
        [and]
            [filter]
                ability=eoma_coldaura
                side=$side_number
            [/filter]
            radius=1
        [/and]
        [not]
            [filter]
                ability=eoma_heataura_filter
            [/filter]
            radius=1
        [/not]
        include_borders=no
        variable=coldauramemory$side_number
        mode=replace
    [/store_locations]

    [store_locations]
        #        terrain=W*
        terrain=W*^*,S*^*#swamp and terrain with overlays can be frozen now too
        [and]
            [filter]
                ability=eoma_coldaura
                side=$side_number
            [/filter]
            radius=1
        [/and]
        [not]
            [filter]
                ability=eoma_heataura_filter
            [/filter]
            radius=1
        [/not]
        include_borders=no
        variable=ice
    [/store_locations]

    [foreach]
        array=ice
        [do]
            [terrain]
                terrain=Ai
                x,y=$this_item.x,$this_item.y
                layer=base#terrain with overlays can be frozen now too
            [/terrain]
        [/do]
    [/foreach]

    {CLEAR_VARIABLE ice}

    [store_unit]
        [filter]
            [filter_side]
                [allied_with]
                    side=$side_number
                [/allied_with]
            [/filter_side]
            [filter_adjacent]
                side=$side_number
                ability=eoma_coldaura
            [/filter_adjacent]
            [not]
                [filter_adjacent]
                    ability=eoma_heataura_filter
                [/filter_adjacent]
            [/not]
            [not]
                ability=eoma_coldaura_frozenbuff_applied
            [/not]
        [/filter]
        variable=coldaura_frozenbuff
    [/store_unit]

    [foreach]
        array=coldaura_frozenbuff
        index_var=i
        [do]
            [object]
                silent=yes
                duration=turn end

                [filter]
                    id=$this_item.id
                [/filter]

                [effect]
                    apply_to=movement_costs
                    replace=no
                    [movement_costs]
                        frozen=-1
                    [/movement_costs]
                [/effect]
                [effect]
                    apply_to=new_ability
                    [abilities]
                        [dummy]
                            id=eoma_coldaura_frozenbuff_applied
                        [/dummy]
                    [/abilities]
                [/effect]
            [/object]
        [/do]
    [/foreach]
    {CLEAR_VARIABLE coldaura_frozenbuff}
[/event]

[event]
    name=victory
    id=eoma_coldaura_clear
    #clear coldauramemory from all sides
    {VARIABLE coldmemoryclear_counter 1}
    [while]
        {VARIABLE_CONDITIONAL frozenclear_counter less_than 100}#clearing 100 sides. a bit overkill but ensures scenarios with tons of sides still work properly
        [do]
            {CLEAR_VARIABLE coldauramemory$coldmemoryclear_counter}
            {VARIABLE_OP coldmemoryclear_counter add 1}
        [/do]
    [/while]
    {CLEAR_VARIABLE coldmemoryclear_counter}
[/event]

[+abilities] # wmlxgettext: [/abilities]
#enddef

#define ABILITY_EOMA_HEATAURA VALUE
    [resistance]
        id=eoma_heataura{VALUE}
        add={VALUE}
        max_value=50
        apply_to=cold
        cumulative=yes
        name= _ "heat aura"+" "+{VALUE}+"%"
        description=_"Area around this unit provides a bonus to cold resistance (max 50%). This ability does not affect other units with the same ability, fire elementals and Masters of Fire. This ability negates effects of the cold aura ability."
        affect_self=no
        affect_allies=yes
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
            [filter]
                [not]
                    type=EoMa_Fire_Elemental,EoMa_Fire_Avatar,EoMa_Fire_God,EoMa_Master_of_Fire,EoMa_Fire_Elemental_rpg,EoMa_Fire_Avatar_rpg,EoMa_Fire_God_rpg,EoMa_Master_of_Fire_rpg
                [/not]
                [not]
                    [filter_adjacent]
                        ability=eoma_coldaura
                    [/filter_adjacent]
                [/not]
            [/filter]
        [/affect_adjacent]
        [filter_base_value]
            less_than=50
        [/filter_base_value]
    [/resistance]
    [dummy]
        id=eoma_heataura_filter#for cold aura
    [/dummy]
#enddef

#define ABILITY_EOMA_DAUNTLESS
    [resistance]
        id=eoma_dauntless
        multiply=2
        max_value=50
        [filter_base_value]
            greater_than=0
            less_than=50
        [/filter_base_value]
        name= _ "dauntless"
        female_name= _ "female^dauntless"
        description= _ "While attacking, this unit's resistances are doubled, up to a maximum of 50. Weaknesses are not affected."
        affect_self=yes
        active_on=offense
    [/resistance]
#enddef

#define ABILITY_EOMA_TENACITY
    [resistance]
        id=eoma_tenacity
        divide=2
        max_value=50
        [filter_base_value]
            greater_than=-100
            less_than=0
        [/filter_base_value]
        name= _ "tenacity"
        female_name= _ "female^tenacity"
        description= _ "This unit’s vulnerabilities are halved when attacking."
        affect_self=yes
        active_on=offense
    [/resistance]
#enddef

#define ABILITY_EOMA_SHIELDED
    [resistance]
        id=eoma_shielded
        add=5
        max_value=50
        name= _ "shielded"
        female_name= _ "female^shielded"
        description= _ "This unit gains +5% to all resistances, up to a maximum of 60%, when using a weapon with the 'shielded' special."
        affect_self=yes
        [filter_weapon]
            special_id_active=eoma_shielded_special
        [/filter_weapon]
    [/resistance]
#enddef

#define WEAPON_SPECIAL_EOMA_SHIELDED
    [dummy]
        id=eoma_shielded_special
        name= _ "shielded"
        description=_"This attack activates the 'shielded' ability of the unit applying the +5 resistance bonus to the owner."
    [/dummy]
#enddef
