#define ABILITY_EOMA_DEFENDER
    [resistance]
        id=eoma_defender
        add=20
        max_value=40
        apply_to=blade,pierce,impact,fire,cold,arcane
        name= _ "defender"
        description=_"Adjacent friendly units receive a +20% bonus to all resistances (up to a maximum of 40%)."
        affect_self=no
        affect_allies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
        [/affect_adjacent]
        [filter_base_value]
            less_than=40
        [/filter_base_value]
    [/resistance]
#enddef

#define ABILITY_EOMA_CIRCLERES
    [resistance]
        id=eoma_circleres
        add=20
        max_value=100
        apply_to=fire,cold,arcane
        name= _ "circle of resistance"
        description=_"All adjacent friendly units next to this unit receive a +20% bonus to fire, cold, and arcane resistances."
        affect_self=no
        affect_allies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
			[filter]
				{FILTER_MAGICABSORBER}
			[/filter]
        [/affect_adjacent]
    [/resistance]
#enddef

#define ABILITY_EOMA_CIRCLESUS
    [resistance]
        id=eoma_circlesus
        sub=20
        max_value=80
        apply_to=fire,cold,arcane
        name= _ "circle of susceptibility"
        description=_"All adjacent enemy units’ fire, cold, and arcane resistances are weakened by 20%."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
			[filter]
				{FILTER_MAGICABSORBER}
			[/filter]
        [/affect_adjacent]
    [/resistance]
#enddef

#define ABILITY_EOMA_MAGICABSORBER
    [resistance]
        id=eoma_magicabsorb
        add=99
        max_value=99
        apply_to=fire,cold,arcane
        name= _ "magic absorber"
        description=_"Area around this unit is purged from most kinds of magic (anti-shield attacks still work fine)
- all adjacent units (including enemies) receive a 99% bonus to fire, cold, and arcane resistances,
- healing and circle of susceptibility around this unit does not work."
        affect_self=yes
        affect_allies=yes
		affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
        [/affect_adjacent]
    [/resistance]
#enddef

#define ABILITY_EOMA_COLDAURA
    [resistance]
        id=eoma_coldaura
        add=40
        max_value=50
        apply_to=fire
        name= _ "cold aura"
        description=_"- All water tiles around this unit turn to ice on this unit's next turn (this effect lasts 1 turn).
- The owner of this ability deals 4 cold damage to adjacent enemies every turn.
- All Water Elementals and their advancements in range of this ability become slowed.
- Area around this unit provides a 40% (50% max) bonus to fire resistance and a −25% (-75% max) reduction to cold resistance.
- This ability does not affect other units with the same ability.
- This ability does not work on tiles affected by the heat aura ability."
        affect_self=no
        affect_allies=yes
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
			[filter]
				[not]
					type=EoMa_Cold_Matriarch
				[/not]
				[not]
					[filter_adjacent]
						ability=eoma_heataura10,eoma_heataura20
					[/filter_adjacent]
				[/not]
			[/filter]
        [/affect_adjacent]
    [/resistance]
    [resistance]
        id=eoma_coldaura
        sub=25
        max_value=75
        apply_to=cold
        affect_self=no
        affect_allies=yes
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
			[filter]
				[not]
					type=EoMa_Cold_Matriarch
				[/not]
				[not]
					[filter_adjacent]
						ability=eoma_heataura10,eoma_heataura20
					[/filter_adjacent]
				[/not]
			[/filter]
        [/affect_adjacent]
    [/resistance] # wmlxgettext: [abilities]
[/abilities]
	
	#harm units
	[event]
        name=turn refresh
		id=eoma_coldaura_event
        first_time_only=no
		
		[harm_unit]
			[filter]
				[filter_adjacent]
					side=$side_number
					ability=eoma_coldaura
					is_enemy=yes
				[/filter_adjacent]
				[not]
					ability=eoma_water
				[/not]
				[not]
					ability=eoma_coldaura
				[/not]
				[not]
					[filter_adjacent]
						ability=eoma_heataura10,eoma_heataura20
					[/filter_adjacent]
				[/not]
			[/filter]
			[filter_second]
				ability=eoma_coldaura
				[filter_adjacent]
					is_enemy=yes
				[/filter_adjacent]
			[/filter_second]
			amount=4
			damage_type=cold
			alignment=neutral
			fire_event=yes
			animate=defender
			delay=0
			experience=yes
		[/harm_unit]
		#slow water elementals
		[harm_unit]
			[filter]
				[filter_adjacent]
					side=$side_number
					ability=eoma_coldaura
					is_enemy=yes
				[/filter_adjacent]
				[and]
					ability=eoma_water
				[/and]
				[not]
					ability=eoma_coldaura
				[/not]
				[not]
					[filter_adjacent]
						ability=eoma_heataura10,eoma_heataura20
					[/filter_adjacent]
				[/not]
			[/filter]
			[filter_second]
				ability=eoma_coldaura
				[filter_adjacent]
					is_enemy=yes
				[/filter_adjacent]
			[/filter_second]
			amount=4
			damage_type=cold
			slowed=yes
			alignment=neutral
			fire_event=yes
			animate=defender
			delay=0
			experience=yes
		[/harm_unit]
    [/event]
	
	[event]
        name=turn refresh
		id=eoma_coldaura_event2
        first_time_only=no
		
		{FOREACH coldauramemory i}
			[terrain]
				terrain=$coldauramemory[$i].terrain
				x,y=$coldauramemory[$i].x,$coldauramemory[$i].y
			[/terrain]
		{NEXT i}
		
		[store_locations]
			terrain=W*
			[and]
				[filter]
					ability=eoma_coldaura
				[/filter]
				radius=1
			[/and]
			[not]
				[filter]
					ability=eoma_heataura10,eoma_heataura20
				[/filter]
				radius=1
			[/not]
			variable=coldauramemory
		[/store_locations]
		
		[store_locations]
			terrain=W*
			[and]
				[filter]
					ability=eoma_coldaura
				[/filter]
				radius=1
			[/and]
			[not]
				[filter]
					ability=eoma_heataura10,eoma_heataura20
				[/filter]
				radius=1
			[/not]
			variable=ice
		[/store_locations]
		
		{FOREACH ice i}
			[terrain]
				terrain=Ai
				x,y=$ice[$i].x,$ice[$i].y
			[/terrain]
		{NEXT i}
		
		{CLEAR_VARIABLE ice}
	[/event]
[+abilities] # wmlxgettext: [/abilities]
#enddef

#define ABILITY_EOMA_HEATAURA VALUE
    [resistance]
        id=eoma_heataura{VALUE}
        add={VALUE}
        max_value=50
        apply_to=cold
		cumulative=yes
        name= _ "heat aura"+" "+{VALUE}+"%"
        description=_"Area around this unit provides a bonus to cold resistance (max 50%). This ability does not affect other units with the same ability, fire elementals and Masters of Fire. This ability negates effects of the cold aura ability."
        affect_self=no
        affect_allies=yes
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
			[filter]
				[not]
					type=EoMa_Fire_Elemental,EoMa_Fire_Avatar,EoMa_Fire_God,EoMa_Master_of_Fire
				[/not]
				[not]
					[filter_adjacent]
						ability=eoma_coldaura
					[/filter_adjacent]
				[/not]
			[/filter]
        [/affect_adjacent]
    [/resistance]
#enddef