#define ABILITY_EOMA_RUNEAURA
    [dummy]
        id=eoma_runeaura
        name= _ "rune aura"
        description=_"When this ability is activated, all Rune Masters create special auras.
-all ajdacent enemy units get 20 damage,
-adjacent units on hexes: s, ne, nw receive a 99% bonus to fire, cold and arcane resistance,
-other units receive a -99% bonus to fire, cold and arcane resistance,
-the aura can be rotated once per turn to cover appropriate units,
-transformed Runemasters cannot attack, but have 70% magical and physical resistance,
-the transformation lasts one turn."
    [/dummy] # wmlxgettext: [abilities]
[/abilities]

[event]
    name=start,recall,post advance
	id=eoma_runeaura_start_event
    [if]
        [have_unit]
            ability=eoma_runeaura
        [/have_unit]
        [then]
            {RUNEAURA_MENU}
        [/then]
    [/if]
[/event]

[+abilities] # wmlxgettext: [/abilities]
#enddef

#define RUNEAURA_MENU
    [set_menu_item]
        id=eoma_runeaura_menu
        description= _ "Activate Aura (20 Gold)"
        [show_if]
        [/show_if]

        [filter_location]
            [filter]
                ability=eoma_runeaura
                side=$side_number
            [/filter]
        [/filter_location]
        [command]
            [store_gold]
                variable=actualgold
                side=$side_number
            [/store_gold]
            [if]
				{VARIABLE_CONDITIONAL actualgold greater_than 19}
                [then]
                    [message]
                        speaker=unit
                        #image="portraits/ancient_dwarves/transparent/runemaster.png"
                        image="halo/runemaster2-runes.png~BLIT(halo/runemaster2-thunderdome1.png)~SCALE(325,400)"
                        message= _ "Activate aura? (20 Gold)"
                        [option]
                            message= {MENU_IMG_TXT "units/dwarves/arcanister.png~TC($side_number|,magenta)" {STR_NO} }
                            [command]
                            [/command]
                        [/option]

                        [option]
                            message= {MENU_IMG_TXT "units/runemasters-dwarves/runemaster-thunder-3d.png~TC($side_number|,magenta)" {STR_YES} }
                            [command]
                                [gold]
                                    amount=-20
                                    side=$side_number
                                [/gold]
								[sound]
									name=lightning.ogg
								[/sound]
                                {TRANSFORM_UNIT id=$unit.id EoMa_Runemaster_Protected}
								[harm_unit]
									[filter]
										[filter_adjacent]
											x,y=$x1,$y1
											is_enemy=yes
										[/filter_adjacent]
										[not]
											[filter_wml]
												[status]
													petrified=yes
												[/status]
											[/filter_wml]
										[/not]
									[/filter]
									[filter_second]
										x,y=$x1,$y1
									[/filter_second]
									amount=20
									alignment=neutral
									fire_event=yes
									animate=defender
									delay=0
									experience=yes
								[/harm_unit]
                            [/command]
                        [/option]
                    [/message]
                [/then]
                [else]
                    [print]
                        text= _ "Not enough gold to activate the rune aura!"
                        size=18
                        red=255
                    [/print]
                [/else]
            [/if]
            {CLEAR_VARIABLE actualgold}
        [/command]
    [/set_menu_item]
	
	[set_menu_item]
        id=eoma_runeaura_menu2
        description= _ "Switch Rune Positions (once per turn)"
        [show_if]
        [/show_if]

        [filter_location]
            [filter]
                ability=eoma_runeauraactive1
                side=$side_number
				[not]
					[filter_wml]
						variation=EoMa_Runemaster_Protected2
					[/filter_wml]					
				[/not]
            [/filter]
        [/filter_location]
        [command]
			{MODIFY_UNIT x,y=$x1,$y1 variation EoMa_Runemaster_Protected2}
			[object]
				silent=yes
				duration=turn
				[filter]
					x,y=$x1,$y1
				[/filter]
				[effect]
					apply_to=remove_ability
					[abilities]
						{ABILITY_EOMA_RUNEAURAACTIVE}
					[/abilities]
				[/effect][effect]
					apply_to=new_ability
					[abilities]
						{ABILITY_EOMA_RUNEAURAACTIVE2}
					[/abilities]
				[/effect]
			[/object]
        [/command]
	[/set_menu_item]
#enddef

#define ABILITY_EOMA_RUNEAURAACTIVE
    [resistance]
        id=eoma_runeauraactive1
        add=99
        max_value=99
        apply_to=fire,cold,arcane
        name= _ "rune aura"
        description=_"Adjacent units on hexes: s, ne, nw receive a 99% bonus to fire, cold and arcane resistance. Other units receive a -99% bonus to fire, cold and arcane resistance."
        affect_self=no
        affect_allies=yes
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,se,sw
        [/affect_adjacent]
    [/resistance]
    [resistance]
        id=eoma_runeauraactive2
        value=-99
        max_value=1
        apply_to=fire,cold,arcane
        affect_self=no
        affect_allies=yes
        affect_enemies=yes
        [affect_adjacent]
            adjacent=s,nw,ne
        [/affect_adjacent]
    [/resistance]
#enddef

#define ABILITY_EOMA_RUNEAURAACTIVE2
    [resistance]
        id=eoma_runeauraactive3
        add=99
        max_value=99
        apply_to=fire,cold,arcane
        name= _ "rune aura (flipped)"
        description=_"Adjacent units on hexes: n, se, sw receive a 99% bonus to fire, cold and arcane resistance. Other units receive a -99% bonus to fire, cold and arcane resistance."
        affect_self=no
        affect_allies=yes
        affect_enemies=yes
        [affect_adjacent]
            adjacent=s,nw,ne
        [/affect_adjacent]
    [/resistance]
    [resistance]
        id=eoma_runeauraactive4
        value=-99
        max_value=1
        apply_to=fire,cold,arcane
        affect_self=no
        affect_allies=yes
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,se,sw
        [/affect_adjacent]
    [/resistance]
#enddef