#textdomain wesnoth-Era_of_Magic

#define ABILITY_EOMA_SOULCATCHER
# wmlxgettext: [abilities]
    [dummy]
        id=soul_catcher
        name=_ "soul catcher"
        description=_"This unit can only advance by consuming a magical or living object."
    [/dummy]
[/abilities]
[event]
    name=start,prerecruit,recruit,prerecall,recall,post advance
    first_time_only=no
    {MODIFY_UNIT ability=soul_catcher experience 0}
[/event]

[event]
    name=attack end
	id=eoma_soulcatcher_event1
    first_time_only=no
    [filter]
        ability=soul_catcher
    [/filter]

	{VARIABLE expsub $second_unit.level}
	{VARIABLE_OP unit.experience sub $expsub}
	[unstore_unit]
		variable=unit
		find_vacant=no
		animate=no
		fire_event=no
	[/unstore_unit]
	{CLEAR_VARIABLE expsub}
[/event]

[event]
    name=attack end
	id=eoma_soulcatcher_event2
    first_time_only=no
    [filter_second]
        ability=soul_catcher
    [/filter_second]

	{VARIABLE expsub $unit.level}
	{VARIABLE_OP second_unit.experience sub $expsub}
	[unstore_unit]
		variable=second_unit
		find_vacant=no
		animate=no
		fire_event=no
	[/unstore_unit]
	{CLEAR_VARIABLE expsub}
[/event]

[event]
    name=die
	id=eoma_soulcatcher_event3
    first_time_only=no
    [filter_second]
        ability=soul_catcher
    [/filter_second]

	{ADVANCE_UNIT find_in=second_unit ()}
	
	[switch]
		variable=unit.level
		[case]
			value=0
			{MODIFY_UNIT find_in=second_unit experience -4}
		[/case]
		[case]
			value=1
			{MODIFY_UNIT find_in=second_unit experience -8}
		[/case]
		[case]
			value=2
			{MODIFY_UNIT find_in=second_unit experience -16}
		[/case]
		[case]
			value=3
			{MODIFY_UNIT find_in=second_unit experience -24}
		[/case]
		[case]
			value=4
			{MODIFY_UNIT find_in=second_unit experience -32}
		[/case]
		[case]
			value=5
			{MODIFY_UNIT find_in=second_unit experience -40}
		[/case]
		[case]
			value=6
			{MODIFY_UNIT find_in=second_unit experience -48}
		[/case]
	[/switch]

	[fire_event]
		name=post gate
		[primary_unit]
			x,y=$x2,$y2
		[/primary_unit]
	[/fire_event]
[/event]
[+abilities]
# wmlxgettext: [/abilities]
#enddef
