#textdomain wesnoth-Era_of_Magic

#define ABILITY_EOMA_SOULCATCHER
    # wmlxgettext: [abilities]
    [dummy]
        id=soul_catcher
        name=_ "soul catcher"
        description=_"This unit can only advance by consuming a magical or living being."
    [/dummy]
[/abilities]

[event]
    name=die
    id=eoma_soulcatcher_event3
    first_time_only=no
	[filter]
		[not]
			race=mechanical,undead
		[/not]
	[/filter]
    [filter_second]
        ability=soul_catcher
    [/filter_second]
	
	[if]
		[have_location]
			x,y=$x2,$y2
			terrain=Q*,Q*^*,*^Qov,Mv
			[filter]
				type=EoMa_Dimensional_Gate
			[/filter]
		[/have_location]
		[then]
			{MODIFY_UNIT find_in=second_unit advances_to EoMa_Fire_Elemental,EoMa_Air_Elemental,EoMa_Jinn}
		[/then]
		[elseif]
			[have_location]
				x,y=$x2,$y2
				terrain=Q*,Q*^*,*^Qov,Mv
				[filter]
					type=EoMa_Dimensional_Gate_II
				[/filter]
			[/have_location]
			[then]
				{MODIFY_UNIT find_in=second_unit advances_to EoMa_Fire_Avatar,EoMa_Air_Avatar,EoMa_Great_Jinn,EoMa_Efreet}
			[/then]
		[/elseif]
		[else]
			{MODIFY_UNIT find_in=second_unit advances_to $second_unit.variables.advances_to_list}
		[/else]
	[/if]

    {ADVANCE_UNIT find_in=second_unit ()}
	
	[switch]
        variable=unit.level
        [case]
            value=0
            {MODIFY_UNIT find_in=second_unit experience -4}
        [/case]
        [case]
            value=1
            {MODIFY_UNIT find_in=second_unit experience -8}
        [/case]
        [case]
            value=2
            {MODIFY_UNIT find_in=second_unit experience -16}
        [/case]
        [case]
            value=3
            {MODIFY_UNIT find_in=second_unit experience -24}
        [/case]
        [case]
            value=4
            {MODIFY_UNIT find_in=second_unit experience -32}
        [/case]
        [case]
            value=5
            {MODIFY_UNIT find_in=second_unit experience -40}
        [/case]
        [case]
            value=6
            {MODIFY_UNIT find_in=second_unit experience -48}
        [/case]
    [/switch]

    [fire_event]
        name=post gate
        [primary_unit]
            x,y=$x2,$y2
        [/primary_unit]
    [/fire_event]
[/event]

[event]
    name=recruit,recall,unit placed
    id=eoma_soulcatcher_event4
    first_time_only=no
	[filter]
		ability=soul_catcher
	[/filter]
	
	{VARIABLE unit.variables.advances_to $unit.advances_to_list}
	{VARIABLE unit.advances_to null}
	
	[unstore_unit]
        variable=unit
        find_vacant=no
        animate=no
        fire_event=no
    [/unstore_unit]
	
	[allow_undo]
    [/allow_undo]

[/event]

[+abilities]
    # wmlxgettext: [/abilities]
#enddef
