#textdomain wesnoth-Era_of_Magic
#define ABILITY_EOMA_SUMMON ID OPTIONS
    [dummy]
        id=eoma_summon
        name= _ "summon"
        description=_"This unit can summon new units on adjacent tiles, but not in villages, or on water.

For more information, choose the 'Summoning Help' rightclick option which appears when rightclicking on a unit with the 'summon' ability."+" "+{EOMA_NO_RPG}
#ifdef MULTIPLAYER
        [filter]
            lua_function=wesnoth.wml_conditionals.EoMa_not_rpg
        [/filter]
#endif
    [/dummy] # wmlxgettext: [abilities]
[/abilities]
[event]
    name=select,recruit,recall
    id=eoma_summon_select_event
    first_time_only=no
    [filter]
        ability=eoma_summon
        side=$side_number
    [/filter]

    [store_unit]
        [filter]
            x,y=$x1,$y1
        [/filter]
        variable=last_selected_unit
    [/store_unit]
    [allow_undo]
    [/allow_undo]
[/event]

[event]
    name=start,post advance,unit placed,forcesummonoptions
    id=eoma_summon_init_event_{ID}
    first_time_only=no

    {OPTIONS}
[/event]
[+abilities] # wmlxgettext: [/abilities]
#enddef

#define SUMMON_MENU_ITEM ID DESCRIPTION COST SUMMONER UNIT
    [set_menu_item]
        id=summon_{ID}
        description={DESCRIPTION}+" - "+ _ "gold:"+" "+{COST}
        [show_if]
#ifdef MULTIPLAYER
            [EoMa_not_rpg]
            [/EoMa_not_rpg]
#endif
        [/show_if]

        [filter_location]
            [filter_adjacent_location]
                [filter]
                    type={SUMMONER}
                    side=$side_number
                    [filter_wml]
                        moves=$this_unit.max_moves
                    [/filter_wml]
                    [filter_location]
                        [not]
                            terrain=C*,K*
                        [/not]
                    [/filter_location]
                [/filter]
            [/filter_adjacent_location]
            [not]
                [filter]
                [/filter]
                [or]
                    terrain=_off^_usr,Q*,W*,*^X*,X*,*^V*
                [/or]
            [/not]
        [/filter_location]
        [command]
            [store_gold]
                variable=actualgold
                side=$side_number
            [/store_gold]
            {IF_VAR actualgold greater_than_equal_to {COST} (
                [then]
                    [gold]
                        amount=-{COST}
                        side=$side_number
                    [/gold]
                    [unit]
                        type={UNIT}
                        side=$side_number
                        x,y=$x1,$y1
                        moves=0
                        animate=yes
                    [/unit]
                    {MODIFY_UNIT x,y=$x1,$y1 attacks_left 0}
                    {MODIFY_UNIT x,y=$x1,$y1 moves 0}
                    [store_unit]
                        [filter]
                            type={SUMMONER}
                            side=$side_number
                            [filter_wml]
                                moves=$this_unit.max_moves
                            [/filter_wml]
                            [filter_adjacent]
                                x,y=$x1,$y1
                            [/filter_adjacent]
                        [/filter]
                        variable=able_to_summon
                    [/store_unit]
                    {IF_VAR able_to_summon.length greater_than 1 (
                        [then]
                            [store_unit]
                                [filter]
                                    id=$last_selected_unit.id
                                    find_in=able_to_summon
                                [/filter]
                                variable=summoner_selected
                            [/store_unit]
                        [/then]
                        [else]
                            [store_unit]
                                [filter]
                                    id=$able_to_summon.id
                                [/filter]
                                variable=summoner_selected
                            [/store_unit]
                        [/else]
                    )}

                    [if]
                        [variable]
                            name=summoner_selected
                            equals=$empty
                        [/variable]
                        [then]
                            [foreach]
                                array=able_to_summon
                                [do]
                                    [store_unit]
                                        [filter]
                                            id=$this_item.id
                                        [/filter]
                                        variable=last_selected_unit
                                    [/store_unit]
                                [/do]
                            [/foreach]
                        [/then]
                        [else]
                            [store_unit]
                                [filter]
                                    id=$summoner_selected.id
                                [/filter]
                                variable=last_selected_unit
                            [/store_unit]
                        [/else]
                    [/if]

                    [fire_event]
                        name=post summon
                        [primary_unit]
                            x,y=$x1,$y1
                        [/primary_unit]
                        [secondary_unit]
                            id=$last_selected_unit.id
                        [/secondary_unit]
                    [/fire_event]

                    {CLEAR_VARIABLE summoner_selected}
                    {CLEAR_VARIABLE able_to_summon}
                [/then]
                [else]
                    [message]
                        speaker=narrator
                        side_for=$side_number
                        caption=_ "Error"
                        message= _ "I have insufficient materials. I am unable to summon."
                        image=wesnoth-icon.png
                    [/message]
                [/else]
            )}
            {CLEAR_VARIABLE actualgold}
        [/command]
    [/set_menu_item]

    [set_menu_item]
        id=summon_zhelp
        description= _ "Summoning Help"
        image=items/book2.png~CROP(21,23,27,24)~SCALE(20,20)
        [show_if]
#ifdef MULTIPLAYER
            [EoMa_not_rpg]
            [/EoMa_not_rpg]
#endif
        [/show_if]

        [filter_location]
            [filter]
                ability=eoma_summon
                side=$side_number
            [/filter]
        [/filter_location]
        [command]
            [message]
                speaker=narrator
                side_for=$side_number
                caption=_ "Help"
                message= _ "To summon a unit right-click on hexes adjacent to a selected summoner.

You need all movement points (and remaining attacks) to summon one creature. You are unable to summon in villages, from castles or keeps. A new unit can’t be summoned on water.
Every summoning adds +3 to current experience.

If there are 2 or more summoners, a new unit will be summoned by the last selected unit able to summon, or if no summoner has been selected, a summoner next to the selected tile will be chosen randomly."
                image=wesnoth-icon.png
            [/message]
        [/command]
    [/set_menu_item]
#enddef
