#textdomain wesnoth-Era_of_Magic
#define ABILITY_EOMA_SUMMON ID OPTIONS
    [dummy]
        id=eoma_summon
        name= _ "summon"
        special_note={EOMA_SPECIAL_NOTES_SUMMON}
        description=_"This unit can summon new units on adjacent tiles, but not in villages.

For more information, choose the 'Summoning Help' rightclick option which appears when rightclicking on a unit with the 'summon' ability."+" "+{EOMA_NO_RPG}
#ifdef MULTIPLAYER
        [filter]
            lua_function=wesnoth.wml_conditionals.EoMa_is_unbalanced
            [or]
                lua_function=wesnoth.wml_conditionals.EoMa_not_rpg
                [not]
                    canrecruit=yes
                [/not]
            [/or]
        [/filter]
#endif
    [/dummy] # wmlxgettext: [abilities]
[/abilities]
[event]
    name=select,recruit,recall
    id=eoma_summon_select_event
    first_time_only=no
    [filter]
        ability=eoma_summon
        side=$side_number
    [/filter]

    [store_unit]
        [filter]
            x,y=$x1,$y1
        [/filter]
        variable=last_selected_unit
    [/store_unit]
    [allow_undo]
    [/allow_undo]
[/event]

[event]
    name=start,post advance,unit placed,forcesummonoptions
    id=eoma_summon_init_event_{ID}
    first_time_only=no

    {OPTIONS}
[/event]
[+abilities] # wmlxgettext: [/abilities]
#enddef

#define ABILITY_EOMA_FAST_SUMMON
    [dummy]
        id=eoma_fastsummon
        name= _ "fast summon"
        description=_"This unit may move after summoning (but not attack)."
    [/dummy]
#enddef

#define FLYING_SUMMON_FILTER
{EOMA_IMPASSABLE_TERRAIN_FILTER},*^V*#enddef

#define SUMMON_SUMMONER_FILTER SUMMONER
    type={SUMMONER}
    side=$side_number
    #ability is usable when above max moves (usually either in debug or with other mods), but still reduces moves to 0 as usual
    formula="moves >= max_moves"
#ifdef MULTIPLAYER
    lua_function=wesnoth.wml_conditionals.EoMa_is_unbalanced
    [or]
        type={SUMMONER}
        side=$side_number
        #ability is usable when above max moves (usually either in debug or with other mods), but still reduces moves to 0 as usual
        formula="moves >= max_moves"
        lua_function=wesnoth.wml_conditionals.EoMa_not_rpg
        [not]
            canrecruit=yes
        [/not]
    [/or]
#endif
#enddef

#define SUMMON_CASTLE_TERRAIN_FILTER
C*^*,K*^*,*^C*,*^K*#enddef

#define SUMMON_MENU_ITEM ID DESCRIPTION COST SUMMONER UNIT

#arg EXCEPT_ON
    {FLYING_SUMMON_FILTER},Q*^*,W*^*
#endarg

    [set_menu_item]
        id=summon_{ID}
        description={DESCRIPTION}+" - "+ _ "gold:"+" "+{COST}
        [show_if]
#ifdef MULTIPLAYER
            [EoMa_not_rpg]
            [/EoMa_not_rpg]
#endif
        [/show_if]

        [filter_location]
            [not]
                [filter]
                [/filter]
                [or]
                    terrain={EXCEPT_ON}
                [/or]
            [/not]
            [and]
                #if summoner is on castle, only allow summoning on castle tiles
                terrain={SUMMON_CASTLE_TERRAIN_FILTER}
                [filter_adjacent_location]
                    [filter]
                        [filter_location]
                            terrain={SUMMON_CASTLE_TERRAIN_FILTER}
                        [/filter_location]
                        [and]
                            {SUMMON_SUMMONER_FILTER {SUMMONER}}
                        [/and]
                    [/filter]
                [/filter_adjacent_location]
                #if summoner is not on castle, do not allow summoning on castle tiles
                [or]
                    [not]
                        terrain={SUMMON_CASTLE_TERRAIN_FILTER}
                    [/not]
                    [filter_adjacent_location]
                        [filter]
                            [filter_location]
                                [not]
                                    terrain={SUMMON_CASTLE_TERRAIN_FILTER}
                                [/not]
                            [/filter_location]
                            [and]
                                {SUMMON_SUMMONER_FILTER {SUMMONER}}
                            [/and]
                        [/filter]
                    [/filter_adjacent_location]
                [/or]
            [/and]
        [/filter_location]
        [command]
            [store_gold]
                variable=actualgold
                side=$side_number
            [/store_gold]
            {IF_VAR actualgold greater_than_equal_to {COST} (
                [then]
                    [sync_variable]
                        name=last_selected_unit
                    [/sync_variable]

                    [store_unit]
                        [filter]
                            type={SUMMONER}
                            side=$side_number
                            ability_id_active=eoma_summon
                            #ability is usable when above max moves (usually either in debug or with other mods), but still reduces moves to 0 as usual
                            formula="moves >= max_moves"
                            [filter_location]
                                terrain={SUMMON_CASTLE_TERRAIN_FILTER}
                                [filter_adjacent_location]
                                    x,y=$x1,$y1
                                    terrain={SUMMON_CASTLE_TERRAIN_FILTER}
                                [/filter_adjacent_location]
                                [or]
                                    [not]
                                        terrain={SUMMON_CASTLE_TERRAIN_FILTER}
                                    [/not]
                                    [filter_adjacent_location]
                                        x,y=$x1,$y1
                                        [not]
                                            terrain={SUMMON_CASTLE_TERRAIN_FILTER}
                                        [/not]
                                    [/filter_adjacent_location]
                                [/or]
                            [/filter_location]
                        [/filter]
                        variable=able_to_summon
                    [/store_unit]

                    {IF_VAR able_to_summon.length greater_than 1 (
                        [then]
                            # Branch 1
                            [store_unit]
                                [filter]
                                    id=$last_selected_unit.id
                                    find_in=able_to_summon
                                [/filter]
                                variable=summoner_selected
                            [/store_unit]
                        [/then]
                        [else]
                            # Branch 2
                            [store_unit]
                                [filter]
                                    id=$able_to_summon.id
                                [/filter]
                                variable=summoner_selected
                            [/store_unit]
                        [/else]
                    )}

                    # summoner_selected empty if there are several options,
                    # yet the player has not manually selected any of them.
                    {IF_VAR summoner_selected.id equals $empty (
                        [then]
                            [store_unit]
                                [filter]
                                    id=$able_to_summon[0].id
                                [/filter]
                                variable=last_selected_unit
                            [/store_unit]
                        [/then]
                        [else]
                            # Update last_selected_unit if the only possible summoner was chosen above (Branch 2)
                            # Otherwise, no-op (Branch 1).
                            [store_unit]
                                [filter]
                                    id=$summoner_selected.id
                                [/filter]
                                variable=last_selected_unit
                            [/store_unit]
                        [/else]
                    )}

                    [fire_event]
                        name=try summon {UNIT}
                        # Use [return] in a `try summon {UNIT}` listener to cancel.
                        [primary_unit]
                            id=$last_selected_unit.id
                        [/primary_unit]
                    [/fire_event]

                    # Pay and actually summon
                    [gold]
                        amount=-{COST}
                        side=$side_number
                    [/gold]
                    [unit]
                        type={UNIT}
                        side=$side_number
                        x,y=$x1,$y1
                        moves=0
                        animate=yes
                    [/unit]
                    {MODIFY_UNIT x,y=$x1,$y1 attacks_left 0}
                    {MODIFY_UNIT x,y=$x1,$y1 moves 0}

                    # Effects on the summoner
                    {VARIABLE last_selected_unit.attacks_left 0}
                    [if]
                        [have_unit]
                            id=$last_selected_unit.id
                            ability=eoma_fastsummon
                        [/have_unit]
                        [then]
                            {VARIABLE_OP last_selected_unit.moves sub 1}
                        [/then]
                        [else]
                            {VARIABLE last_selected_unit.moves 0}
                        [/else]
                    [/if]
                    {VARIABLE_OP last_selected_unit.experience add 3}

                    [unstore_unit]
                        variable=last_selected_unit
                        find_vacant=no
                        text= _ "+3 exp"
                        red,green,blue=50,50,200
                    [/unstore_unit]

                    [fire_event]
                        name=post summon
                        [primary_unit]
                            x,y=$x1,$y1
                        [/primary_unit]
                        [secondary_unit]
                            id=$last_selected_unit.id
                        [/secondary_unit]
                    [/fire_event]

                    {CLEAR_VARIABLE summoner_selected}
                    {CLEAR_VARIABLE able_to_summon}
                [/then]
                [else]
                    [message]
                        speaker=narrator
                        side_for=$side_number
                        caption=_ "Error"
                        message= _ "I have insufficient materials. I am unable to summon."
                        image=wesnoth-icon.png
                    [/message]
                [/else]
            )}
            {CLEAR_VARIABLE actualgold}
        [/command]
    [/set_menu_item]

    [set_menu_item]
        id=summon_zhelp
        description= _ "Summoning Help"
        image=items/book2.png~CROP(21,23,27,24)~SCALE(20,20)
        [show_if]
#ifdef MULTIPLAYER
            [EoMa_not_rpg]
            [/EoMa_not_rpg]
#endif
        [/show_if]

        [filter_location]
            [filter]
                ability=eoma_summon
                side=$side_number
            [/filter]
        [/filter_location]
        [command]
            [message]
                speaker=narrator
                side_for=$side_number
                caption=_ "Help"
                message= _ "To summon a unit right-click on hexes adjacent to a selected summoner.

You need all movement points (and remaining attacks) to summon one creature. You are unable to summon in villages. A new unit can’t be summoned on water (with the exception of Water and Air Elementals).

Castle hexes work as a barrier for summoning:
If the summoner is inside a castle, he can summon a new unit only on adjacent castle hexes but not ouside the castle. To summon outside the castle, the summoner needs to leave it first.
If the summoner is outside a castle, he cannot summon a new unit on adjacent castle hexes (the summoner needs to enter the castle first).

Every summoning adds +3 to current experience.

If there are 2 or more summoners, a new unit will be summoned by the last selected unit able to summon, or if no summoner has been selected, a summoner next to the selected tile will be chosen randomly.

In multiplayer modes, leaders are unable to summon, unless you are playing the RPG Unbalanced mode."
                image=wesnoth-icon.png
            [/message]
        [/command]
    [/set_menu_item]
#enddef
