#textdomain wesnoth-Era_of_Magic

#define TRAIT_MAGICAL
    [trait]
        id=magical
        availability="musthave"
        male_name= _ "magical"
        female_name= _ "female^magical"
        description={STR_NONLIVING_DESCRIPTION}
        [effect]
            apply_to=status
            add=not_living
        [/effect]
    [/trait]
#enddef

#define TRAIT_EOMA_HEROIC
    #from World Conquest
    #used to balance lvl3 leaders in Masters Era
    [trait]
        id=eoma_heroic
        male_name= _ "heroic"
        female_name= _ "female^heroic"
        [effect]
            apply_to=loyal
        [/effect]
        [effect]
            apply_to=attack
            range=melee
            increase_damage=1
        [/effect]
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=5
        [/effect]
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=1
        [/effect]
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        [effect]
            apply_to=max_experience
            increase=-20%
        [/effect]
    [/trait]
#enddef

#define TRAIT_EOMA_ELITE
    #a variant of heroic without the ranged damage bonus
    #used to balance lvl4 leaders in Masters Era
    [trait]
        id=eoma_elite
        male_name= _ "elite"
        female_name= _ "female^elite"
        [effect]
            apply_to=loyal
        [/effect]
        [effect]
            apply_to=attack
            range=melee
            increase_damage=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=5
        [/effect]
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=1
        [/effect]
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        [effect]
            apply_to=max_experience
            increase=-20%
        [/effect]
    [/trait]
#enddef

#define TRAIT_EOMA_ELITE_ALT
    #a variant of heroic without the melee damage bonus
    #used to balance lvl4 leaders in Masters Era
    [trait]
        id=eoma_elite_alt
        male_name= _ "elite"
        female_name= _ "female^elite"
        [effect]
            apply_to=loyal
        [/effect]
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=5
        [/effect]
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        [effect]
            apply_to=max_experience
            increase=-20%
        [/effect]
    [/trait]
#enddef

#define TRAIT_EOMA_VETERAN
    #automatically added together with AMLA to some lvl2 units who lack lvl3 advancement options
    [trait]
        id=eoma_veteran
        male_name= _ "veteran"
        female_name= _ "female^veteran"
        [effect]
            apply_to=attack
            range=melee
            increase_damage=1
        [/effect]
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=5
            heal_full=yes
        [/effect]
    [/trait]
#enddef

#define TRAIT_EOMA_FANATIC
    #automatically added together with AMLA to some lvl2 units who lack lvl3 advancement options
    [trait]
        id=eoma_fanatic
        male_name= _ "fanatic"
        female_name= _ "female^fanatic"
        [effect]
            apply_to=hitpoints
            increase_total=5
        [/effect]
        [effect]
            apply_to=movement
            increase=1
            apply_to_vision=yes
        [/effect]
    [/trait]
#enddef

#define TRAIT_EOMA_COPIED
    #used by the statue copy ability
    [trait]
        id=eoma_copied
        male_name= _ "copied"
        female_name= _ "female^copied"
        description=_"<span color='red'>-30%</span> to arcane resistance
immune to poison, drain, and plague"
        [effect]
            apply_to=hitpoints
            increase_total=-30%
        [/effect]
        [effect]
            apply_to=movement
            increase=-1
        [/effect]
        [effect]
            apply_to=attack
            increase_damage=-20%
        [/effect]
        [effect]
            apply_to=resistance
            [resistance]
                arcane=30
            [/resistance]
        [/effect]
        [effect]
            apply_to=image_mod
            #            replace="CS(0,0,200)"
            replace="~GS()~CS(15,0,30)"
        [/effect]
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
        [effect]
            apply_to=status
            add=undrainable
        [/effect]
        [effect]
            apply_to=status
            add=unplagueable
        [/effect]
    [/trait]
#enddef
