#textdomain wesnoth-Era_of_Magic

#define TRAIT_MAGICAL
[trait]
    id=magical
    availability="musthave"
    male_name= _ "abyssal"
    female_name= _ "female^abyssal"
    description={STR_NONLIVING_DESCRIPTION}
    [effect]
        apply_to=status
        add=not_living
    [/effect]
[/trait]
#enddef

#define TRAIT_PORTAL
[trait]
    id=portal
    availability="musthave"
    male_name= _ "portal"
    female_name= _ "female^portal"
    description={STR_NONLIVING_DESCRIPTION}
    [effect]
        apply_to=status
        add=not_living
    [/effect]
[/trait]
#enddef

