#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Cavalry_Archer
    [/base_unit]
    id=EoMa_Cavalry_Archer_rpg
    advances_to=EoMa_Elemental_Archer_rpg,EoMa_Heavy_Cavalry_rpg
[/unit_type]
