#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Fire_Priestess
    [/base_unit]
    id=EoMa_Fire_Priestess_rpg
    advances_to=EoMa_Fire_Templar_rpg
    [attack]
    [/attack]
    [attack]
    [/attack]
[/unit_type]
