#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Kharosian_Javelineer
    [/base_unit]
    id=EoMa_Kharosian_Javelineer_rpg
    advances_to=EoMa_Kharosian_Impaler_rpg
[/unit_type]
