#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Bladedancer
    name= _ "Blade Dancer"
    race=I8 tharis
    image="units/tharis-warriors/bladedancer.png"
    ellipse="misc/ellipse"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=35
    movement_type=elusivefoot
    movement=6
    experience=42
    level=1
    alignment=chaotic
    advances_to=EoMa_Sworddancer
    cost=18
    usage=fighter
    undead_variation=bladedancer
#    description= _ "Tharis blade dancers are a group which fight using chakrams, alongside potent psychedelic substances, resulting in a frenzied dancing fighting style. They are also pretty agile, easily dodging most enemy counter-attacks."
    description= _ "Tharis blade dancers are a rather eccentric type of troops, fighting using chakrams, and using potent psychedelic substances which tamper with their self-preservation instincts, resulting in a frenzied dancing fighting style. They are also quite agile, easily dodging most enemy counter-attacks, but are rather frail."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BERSERK}
    die_sound={SOUND_LIST:ELF_HIT}
#define BLADEDANCER_DEFENSE_ANIM FILTER OFFSET1 OFFSET2 OFFSET3 OFFSET4 OFFSET5
    [defend]
        hits={FILTER}
        start_time=-126
        [frame]
            image="units/tharis-warriors/[bladedancer,bladedancer-attack2,bladedancer-attack4,bladedancer-attack6,bladedancer-attack8,bladedancer-attack10,bladedancer].png:[1,50*5,1]"
            offset=0.0:1,{OFFSET1}:50,{OFFSET2}:50,{OFFSET3}:50,{OFFSET4}:50,{OFFSET5}:50,0.0:1
        [/frame]
    [/defend]
#enddef
    {BLADEDANCER_DEFENSE_ANIM hit 0.0~-0.12 -0.12~-0.25 -0.25 -0.25~-0.12 -0.12~-0.0}
    {BLADEDANCER_DEFENSE_ANIM miss 0.0~-0.25 -0.25~-0.5 -0.5 -0.5~-0.25 -0.25~-0.0}
	[resistance]
		blade=120
		pierce=120
		impact=120
	[/resistance]
    [attack]
        name=berserker frenzy
        description=_"chakram"
        icon=attacks/chakram.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
        range=melee
        damage=4
        number=4
    [/attack]
    [attack]
        name=chakram-throw
        description=_"chakram"
        icon=attacks/chakram.png
        type=blade
        [specials]
        [/specials]
        range=ranged
        damage=4
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=berserker frenzy
        [/filter_attack]
        start_time=-200
        attack_sound_start_time=-100
        [if]
            hits=yes
            [attack_sound_frame]
                duration=250
                sound=axe.ogg
            [/attack_sound_frame]
            [attack_sound_frame]
                sound=axe.ogg
            [/attack_sound_frame]            
            [frame]
                image="units/tharis-warriors/bladedancer-attack[1~10,1~10].png:25"
            [/frame]
        [/if]
        [else]
            hits=miss
            [frame]
                image="units/tharis-warriors/bladedancer-attack[1~10].png:50"
            [/frame]
            [attack_sound_frame]
                sound={SOUND_LIST:MISS}
            [/attack_sound_frame] 
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=chakram-throw
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="projectiles/chakram.png:200"
            image_diagonal="projectiles/chakram.png"
            offset=0.0~0.9
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/tharis-warriors/bladedancer-attack[1~10].png:50"
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [idle_anim]
        start_time=0
        [frame]
            image="units/tharis-warriors/bladedancer-attack[1~10].png:50"
        [/frame]
    [/idle_anim]
[/unit_type]
