#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Bladefury
    name= _ "Bladefury"
    race=eoma_tharis
    gender=female
    image="units/tharis-warriors/bladefury.png"
    ellipse="misc/ellipse"

    hitpoints=28
    movement_type=I8 deelusive
    movement=6
    experience=42
    level=1
    alignment=chaotic
    advances_to=EoMa_Chainlady
    cost=15
    usage=fighter
    undead_variation=bladefury
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/tharis-warriors/bladefury.png" "units/tharis-warriors/bladefury.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [standing_anim]
        [frame]
            image="units/tharis-warriors/bladefury/00[01~24].png:42"
        [/frame]
    [/standing_anim]
    [resistance]
        blade=110
        pierce=110
        impact=90
        fire=90
        cold=90
        arcane=90
    [/resistance]
    [defense]
        shallow_water=70
        reef=60
        swamp_water=70
        frozen=70
        sand=60
        flat=50
        village=50
        cave=50
        hills=40
        forest=40
        castle=40
        fungus=40
        mountains=30
    [/defense]
    [abilities]
        {ABILITY_EOMA_DAUNTLESS}
        {ABILITY_EOMA_BLOODLUST 3}
    [/abilities]
    [attack]
        name=chain
        description= _ "chain"
        icon=attacks/chain.png
        type=blade
        range=melee
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_TRIPLESTRIKE}
#            {WEAPON_SPECIAL_EOMA_PAINABSORB 1}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=chain
        [/filter_attack]
        start_time=-300
        chain_start_time=-300
        [frame]
            duration=100
            image="units/tharis-warriors/bladefury-attack1.png"
            offset=0.0~0.1
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            duration=100
            image="units/tharis-warriors/bladefury-attack1.png~FL()"
            offset=0.1~0.2
        [/frame]
        [frame]
            duration=100
            image="units/tharis-warriors/bladefury-attack1.png"
            offset=0.2~0.3
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            duration=100
            image="units/tharis-warriors/bladefury-attack1.png~FL()"
            offset=0.3~0.4
        [/frame]
        [frame]
            duration=100
            image="units/tharis-warriors/bladefury-attack1.png"
            offset=0.4~0.5
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            duration=250
            image="units/tharis-warriors/bladefury-attack2.png~FL()"
            offset=0.5
        [/frame]
        [frame]
            duration=150
            image="units/tharis-warriors/bladefury-attack1.png"
            offset=0.5~0.0
        [/frame]
        [frame]
            duration=1
            image="units/tharis-warriors/bladefury.png"
            offset=0.0
        [/frame]
        [chain_frame]
            duration=500
            halo="halo/bladefury-chain-[1~4,1~4,1~4].png"
            offset=0.0~0.5
        [/chain_frame]
        {SOUND:HIT_AND_MISS sword-1.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
