#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Chainlady
    name= _ "Chainlady"
    race=eoma_tharis
    gender=female
    image="units/tharis-warriors/chainlady.png"
    ellipse="misc/ellipse"

    hitpoints=42
    movement_type=I8 deelusive
    movement=6
    experience=75
    level=2
    alignment=chaotic
    advances_to=null
    #[advancement]
    #    id=pain_amla
    #    description= _ "Upgrade to Pain Absorption +2; +2 max HP; +20% XP"
    #    image="attacks/curse.png"
    #    [effect]
    #        apply_to=remove_ability
    #        [abilities]
    #            {ABILITY_EOMA_PAINABSORB_STRICT 1}
    #        [/abilities]
    #    [/effect]
    #    [effect]
    #        apply_to=new_ability
    #        [abilities]
    #            {ABILITY_EOMA_PAINABSORB_STRICT 2}
    #        [/abilities]
    #    [/effect]
    #    [effect]
    #        apply_to=hitpoints
    #        increase_total=2
    #        heal_full=yes
    #    [/effect]
    #    [effect]
    #        apply_to=max_experience
    #        increase=20%
    #    [/effect]
    #[/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=chainlady_bloodlust
        description= _ "Bloodlust 8, +4 HP +20% max XP"
        image="attacks/curse.png"
        [effect]
            apply_to=remove_ability
            [abilities]
                {ABILITY_EOMA_BLOODLUST 5}
            [/abilities]
        [/effect]
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_BLOODLUST 8}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=4
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        id=chainlady_melee
        description= _ "First strike and +2 damage to melee attacks; +3 max HP; +20% XP"
        image="attacks/chain.png"
        [effect]
            apply_to=attack
            name=chain
            increase_damage=2
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_FIRSTSTRIKE}
            [/set_specials]
        [/effect]
        [effect]
            apply_to=attack
            name=chain2
            increase_damage=2
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_FIRSTSTRIKE}
            [/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
    [/advancement]
    [advancement]
        id=chainlady_ranged
        description= _ "Greater Marksman and +4 damage on ranged chain, +3 max HP; +20% XP"
        image="attacks/chain.png"
        [effect]
            apply_to=attack
            name=chain-ranged
            increase_damage=4
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_EOMA_GREATER_MARKSMAN}
            [/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=chainlady_skirmisher
        description= _ "Skirmisher, +2 HP, +25% max XP"
        image="icons/boots_elven.png"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_SKIRMISHER}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=2
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=25%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    {AMLA_DEFAULT}
    cost=31
    usage=fighter
    undead_variation=bladefury
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/tharis-warriors/chainlady-defend.png" "units/tharis-warriors/chainlady.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [resistance]
        blade=110
        pierce=110
        impact=80
        fire=80
        cold=80
        arcane=90
    [/resistance]
    [defense]
        shallow_water=70
        reef=60
        swamp_water=70
        frozen=70
        sand=60
        flat=50
        village=50
        cave=50
        hills=40
        forest=40
        castle=40
        fungus=40
        mountains=30
    [/defense]
    [abilities]
        {ABILITY_EOMA_DAUNTLESS}
#        {ABILITY_EOMA_PAINABSORB_STRICT 1}
        {ABILITY_EOMA_BLOODLUST 5}
    [/abilities]
    [attack]
        name=chain
        description= _ "chain"
        icon=attacks/chain.png
        type=blade
        range=melee
        damage=15
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_ALLAROUND 40}
            {WEAPON_SPECIAL_EOMA_DREAD}
            {WEAPON_SPECIAL_EOMA_ATTACK_ONLY}
        [/specials]
    [/attack]
    [attack]
        name=chain2
        description= _ "chain"
        icon=attacks/chain.png
        type=blade
        range=melee
        damage=15
        number=2
        [specials]
            {WEAPON_SPECIAL_EOMA_TRIPLESTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=chain-ranged
        description= _ "chain"
        icon=attacks/chain.png
        type=pierce
        range=ranged
        damage=9
        number=1
    [/attack]
    [attack_anim]
        [filter_attack]
            name=chain
        [/filter_attack]
        start_time=-300
        chain_start_time=-300
        trail_start_time=-300
        [frame]
            duration=100
            image="units/tharis-warriors/chainlady-attack1.png"
            offset=0.0
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            duration=100
            image="units/tharis-warriors/chainlady-attack1.png~FL()"
            offset=0.0
        [/frame]
        [frame]
            duration=100
            image="units/tharis-warriors/chainlady-attack2.png"
            offset=0.0
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            duration=100
            image="units/tharis-warriors/chainlady-attack2.png~FL()"
            offset=0.0
        [/frame]
        [frame]
            duration=100
            image="units/tharis-warriors/chainlady-attack1.png"
            offset=0.0
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            duration=250
            image="units/tharis-warriors/chainlady-attack1.png~FL()"
            offset=0.0
        [/frame]
        [frame]
            duration=150
            image="units/tharis-warriors/chainlady-attack3.png"
            offset=0.0
        [/frame]
        [frame]
            duration=1
            image="units/tharis-warriors/chainlady.png"
            offset=0.0
        [/frame]
        [chain_frame]
            duration=500
            halo="halo/bladefury-chain-[1~4,1~4,1~4].png"
            halo_mod=~SCALE_INTO_SHARP(300,300)
            offset=0.0
            auto_vflip=no
        [/chain_frame]
        [trail_frame]
            duration=500
            halo="halo/bladefury-chain-trail-[1~4,1~4,1~4].png"
            halo_mod=~SCALE_INTO_SHARP(300,300)
            offset=0.0
            auto_vflip=no
        [/trail_frame]
        {SOUND:HIT_AND_MISS sword-1.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=chain2
        [/filter_attack]
        start_time=-300
        chain_start_time=-300
        trail_start_time=-300
        [frame]
            duration=100
            image="units/tharis-warriors/chainlady-attack1.png"
            offset=0.0~0.1
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            duration=100
            image="units/tharis-warriors/chainlady-attack1.png~FL()"
            offset=0.1~0.2
        [/frame]
        [frame]
            duration=100
            image="units/tharis-warriors/chainlady-attack2.png"
            offset=0.2~0.3
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            duration=100
            image="units/tharis-warriors/chainlady-attack2.png~FL()"
            offset=0.3~0.4
        [/frame]
        [frame]
            duration=100
            image="units/tharis-warriors/chainlady-attack1.png"
            offset=0.4~0.5
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            duration=150
            image="units/tharis-warriors/chainlady-attack3.png"
            offset=0.5~0.1
        [/frame]
        [frame]
            duration=1
            image="units/tharis-warriors/chainlady.png"
            offset=0.0
        [/frame]
        [chain_frame]
            duration=500
            halo="halo/bladefury-chain-[1~4,1~4,1~4].png"
            offset=0.0~0.5
            auto_vflip=no
        [/chain_frame]
        {SOUND:HIT_AND_MISS sword-1.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
#define CHAINLADY_RANGED_ANIM DIRECTION IMAGE
    [attack_anim]
        [filter_attack]
            name=chain-ranged
        [/filter_attack]
        direction={DIRECTION}
        start_time=-200
        chain_start_time=-200
        [frame]
            duration=200
            image="units/tharis-warriors/chainlady-defend.png"
            offset=0.0
        [/frame]
        [chain_frame]
            duration=500
            halo="halo/chainlady-range-{IMAGE}-[1~5].png"
            offset=0.0
            auto_vflip=no
        [/chain_frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
#enddef
    {CHAINLADY_RANGED_ANIM n n}
    {CHAINLADY_RANGED_ANIM s s}
    {CHAINLADY_RANGED_ANIM ne,nw ne}
    {CHAINLADY_RANGED_ANIM se,sw se}
[/unit_type]
