#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Dark_Observer
    name= _ "Dark Observer"
    race=mechanical
    image="units/tharis-orbs/orb2-4.png"
    hitpoints=26
    movement_type=fly
    movement=8
    experience=43
    level=1
    alignment=chaotic
    advances_to=EoMa_Storm_Sphere
    cost=18
    usage=scout
    description={NO_DESCR_AVAILABLE}
    die_sound=silence.ogg
    [defend]
        start_time=-126
        halo_start_time=-126
        [halo_frame]
            image="units/tharis-orbs/magic-big-[1~4].png:62"
            auto_vflip=false
        [/halo_frame]
        [frame]
            image="units/tharis-orbs/orb2-[1~6].png:41"
        [/frame]
    [/defend]
    [defend]
        terrain_type=Q*,Mv
        start_time=-126
        halo_start_time=-126
        [halo_frame]
            image="units/tharis-orbs/magic-big-[1~4].png:62"
            auto_vflip=false
        [/halo_frame]
        [frame]
            image="units/tharis-orbs/orb2-ns[1~6].png:41"
        [/frame]
    [/defend]
    [resistance]
        arcane=120
        blade=80
        cold=70
        fire=90
        pierce=80
        impact=100
    [/resistance]
    [defense]
        deep_water=40
        shallow_water=40
        reef=40
        swamp_water=40
        flat=40
        sand=40
        forest=40
        hills=40
        mountains=40
        village=40
        castle=40
        frozen=40
        unwalkable=40
    [/defense]
    [death]
        start_time=0
        [missile_frame]
            halo="projectiles/fireball-impact-[1~16].png~GS()~CS(150,0,180)~SCALE(80,120):60"
            offset=0.0
            sound=magic-dark-big.ogg
            auto_vflip=no
        [/missile_frame]
    [/death]
    [idle_anim]
        [halo_frame]
            image="units/tharis-orbs/magic-big-[1~4].png:100"
            auto_vflip=false
        [/halo_frame]
        [frame]
            image="units/tharis-orbs/orb2-[1~6].png:67"
        [/frame]
    [/idle_anim]
    [idle_anim]
        terrain_type=Q*,Mv
        [halo_frame]
            image="units/tharis-orbs/magic-big-[1~4].png:100"
            auto_vflip=false
        [/halo_frame]
        [frame]
            image="units/tharis-orbs/orb2-ns[1~6].png:67"
        [/frame]
    [/idle_anim]
    [recruit_anim]
        start_time=0
        [frame]
            image="units/tharis-orbs/orb2-1.png:100"
            blend_color=0,0,0
            blend_ratio=0.5
            y=27
        [/frame]
        [frame]
            duration=200
            image="units/tharis-orbs/orb2-[1~6].png"
            blend_color=0,0,0
            blend_ratio=0.5~0
            y=27~0
            sound=magic-dark-big.ogg
        [/frame]
    [/recruit_anim]
    [standing_anim]
        start_time=0
        [frame]
            image="units/tharis-orbs/orb2-[1~6].png:100"
        [/frame]
    [/standing_anim]
    [standing_anim]
        terrain_type=Q*,Mv
        start_time=0
        [frame]
            image="units/tharis-orbs/orb2-ns[1~6].png:100"
        [/frame]
    [/standing_anim]
    [movement_anim]
        start_time=0
        [halo_frame]
            image="units/tharis-orbs/lightning-rim[1~5].png:40"
            auto_vflip=false
            offset=0.0~1.0.0
        [/halo_frame]
        [halo2_frame]
            image="units/tharis-orbs/bolt-a-[1~4].png:50"
            auto_vflip=false
            offset=0.0~1.0.0
        [/halo2_frame]
        [halo3_frame]
            image="units/tharis-orbs/bolt-b-[3,4,1,2].png:50"
            auto_vflip=false
            offset=0.0~1.0.0
        [/halo3_frame]
        [frame]
            duration=200
            image="units/tharis-orbs/orb2-[1~6].png"
        [/frame]
    [/movement_anim]
    [movement_anim]
        terrain_type=Q*,Mv
        start_time=0
        [halo_frame]
            image="units/tharis-orbs/lightning-rim[1~5].png:40"
            auto_vflip=false
            offset=0.0~1.0.0
        [/halo_frame]
        [halo2_frame]
            image="units/tharis-orbs/bolt-a-[1~4].png:50"
            auto_vflip=false
            offset=0.0~1.0.0
        [/halo2_frame]
        [halo3_frame]
            image="units/tharis-orbs/bolt-b-[3,4,1,2].png:50"
            auto_vflip=false
            offset=0.0~1.0.0
        [/halo3_frame]
        [frame]
            duration=200
            image="units/tharis-orbs/orb2-ns[1~6].png"
        [/frame]
    [/movement_anim]
    [abilities]
        {ABILITY_EOMA_NOCTURNAL_REGENERATION 5}
    [/abilities]
    [attack]
        name=touch
        description= _ "touch"
        icon=attacks/witch-fire.png
        type=cold
        range=melee
        damage=3
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack]
        name=dark lightning
        description= _ "dark lightning"
        icon=attacks/orb-lightning.png
        type=cold
        range=ranged
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        start_time=-250
        halo_start_time=-250
        halo2_start_time=-250
        [halo_frame]
            image="units/tharis-orbs/lightning-rim[1~3,1].png:100"
            auto_vflip=false
            offset=0~0.6:225,0.6~0:225
        [/halo_frame]
        [halo2_frame]
            image="units/tharis-orbs/magic-big-[1~4].png:110"
            auto_vflip=false
            offset=0~0.6:225,0.6~0:225
        [/halo2_frame]
        [frame]
            duration=150
            image="units/tharis-orbs/orb2-[1~3].png"
        [/frame]
        [frame]
            duration=300
            image="units/tharis-orbs/orb2-[4~6].png"
            sound=lightning-miss.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=touch
        [/filter_attack]
        terrain_type=Q*,Mv
        start_time=-250
        halo_start_time=-250
        halo2_start_time=-250
        [halo_frame]
            image="units/tharis-orbs/lightning-rim[1~3,1].png:100"
            auto_vflip=false
            offset=0~0.6:225,0.6~0:225
        [/halo_frame]
        [halo2_frame]
            image="units/tharis-orbs/magic-big-[1~4].png:110"
            auto_vflip=false
            offset=0~0.6:225,0.6~0:225
        [/halo2_frame]
        [frame]
            duration=150
            image="units/tharis-orbs/orb2-ns[1~3].png"
        [/frame]
        [frame]
            duration=300
            image="units/tharis-orbs/orb2-ns[4~6].png"
            sound=lightning-miss.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dark lightning
        [/filter_attack]
        start_time=-400
        halo_start_time=-400
        halo2_start_time=-400
        bolt_start_time=-400
        bolt2_start_time=-100
        [halo_frame]
            image="units/tharis-orbs/lightning-rim[1~3,1].png:100"
            auto_vflip=false
        [/halo_frame]
        [halo2_frame]
            image="units/tharis-orbs/magic-big-[1~4].png:100"
            auto_vflip=false
        [/halo2_frame]
        [bolt_frame]
            image="units/tharis-orbs/bolt-a-[1~4].png:100"
            auto_vflip=false
        [/bolt_frame]
        [bolt_frame]
            image="misc/blank-hex.png:1"
        [/bolt_frame]
        [bolt2_frame]
            image="misc/blank-hex.png:1"
        [/bolt2_frame]
        [bolt2_frame]
            image="units/tharis-orbs/bolt-b-[1~4].png:100"
            auto_vflip=false
        [/bolt2_frame]
        missile_start_time=-200
        [missile_frame]
            image="halo/circuit-n[1~3].png:75"
            image_diagonal="halo/circuit-ne[1~3].png:75"
            image_mod="~GS()~CS(150,0,180)"
            offset=0.5
        [/missile_frame]
        [if]
            hits=yes

            [ball_frame]
                duration=550
                image=projectiles/zmage-halo[1~5,4~1,2~5].png
                image_mod="~GS()~CS(150,0,180)"
                layer=99
                x,y=2,-2
                alpha=0~0.75:75,0.6:325,0.6~0:150
                offset=1
            [/ball_frame]
            ball_start_time=-100
            missile2_start_time=-100
            missile3_start_time=-100
            [missile_frame]
                image="halo/circuit-n[3~1].png:50"
                image_diagonal="halo/circuit-ne[3~1].png:50"
                image_mod="~GS()~CS(150,0,180)"
                offset=0.5
            [/missile_frame]
            [missile2_frame]
                duration=400
                halo="halo/undead/idle-flash-[1~21].png"
                #            halo_mod=~GS()~G(128)~B(255)
                halo_x=-12
                offset=1.0
            [/missile2_frame]
            [missile3_frame]
                duration=400
                halo="halo/undead/idle-flash-[1~21].png~FL(horiz)~FL(vert)"
                #            halo_mod=~GS()~G(128)~B(255)
                halo_x=12
                offset=1.0
            [/missile3_frame]
            [frame]
                duration=450
                image="units/tharis-orbs/orb2-[1~6].png"
                sound=lightning-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=0
                duration=450
                image="units/tharis-orbs/orb2-[1~6].png"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dark lightning
        [/filter_attack]
        terrain_type=Q*,Mv
        start_time=-400
        halo_start_time=-400
        halo2_start_time=-400
        bolt_start_time=-400
        bolt2_start_time=-100
        [halo_frame]
            image="units/tharis-orbs/lightning-rim[1~3,1].png:100"
            auto_vflip=false
        [/halo_frame]
        [halo2_frame]
            image="units/tharis-orbs/magic-big-[1~4].png:100"
            auto_vflip=false
        [/halo2_frame]
        [bolt_frame]
            image="units/tharis-orbs/bolt-a-[1~4].png:100"
            auto_vflip=false
        [/bolt_frame]
        [bolt_frame]
            image="misc/blank-hex.png:1"
        [/bolt_frame]
        [bolt2_frame]
            image="misc/blank-hex.png:1"
        [/bolt2_frame]
        [bolt2_frame]
            image="units/tharis-orbs/bolt-b-[1~4].png:100"
            auto_vflip=false
        [/bolt2_frame]
        missile_start_time=-200
        [missile_frame]
            image="halo/circuit-n[1~3].png:75"
            image_diagonal="halo/circuit-ne[1~3].png:75"
            image_mod="~GS()~CS(150,0,180)"
            offset=0.5
        [/missile_frame]
        [if]
            hits=yes

            [ball_frame]
                duration=550
                image=projectiles/zmage-halo[1~5,4~1,2~5].png
                image_mod="~GS()~CS(150,0,180)"
                layer=99
                x,y=2,-2
                alpha=0~0.75:75,0.6:325,0.6~0:150
                offset=1
            [/ball_frame]
            ball_start_time=-100
            missile2_start_time=-100
            missile3_start_time=-100
            [missile_frame]
                image="halo/circuit-n[3~1].png:50"
                image_diagonal="halo/circuit-ne[3~1].png:50"
                image_mod="~GS()~CS(150,0,180)"
                offset=0.5
            [/missile_frame]
            [missile2_frame]
                duration=400
                halo="halo/undead/idle-flash-[1~21].png"
                #            halo_mod=~GS()~G(128)~B(255)
                halo_x=-12
                offset=1.0
            [/missile2_frame]
            [missile3_frame]
                duration=400
                halo="halo/undead/idle-flash-[1~21].png~FL(horiz)~FL(vert)"
                #            halo_mod=~GS()~G(128)~B(255)
                halo_x=12
                offset=1.0
            [/missile3_frame]
            [frame]
                duration=450
                image="units/tharis-orbs/orb2-ns[1~6].png"
                sound=lightning-miss.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-200
                end=0
                duration=450
                image="units/tharis-orbs/orb2-ns[1~6].png"
                sound=lightning-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
