#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Dark_Hunter
    name= _ "Dark Hunter"
    image="units/tharis-warriors/hunter.png"
    race=eoma_tharis
    hitpoints=30
    movement_type=eoma_thariselusive
    movement=6
    experience=42
    level=1
    alignment=chaotic
    advances_to=EoMa_Great_Hunter,EoMa_Dark_Assassin
    cost=18
    usage=mixed fighter
    undead_variation=hunter
    description= _ "Dark hunters embody everything that Tharis stands for - stealthy, deadly, and unrelenting. They move with a quiet grace, striking from the shadows like ghosts, taking down unsuspecting foes with ease. Their training allows them to exploit any weakness in their opponents' defenses, whether it be a gap in their formation or a momentary lapse in concentration. Against living enemies, they are a serious threat. However, their effectiveness against non-living enemies is more limited, as they are immune to the poisoned thrown daggers favored by dark hunters themselves. Despite this limitation, they remain one of the most feared and respected warrior classes in all of Tharis"
    {DEFENSE_ANIM units/tharis-warriors/hunter.png units/tharis-warriors/hunter.png {SOUND_LIST:ELF_HIT}}
    [standing_anim]
        [frame]
            image="units/tharis-warriors/hunter/00[01~24].png:42"
        [/frame]
    [/standing_anim]
    [idle_anim]
        start_time=0
        [frame]
            image="units/tharis-warriors/hunter-attack[2~7,2].png:100"
        [/frame]
    [/idle_anim]
    [idle_anim]
        start_time=0
        [frame]
            image="units/tharis-warriors/hunter-attack[7~14].png:100"
        [/frame]
    [/idle_anim]
    [attack]
        name=knives
        description=_"knives"
        icon=attacks/claws.png
        type=blade
        range=melee
        damage=6
        number=2
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack]
        name=knives2
        description=_"knives"
        icon=attacks/dagger-thrown-poison-human.png
        type=pierce
        range=ranged
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=knives
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/tharis-warriors/hunter-attack[2~14].png:[100,50,100*2,50*9]"
        [/frame]
        {SOUND:HIT_AND_MISS dagger-swish.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=knives2
        [/filter_attack]
        start_time=-300
        missile_start_time=-100
        [if]
            hits=hit,kill
            [missile_frame]
                image="projectiles/dagger-n.png:100"
                image_diagonal="projectiles/dagger-ne.png"
                sound="throwing-knife.ogg"
            [/missile_frame]
        [/if]
        [else]
            hits=miss
            [missile_frame]
                image="projectiles/dagger-n.png:100"
                image_diagonal="projectiles/dagger-ne.png"
                sound="throwing-knife-miss.ogg"
                offset=0.0~1.5
            [/missile_frame]
        [/else]
        [frame]
            image="units/tharis-warriors/hunter-attack[2~5,7].png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
