#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Dark_Wizard
    name= _ "Dark Wizard"
    race=tharis
    image="units/tharis-magi/darkwizard.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=42
    movement_type=I8 defoot
    movement=5
    experience=100
    level=2
    alignment=chaotic
    advances_to=EoMa_Great_Warlock
    cost=42
    usage=mixed fighter
    undead_variation=darkwizard
    description= _ "Disciples with enough talent and luck eventually manage to ascend in the Tharis hierarchy, becoming apprentices of Great Warlocks, and some also deciding to teach disciples as a part-time job. Although they are still quite far from masters in terms of skill, they are a lot more powerful than disciples, as well as much closer to becoming great warlocks themselves. Their drastic rise in spellpower is partially caused by the fact that they are equipped with magical staves, which reinforce it."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        blade=100
        pierce=94
        impact=85
		cold=70
    [/resistance]
    [defense]
        forest=40
    [/defense]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="units/tharis-magi/darkwizard-idle[1~5,3~5,3~5,2,5,3~1].png:[100*2,50*12,100*2]"
        [/frame]
    [/idle_anim]
    [defend]
        start_time=-126
        [frame]
            image="units/tharis-magi/darkwizar[d,d-draw2,d-draw3,d-draw2,d].png:[1,50,150,50,1]"
        [/frame]
    [/defend]
    [attack]
        name=staff
        description={STR_STAFF}
        icon=attacks/staff-darkwizard.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=dark spark
        description=_"dark spark"
        icon=attacks/dark-spark.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=11
        number=3
    [/attack]    
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        start_time=-400
        [frame]
            image="units/tharis-magi/darkwizard-[draw1,draw2,draw3,attack-magic1,draw3,draw2,draw1].png:[100*2,200,100,33*2,34]"
        [/frame]
        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} 0}
    [/attack_anim]
        [attack_anim]
        [filter_attack]
            name=dark spark
        [/filter_attack]
        hits=hit,miss,!,kill
        [if]
         hits=yes
        {DARK_MISSILE_ANIM}
        [missile_frame]
            image="projectiles/fireball-impact-[1~9,10~16].png~CS(186,102,206)~SCALE(72,108):40"
            offset=1.0
#            sound=explosion.ogg
            auto_vflip=no
        [/missile_frame]
        [/if]
        [else]
         hits=no
        {DARK_MISSILE_MISS_ANIM}
        [/else]
        start_time=-400
        [frame]
            image="units/tharis-magi/darkwizar[d-idle3,d-idle4,d-attack-magic1,d].png:[50,150,200,50]"
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark.ogg -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dark spark
        [/filter_attack]
        hits=kill
        {DARK_MISSILE_ANIM}
        [missile_frame]
            image="projectiles/fireball-impact-[1~9,10~16].png~CS(186,102,206):60"
            offset=1.0
            sound=explosion.ogg
            auto_vflip=no
        [/missile_frame]
        start_time=-600
        [frame]
            image="units/tharis-magi/darkwizard-idle[3,4,3,4].png:100"
        [/frame]
        [frame]
            image="units/tharis-magi/darkwizar[d-attack-magic1,d].png:[200,50]"
            sound=magic-dark-big.ogg
        [/frame]
    [/attack_anim]
[/unit_type]
