#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Frontliner
    name= _ "Frontliner"
    race=eoma_tharis
    image="units/tharis-warriors/frontliner.png"

    hitpoints=50
    movement_type=I8 defoot
    movement=6
    experience=80
    level=2
    alignment=chaotic
    advances_to=EoMa_Crimson_Blade
    cost=33
    usage=fighter
    {TRAIT_FEARLESS}
    undead_variation=darkwarrior
    description=_ "Frontliners are a special caste of warriors distinguished by their preference for brutal, upfront combat. Unlike their fellow Tharis soldiers, who rely on stealth and subterfuge to gain the upper hand, Frontliners charge into battle with reckless abandon, relying on their superior strength and weaponry to obliterate any opposition. Equipped with dual curved swords crafted for maximum bloodletting, these warriors specialize in disabling their enemies with swift, decisive blows, leaving them vulnerable to subsequent attacks from behind. By clearing the path ahead of the main offensive force, Frontliners enable their comrades to advance with relative ease, making them indispensable in any military campaign."
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/tharis-warriors/frontliner-attack1.png" "units/tharis-warriors/frontliner-attack1.png" {SOUND_LIST:ELF_HIT} }
    [abilities]
        {ABILITY_EOMA_BLOODLUST 3}
    [/abilities]
    [resistance]
        fire=90
        cold=70
        blade=85
        impact=80
        pierce=90
    [/resistance]
    [defense]
        village=40
    [/defense]
    [attack]
        name=swords-blade
        description=_ "curved swords"
        icon=attacks/blade-curved.png
        type=blade
        range=melee
        damage=9
        number=3
        [specials]
        [/specials]
    [/attack]
    [attack]
        name=swords-pierce
        description=_ "curved swords"
        icon=attacks/blade-curved.png
        type=pierce
        range=melee
        damage=7
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_EOMA_BLEED}
        [/specials]
    [/attack]
    [attack]
        name=chakram-throw
        description=_"chakram"
        icon=attacks/chakram.png
        type=blade
        range=ranged
        damage=7
        number=1
    [/attack]
    {FRONTLINER_BLADE_ATTACK_ANIM frontliner 4}
    {FRONTLINER_PIERCE_ATTACK_ANIM frontliner}
    [attack_anim]
        [filter_attack]
            name=chakram-throw
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="projectiles/chakram.png:200"
            image_diagonal="projectiles/chakram.png"
            offset=0.0~0.9
        [/missile_frame]
        start_time=-250
        [frame]
            image="units/tharis-warriors/frontliner-attack1.png:250"
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
[/unit_type]
