#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Frontliner
    [/base_unit]
    id=EoMa_Frontliner_rpg
    advances_to=EoMa_Crimson_Blade_rpg
    [abilities]
        {ABILITY_EOMA_BLOODLUST_RPG}
    [/abilities]
[/unit_type]
