#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Great_Witch
    name= _ "Great Witch"
    race=eoma_tharis
    gender=female
    image="units/tharis-magi/shadowwitch.png"

    hitpoints=38
    movement_type=I8 defoot
    movement=5
    experience=100
    level=2
    alignment=chaotic
    advances_to=EoMa_Matriarch_of_Darkness,EoMa_Cold_Matriarch,EoMa_Matriarch_of_Emptiness
    cost=38
    usage=mixed fighter
    undead_variation=greatwitch
    description= _ "Great Witches, or 'ladies of torture', as they are often called in Tharis society - serve two purposes: versatile killers, and interrogators. Their strengthened bond with darkness allows them to inflict magical curses on their enemies, and makes the witches themselves even more cruel."
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/tharis-magi/shadowwitch.png" "units/tharis-magi/shadowwitch.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [resistance]
        arcane=90
        fire=90
        pierce=90
        impact=90
    [/resistance]
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="units/tharis-magi/shadowwitch-magic[1~3,2,1~3,2,1].png:150"
        [/frame]
    [/idle_anim]
    [attack]
        name=whip
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=witch-fire
        description=_"witch-fire"
        icon=attacks/witch-fire.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        damage=4
        number=6
    [/attack]
    [attack]
        name=curse
        description={STR_CURSE}
        icon=attacks/curse.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=12
        number=1
    [/attack]
    {WITCH_MELEE_ATTACK_ANIM shadowwitc h-attack1 whip}
    {WITCH_FIRE_ANIM shadowwitc}
    [attack_anim]
        [filter_attack]
            name=curse
        [/filter_attack]
        start_time=-480
        missile_start_time=-480
        [missile_frame]
            halo="projectiles/fireball-impact-[16~1].png:60"
            halo_mod=~R(255)
            offset=1.0
            sound=explosion.ogg
            auto_vflip=no
        [/missile_frame]
        [frame]
            image="units/tharis-magi/shadowwitch-magic[1~3,2,1~3,2,1].png:150"
        [/frame]
    [/attack_anim]
[/unit_type]
