#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Great_Warlock
    name= _ "Great Warlock"
    race=eoma_tharis
    image="units/tharis-magi/greatwarlock.png"
    profile="portraits/tharis/greatwarlock.png"
    small_profile="portraits/tharis/greatwarlock.png~SCALE(205,205)"

    hitpoints=54
    movement_type=I8 defoot
    flying=yes
    movement=5
    experience=216
    level=3
    alignment=chaotic
    advances_to=EoMa_Master_of_Darkness
    cost=60#58
    usage=mixed fighter
    undead_variation=darkwizard
    description= _ "To become a Great Warlock, the pinnacle of achievement for any Tharis mage, is a lifelong pursuit of mastery over the dark arts. These powerful practitioners possess unparalleled skill in black magic, able to wield it with precision and deadliness. The secret of levitation has been fully realized by Great Warlocks, enabling them to traverse vast distances with ease, even across treacherous terrain. As a symbol of their status and prowess, they carry ceremonial scythes, imbued with the power of the dark arts and used to devastating effect in battle. But it is not merely brute strength that distinguishes Great Warlocks; they are also accomplished strategists and tacticians. They can weave complex spell combinations, exploiting weaknesses in enemy defenses and catching them off guard. With each victory, their mastery grows, and their reputation spreads like wildfire throughout the realm."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [standing_anim]
        [frame]
            image="units/tharis-magi/greatwarlock.png:100"
        [/frame]
    [/standing_anim]
    [standing_anim]
        terrain_type=*^Qov,W*,S*
        [frame]
            image="units/tharis-magi/greatwarlock-move.png:225"
            y=1
        [/frame]
        [frame]
            image="units/tharis-magi/greatwarlock-move.png:150"
            y=0
        [/frame]
        [frame]
            image="units/tharis-magi/greatwarlock-move.png:150"
            y=-1
        [/frame]
        [frame]
            image="units/tharis-magi/greatwarlock-move.png:150"
            y=0
        [/frame]
    [/standing_anim]
    [standing_anim]
        terrain_type=Q*^*,Mv^*
        [frame]
            image="units/tharis-magi/greatwarlock-move-ns.png:225"
            y=1
        [/frame]
        [frame]
            image="units/tharis-magi/greatwarlock-move-ns.png:150"
            y=0
        [/frame]
        [frame]
            image="units/tharis-magi/greatwarlock-move-ns.png:150"
            y=-1
        [/frame]
        [frame]
            image="units/tharis-magi/greatwarlock-move-ns.png:150"
            y=0
        [/frame]
    [/standing_anim]
    [resistance]
        cold=60
        impact=85
        blade=90
    [/resistance]
    [defense]
        forest=40
        deep_water=70
        shallow_water=70
        swamp_water=70
        unwalkable=70
        frozen=60
        sand=60
        reef=60
    [/defense]
    [movement_costs]
        deep_water=2
        shallow_water=1
        swamp_water=1
        reef=1
        sand=1
        forest=1
        mountains=1
        frozen=1
        unwalkable=2
    [/movement_costs]
    [movement_anim]
        [frame]
            image="units/tharis-magi/greatwarlock-move.png:100"
        [/frame]
    [/movement_anim]
    [movement_anim]
        terrain_type=Q*^*,Mv^*
        [frame]
            image="units/tharis-magi/greatwarlock-move-ns.png:100"
        [/frame]
    [/movement_anim]
    [idle_anim]
        terrain_type=!,Q*,Mv,!
        start_time=0
        [frame]
            image="units/tharis-magi/greatwarlock-magic[1~8,7~1].png:100"
        [/frame]
    [/idle_anim]
    [abilities]
        {ABILITY_EOMA_NOCTURNAL_REGENERATION 3}
        {ABILITY_EOMA_SUMMON gwarlock (
            {SUMMON_MENU_ITEM gwarlock_menu ( _ "Summon Dark Observer") 16 (EoMa_Great_Warlock) (EoMa_Dark_Observer) EXCEPT_ON={FLYING_SUMMON_FILTER}}
        )}
    [/abilities]
    [attack]
        name=scythe
        description=_"scythe"
        icon=attacks/scythe.png
        type=blade
        range=melee
        damage=11
        number=2
    [/attack]
    [attack]
        name=fist
        description={STR_FIST}
        icon=attacks/fist.png
        type=impact
        range=melee
        damage=6
        number=3
    [/attack]
    [attack]
        name=dark ball
        description=_"dark ball"
        icon=attacks/darkball.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=15
        number=3
    [/attack]
    [attack]
        name=implosion
        description=_"lesser implosion"
        icon=attacks/implosion.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=9
        number=3
    [/attack]
    {DARK_SCYTHE_ATTACK_ANIM greatwarlock}
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/tharis-magi/greatwarlock-[attack1,move].png:[150,300]"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        terrain_type=Q*^*,Mv^*
        start_time=-250
        [frame]
            image="units/tharis-magi/greatwarlock-[attack-ns1,move-ns].png:[150,300]"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dark ball
        [/filter_attack]
        missile_start_time=-325
        [missile_frame]
            image="halo/darkball[1~3].png:50"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            image="halo/darkball[4,5~3,4,5,4,2,1].png:50"
            offset=1.0
            sound=magic-dark-big.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image="units/tharis-magi/greatwarlock-magic[1~8,7,6~8,7~1].png:50"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dark ball
        [/filter_attack]
        terrain_type=Q*^*,Mv^*
        missile_start_time=-325
        [missile_frame]
            image="halo/darkball[1~3].png:50"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            image="halo/darkball[4,5~3,4,5,4,2,1].png:50"
            offset=1.0
            sound=magic-dark-big.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image="units/tharis-magi/greatwarlock-magic-ns[1~8,7,6~8,7~1].png:50"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dark ball
        [/filter_attack]
        missile_start_time=-325
        hits=kill
        [missile_frame]
            image="halo/darkball[1~3].png~SCALE(125,125):50"
            offset=1.0
            sound=magic-dark-big.ogg
        [/missile_frame]
        [missile_frame]
            image="halo/darkball[4,5~3,4,5,4,5,4,5,4,2,1].png~SCALE(125,125):50"
            offset=1.0
            sound=magic-dark-big.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image="units/tharis-magi/greatwarlock-magic[1~8,7,6~8,6,7,8,7~1].png:50"
            sound=magic-dark-big.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=dark ball
        [/filter_attack]
        terrain_type=Q*^*,Mv^*
        missile_start_time=-325
        hits=kill
        [missile_frame]
            image="halo/darkball[1~3].png~SCALE(125,125):50"
            offset=1.0
            sound=magic-dark-big.ogg
        [/missile_frame]
        [missile_frame]
            image="halo/darkball[4,5~3,4,5,4,5,4,5,4,2,1].png~SCALE(125,125):50"
            offset=1.0
            sound=magic-dark-big.ogg
        [/missile_frame]
        start_time=-500
        [frame]
            image="units/tharis-magi/greatwarlock-magic-ns[1~8,7,6~8,6,7,8,7~1].png:50"
            sound=magic-dark-big.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=implosion
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            halo=halo/implosion-1-[1~10].png:50
            offset=1.0
            halo_mod=~SCALE(100,100)
        [/missile_frame]
        start_time=-400
        [frame]
            image="units/tharis-magi/greatwarlock-magic[1~8,7,6~8,6,7,8,7~1].png:50"
        [/frame]
        attack_sound_start_time=-200
        [attack_sound_frame]
            duration=150
            sound=magic-dark.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            duration=50
            sound=flame-big.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            sound=explosion.ogg
        [/attack_sound_frame]
    [/attack_anim]
[/unit_type]
