#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Raging_Hydra
    name= _ "Great Hydra"
    race=monster
    image="units/tharis-monsters/deephydra.png"

    hitpoints=62
    movement_type=naga
    movement=4
    experience=90
    level=2
    alignment=chaotic
    advances_to=EoMa_Chaos_Hydra
    cost=36
    usage=fighter
    undead_variation=deephydra
    description={NO_DESCR_AVAILABLE}
    die_sound=naga-die.ogg
    {TRAIT_FEARLESS_MUSTHAVE}
    [abilities]
        {ABILITY_EOMA_REGENERATES}
    [/abilities]
    [resistance]
        blade=110
        pierce=90
        impact=80
        fire=110
        cold=90
    [/resistance]
    [movement_costs]
        swamp_water=1
        flat=1
        cave=1
    [/movement_costs]
    [defense]
        shallow_water=50
        reef=40
    [/defense]
    {HYDRA_STANDING_ANIM deephydr}
    {HYDRA_DEFEND_ANIM1 deephydra}
    {HYDRA_DEFEND_ANIM2 deephydra}
    [attack]
        name=bite
        description=_"bite"
        icon=attacks/head-hydra.png
        type=pierce
        range=melee
        damage=4
        number=8
        [specials]
            {WEAPON_SPECIAL_SWARM}
            {WEAPON_SPECIAL_EOMA_TRIPLESTRIKE}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=headbutt
        description=_"headbutt"
        icon=attacks/head-hydra.png
        type=impact
        range=melee
        damage=11
        number=3
        [specials]
        [/specials]
    [/attack]
    {HYDRA_ATTACK_ANIM deephydra bite no 500 {SOUND_LIST:MISS}}
    {HYDRA_ATTACK_ANIM deephydra bite yes 450 {SOUND_LIST:NAGA_HIT}}
    {HYDRA_ATTACK_ANIM deephydra headbutt no 500 {SOUND_LIST:MISS}}
    {HYDRA_ATTACK_ANIM deephydra headbutt yes 450 mace.wav}
[/unit_type]
