#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Master_of_Darkness
    name= _ "Master of Darkness"
    race=eoma_tharis
    image="units/tharis-magi/masterofdarkness-night.png"
    profile="portraits/tharis/masterofdarkness.png"
    small_profile="portraits/tharis/masterofdarkness.png~SCALE(205,205)"

    hitpoints=68
    movement_type=spirit
    movement=6
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    cost=82
    usage=mixed fighter
    undead_variation=darkwizard
    {AMLA_DEFAULT}
    description= _ "While the title of Great Warlock is undoubtedly very prestigious, it's strongly overshadowed by that of a Master of Darkness. The Master of Darkness is the Tharis monarch and a religious figure. Every century, the most powerful great warlocks are selected by the dark gods as candidates for the title, and have to venture into the cursed depths. The warlock who survives the rituals without completely losing his sanity is recognized as the leader. The dark gods grant him many powers, including the ability to cast spells that shatter even the most robust structures with ease, shrug off heavy plows like minor bruises, and dissipate into bats."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [abilities]
        {ABILITY_EOMA_NOCTURNAL_REGENERATION 8}
        {ABILITY_EOMA_SUMMON mod (
            {SUMMON_MENU_ITEM mod_menu ( _ "Summon Dark Observer") 16 (EoMa_Master_of_Darkness) (EoMa_Dark_Observer)}
        )}
    [/abilities]
    [resistance]
        arcane=90
        fire=90
        cold=50
        blade=70
        pierce=70
        impact=65
    [/resistance]
    [defense]
        forest=40
        hills=40
        mountains=40
        castle=40
        village=40
    [/defense]
    [movetype]
        flies=true
    [/movetype]
    [movement_costs]
        deep_water=1
        shallow_water=1
        swamp_water=1
        reef=1
        sand=1
        forest=1
        mountains=1
        frozen=1
        unwalkable=1
    [/movement_costs]
    [standing_anim]
        [filter]
            [filter_location]
                time_of_day_id=dawn,morning,afternoon,dusk
            [/filter_location]
        [/filter]
        start_time=0
        [frame]
            image="units/tharis-magi/masterofdarkness.png:100"
        [/frame]
    [/standing_anim]
    [standing_anim]
        [filter]
            [filter_location]
                time_of_day_id=first_watch,second_watch,underground,deep_underground
            [/filter_location]
        [/filter]
        start_time=0
        [frame]
            image="units/tharis-magi/masterofdarkness-night.png:100"
        [/frame]
    [/standing_anim]
    [defend]
        start_time=-126
        hits=no
        [frame]
            image="units/tharis-magi/masterofdarknes[s,s-premove1,s-premove3,s-premove5,s-premove3,s-premove1,s].png:[1,50*5,1]"
            offset=0.0:1,0.0~-0.1:50,-0.1~-0.2:50,-0.2:50,-0.2~-0.1:50,-0.1~0.0:50,0.0:1
        [/frame]
    [/defend]
    [defend]
        start_time=-126
        start_time=0
        hits=hit
        [filter_attack]
            type=blade,pierce,impact,cold
        [/filter_attack]
        [frame]
            image="units/tharis-magi/masterofdarkness.png:250"
            halo="units/tharis-orbs/magic-big-[1~4].png~SCALE(80,80):62"
            sound=lightning-miss.ogg
        [/frame]
    [/defend]
    [defend]
        start_time=-126
        start_time=0
        hits=hit
        [filter_attack]
            [not]
                type=blade,pierce,impact,cold
            [/not]
        [/filter_attack]
        [frame]
            image="units/tharis-magi/masterofdarknes[s,s-premove1,s-premove3,s-premove5,s-premove3,s-premove1,s].png:[1,50*5,1]"
            offset=0.0:1,0.0~-0.1:50,-0.1~-0.2:50,-0.2:50,-0.2~-0.1:50,-0.1~0.0:50,0.0:1
            sound={SOUND_LIST:ELF_HIT}
        [/frame]
    [/defend]
    [pre_movement_anim]
        [filter]
            [filter_location]
                time_of_day_id=chaotic
            [/filter_location]
        [/filter]
        start_time=0
        [frame]
            image="units/tharis-magi/masterofdarkness-[change1,change2,premove1,premove2,premove3,premove4,premove5,premove6].png:70"
        [/frame]
    [/pre_movement_anim]
    [pre_movement_anim]
        [filter]
            [filter_location]
                time_of_day_id=neutral,lawful
            [/filter_location]
        [/filter]
        start_time=0
        [frame]
            image="units/tharis-magi/masterofdarkness-premove[1~6].png:70"
        [/frame]
    [/pre_movement_anim]
    [post_movement_anim]
        [filter]
            [filter_location]
                time_of_day_id=neutral,lawful
            [/filter_location]
        [/filter]
        start_time=0
        [frame]
            image="units/tharis-magi/masterofdarkness-premove[6~1].png:100"
        [/frame]
    [/post_movement_anim]
    [post_movement_anim]
        [filter]
            [filter_location]
                time_of_day_id=chaotic
            [/filter_location]
        [/filter]
        start_time=0
        [frame]
            image="units/tharis-magi/masterofdarkness-[premove6,premove5,premove4,premove3,premove2,premove1,change2,change1].png:[100*6,70*2]"
        [/frame]
    [/post_movement_anim]
    [movement_anim]
        start_time=0
        [frame]
            image="units/tharis-magi/masterofdarkness-move[1,2].png:100"
        [/frame]
    [/movement_anim]
    [idle_anim]
        [filter_location]
            time_of_day_id=chaotic
        [/filter_location]
        start_time=0
        [frame]
            image="units/tharis-magi/masterofdarkness-magic[1~8,7,6~8,7~1].png:100"
        [/frame]
    [/idle_anim]
    [idle_anim]
        start_time=0
        [frame]
            image="units/tharis-magi/masterofdarkness-[premove1,premove2,premove3,premove4,premove5,premove6,move1,move2,move1,move2,move1,move2,move1,move2,premove6,premove5,premove4,premove3,premove2,premove1].png:[100*6,75*8,100*6]"
        [/frame]
    [/idle_anim]
    [attack]
        name=scythe
        description=_"scythe"
        icon=attacks/scythe.png
        type=blade
        range=melee
        damage=15
        number=2
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=fist
        description={STR_FIST}
        icon=attacks/fist.png
        type=impact
        range=melee
        damage=7
        number=4
    [/attack]
    [attack]
        name=implosion
        description=_"implosion"
        icon=attacks/implosion.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=19
        number=3
    [/attack]
    [draw_weapon_anim]
        [filter]
            [filter_location]
                time_of_day_id=neutral,lawful
            [/filter_location]
        [/filter]
        start_time=0
        [frame]
            image="units/tharis-magi/masterofdarkness-[change2,change1].png:100"
        [/frame]
    [/draw_weapon_anim]
    [victory_anim]
        [frame]
            image="units/tharis-magi/masterofdarkness-night.png:150"
        [/frame]
    [/victory_anim]
    [sheath_weapon_anim]
        [filter]
            [filter_location]
                time_of_day_id=neutral,lawful
            [/filter_location]
        [/filter]
        start_time=0
        [frame]
            image="units/tharis-magi/masterofdarkness-[change1,change2].png:100"
        [/frame]
    [/sheath_weapon_anim]
    {DARK_SCYTHE_ATTACK_ANIM masterofdarkness}
    [attack_anim]
        [filter_attack]
            name=fist
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/tharis-magi/masterofdarkness-attack1.png:450"
        [/frame]
        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=implosion
        [/filter_attack]
        missile_start_time=-250
        [missile_frame]
            halo=halo/implosion-1-[1~10].png:50
            offset=1.0
        [/missile_frame]
        start_time=-400
        [frame]
            image="units/tharis-magi/masterofdarkness-magic[1~6,5~1].png:[100*4,50*7]"
        [/frame]
        attack_sound_start_time=-200
        [attack_sound_frame]
            duration=150
            sound=magic-dark.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            duration=50
            sound=flame-big.ogg
        [/attack_sound_frame]
        [attack_sound_frame]
            sound=explosion.ogg
        [/attack_sound_frame]
    [/attack_anim]
[/unit_type]
