#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Master_of_War
    name= _ "Dark Warlord"
    race=I8 tharis
    image="units/tharis-warriors/masterofwar.png"
    profile="portraits/tharis/masterofwar.png"
    small_profile="portraits/tharis/masterofwar.png~SCALE(205,205)"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=80
    movement_type=I8 defoot
    movement=5
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=85
    usage=fighter
	{TRAIT_FEARLESS}
    undead_variation=darkcommander
    description={NO_DESCR_AVAILABLE}+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:ELF_HIT}
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_4}
    [/abilities]
    [resistance]
        fire=90
        #arcane=70
    [/resistance]
    [defense]
        village=40
    [/defense]
	[leading_anim]
        start_time=-126
        [frame]
            image=units/tharis-warriors/masterofwar-attack1.png:1,units/tharis-warriors/masterofwar-attack1.png:250,units/tharis-warriors/masterofwar-attack1.png:1
        [/frame]

        halo_start_time=-100
        [halo_frame]
            halo="halo/misc/leadership-flare-[1~13].png:20"
            halo_x,halo_y=23,-28
        [/halo_frame]
    [/leading_anim]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=blade
        range=melee
        damage=14
        number=3
        [specials]
        [/specials]
    [/attack]
	[attack]
        name=fireball
        description={STR_FIREBALL}
        icon=attacks/fireball.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=11
        number=3
    [/attack]
    [attack]
        name=explosion
        description=_"explosion"
        icon=attacks/explosion.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
      	    {WEAPON_SPECIAL_EOMA_AREAEFFECTRANDOM 70}
        [/specials]
        damage=32
        number=1
    [/attack]    
    {DARK_COMMANDER_SPEAR_ATTACK_ANIM masterofwar 1}
	
	[attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        [missile_frame]
            image="projectiles/fireball-[n-1,n-2,n,n-2,n-1].png:[40,100,125,55,30]"
            image_diagonal="projectiles/fireball-[nw-1,nw-2,nw,nw-2,nw-1].png:[40,100,125,55,30]"
            offset=0.0~0.10:40,0.1~0.30:100,0.3~0.60:125,0.7~0.8:55,0.8~0.9:30
            sound=fire.wav
        [/missile_frame]
		{EXPLOSION_SINGLE_ANIM 1.0}
        start_time=-200
        [frame]
            image="units/tharis-warriors/masterofwar-attack[1~3,1].png:100"
        [/frame]
    [/attack_anim]
	
	[attack_anim]
        [filter_attack]
            name=explosion
        [/filter_attack]
        missile_start_time=0
        missile2_start_time=300
        missile3_start_time=300
        missile4_start_time=300
        missile5_start_time=300
        missile6_start_time=300
        missile7_start_time=300
        missile8_start_time=300
        missile9_start_time=300
        [missile_frame]
            halo="projectiles/fireball-impact-[1~16].png:60"
            offset=1.0
            sound=explosion.ogg
			auto_vflip=no
        [/missile_frame]
        [missile2_frame]            
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=0,36
			auto_vflip=no
        [/missile2_frame]
        [missile2_frame]            
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=0,36
			auto_vflip=no
        [/missile2_frame]
        [missile3_frame]            
            halo="misc/blank-hex.png"
            offset=1.0
            halo_x,halo_y=0,-36
			auto_vflip=no
        [/missile3_frame]
        [missile3_frame]
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=0,-36
			auto_vflip=no
        [/missile3_frame]
        [missile4_frame]            
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=36,0
			auto_vflip=no
        [/missile4_frame]
        [missile4_frame]            
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=36,0
			auto_vflip=no
        [/missile4_frame]
        [missile5_frame]            
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=-36,0
			auto_vflip=no
        [/missile5_frame]
        [missile5_frame]            
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=-36,0
			auto_vflip=no
        [/missile5_frame]
        [missile6_frame]            
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=18,18
			auto_vflip=no
        [/missile6_frame]
        [missile6_frame]            
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=18,18
			auto_vflip=no
        [/missile6_frame]
        [missile7_frame]            
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=-18,-18
			auto_vflip=no
        [/missile7_frame]
        [missile7_frame]            
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=-18,-18
			auto_vflip=no
        [/missile7_frame]
        [missile8_frame]            
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=18,-18
			auto_vflip=no
        [/missile8_frame]
        [missile8_frame]            
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=18,-18
			auto_vflip=no
        [/missile8_frame]
        [missile9_frame]            
            halo="misc/blank-hex.png:60"
            offset=1.0
            halo_x,halo_y=-18,18
			auto_vflip=no
        [/missile9_frame]
        [missile9_frame]            
            halo="projectiles/fireball-impact-[8~16].png:60"
            offset=1.0
            halo_x,halo_y=-18,18
			auto_vflip=no
        [/missile9_frame]
    [/attack_anim]
[/unit_type]
