#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Matriarch_of_Darkness
    name= _ "Matriarch of Darkness"
    race=eoma_tharis
    gender=female
    image="units/tharis-magi/shadowmatriarch.png"
    profile="portraits/tharis/matriarchofdarkness.png"
    small_profile="portraits/tharis/matriarchofdarkness.png~SCALE(205,205)"
    
    halo="halo/dark-cleric-aura.png"
    hitpoints=48
    movement_type=I8 defoot
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    cost=55
    {AMLA_DEFAULT}
    usage=mixed fighter
    undead_variation=greatwitch
#    description_old= _ "The Matriarch of Darkness knows no mercy. She creates a dark aura around herself, which makes all enemy units inside fight worse, and her comrades fight better."
    description= _ "The title of 'Matriarch of Darkness' is the highest a witch can achieve. They are often considered female equivalents of Great Warlocks, which is not too far from truth, given their skill. They create dark auras around themselves, which weaken nearby enemy units, both physically, and mentally, as well as boosting fellow Tharis troops."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_SLOW}+{SPECIAL_NOTES_DRAIN}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/tharis-magi/shadowmatriarch-magic1.png" "units/tharis-magi/shadowmatriarch-attack1.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [idle_anim]
        start_time=0
        [frame]
            image="units/tharis-magi/shadowmatriarch-[attack1,magic1,magic2,magic1,attack1].png:[100,200,500,200,100]"
        [/frame]
    [/idle_anim]
    [standing_anim]
        start_time=0
        [frame]
            image="units/tharis-magi/shadowmatriarc[h-standing1,h-standing2,h].png:100"
        [/frame]
    [/standing_anim]
    [resistance]
        arcane=90
        fire=90
        pierce=90
        impact=90
    [/resistance]
    [abilities]
        {ABILITY_DARKAURA}
		{ABILITY_EOMA_NOCTURNAL_REGENERATION 5}
    [/abilities]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=witch-fire
        description=_"witch-fire"
        icon=attacks/witch-fire.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        damage=4
        number=8
    [/attack]
    [attack]
        name=bloody gate
        description=_"blood gate"
        icon=attacks/curse.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=16
        number=1
#define ELDER_MAGE_LIGHTNING_GATE VARIATION DIR HALO_X HALO_Y
#enddef
        {ELDER_MAGE_LIGHTNING_GATE 1 n 0 -72}
        {ELDER_MAGE_LIGHTNING_GATE 1 s 0 72}
        {ELDER_MAGE_LIGHTNING_GATE 1 se 54 36}
        {ELDER_MAGE_LIGHTNING_GATE 1 sw 54 36}
        {ELDER_MAGE_LIGHTNING_GATE 1 ne 54 -36}
        {ELDER_MAGE_LIGHTNING_GATE 1 nw 54 -36}
    [/attack]
    {WITCH_MELEE_ATTACK_ANIM shadowmatriarc h-attack2 spear}
	[attack_anim]
		[filter_attack]
			name=witch-fire
		[/filter_attack]
		missile_start_time=-200
		missile2_start_time=-150
		[missile_frame]
			image="projectiles/zbmage-halo3.png:240"
			image_diagonal="projectiles/zbmage-halo3.png:240"
			offset=0.0~1.0:200
		[/missile_frame]
		[if]
		hits=yes
		[missile_frame]
			duration=400
			image="projectiles/fire-burst-small-[1~8].png"
			image_diagonal="projectiles/fire-burst-small-[1~8].png"
			image_mod=~GS()~CS(0,-255,0)
			offset=0.8~1.0
			sound=fire.wav
		[/missile_frame]
		[missile2_frame]
			halo="halo/elven/druid-healing[1~8].png~CS(-50,-100,-50)~O(40%):50"
			auto_vflip=false
			offset=0.0
		[/missile2_frame]
		[/if]
		start_time=-400
		[frame]
			image="units/tharis-magi/shadowmatriarch-[attack1,magic1,magic2,magic1,attack1].png:[50,150,200,50*2]"
		[/frame]
		{SOUND:HIT_AND_MISS magic-dark.ogg magic-dark.ogg -200}
	[/attack_anim]
    [attack_anim]
		[filter_attack]
			name=bloody gate
		[/filter_attack]
		start_time=-760
		missile_start_time=-760
		missile2_start_time=-760

		[missile_frame]
			halo="projectiles/fireball-impact-[16~1].png:60"
			halo_mod=~R(255)
			offset=1.0
			sound=magic-faeriefire.ogg
			auto_vflip=no
		[/missile_frame]
		[missile2_frame]
			halo="projectiles/fireball-impact-[16~1].png~FL(vert):60"
			halo_mod=~R(255)
			offset=1.0
			sound=magic-faeriefire.ogg
			auto_vflip=no
		[/missile2_frame]

		sound1_start_time=-500
		[sound1_frame]
			sound=wail.wav
		[/sound1_frame]

		sound2_start_time=-425
		[sound2_frame]
			sound=wail.wav
		[/sound2_frame]

		sound3_start_time=-350
		[sound3_frame]
			sound=wail.wav
		[/sound3_frame]
		[frame]
			image="units/tharis-magi/shadowmatriarch-[attack1,magic1,magic2,magic1,attack1].png:[50,150,200,50*2]"
		[/frame]
		{SOUND:HIT_AND_MISS magic-dark.ogg magic-dark.ogg -200}
    [/attack_anim]
[/unit_type]
