#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Matriarch_of_Pain
    name= _ "Matriarch of Pain"
    race=eoma_tharis
    gender=female
    image="units/tharis-magi/painmatriarch.png"
    ellipse="misc/ellipse"

    hitpoints=57
    movement_type=eoma_tharisfoot
    movement=6
    experience=126
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=53#51
    usage=mixed fighter
    undead_variation=witch
    description={NO_DESCR_AVAILABLE}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/tharis-magi/painmatriarch.png" "units/tharis-magi/painmatriarch.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [resistance]
        arcane=90
        fire=70
        cold=70
        pierce=80
        impact=80
        blade=85
    [/resistance]
    [abilities]
        {ABILITY_EOMA_PAINABSORB 2}
        {ABILITY_EOMA_SUMMON mop (
            #intended to exactly match Pain Sphere recruit price, if pain sphere price changes, adjust this summon cost later too
            {SUMMON_MENU_ITEM mop_menu1 ( _ "Summon Pain Sphere") 39 (EoMa_Matriarch_of_Pain) (EoMa_Pain_Sphere) EXCEPT_ON={FLYING_SUMMON_FILTER}}
        )}
    [/abilities]
    [attack]
        name=whip
        description=_ "whip"
        icon=attacks/whip.png
        type=impact
        range=melee
        damage=7
        number=5
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
            {WEAPON_SPECIAL_EOMA_SKILLED}
            ## {WEAPON_SPECIAL_EOMA_MAGIC_COUNTER}
        [/specials]
    [/attack]
    [attack]
        name=pain
        description=_"pain"
        icon=attacks/pain-missile-big.png
        type=impact
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_VERYSKILLED}
            ## {WEAPON_SPECIAL_DRAIN}
        [/specials]
        damage=4
        number=6
    [/attack]
    [attack_anim]
        [filter_attack]
            name=whip
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/tharis-magi/painmatriarch-attack[1,2,3].png:[100,100,100]"
            offset=0.0~0.7,0.7~0.0
        [/frame]
        {SOUND:HIT_AND_MISS tail.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=pain
        [/filter_attack]
        missile_start_time=-200
        missile2_start_time=-150
        [missile_frame]
            image="halo/doom-glow.png:240"
            image_mod=~SCALE_SHARP(144,144)
            image_diagonal="halo/doom-glow.png:240"
            offset=0.0~1.0:200
        [/missile_frame]
        [if]
            hits=yes
            [missile_frame]
                duration=400
                halo="projectiles/whitemissile-impact-[1~8].png:50"
                halo_mod="~GS()~R(255)"
                offset=0.8,0.92,0.94,0.96,0.98,1.0,1.02,1.04
                sound=magicmissile.wav
            [/missile_frame]
            [missile2_frame]
                halo="halo/elven/druid-healing[1~8].png~GS()~R(255)~O(50%):50"
                auto_vflip=false
                offset=0.0
            [/missile2_frame]
        [/if]
        start_time=-400
        [frame]
            image="units/tharis-magi/painmatriarch-attack[1,2,3,2,1].png:[100,100,100,100,100]"
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark.ogg magic-dark.ogg -200}
    [/attack_anim]
[/unit_type]
