#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Matriarch_of_Emptiness
    name= _ "Matriarch of Emptiness"
    race=eoma_tharis
    gender=female
    image="units/tharis-magi/matriarch.png"
    profile="portraits/tharis/matriarchofemptiness.png"
    small_profile="portraits/tharis/matriarchofemptiness.png~SCALE(205,205)"

    halo=halo/deadzone.png
    hitpoints=50
    movement_type=eoma_tharisfoot
    movement=5
    experience=166
    level=3
    alignment=chaotic
    advances_to=null
    cost=63#60
    {AMLA_DEFAULT}
    usage=mixed fighter
    undead_variation=greatwitch
    description= _ "The Matriarchs of Emptiness are powerful witches who possess mysterious orbs of unknown origin. These orbs are filled with strange entities that feed on magical energy in the environment, rendering spellcasting nearby futile. In addition, these orbs can channel some of the absorbed power back to the bearer, allowing them to heal themselves or imbue their weapons with life-draining properties.

The origins of the orbs are shrouded in mystery, and there are many different stories about how they came to be. Some say that the orbs were created by ancient sorcerers who sought to harness the power of the void itself. Others claim that the orbs are actually fragments of a long-lost celestial body, imbued with the essence of emptiness. Still, others believe that the orbs are simply cursed artifacts, created through dark rituals and imbued with malevolent energy. Whatever their true nature, one thing is certain: the orbs are incredibly rare and highly prized by those who seek to wield their power."
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    [resistance]
        arcane=1
        pierce=90
        impact=90
        fire=1
        cold=1
    [/resistance]
    [abilities]
        {ABILITY_EOMA_MAGICABSORBER}
        {ABILITY_EOMA_REGENERATE 6}
    [/abilities]
    [standing_anim]
        start_time=0
        [frame]
            image="units/tharis-magi/matriarc[h,h-standing1,h-standing2].png:100"
        [/frame]
    [/standing_anim]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=11
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=spear2
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=blade
        range=melee
        damage=11
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=antimagic
        description=_"anti-magic"
        icon=attacks/beam-red.png
        type=secret
        range=ranged
        damage=12
        number=1
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_EOMA_ANTISHIELD}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/tharis-magi/matriarc[h,h-attack1,h-attack2,h].png:[50,300,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=spear2
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/tharis-magi/matriarch-attack[1~4,1].png:[50,100,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
#define MOE_LASER VARIATION DIR FACING HALO_X HALO_Y
    [attack_anim]
        [filter_attack]
            name=antimagic
        [/filter_attack]
        direction={DIR}
        missile_start_time=-100
        [missile_frame]
        [/missile_frame]
        start_time=-300
        [frame]
            image="units/tharis-magi/matriarch-ranged.png:150"
        [/frame]
        [frame]
            image="units/tharis-magi/matriarch-ranged.png:350"
            halo=halo/laser-destr-{VARIATION}-[1,2,3,4,5,2].png:100
            sound="magic-dark-big.ogg"
            halo_x,halo_y={HALO_X},{HALO_Y}
        [/frame]
        [frame]
            image="units/tharis-magi/matriarch-ranged.png:100"
        [/frame]
    [/attack_anim]
#enddef
    {MOE_LASER 1 n n -3 -23}
    {MOE_LASER 2 s s -3 43}
    {MOE_LASER 3 ne,nw s 25 -12}
    {MOE_LASER 4 se,sw s 25 25}
[/unit_type]
