#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Matriarch_of_Darkness
    name= _ "Matriarch of Darkness"
    race=eoma_tharis
    gender=female
    image="units/tharis-magi/matriarchofdarkness.png"
    profile="portraits/tharis/matriarchofdarkness.webp"
    small_profile="portraits/tharis/matriarchofdarkness.webp~SCALE(205,205)"
    hitpoints=50
    movement_type=eoma_tharisfoot
    movement=5
    experience=166
    level=3
    alignment=chaotic
    advances_to=null
    cost=62#58#55
    {AMLA_DEFAULT}
    usage=mixed fighter
    undead_variation=greatwitch
    description= _ "The title of 'Matriarch of Darkness' is the ultimate honorific for a witch, often matching the greatest warlocks in power and prestige. These enigmatic figures embody the essence of darkness itself, radiating malevolent energy that debilitates enemies on all levels. Their very presence creates a shroud of gloom around them, sapping the strength and will of those unfortunate enough to be near. The Matriarch's dark aura not only weakens foes, but also has the power to demoralize and disorient them, making them vulnerable to attack. By contrast, allied Tharis troops are invigorated by the Matriarch's shadowy presence, their resolve fortified and their combat prowess augmented. In short, the Matriarch of Darkness is a force to be reckoned with, her mastery over shadows unmatched in the annals of Tharis magic."
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/tharis-magi/matriarchofdarkness-magic1.png" "units/tharis-magi/matriarchofdarkness-attack1.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    [idle_anim]
        start_time=0
        [frame]
            image="units/tharis-magi/matriarchofdarkness-[attack1,magic1,magic2,magic1,attack1].png:[100,200,500,200,100]"
        [/frame]
    [/idle_anim]
    [standing_anim]
        start_time=0
        [frame]
            image="units/tharis-magi/[matriarchofdarkness-standing1,matriarchofdarkness-standing2,matriarchofdarkness].png:100"
        [/frame]
    [/standing_anim]
    [resistance]
        arcane=90
        fire=90
        pierce=90
        impact=90
    [/resistance]
    [abilities]
        {ABILITY_DARKAURA HALO="halo/dark-cleric-aura.png"}
        {ABILITY_EOMA_NOCTURNAL_REGENERATION 5}
    [/abilities]
    [attack]
        name=spear
        description={STR_SPEAR}
        icon=attacks/spear.png
        type=pierce
        range=melee
        damage=9
        number=3
    [/attack]
    [attack]
        name=witch-fire
        description=_"witch-fire"
        icon=attacks/witch-fire.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        damage=4
        number=8
    [/attack]
    [attack]
        name=bloody gate
        description=_"blood gate"
        icon=attacks/curse.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_EOMA_PRECISION}
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=16
        number=1
#define ELDER_MAGE_LIGHTNING_GATE VARIATION DIR HALO_X HALO_Y
#enddef
        {ELDER_MAGE_LIGHTNING_GATE 1 n 0 -72}
        {ELDER_MAGE_LIGHTNING_GATE 1 s 0 72}
        {ELDER_MAGE_LIGHTNING_GATE 1 se 54 36}
        {ELDER_MAGE_LIGHTNING_GATE 1 sw 54 36}
        {ELDER_MAGE_LIGHTNING_GATE 1 ne 54 -36}
        {ELDER_MAGE_LIGHTNING_GATE 1 nw 54 -36}
    [/attack]
    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/tharis-magi/[matriarchofdarkness,matriarchofdarkness-attack1,matriarchofdarkness-attack2,matriarchofdarkness-attack1,matriarchofdarkness].png:[50,100,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=witch-fire
        [/filter_attack]
        missile_start_time=-200
        missile2_start_time=-150
        [missile_frame]
            image="projectiles/zbmage-halo3.png:240"
            image_diagonal="projectiles/zbmage-halo3.png:240"
            offset=0.0~1.0:200
        [/missile_frame]
        [if]
            hits=yes
            [missile_frame]
                duration=400
                image="projectiles/fire-burst-small-[1~8].png"
                image_diagonal="projectiles/fire-burst-small-[1~8].png"
                image_mod=~GS()~CS(0,-255,0)
                offset=0.8~1.0
                sound=fire.wav
            [/missile_frame]
            [missile2_frame]
                halo="halo/elven/druid-healing[1~8].png~CS(-50,-100,-50)~O(40%):50"
                auto_vflip=false
                offset=0.0
            [/missile2_frame]
        [/if]
        start_time=-400
        [frame]
            image="units/tharis-magi/matriarchofdarkness-[attack1,magic1,magic2,magic1,attack1].png:[50,150,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark.ogg magic-dark.ogg -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bloody gate
        [/filter_attack]
        start_time=-760
        missile_start_time=-760
        missile2_start_time=-760

        [missile_frame]
            halo="projectiles/fireball-impact-[16~1].png:60"
            halo_mod=~R(255)
            offset=1.0
            sound=magic-faeriefire.ogg
            auto_vflip=no
        [/missile_frame]
        [missile2_frame]
            halo="projectiles/fireball-impact-[16~1].png~FL(vert):60"
            halo_mod=~R(255)
            offset=1.0
            sound=magic-faeriefire.ogg
            auto_vflip=no
        [/missile2_frame]

        sound1_start_time=-500
        [sound1_frame]
            sound=wail.wav
        [/sound1_frame]

        sound2_start_time=-425
        [sound2_frame]
            sound=wail.wav
        [/sound2_frame]

        sound3_start_time=-350
        [sound3_frame]
            sound=wail.wav
        [/sound3_frame]
        [frame]
            image="units/tharis-magi/matriarchofdarkness-[attack1,magic1,magic2,magic1,attack1].png:[50,150,200,50*2]"
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark.ogg magic-dark.ogg -200}
    [/attack_anim]
[/unit_type]
