#textdomain wesnoth-Era_of_Magic
[unit_type]
	[base_unit]
		id=EoMa_Shadowblade
	[/base_unit]
    id=EoMa_Shadowblade_rpg
    [abilities]
        {ABILITY_NIGHTSTALK}
        {ABILITY_EOMA_HITANDRUN 3}
		{ABILITY_EOMA_BLOODLUST_RPG}
    [/abilities]
[/unit_type]
