#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Sworddancer
    name= _ "Sword Dancer"
    race=eoma_tharis
    image="units/tharis-warriors/sworddancer.png"

    hitpoints=48
    movement_type=elusivefoot
    movement=5
    experience=65
    level=2
    alignment=chaotic
    advances_to=null
    [advancement]
        strict_amla=yes
        max_times=1
        id=sworddancer_nocturnalregen
        description= _ "Nocturnal Regeneration 7, +3 HP +20% max XP"
        image="attacks/curse-goblin.png"
        [effect]
            apply_to=remove_ability
            [abilities]
                {ABILITY_EOMA_NOCTURNAL_REGENERATION 3}
            [/abilities]
        [/effect]
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_NOCTURNAL_REGENERATION 7}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=sworddancer_bloodlust
        description= _ "Bloodlust 5, +3 HP +20% max XP"
        image="attacks/curse.png"
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_EOMA_BLOODLUST 5}
            [/abilities]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=sworddancer_melee
        description= _ "+1 damage and magic counter on melee, +3 HP, +20% max XP"
        image="attacks/dagger-tharis.png"
        [effect]
            apply_to=attack
            name=berserker frenzy
            remove_specials=eoma_magic_dodge
            increase_damage=1
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_EOMA_MAGIC_COUNTER}
            [/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    [advancement]
        strict_amla=yes
        max_times=1
        id=sworddancer_ranged
        description= _ "+2 damage and very skilled on chakram, +3 HP, +20% max XP"
        image="attacks/chakram.png"
        [effect]
            apply_to=attack
            name=chakram-throw
            remove_specials=eoma_skilled
            increase_damage=2
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_EOMA_VERYSKILLED}
            [/set_specials]
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    cost=38
    {AMLA_DEFAULT}
    usage=fighter
    undead_variation=sworddancer
    description= _ "The sword dancer is a formidable warrior known for their lightning-fast movements and deadly precision. While their primary weapon of choice may be shortswords, they are just as skilled with their trusty chakrams in ranged combat. These unique fighters have honed their skills through years of practice and training, and their bodies are attuned to the rhythm of battle. Before each fight, they indulge in a ritual involving psychedelic substances, heightening their senses and allowing them to move with superhuman speed and agility. With their enhanced reflexes and keen instincts, they can effortlessly dodge enemy attacks and strike back with deadly accuracy. But their prowess doesn't stop there - these warriors also possess some regenerative abilities similar to those of Great Warlocks, allowing them to heal themselves during battle and stay in the fight longer. The end result is a fearsome opponent who can outmaneuver even the most skilled foes."
    die_sound={SOUND_LIST:ELF_HIT}
    [defense]
        cave=40
    [/defense]
    [movement_costs]
        mountains=2
        cave=1
        hills=1
        fungus=1
    [/movement_costs]
    [resistance]
        blade=120
        pierce=120
        impact=120
        arcane=100
        cold=80
    [/resistance]
    [abilities]
        {ABILITY_EOMA_NOCTURNAL_REGENERATION 3}
    [/abilities]
    [attack]
        name=berserker frenzy
        description=_"swords"
        icon=attacks/dagger-tharis.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BERSERK}
            {WEAPON_SPECIAL_EOMA_MAGIC_DODGE}
        [/specials]
        range=melee
        damage=5
        number=5
    [/attack]
    [attack]
        name=chakram-throw
        description=_"chakram"
        icon=attacks/chakram.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
            {WEAPON_SPECIAL_EOMA_HITANDRUN 2}
        [/specials]
        range=ranged
        damage=7
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=berserker frenzy
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/tharis-warriors/sworddancer-attack1-[2~4,3,2,4].png:50"
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=chakram-throw
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="projectiles/chakram.png:200"
            image_diagonal="projectiles/chakram.png"
            offset=0.0~0.9
        [/missile_frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [defend]
        hits=miss
        start_time=-126
        [frame]
            image="units/tharis-warriors/sworddance[r,r-attack1-2,r-attack1-3,r-attack1-4,r-attack1-2,r].png:[1,50,75*2,50,1]"
            offset=0.0:1,0.0~-0.2:50,-0.2~-0.4:75,-0.4~-0.2:75,-0.2~0.0:50,0.0:1
        [/frame]
    [/defend]
    [defend]
        hits=hit
        start_time=-126
        [frame]
            image="units/tharis-warriors/sworddancer-attack1-[3,2,3,4,2,3].png:[1,50,75*2,50,1]"
            offset=0.0:1,0.0~-0.1:50,-0.1~-0.2:75,-0.2~-0.2:75,-0.1~0.0:50,0.0:1
        [/frame]
    [/defend]
[/unit_type]
