#textdomain wesnoth-Era_of_Magic
[unit_type]
    id=EoMa_Sworddancer
    name= _ "Sword Dancer"
    race=tharis
    image="units/tharis-warriors/sworddancer.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=elusivefoot
    movement=6
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    cost=36
    {AMLA_DEFAULT}
    usage=fighter
    undead_variation=sworddancer
    description= _ "It is no secret that a chakram's main drawback as a melee weapon is its short length. Thus, when they are able to, experienced blade dancers always switch to shortswords to solve this issue. They do still carry chakrams for ranged combat, though, which they have become better at. They still use the same psychedelic substances before combat, so their fighting style with swords isn't all that different from when they used chakrams. Their enhanced reflexes allow them to easily dodge most of enemy attacks, while mercilessly slicing their enemies into pieces."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BERSERK}+{SPECIAL_NOTES_MARKSMAN}
    die_sound={SOUND_LIST:ELF_HIT}
	[resistance]
		blade=120
		pierce=120
		impact=120
	[/resistance]
    [attack]
        name=berserker frenzy
        description=_"swords"
        icon=attacks/dagger-tharis.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
        range=melee
        damage=5
        number=5
    [/attack]
    [attack]
        name=chakram-throw
        description=_"chakram"
        icon=attacks/chakram.png
        type=blade
        [specials]
            {WEAPON_SPECIAL_EOMA_SKILLED}
        [/specials]
        range=ranged
        damage=7
        number=2
    [/attack]
    [attack_anim]
        [filter_attack]
            name=berserker frenzy
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/tharis-warriors/sworddancer-attack1-[2~4,3,2,4].png:50"
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=chakram-throw
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            image="projectiles/chakram.png:200"
            image_diagonal="projectiles/chakram.png"
            offset=0.0~0.9
        [/missile_frame]
		{SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -50}
    [/attack_anim]
    [defend]
        hits=miss
        start_time=-126
        [frame]
            image="units/tharis-warriors/sworddance[r,r-attack1-2,r-attack1-3,r-attack1-4,r-attack1-2,r].png:[1,50,75*2,50,1]"
            offset=0.0:1,0.0~-0.2:50,-0.2~-0.4:75,-0.4~-0.2:75,-0.2~0.0:50,0.0:1
        [/frame]
    [/defend]
    [defend]
        hits=hit
        start_time=-126
        [frame]
            image="units/tharis-warriors/sworddancer-attack1-[3,2,3,4,2,3].png:[1,50,75*2,50,1]"
            offset=0.0:1,0.0~-0.1:50,-0.1~-0.2:75,-0.2~-0.2:75,-0.1~0.0:50,0.0:1
        [/frame]
    [/defend]
[/unit_type]
