#textdomain wesnoth-Era_of_Magic
[unit_type]
    [base_unit]
        id=EoMa_Bone_Beast
    [/base_unit]
    id=EoMa_Bone_Beast_rpg
    advances_to=EoMa_Bone_Golem_rpg
    [abilities]
    [/abilities]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_COLLECTOR_RPG}
        [/specials]
    [/attack]
    [attack]
        [specials]
            {WEAPON_SPECIAL_EOMA_COLLECTOR_RPG}
        [/specials]
    [/attack]
[/unit_type]
