#id list for era:

#-------------------------------------------------------------------------------
#Al-Kamija ids:

#define EOMA_AL-KAMIJA_DEFAULT_RECRUITS
EoMa_Novice_Summoner,EoMa_Dimensional_Gate,EoMa_Jinn,EoMa_Rhami,EoMa_Fire_Elemental,EoMa_Water_Elemental,EoMa_Camel_Rider,EoMa_Carpet_Rider#enddef
#define EOMA_AL-KAMIJA_DEFAULT_LEADERS
    leader=EoMa_Summoner,EoMa_Dispeller,EoMa_Great_Jinn,EoMa_Efreet,EoMa_RhamiDatu,EoMa_RhamiKai
    random_leader=EoMa_Summoner,EoMa_Dispeller,EoMa_Great_Jinn,EoMa_Efreet,EoMa_RhamiDatu,EoMa_RhamiKai#enddef
    
#define EOMA_AL-KAMIJA_AOH_RECRUITS
EoMa_Dispeller,EoMa_Dimensional_Gate_II,EoMa_Summoner,EoMa_Great_Jinn,EoMa_Efreet,EoMa_Fire_Avatar,EoMa_Water_Avatar,EoMa_Carpet_Master,EoMa_Heavy_Camel_Rider,EoMa_RhamiDatu,EoMa_RhamiKai,EoMa_Earth_Elemental,EoMa_Air_Elemental#enddef
#define EOMA_AL-KAMIJA_AOH_LEADERS
    leader=TLU_Grand_Summoner,EoMa_Heavy_Summoner,EoMa_Neutral_Summoner,EoMa_Banisher,EoMa_Wonderful_Jinn,EoMa_Great_Efreeti,EoMa_HoRhami,EoMa_DharmaRhami
    random_leader=TLU_Grand_Summoner,EoMa_Heavy_Summoner,EoMa_Neutral_Summoner,EoMa_Banisher,EoMa_Wonderful_Jinn,EoMa_Great_Efreeti,EoMa_HoRhami,EoMa_DharmaRhami
#enddef

#define EOMA_AL-KAMIJA_RPG_LEADERS
    leader=EoMa_Novice_Summoner,EoMa_Camel_Rider,EoMa_Carpet_Rider,EoMa_Dimensional_Gate,EoMa_Jinn,EoMa_Rhami,EoMa_Fire_Elemental,EoMa_Earth_Elemental,EoMa_Water_Elemental,EoMa_Air_Elemental
    random_leader=EoMa_Novice_Summoner,EoMa_Camel_Rider,EoMa_Carpet_Rider,EoMa_Jinn,EoMa_Rhami,EoMa_Fire_Elemental,EoMa_Earth_Elemental,EoMa_Water_Elemental,EoMa_Air_Elemental#enddef

#define EOMA_AL-KAMIJA_MS_RECRUITS
TLU_Grand_Summoner,EoMa_Heavy_Summoner,EoMa_Neutral_Summoner,EoMa_Banisher,EoMa_Camel_Master,EoMa_Wonderful_Jinn,EoMa_Great_Efreeti,EoMa_HoRhami,EoMa_DharmaRhami,EoMa_Fire_God,EoMa_Water_God,EoMa_Air_Avatar,EoMa_Earth_Avatar,EoMa_Carpet_Rider#enddef

#define EOMA_AL-KAMIJA_MS_LEADERS
    leader=EoMa_Summons_Master,EoMa_Mystical_Jinn,EoMa_Heavy_Summoner,EoMa_Neutral_Summoner,EoMa_Banisher,EoMa_Great_Efreeti,EoMa_HoRhami,EoMa_DharmaRhami
    random_leader=EoMa_Summons_Master,EoMa_Mystical_Jinn
#enddef

#-------------------------------------------------------------------------------
#Barbarian ids:

#define EOMA_BARBARIAN_DEFAULT_RECRUITS
EoMa_Cyclops,EoMa_Orcish_Warrior,EoMa_Goblin_Runt,EoMa_Goblin_Kamikaze,EoMa_Goblin_Warbanner,EoMa_Goblin_Archer,EoMa_Roc_Rider,EoMa_Troll_Sorcerer,EoMa_Barbarian_Berserker,EoMa_Goblin_Shaman#enddef
#define EOMA_BARBARIAN_DEFAULT_LEADERS
    leader=EoMa_Orcish_Warbanner,EoMa_Troll_Warbanner,EoMa_Goblin_Warbanner,EoMa_Barbarian,EoMa_Blood_Warrior,EoMa_Fire_Cyclops,EoMa_Mighty_Cyclops,EoMa_Cyclops_Breaker,EoMa_Troll_Fire_Wizard,EoMa_Goblin_Sniper,EoMa_Goblin_Veteran,EoMa_Goblin_Druid
    random_leader=EoMa_Orcish_Warbanner,EoMa_Troll_Warbanner,EoMa_Goblin_Warbanner,EoMa_Barbarian,EoMa_Blood_Warrior,EoMa_Fire_Cyclops,EoMa_Mighty_Cyclops,EoMa_Cyclops_Breaker,EoMa_Troll_Fire_Wizard,EoMa_Goblin_Sniper,EoMa_Goblin_Veteran,EoMa_Goblin_Druid
#enddef

#define EOMA_BARBARIAN_AOH_RECRUITS
EoMa_Blood_Warrior,EoMa_Troll_Warbanner,EoMa_Barbarian,EoMa_Fire_Cyclops,EoMa_Mighty_Cyclops,EoMa_Goblin_Warrior,EoMa_Goblin_Sniper,EoMa_Goblin_Hunter,EoMa_Troll_Fire_Wizard,EoMa_Orcish_Warbanner,EoMa_Cyclops_Breaker,EoMa_Roc_Master,EoMa_Goblin_Druid#enddef
#define EOMA_BARBARIAN_AOH_LEADERS
    leader=EoMa_Barbarian_Lord,EoMa_Ancient_Cyclops,EoMa_Raging_Cyclops,EoMa_Troll_Warlock,EoMa_Troll_Warbanner,EoMa_Goblin_Raider,EoMa_Goblin_Druid
    random_leader=EoMa_Barbarian_Lord,EoMa_Ancient_Cyclops,EoMa_Raging_Cyclops,EoMa_Troll_Warlock,EoMa_Goblin_Raider
#enddef

#define EOMA_BARBARIAN_RPG_LEADERS
    leader=EoMa_Cyclops,EoMa_Orcish_Warrior,EoMa_Goblin_Archer,EoMa_Goblin_Warrior,EoMa_Goblin_Hunter,EoMa_Roc_Rider,EoMa_Troll_Sorcerer,EoMa_Goblin_Shaman
    random_leader=EoMa_Cyclops,EoMa_Orcish_Warrior,EoMa_Goblin_Archer,EoMa_Goblin_Warrior,EoMa_Goblin_Hunter,EoMa_Roc_Rider,EoMa_Troll_Sorcerer,EoMa_Goblin_Shaman
#enddef

#define EOMA_BARBARIAN_MS_RECRUITS
EoMa_Barbarian_Lord,EoMa_Ancient_Cyclops,EoMa_Raging_Cyclops,EoMa_Troll_Warlock,EoMa_Goblin_Raider,EoMa_Goblin_Veteran,EoMa_Goblin_Assassin,EoMa_Goblin_Warbanner,EoMa_Roc_Rider#enddef
#define EOMA_BARBARIAN_MS_LEADERS
    leader=EoMa_Barbarian_King,EoMa_Cyclops_Goliath,EoMa_Ancient_Cyclops,EoMa_Troll_Warlock,EoMa_Goblin_Raider
    random_leader=EoMa_Barbarian_King,EoMa_Cyclops_Goliath
#enddef

#-------------------------------------------------------------------------------
#Darkblood Alliance ids:

#define EOMA_DARKBLOOD_DEFAULT_RECRUITS
EoMa_Toad,EoMa_Saurian_Pikeman,EoMa_Shamanistic_Adept,EoMa_Saurian_Shooter,EoMa_Wyvern,EoMa_Wyvern_Rider,EoMa_Salamander#enddef
#define EOMA_DARKBLOOD_DEFAULT_LEADERS
    leader=EoMa_Clan_Leader,EoMa_Corrupted_Shaman,EoMa_Shamanistic_Toad,EoMa_Ranged_Toad,EoMa_Heavy_Toad,EoMa_Jungle_Guardian,EoMa_Saurian_Crossbowman
    random_leader=EoMa_Clan_Leader,EoMa_Corrupted_Shaman,EoMa_Shamanistic_Toad,EoMa_Ranged_Toad,EoMa_Heavy_Toad,EoMa_Jungle_Guardian,EoMa_Saurian_Crossbowman
#enddef

#define EOMA_DARKBLOOD_AOH_RECRUITS
EoMa_Heavy_Toad,EoMa_Ranged_Toad,EoMa_Shamanistic_Toad,EoMa_Jungle_Guardian,EoMa_Clan_Leader,EoMa_Corrupted_Shaman,EoMa_Saurian_Crossbowman,EoMa_Great_Wyvern,EoMa_Wyvern_Tamer,EoMa_Black_Salamander,EoMa_Blue_Salamander,EoMa_Green_Salamander,EoMa_Yellow_Salamander,EoMa_Red_Salamander#enddef
#define EOMA_DARKBLOOD_AOH_LEADERS
    leader=EoMa_Mystic,EoMa_Swamp_Mage,EoMa_Mystical_Toad,EoMa_Double_Ranged_Toad,EoMa_Dreadnaught,EoMa_Saurian_Champion,EoMa_Saurian_Assassin
    random_leader=EoMa_Mystic,EoMa_Swamp_Mage,EoMa_Mystical_Toad,EoMa_Double_Ranged_Toad,EoMa_Dreadnaught,EoMa_Saurian_Champion,EoMa_Saurian_Assassin
#enddef

#define EOMA_DARKBLOOD_RPG_LEADERS
    leader=EoMa_Shamanistic_Adept,EoMa_Saurian_Pikeman,EoMa_Saurian_Shooter,EoMa_Salamander,EoMa_Toad,EoMa_Wyvern,EoMa_Wyvern_Rider
    random_leader=EoMa_Shamanistic_Adept,EoMa_Saurian_Pikeman,EoMa_Saurian_Shooter,EoMa_Salamander,EoMa_Toad,EoMa_Wyvern,EoMa_Wyvern_Rider
#enddef

#define EOMA_DARKBLOOD_MS_RECRUITS
EoMa_Mystic,EoMa_Swamp_Mage,EoMa_Mystical_Toad,EoMa_Double_Ranged_Toad,EoMa_Dreadnaught,EoMa_Saurian_Champion,EoMa_Saurian_Assassin,EoMa_Chaos_Rider,EoMa_Chaos_Wyvern#enddef
#define EOMA_DARKBLOOD_MS_LEADERS
    leader=EoMa_Chosen_of_Forest,EoMa_Chosen_of_Marsh,EoMa_Mystical_Toad,EoMa_Double_Ranged_Toad,EoMa_Dreadnaught,EoMa_Saurian_Champion,EoMa_Saurian_Assassin
    random_leader=EoMa_Chosen_of_Forest,EoMa_Chosen_of_Marsh
#enddef

#-------------------------------------------------------------------------------
#Destroyer ids:

#define EOMA_DESTROYERS_DEFAULT_RECRUITS
EoMa_Pirafly,EoMa_Atokpi,EoMa_Nightmare,EoMa_Beast,EoMa_Omen,EoMa_Cyclops_Skeleton,EoMa_Dark_Portal#enddef
#define EOMA_DESTROYERS_DEFAULT_LEADERS
    leader=EoMa_Punisher,EoMa_Legendary_Cyclops,EoMa_Atokpi_Samurai,EoMa_Mara,EoMa_Bone_Golem
    random_leader=EoMa_Atokpi_Samurai,EoMa_Mara,EoMa_Bone_Golem,EoMa_Punisher,EoMa_Legendary_Cyclops
#enddef

#define EOMA_DESTROYERS_AOH_RECRUITS
EoMa_Pirania_Monstruosa,EoMa_Atokpi_Samurai,EoMa_Mara,EoMa_Bone_Golem,EoMa_Punisher,EoMa_Legendary_Cyclops,EoMa_Infernal_Vortex#enddef
#define EOMA_DESTROYERS_AOH_LEADERS
    leader=EoMa_Obliterator,EoMa_Atokpi_General,EoMa_Apocalypse,EoMa_Bone_Giant,EoMa_Extinct_Cyclops_Mage
    random_leader=EoMa_Obliterator,EoMa_Atokpi_General,EoMa_Apocalypse,EoMa_Bone_Giant,EoMa_Extinct_Cyclops_Mage
#enddef

#define EOMA_DESTROYERS_RPG_LEADERS
    leader=EoMa_Atokpi,EoMa_Nightmare,EoMa_Beast,EoMa_Omen,EoMa_Cyclops_Skeleton,EoMa_Pirafly
    random_leader=EoMa_Atokpi,EoMa_Nightmare,EoMa_Beast,EoMa_Omen,EoMa_Cyclops_Skeleton
#enddef

#define EOMA_DESTROYERS_MS_RECRUITS
EoMa_Obliterator,EoMa_Atokpi_General,EoMa_Apocalypse,EoMa_Bone_Giant,EoMa_Extinct_Cyclops_Mage,EoMa_Devourer,EoMa_Dark_Portal#enddef
#define EOMA_DESTROYERS_MS_LEADERS
    leader=EoMa_Abaddon,EoMa_Atokpi_Master,EoMa_DarkApostle,EoMa_Moloch,EoMa_Fallen_Cyclops_King
    random_leader=EoMa_Abaddon,EoMa_Atokpi_Master,EoMa_DarkApostle,EoMa_Moloch,EoMa_Fallen_Cyclops_King
#enddef

#-------------------------------------------------------------------------------
#Kharos ids:

#define EOMA_KHAROS_DEFAULT_RECRUITS
EoMa_White_Warrior,EoMa_Adept_of_Light,EoMa_Shielder,EoMa_Slicer,EoMa_Cavalry_Archer,EoMa_Sun_Follower,EoMa_Kharos_Warbanner,EoMa_Sister_of_Light#enddef
#define EOMA_KHAROS_DEFAULT_LEADERS
    leader=EoMa_Kharos_Warbanner,EoMa_Cleric,EoMa_Inspired,EoMa_Child_of_Light,EoMa_Sun_Follower,EoMa_Brown_Warrior,EoMa_Avenger,EoMa_Protector
    random_leader=EoMa_Kharos_Warbanner,EoMa_Cleric,EoMa_Inspired,EoMa_Child_of_Light,EoMa_Sun_Follower,EoMa_Brown_Warrior,EoMa_Avenger,EoMa_Protector
#enddef

#define EOMA_KHAROS_AOH_RECRUITS
EoMa_Cleric,EoMa_Silver_Warrior,EoMa_Brown_Warrior,EoMa_Protector,EoMa_Avenger,EoMa_Elemental_Archer,EoMa_Sun_Guardian,EoMa_Kharos_Massive_Warbanner,EoMa_Child_of_Light,EoMa_Inspired,EoMa_Fanatic,EoMa_Fire_Swordsman,EoMa_Heavy_Cavalry_Archer#enddef
#define EOMA_KHAROS_AOH_LEADERS
    leader=EoMa_Prophet_of_Light,EoMa_Mistress_of_Light,EoMa_Kharos_Massive_Warbanner,EoMa_Sun_Guardian,EoMa_Platinum_Warrior
    random_leader=EoMa_Prophet_of_Light,EoMa_Mistress_of_Light,EoMa_Kharos_Massive_Warbanner,EoMa_Sun_Guardian,EoMa_Platinum_Warrior
#enddef

#define EOMA_KHAROS_RPG_LEADERS
    leader=EoMa_White_Warrior,EoMa_Adept_of_Light,EoMa_Sister_of_Light,EoMa_Shielder,EoMa_Cavalry_Archer,EoMa_Sister_of_Light,EoMa_Slicer
    random_leader=EoMa_White_Warrior,EoMa_Adept_of_Light,EoMa_Sister_of_Light,EoMa_Shielder,EoMa_Cavalry_Archer,EoMa_Sister_of_Light
#enddef

#define EOMA_KHAROS_MS_RECRUITS
EoMa_Prophet_of_Light,EoMa_Mistress_of_Light,EoMa_Kharos_Massive_Warbanner,EoMa_Platinum_Warrior,EoMa_Golden_Warrior,EoMa_Mystical_Archer,EoMa_Kirios,EoMa_Sun_Follower,EoMa_Kharos_Warbanner#enddef
#define EOMA_KHAROS_MS_LEADERS
    leader=EoMa_Kirios,EoMa_Master_of_Sun,EoMa_Prophet_of_Light,EoMa_Mistress_of_Light,EoMa_Kharos_Massive_Warbanner,EoMa_Platinum_Warrior
    random_leader=EoMa_Kirios,EoMa_Master_of_Sun
#enddef


#-------------------------------------------------------------------------------
#Runemaster ids:

#define EOMA_RUNEMASTERS_DEFAULT_RECRUITS
EoMa_Striding_Machine,EoMa_Steam_Ulfserker,EoMa_Dwarvish_Warrior,EoMa_Mechanic,EoMa_Runeadept,EoMa_Balloon,EoMa_Drone,EoMa_Dwarvish_Arctic_Scout#enddef
#define EOMA_RUNEMASTERS_DEFAULT_LEADERS
    leader=EoMa_Runesmith,EoMa_Dwarvish_Heavy_Warrior,EoMa_Dwarvish_Tank,EoMa_Technician,EoMa_Dwarvish_Arctic_Commando
    random_leader=EoMa_Runesmith,EoMa_Dwarvish_Heavy_Warrior,EoMa_Dwarvish_Tank,EoMa_Technician,EoMa_Dwarvish_Arctic_Commando
#enddef

#define EOMA_RUNEMASTERS_AOH_RECRUITS
EoMa_Heavy_Balloon,EoMa_Runesmith,EoMa_Dwarvish_Heavy_Warrior,EoMa_Technician,EoMa_Dwarvish_Tank,EoMa_Steamcopter,EoMa_Steam_Berserker,EoMa_Red_Ulfserker,EoMa_Drone,EoMa_Dwarvish_Arctic_Commando#enddef
#define EOMA_RUNEMASTERS_AOH_LEADERS
    leader=EoMa_Rune_Artist,EoMa_Dwarvish_Rune_Warrior,EoMa_Pacificator,EoMa_Constructor,EoMa_Dwarvish_Arctic_Commando
    random_leader=EoMa_Rune_Artist,EoMa_Dwarvish_Rune_Warrior,EoMa_Pacificator,EoMa_Constructor
#enddef

#define EOMA_RUNEMASTERS_RPG_LEADERS
    leader=EoMa_Striding_Machine,EoMa_Steam_Ulfserker,EoMa_Dwarvish_Warrior,EoMa_Runeadept,EoMa_Mechanic,EoMa_Balloon,EoMa_Dwarvish_Arctic_Scout
    random_leader=EoMa_Striding_Machine,EoMa_Steam_Ulfserker,EoMa_Dwarvish_Warrior,EoMa_Runeadept,EoMa_Mechanic,EoMa_Dwarvish_Arctic_Scout
#enddef

#define EOMA_RUNEMASTERS_MS_RECRUITS
EoMa_Flying_Fortress,EoMa_Mechanical_Dragon,EoMa_Rune_Artist,EoMa_Dwarvish_Rune_Warrior,EoMa_Constructor,EoMa_Pacificator,EoMa_Steam_Turboserker,EoMa_Perfect_Drone,EoMa_Dwarvish_Arctic_Scout#enddef
#define EOMA_RUNEMASTERS_MS_LEADERS
    leader=EoMa_Runemaster,EoMa_Dwarvish_Rune_Lord,EoMa_Pacificator,EoMa_Constructor
    random_leader=EoMa_Runemaster,EoMa_Dwarvish_Rune_Lord
#enddef

#-------------------------------------------------------------------------------
#Sky Kingdom ids:

#define EOMA_SKYKINGDOM_DEFAULT_RECRUITS
EoMa_Battlemage,EoMa_Subversive_Mage,EoMa_Elementalist,EoMa_Golem,EoMa_Mu,EoMa_Hidden_Face,EoMa_Magical_Eye#enddef
#define EOMA_SKYKINGDOM_DEFAULT_LEADERS
    leader=EoMa_Sorcerer,EoMa_War_Mage,EoMa_Mage_of_Fire,EoMa_Mage_of_Water,EoMa_Black_Mage,EoMa_Sculptor,EoMa_Mystic_Warrior
    random_leader=EoMa_War_Mage,EoMa_Sorcerer,EoMa_Mage_of_Fire,EoMa_Mage_of_Water,EoMa_Black_Mage,EoMa_Sculptor
#enddef

#define EOMA_SKYKINGDOM_AOH_RECRUITS
EoMa_War_Mage,EoMa_Sorcerer,EoMa_Mage_of_Fire,EoMa_Mage_of_Air,EoMa_Mage_of_Water,EoMa_Black_Mage,EoMa_Mystic_Warrior,EoMa_Golem_Boss,EoMa_Battle_Eye,EoMa_Sculptor#enddef
#define EOMA_SKYKINGDOM_AOH_LEADERS
    leader=EoMa_Mastermage,EoMa_Golden_Mage,EoMa_Master_of_Fire,EoMa_Master_of_Water,EoMa_Master_of_Air,EoMa_Void_Mage,EoMa_Sky_Guardian
    random_leader=EoMa_Mastermage,EoMa_Golden_Mage,EoMa_Master_of_Fire,EoMa_Master_of_Water,EoMa_Master_of_Air,EoMa_Void_Mage
#enddef

#define EOMA_SKYKINGDOM_RPG_LEADERS
    leader=EoMa_Battlemage,EoMa_Subversive_Mage,EoMa_Elementalist,EoMa_Golem,EoMa_Battle_Eye,EoMa_Mu,EoMa_Hidden_Face
    random_leader=EoMa_Battlemage,EoMa_Subversive_Mage,EoMa_Elementalist,EoMa_Golem,EoMa_Battle_Eye,EoMa_Hidden_Face
#enddef

#define EOMA_SKYKINGDOM_MS_RECRUITS
EoMa_Mastermage,EoMa_Golden_Mage,EoMa_Master_of_Fire,EoMa_Master_of_Water,EoMa_Master_of_Air,EoMa_Void_Mage,EoMa_Shadowmage,EoMa_Sky_Guardian,EoMa_Cosmic_Eye,EoMa_Um,EoMa_Mu#enddef
#define EOMA_SKYKINGDOM_MS_LEADERS
    leader=EoMa_Guru,EoMa_Master_of_Elements,EoMa_Golden_Mage,EoMa_Master_of_Fire,EoMa_Master_of_Water,EoMa_Master_of_Air,EoMa_Void_Mage,EoMa_Sky_Guardian
    random_leader=EoMa_Guru,EoMa_Master_of_Elements
#enddef

#-------------------------------------------------------------------------------
#Tharis ids:

#define EOMA_THARIS_DEFAULT_RECRUITS
EoMa_Disciple,EoMa_Witch,EoMa_Dark_Warrior,EoMa_Hydra,EoMa_Dark_Hunter,EoMa_Black_Orb,EoMa_Bladedancer#enddef
#define EOMA_THARIS_DEFAULT_LEADERS
    leader=EoMa_Dark_Wizard,EoMa_Great_Witch,EoMa_Commander,EoMa_Dark_Slayer,EoMa_Great_Hunter,EoMa_Dark_Assassin
    random_leader=EoMa_Dark_Wizard,EoMa_Great_Witch,EoMa_Commander,EoMa_Dark_Slayer,EoMa_Great_Hunter,EoMa_Dark_Assassin
#enddef

#define EOMA_THARIS_AOH_RECRUITS
EoMa_Dark_Wizard,EoMa_Great_Witch,EoMa_Commander,EoMa_Dark_Observer,EoMa_Dark_Slayer,EoMa_Raging_Hydra,EoMa_Great_Hunter,EoMa_Dark_Assassin,EoMa_Sworddancer#enddef
#define EOMA_THARIS_AOH_LEADERS
    leader=EoMa_Great_Warlock,EoMa_Matriarch_of_Darkness,EoMa_Cold_Matriarch,EoMa_Matriarch_of_Emptiness,EoMa_General,EoMa_Blademaster,EoMa_Dark_Executioner,EoMa_Shadowblade
    random_leader=EoMa_Great_Warlock,EoMa_Matriarch_of_Darkness,EoMa_Cold_Matriarch,EoMa_Matriarch_of_Emptiness,EoMa_General,EoMa_Blademaster,EoMa_Dark_Executioner,EoMa_Shadowblade
#enddef

#define EOMA_THARIS_RPG_LEADERS
    leader=EoMa_Disciple,EoMa_Witch,EoMa_Dark_Warrior,EoMa_Hydra,EoMa_Dark_Hunter,EoMa_Dark_Observer
    random_leader=EoMa_Disciple,EoMa_Witch,EoMa_Dark_Warrior,EoMa_Hydra,EoMa_Dark_Hunter,EoMa_Dark_Observer
#enddef

#define EOMA_THARIS_MS_RECRUITS
EoMa_Great_Warlock,EoMa_Matriarch_of_Darkness,EoMa_Cold_Matriarch,EoMa_Matriarch_of_Emptiness,EoMa_General,EoMa_Blademaster,EoMa_Dark_Executioner,EoMa_Shadowblade,EoMa_Chaos_Hydra,EoMa_Storm_Sphere#enddef
#define EOMA_THARIS_MS_LEADERS
    leader=EoMa_Master_of_Darkness,EoMa_Master_of_War,EoMa_Matriarch_of_Darkness,EoMa_Cold_Matriarch,EoMa_Matriarch_of_Emptiness,EoMa_Blademaster,EoMa_Dark_Executioner,EoMa_Shadowblade
    random_leader=EoMa_Master_of_Darkness,EoMa_Master_of_War
#enddef

#-------------------------------------------------------------------------------
 
