#textdomain wesnoth-Era_of_Magic

[race]
    id=eoma_tharis
    name= _ "race^Tharis"
    female_name= _ "race+female^Tharis"
    plural_name= _ "race+plural^Tharis"
    description={EOMA_FACTION_DESCR_THARIS}
    num_traits=2
    markov_chain_size=2
    {ELVISH_NAMES}
[/race]

[race]
    id=eoma_cyclops
    name= _ "race^Cyclops"
    female_name= _ "race+female^Cyclops"
    plural_name= _ "race^Cyclopes"
    description=_"Cumbersome and lacking fine intellect, the Cyclops race had been driven near to extinction before becoming a part of the barbarian horde. Two centuries later and these lumbering beasts have flourished, growing in both strength and number. Some say that it was a strange magic which bound the cyclopes to their new allegiance and is perhaps a reason for their increased power. One thing about these beasts is a certainty: when facing one in combat it is best not to get hit."
    num_traits=2
    markov_chain_size=2
    ignore_global_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    {TRAIT_HEALTHY}
    {OGRE_NAMES}
[/race]

[race]
    id=eoma_roc
    name= _ "race^Roc"
    female_name= _ "race+female^Roc"
    plural_name= _ "race^Rocs"
    description=_"The Rocs of Thornspire Mountain had long grown fat off the flesh of the goblins who lived below. It took one particularly mad and foolhardy goblin to change the fate of his people when he set out to tame the beasts. After several narrow escapes the goblin managed to steal an egg from the great birds and rose it under his care. Less than three months later when the Rocs attacked they were surprised to hear a piercing cry from above and even more surprised when they were ripped to shreds by one of their own. To this day the goblins ride tamed Rocs into battle, their battle cries the only warning of impending doom."
    num_traits=2
    markov_chain_size=2
    {ORCISH_NAMES}
[/race]

[race]
    id=eoma_magical
    name= _ "race^Magical"
    female_name= _ "race+female^Magical"
    plural_name= _ "race+plural^Magical"
    description= _ "Magical beings, often called abysmals, are entities made up mostly of pure energy. They inhabit a different dimension called the Abyss - a place full of primitive chaos, both creative and destructive in nature, where concepts like space and time can be rather difficult to apply. Initially, their bodies are shapeless clumps of energy due to the Abyss's nature, but once summoned to the mortal world, they change their form to either become living manifestations of elements, or become humanoid in appearance. The latter are technically not-living, and thus do not age, are not susceptible to any ailment, and damage to their bodies heals quite quickly."
    num_traits=1
    undead_variation=null
    ignore_global_traits=yes
    {TRAIT_MAGICAL}
[/race]

[race]
    id=eoma_salamander
    name= _ "race^Salamander"
    female_name= _ "race+female^Salamander"
    plural_name=_ "race^Salamanders"
    description=_"The salamanders are a versatile and formidable race, skilled in both land and aquatic combat. They possess a range of abilities and weapons, including wrist blades, tridents, chakrams, nets, and maces. Their adaptive skin color and knowledge of the swamps allow them to easily ambush their enemies, while their ability to blend in with vegetation or change their skin color to match their environment gives them an added advantage in stealth and deception. Some salamanders specialize in aquatic ambushes, using their powerful jaws and webbed feet to strike from the depths of the water. Others are masters of desert combat, trained to fight in the scorching heat of the sun and armed with wrist blades and throwing knives dipped in poison. A select few are even rumored to have the power to control fire, making them feared and respected allies in battle. Regardless of their individual strengths and weaknesses, all salamanders share a deep connection to their natural environments and the ancient magic that flows through them."
    num_traits=2
    markov_chain_size=2
    {NAGA_NAMES}
    num_traits=1
    ignore_global_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
[/race]

[race]
    id=eoma_summoner
    male_name={STR_HUMAN}
    female_name={STR_HUMAN_FEMALE}
    plural_name={STR_HUMANS}
    description= "" # wmllint: ignore
    num_traits=2
    male_names= _ "Alib,Kalib,Balib,Safay,Jaffar,Semir,Celal,Fatih,Ferhan,Mustafa,Mehmet,Melih,Ali,Adem,Ahmet,Altan,Ismet,Ibrahim,Hakan,Kemal,Kenan,Rafet,Tahir,Yasar,Yasin,Yusuf,Ahmed,Najib,Samir,Hassan,Hisham,Karim,Saif,Rahul,Rohan,Rohit,Nikhil,Shahrukh,Krishi"
    female_names= _ "Aida,Aisha,Aliya,Amina,Aasma,Adara,Afra,Alima,Amira,Aziza,Badia,Dariya,Dimah,Farah,Naniya,Heena,Hidaya,Inaya,Jahara,Jamila,Jazmin,Karima,Khadija,Layla,Naia,Nailah,Naima,Nashita,Qadira,Rayah,Rima,Sabah,Shaheen,Takisha,Thana,Veeda,Yasmin,Ziya,Zaida"
    description={EOMA_FACTION_DESCR_SUMMONERS}
[/race]

[movetype]
    name=eoma_smallfoot
    [movement_costs]
        shallow_water=3
        reef=2
        swamp_water=3
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        fungus=2
    [/movement_costs]

    [defense]
        shallow_water=80
        reef=70
        swamp_water=80
        flat=60
        sand=70
        forest=50
        hills=50
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=80
        fungus=50
    [/defense]

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=eoma_armoredfoot
    [movement_costs]
        shallow_water=4
        reef=3
        swamp_water=4
        flat=1
        sand=2
        forest=2
        hills=3
        village=1
        castle=1
        cave=2
        frozen=4
        fungus=2
    [/movement_costs]

    [defense]
        shallow_water=90
        reef=80
        swamp_water=90
        flat=70
        sand=80
        forest=60
        hills=60
        village=60
        castle=50
        cave=60
        frozen=80
        fungus=60
    [/defense]

    [resistance]
        blade=50
        pierce=60
        impact=90
        fire=110
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=eoma_elusivefoot
    [movement_costs]
        shallow_water=2
        reef=2
        swamp_water=2
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=2
        fungus=2
    [/movement_costs]

    [defense]
        shallow_water=60
        reef=50
        swamp_water=60
        flat=40
        sand=60
        forest=30
        hills=30
        mountains=30
        village=30
        castle=30
        cave=50
        frozen=60
        fungus=30
    [/defense]

    [resistance]
        blade=130
        pierce=120
        impact=120
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=eoma_tharisfoot
    [movement_costs]
        reef=2
        shallow_water=2
        swamp_water=2
        flat=1
        sand=2
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=2
        fungus=1
    [/movement_costs]
    [defense]
        reef=70
        shallow_water=80
        swamp_water=80
        flat=60
        sand=70
        forest=50
        hills=40
        mountains=40
        village=50
        castle=40
        cave=50
        frozen=80
        fungus=40
    [/defense]
    [resistance]
        blade=90
        pierce=90
        impact=80
        fire=100
        cold=80
        arcane=100
    [/resistance]
[/movetype]

[movetype]
    name=eoma_thariselusive
    [movement_costs]
        reef=2
        shallow_water=2
        swamp_water=2
        flat=1
        sand=2
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=2
        fungus=1
    [/movement_costs]
    [defense]
        reef=60
        shallow_water=60
        swamp_water=60
        flat=40
        sand=60
        forest=30
        hills=30
        mountains=30
        village=30
        castle=30
        cave=40
        frozen=60
        fungus=30
    [/defense]
    [resistance]
        blade=120
        pierce=120
        impact=90
        fire=110
        cold=70
        arcane=100
    [/resistance]
[/movetype]

[movetype]
    name=eoma_lizard
    flies=no
    [movement_costs]
        shallow_water=3
        reef=2
        swamp_water=1
        flat=1
        sand=1
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=4
        fungus=1
    [/movement_costs]

    [defense]
        shallow_water=60
        reef=60
        swamp_water=40
        flat=60
        sand=40
        forest=40
        hills=40
        mountains=40
        village=50
        castle=40
        cave=40
        frozen=70
        fungus=40
    [/defense]

    [resistance]
        blade=110
        pierce=80
        impact=110
        fire=120
        cold=120
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=eoma_frog
    [movement_costs]
        shallow_water=1
        reef=1
        swamp_water=1
        flat=1
        sand=2
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=2
        fungus=2
    [/movement_costs]
    [defense]
        shallow_water=70
        reef=70
        swamp_water=60
        flat=70
        sand=70
        forest=60
        hills=60
        mountains=60
        village=60
        castle=60
        cave=70
        frozen=70
        fungus=60
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=110
        cold=90
        arcane=110
    [/resistance]
[/movetype]

[movetype]
    name=eoma_subversivemage
    [movement_costs]
        shallow_water=3
        reef=2
        swamp_water=3
        flat=1
        sand=2
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=2
        frozen=3
        fungus=2
    [/movement_costs]

    [defense]
        shallow_water=70
        reef=60
        swamp_water=70
        flat=50
        sand=60
        forest=40
        hills=40
        mountains=30
        village=40
        castle=40
        cave=50
        frozen=70
        fungus=40
    [/defense]

    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=100
        arcane=80
    [/resistance]
[/movetype]

[movetype]
    name=eoma_hydra
    [movement_costs]
        deep_water=1
        shallow_water=1
        reef=1
        swamp_water=1
        flat=1
        sand=1
        forest=2
        hills=2
        mountains=3
        village=1
        castle=1
        cave=1
        frozen=2
        fungus=1
    [/movement_costs]
    [defense]
        deep_water=50
        shallow_water=50
        reef=40
        swamp_water=40
        flat=70
        sand=60
        forest=60
        hills=60
        mountains=60
        village=60
        castle=50
        cave=60
        frozen=80
        fungus=50
    [/defense]
    [resistance]
        blade=110
        pierce=90
        impact=90
        fire=110
        cold=90
        arcane=100
    [/resistance]
[/movetype]

[movetype]
    name=eoma_salamander
    [movement_costs]
        shallow_water=1
        reef=1
        swamp_water=1
        deep_water=3
        flat=1
        sand=2
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=3
        fungus=2
    [/movement_costs]

    [defense]
        shallow_water=60
        reef=60
        swamp_water=40
        deep_water=80
        flat=60
        sand=60
        forest=50
        hills=50
        mountains=40
        village=40
        castle=50
        cave=60
        frozen=70
        fungus=50
    [/defense]

    #based on lvl1 Salamander resistances

    [resistance]
        blade=100
        pierce=80
        impact=100
        fire=90
        cold=110
        arcane=90
    [/resistance]
[/movetype]
