#textdomain wesnoth-Era_of_Magic

[race]
    id=I8 tharis
    name= _ "race^Tharis"
    female_name= _ "race+female^Tharis"
    plural_name= _ "race+plural^Tharis"
    description={EOMA_FACTION_DESCR_THARIS}
    num_traits=2
    markov_chain_size=2
    {ELVISH_NAMES}
	[resistance]
		arcane=100
	[/resistance]
[/race]

[race]
    id=I8 cyclops
    name= _ "race^Cyclops"
    female_name= _ "race+female^Cyclops"
    plural_name= _ "race^Cyclopes"
    description=_"Cumbersome and lacking fine intellect, the Cyclops race had been driven near to extinction before becoming a part of the barbarian horde. Two centuries later and these lumbering beasts have flourished, growing in both strength and number. Some say that it was a strange magic which bound the cyclopes to their new allegiance and is perhaps a reason for their increased power. One thing about these beasts is a certainty: when facing one in combat it is best not to get hit."
    num_traits=2
    markov_chain_size=2
    ignore_global_traits=yes
	{TRAIT_QUICK}
	{TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    {TRAIT_HEALTHY}
    {OGRE_NAMES}
[/race]

[race]
    id=I8 roc
    name= _ "race^Roc"
    female_name= _ "race+female^Roc"
    plural_name= _ "race^Rocs"
    description=_"The Rocs of Thornspire Mountain had long grown fat off the flesh of the goblins who lived below. It took one particularly mad and foolhardy goblin to change the fate of his people when he set out to tame the beasts. After several narrow escapes the goblin managed to steal an egg from the great birds and rose it under his care. Less than three months later when the Rocs attacked they were surprised to hear a piercing cry from above and even more surprised when they were ripped to shreds by one of their own. To this day the goblins ride tamed Rocs into battle, their battle cries the only warning of impending doom."
    num_traits=2
    markov_chain_size=2
    {ORCISH_NAMES}
[/race]

[race]
    id=I8 magical
    name= _ "race^Magical"
    female_name= _ "race+female^Magical"
    plural_name= _ "race+plural^Magical"
    description= _ "Magical beings, often called abysmals, are entities made up mostly of pure energy. They inhabit a different dimension called the Abyss - a place full of primitive chaos, both creative and destructive in nature, where concepts like space and time can be rather difficult to apply. Initially, their bodies are shapeless clumps of energy due to the Abyss's nature, but once summoned to the mortal world, they change their form to either become living manifestations of elements, or become humanoid in appearance. The latter are technically not-living, and thus do not age, are not susceptible to any ailment, and damage to their bodies heals quite quickly."
    num_traits=1
    undead_variation=null
    ignore_global_traits=yes
    {TRAIT_MAGICAL}
[/race]

[race]
    id=I8 salamander
    name= _ "race^Salamander"
    female_name= _ "race+female^Salamander"
    plural_name=_ "race^Salamanders"
    description=_"Salamanders are among the many kinds of creatures living in the Jungle of Life. Their weapons of choice are wrist blades and their adaptive skin color combined with their knowledge of the swamps allows them to easily ambush their enemies."
    num_traits=2
    markov_chain_size=2
    {NAGA_NAMES}
    num_traits=1
    ignore_global_traits=yes
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
[/race]

[race]
    id=akhuman
    male_name={STR_HUMAN}
    female_name={STR_HUMAN_FEMALE}
    plural_name={STR_HUMANS}
    description= "" # wmllint: ignore
    num_traits=2
    male_names= _ "Alib,Kalib,Balib,Safay,Jaffar,Semir,Celal,Fatih,Ferhan,Mustafa,Mehmet,Melih,Ali,Adem,Ahmet,Altan,Ismet,Ibrahim,Hakan,Kemal,Kenan,Rafet,Tahir,Yasar,Yasin,Yusuf,Ahmed,Najib,Samir,Hassan,Hisham,Karim,Saif,Rahul,Rohan,Rohit,Nikhil,Shahrukh,Krishi"
    female_names= _ "Alib,Kalib,Balib,Safay,Jaffar,Semir,Celal,Fatih,Ferhan,Mustafa,Mehmet,Melih,Ali,Adem,Ahmet,Altan,Ismet,Ibrahim,Hakan,Kemal,Kenan,Rafet,Tahir,Yasar,Yasin,Yusuf,Ahmed,Najib,Samir,Hassan,Hisham,Karim,Saif,Rahul,Rohan,Rohit,Nikhil,Shahrukh,Krishi"
    description={EOMA_FACTION_DESCR_SUMMONERS}
[/race]

[movetype]
    name=I8 defoot
    [movement_costs]
        reef=2
        shallow_water=2
        swamp_water=2
        flat=1
        sand=2
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=2
        fungus=1
    [/movement_costs]
    [defense]
        reef=70
        shallow_water=80
        swamp_water=80
        flat=60
        sand=70
        forest=50
        hills=40
        mountains=40
        village=50
        castle=40
        cave=50
        frozen=80
        fungus=40
    [/defense]
    [resistance]
        blade=90
        pierce=90
        impact=80
        fire=100
        cold=80
        arcane=100
    [/resistance]
[/movetype]

[movetype]
    name=I8 deelusive
    [movement_costs]
        reef=2
        shallow_water=2
        swamp_water=2
        flat=1
        sand=2
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=2
        fungus=1
    [/movement_costs]
    [defense]
        reef=60
        shallow_water=60
        swamp_water=60
        flat=40
        sand=60
        forest=30
        hills=30
        mountains=30
        village=30
        castle=30
        cave=40
        frozen=60
        fungus=30
    [/defense]
    [resistance]
        blade=120
        pierce=120
        impact=90
        fire=110
        cold=70
        arcane=100
    [/resistance]
[/movetype]

[movetype]
    name=I8 desmall
    [movement_costs]
        reef=2
        shallow_water=2
        swamp_water=2
        flat=1
        sand=2
        forest=2
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=3
        fungus=1
    [/movement_costs]
    [defense]
        #deep_water=80
        reef=70
        shallow_water=80
        swamp_water=80
        flat=60
        sand=70
        forest=50
        hills=40
        mountains=40
        village=40
        castle=50
        cave=50
        frozen=80
        fungus=40
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=100
        cold=90
        arcane=90
    [/resistance]
[/movetype]

[movetype]
    name=I8 frog
    [movement_costs]
        shallow_water=1
        reef=2
        swamp_water=1
        flat=1
        sand=2
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=2
        frozen=2
        fungus=1
    [/movement_costs]
    [defense]
        shallow_water=70
        reef=70
        swamp_water=50
        flat=70
        sand=70
        forest=60
        hills=50
        mountains=50
        village=50
        castle=50
        cave=50
        frozen=60
        fungus=60
    [/defense]
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=110
        cold=90
        arcane=110
    [/resistance]
[/movetype]

[movetype]
	name=I8 subversivemage
	[movement_costs]
		shallow_water=3
		reef=2
		swamp_water=3
		flat=1
		sand=2
		forest=2
		hills=2
		mountains=3
		village=1
		castle=1
		cave=2
		frozen=3
		fungus=2
	[/movement_costs]

	[defense]
		shallow_water=70
		reef=60
		swamp_water=70
		flat=50
		sand=60
		forest=40
		hills=40
		mountains=30
		village=40
		castle=40
		cave=50
		frozen=70
		fungus=40
	[/defense]

	[resistance]
		blade=100
		pierce=100
		impact=100
		fire=100
		cold=100
		arcane=80
	[/resistance]
[/movetype]
